body{
	background-color:#eee;
}

.logo{
	background-repeat: no-repeat;
	margin: auto;
	height: 175px;
	width: 200px;
}

#main-top-message{
	color:#000;
}

#queue-paused{
	display:none;
}


.warning-box{
	display:none;
}

#first-in-line{
	display:none;
}

.hasCountdown {
	font-size:20px;
}

#MainPart_lbUsersInLineAheadOfYouText{
	display:none;
}

#MainPart_lbUsersInLineAheadOfYou
{
	display:none;
}

#headerparagraph {
    font-weight:normal !important;
}