

        .ABSALegal {
            font-family:Arial;
            font-size:x-small;
        }        
        .bodyTop {
            min-width: 450px;
            vertical-align: top;
            /*font-size:medium;*/
        }

        div.panel {
	    display: none;
        }

        div.panelCompleted {
	    display: none;
        }

        div.divQuotaReached {
	    display: none;
        }

        html,body,table,panel
        {
            height: 100%;
            width: 100%;
        }

        .TopLogo {
            align-items:flex-start;
            text-align:left;
        }
        #myDiv 
        {
           text-indent:7%;
        }
        #myDiv img
        {
            max-width:100%; 
            max-height:100%;
            margin:auto;
            /*display:block;*/
             text-align:left;
             
        }

        #divComplete img
        {
            max-width:100%; 
            max-height:100%;
            margin:auto;
            /*display:block;*/
            text-align:left;
            vertical-align:top;
        }

        #divCompleted img
        {
            max-width:100%; 
            max-height:100%;
            margin:auto;
            /*display:block;*/
            text-align:left;
            vertical-align:top;
        }
		
		#divNotComplete img
        {
            max-width:100%; 
            max-height:100%;
            margin:auto;
            /*display:block;*/
            text-align:left;
            vertical-align:top;
        }

        #divQuotaReached img
        {
            max-width:100%; 
            max-height:100%;
            margin:auto;
            /*display:block;*/
            text-align:left;
            vertical-align:top;
        }

        #divLeftMain {
            background-color: grey;
            float:left;
            height:100%;            
            margin-top:0px;
            margin-bottom:0px;
        }
                       
        #divRightMain {
            background-color: grey;
            float:right;
            height:100%; 
            margin-top:0px;
            margin-bottom:0px;
        }



    