.dropdown-switch {display: none}
.dropdown-switch+label  {display:none}

@media (max-width:767px) {
	.dropdown-switch+label  {
		/*display: inline-block!important;
		margin-left: -100px!important;
		margin-right: 58px!important;*/
		position:absolute;
		top: 10px;
		right:20px;
		z-index:2;
	}
	.parent ul .dropdown-switch+label  {
		/*display: inline-block!important;
		margin-left: -100px!important;
		margin-right: 58px!important;*/
		position:absolute;
		top:10px;
		right:20px;
		z-index:2;
	}

	.dropdown-switch+label+a { display: inline-block!important }

	.dropdown-switch+label  i.fa { cursor: pointer }

	.dropdown-switch+label  i.fa-chevron-up,
	.dropdown-switch:checked+label  i.fa-chevron-down { display: none }

	.dropdown-switch+label  i.fa-chevron-down,
	.dropdown-switch:checked+label  i.fa-chevron-up { display: block }

	.dropdown-menu { border: none!important }
	.dropdown-menu li { border: none!important }

	#topmenu .dropdown .dropdown-menu { display: none!important }
	#topmenu .dropdown {
		background: whitesmoke!important;
		display: block!important;
	}
	#topmenu .nav li a,
	#topmenu .nav li span { 
		background: whitesmoke!important;
		color: #666!important;
	}
	#topmenu .nav li a:hover,
	#topmenu .nav li span:hover { text-decoration:underline }
	#topmenu .dropdown ul li a,
	#topmenu .dropdown ul li span { 
		white-space:normal;
		width:100%!important;
		background:white!important
	}
	
	#topmenu .dropdown .dropdown-switch:checked+label+a+ul,
	#topmenu .dropdown .dropdown-switch:checked+label+span+ul,
	#topmenu .dropdown:hover .dropdown-switch:checked+label+a+ul,
	#topmenu .dropdown:hover .dropdown-switch:checked+label+span+ul /* fix for multiple !important modifiers */
	 {
		position: static!important;
		float: none!important;
		display: block!important;
		width:100%!important;
	}
}