/*

RESPONSIVE FRAMEWORK PPM FIXES

*/

/* 

    Created on : 05-May-2015, 15:31:33

    Updated on: 24-06-2015

    Author     : Chris Potter

*/



.searchBar label, .searchBarContainer ul.tabNav li {

    font-weight: normal;

    display: inline !important;

}



.searchBarContainer li a, .searchBarContainer li .nolink {

    padding: 8px 15px 7px;

    text-align: center;

    color:white;

}

.searchBarContainer li a {cursor:pointer;}

.searchBarContainer li .nolink {cursor:default;}



@media (max-width: 767px){

input[type=checkbox] + label {

/*    display: block !important;*/

    }

}



@media (max-width: 767px) {





input#email {width:100%}



.jobsByEmail span {width:100%;height:25px;text-align:center}



.jobspagination {text-align:center}





}



@media (min-width: 768px) and (max-width: 1024px) {



input#email {width:100%}



.jobsByEmail span {width:100%;height:25px;text-align:center;margin-top:10px}



.jobspagination {text-align:center}





}





@media (min-width: 1025px) {



input#email {width:35%}



.jobsByEmail span {width:190px;padding:7px;text-align:center}



.jobspagination {text-align:center}





}



/* new style butttons */


.divCheckBoxList input[type=checkbox] {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	padding: 12px;
	vertical-align: middle;
}

.divCheckBoxList input[type=checkbox]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.divCheckBoxList input[type=checkbox]:checked {
	background-color: #58595B;
	border: 1px solid #adb8c0;
	color: #99a1a7;
}
.divCheckBoxList input[type=checkbox]:focus {
	outline-color: #CD2169;
}

.divCheckBoxList input[type=checkbox]:checked:after {
	content: '\2714';
	font-size: 15px;
	position: absolute;
	top: 0px;
	left: 5px;
	color: #CD2169;
  height: 12px;
}

.divCheckBoxList input[type=checkbox] ~ label {
	top: 3px;
	left: 5px;
	position:  relative;
}

