.ajaxLoading {
	background: url("../../../../assets/ajax.gif") center no-repeat white;
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0.5;
}
#jobalert-ol {
	padding:20px!important;
	text-align:center;
}
#jobalert-ol input[type=checkbox] {
	width:26px;
	height:26px;
	vertical-align:middle;
    margin: 0 5px;	
}
#jobalert-ol label {
	display:inline;
}
#jobalert-submit:disabled {
	background:gray;
}
.jobspagination .fancybox {
	margin:0 20px;
}

.removeBrowse {
	width:auto!important;
}

.searchDates {padding-bottom:20px}
.searchDates input {width:100%}

@media only screen and (max-width: 767px) {
	#sectorFDiv, #secChkBox { display: none; }
	#areaFDiv,  #areaChkBox { display: none; }
	#typeFDiv,  #typeChkBox { display: none; }
	#smodeFDiv  { display: none; }
	#salaryFDiv, #salChkBox { display: none; }
	#currencyFDiv, #currChkBox { display: none; }
	.customFDiv, .customChkBox { display: none; }
}