.sc_frm { margin: 0 0 20px 0; }
.sc_frm_basic {
	border: 1px solid #cecece;
	padding: 20px;
	background: #F8F8F8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.sc_frm .sc_frm_table {width: 100%;}

.sc_frm th {text-align: right; vertical-align: top; width: 22%}
.sc_frm label {
	color: #4f4f4f;
	margin-top: 6px;
	margin-right: 10px;
	display: inline-block;
}

/*nadpisy*/
.sc_frm h3 {font-size: 17px; color: #3B5363; font-weight: bold; margin-bottom: 15px;}
.sc_frm h4,.sc_frm h5,.sc_frm h6 {font-weight: bold; color: #708090; margin: 0; padding: 5px;}

.sc_frm h4 {font-size: 15px;}
.sc_frm h5 {font-size: 14px;}
.sc_frm h6 {font-size: 13px;}

/*frm flags*/
.sc_frm_error input {background-color: #FFECF0;}
.sc_frm_error label {color: #D50202;}
.sc_frm_pov label {background-image: url("../images/pov.gif"); background-position: right top; background-repeat: no-repeat; padding-right: 5px;}

.sc_frm .notice {
 font-size: 10px; color: #49787c;
}

.sc_frm .fld {
	border: 1px solid #e4e4e4;
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 10px;
	color: #4f4f4f;
	background: #fff;
}
.sc_frm .fld:focus {
	box-shadow: 0px 0px 5px -1px #838fbd;
}

.sc_frm .width0 {width: 500px;}
.sc_frm .width1 {width: 400px;}
.sc_frm .width2 {width: 200px;}
.sc_frm .width3 {width: 130px;}
.sc_frm .width4 {width: 260px;}
.sc_frm .width5 {width: 50px;}
.sc_frm .width6 {width: 60px;}
.sc_frm .width7 {width: 600px;}

.sc_frm .frmbutbg {text-align: center; padding-top: 2px; margin-top: 2px;}
.sc_frm .frmbut {text-align: center;}
.sc_frm .button0 {
	color: #fff;
	font-size: 13px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	line-height: 1;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	background: rgb(248,128,19); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(248,128,19,1) 0%, rgba(240,114,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,128,19,1)), color-stop(100%,rgba(240,114,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(248,128,19,1) 0%,rgba(240,114,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(248,128,19,1) 0%,rgba(240,114,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(248,128,19,1) 0%,rgba(240,114,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(248,128,19,1) 0%,rgba(240,114,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f88013', endColorstr='#f07200',GradientType=0 ); /* IE6-9 */
	border: 1px solid #c65e00;
	padding: 10px 20px;
	font-weight: bold;
}
.sc_frm .button1 {background-color: #bfd3e1; border-color: #d9e6ee;}