/* Index
========================================================================== */
.index-widgets-left {
	float: left;
	width: 538px;
	padding-right: 0px !important;
}
.index-widgets-right {
	float: right;
	width: 220px;
}

/* Bannery
========================================================================== */
.header-banner {
	float: right;
	margin-left: 33px;
}
.sidebar-banner {
	margin-bottom: 20px;
}

@media screen and (max-width:768px){
	#branding_left {
		display: none !important;
	}
}


/* Buttony - default
========================================================================== */
.button {
	font-weight: 500;
	color: #fff;
	font-size: 13px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	line-height: 1;
	display: inline-block;
  background: rgb(79,110,148); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(79,110,148,1) 0%, rgba(64,89,120,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,110,148,1)), color-stop(100%,rgba(64,89,120,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(79,110,148,1) 0%,rgba(64,89,120,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(79,110,148,1) 0%,rgba(64,89,120,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(79,110,148,1) 0%,rgba(64,89,120,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(79,110,148,1) 0%,rgba(64,89,120,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f6e94', endColorstr='#405978',GradientType=0 ); /* IE6-9 */
  border: 1px solid #38516f;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.button span {
	padding: 10px;
	display: block;
	border-top: 1px solid rgba(255,255,255,0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.button:hover {
	text-decoration: underline;
	color: #fff;
}

/* Buttony - orange v1
========================================================================== */
.button-orange {
	background: rgb(248,128,19); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(248,128,19,1) 0%, rgba(240,114,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,128,19,1)), color-stop(100%,rgba(240,114,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(248,128,19,1) 0%,rgba(240,114,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(248,128,19,1) 0%,rgba(240,114,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(248,128,19,1) 0%,rgba(240,114,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(248,128,19,1) 0%,rgba(240,114,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f88013', endColorstr='#f07200',GradientType=0 ); /* IE6-9 */
	border: 1px solid #c65e00;
}

/* Buttony - orange v2
========================================================================== */
.button-orange2 {
	background: rgb(251,182,50); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(251,182,50,1) 0%, rgba(248,138,37,1) 48%, rgba(247,115,30,1) 48%, rgba(247,128,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,182,50,1)), color-stop(48%,rgba(248,138,37,1)), color-stop(48%,rgba(247,115,30,1)), color-stop(100%,rgba(247,128,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(251,182,50,1) 0%,rgba(248,138,37,1) 48%,rgba(247,115,30,1) 48%,rgba(247,128,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(251,182,50,1) 0%,rgba(248,138,37,1) 48%,rgba(247,115,30,1) 48%,rgba(247,128,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(251,182,50,1) 0%,rgba(248,138,37,1) 48%,rgba(247,115,30,1) 48%,rgba(247,128,33,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(251,182,50,1) 0%,rgba(248,138,37,1) 48%,rgba(247,115,30,1) 48%,rgba(247,128,33,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbb632', endColorstr='#f78021',GradientType=0 ); /* IE6-9 */
	border: 1px solid #c65e00;
	font-weight: bold;
	display: block;
}


/* Widgety
========================================================================== */
.widget {
	border: 1px solid #cecece;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #f8f8f8;
	margin-bottom: 20px;
}
.widget-title {
	border-bottom: 1px solid #cecece;
	border-top: 1px solid #fff;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background: #f1f1f1;
	font-size: 18px;
	font-weight: 500;
	padding: 15px 20px;
	line-height: 1;
	color: #494949;
}
.widget-title h2,
.widget-title h3,
.widget-title h4 {
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	color: #494949;
}
.widget-title a {
	color: #494949;
	text-decoration: none;
}
.widget-content {
	padding: 20px;
}
.widget-fb .widget-content {
	padding: 0;
}
.widget-text { margin-bottom: 15px; }
.widget-img { display: block; }
.widget-img img {
	max-width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.widget-left {
	float: left;
	margin-right: 20px;
	width: 378px;
}
.widget-right {
	float: right;
	width: 378px;
}

/* Widgety 2
========================================================================== */
.widget2 {
	border: 1px solid #cecece;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 20px;
}
.widget2-title {
	font-size: 15px;
	font-weight: 500;
	padding: 20px 20px 0 20px;
	line-height: 1;
	color: #585858;
}
.widget2-content {
	padding: 20px;
}
.widget2-footer {
	background: #f2f2f2;
	border-top: 1px solid #cecece;
	padding: 10px 20px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	font-size: 12px;
	font-weight: 500;
	color: #415b7a;
	position: relative;
}
.widget2-footer a {
	color: #415b7a;
}
.widget2-grey {
	background: #f8f8f8;
}

/* Widgety - 2col
========================================================================== */
.widget-col2 {
	float: left;
	margin-bottom: 20px;
	width: 378px;
}
.widget-col2-0 {
	margin-right: 20px;
}


/* Widget - porovnanie
========================================================================== */


.widget-porovnanie .widget-title {
	background: transparent;
	border: 0;
	font-size: 28px;
	color: #425c7c;
	text-align: center;
	padding: 20px 20px 0 20px;
}
.widget-porovnanie .widget-content {
	padding: 20px 20px 0 20px;
}

.widget-porovnanie ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.widget-porovnanie li {
	
}
.widget-porovnanie li a {
	display: block;
	margin-bottom: 20px;
}
.widget-porovnanie li:nth-child(3n+2) {
}
.widget-porovnanie li:last-of-type {
	width:100% !important;
}
.widget-porovnanie .button {
	font-size: 20px;
}
.widget-porovnanie .button span {
	padding: 15px;
}
.widget-porovnanie.porovnanie-orange a{
	background: #fa8d2c !important;
    background: -moz-linear-gradient(top, #fa8d2c 0%, #f07200 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fa8d2c), color-stop(100%, #f07200)) !important;
    background: -webkit-linear-gradient(top, #fa8d2c 0%, #f07200 100%) !important;
    background: -o-linear-gradient(top, #fa8d2c 0%, #f07200 100%) !important;
    background: -ms-linear-gradient(top, #fa8d2c 0%, #f07200 100%) !important;
    background: linear-gradient(to bottom, #fa8d2c 0%, #f07200 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f88013', endColorstr='#f07200',GradientType=0 ) !important;
	border: 1px solid #f07200 !important;
}

/* News - list - index
========================================================================== */
.news-index-item {
	clear: both;
	margin-bottom: 20px;
	width: 100%;
}
.news-index-item-last {
	margin-bottom: 0;
}
.news-index-thumb {
	float: left;
}
.news-index-thumb a,
.news-index-thumb img {
	display: block;
}
.news-index-content {
	font-size: 12px;
	color: #777;
	margin-left: 70px;
}
.news-index-title {
	font-size: 15px;
	font-weight: bold;
	margin: 0 0 5px 0;
	line-height: 1;
}
.news-index-title a {
	color: #f17606;
}
.news-index-title a:hover {
	color: #415b7a;
}
.cycle-index-pager {
	position: absolute;
  	overflow: hidden;
    text-align: left;
    bottom: 10px;
    z-index: 500;
    height: 16px;
    line-height: 16px;
}
.cycle-index-pager span.cycle-pager-active {
    color: #f17606;
}
.cycle-index-pager span {
    color: #ddd;
    display: inline-block;
    font-size: 50px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

/* slider */
.cycle-slideshow .news-index-content {
	margin-left: 120px;
}

/* List ul > li - index
========================================================================== */
.widget-list ul {
	list-style: none;
	margin: 0 0 10px 0;
	padding: 0;
}
.widget-list li {
	background: url('../images/arrow-orange.png') no-repeat 0 10px;
	border-bottom: 1px solid #f1f1f1;
	line-height: 1;
	padding: 5px 0 5px 12px;
}
.widget-list li.last {
	border: 0;
}
.widget-list li a {
	color: #585858;
	font-size: 12px;
}


/* NAJ - index
========================================================================== */


/* Kurzy - index
========================================================================== */
.widget2-kurzy table {
	margin-bottom: 10px;
	width: 100%;
	border: 0;
}
.kurzy-index-footer {
	text-align: center;
	font-size: 12px;
	line-height: 1.2;
}
.kurzy-index-date {
	color: #585858;
}
.kurzy-index-more {
	font-size: 12px;
}

/* Poradna - index
========================================================================== */
.poradna-index-item {
	font-size: 12px;
	width: 238px;
	float: left;
}
.poradna-index-item1 {
	margin-right: 20px;
}
.poradna-index-thumb {
	margin-right: 15px;
	float: left;
}
.poradna-index-thumb a,
.poradna-index-thumb img {
	display: block;
}
.poradna-index-content {
	float: left;
	width: 123px;
}
.poradna-index-cat {
	color: #b8b8b8;
}
.poradna-index-title {
	margin: 10px 0;
	color: #585858;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

/* TOP Osobnosti - index
========================================================================== */
.osobnosti-index-name {
	font-weight: bold;
}
.osobnosti-index-fn {
	font-size: 11px;
	color: #6b6b6b;
	line-height: 1;
}

/* Sponzorovane odkazy - index
========================================================================== */
.widget2-odkazy {
	float: none;
	clear: both;
}

/* Anketa
========================================================================== */
.widget-anketa-archiv {
	float: left;
	width: 238px;
	margin: 0 20px 20px 0;
}

.content {
	padding-right: 0px !important;
}

.content .widget-anketa-archiv:nth-child(3n+2) {
    clear: left;
}
.anketa-otazka {
	background: #eaeaea;
	color: #373737;
	padding: 10px 20px;
	margin: -20px -20px 10px -20px;
}
.anketa-odpoved {
	font-size: 12px;
	font-weight: bold;
}
.anketa-odpoved small {
	float: right;
	font-size: 12px;
}
.anketa-odpoved1,
.anketa-odpoved1 a {
	color: #405978;
}
.anketa-odpoved0,
.anketa-odpoved0 a {
	color: #f07200;
}
.anketa-bar {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 0;
	line-height: 18px;
	height: 18px;
	-webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.1);
	margin-bottom: 10px;
}
.anketa-bar div {
	height: 18px;
	-webkit-box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2);
	box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.anketa-bar1 {
	background: #5b7eab;
}
.anketa-bar1 div {
	background: #405978;
}
.anketa-bar0 {
	background: #f0a159;
}
.anketa-bar0 div {
	background: #f07200;
}
.anketa-hlasovalo span {
	font-weight: 500;
	color: #170901;
}
.anketa-hlasovalo a {
	color: #fa6300;
	font-style: italic;
}

/* Newsletter
========================================================================== */
#newsletter {
	margin: 0;
	padding: 0;
	border: 0;
}
.mlist-inputs {
	margin-bottom: 20px;
}
.mlist-row-white {
	background: #fff;
	border: 1px solid #e4e4e4;
	padding: 10px;
	margin-bottom: 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.mlist-row-white label {
	color: #bcbcbc;
	font-weight: 500;
	width: 45px;
	display: inline-block;
	margin: 0;
}
.mlist-row-transp label {
	color: #bcbcbc;
	font-weight: bold;
	width: 56px;
	display: inline-block;
}
.mlist-row-white input {
	font-size: 13px;
	color: #4f4f4f;
	font-weight: bold;
	border: 0;
	padding: 0;
	margin: 0;
	width: 183px;
	background: transparent;
}
.mlist-row-white input:focus{
	outline: none;
}
.mlist-row-transp span {
	color: #4f4f4f;
	font-weight: bold;
	margin-right: 10px;
}
.mlist-button .button {
	width: 100%;
}
#newsletter input[type="submit"]{
	display: none;
}

/* News - www
========================================================================== */
.news-www-thumb {
	float: left;
	text-align: center;
	margin: 0 15px 10px 0;
}
.news-www-thumb a,
.news-www-thumb img {
	display: block;
}

/* Menu v stranke
========================================================================== */
#page .menu {
	background: #F8F8F8;
	border: 1px solid #cfcfcf;
	margin-bottom: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px;
}
#page .menu .selected { font-weight: bold; }
#page .menu li {
	background: url('../images/arrow-orange.png') no-repeat 0 10px;
	border-bottom: 1px solid #f1f1f1;
	line-height: 1;
	padding: 5px 0 5px 12px;
}
#page .menu li.last {
	border: 0;
}
#page .menu li a {
	color: #585858;
	font-size: 12px;
}
#page .menu ul ul {
	padding-top: 5px;
}


/* Poradna - widget
========================================================================== */
.widget-porad-thumb {
	float: left;
}
.widget-porad-desc,
.widget-porad-more {
	margin-left: 120px;
}
.widget-porad-desc {
	margin-bottom: 15px;
}
.widget-porad-more {
	/*text-align: right;*/
}
.widget-porad-button {
	font-size: 13px;
}
.widget-porad-button span {
	padding: 10px;
}

/* Poradna - list
========================================================================== */
.porad-list-item {
	margin-bottom: 20px;
}
.porad-list-thumb {
	float: left;
	width: 100px;
	height: 100px;
}
.porad-list-thumb img { display: block; }
.porad-list-content {
	margin-left: 120px;
}
.porad-list-title {
	font-size: 18px;
	margin: 0 0 5px 0;
}
.porad-list-title a {
	font-weight: bold;
}
.porad-list-title small { color: #666; }
.porad-list-more { margin-top: 10px; }

/* Poradna - www
========================================================================== */
.porad-www-thumb { float: left; }
.porad-www-thumb img { display: block; }
.porad-www-intro { margin-left: 120px; }

/* Poradna - reakcia - list (accordion)
========================================================================== */
.reakcia-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.reakcia-list-item {
	border: 1px solid #cecece;
	background: #f8f8f8;
	margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.reakcia-list-title {
	display: block;
	padding: 10px;
	color: #494949;
	outline: none;
}
.reakcia-list-title:hover {
	text-decoration: none;
	background: #F1F1F1;
	color: #425c7c;
}
.reakcia-list-open {
	background: #F1F1F1;
}
.reakcia-list-content {
	display: none;
	border-top: 1px solid #cecece;
	padding: 10px;
}

/* Slovnik pojmov - list (accordion)
========================================================================== */
.lib-link { font-weight: bold; }
.lib-item {
	display: none;
	padding: 10px 0;
}

/* Banka - list
========================================================================== */
.banka-list ul {
	list-style: none;
}
.banka-list-item {
}
.banka-list-item a {
	display: inline-block;
}
.banka-list-item a:hover { text-decoration: none; }
.banka-list-item strong {
	display: inline-block;
	margin-right: 7px;
	vertical-align: middle;
	/*border: 1px solid #cecece;*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*padding: 5px;*/
  width: 90px;
  height: 50px;
}
.banka-list-item img {
	display: block;
}
.banka-list-item span {
	vertical-align: middle;
	width: 268px;
	display: inline-block;
}

/* Banka - www
========================================================================== */
.banka-www-table {
	width: 100%;
}
.banka-www-table th {
    border-bottom: 1px solid #dfdfdf;
    text-align: left;
    font-weight: bold;
    width: 220px;
}
.banka-www-table td {
    border-bottom: 1px solid #dfdfdf;
}

/* Tabulky
========================================================================== */
.prod_list,
.table_list,
.banky_list,
.table_detail,
.term {
	width: 100%;
	margin-bottom: 20px;
}
.prod_list th,
.table_list th,
.banky_list th,
.table_detail th,
.term th {
	text-align: left;
	padding: 10px 5px;
	background: #F1F1F1;
	border: 1px solid #cecece;
}
.prod_list td,
.table_list td,
.banky_list td,
.table_detail td,
.term td {
	padding: 5px 5px;
	border: 1px solid #dcdcdc;
}
.prod_list .prod_list_row1 td,
.banky_list .
.table_list .row1 td { background: #f4f4f4; }
.prod_list tr:hover td,
.table_list tr:hover td,
.term tr:hover td {
	background: #DEF1F9;
}


/* Tabulka top 10 bank
========================================================================== */
.top10 > a {
	font-weight: bold;
	background: #F1F1F1;
	border: 1px solid #cecece;
	border-radius: 3px;
	display: inline-block;
	padding: 3px 5px;
}
.banky_list { margin-top: 20px; }

/* Tabulky - Produkt - list
========================================================================== */
.prod_detail {
	width: 100%;
	margin-bottom: 20px;
}
.prod_detail th,
.prod_detail td {
	vertical-align: top;
	padding: 5px;
}
.prod_detail th {
	text-align: left;
	background: #F1F1F1;
	border: 1px solid #cecece;
}
.prod_detail td {
	border: 1px solid #dcdcdc;
}
.prod_list .prod_list_row1 td,
.table_list .row1 td { background: #f4f4f4; }
.prod_list tr:hover td,
.table_list tr:hover td,
.term tr:hover td {
	background: #DEF1F9;
}
.prod_detail .main th,
.prod_detail .main td { background: #cecece; }

/* Kurzy - index
========================================================================== */
.kurzy-index { width: 100%; }
.kurzy-index .cell1 {
	width: 35px;
}
.kurzy-index .cell2 {
	width: 50px;
}
.kurzy-index .cell3 {
	text-align: right;
}
.kurzy-index img {
	margin-top: 4px;
}
.kurzy-index td {
	border-bottom: 1px solid #dcdcdc;
}
.kurzy-index .row:hover td {
	background: #DEF1F9;
}

/* TOP osobnosti - www
========================================================================== */
.osobnost-www-thumb {
	float: left;
	margin: 0 15px 10px 0;
}
.osobnost-www-thumb img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
}

/* Anketa TOP osobnosti
========================================================================== */
.widget-osobnost-list {
	width: 244px;
	float: left;
}
.widget-osobnost-list2 {
	margin-right: 20px;
	margin-left: 20px;
}
.osobnost-odpoved-foto {
	float: left;
	margin: 0 10px 10px 0;
}
.osobnost-odpoved-foto img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.osobnost-odpoved-funkcia {
	margin-left: 90px;
	font-size: 12px;
}
.osobnost-vyjadrenie {
	clear: both;
	margin-bottom: 10px;
}
.osobnost-odpoved {
	text-align: center;
	font-size: 16px;
	line-height: 1;
}

/* Top osobnosti - Ukoncene ankety
========================================================================== */
.top_os a {
	font-weight: bold;
}

/* Osobnost - odpoved - www
========================================================================== */
.osonbnost-odpoved-www-odp {
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
}

/* bannery
========================================================================== */
#main-banner-mobil{
	display: none;
}
.content-banner-1 {
	float: left;
}

.content-banner-2 {
	float: right;
}
@media screen and (max-width: 696px){
	.content-banner-1, .content-banner-2{
		float: none;
		margin: 20px 0;

	}
	.content-banner-1 > div, .content-banner-2 > div{
		float: none;
		margin: 0 auto;
	}
}

.bottom-margin{
	margin-right: 15px;
}

@media screen and (max-width:410px){
	.own-main{
		padding: 20px 0;
	}
	.own-main, .custom-banner-main *{
		width: 100% !important;
	}
}

#zoneid84 {
width:120px;
height:90px;
}

/* iban konv */
.iban-konv {}
.iban-konv td,
.iban-konv th {padding:4px 8px 4px 0;}
.iban-konv th label {width:150px}
.iban-konv .txt {padding-top: 10px;}
.iban-konv input,
.iban-konv select {
width:200px;padding: 5px; border: 1px solid #ccc;
-ms-box-sizing:content-box;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
box-sizing:content-box;
}

/* cookie policy */
body .cc_container .cc_btn,
body .cc_container .cc_btn:visited {
color: #FFF;font-weight: bold;background-color: #F07200;
}

/* top porovnavace */
.prod_list .top1 td {background:#FFE1C5;}

.bold-orange{
	font-weight: 800;
	color: #F07200;
}
#mzda_calc_form th, #mzda_calc_form td {
	white-space: normal !important; 
    display: block;
    width: 100%;
    text-align: left;
}
#mzda_calc_form{
	width: 100%;
}

@media screen and (max-width: 767px){
	td.table-button_c{
		display: none;
	}
	.table-button_c, .arrow.sel4, .arrow.sel3{
		display: none;
	}
	.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th{
		white-space: normal !important;
	}
	.content {
		padding-right: 15px !important;
	}
}

#page .container .row #content{
	position: relative;
	width: calc(100% - 330px);
	float: left;
	padding: 0 15px;
}
#page .container .row #sidebar-right{
	width: 330px;
	float: left;
	padding: 0 15px;
}
@media (max-width:992px){
	#page .container .row #content{
		width: 100%;
		float: none;
	}
	#page .container .row #sidebar-right{
		width: 100%;
		float: none;
	}
}

#menu-phone{
	display: none;
}
#menu-phone.mm-opened{
	display: block;
}

/* custom by drol - 13.05.2019 */

footer{
	z-index: 9999 !important;
}