/**
   Coded by /u/j0be in scss.
   See scss source here -> https://codepen.io/j0be/pen/MKRVyN
*/

@media (min-width: 992px) { 
    div.index-widgets-left { 
        padding-left: 0px; 
    } 
    div.index-widgets-left > div { 
        padding-left: 0px; padding-right: 0px; 
    } 
    div.index-widgets-right { 
        padding-right: 0px; padding-left: 0px; 
    } 
    div.index-widgets-right > div { 
        padding-right: 0px; padding-left: 0px; 
    } 
    .sidebar { 
        padding-left: 0px; 
    } 
    .sidebar > div { 
        padding-right: 0px; padding-left: 0px; 
    } 
    .widget .widget-content .widget-text td { 
        padding: 10px 10px 0px 10px; 
    } 
    .widget .widget-content .widget-text .first > div:first-child { 
        margin-top: 20px; 
    } 
    .widget .widget-content .widget-text .second { 
        text-align: center; 
    } 
    .widget2 .widget-text .third > div:nth-child(2) p { 
        margin-top: 20px; margin-bottom: 0px; 
    } 
    .footer .container { 
        height: 100px; 
    } 
    .footer .container .footer-social { 
        position: absolute; top: 39px; left: 60px; 
    } 
    .footer .container .footer-social ul li { 
        line-height: 25px; margin-right: 15px; float: left; 
    } 
    .footer .container #copyright { 
        text-align: center; line-height: 1; padding-top: 45px; 
    } 
    .footer .container .footer-menu { 
        position: absolute; right: 60px; top: 45px; line-height: 1; 
    } 
    .sc_frm .row > div:nth-child(odd) { 
        text-align: right; 
    } 
    .sc_frm .row > div:last-child { 
        text-align: left; 
    } 
    .aktualne_zlavy td{
        width: 50%;
    }
    #menu-phone{
    display:none;
  }
  #menu-phone-button{
    display:none;
  }
} 