

.lpo2 {
    color: black;
    font-weight: 600;
}

/* .absoluri {
    position: absolute;
    top: 40px;
    right: 40px;
}

.absolulef {
    position: absolute;
    top: 90px;
    right: 40px;
} */
.tywer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tywertwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.absoluri {
    margin-left: 10px;
    margin-right: 0;
    padding-right: 0;
}

.absolulef {
    margin-left: 10px;
    margin-right: 0;
    padding-right: 0;
}

select {
    width: 92%;
}


.btnssbtn button {
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(7, 107, 7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnssbtn button img {
    width: 15px;
    height: 15px;
    object-fit: contain;
}