@charset "utf-8";
/* Css */


	/* RESP */


		/* NOVO */
			@media (max-width: 1000px) and (min-width: 600px){
				.w300_1000 { width: 300px !important; }
			}
			@media (max-width: 600px){
				.poss_600 { position: static !important;  margin: 0px 0 -30px 0 !important; }
			}
			@media (max-width: 700px){
				.zoomContainer { display: none !important; }
			}
		/* NOVO */



		/* PADROES */
	        img.mob { display: none !important; }
		    @media screen and (max-width:600px) {
		        img.mob { display: block !important; }
		        img.desk { display: none !important; }
		    }
		/* PADROES */




		/* CENTERR */
			.centerr { margin: auto; padding: 0 10px; }
			@media (min-width: 800px){
				.centerr { width: 770px; padding: 0; }
			}
			@media (min-width: 1000px){
				.centerr { width: 970px; padding: 0; }
			}
			@media (min-width: 1200px){
				.centerr { width: 1170px; padding: 0; }
			}
			@media (max-width: 300px){
				.centerr { width: 300px; }
			}
		/* CENTERR */



		/* REGRA DOS 12 */
			.wf12 { float: left; width:100% }
			.wrbnr { float: center; width:100% }
			.wf115 { float: left; width:95.83333333% }
			.wf11 { float: left; width:91.66666666% }
			.wf105 { float: left; width:87.5% }
			.wf10 { float: left; width:83.33333333% }
			.wf95 { float: left; width:79.16666666% }
			.wf9 { float: left; width:75% }
			.wf85 { float: left; width:70.83333333% }
			.wf8 { float: left; width:66.66666666% }
			.wf75 { float: left; width:62.5% }
			.wf7 { float: left; width:58.33333333% }
			.wf65 { float: left; width:54.16666666% }
			.wf6 { float: left; width:50% }
			.wf55 { float: left; width:45.83333333% }
			.wf5 { float: left; width:41.66666666% }
			.wf45 { float: left; width:37.5% }
			.wf4 { float: left; width:33.33333333% }
			.wf35 { float: left; width:29.16666666% }
			.wf3 { float: left; width:25% }
			.wf25 { float: left; width:20.83333333% }
			.wf24 { float: left; width:20% }
			.wf2 { float: left; width:16.66666666% }
			.wf15 { float: left; width:12.5% }
			.wf1 { float: left; width:8.33333333% }
			.wf05 { float: left; width:4.16666666% }
			@media (min-width: 700px) {
				.wr12 { float: left; width:100% }
				.wrbnr { float: center; width:100% }
				.wr115 { float: left; width:95.83333333% }
				.wr11 { float: left; width:91.66666666% }
				.wr105 { float: left; width:87.5% }
				.wr10 { float: left; width:83.33333333% }
				.wr95 { float: left; width:79.16666666% }
				.wr9 { float: left; width:75% }
				.wr85 { float: left; width:70.83333333% }
				.wr8 { float: left; width:66.66666666% }
				.wr75 { float: left; width:62.5% }
				.wr7 { float: left; width:58.33333333% }
				.wr65 { float: left; width:54.16666666% }
				.wr6 { float: left; width:50% }
				.wr55 { float: left; width:45.83333333% }
				.wr5 { float: left; width:41.66666666% }
				.wr45 { float: left; width:37.5% }
				.wr4 { float: left; width:33.33333333% }
				.wr35 { float: left; width:29.16666666% }
				.wr3 { float: left; width:25% }
				.wr25 { float: left; width:20.83333333% }
				.wr24 { float: left; width:20% }
				.wr2 { float: left; width:16.66666666% }
				.wr15 { float: left; width:12.5% }
				.wr1 { float: left; width:8.33333333% }
				.wr05 { float: left; width:4.16666666% }
			}
			@media (max-width: 500px) {
				.wr { width: auto !important; }
			}


			@media (min-width: 500px) and (max-width: 1920px) {
				.wr12_500 { float: left; width:100% }
				.wrbnr_500 { float: center; width:100% }
				.wr115_500 { float: left; width:95.83333333% }
				.wr11_500 { float: left; width:91.66666666% }
				.wr105_500 { float: left; width:87.5% }
				.wr10_500 { float: left; width:83.33333333% }
				.wr95_500 { float: left; width:79.16666666% }
				.wr9_500 { float: left; width:75% }
				.wr85_500 { float: left; width:70.83333333% }
				.wr8_500 { float: left; width:66.66666666% }
				.wr75_500 { float: left; width:62.5% }
				.wr7_500 { float: left; width:58.33333333% }
				.wr65_500 { float: left; width:54.16666666% }
				.wr6_500 { float: left; width:50% }
				.wr55_500 { float: left; width:45.83333333% }
				.wr5_500 { float: left; width:41.66666666% }
				.wr45_500 { float: left; width:37.5% }
				.wr4_500 { float: left; width:33.33333333% }
				.wr35_500 { float: left; width:29.16666666% }
				.wr3_500 { float: left; width:25% }
				.wr25_500 { float: left; width:20.83333333% }
				.wr24_500 { float: left; width:20% }
				.wr2_500 { float: left; width:16.66666666% }
				.wr15_500 { float: left; width:12.5% }
				.wr1_500 { float: left; width:8.33333333% }
				.wr05_500 { float: left; width:4.16666666% }
			}
			@media (min-width: 600px) and (max-width: 1920px) {
				.wr12_600 { float: left; width:100% }
				.wrbnr_600 { float: center; width:100% }
				.wr115_600 { float: left; width:95.83333333% }
				.wr11_600 { float: left; width:91.66666666% }
				.wr105_600 { float: left; width:87.5% }
				.wr10_600 { float: left; width:83.33333333% }
				.wr95_600 { float: left; width:79.16666666% }
				.wr9_600 { float: left; width:75% }
				.wr85_600 { float: left; width:70.83333333% }
				.wr8_600 { float: left; width:66.66666666% }
				.wr75_600 { float: left; width:62.5% }
				.wr7_600 { float: left; width:58.33333333% }
				.wr65_600 { float: left; width:54.16666666% }
				.wr6_600 { float: left; width:50% }
				.wr55_600 { float: left; width:45.83333333% }
				.wr5_600 { float: left; width:41.66666666% }
				.wr45_600 { float: left; width:37.5% }
				.wr4_600 { float: left; width:33.33333333% }
				.wr35_600 { float: left; width:29.16666666% }
				.wr3_600 { float: left; width:25% }
				.wr25_600 { float: left; width:20.83333333% }
				.wr24_600 { float: left; width:20% }
				.wr2_600 { float: left; width:16.66666666% }
				.wr15_600 { float: left; width:12.5% }
				.wr1_600 { float: left; width:8.33333333% }
				.wr05_600 { float: left; width:4.16666666% }
			}
			@media (min-width: 700px) and (max-width: 1920px) {
				.wr12_700 { float: left; width:100% }
				.wrbnr_700 { float: center; width:100% }
				.wr115_700 { float: left; width:95.83333333% }
				.wr11_700 { float: left; width:91.66666666% }
				.wr105_700 { float: left; width:87.5% }
				.wr10_700 { float: left; width:83.33333333% }
				.wr95_700 { float: left; width:79.16666666% }
				.wr9_700 { float: left; width:75% }
				.wr85_700 { float: left; width:70.83333333% }
				.wr8_700 { float: left; width:66.66666666% }
				.wr75_700 { float: left; width:62.5% }
				.wr7_700 { float: left; width:58.33333333% }
				.wr65_700 { float: left; width:54.16666666% }
				.wr6_700 { float: left; width:50% }
				.wr55_700 { float: left; width:45.83333333% }
				.wr5_700 { float: left; width:41.66666666% }
				.wr45_700 { float: left; width:37.5% }
				.wr4_700 { float: left; width:33.33333333% }
				.wr35_700 { float: left; width:29.16666666% }
				.wr3_700 { float: left; width:25% }
				.wr25_700 { float: left; width:20.83333333% }
				.wr24_700 { float: left; width:20% }
				.wr2_700 { float: left; width:16.66666666% }
				.wr15_700 { float: left; width:12.5% }
				.wr1_700 { float: left; width:8.33333333% }
				.wr05_700 { float: left; width:4.16666666% }
			}
			@media (min-width: 800px) and (max-width: 1920px) {
				.wr12_800 { float: left; width:100% }
				.wrbnr_800 { float: center; width:100% }
				.wr115_800 { float: left; width:95.83333333% }
				.wr11_800 { float: left; width:91.66666666% }
				.wr105_800 { float: left; width:87.5% }
				.wr10_800 { float: left; width:83.33333333% }
				.wr95_800 { float: left; width:79.16666666% }
				.wr9_800 { float: left; width:75% }
				.wr85_800 { float: left; width:70.83333333% }
				.wr8_800 { float: left; width:66.66666666% }
				.wr75_800 { float: left; width:62.5% }
				.wr7_800 { float: left; width:58.33333333% }
				.wr65_800 { float: left; width:54.16666666% }
				.wr6_800 { float: left; width:50% }
				.wr55_800 { float: left; width:45.83333333% }
				.wr5_800 { float: left; width:41.66666666% }
				.wr45_800 { float: left; width:37.5% }
				.wr4_800 { float: left; width:33.33333333% }
				.wr35_800 { float: left; width:29.16666666% }
				.wr3_800 { float: left; width:25% }
				.wr25_800 { float: left; width:20.83333333% }
				.wr24_800 { float: left; width:20% }
				.wr2_800 { float: left; width:16.66666666% }
				.wr15_800 { float: left; width:12.5% }
				.wr1_800 { float: left; width:8.33333333% }
				.wr05_800 { float: left; width:4.16666666% }
			}
			@media (min-width: 900px) and (max-width: 1920px) {
				.wr12_900 { float: left; width:100% }
				.wrbnr_900 { float: center; width:100% }
				.wr115_900 { float: left; width:95.83333333% }
				.wr11_900 { float: left; width:91.66666666% }
				.wr105_900 { float: left; width:87.5% }
				.wr10_900 { float: left; width:83.33333333% }
				.wr95_900 { float: left; width:79.16666666% }
				.wr9_900 { float: left; width:75% }
				.wr85_900 { float: left; width:70.83333333% }
				.wr8_900 { float: left; width:66.66666666% }
				.wr75_900 { float: left; width:62.5% }
				.wr7_900 { float: left; width:58.33333333% }
				.wr65_900 { float: left; width:54.16666666% }
				.wr6_900 { float: left; width:50% }
				.wr55_900 { float: left; width:45.83333333% }
				.wr5_900 { float: left; width:41.66666666% }
				.wr45_900 { float: left; width:37.5% }
				.wr4_900 { float: left; width:33.33333333% }
				.wr35_900 { float: left; width:29.16666666% }
				.wr3_900 { float: left; width:25% }
				.wr25_900 { float: left; width:20.83333333% }
				.wr24_900 { float: left; width:20% }
				.wr2_900 { float: left; width:16.66666666% }
				.wr15_900 { float: left; width:12.5% }
				.wr1_900 { float: left; width:8.33333333% }
				.wr05_900 { float: left; width:4.16666666% }
			}

		/* REGRA DOS 12 */



		/* MENU RESPONSIVO SITE */
			/* @media (max-width: 700px) {
				ul.menu { display: none; }
				ul.menu_resp { display: block; }
			} */
		/* MENU RESPONSIVO SITE */


	/* RESP */


/* Css


----------------------------------------------------------------------------------------------------------------------------------


*/