/* ========== ¥Ú¡¼¥¸ÀßÄê ========== */
/* BODYÉôÀßÄê */
BODY{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	/* BODYÉôÀßÄê */
	background:#fcfcfc url(../images/body_bg.jpg) repeat-x ;
}



BR.clear{
	clear:both;
}



/* ========== ¥ê¥ó¥¯ÀßÄê ========== */
A{
	color:navy; /* ¥ê¥ó¥¯¥«¥é¡¼ÄêµÁ */
}
/* ¥ê¥ó¥¯¤Î²¼Àþ¾Ãµî */
A:link{
	text-decoration: none;
}
/* ¥ê¥ó¥¯¤Î²¼Àþ¾Ãµî */
A:visited{
	text-decoration: none;
}
/* ¥ê¥ó¥¯¤¬¥¢¥¯¥Æ¥£¥Ö¤Ê¾ì¹ç¤Ë¤Ï¡¢²¼ÀþÉ½¼¨ */
A:active{
	text-decoration: underline;
}
/* ¥ê¥ó¥¯¤Ë¥Ý¥¤¥ó¥¿¤¬Èï¤µ¤Ã¤¿¾ì¹ç¤Ë¤Ï¡¢²¼ÀþÉ½¼¨ */
A:hover{
	text-decoration: underline;
}





/* ========== ²èÁüÀßÄê ========== */
IMG{
	border:0px;
}

/* ========== ¥Ü¥¿¥óÍÑ¤ÎÄêµÁ ========== */

/* ¥Ü¥¿¥óÄêµÁ */
.btn
{
	font-size:95%;
	height:35px;
}
.btn2
{
	font-size:95%;
	height:35px;
	width:180px;
}
/* ¥é¥¸¥ª¥Ü¥¿¥ó */
.rdo
{
}
/* ¥Á¥§¥Ã¥¯¥Ü¥Ã¥¯¥¹ */
.ckb
{
}



/* ========== ¥Ø¥Ã¥À¡¼ÍÑ¤ÎÄêµÁ ========== */
/* ¥Ø¥Ã¥À¡¼Á´ÂÎ */
DIV.header{
	width:808px;
	height:88px;
	background:url(../images/head_bg.gif) no-repeat;
	padding:0;
	margin:0 auto 10px;
}

/* ¥Ø¥Ã¥À¡¼¥¿¥¤¥È¥ë */
DIV.header DIV.title{
	width:300px;
	float:left;
	margin:27px 0 20px 17px;
	display:inline;
}

DIV.header DIV.title IMG.etc-logo{
	margin-right:5px;
}

/* ¥Ø¥Ã¥À¡¼±¦ÉôÊ¬ */
DIV.header DIV.contents{
	margin:45px 25px 0 0;
	float:right;
	text-align:right;
	display:inline;
}

/* ¥ê¥ó¥¯ÉôÊ¬ */
DIV.header DIV.contents ul{
	font-size:82%;
	margin:0;
	padding:0;
}

DIV.header DIV.contents ul li{
	margin-left:10px;
	padding-left:25px;
	float:left;
	list-style-type:none;
	background:url(../images/head_listmark.gif) no-repeat 5px 0px;
}

/* ========== ²ñ°÷¥á¥Ë¥å¡¼ÍÑ¤ÎÄêµÁ ========== */
DIV.userMenu{
	width:808px;
	background:url(../images/userMenu_bg.jpg) no-repeat;
	overflow:hidden;
	padding:12px 0 8px 0;
}

DIV.userMenu ul{
	width:100%;
	font-size:75%;
	color:#ffffff;
	font-weight:bold;
	margin:0 0 0 0;
	padding:0 0 0 15px;
	list-style-type:none;
}

DIV.userMenu ul li{
	margin:0 15px 0 0;
	padding-left:20px;
	float:left;
	background:url(../images/userMenu_listmark.gif) no-repeat 1px 0px;
}

DIV.userMenu ul li.end{
	margin:0;
}

DIV.userMenu ul li a{
	color:white;
}

DIV.userMenu ul li a span{
	white-space: nowrap;
}

/* ========== ÆâÍÆÍÑ¤ÎÄêµÁ ========== */
DIV.contentsUpper{
	width:808px;
	clear:both;
	margin:0 auto 0;
}

DIV.contentsWrapper{
	background:url(../images/contents_bg.jpg) repeat-y ;
	width:808px;
}

/* ÆâÍÆÁ´ÂÎ */
DIV.contentsWrapper TABLE.contents{
	width:800px;
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}



DIV.contentsbottom{
	width:808px;
	background:url(../images/contents_bg.jpg);
	clear:both;
	margin:0 auto 0;
	padding:0;
	text-align:right;
}

DIV.contentsbottom DIV.goTop{
	margin:0 20px 0 0;
}

/* ========== Áàºî¼ê½çÍÑ¤ÎÄêµÁ ========== */
/* Áàºî¼ê½çÈÖ¹æ */
TABLE.procedure_container{
	margin:0 0 20px 20px;
}

TABLE.procedure_container TD.procedure{
	width:150px;
	height:46px;
	text-align:center;
	background:url(../images/proceed.gif) no-repeat;
	color:#8051A1;
	font-size:90%;
	font-weight:bold;
	padding-right:3px;
}

TABLE.procedure_container TD.procedure_active{
	width:150px;
	height:46px;
	text-align:center;
	background:url(../images/proceed_atv.gif)  no-repeat;
	color:#ffffff;
	font-size:90%;
	font-weight:bold;
	padding-right:3px;
}

/* ========== JavaScript·Ù¹ðÍÑ¤ÎÄêµÁ ========== */
TABLE.jsalert {
	width:100%;
	height:50px;
}
TABLE.jsalert TR.jsalert {
}
TABLE.jsalert TD.jsalert {
	text-align:center;
	border:3px double #CC0033;
}
TABLE.jsalert SPAN.jsalert {
	font-weight: bold;
	color: #CC0033; /* Ê¸»ú¿§ ÀÖ */
	font-size: 125%;
	line-height: 150%;
}


/* ========== ¥Õ¥Ã¥¿¡¼ÍÑ¤ÎÄêµÁ ========== */
/* ¥Õ¥Ã¥¿¡¼Á´ÂÎ */
DIV.footer{
	width:808px;
	height:124px;
	background:url(../images/foot_bg.gif) no-repeat;
	margin:10px auto;
}

DIV.footer p{
/* Rev13.40 DEL START
	font-size:75%;
Rev13.40 DEL END */
	color:#555555;
	margin:0 0 10px 0;
}

DIV.footer DIV.left{
	text-align:left;
	float:left;
	margin:15px 0 0 20px;
}

/* Rev13.40 ADD START */
DIV.footer DIV.left p.footerMenu{
    font-size:75%;
}
/* Rev13.40 ADD END */

DIV.footer LI{
	margin-left:10px;
	padding-left:25px;
	float:left;
	list-style-type:none;
}

DIV.footer DIV.right{
	font-size:90%;
	text-align:left;
	float:right;
	margin:15px 20px 0 0;
}

DIV.footer DIV.right p.copyright-tit{
/* Rev13.40 ADD START */
	font-size:70%;
/* Rev13.40 ADD END */
	margin-right:10px;
	float:left;
}

DIV.footer DIV.right p.copyright-text{
/* Rev13.40 ADD START */
	font-size:70%;
/* Rev13.40 ADD END */
	float:left;
}





/* ========== °ìÈÌ¤Î¥Æ¡¼¥Ö¥ëÍÑ¤ÎÄêµÁ ========== */
TD.caption_top {
	border-top:1px solid  #234600; /* ·ÓÀþ ÎÐ */
	background-color: #cce7d8; /* ÇØ·Ê¡¡Ã¸ÎÐ */
}
TD.caption_bottom {
	border-bottom:1px solid #234600; /* ·ÓÀþ ÎÐ */
	background-color: #cce7d8; /* ÇØ·Ê¡¡Ã¸ÎÐ */
}
TD.caption_left {
	border-left:1px solid #234600; /* ·ÓÀþ ÎÐ */
	background-color: #cce7d8; /* ÇØ·Ê¡¡Ã¸ÎÐ */
}
TD.caption_right {
	border-right:1px solid #234600; /* ·ÓÀþ ÎÐ */
	background-color: #cce7d8; /* ÇØ·Ê¡¡Ã¸ÎÐ */
}
SPAN.caption {
	font-size: 80%;
	font-weight: bold;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
TD.item_top {
	border-top:1px solid #234600; /* ·ÓÀþ ÎÐ */
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}
TD.item_top_sep1 {
	border-top:1px dashed #234600; /* ·ÓÀþ ÎÐ */
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}
TD.item_bottom {
	border-bottom:1px solid #234600; /* ·ÓÀþ ÎÐ */
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}
TD.item_left {
	border-left:1px solid #234600; /* ·ÓÀþ ÎÐ */
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}
TD.item_right {
	border-right:1px solid #234600; /* ·ÓÀþ ÎÐ */
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}



/* ========== ÌÀºÙ¥Æ¡¼¥Ö¥ëÍÑ¤ÎÄêµÁ ========== */
TR.meisai {
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}
TR.meisai_r {
	background-color: #cce7d8; /* ÇØ·Ê¡¡Ã¸ÎÐ */
}
TD.meisai_top {
	border-top:1px solid #234600; /* ·ÓÀþ ÎÐ */
}
TD.meisai_bottom {
	border-bottom:1px solid #234600; /* ·ÓÀþ ÎÐ */
}
TD.meisai_left {
	border-left:1px solid #234600; /* ·ÓÀþ ÎÐ */
}
TD.meisai_right {
	border-right:1px solid #234600; /* ·ÓÀþ ÎÐ */
}
SPAN.meisaicaption {
	font-size: 80%;
	font-weight: normal;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
SPAN.meisaivalue {
	font-size: 90%;
	font-weight: normal;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
SPAN.meisaivalue_biko {
	font-size: 80%;
	font-weight: normal;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}


/* ========== ÌÀºÙ¾ðÊóÍÑ¤ÎÄêµÁ ========== */
TABLE.meisaiinfo {
	background-color: #cce7d8; /* ÇØ·Ê¡¡Ã¸ÎÐ */
}
TD.meisaiinfo_top {
	border-top:1px solid #cce7d8; /* ·ÓÀþ¡¡Ã¸ÎÐ */
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}
TD.meisaiinfo_bottom {
	border-bottom:1px solid #cce7d8;
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}
TD.meisaiinfo_left {
	border-left:1px solid #cce7d8;
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}
TD.meisaiinfo_right {
	border-right:1px solid #cce7d8;
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}

/* ³ÈÂç¡¦½Ì¾®»þ¤Î¥ì¥¤¥¢¥¦¥ÈÊø¤ìÂÐ±þ */
TD.meisai_link {
	letter-spacing:0;
}


/* ========== ÌÀºÙ·î¥ê¥ó¥¯ÍÑ¤ÎÄêµÁ ========== */
TD.mlink {
    height:45px;
	width:65px;
	text-align:center;
	cursor:pointer;
}
TD.mlink_disable {
    height:45px;
	width:65px;
	text-align:center;
}
TD.mlink_no {
	height:45px;
	width:20px;
	text-align:center;
	cursor:pointer;
}
TD.mlink_no_current {
	border:1px solid #234600; /* ·ÓÀþ ÎÐ */
	background-color: #007736; /* ÇØ·Ê¡¡Ç»ÎÐ */
  	height:45px;
	width:20px;
	text-align:center;
}
SPAN.mlink {
	font-size: 100%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
SPAN.mlink_disable {
	font-size: 100%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}

SPAN.mlink_no {
	font-size: 80%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
SPAN.mlink_no_current {
	font-size: 80%;
	color: #FFFFFF; /* Ê¸»ú¿§¡¡Çò */
}
BUTTON.mlink {
	height:45px;
	width:75px;
	text-align:center;
	cursor:pointer;
	font-size: 100%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
BUTTON.mlink_no {
	height:45px;
	width:25px;
	text-align:center;
	cursor:pointer;
	font-size: 80%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
BUTTON.mlink_disable {
	height:45px;
	width:75px;
	text-align:center;
	font-size: 100%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}



/* ========== ÌÀºÙÊÇ¥ê¥ó¥¯ÍÑ¤ÎÄêµÁ ========== */
TD.plink {
	height:35px;
	width:65px;
	text-align:center;
	cursor:pointer;
}
TD.plink_disable {
	height:25px;
	width:65px;
	text-align:center;
}
TD.plink_no {
	height:35px;
	width:35px;
	text-align:center;
	cursor:pointer;
}
TD.plink_no_current {
	border:1px solid #234600; /* ·ÓÀþ ÎÐ */
	background-color: #007736; /* ÇØ·Ê¡¡Ç»ÎÐ */
	height:35px;
	width:35px;
	text-align:center;
}
TD.bt_plink_no {
	height:35px;
	width:45px;
	text-align:center;
	cursor:pointer;
}
TD.bt_plink_no_current {
	border:1px solid #234600; /* ·ÓÀþ ÎÐ */
	background-color: #007736; /* ÇØ·Ê¡¡Ç»ÎÐ */
	height:35px;
	width:45px;
	text-align:center;
}
SPAN.plink {
	font-size: 100%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
SPAN.plink_no {
	font-size: 80%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
SPAN.plink_no_current {
	font-size: 80%;
	color: #FFFFFF; /* Ê¸»ú¿§¡¡Çò */
}
BUTTON.plink {
	height:35px;
	width:75px;
	text-align:center;
	cursor:pointer;

	font-size: 100%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
BUTTON.plink_no {
	height:35px;
	width:35px;
	text-align:center;
	cursor:pointer;

	font-size: 80%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
BUTTON.bt_plink_no {
	height:35px;
	width:45px;
	text-align:center;
	cursor:pointer;

	font-size: 80%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}
BUTTON.plink_disable {
	height:35px;
	width:75px;
	text-align:center;
	font-size: 100%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
}



/* ========== µ¬ÌóÍÑ¥Æ¥­¥¹¥È¥¨¥ê¥¢¤ÎÄêµÁ ========== */
TEXTAREA.kiyaku {
	width:100%;
	height:20em;
}





/* ========== ³Æ¼ï¥Æ¥­¥¹¥È¤ÎÄêµÁ ========== */
SPAN.normal {
	letter-spacing:0;  
	font-size: 80%;
	line-height: 150%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
	font-weight: normal;
}
SPAN.normal2 {
	font-size: 100%;
	line-height: 150%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
	font-weight: normal;
}
SPAN.normal3 {
	font-size: 80%;
	line-height: 150%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
	font-weight: normal;
}
SPAN.strong {
	font-size: 100%;
	line-height: 150%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
	font-weight: bold;
}
SPAN.comment {
	font-size: 80%;
	font-weight: normal;
	color: #666666; /* Ê¸»ú¿§ Ã¸³¥¿§ */
}
SPAN.value {
	font-size: 125%;
	line-height: 150%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
	font-weight: bold;
}
SPAN.change {
	font-size: 125%;
	line-height: 150%;
	font-weight: bold;
	color: #CC0033; /* Ê¸»ú¿§ ÀÖ */
}
SPAN.attention {
	font-weight: bold;
	color: #CC0033; /* Ê¸»ú¿§ ÀÖ */
}
/* Rev11.10 ADD START  */
SPAN.attention_blue {
	font-weight: bold;
	color: #0000cd; /* Ê¸»ú¿§ ÀÄ */
}
/* Rev11.10 ADD END  */
SPAN.title {
	font-size: 120%;
	line-height: 150%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
	font-weight: bold;
}
H2.title {
	width:755px;
	font-size: 120%;
	line-height: 140%;
	color: #000000; 
	font-weight: bold;
	border-left:3px solid #1cb791;
	border-bottom:1px solid #1cb791;
	padding-left:7px;
	margin:10px 0 20px 20px;
	display:block;
}

P.normal{
	font-size:84%;
	margin:0 20px 0 20px;
}
P.normal2{
	font-size:100%;
	margin:0 20px 0 20px;
}

SPAN.pagetop{
	font-size:84%;
}

SPAN.attention_with_underline {
	color: #CC0033;				/* Ê¸»ú¿§ ÀÖ */
	font-weight: bold;			/* ÂÀ»ú */
	text-decoration: underline;	/* ²¼Àþ */
}

SPAN.big_attention {
	color: #000000; 
	font-size: 150%;
}

A.noline{
	text-decoration: none;
}


/* ========== ³Æ¼ï¥Õ¥©¡¼¥à¥ª¥Ö¥¸¥§¥¯¥È¤ÎÄêµÁ ========== */
INPUT.text {
	/* Rev9.30 ADD START  */
	font-family: "£Í£Ó £Ð¥´¥·¥Ã¥¯",sans-serif;
	/* Rev9.30 ADD END  */
	font-size: 125%;
	font-weight: bold;
}
/* Rev11.10 ADD START  */
INPUT.text_pw {
	font-family: "£Í£Ó £Ð¥´¥·¥Ã¥¯",sans-serif;
	font-size: 100%;
	font-weight: bold;
	height:26px;
}
/* Rev11.10 ADD END  */
SELECT.text {
	/* Rev9.30 ADD START  */
	font-family: "£Í£Ó £Ð¥´¥·¥Ã¥¯",sans-serif;
	/* Rev9.30 ADD END  */
	font-size: 125%;
	font-weight: normal;
}
INPUT.active {
	ime-mode:active;
}

INPUT.inactive {
	ime-mode:inactive;
}
INPUT.mailaddress {
	width:450px;
}
INPUT.userid {
	width:450px;
}
/* Rev11.10 ADD START  */
INPUT.userid2 {
	width:560px;
}
/* Rev11.10 ADD END  */
INPUT.password {
	/* Rev11.10 MOD START  */
	/* width:450px; */
	width:560px;
	/* Rev11.10 MOD END  */
}
INPUT.cardid {
	width:450px;
}
INPUT.birthday {
	width:60px;
}
SELECT.remindq {
	width:550px;
}
INPUT.reminda {
	width:450px;
}
INPUT.syaryo {
	width:60px;
}
INPUT.tnosbt {
	width:30px;
}
INPUT.tno1 {
	width:100px;
}
INPUT.tno2 {
	width:120px;
}
INPUT.sno1 {
	width:85px;
}
INPUT.sno2 {
	width:130px;
}
INPUT.sno3 {
	width:100px;
}
INPUT.sya {
	width:70px;
}
INPUT.inyou_userid {
	/* Rev11.10 MOD START  */
	/* width:300px; */
	width:560px;
	/* Rev11.10 MOD END  */
}
INPUT.inyou_password {
	/* Rev11.10 MOD START  */
	/* width:300px; */
	width:560px;
	/* Rev11.10 MOD END  */
}
INPUT.captcha {
	width:150px;
}
INPUT.kensu {
	width:70px;
}

/* ========== ¥¨¥é¡¼²èÌÌÍÑ¤ÎÄêµÁ ========== */
TABLE.error {
	background-color: #ffffff; /* ÇØ·Ê¡¡Çò */
}
TABLE.error TD.error_top {
	border-top:1px solid #000000; /* ·ÓÀþ¡¡¹õ */
}
TABLE.error TD.error_bottom {
	border-bottom:1px solid #000000; /* ·ÓÀþ¡¡¹õ */
}
TABLE.error TD.error_left {
	border-left:1px solid #000000; /* ·ÓÀþ¡¡¹õ */
}
TABLE.error TD.error_right {
	border-right:1px solid #000000; /* ·ÓÀþ¡¡¹õ */
}

/* ========== Rev7.00.01¡¢7.00.02 ========== */
DIV.crebackground {
	background-color: #E7FFE7;
	margin:0 15px 0 15px;
}

DIV.corpbackground {
	background-color: #FDEADA;
	margin:0 15px 0 15px;
}

P.normal3{
	font-size:100%;
	font-weight: bold;
	margin:0 20px 0 25px;
}

P.normal4{
	font-size:75%;
	margin:0 20px 0 25px;
}
P.normal5{
	font-size:50%;
	margin:0 20px 0 25px;
}

a.btnCorp {
	display:block;
	width:170px;
	height:35px;
/*	background:url(../img/btn_hitouroku.jpg);*/
	margin-top:5px;
}
TABLE.regInfo{
	background-color: #E7FFE7;
	margin:0 0 0 15px;
	width:378px;
}
TABLE.regCorpInfo{
	width:378px;
	background-color: #FDEADA;
	margin:0 0 13px 0;
}

TABLE.regCorp2{
	width:295px;
	margin: 0 auto;
}
TABLE.infTable{
	width:100%;
}

TR.center {
	text-align:center;
}

img.regCorpInfo{
	float:left;
	margin-top:5px;

}

.btn_etc a{
	margin-left:15px;
	background:url(../images/btn_etc.gif) no-repeat;
	text-indent:-9999px;
}
.btn_etc a:hover{
	background-position:bottom left;
}

SPAN.normal4 {
	font-size: 100%;
	line-height: 150%;
	color: #000000; /* Ê¸»ú¿§¡¡¹õ */
	font-weight: normal;
}

TABLE.idTable{
	margin-top:10px; 
	margin-bottom:8px;
}

TABLE.pwTable{
	margin-top:10px;
}

TR.pwRow{
	margin-top:100px;
}

TABLE.cardTable{
	margin-top:10px;
	margin-bottom:15px;
}

TABLE.cardInfo{
	height:45px;
}

/* ========== Rev.7.40 ========== */
SPAN.normal_red {
	letter-spacing:0;
	font-size: 80%;
	line-height: 150%;
	color: #CC0033; /* Ê¸»ú¿§¡¡ÀÖ */
	font-weight: normal;
}

FONT.red{
	color: #CC0033; /* Ê¸»ú¿§¡¡ÀÖ */
}

.btn_creCard a{
	background:url(../images/select_cre.gif) no-repeat;
	text-indent:-9999px;
}

.btn_creCard a:hover{
	background-position:bottom left;
}

a.btnCreTouroku {
	display:block;
	width:310px;
	height:70px;
	margin-top:0px;
}

.btn_corpCard a{
	background:url(../images/select_corp.gif) no-repeat;
	text-indent:-9999px;
}

.btn_corpCard a:hover{
	background-position:bottom left;
}

a.btnCorpTouroku {
	display:block;
	width:310px;
	height:70px;
	margin-top:0px;
}
