
    .pages-scroll{
      border: solid 4px;
      border-radius: 2rem;
      color: #337ab7 !important;
      cursor: pointer;
      font-weight: bold;
    }
    .pages-scroll:hover{
      color: #28becc !important;
    }
    #timer{
      font-size: 4rem;
    }
    .conneted{
      color: #409b40;
      background-color: #409b40;
    }
  