.bluchic-recent-post-section {width: 100%; clear: both; margin: 15px auto;}
.bluchic-recent-post-section:before,
.bluchic-recent-post-section:after {content: ''; clear: both; display: table;}
.bluchic-recent-post-article .bluchic-recent-post-title {font-size: 1em; text-align: center; margin: 0 0 10px 0;}
.bluchic-recent-post-article .bluchic-recent-post-thumb {display: block; padding: 0;}
.bluchic-recent-post-article .bc-recent-post-thumb {margin: 0 auto 15px 0; max-width: 100%; height: auto; border: 1px solid transparent; transition: all .2s ease-in-out;}
.bluchic-recent-post-article .bc-recent-post-thumb:hover {border: 1px solid #555;}

/********** @media **********/
@media all and (max-width: 480px) {
	.bluchic-recent-post-article {width: 100%; margin: 0 0 30px 0; clear: both;}
}

/********** @media **********/
@media all and (min-width: 481px) and (max-width: 1199px) {
	.bluchic-recent-post-article {width: 47%; margin: 1% 1% 30px 1%; display: inline-block; vertical-align: top; clear: none !important;}
}

/********** @media **********/
@media all and (min-width: 1200px) {
	.bluchic-recent-post-article {width: 32%; margin: 0 2% 2% 0; float: left;}
	.bluchic-recent-post-article:nth-child(3n) {width: 32%; margin: 0; float: right;}
}