
            /*@media (max-width: 1349px) and (min-width: 950px) {

                .promotion .promotion-content p.action {
                    width: auto;
                    position: relative;
                    right: 0;
                    bottom: 0;
                }
            }*/

            @media (min-width: 1350px) {
                .promotion .promotion-content {
                    margin: 20px 0;
                }
            }

            @media (max-width: 1349px) {
                .single-promotion.single-promotion-active {
                    background-position: center bottom;
                }

                .promotion .promotion-content p.action {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -56px;
                    /*transform: translateX(-50%);*/
                    margin: 0;
                }

                .promotion .padding {
                    margin-bottom: 0 !important;
                    padding-bottom: 280px !important;
                }
            }
        