body {font:80%/1.6 "Trebuchet MS", "Geneva CE", lucida, sans-serif;background:#004e9a url(/images/pozadi.jpg) top repeat-y;color:#000;text-align:center;padding:0;margin:0}
#body {width:735px;margin:0 auto;padding:0 10px;background:#fff;border-left:0px solid #0000ff;border-right:0px solid #0000ff}
h1,h2,h3,h4 {color:#00007C/*#e7b500*/;margin:10px 0 0 0;font-weight:normal;}
h1 {font-size:210%;margin:0}
h2 {font-size:140%}
h3 {font-size:120%}
h4 {font-size:140%}
a {color:#0568b3;background:inherit;text-decoration:underline;padding:1px 1px 1px 0}
a:hover {text-decoration:none;color:#00007c;background:#edf5fb}
a.ext {font-size:85%}

p {margin:5px 0 20px 20px;line-height:170%;text-indent:20px}
ul, ol {margin:0 0 0 20px;padding:0;color:#000;}
ul li, ol li {margin:5px 0 5px 20px}
hr {display:none}

#head {text-align:left;height:50px;background:#fff}

#head h2 {position:relative;top:10px;width:200px;height:66px;left:0px;margin:0;padding:0;background:#fff;color:#0000ff}
#head h2 a {position:absolute;top:0px;font-size:80%;display:block;width:200px;height:66px;text-indent:2px;text-decoration:none}
#head h2 a strong {position:absolute;top:0px;width:1px;height:66px}
#head h2 a span {position:absolute;width:730px;height:66px;top;0;background:#fff url(/images/logo6.jpg) left no-repeat}
#head a:hover {background:#fff}
#lista {text-align:left;clear:both;height:160px;background:#fff url(/images/lista5.jpg) top no-repeat;margin:75px 0 0 0}

#menu {position:absolute;margin:0;padding:0;height:33px;width:735px;top:85px;background:#004e9a url(/images/menu1.jpg) top no-repeat}
#menu ul {list-style:none;margin:0 0 0 5px;padding:0}
#menu ul li {float:left;margin:0;padding:0;background:transparent url(/images/separator.jpg) right no-repeat}
#menu ul a {text-decoration:none;line-height:190%;float:left;display:block;padding:3px 11px 3px 11px;background:transparent;color:#fff;margin:3px 0 0 0}
#menu ul a:hover {background:transparent url(/images/sipka-menu.gif) top no-repeat;padding:6px 11px 3px 11px;margin:0}
#menu ul a.a {color:#00007c;text-decoration:none;background:#fff url(/images/menu-akt.jpg) top right no-repeat}
#menu ul a.a:hover {margin:3px 0 0 0;padding:3px 11px 3px 11px}

#obsah,#obsahi {background:transparent;padding:0;margin:0;text-align:left;float:left}
#obsahi {width:475px}
#obsah h2 {margin:10px 0 0 20px;padding:0;clear:both}
#obsah h3 {margin:5px 0 0 30px;font-weight:bold;background:#fff;color:#00007c;clear:both}
#obsah h3.red {color:#FF0000}
#obsah .ak {text-indent:0px}
#obsah .ak span {font-size:80%;font-weight:bold;color:#999999;float:left;width:80px;height:22px;background:#fff url(/images/kalendar.jpg) left top no-repeat;padding:11px 0 0 4px;line-height:110%}
#obsah ul {list-style:outside url(/images/li.jpg) none}
#obsah ul li {margin:0 0 0 30px}
#obsah ul .map {margin:0 0 0 60px}#obsah ul .map1 {margin:0 0 0 100px}
#obsah img {float:left;margin:5px}
#obsah a.nwp {color:#fff;margin:10px 5px 10px 0;float:left;padding:0;background:#edf5fb}
#obsah a.nwp:hover {color:#fff;background:#004e9a}
#obsah a.nwp img {border:2px solid #fff;text-align:center}

#right {color:#606060;text-align:left;width:734px;min-height:250px;_height:250px;margin:10px 0 30px 0;float:right;background:#fff url(/images/akthorpoz1.jpg) -1px 0px no-repeat;border-left:1px solid #deebf6}
#right h4 {margin:0 0 0 -1px;background:transparent url(/images/akthorpoz2.jpg) top left no-repeat;color:#0568b3;padding:15px 0 10px 20px}
#right p {margin:5px 5px 5px 20px;padding:0;text-indent:0px}
#right strong {color:#5c5c5c}
#right em {color:#999999;margin:0 0 0 20px;font-size:90%;font-style:normal}
#right ul {list-style:none}
#right li {margin:5px 0 2px 10px;line-height:130%}

form {padding:0 20px}
fieldset a {margin:0 0 0 20px}
label {font-weight:bold}
#text {font-size:100%}
#vyhled {margin:0;padding:0 50px 0 0;position:absolute;top:10px;margin:0 0 0 580px;background:#fff url(/images/lupa.jpg) top right no-repeat}
#vyhled fieldset {margin:0;padding:0;border:none}
#vyhled legend {display:none}
input,textarea {border:1px solid #0158a4;font-family: "Trebuchet MS", "Geneva CE", lucida, sans-serif}
.vyhl {width:100px;display:block;min-height:23px;color:#0158a4;padding:2px 0}
.submit,.tlac,.tlacs {min-height:23px;margin:2px 0 0 0;border:1px solid #0158a4;width:102px;background:#126fb6;color:#fff;cursor:pointer}
.tlac {width:auto;padding:0 10px}
.tlacs {width:auto;padding:0 10px;background: #ff0000;border:none;color: #fff}

#pata {height:25px;border-top:7px solid #0568b3;clear:both;color:#808080}
#pata a {color:#808080;background:#fff}
#pata a:hover,#pata a:active {color:#505050;background:#f0f0f0}

table {margin:20px;border:2px solid #c8c8ff}
table td,table th {padding:3px 10px;background:#edf5fb;border-left:1px solid #c8c8ff;border-bottom:1px solid #c8c8ff;color:#00007c;}
table th {background:#f0f0f0;border-color:#ccc;color:#000}
table tr {border-right:1px solid #c8c8ff}
table.pevna {width:690px}

fieldset {border:1px solid #c8c8ff;margin:20px;padding:10px 0}
legend {color:#00007c;font-weight:bold;padding:2px;margin:2px 10px}

strong.vyhled {padding:0;color:#00007c;background:#edf5fb}
p.vyhled,p.vyh {padding:0;margin:10px 0 0 30px;text-indent:0px}
p.vyh {margin:0 0 0 20px}
a.obrr {font-size:90%}
#w {margin:20px;padding:10px;font-size:120%;border:1px solid #c8c8ff;color:#00007c;background:#edf5fb}
.tooltip {cursor:help;border-bottom:1px dotted #808080}
.engine {background:#edf5fb;color:#303030;padding:5px 2%;margin:20px 0 20px 0}
.engine strong {display:inline}

div.obr,div.obrl {float:right;border:1px solid #999966;background:#dbdbb6;margin:5% 1% 3px 1%}
div.obrl {float:left;min-height:170px;margin:5% 1% 3px 1%}
div.obr img,div.obrl img {border:none;display:block}
div.obr span,div.obrl span {background:#dbdbb6;display:block;border-top:1px solid #999966;color:#636363;line-height:150%;padding:1px 4px}
#lightbox {background:#eee;padding:10px;border-bottom:2px solid #666;border-right:2px solid #666}
#lightbox a img {border:none}
#lightboxDetails {padding-top:0.4em;text-align:center}
#closeButton {top:5px;right:5px}
#overlay {background-image: url(/images/overlay1.png)}

#map {border:5px solid #f0f0f0;height:500px;width:725px;margin:10px 0}
