


/* Style Definitions */
span.prnews_span
{
font-size:8pt;
font-family:"Arial";
color:black;
}
a.prnews_a
{
color:blue;
}
li.prnews_li
{
font-size:8pt;
font-family:"Arial";
color:black;
}
p.prnews_p
{
font-size:0.62em;
font-family:"Arial";
color:black;
margin:0in;
}
.prntac{
TEXT-ALIGN: CENTER
}

				span.prnews_span{
					font-size:inherit;
					font-family:inherit;
				}
				li.prnews_li{
					font-size: inherit;
					font-family: inherit;           
				}
				p.prnews_p{
					font-size: inherit;
					font-family: inherit;           
				}
			
			div.wd_news_body img {
				margin: 0 0 20px 20px;
				float:right;
				max-width: 250px;
				max-height: 250px;
				width: auto !important;
				height: auto !important;
			}
		
				div.PRN_ImbeddedAssetReference{
					display: none;
				}
				div[id^="prni_dvprne"]{
					display: none;
				}
			