* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

main {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 60px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

input {
  border: none;
  background: transparent;
  width: 100%;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: transparent;
}

input:-ms-input-placeholder {
  color: transparent;
}

input::-ms-input-placeholder {
  color: transparent;
}

input::placeholder {
  color: transparent;
}

select:focus {
  outline: none;
}

.login {
  min-height: 95vh;
  background-image: linear-gradient(to bottom, #E1E6F9 0px, #E1E6F9 130px, #ffffff 190px, #ffffff 100%);
}

.login > header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.login > header > div {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.login > header > div > div {
  width: 90%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login > header > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login > header > div > div > div > p {
  font-family: 'Roboto', serif;
  font-size: 13px;
  font-weight: 700;
  color: #0b66e0;
}

.login-top {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-top > img {
  width: 80px;
  margin-top: 100px;
}

.login-top > p:nth-child(2) {
  margin-top: 50px;
  font-family: 'Arvo', serif;
  font-size: 16px;
  font-weight: 700;
  color: #252f57;
}

.login-top > p:nth-child(3) {
  font-family: 'Arvo', serif;
  font-size: 24px;
  font-weight: 700;
  color: #252f57;
}

.login-top > p:nth-child(4) {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 400;
  color: #5c71b4;
}

.login-top > form:nth-child(5) {
  width: 100%;
}

.login-field {
  margin-bottom: 15px;
  height: 50px;
  width: 100%;
  border-radius: 8px;
  background-color: #E8F0FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-field > div {
  width: 100%;
  margin: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 400;
  color: #5c71b4;
}

.login-field > div > input {
  text-align: right;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  min-height:30px;
}

#login_show_password {
  font-size: 18px;
  color: #2658DD;
}

.login-button {
  width: 100%;
  border: none;
  outline: none;
  background: #2658DD;
  padding: 15px 0px;
  margin: 15px 0px;
  border-radius: 5px;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.login-top > div:nth-child(6) {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-top > div:nth-child(6) span {
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 400;
  color: #5c71b4;
}

.login-top > div:nth-child(6) a {
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 700;
  color: #2658dd;
  text-decoration: none;
}

footer {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1.2px;
  font-family: 'Roboto', serif;
  font-size: 11px;
  font-weight: 400;
  color: #4d597e;
}

.signup {
  min-height: 95vh;
  background-image: linear-gradient(to bottom, #E1E6F9 0px, #E1E6F9 130px, #ffffff 190px, #ffffff 100%);
}

.signup > header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.signup > header > div {
  width: 100%;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.signup > header > div > div {
  width: 90%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.signup > header > div > div > span {
  color: #0b66e0;
  font-size: 30px;
}

.signup > header > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup > header > div > div > div > p {
  font-family: 'Roboto', serif;
  font-size: 13px;
  font-weight: 700;
  color: #0b66e0;
}

.signup-top {
  width: 90%;
  margin: 0 auto;
}

.signup-top > p:nth-child(1) {
  padding-top: 70px;
  font-family: 'Arvo', serif;
  font-size: 24px;
  font-weight: 700;
  color: #252f57;
}

.signup-top > p:nth-child(2) {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: 'Roboto', serif;
  font-size: 13px;
  font-weight: 400;
  color: #5c71b4;
}

.signup-field {
  margin-bottom: 15px;
  height: 50px;
  width: 100%;
  border-radius: 8px;
  background-color: #E8F0FD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-field > div {
  width: 100%;
  margin: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 400;
  color: #5c71b4;
}

.signup-field > div > input {
  text-align: right;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  min-height:30px;
}

.signup-field > div > select {
  width: 100%;
  text-align: right;
  background: transparent;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.signup-button {
  width: 100%;
  border: none;
  outline: none;
  background: #2658DD;
  padding: 15px 0px;
  margin: 15px 0px;
  border-radius: 5px;
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.show_password {
  font-size: 14px;
  color: #2658DD;
}

.signup-top > div:nth-child(4) {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signup-top > div:nth-child(4) span {
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 400;
  color: #5c71b4;
}

.signup-top > div:nth-child(4) a {
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 700;
  color: #2658dd;
  text-decoration: none;
}

.faq {
  width: 100%;
  max-width: 500px;
  height: 95vh;
  min-height: 95vh;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #E1E6F9 0px, #E1E6F9 130px, #ffffff 190px, #ffffff 100%);
}

.faq header {
  width: 90%;
  margin: 0 auto;
}

.faq header span {
  font-size: 28px;
  color: #0b66e0;
  margin-top: 15px;
}

.faq header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

.faq header div p {
  font-family: 'Arvo', serif;
  font-size: 24px;
  font-weight: 700;
  color: #252f57;
  margin-left: 10px;
}

.faq-box {
  background: #f7f7ff;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=styles.css.map */