
    body {
        font-family: Merriweather;
        background: #e3e3e3;
    }
    a{
        color: #6c757d;
        font-size: 1.25rem;
    }
    a:hover{
        color: #000;
    }
    a .fab{
        font-size: 60px;
    }
    