/* ---------- Date picker ---------- */

#ui-datepicker-div, #ui-datepicker-div *{
	box-sizing: content-box;
}

#ui-datepicker-div{
	z-index: 1100;
	font-family: 'ptsanscaption-regular',Arial,Helvetica,sans-serif;
	font-size: .8em;
}

#ui-datepicker-div, .ui-datepicker-inline {
	background: #FFF;
	border: 2px solid #828F95;
	padding: 3px;
	width: 165px;
}

#ui-datepicker-div {
	display: none;
}

.ui-datepicker-inline {
	border: 0;
	display: block;
	float: left;
}

.ui-datepicker-dialog {
	padding: 5px !important;
}

img.ui-datepicker-trigger {
	margin: 2px;
	vertical-align: middle;
}

.ui-datepicker-prompt {
	color: #000;
	float: left;
	padding: 2px;
}

.ie6 .ui-datepicker-prompt {
	width: 185px;
}

.ui-datepicker-control, .ui-datepicker-links, .ui-datepicker-header, .ui-datepicker {
	clear: both;
	float: left;
	width: 100%;
}

.ui-datepicker-control {
	background: #D3DADD;
	border-bottom: 1px solid #AEB8BC;
	margin-bottom: 2px;
}

.ui-datepicker-links {
	background: #727C81;
	margin-bottom: 1px;
	padding: 5px 0;
}

.ui-datepicker-links a {
	color: #FFF;
	display: block;
	margin: 0 5px;
}

.ui-datepicker-control, .ui-datepicker-links {
	font-weight: bold;
	letter-spacing: 1px;
}

.ui-datepicker-links label {
	padding: 2px 5px;
}

.ui-datepicker-clear, .ui-datepicker-prev {
	float: left;
	width: 34%;
}

.ui-datepicker-prev a, .ui-datepicker-next a {
	background: url() no-repeat;
	font-size: 0;
	height: 16px;
	line-height: 0;
	text-indent: -9999em;
	width: 16px;
	margin-top: -8px;
}

.ui-datepicker-prev, .ui-datepicker-next {
	margin-top: -8px;
	color: #002e6d
}
.ui-datepicker-month, .ui-datepicker-year{
	font-size: 11px;
}

.ui-datepicker-prev a {
	background-image: url(../images/application/datepicker_previous.png);
}

.ui-datepicker-next a {
	background-image: url(../images/application/datepicker_next.png);
}

.ui-datepicker-current {
	float: left;
	line-height: 1.3;
	text-align: center;
	width: 30%;
}

.ui-datepicker-close a {
	background: url(../images/application/close.png) no-repeat;
	display: block;
	float: right;
	height: 16px;
	margin: 5px 5px 5px 0;
	text-indent: -9999em;
	width: 16px;
}

.ui-datepicker-next {
	float: right;
	text-align: right;
}

.ui-datepicker-header {
	border-bottom: 1px solid #DEDEDE;
	font-weight: bold;
	padding: 5px 0 6px;
	text-align: center;
}

.ui-datepicker-header select {
	background: #727C81;
	border: 0;
	color: #FFF;
	font-weight: bold;
}

.ui-datepicker-header .ui-datepicker-new-month {
	float: left;
	margin-left: 5px;
}

.ui-datepicker-header .ui-datepicker-new-year {
	float: right;
	margin-right: 5px;
}

.ui-datepicker {
	text-align: center;
	width: auto;
}

.ui-datepicker a {
	display: block;
	width: 23px;
}

.ui-datepicker .ui-datepicker-title-row a {
	color: #1E2529;
	text-decoration: none;
}

.ui-datepicker .ui-datepicker-days-row {
	background: #FFF;
	color: #727C81;
}

.ui-datepicker-week-col {
	color: #B5BFC4;
}

.ui-datepicker-days-cell a {
	background: #F0F5F7;
	border: 1px solid #FFF;
}

.ui-datepicker-days-cell a:hover {
	background-color: #727C81;
	color: #FFF;
}

.ui-datepicker-current-day a {
	background-color: #FFF;
	border: 1px solid #727C81;
	color: #369;
}

.ui-datepicker-current-day a:hover {
	background-color: #DFF4FF;
	border-color: #AEB8BC;
	color: #06C;
}

.ui-datepicker .ui-datepicker-unselectable {
	color: #B5BFC4;
}

#ui-datepicker-div a, .ui-datepicker-inline a {
	cursor: pointer;
	padding-top: 10px;
	color: #002e6d;
}

.ui-datepicker-one-month:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.ie .ui-datepicker-one-month {
	height: 1%;
}

.ui-datepicker-new-row {
	clear: left;
}

.ie6 .ui-datepicker-cover {
	display: block;
	filter: mask();
	height: 200px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 193px;
	z-index: -1;
}