@font-face {
  font-family: 'icomoon';
  src:  url('https://cdn.icomoon.io/281247/PowerEquipmentDirect/icomoon.eot?w6bkwb');
  src:  url('https://cdn.icomoon.io/281247/PowerEquipmentDirect/icomoon.eot?w6bkwb#iefix') format('embedded-opentype'),
    url('https://cdn.icomoon.io/281247/PowerEquipmentDirect/icomoon.woff2?w6bkwb') format('woff2'),
    url('https://cdn.icomoon.io/281247/PowerEquipmentDirect/icomoon.ttf?w6bkwb') format('truetype'),
    url('https://cdn.icomoon.io/281247/PowerEquipmentDirect/icomoon.woff?w6bkwb') format('woff'),
    url('https://cdn.icomoon.io/281247/PowerEquipmentDirect/icomoon.svg?w6bkwb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lpu:before {
  content: "\e900";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-check:before {
  content: "\1f5f8";
}
.icon-home:before {
  content: "\f015";
}
.icon-chevron-left:before {
  content: "\276e";
}
.icon-chevron-right:before {
  content: "\276f";
}
.icon-check-circle:before {
  content: "\2714";
}
.icon-question-circle:before {
  content: "\3f";
}
.icon-info-circle:before {
  content: "\e924";
}
.icon-exclamation-circle:before {
  content: "\21";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-eye-slash:before {
  content: "\f070";
}
.icon-exclamation-triangle:before {
  content: "\26a0";
}
.icon-warning:before {
  content: "\26a0";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-star-half:before {
  content: "\f089";
}
.icon-sign-out:before {
  content: "\f08b";
}
.icon-sign-in:before {
  content: "\f090";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-sort-asc:before {
  content: "\f0de";
}
.icon-sort-up:before {
  content: "\f0de";
}
.icon-angle-left:before {
  content: "\3c";
}
.icon-angle-right:before {
  content: "\3e";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-spinner:before {
  content: "\f110";
}
.icon-circle:before {
  content: "\23fa";
}
.icon-star-half-empty:before {
  content: "\f123";
}
.icon-star-half-full:before {
  content: "\f123";
}
.icon-star-half-o:before {
  content: "\f123";
}
.icon-unlock-alt:before {
  content: "\f13e";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-sort-alpha-asc:before {
  content: "\f15d";
}
.icon-sort-alpha-desc:before {
  content: "\f15e";
}
.icon-sort-amount-asc:before {
  content: "\f160";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
.icon-sort-numeric-asc:before {
  content: "\f162";
}
.icon-sort-numeric-desc:before {
  content: "\f163";
}
.icon-circle-o-notch:before {
  content: "\f1ce";
}
.icon-paypal:before {
  content: "\f1ed";
}
.icon-google-wallet:before {
  content: "\f1ee";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-stripe:before {
  content: "\f1f5";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-edge:before {
  content: "\f282";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-referral:before {
  content: "\e922";
}
.icon-address:before {
  content: "\e921";
}
.icon-battery:before {
  content: "\e91e";
}
.icon-image-upload:before {
  content: "\e91f";
}
.icon-article-how-to:before {
  content: "\e916";
}
.icon-article-customer-support:before {
  content: "\e917";
}
.icon-article-recommended:before {
  content: "\e918";
}
.icon-article-buyers-guides:before {
  content: "\e919";
}
.icon-local-pickup:before {
  content: "\e913";
}
.icon-local-pickup-ferguson:before {
  content: "\e914";
}
.icon-tag:before {
  content: "\e90f";
}
.icon-addons:before {
  content: "\2295";
}
.icon-warranty-shield:before {
  content: "\26c9";
}
.icon-wrench:before {
  content: "\e90b";
}
.icon-nav-usp-calculators:before {
  content: "\1f5a9";
}
.icon-nav-usp-comfort-cash:before {
  content: "\e902";
}
.icon-nav-usp-delivery:before {
  content: "\1f6e7";
}
.icon-nav-usp-direct-dollars:before {
  content: "\e903";
}
.icon-nav-usp-financing:before {
  content: "\e908";
}
.icon-nav-usp-installation:before {
  content: "\e910";
}
.icon-nav-usp-knowledge:before {
  content: "\1f56e";
}
.icon-nav-usp-liftgate:before {
  content: "\e904";
}
.icon-nav-usp-recommendations:before {
  content: "\e905";
}
.icon-nav-usp-reviews:before {
  content: "\2729";
}
.icon-nav-usp-savings:before {
  content: "\e906";
}
.icon-nav-usp-service:before {
  content: "\e907";
}
.icon-nav-usp-shipping:before {
  content: "\e909";
}
.icon-nav-usp-support:before {
  content: "\e90a";
}
.icon-nav-usp-united-states:before {
  content: "\e90c";
}
.icon-nav-usp-warranty:before {
  content: "\e90d";
}
.icon-nav-usp-years-in-business:before {
  content: "\e911";
}
.icon-header-cart:before {
  content: "\e90e";
}
.icon-header-location:before {
  content: "\e912";
}
.icon-header-account:before {
  content: "\e915";
}
.icon-header-phone:before {
  content: "\1f57b";
}
.icon-header-search:before {
  content: "\2315";
}
.icon-nav-closed:before {
  content: "\2630";
}
.icon-nav-open:before {
  content: "\1f5d9";
}
.icon-facebook:before {
  content: "\66";
}
.icon-instagram:before {
  content: "\69";
}
.icon-linkedin:before {
  content: "\6c";
}
.icon-pinterest:before {
  content: "\70";
}
.icon-twitter:before {
  content: "\74";
}
.icon-youtube:before {
  content: "\79";
}
.icon-plus:before {
  content: "\2b";
}
.icon-freight-legacy:before {
  content: "\26df";
}
.icon-arrow-up-left:before {
  content: "\e91a";
}
.icon-acw-comfort-cash:before {
  content: "\e920";
}
.icon-email-preferences:before {
  content: "\e91c";
}
.icon-email-preferences-check:before {
  content: "\e91d";
}
.icon-freight:before {
  content: "\e91b";
}
.icon-standard-ground:before {
  content: "\e923";
}
.icon-cheveron-down:before {
  content: "\e930";
}
.icon-cheveron-left:before {
  content: "\e931";
}
.icon-cheveron-right:before {
  content: "\e932";
}
.icon-cheveron-up:before {
  content: "\e933";
}
