body {
}
input:focus {
  outline: none;
}

.standart-page {
  padding-top: 10px;
  border-top: 4px solid #ff3333;
}
.standart-page .logo {
  text-align: center;
}
.standart-page .content {
  width: 100%;
  font-size: 12px;
  color: #999494;
  line-height: 15px;
}
.standart-page .form-area {
  margin-top: -30px;
}
.standart-page .form-area .normal-input {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  position: relative;
  height: 28px;
  background: none;
}
.standart-page .form-area .normal-input label {
  color: #141619;
  font-weight: 400;
  top: -16px;
  font-size: 12px;
}
.standart-page .form-area .normal-input input {
  font-size: 18px;
  color: #000000;
  border: 0;
  width: 100%;
  height: 30px;
  padding: 1px 0 5px 0px;
  border-bottom: 1px solid #b4b7be;
  box-shadow: none;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  border-radius: 0;
  font-weight: 500;
}
.standart-page .form-area button {
  color: #ffffff;
  background-color: #f01714;
  border: 1px solid #ee1818;
  margin-top: 50px;
  width: 100%;
}

.container__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  position: relative;
  padding-bottom: 2rem;
  color: #fff;
}

.container__content {
  flex-grow: 0;
  width: min(28.125rem, 100vw);
  border-top: 4px solid #ff3333;
}
.script-logo-wrapper {
  display: flex;
  justify-content: center;
}
.script-logo {
  width: 100px;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.page {
  padding-bottom: 2.5rem;
}
#getNnin.page .nnin-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.page__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-grow: 1;
  padding: 0 1.5rem 2rem 1.5rem;
}
.page__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 1.75rem;
  line-height: 32.81px;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1.5rem;
  letter-spacing: 0.36px;
}
#getNnin.page h1 {
  margin-bottom: 0.5rem;
}
.merchant_name--standalone,
#getNnin.page .merchant_name,
#consumptionDeviceUserChallenge.page .merchant_name,
#stepupatconsumption.page .merchant_name {
  font-size: 1.125rem;
  line-height: 23px;
  margin-bottom: 3rem;
  font-weight: 400;
  color: #c9c6d7;
}
#getNnin.page input#nnin {
  width: 100%;
  color: #fff;
  padding: 0.6rem 0.75rem;
  margin-bottom: 0.5rem;
  border: none;
  caret-color: #91d0ff;
  font-size: 1.5rem;
  border-bottom: 1px solid #ddd;
}
.error-text-container {
  width: 100%;
  text-align: left;
}
.error-text {
  font-size: 0.875rem;
  color: #ff5c5c;
}
#getNnin.page #privacyPolicyDeclaration {
  margin: 0;
}

element.style {
}
#getNnin.page #privacyPolicyDeclaration {
  margin: 0;
}
p,
.p {
  font-size: 1rem;
  line-height: 21px;
  margin: 0 0 1rem 0;
  letter-spacing: -0.32px;
}
a {
  color: #91d0ff;
}

.button--default {
  background: #efeef3 !important;
  border-color: #efeef3 !important;
  color: #706b8b !important;
  padding: 0.8125rem 2rem;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  border-radius: 24px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  transition: background-color 0.25s ease-out, color 0.25s ease-out,
    border-color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.wait {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wait img {
  width: 64px;
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.combas {
  width: 100%;
}
.combas .item {
  cursor: pointer;
  width: 100%;
  text-align: left;
  align-items: center;
  padding: 20px 19px 20px 22px;
  min-height: 90px;
  border: 2px solid #728ec0;
  border-radius: 11px;
  margin-bottom: 10px;
}

.white-scr {
  padding: 20px;
}
.white-scr .ust {
  border: 1px solid #bbb;
  padding: 5px;
}
.white-scr .orta {
  border: 1px solid #bbb;
  border-top: 0;
  border-bottom: 0;
  height: 300px;
}
.white-scr .alt {
  border: 1px solid #bbb;
  padding: 5px;
}

.white-scr .input-icon {
  color: #3376b8;
  font-size: 20px;
  position: absolute;
  left: 7px;
  top: 11px;
}
.white-scr input {
  padding-left: 25px;
  border: 1px solid #bbb;
  padding-right: 4.5px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  position: relative;
  top: 3.5px;
  width: 230px;
  border-radius: 3px;
}
.white-scr .input-wrapper {
  position: relative;
}

.sms-scr {
  padding: 20px;
  background: #121212;
  color: #fff;
}

.inputs > input {
  margin-top: 10px;
  font-size: 1.5rem;
  height: 3rem;
  text-align: center;
  width: 14.1%;
  float: left;
  border-radius: 5px;
  margin-right: 9px;
  background: #fff;
  color: #000;
  border: none;
  border: 1px solid #ddd;
}
.inputs > input:last-child {
  margin-right: 0;
}

main[data-view="mobile-reference"] .mobile-reference {
  width: 100%;
}
main[data-view="mobile-reference"] .mobile-reference td {
  vertical-align: middle;
}
main[data-view="mobile-reference"] .mobile-reference__label__label {
  font-size: 16px;
  padding-left: 10px;
  vertical-align: middle;
  line-height: 1.3;
}
main[data-view="mobile-reference"] .mobile-reference__word {
  padding-left: 10px;
  font: 700 18px/1.3 Arial, Helvetica, Verdana, sans-serif;
  color: #0078bd;
  text-transform: uppercase;
  display: inline-block;
}
@media only screen and (max-height: 250px) {
  main[data-view="mobile-reference"] .mobile-reference__word {
    font-size: 16px;
  }
}
main[data-view="mobile-reference"] .mobile-reference__instructions {
  position: relative;
  border-top: 1px solid #bbb;
  font-size: 14px;
  vertical-align: bottom;
  padding: 8px 10px 0;
}

.mobile-loading-item {
  position: relative;
  display: inline-block;
}
.mobile-loading-item .image.mobile {
  z-index: 0;
}
.mobile-loading-item .image.spinner {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 15px 5px;
  width: 20px;
  height: 20px;
}
.mobile-loading-item .image.spinner.svg {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: inherit;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.countdown {
  text-align: center;
  font-size: 3rem;
}

.countdown__time {
  display: inline-block;
  width: 30%;
  margin: 0 auto;
  position: relative;
  border-radius: 6px;
  color: #000000;
  background-color: rgba(0, 0, 0, 0.1);
}

.countdown__time--orange {
  color: orange;
  border: 3px solid orange;
}

.countdown__time--red {
  color: red;
  border: 3px solid red;
  animation: vibrate 0.5s 0s forwards;
  font-size: 16px;
}
