
        html,
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Scotia, Arial, Helvetica, sans-serif;
        }
        
        #img-logo {
            max-width: 180px;
        }
        
        .shadow {
            border: solid 1px #eee;
        }
        
        .btn-scotia {
            background-color: #ED0722;
            color: #ffffff;
            transition-duration: 0.5s;
        }
        
        .btn-scotia:hover {
            background-color: #CB061D;
            color: #ffffff;
        }
        
        .background-scotia {
            background-color: #ED0722;
        }
    