
/* CSS added by Hide Metadata Plugin */
.entry-meta .byline:before,
.entry-header .entry-meta span.byline:before,
.entry-meta .byline:after,
.entry-header .entry-meta span.byline:after,
.single .byline, .group-blog .byline,
.entry-meta .byline,
.entry-header .entry-meta > span.byline,
.entry-meta .author.vcard  {
content: '';
display: none;
margin: 0;
}
.entry-meta .posted-on:before,
.entry-header .entry-meta > span.posted-on:before,
.entry-meta .posted-on:after,
.entry-header .entry-meta > span.posted-on:after,
.entry-meta .posted-on,
.entry-header .entry-meta > span.posted-on {
content: '';
display: none;
margin: 0;
}