ï»¿@charset "UTF-8";
@media only screen and (max-width: 900px) {
#MainContentArea #content .xForm-bg {
        border-top: 2px solid #ebebeb;
    }
    .sf-form-without-image {
       
        margin: 0 20px;
    }
    .bform .page-intro {
        padding: 0;
        margin-bottom: 14px;
    }

        .bform .page-intro .page-title {
            color: #1A1A1A;
            font-size: 48px;
            font-weight: 300;
            line-height: 60px;
            margin: 0;
        }


    .bform.l-grid .newForm .body-copy,
    .bform.l-grid .form-block {
        font-size: 18px;
        line-height: 28px;
        font-weight: normal;
        color: #4D4D4D;
        margin: 0 0 27px;
    }

        .bform.l-grid .body-copy p,
        .bform.l-grid .form-block p {
            margin: 0 0 20px;
            color: #4D4D4D;
            font-size: 18px;
            line-height: 24px;
        }

    .bform.l-grid .form-block {
        margin: 0 0 20px;
    }

    .bform.l-grid fieldset.tabbed-fields {
        padding: 0;
        margin: 0;
        background-color: #ffffff;
    }

    .bform.l-grid .form-item {
        padding: 0;
        margin: 0 0 20px;
        width: 100%;
    }

    .bform.l-grid .form-block label label {
        width: 100%;
        margin: 0 0 5px;
        padding: 0;
        width: 100%;
        color: #4D4D4D;
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
        text-align: left;
    }

    .bform.l-grid .form-block label input,
    .bform.l-grid .form-block label a.selectBox,
    .bform.l-grid .form-block label textarea,
    .bform.l-grid .form-block span.label-wrapper input,
    .bform.l-grid .form-block span.label-wrapper a.selectBox,
    .bform.l-grid .form-block span.label-wrapper textarea {
        border: 2px solid #e6e6e6;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .bform.l-grid .form-item input[type="text"],
    .bform.l-grid .form-item select,
    .bform.l-grid .form-item textarea,
    .bform.l-grid .form-item a.selectBox {
        height: 50px;
        width: 100%;
    }

        .bform.l-grid .form-item select#salutation {
        }

    .bform span.checkbox {
        padding: 0;
        width: 100%;
    }

    .bform label span.checkbox input[type="checkbox"],
    .bform label span.checkbox input[type="radio"],
    .bform-last-item input[type="checkbox"] {
        margin: 0 10px 0 0px;
        padding: 0;
        height: 27px;
        width: auto;
        float: left;
        max-width: 5%;
    }

    .bform.l-grid .form-block label span.checkbox label {
        float: none;
        width: auto;
        max-width: 95%;
        font-weight: normal;
        margin-bottom: 0;
    }

    .bform.l-grid .form-item .checkbox-test label.checkbox-group span.checkbox label.checkbox-replaced label {
        margin-left: 20px;
    }

    .bform label span span.gdpr-fields {
        position: inherit;
    }

    .bform.l-grid a.selectBox .selectBox-label {
        color: #4D4D4D;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        padding-top: 9px !important;
    }


    .bform.l-grid .bform-last-item {
        margin-bottom: 0;
        color: #4D4D4D;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
    }

    .bform-last-item label a {
        text-decoration: underline;
    }

    .bform-consent {
        font-weight: normal;
    }

    .bform input[type="submit"] {
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        padding: 8px 30px;
        border: 0;
        border-radius: 50px;
        text-shadow: none;
        text-decoration: none;
        white-space: normal;
        background: #D72D18;
    }

        .bform input[type="submit"]:hover {
            background: #be2a00;
        }
    .bsi-xform {
        display: table;
        width: 100%;
        padding: 0 20px;
    }

        .bsi-xform input[type="submit"] {
            font-size: 18px;
            line-height: 23px;
            font-weight: 400;
            padding: 8.5px 38px;
            margin: 0;
        }

        .bsi-xform .form-item:first-child {
            display: none;
        }

        .bsi-xform .form-item-group.name-form-item-group.clearfix .form-item:first-child {
            display: table;
        }

        .bsi-xform h1 span {
            color: #1A1A1A;
            font-size: 36px;
            font-weight: 300;
            line-height: 46px;
        }

        .bsi-xform .tabbed-fields .form-item-group {
            padding: 0;
        }

        .bsi-xform .tabbed-fields .label, .tabbed-fields .group-label {
            color: #4D4D4D;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            text-align: left;
            margin-bottom: 10px;
            display: block;
        }

        .bsi-xform .form-item {
            display: table;
        }

            .bsi-xform .form-item input[type="text"],
            .bsi-xform .form-item select,
            .bsi-xform .form-item textarea,
            .bsi-xform .form-item a.selectBox {
                background: #ffffff;
            }

            .bsi-xform .form-item span {
                color: #4D4D4D;
                font-size: 18px;
                font-weight: normal;
                line-height: 24px;
                border: 0;
            }

        .bsi-xform .form-block legend {
            top: 0 !important;
        }

            .bsi-xform .form-block legend h1 {
                margin: 0;
                margin-bottom: 20px;
            }

        .bsi-xform .form-block input[type="text"],
        .bsi-xform .form-block select,
        .bsi-xform .form-block textarea {
            padding: 15px;
        }

            .bsi-xform .form-block input[type="text"]:hover,
            .bsi-xform .form-block textarea:hover {
                border: 2px solid #cfcfcf;
            }

            .bsi-xform .form-block input[type="text"]:focus,
            .bsi-xform .form-block textarea:focus {
                border: 2px solid #0071ad;
            }

        .bsi-xform .form-block a.selectBox .selectBox-label {
            padding: 0px 15px;
            width: 100% !important;
        }


        .bsi-xform .xform-submit {
            margin-top: 40px !important;
        }

    .bform.l-grid .form-item .checkbox-test label.checkbox-group span.checkbox label.checkbox-replaced.checked {
        background: url(/ui/css/img/checkboxes/checkbox-checked.svg) no-repeat;
        border-radius: 3px;
    }

    .bform.l-grid .form-item .checkbox-test label.checkbox-group span.checkbox label.checkbox-replaced {
        font-size: 18px;
        line-height: 30px;
        font-weight: normal;
        color: #4D4D4D;
        margin: 0;
        display: block;
        max-width: 100%;
        width: 100%;
        background-size: 30px 30px !important;
        background: url(/ui/css/img/checkboxes/checkbox-light.svg) no-repeat;
        padding: 0 0 5px 30px;
        margin: 0 0 10px 0;
    }

    .bform.l-grid .form-item .checkbox-test label.checkbox-group span.bsform-checkbox-label {
        color: #4D4D4D;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
        margin-bottom: 10px;
        display: block;
    }

    label.bsform-rsection label.bsform-radio input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: 30px;
        height: 30px;
        float: left;
        display: block;
        max-width: 30px;
    }

    .bsi-xform .form-block label span.checkbox label.bsform-radio input + label {
        background: url(/ui/css/img/checkboxes/radio-light.svg) no-repeat;
        background-size: 30px 30px !important;
        padding-left: 40px;
        display: block;
        height: 30px;
        line-height: 30px;
    }

    .bsi-xform .form-block label span.checkbox label.bsform-radio .radio {
        margin-bottom: 10px;
    }

    label.checkbox-group.horizontal span.checkbox label.checkbox-replaced {
        float: left !important;
        display: block;
        width: 50% !important;
    }

    .bsi-xform .form-block label span.checkbox label.bsform-radio .radio.horizontal {
        float: left;
        width: 50%;
        margin-bottom: 20px;
    }

    .bsi-xform .form-block label span.checkbox label.bsform-radio {
        float: none;
    }

        .bsi-xform .form-block label span.checkbox label.bsform-radio input:hover + label {
            background: url(/ui/css/img/checkboxes/radio-dark.svg) no-repeat;
        }

        .bsi-xform .form-block label span.checkbox label.bsform-radio input[type="radio"]:checked + label {
            background: url(/ui/css/img/checkboxes/radio-checked.svg) no-repeat;
        }

    label.bsform-rsection span.radio-title {
        float: left;
        margin-left: 0;
        width: 39.5%;
        color: #4D4D4D;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
    }

    .bform.l-grid .form-block label span.checkbox label.bsform-radio .radio {
        margin: 20px 0 40px 0;
    }

    .bsi-xform span.selectBox-label::after {
        float: right;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        font-weight: 500;
        font-size: 24px;
        color: #4D4D4D;
        content: "";
        background: url(/ui/css/img/icons/arrow-down.svg) no-repeat;
        background-position: right center;
        background-size: contain;
        content: "";
        width: 12px;
        height: 8px;
        margin-top: 9px;
    }

    .bsi-xform .form-item select {
        color: #4D4D4D !important;
        font-weight: 400;
        font-size: 18px;
        line-height: 46px;
        background-image: url(/ui/css/img/icons/arrow-down.svg) !important;
        background-size: 12px auto !important;
        background-position: right 15px center !important;
        background-repeat: no-repeat !important;
        border-radius: 3px;
        border: 2px solid #e6e6e6;
        margin-top: 3px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-top: 0;
    }

        .bsi-xform .form-item select:focus {
            border: 2px solid #0071ad;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            -o-box-shadow: none;
            box-shadow: none;
        }

    .bsi-xform .selectBox-dropdown {
        filter: none;
    }

    .bsi-xform .form-item span a font {
        color: #0071AD !important;
        font-weight: 500;
        background: none;
        text-decoration: underline;
    }

    .bsi-xform .form-item:nth-last-child(3) {
        margin-top: 40px !important;
    }

    .bsi-xform .form-item:nth-last-child(8) {
        margin-top: 40px !important;
    }

    .bsi-xform .form-item:nth-last-child(3) span {
        font-weight: 500;
    }

    .bsi-xform input[type="submit"]:hover {
        background: #9e2b1f;
    }

    .bsi-xform fieldset.orientationVertical {
        padding: 0;
        background: transparent;
        margin: 0;
    }

    .iclbwi-image {
        background-image: url(/ui/css/img/Iconlist_Gradient_left.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        float: inherit;
        width: 284px;
        height: 284px;
        padding-top: 33px;
        padding-left: 20px;
    }

    .eventEnquiry-image-container {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        background-color: #19a3ac;
        padding-left: 5px;
    }

    .bsi-grid-wrapper .bform.l-grid .form-block {
        margin: 0 !important;
    }

    .eventEnquiry-image-container img {
        border-radius: 100px;
        width: 200px;
        height: 200px;
    }

    .bsi-grid-wrapper.bsi-xform-wrapper {
        position: relative;
    }

    .sf-form {
        background: url(/ui/css/img/gray-half-gradient-background-mirror.svg) no-repeat left 0;
        background-size: 67%;
        padding: 0 20px;
    }

    .bsform-image-section {
        padding: 33px 0 0;
        margin-left: -5px;
    }

    .bsform-image-container {
        width: 200px;
        height: 200px;
        border-radius: 150px;
        background-color: #19a3ac;
        padding-left: 5px;
    }

        .bsform-image-container img {
            border-radius: 150px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    div#MainContentArea div#content .bsform {
        float: left;
        padding: 40px 0;
    }

    .bsform .page-intro .page-title {
        color: #1A1A1A;
        font-size: 48px;
        font-weight: 300;
        line-height: 60px;
        margin: 0;
    }

    .bsform h1.page-title.seo-title {
        width: auto !important;
        padding: 0 !important;
    }

    .bsform .body-copy {
        font-size: 18px;
        line-height: 28px;
        color: #4D4D4D;
        font-weight: normal;
        margin-top: 14px;
    }

        .bsform .body-copy p {
            margin: 0;
        }

        .bsform .body-copy ul {
            padding: 0;
            list-style: none;
            margin: 13px 0;
        }

            .bsform .body-copy ul li {
                color: #4D4D4D;
                cursor: initial;
                background: url(/ui/css/img/icons/bullet.png) no-repeat;
                background-position: left top 12px;
                background-size: 4px;
                padding-left: 24px;
                margin-left: 12px;
                padding-bottom: 10px;
            }

                .bsform .body-copy ul li:last-child {
                    padding-bottom: 0;
                }

    .bsform .form-block {
        margin: 27px 0 0;
        border-bottom: 2px solid #B3E3E6;
        padding-bottom: 40px;
    }

    .bsform .newForm .form-block fieldset {
        margin: 0;
        padding: 0;
        background: none;
    }

    .bsform .newForm .form-item {
        padding: 0;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
        color: #4D4D4D;
        width: 100%;
    }

    .bsform .form-item.bsform-pre-gdpr {
        margin: 40px 0;
    }

        .bsform .form-item.bsform-pre-gdpr label {
            display: block !important;
        }

    .bsform .newForm .bsform-last-item {
        margin-bottom: 0;
    }

    .bsform .form-item label label,
    .bsform .bsform-last-item label {
        color: #4D4D4D;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        width: 100%;
        text-align: left;
        margin: 0 0 5px !important;
        padding: 0;
        float: none;
    }

    .bsform .form-item span.checkbox label {
        font-size: 18px;
        line-height: 30px;
        font-weight: normal;
        color: #4D4D4D;
        margin: 0;
        clear: both;
        display: block;
        max-width: 100%;
        width: 100%;
        background-size: 30px 30px !important;
        background: url(/ui/css/img/checkboxes/checkbox-light.svg) no-repeat;
        padding: 0 0 0 40px;
        margin: 0 0 10px 0 !important;
        float: none;
    }

    .bsform .form-item .checkbox-group {
        margin-bottom: 0 !important;
    }

    .bsform .form-item span.bsform-checkbox-label {
        display: block;
        margin-bottom: 5px;
    }

    .bsform .form-item .checkbox-group span.bsform-checkbox-label {
        float: none;
        margin-bottom: 5px !important;
        display: block;
    }

    .bsform .bsform-consent-wrapper {
        margin-top: 15px;
    }

        .bsform .bsform-consent-wrapper label {
            margin: 0 !important;
        }

    .bsform .bsform-consent {
        font-weight: 400;
        padding-top: 2px;
        display: block;
    }

    .bsform .form-item label input[type="text"],
    .bsform .form-item label select,
    .bsform .form-item label textarea,
    .bsform .form-block label a.selectBox {
        width: 100%;
        border: 2px solid #E6E6E6;
        border-radius: 3px;
        height: 49px;
        padding: 0 15px;
    }

        .bsform .form-item label input[type="text"]:hover,
        .bsform .form-item label select:hover,
        .bsform .form-item label textarea:hover,
        .bsform .form-block label a.selectBox:hover {
            border: 2px solid #CFCFCF;
        }

        .bsform .form-item label input[type="text"]:focus,
        .bsform .form-item label select:focus,
        .bsform .form-item label textarea:focus,
        .bsform .form-block label a.selectBox:focus {
            border: 2px solid #0071AD;
        }

    .bsform .selectBox-dropdown.selectBox-menuShowing {
        border: 2px solid #0071AD !important;
    }

    .bsform .form-item label select {
        padding: 0 35px 0 15px;
    }

        .bsform .form-item label select option {
            width: 335px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

    .bsform .form-block label input,
    .bsform .form-block label a.selectBox,
    .bsform .form-block label textarea,
    .bsform .form-block span.label-wrapper input,
    .bsform .form-block span.label-wrapper a.selectBox,
    .bsform .form-block span.label-wrapper textarea,
    .bsform .form-item span.checkbox input[type="radio"] {
        margin: 0;
        border-radius: 3px;
        box-shadow: none;
        font-size: 18px;
        line-height: 24px;
        font-weight: normal;
        color: #4D4D4D;
        position: inherit;
    }

    .bsform input[type="radio"],
    .bsform input[type="checkbox"] {
        margin: 0;
        padding: 0;
    }

    .bsform .gdpr-fields > span {
        margin-bottom: 10px;
        display: block;
        height: auto;
    }

        .bsform .gdpr-fields > span:last-child {
            margin: 0;
        }

            .bsform .gdpr-fields > span:last-child label.checkbox-replaced {
                margin: 0 !important;
            }

    .bsform .form-item label textarea {
        height: 129px !important;
        padding: 15px;
    }

    .bsform span.selectBox-arrow {
        display: none;
    }

    .bsform span.selectBox-label {
        width: 100% !important;
        font-weight: 400;
        color: #4D4D4D;
        font-size: 18px;
        line-height: 46px;
    }

    .bsform select {
        background: url(/ui/css/img/icons/arrow-down.svg) no-repeat;
        background-position: 96%;
        font-size: 18px;
        line-height: 27px;
        color: #4D4D4D;
        font-weight: normal;
    }

    .form-block .form-item select[multiple] {
        height: 150px !important;
        background: none;
        padding-top: 13px;
    }

        .form-block .form-item select[multiple] option {
            width: 300px;
        }

    .bsform .form-item label span span.gdpr-fields {
        position: initial;
    }

    .bsform .form-item p {
        margin: 0 0 20px;
    }

    .bsform a,
    .bsform .body-copy p a,
    .bsform .body-copy li a,
    .bsform .enhanced a {
        color: #0071AD;
    }

        .bsform a:hover,
        .bsform a:active,
        .bsform a:focus,
        .bsform .body-copy p a:hover,
        .bsform .body-copy p a:active,
        .bsform .body-copy p a:focus,
        .bsform .body-copy li a:hover,
        .bsform .body-copy li a:active,
        .bsform .body-copy li a:focus,
        .bsform .enhanced a:hover,
        .bsform .enhanced a:active,
        .bsform .enhanced a:focus {
            color: #0E4E70 !important;
            text-decoration: underline !important;
            background: none;
        }

        .bsform a:visited,
        .bsform .body-copy p a:visited,
        .bsform .body-copy li a:visited,
        .bsform .enhanced a:visited {
            color: #0071AD;
            background-color: #ffffff;
        }

    .bsform input[type="submit"] {
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        padding: 8px 30px;
        border: none;
        border-radius: 50px;
        text-shadow: none;
        text-decoration: none;
        white-space: normal;
        background: #D72D18;
        color: #ffffff;
        margin-top: 40px;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

        .bsform input[type="submit"]:hover {
            background: #9E2B1F;
        }

    .bsform ul {
        padding: 0 0 0 20px;
    }

        .bsform ul li {
            cursor: inherit;
            color: #4D4D4D;
        }

    .bsform .error2,
    .bsform p.error2 {
        font-size: 16px;
        line-height: 24px;
        text-transform: inherit;
        font-weight: 500;
    }

    .bsform .form-item label span.checkbox {
        width: auto;
        padding: 0;
        max-width: 100%;
        float: none;
    }

    .bsform .form-item span.checkbox input[type="checkbox"] {
        left: auto;
        position: absolute;
        opacity: 0;
    }

    .bsform .form-item span.checkbox label:hover,
    .bsform .bsform-consent-wrapper label:hover {
        background: url(/ui/css/img/checkboxes/checkbox-dark.svg) no-repeat;
    }

    .bsform .form-item span.checkbox label.checked,
    .bsform .bsform-consent-wrapper label.checked {
        background: url(/ui/css/img/checkboxes/checkbox-checked.svg) no-repeat;
    }

    .bsform .bsform-consent-wrapper label {
        margin-right: 10px;
        clear: both;
        display: block;
        max-width: 100%;
        width: 100%;
        background-size: 30px 30px !important;
        background: url(/ui/css/img/checkboxes/checkbox-light.svg) no-repeat;
        padding: 0 0 0 40px !important;
        min-height: 30px;
    }

    .bsform .bsform-consent-wrapper input[type="checkbox"] {
        position: absolute;
        left: auto;
        opacity: 0;
    }

    .bsform .form-item label label.bsform-rsection {
        width: 100%;
        margin: 0 !important;
    }

    .bsform .radio-title {
        display: block;
        float: none;
        width: auto;
        margin: 0 0 5px;
    }

    .bsform .form-item span.checkbox input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: 30px;
        height: 30px;
        float: left;
        display: block;
    }

    .bsform .form-item span.checkbox label.bsform-radio span {
        float: left;
    }

    .bsform .form-item span.checkbox label.bsform-radio {
        padding: 0;
        background: none;
        margin-bottom: 10px;
        display: table;
        width: 100%;
    }

        .bsform .form-item span.checkbox label.bsform-radio:last-child {
            margin: 0 !important;
        }

        .bsform .form-item span.checkbox label.bsform-radio input[type="radio"] + span {
            background: url(/ui/css/img/checkboxes/radio-light.svg) no-repeat;
            background-size: 30px 30px !important;
            padding-left: 40px;
        }

        .bsform .form-item span.checkbox label.bsform-radio input[type="radio"]:hover + span {
            background: url(/ui/css/img/checkboxes/radio-dark.svg) no-repeat;
        }

        .bsform .form-item span.checkbox label.bsform-radio input[type="radio"]:checked + span {
            background: url(/ui/css/img/checkboxes/radio-checked.svg) no-repeat;
        }

    .newForm input#SendEnquiry {
        font-size: 18px;
        line-height: 23px;
        font-weight: 400;
        padding: 8px 30px;
        border: 0;
        border-radius: 50px;
        text-shadow: none;
        text-decoration: none;
        white-space: normal;
        background: #D72D18;
        color: #fff;
    }
}