body{line-height:1.7em; font-size:1.2em;}
#main{max-width:50em;}
xmp{white-space: pre-wrap; font-size:1em; word-wrap: break-word;}
code{word-wrap: break-word;}
div{text-align:left}
a{margin: 0.5em 0.5em 0.5em 0.5em;}
.how2s{width:60%;}
code {
  background-color:#EEEEEE;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}