/* custom file css revision june 2021 */
/* author: indexico web studio */


/* header */ 
header {padding-bottom: 10px;}
div#header_logo img.logo.img-responsive {  max-width: 80% !important;}
header .nav {background: #fefefe;}
.top-content {padding: 18px 0 8px 0;}

em {
    font-style: italic;
}

/* per tacconare il fatto che dopo il megamenu si posiziona un altro "entra" */
.header_user_info {display: none;}


.customer-care {
    background: #5a9749;
    /* color: #fff; */
        float: right;
}
.customer-care  a {
     color: #fff; 
}
.slide {
    padding: 30px 50px 30px 50px;
    margin-top: 30px;
    background: #ededed url(/img/cms/barbetta_logo_web.png) no-repeat;
    border: 1px solid #e7e7e7;
    background-blend-mode: overlay;
    background-size: contain;
    }
.slide h1 {color: #be1c2d;font-size: 32px;
    line-height: 34px;text-align: center;}
.slide h2 {color: #979797;text-align: center;padding: 10px 30px;
    font-size: 24px;
    line-height: 30px;}

/* blocchi home */ 

#index .post-thumbnail img {
    margin: 0 auto;
    display: block;
}


.home-box1 img {
    /* height: 120px; */
    margin: 0 auto;
    display: block;
}    
    
  .banner-home-content {
    padding: 30px 0 30px 0;
}
.content-top {
    padding: 30px 0 30px 0;
    margin-top: 20px;
}
.content-top.categories {
    padding: 66px 0 30px 0;
    margin: 0;
}
.content-top.reassurance {background: #f7f7f7;    padding: 30px 20px;   margin: 20px 15px;}
.content-top .f-col { display: inline-block;}
.content-top p {font-size: 16px; line-height: 20px;}
.content-top h2 a {width: auto; height: auto;}

.content-top a.cartucce-home,
.content-top a.vitoni-home,
.content-top a.termostatiche-home {
    text-indent: inherit;
        border-radius: 22px;
        background: #f7f7f7;
    width: auto;
    border: 1px solid #be1c2d;
    height: auto;
    margin: 0 12px 0 0;
}

.content-top.riga2 a.ricambi-rub-home,
.content-top.riga2 a.ricambi-box-doccia,
.content-top.riga2 a.sedili-copriwater {    
   text-indent: inherit;
    background: #f7f7f7;
    width: auto;
    border: 1px solid #be1c2d;
    height: auto;
    margin: 0 12px 0 0;
    }


.content-top.categories .box-title { margin-left: 130px; position: relative; display: inherit;}
.content-top.categories h2 a {
    width: auto;
    height: auto;
    text-indent: inherit;
    border-radius: unset;
    float: none;
    font-size: 22px;
    color: #bf1c2d;
    display: inline-block;
    margin-bottom: 10px;
}


                                    
                                    
.content-top.categories.riga2 {padding: 30px 0 66px 0;}   
.content-top.categories.riga2 img {width: 150px; height: auto;}                                             
.content-top.categories.riga2 h2 a {font-size: 18px;}

                                             
 /* cms */                                            
 #cms #center_column p {
    line-height: 26px;
}
       
       
 
       
/* menu menu */                                                   

.menu_pro_cat li {position: relative;}
.menu_pro_cat li a {
    display: block;
    padding: 0px 0 0 40px;
    color: #952835;
    text-transform: capitalize;
    line-height: 38px;
    background: url(modules/blockcategories/img/li_footer_static.png) 10px no-repeat;
    font-size: 18px;
}
.menu_pro_cat li a::before {content: inherit !important;}

.noscroll { /* SISTEMAZION SCROLL MEGA MENU PRO */
    overflow: auto;}


.menu_cartucce li  {position: relative;}
.menu_cartucce li a {font-size: 17px;}
.menu_cartucce .mm_columns_ul .h4 {padding 10px 0; }
.menu_cartucce .mm_columns_ul span.h4 a {font-size: 18px;  color: #fc4544; }
.menu_cartucce li a::before {content: inherit !important;}


/* sinistra */
#categories_block_left li a {text-transform: initial;}
#categories_block_left li span.grower:hover + a, #categories_block_left li a:hover, #categories_block_left li a.selected {
    color: #bc202d;
    font-weight: 700;
}
#categories_block_left li a {padding: 8px 0 8px 25px; line-height: 22px; text-transform: uppercase; font-size: 16px;}
#categories_block_left li li a {padding: 7px 0 7px 25px;   font-size: 15px;  line-height: 20px;}
#left_column .title_block,
#footer .title-block {
    background: #fff;
}
.title_block h4 {
    background: #bc202d;
    color: #fff;
        width: 100%;
        padding: 7px 20px;
}
#categories_block_left .block_content > ul {
    border-top: 1px solid #eeeeee;
}
#categories_block_left .block_content {
    background: #fcfcfc;
        display: none;
}

/* category */        
.content_scene_cat {width: 100%;  margin: 10px 0 20px 0;  display: inline-block; color: #626262;}
.content_scene_cat span.category-name { color: inherit; margin-bottom: 20px;}
.content_scene_cat .content_scene_cat_bg { padding: 0 10px 25px 10px;}

/* prodotti */
.link-brand { padding: 10px; margin-bottom: 0px; background: #f9f9f9; display: inline-block; float:right;    margin-bottom: 10px;}       
.link-brand a:hover {text-transform: underline;}
.link-brand span { font-size: 16px; margin-bottom: 0; line-height: 20px; padding: 5px 7px;}

/* breadcrumbs */
.breadcrumb { line-height: 30px; padding: 5px 20px ;background: #fbfbfb; color: #bf1c2d; border-radius: 8px;  -webkit-border-radius: 8px;  -moz-border-radius: 8px; }
.breadcrumb a, .breadcrumb span {line-height: 30px;}
.breadcrumb .navigation-pipe {height: 30px;  line-height: 30px; }
                                      
#subcategories ul li .subcategory-image a img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

#subcategories ul li .subcategory-image a {
    padding: 9px;
    border: 1px solid #d6d4d4;
    width: 100%;
    display: inline-block;
}



/* test cls brdx */
.content_sortPagiBar.clearfix { width: 100%; height: 100px;}
.content_sortPagiBar .sortPagiBar {position: absolute;    width: 100%;}

/* product list */
ul.product_list .right-block {
    position: initial; /* per hover lista prodotti */
}

.av_category_stars {width: 100%; margin: 0 auto; } /* recensioni in lista prodotti */


/* form pagination su supplier  */

#supplier .top-pagination-content {min-height: 30px !important;}
#supplier h4.backto {
    float: right;
    margin: 10px 0;
    padding: 10px;
    display: inline-block;
    background: #f6f6f6;
    text-transform: uppercase;
}
#supplier h4.backto a {color: #b73b38;}
#supplier h4.backto a:hover {text-decoration: underline;} 

/* fornitori */
#supplier #page #columns h1.page-heading.product-listing {
    font-size: 24px;
    line-height: 26px;
    /* color: #ccc; */
    display: block;
}      
      
      
#supplier #page #columns h1 {
    color: #000;
    background: #f6f6f6;
    padding: 10px;
    display: inline-block;
    }
    
#supplier #page  h2 a.product-name {
    font-size: 18px;
    background: #f6f6f6;
        text-transform: uppercase;
    padding: 5px 10px;
}
    
#supplier #page #columns .btn.btn-default {
    background: #b73b38;
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    margin: 2px;     
}

#supplier #page #columns #suppliers_list .btn.btn-default {width: 300px;}

#supplier form.nbrItemPage {
    display: inline-block;
   /* float: right;*/
} 
#supplier .pagination { margin: 3px 0;}
#supplier .content_sortPagiBar .sortPagiBar {position: relative;padding-bottom: 20px;}

#supplier ul.product_list.grid a.button.ajax_add_to_cart_button span {color: #fff;}

/* posizione paginatioon su tutte le pagine che la prevedono */
#manufacturer .bottom-pagination-content, 
#manufacturer .top-pagination-content, 
#supplier .bottom-pagination-content, 
#supplier .top-pagination-content {min-height: 90px;}

.top-pagination-content {padding: 0;}


#manufacturer .description_box, #supplier .description_box {
    border-top: 0;
    border-bottom: 1px solid #d6d4d4;
    padding: 20px 5px;
}

.content_sortPagiBar .sortPagiBar {
    /* border-bottom: 1px solid #d6d4d4; */
    padding-bottom: 20px;
    padding-top: 20px;
    background: #fbfbfb;
}
.content_sortPagiBar .sortPagiBar label {max-width: 80px;}

    
/* hover su prodotti home */
.product-tabs-container-slider .productTabContent li.slider_item .button-container  
{text-align: center; position: absolute;    top: -20px;   min-height: 30px;
    background: rgb(241 241 241 / 80%);    opacity: 0;}
ul.product_list.grid > li .product-container .button-container {top: -20px;}    
.product-tabs-container-slider .productTabContent li.slider_item .button-container .ajax_add_to_cart_button  {padding: 0;}

ul.product_list.grid > li .product-container:hover .product-image-container .content_price {z-index: 100;}/* per hover prezzo */

.pb-center-column #product_reference, p#product_reference label  {margin-bottom: 0;}


ul.product_list.list .button-container a.ajax_add_to_cart_button span { font-size: 16px;padding: 8px 6px; }
ul.product_list.grid .ajax_add_to_cart_button {background: #efefef;}
ul.product_list.grid a.button.ajax_add_to_cart_button span {/*color: #fff;*/}

#page .rte p { margin-bottom: 0; font-size: 18px; line-height: 24px;}

/* product */
.product-box.product_accessories_description  {margin-left: 10px;    border-bottom: 1px solid #ccc;
    margin-bottom: 15px; } /* disattivato bxslider su product.tpl */
.product-box.product_accessories_description .product-image {border: 0;}
.accessories-block .product-name a {line-height: 20px;  display: block;  height: 80px;}
.box-info-product .exclusive span {    display: block;  padding: 12px 22px; color: #fff; line-height: 22px; font-size: 18px;}
.posproductcategory .title_block h4 {
    background: #bc202d;
    color: #fff;
        width: auto;
        padding: 7px 20px;
}

.title_block h4 a {color: #fff;}
.title_block h4 a:hover, .title_block h4 a:focus {
    /* color: #fff; */
    text-decoration: underline;
}


/* scroll up */
.mypresta_scrollup {bottom: 60px !important;}


/* blog */

.ph_simpleblog {margin: 10px 0;}
.simpleblog-recent .simpleblog-posts .post-additional-info b { font-family: titilliumweb;}
.simpleblog-single div.post-content p {margin-bottom: 20px;color: #333; font-size: 18px;  line-height: 26px;}

.simpleblog-recent .simpleblog-post-item h2 {line-height: 20px;}

.ph_simpleblog ul li { font-size: 16px; margin-bottom: 15px;}
.ph_simpleblog ul li::before {content: "â¢"; 
  padding-right: 8px;
  font-size: 16px;
  color: red; 
}
.ph_simpleblog h1, .simpleblog-single.with-cover .cover .info h1 
{    font-family: titilliumwebsemibold;
    padding: 20px 0px 20px;
    margin-bottom: 20px;
    border-width: 0;
    font-size: 33px;
    text-align: center;
    background-color: #f3f3f3;
    color: #862824;}
.ph_simpleblog .ph_cat_description {background: #ffffff; border-left: 0;}    
.ph_simpleblog.simpleblog-category p {font-size: 16px; line-height: 20px;}
.simpleblog-single .post-additional-info {font-size: 14px}
.simpleblog-single div.col-md-10 div.post-additional-info { padding: 5px 20px}
.ph_simpleblog .simpleblog-posts .post-additional-info span {float: none; }
.ph_simpleblog .simpleblog-posts .post-additional-info span.post-category {font-size: 14px; border-left: 0;  margin-left: 0; padding-left: 0;}
.ph_simpleblog .simpleblog-posts .post-additional-info span.post-category a {font-family:titilliumwebsemibold; }

.ph_simpleblog img { max-width: 100%; height: auto;}
.ph_simpleblog a {color: #bf1c2d;}
.ph_simpleblog a:hover {text-decoration: underline;}

/* footer */ 

.pos-footer-center .title_block h4 {color: #fff;}
.footer-center {padding: 30px 10px;}
#footer a {
    font-family: inherit;
}
.pos-footer-center {
    background: #f3f3f3;
    padding: 30px 0 15px;
}


@media (max-width: 1200px) {
 ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button{margin-top: 10px;display: inline-block;
    width: 100%;}
ul.product_list.grid a.ajax_add_to_cart_button {text-align: center;  padding: 10px 0;  line-height: 18px;}
.product-name {font-size: 16px; min-height: 55px; display: inline-block;}
}

@media (max-width: 991px) and (min-width: 768px) {
ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button { margin: 10px  0; padding: 5px 0; text-align: center;  background: #bc202d;}    
ul.product_list.grid a.button.ajax_add_to_cart_button span {  color: #fff;}

}

@media (max-width: 767px) {
.link-brand {flot:none;}
.mm_menus_li > a {padding: 15px 15px;}
.arrow {height: 50px; line-height: 50px;width: 50px;}
ul.tab_cates-slider4 li, ul.tab_cates-slider1 li, ul.tab_cates-slider2 li, ul.tab_cates-slider3 li {margin: 0 0 5px 5px;}
.ets_mm_megamenu_content {margin-bottom: 30px;}
.ets_mm_megamenu.hook-custom {margin-top: 0;}
#search_block_top {float: left;}
ul#header_links li {float: left; width: 100%; text-align: center;}
#header_links {right: 0; left: inherit;}
div#header_mobile_logo {float: left;margin-bottom: 10px;}
#hamburger { float: right;margin-top: 16px;}
.content_sortPagiBar.clearfix {height: 145px;}
.content-top.categories .box-title { margin-left: 0; text-align: center;}
.content-top a.cartucce-home, .content-top a.vitoni-home, .content-top a.termostatiche-home {
    width: 150px;
    float: none;
    margin: 0 auto;
    display: block;
}
.content-top .f-col {
    display: block;
    margin : 20px 0;
}
.slide {padding: 20px;}
.title_block h4 {
    background: #bc202d;
    color: #fff;
    padding: 0px 20px;
    width: 100%;
}


.simpleblog-posts .owl-controls {
/* position: relative; */
    width: auto;
    right: 35px;
    bottom: -25px;
    margin: 30px auto 0;
    /* display: inline-block !important; */
}
.ph_simpleblog .col-xs-4 {
    width: 50%;
}

}