
    .ember138279, #ember138279::before {
           width: 320px;
           height: 320px;
         }
         .ember138279::before {
           padding-top: 100%;
         }
@media (min-width: 735px) {
           .ember138279, #ember138279::before {
           width: 157px;
           height: 157px;
         }
         .ember138279::before {
           padding-top: 100%;
         }
         }
@media (min-width: 1069px) {
           .ember138279, #ember138279::before {
           width: 146px;
           height: 146px;
         }
         .ember138279::before {
           padding-top: 100%;
         }
         }
  