
    @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 300;
        src: url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-light.woff2") format('woff2'), url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-light.woff") format('woff'), url("/c/062223/etc/designs/chase-ux/css/fonts/opensans-light.ttf") format('truetype');
    }
    @font-face {
        font-family: "Open Sans";
        font-style: italic;
        font-weight: 300;
        src: url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-light-italic.woff2") format('woff2'), url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-light-italic.woff") format('woff'), url("/c/062223/etc/designs/chase-ux/css/fonts/opensans-light-italic.ttf") format('truetype');
    }
    @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        src: url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans.woff2") format('woff2'), url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans.woff") format('woff'), url("/c/062223/etc/designs/chase-ux/css/fonts/opensans.ttf") format('truetype');
    }
    @font-face {
        font-family: "Open Sans";
        font-style: italic;
        font-weight: 400;
        src: url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-italic.woff2") format('woff2'), url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-italic.woff") format('woff'), url("/c/062223/etc/designs/chase-ux/css/fonts/opensans-italic.ttf") format('truetype');
    }
    @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        src: url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-semibold.woff2") format('woff2'), url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-semibold.woff") format('woff'), url("/c/062223/etc/designs/chase-ux/css/fonts/opensans-semibold.ttf") format('truetype');
    }
    @font-face {
        font-family: "Open Sans";
        font-style: italic;
        font-weight: 600;
        src: url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-semibold-italic.woff2") format('woff2'), url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-semibold-italic.woff") format('woff'), url("/c/062223/etc/designs/chase-ux/css/fonts/opensans-semibold-italic.ttf") format('truetype');
    }
    @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        src: url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-bold.woff2") format('woff2'), url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-bold.woff") format('woff'), url("/c/062223/etc/designs/chase-ux/css/fonts/opensans-bold.ttf") format('truetype');
    }
    @font-face {
        font-family: "Open Sans";
        font-style: italic;
        font-weight: 700;
        src: url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-bold-italic.woff2") format('woff2'), url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-bold-italic.woff") format('woff'), url("/c/062223/etc/designs/chase-ux/css/fonts/opensans-bold-italic.ttf") format('truetype');
    }
    @font-face {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 900;
        src: url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-extrabold.woff2") format('woff2'), url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-extrabold.woff") format('woff'), url("/c/062223/etc/designs/chase-ux/css/fonts/opensans-extrabold.ttf") format('truetype');
    }
    @font-face {
        font-family: "Open Sans";
        font-style: italic;
        font-weight: 900;
        src: url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-extrabold-italic.woff2") format('woff2'), url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-extrabold-italic.woff") format('woff'), url("https://static.chasecdn.com/content/dam/cpo-static/fonts/opensans-extrabold-italic.ttf") format('truetype');
    }
