/* CSS Document */

#content {
    padding: 10px;
}

article.post img.wp-post-image {
    max-width: 100px;
}

div#primary .entry-header img.wp-post-image {
    max-width: none;
}

.stiri-top .entry-header img.wp-post-image {
    max-width: 236px !important;
}

#content #stiri li .stire-data {
    color: #fff;
    background: #038972;
    font-size: 11px;
    width: 60px;
    padding: 2px;
    /*	float:left;
text-align:center;
margin:-10px -5px 0 0;*/
}

#stiri {
    margin: 0 10px;
}

#content #stiri article h1 {
    border-bottom: 1px dotted #eee;
    font-size: 14px;
    font-weight: bold;
    width: 455px;
    line-height: 1;
    font-size: 15px;
    color: #333;
    padding: 5px 0;
}

#content #stiri h1 a {
    color: #038972;
}

#content #stiri .entry-header {
    background: #f6f6f6;
    margin-bottom: 5px;
}

#content #stiri .entry-content {
    margin: 0;
    padding: 0;
    line-height: normal;
    display: block;
}

#content #stiri .entry-content p {
    margin: 0;
    padding: 0;
}

#content #stiri img {
    border: 2px solid #eee;
    padding: 5px;
    background: #f4f4f4;
}

#content #stiri img.alignleft {
    margin: 0 10px 0 0;
    min-width: 100px;
}

#content .stiri article,
.category article {
    border: none;
    border-bottom: dotted 1px #eee;
    border-right: dotted 1px #eee;
    margin-bottom: 20px;
}

#content #stiri li {
    clear: both;
    min-height: 110px;
    border-bottom: 1px dotted #eee;
    margin-bottom: 10px;
}

#content #stiri .entry-thumb {
    /* display:none;*/
    display: block;
    float: left;
}

.single #content article h1 {
    border-bottom: 2px dotted #eee;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    font-size: 18px;
    color: #038972;
    background: #f7f7f7;
    padding: 15px 0 15px 10px;
    margin-bottom: 10px;
}

.archive #content article h1 {
    color: #038972;
    background: #f7f7f7;
    padding: 15px 0 15px 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #eee;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    color: #333;
    padding: 10px 10px 10px 0;
}

.single #content article .stire-data,
.single #content article .data-articol,
.category #content article .data-articol,
.archive #content .stire-data {
    color: #777;
    background: #eee;
    font-size: 11px;
    width: 60px;
    padding: 2px;
    float: left;
    text-align: center;
    margin: -20px 10px 0 10px;
}

.stiri-carusel .simply-scroll-clip ul li a {
    min-width: 600px;
    height: 32px;
    overflow: hidden;
}

body.category-numerele-trecute .coperte-revista img {
    border: none;
    max-width: none;
}

input.buton-link {
    border: none;
    background: #eee;
}

.numere-trecute-links a,
.brochure-link a {
    border: none;
    background: #eee;
}

.single-broshure-link {
    margin: 10px 10px 15px;
    text-align: right;
}

.single-broshure-link a {
    border: 2px solid #e9e9e9;
    padding: 4px;
}

/*#revista_mare_dreaptacontainer{ margin:0 !important;}*/

#zona-de-navigare {
    background: #eee;
    height: 30px;
    line-height: 30px;
    padding: 2px 10px;
    font-size: 12px;
    color: #555;
}

#zona-de-navigare .wp-pagenavi a,
#zona-de-navigare .wp-pagenavi span {
    border: none;
    padding: 3px 5px;
    margin: 0;
}

#zona-de-navigare .wp-pagenavi a:hover {
    background: #e7e7e7;
}

#zona-de-navigare .blue {
    color: #2ea1b6;
}

#zona-de-navigare .stanga {
    float: left;
}

#zona-de-navigare .dreapta {
    float: right;
}

#content .stiri-actualitate article h1.entry-title,
#content .stiri-top article h1 {
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #e1e1e1;
    background: #eee;
}

#content .stiri-actualitate article h1.entry-title {
    font-size: 12px;
    min-height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid #fff;
}

#content .stiri-actualitate article .entry-content p {
    text-align: justify;
}

.stiri-actualitate article {
    border: none;
    background: transparent;
}

#page .stiri-top .entry-content {
    padding: 5px;
}

#content .stiri-top article {
    min-height: 300px;
}

#content .stiri-top .entry-content p {
    line-height: 20px;
    margin: 0;
    text-align: justify;
}

#content .stiri-top article h1 {
    line-height: 20px;
}

#secondary2.widget-area .widget .linksusmic a {
    margin-bottom: 0;
}

.main-navigation li#menu-item-12 a {
    width: 80px;
}

.main-navigation li#menu-item-8 a {
    width: 120px
}

.numere-trecute-links a,
.brochure-link a,
.actualitate-contaigner .brochure-link a {
    padding: 3px 5px;
    color: #fff;
    background: #46a3a4;
    border: none;
    border-left: 5px solid #eee;
    letter-spacing: 1px;
    font-size: 8px;
    margin: 0;
}

.numere-trecute-links a,
.brochure-link a {
    font-size: 9px;
    text-transform: uppercase;
}

.numere-trecute-links a,
.brochure-link a:hover,
.actualitate-contaigner .brochure-link a:hover {
    background: #8bd7d8;
}

#page .stiri-actualitate .entry-content {
    height: 162px;
    overflow: hidden;
    margin-bottom: 10px;
}

.actualitate-contaigner {
    margin-top: 10px;
    /*border-top:3px solid #ddd;*/
}

.more-home {
    position: absolute;
    width: 46px;
    height: 16px;
    background: url('images/more-home.png') center no-repeat;
    right: 5px;
    top: -38px;
    color: #fff;
}

.brochure-link {
    margin-top: -10px;
}

/* LATERAL */

#logo-revista {
    margin: 20px 42px 0 42px;
}

#luna-si-anul {
    color: #3F8988;
    font-size: 15px;
    line-height: 17px;
    margin: 0 55px 8px;
    text-align: right;
}

#imagine-mare {
    margin: 0 42px;
}

#link-adiacent {
    margin: 30px 0;
}

#link-adiacent a {
    font-size: 12px;
    text-transform: uppercase;
}

#link-adiacent a.curent {
    color: #4AAEAF;
    font-weight: 800;
}

#link-adiacent a.trecute {
    color: #888;
}

#secondary2 #link-adiacent {
    margin: 0;
}

#secondary2 #link-adiacent a {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 3px solid #CCCCCC;
    display: block;
    padding: 8px 0;
    text-align: center;
    width: 205px;
}

#secondary2 #link-adiacent a.trecute {
    margin-bottom: 20px;
}

#secondary2 #aboneaza-te {
    margin-bottom: 20px;
}

/* SLIDER */

.coin-slider{
    overflow:visible !important;
}

#cs-buttons-slider-home2,
#cs-buttons-slider-home {
    display: none;
}

#cs-navigation-slider-home a {
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    line-height: 40px !important;
}

#slider-home .cs-title {
    width: 580px;
    background: #222222;
    color: #FFFFFF !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    letter-spacing: normal !important;
    line-height: normal !important;
}

#ver-mobil {
    display: inline-block;
    background: #333;
    padding: 5px 10px;
    color: #fff;
}

img.aligncenter{
    padding: 0 !important;
}


#zona-slider{
    height: 195px;
    min-height: 195px;
    overflow: hidden;
}

#imagine-mare .curent,
#imagine-mare .trecute{
	padding: 10px 0;
	display: inline-block;
}


/* #block-2{
    margin-left:-854px;
}
#block-3{
    margin-left:212px;
}

#block-2, #block-3{
    position: absolute;
    top: 0;
} */



/* #cookie-law-info-bar,
#cookie-law-info-again{
	display:block !important;
} */