
			  .abcd ul li{
			  line-height:26px ;
			  border-bottom:1px dashed #0a6590;
			  }
			  .abcd ul li a{
			  color:#707070!important ;
			  }
 						  .abcd ul li a:hover{
			  color:#5694b2!important ;
			  }
  