.altoContraste {
  background-color: #000;
  color: #fff;
}

.accesibilidad {
  height: 200px;
  position: fixed;
  right: -21px;
  top: 70%;
  z-index: 999;
}

.accesibilidad hr {
  border: 0.5px solid #b3b3b3;
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}

.accesibilidad p {
  color: #333;
  font-family: "Gelion-regular", sans-serif;
}

.accesibilidad p b {
  color: #333;
  font-family: "Gelion-bold", sans-serif;
}

.accesibilidad .accesibilidad-activa {
  background-color: #EAEAEA;
  border-radius: 10px;
  /* box-shadow: -2px 2px 6px 0px #949494; */
  height: 180px;
  right: 0;
  top: 50%;
  width: 180px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.accesibilidad-oculta-btn {
  right: 47%;
}

#btn-accesibilidad {
  cursor: pointer;
  display: block;
  height: 90px;
  position: absolute;
  right: 169px;
  width: 66px;
  z-index: 2;
}

#controles-accesibilidad::before {
  content: "";
  background-image: url("/wps/wcm/connect/banco-de-occidente/0e051a8c-ec5b-4ba3-977c-e7f1dccd8598/icono-accesibilidad.png?MOD=AJPERES");
  background-size: cover;
  cursor: pointer;
  display: block;
  height: 90px;
  position: absolute;
  left: -42px;
  width: 54px;
  z-index: 1;
}

#controles-accesibilidad div {
  display: block;
  height: 105px;
  position: absolute;
}

#controles-accesibilidad div:nth-child(1) {
  top: 0;
  width: 100%;
  padding: 6px 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#controles-accesibilidad div:nth-child(1) div {
  height: 30px;
  position: relative;
  text-align: center;
}

#controles-accesibilidad div:nth-child(1) div:nth-child(1) h2 {
  color: #103249;
  font-family: "Gelion-bold", sans-serif;
  font-size: 16px;
}

#controles-accesibilidad div:nth-child(1) div:nth-child(1) p {
  color: #878888;
  font-family: "Gelion-bold", sans-serif;
  font-size: 11px;
  line-height: 1;
}

#controles-accesibilidad div:nth-child(1) div:nth-child(2) {
  height: 60px;
  padding: 10px 5px;
}

#controles-accesibilidad div:nth-child(1) div:nth-child(2) div {
  display: block;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 60%;
}

#controles-accesibilidad div:nth-child(1) div:nth-child(2) div .add b {
  color: #fff;
}

#controles-accesibilidad div:nth-child(1) div:nth-child(2) div p {
  background-color: #fff;
  cursor: pointer;
  float: left;
  padding: 2px 0;
  width: 47%;
}

#controles-accesibilidad div:nth-child(1) div:nth-child(2) div p:nth-child(2) {
  background-color: #9d9c9c;
  font-size: 18px;
  padding: 0;
}

#controles-accesibilidad div:nth-child(3) {
  bottom: 0;
  width: 93%;
  padding: 18px 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#controles-accesibilidad div:nth-child(3) p {
  text-align: center;
}

.accesibilidad-oculta #controles-accesibilidad {
  display: block;
  width: 20px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.accesibilidad-oculta #btn-accesibilidad {
  right: 0;
}

.accesibilidad-oculta #controles-accesibilidad #fuente,
.accesibilidad-oculta #controles-accesibilidad #contraste {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.accesibilidad-oculta hr {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.switch {
  position: relative;
  display: block;
  margin: 5px auto 0;
  width: 49%;
  height: 34px;
}

.switch input {
  display: none;
}

.switch input:checked+.slider1 {
  background-color: #ececec;
}

.switch input:focus+.slider1 {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked+.slider1:before {
  -webkit-transform: translateX(43px);
  -moz-transform: translateX(43px);
  -ms-transform: translateX(43px);
  -o-transform: translateX(43px);
  transform: translateX(43px);
}

.slider1,
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b3b3b3;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.slider1 p,
.slider2 p {
  color: #fff;
  line-height: 2.2;
  margin: 0;
  position: absolute;
  text-align: center;
}

.slider1 p {
  right: 23%;
}

.slider2 p {
  left: 23%;
}

.slider1::before,
.slider2::before {
  border: 0.9px solid #fff;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  bottom: 4px;
  background-color: #6f6d6d;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.slider1::before {
  left: 4px;
}

.slider2::before {
  right: 4px;
}

.round {
  border-radius: 24px;
}

.round::before {
  border-radius: 50%;
}

/*TABLETS */
@media all and (min-width: 737px) {
  .accesibilidad {
    top: 58%;
  }
}

@media all and (min-width: 1024px) {
  .accesibilidad {
    top: 76%;
  }
}

/*DESKTOP */
@media all and (min-width: 1200px) {
  .accesibilidad {
    top: 76%;
  }
}

/*Hack IE10 */
@media screen and (min-width: 0\0) {