html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.nuevo-login_header, .nuevo-login {
  border-radius: 4px;
  display: none;
  margin: 0 auto;
  right: 20px;
  z-index: 1;
  text-decoration: none; }
  .nuevo-login_header .tab, .nuevo-login .tab {
    overflow: hidden;
    font-family: "Gelion-bold", sans-serif; }
    .nuevo-login_header .tab button, .nuevo-login .tab button {
      border: 0;
      background-color: #f3f6fe;
      color: #9fb1ce;
      cursor: pointer;
      font-size: 14px;
      outline: none;
      padding: 18px 16px;
      text-transform: uppercase;
      transition: 0.3s;
      width: 49.5%; }
      .nuevo-login_header .tab button:hover, .nuevo-login .tab button:hover {
        background-color: white; }
      .nuevo-login_header .tab button.active, .nuevo-login .tab button.active {
        background-color: white;
        color: #008ACC; }
      .nuevo-login_header .tab button:nth-child(1), .nuevo-login .tab button:nth-child(1) {
        float: left;
        border-radius: 10px 0 0 0; }
      .nuevo-login_header .tab button:nth-child(2), .nuevo-login .tab button:nth-child(2) {
        border-radius: 0 10px 0 0;
        float: right; }
  .nuevo-login_header .tabcontent, .nuevo-login .tabcontent {
    background-color: white;
    border-top: none;
    border-radius: 0 0 10px 10px;
    display: none;
    min-height: 300px;
    padding: 1em 12px 2em 12px;
    text-align: center; }
    .nuevo-login_header .tabcontent ul.links, .nuevo-login .tabcontent ul.links {
      display: block;
      margin: 0px auto;
      width: 65%; }
      .nuevo-login_header .tabcontent ul.links li, .nuevo-login .tabcontent ul.links li {
        color: #008ACC;
        float: left;
        font-size: 12px;
        text-align: center;
        text-decoration: underline;
        width: 50%; }
        .nuevo-login_header .tabcontent ul.links li a:hover, .nuevo-login .tabcontent ul.links li a:hover {
          color: #002449; }
    .nuevo-login_header .tabcontent .btn, .nuevo-login .tabcontent .btn {
      display: inline-block;
      color: #FFF;
      float: inherit;
      font-size: 13px !important;
      margin: 0px auto;
      transition: 0.3s;
      text-transform: capitalize !important; }
  .nuevo-login_header #Personas.tabcontent > div, .nuevo-login #Personas.tabcontent > div {
    display: block;
    margin: 0 auto;
    overflow: auto;
    width: 300px; }
    .nuevo-login_header #Personas.tabcontent > div img, .nuevo-login #Personas.tabcontent > div img {
      float: left;
      vertical-align: middle;
      margin-right: 15px;
      width: 65px; }
    .nuevo-login_header #Personas.tabcontent > div h3, .nuevo-login #Personas.tabcontent > div h3 {
      font-size: 1em;
      color: #606060;
      margin-top: 15px;
      padding: 0px;
      text-align: left;
      text-transform: uppercase; }
      .nuevo-login_header #Personas.tabcontent > div h3 b, .nuevo-login #Personas.tabcontent > div h3 b {
        font-family: inherit; }
  .nuevo-login_header #Personas.tabcontent p, .nuevo-login #Personas.tabcontent p {
    color: #606060;
    font-size: 13px;
    line-height: 15px;
    margin: 10px auto;
    text-align: left;
    width: 80%; }
    .nuevo-login_header #Personas.tabcontent p b, .nuevo-login #Personas.tabcontent p b {
      color: #606060; }
  .nuevo-login_header #Personas.tabcontent .lista, .nuevo-login #Personas.tabcontent .lista {
    color: #606060;
    float: left;
    margin: 0 auto;
    width: 50%; }
    .nuevo-login_header #Personas.tabcontent .lista li, .nuevo-login #Personas.tabcontent .lista li {
      font-size: 12px;
      list-style: inherit !important;
      text-align: left; }
  .nuevo-login_header #Personas.tabcontent .btn, .nuevo-login #Personas.tabcontent .btn {
    font-size: 11px !important;
    height: 30px;
    margin: 9px auto;
    padding: 8px 0;
    text-align: center;
    width: 150px;
    white-space: nowrap; }
  .nuevo-login_header #Personas.tabcontent .nuevo, .nuevo-login #Personas.tabcontent .nuevo {
    background-color: #008ACC; }
    .nuevo-login_header #Personas.tabcontent .nuevo:hover, .nuevo-login #Personas.tabcontent .nuevo:hover {
      background-color: #009be6; }
  .nuevo-login_header #Personas.tabcontent .viejo, .nuevo-login #Personas.tabcontent .viejo {
    border: 1px solid #008ACC;
    color: #008ACC !important; }
    .nuevo-login_header #Personas.tabcontent .viejo:hover, .nuevo-login #Personas.tabcontent .viejo:hover {
      color: #33bdff !important;
      border: 1px solid #33bdff; }
  .nuevo-login_header #Empresas.tabcontent .opcion, .nuevo-login #Empresas.tabcontent .opcion {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    margin: 0 auto;
    padding: 0;
    text-align: left; }
    .nuevo-login_header #Empresas.tabcontent .opcion p, .nuevo-login #Empresas.tabcontent .opcion p {
      color: black;
      display: inline-block;
      font-size: 12px;
      list-style: none;
      margin: 0 5px;
      width: 70%; }
      .nuevo-login_header #Empresas.tabcontent .opcion p b, .nuevo-login #Empresas.tabcontent .opcion p b {
        color: #002449; }
    .nuevo-login_header #Empresas.tabcontent .opcion .btn, .nuevo-login #Empresas.tabcontent .opcion .btn {
      font-size: 12px !important;
      height: 25px;
      margin: 5px auto;
      padding: 5px 0px;
      width: 80px !important; }
  .nuevo-login_header #Empresas.tabcontent .opcion.psp .btn, .nuevo-login #Empresas.tabcontent .opcion.psp .btn {
    background-color: #21325d; }
    .nuevo-login_header #Empresas.tabcontent .opcion.psp .btn:hover, .nuevo-login #Empresas.tabcontent .opcion.psp .btn:hover {
      background-color: #008acc; }
  .nuevo-login_header #Empresas.tabcontent .opcion.leasing .btn, .nuevo-login #Empresas.tabcontent .opcion.leasing .btn {
    background-color: #22315c; }
    .nuevo-login_header #Empresas.tabcontent .opcion.leasing .btn:hover, .nuevo-login #Empresas.tabcontent .opcion.leasing .btn:hover {
      background-color: #008acc; }
  .nuevo-login_header #Empresas.tabcontent .opcion.seguridad .btn, .nuevo-login #Empresas.tabcontent .opcion.seguridad .btn {
    background-color: #243461; }
    .nuevo-login_header #Empresas.tabcontent .opcion.seguridad .btn:hover, .nuevo-login #Empresas.tabcontent .opcion.seguridad .btn:hover {
      background-color: #008acc; }
  .nuevo-login_header #Empresas.tabcontent .opcion.occired .btn, .nuevo-login #Empresas.tabcontent .opcion.occired .btn {
    background-color: #294177; }
    .nuevo-login_header #Empresas.tabcontent .opcion.occired .btn:hover, .nuevo-login #Empresas.tabcontent .opcion.occired .btn:hover {
      background-color: #008acc; }
  .nuevo-login_header #Empresas.tabcontent .opcion.impuestos .btn, .nuevo-login #Empresas.tabcontent .opcion.impuestos .btn {
    background-color: #324c88; }
    .nuevo-login_header #Empresas.tabcontent .opcion.impuestos .btn:hover, .nuevo-login #Empresas.tabcontent .opcion.impuestos .btn:hover {
      background-color: #008acc; }
  .nuevo-login_header #Empresas.tabcontent .opcion.factoring .btn, .nuevo-login #Empresas.tabcontent .opcion.factoring .btn {
    background-color: #3e5b9d; }
    .nuevo-login_header #Empresas.tabcontent .opcion.factoring .btn:hover, .nuevo-login #Empresas.tabcontent .opcion.factoring .btn:hover {
      background-color: #008acc; }
  .nuevo-login_header #Empresas.tabcontent .opcion.occiredNuevo .btn, .nuevo-login #Empresas.tabcontent .opcion.occiredNuevo .btn {
    background-color: #4665ad; }
    .nuevo-login_header #Empresas.tabcontent .opcion.occiredNuevo .btn:hover, .nuevo-login #Empresas.tabcontent .opcion.occiredNuevo .btn:hover {
      background-color: #008acc; }

@media all and (min-width: 737px) {
  .nuevo-login_header, .nuevo-login {
    margin: 0 auto; }
    .nuevo-login_header #Personas.tabcontent, .nuevo-login #Personas.tabcontent {
      padding: 1em 30px 6px; }
      .nuevo-login_header #Personas.tabcontent p, .nuevo-login #Personas.tabcontent p {
        width: 50%; }
    .nuevo-login_header #Empresas.tabcontent, .nuevo-login #Empresas.tabcontent {
      padding: 2em 30px 6px; } }
@media all and (min-width: 1080px) {
  .nuevo-login {
    border-radius: 4px;
    display: inline-block !important;
    left: 75%;
    margin: 0;
    margin-right: -25%;
    max-width: 375px;
    position: absolute;
    right: 20px;
    text-decoration: none;
    top: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.6); }
    .nuevo-login .tab {
      overflow: hidden; }
      .nuevo-login .tab button {
        border: 0;
        background-color: #f3f6fe;
        color: #9fb1ce;
        cursor: pointer;
        font-size: 14px;
        outline: none;
        padding: 18px 16px;
        text-transform: uppercase;
        transition: 0.3s;
        width: 49.5%; }
        .nuevo-login .tab button:hover {
          background-color: white; }
        .nuevo-login .tab button.active {
          background-color: white;
          color: #008ACC; }
        .nuevo-login .tab button:nth-child(1) {
          float: left;
          border-radius: 10px 0 0 0; }
        .nuevo-login .tab button:nth-child(2) {
          border-radius: 0 10px 0 0;
          float: right; }
    .nuevo-login .tabcontent {
      background-color: white;
      border-top: none;
      border-radius: 0 0 10px 10px;
      display: none;
      padding: 1em 12px 2em 12px;
      text-align: center; }
      .nuevo-login .tabcontent ul.links li a:hover {
        color: #002449; }
      .nuevo-login .tabcontent .btn {
        display: inline-block;
        color: #FFF;
        float: inherit;
        font-size: 13px !important;
        margin: 0px auto;
        transition: 0.3s;
        text-transform: capitalize !important; }
    .nuevo-login #Personas.tabcontent h3 {
      font-size: 1em;
      padding: 0px; }
    .nuevo-login #Personas.tabcontent p {
      font-size: 13px;
      line-height: 15px;
      margin: 10px auto;
      width: 100%; }
    .nuevo-login #Empresas.tabcontent .opcion {
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      height: 30px;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      margin: 0 auto;
      padding: 0;
      text-align: left; }
      .nuevo-login #Empresas.tabcontent .opcion p {
        color: black;
        display: inline-block;
        font-size: 12px;
        list-style: none;
        margin: 0 5px;
        width: 70%; }
        .nuevo-login #Empresas.tabcontent .opcion p b {
          color: #002449; }
      .nuevo-login #Empresas.tabcontent .opcion .btn {
        font-size: 12px !important;
        height: 25px;
        margin: 5px auto;
        padding: 5px 0px;
        width: 80px !important; }
    .nuevo-login #Empresas.tabcontent .opcion.psp .btn {
      background-color: #21325d; }
      .nuevo-login #Empresas.tabcontent .opcion.psp .btn:hover {
        background-color: #008acc; }
    .nuevo-login #Empresas.tabcontent .opcion.leasing .btn {
      background-color: #22315c; }
      .nuevo-login #Empresas.tabcontent .opcion.leasing .btn:hover {
        background-color: #008acc; }
    .nuevo-login #Empresas.tabcontent .opcion.seguridad .btn {
      background-color: #243461; }
      .nuevo-login #Empresas.tabcontent .opcion.seguridad .btn:hover {
        background-color: #008acc; }
    .nuevo-login #Empresas.tabcontent .opcion.occired .btn {
      background-color: #294177; }
      .nuevo-login #Empresas.tabcontent .opcion.occired .btn:hover {
        background-color: #008acc; }
    .nuevo-login #Empresas.tabcontent .opcion.impuestos .btn {
      background-color: #324c88; }
      .nuevo-login #Empresas.tabcontent .opcion.impuestos .btn:hover {
        background-color: #008acc; }
    .nuevo-login #Empresas.tabcontent .opcion.factoring .btn {
      background-color: #3e5b9d; }
      .nuevo-login #Empresas.tabcontent .opcion.factoring .btn:hover {
        background-color: #008acc; }
    .nuevo-login #Empresas.tabcontent .opcion.occiredNuevo .btn {
      background-color: #4665ad; }
      .nuevo-login #Empresas.tabcontent .opcion.occiredNuevo .btn:hover {
        background-color: #008acc; }

  .nuevo-login_header {
    display: none !important; } }
