@media all and (min-width: 1200px) {
  @media not all and (min-resolution:.001dpcm) { @media {
    ul.menu-header{position: absolute; width: inherit;}
    .header nav ul.menu-header .option .mega-menu {position: fixed;}
    .header nav ul.menu-header .option .mini-menu{position: inherit; width: 100%;}
  }}
}
/*@media all and (max-width: 1199px) {
  @media not all and (min-resolution:.001dpcm) { @media {
    .header nav {position: absolute;border: 1px solid red; }
  }}
}*/

#carrusel3 .col3-special p {height: 90px;}
.btn.popup-trigger{text-decoration: none;}
.btn.popup-trigger p{ line-height: 15px;}
.popup-trigger {
  display: block;
  cursor: pointer;
  line-height: 20px !important;
  color: #008ACC !important;
  text-decoration: underline;
}

.popup {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(12, 14, 19, 0.77);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.popup-container p{
  text-align: left;
  margin: 1em;
}

.popup-container {
  position: relative;
  width: 80%;
  padding: 20px;
  max-width: 80%;
  margin: 20vh auto;
  max-height: 70vh;
  overflow: auto;
  background: #FFF;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.popup-container img{
  text-align: center;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
.popup-container .title{
  color: #008ACC;
  font-weight: bold;
  font-size: 20px;
}

.popup-container .popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.popup-container .popup-close::before, .popup-container .popup-close::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #5D5D5D;
}

.popup-container .popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}

.popup-container .popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}

.is-visible .popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.circular .regular{
  display: block;
}
.circular .circular-028{
  display: none;
}
.circular.activo .regular{
  display: none;
}
.circular.activo .circular-028{
  display: block;
}
.popup-tarjetas {
  margin-left: -moz-calc(10% + 20px);
  margin-left: -webkit-calc(10% + 20px);
  margin-left: calc(10% + 20px);
}
table .tabla-credencial{
  display: table;
}
.tabla-credencial tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.tabla-credencial tr{
  display: table-row;
}
.tabla-credencial{
  width: 100%;
  display: table;
  border-collapse: collapse;
  margin: 20px auto;
}

.tabla-credencial th {
  background-color: #008ACC;
  color: #FFF;
  font-size: 16px;
  padding: 5px 5px;
  text-align: center;
  display: table-cell;
  vertical-align: inherit;
  font-family: "Gelion-regular";
}

.tabla-credencial td {
  font-size: 14px;
  border: 1px solid #CCC;
  padding: 5px 5px;
  text-align: center;
  display: table-cell;
  width: auto;
  font-family: "Gelion-regular";
  color: #5D5D5D;
  white-space: normal;
}


.tabla-credencial tr td:first-child{
  font-family: "Gelion-regular";
}
.tabla-credencial tbody tr:nth-child(odd){
    background: #efefef;
}
.buscador-movil-contenedor form {
    background: white;
    padding: 0px;
}
@media only screen and (max-width: 800px) {
  .btn.popup-trigger p{ margin-top: 0px;}

#flip-scroll .tabla-credencial:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#flip-scroll * html .tabla-credencial {
  zoom: 1;
}
#flip-scroll *:first-child+html .tabla-credencial {
  zoom: 1;
}
#flip-scroll table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
#flip-scroll th, #flip-scroll td {
  margin: 0;
  vertical-align: top;
}
#flip-scroll th {
  text-align: center;
}
#flip-scroll table {
  display: block;
  position: relative;
  width: 100%;
}
#flip-scroll thead {
  display: block;
  float: left;
}
#flip-scroll tbody {
  display: block;
  width: auto;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}
#flip-scroll thead tr {
  display: block;
  background-color: #4FB2E1;
}
#flip-scroll th {
  display: block;
  text-align: center;
  height: 90px
}
#flip-scroll tbody tr {
  display: inline-block;
  vertical-align: top;
  width: 60%
}
#flip-scroll td {
  display: block;
  min-height: 1.25em;
  text-align: left;
  height: 90px;
  line-height: 11px;
}
#flip-scroll th {
  border-bottom: 0;
  border-left: 0;
}
#flip-scroll td {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
#flip-scroll tbody tr {
  border-left: 1px solid #babcbf;
}
#flip-scroll th:last-child, #flip-scroll td:last-child {
  border-bottom: 1px solid #babcbf;
}


}
@media only screen and (max-width: 500px) {
  #flip-scroll tbody tr {
  display: inline-block;
  vertical-align: top;
  width: auto
  }
  .popup-container {
    position: relative;
    width: 90%;
    padding: 10px;
    max-width: 90%;
  }
}
@media all and (min-width: 737px) {
   .popup-tarjetas {
      margin-left: 77px;
  }
}
@media screen and ( max-height: 601px ){

  .popup-container {
    margin: 10vh auto;
  }

}

@media screen and ( max-height: 400px ){

  .popup-container {
    margin: 10px auto;
    height: auto;
    max-height: 100vh;
  }

}
