
    ul.ulnav_acc{
		margin:0px;
		padding:0px;
	}
    ul.ulnav_acc li{
        list-style:none;
        float:left; 
        width:100%;
        border-bottom:solid 1px #eee;
        
    }
    ul.ulnav_acc li a{
        padding:10px 20px;
        display:block;
        color:#0A2463;
        text-decoration:none;
    }
    ul.ulnav_acc li a:hover{
    
        display:block;
        background:#d9e2f7;
        
    }
    /* paging  */
    .paging {
        padding:5px;
        text-align  : center;	
        font-size   : 12px;	

      }
      .paging a
      {
        padding:6px 12px 6px 12px;
        margin:4px;
        border              : 1px solid #999;
        text-decoration     : none; 
        font-size			:12px;
        color :#333 !important;
        background:#f5f5f5;
        border-radius:35%;
        text-align:center;
      }
      .paging a:hover
      {
        border           : 1px solid #fff;
        background-color : #2FB1FC;
        color			 : #fff !important;
        box-shadow:0px 0px 2px #666;
        
      }
      .paging span.current
      {
        padding:8px 14px 8px 14px;
        margin:4px;
        border              : 1px solid #fff;
        text-decoration     : none; 
        font-size			:12px;
        color			 : #fff !important;
        background-color : #2FB1FC;
        border-radius:35%;
        box-shadow:0px 0px 5px #666;
      }

      .paging span.disabled
      {
        padding:8px 14px 8px 14px;
        margin:4px;
        border              : 1px solid #ccc;
        text-decoration     : none; 
        font-size			:12px;
        color :#333 !important;
        background:#dedede;
        border-radius:35%;
        text-align:center;
 
      }
      /* paging */
      h1{
        font-size:220%;
      }
      .form-control, .form-select, .btn{
        font-size: 16px;;
      }
      .btn_styled{
        padding:3px 6px !important;
        font-size:14px;
      }
      @media screen and (min-width:1000px){
        .me-select-url{
          width:50% !important;
        }
        .me-alias-char{
          width:50% !important;
        }
      }
      @media screen and (max-width:460px){
        .me-select-url{
          width:100% !important;
          border-radius: 5px !important;
          margin-bottom: 1.5rem;
        }
        .me-alias-char{
          width:100% !important;
          border-radius: 5px !important;
        }
      }
      
      .ishovered{
        cursor: pointer;
      }
      .ishovered:hover{
        opacity: 0.8;
        filter:alpha(opacity=80);
      }
     
      .css_cardbtn_radius_rounded span{        
        border-radius:6px;
      }
      .css_cardbtn_radius_slightly span{
        border-radius:20px;
      }
      .color_custom{
        color:#236262;
      }
      .color_gelap{
        color:#333;
      }
      .color_light{
        color: #f5f5f5;;
      }
      .bg-gelap{
        background-color: #333;
      }
      .card_btn_parent span:hover{
        opacity: 0.8;
        filter:alpha(opacity=80);
      }
      .css_btn_link_color_dark span {
        color:#333;
      }
      .css_btn_link_color_dark span:hover {
        color:#333;
      }
      .css_btn_link_color_light span {
        color:#f5f5f5 !important;
      }
      .css_btn_link_color_light span:hover {
        color:#f5f5f5;
      }
      .css_btn_link_color_custom span {
        color:#236262;
      }
      .css_btn_link_color_custom span:hover {
        color:#236262;
      }
      .css_btn_link_bg_dark span {
        background-color: #333;
      }
      .css_btn_link_bg_light span {
        background-color: #f5f5f5;
      }
      .css_btn_link_bg_custom span {
        background-color: #236262;
      }
 