.vc_custom_1488966955333{background-image: url(../img/banner/bg1.jpg)!important;
background-position: center !important;
background-repeat: no-repeat !important;
background-size: cover !important;}
.vc_custom_1488968650533{margin-top: -3em !important;}
.vc_custom_1546611130644{padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;}
  .vc_custom_1488817829408{margin-bottom: 0px !important;}
  .vc_custom_1488897950376{background-color: #f5f5f7 !important;}
  .vc_custom_1488897938542{
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;}
  .vc_custom_1582187221686{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;}
.vc_custom_1487855727189{padding-left: 70px !important;}    
.vc_custom_1487855614213{background-color: #ffffff !important;}
  .vc_custom_1487855727189{padding-left: 70px !important;}
  .vc_custom_1582187221686{
    min-height:450px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;}
    .vc_custom_1546611042384{padding-top: 1.5em !important;
      padding-bottom: 1.5em !important;
      background: #f2674c url(img/logo.png) !important;
      background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}
      .vc_custom_1488815840309{margin-bottom: 0px !important;}
  .sc_layouts_menu_nav{
    position: relative;
    top: 15px;
  }
.pdt{
  padding-top:2em!important;
}
.pdb{
  padding-bottom:2em!important;
}
.mrt{
  margin-top:5em!important;
}
.mrb{
  margin-bottom: 1.6em!important;
}
.btnss{
  background: linear-gradient(#d13728, #9b1508)!important;

}
.scheme_dark.footer_wrap .widget_rss ul li a:hover, .scheme_dark.footer_wrap h1 a:hover, .scheme_dark.footer_wrap h2 a:hover, .scheme_dark.footer_wrap h3 a:hover, .scheme_dark.footer_wrap h4 a:hover, .scheme_dark.footer_wrap h5 a:hover, .scheme_dark.footer_wrap h6 a:hover, .footer_wrap .scheme_dark.vc_row h1 a:hover, .footer_wrap .scheme_dark.vc_row h2 a:hover, .footer_wrap .scheme_dark.vc_row h3 a:hover, .footer_wrap .scheme_dark.vc_row h4 a:hover, .footer_wrap .scheme_dark.vc_row h5 a:hover, .footer_wrap .scheme_dark.vc_row h6 a:hover, .footer_wrap .scheme_dark.vc_row .mcfwp-agree-input a:hover{
  color: #d72229!important;
}
.banner-captions{
  position: absolute;
  bottom:15%;
  z-index: 999;
  width: 100%;
  text-align: center;
}
.banner-captions h6{
  color: #fff!important;
    font-family: Lora;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    text-align: inherit;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 22px;
}
.banner-captions h2{
    color: #fff!important;
    font-family: Montserrat;
    white-space: nowrap;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 70px;
    line-height: 90px;
    margin: 0px;
} 
.banner-captions button{
  margin-top: 10px;
}
.sc_button{
  background: linear-gradient(#9b1508, #d13728)!important;
}
.sc_button:hover{
  background: linear-gradient(#d13728, #9b1508)!important;
}
#rev_slider_6_1_wrapper .custom.tparrows.tp-leftarrow:before {
    content: '\f2fa'!important;
    font-family: material-design-iconic-font!important;
}
#rev_slider_6_1_wrapper .custom.tparrows.tp-rightarrow:before {
    content: '\f2fb'!important;
    font-family: material-design-iconic-font!important;
}
#rev_slider_6_1{
    height:550px!important;
}
.sc_courses_item{
    min-height:370px!important;
    max-height:370px!important;
    overflow:hidden;
}
.sc_courses_item_thumb{
    min-height:240px!important;
    max-height:240px!important;
    text-align:center;
    
}
#rev_slider_6_1_wrapper{
    height:550px!important;
}
.img-size{
    min-height:250px;
    max-height:250px;
    overflow:hidden;
}
.div-box{
    min-height:400px;
    max-height:400px;
    overflow:hidden;
}
.foot-logo img{
    width:100px;
    padding:5px;
}
.partner-slider{
    height:auto!important;
}
.pi-box img{
    filter: grayscale(100%);
    transition: all ease-in-out 0.5s;
}
.pi-box img:hover{
    filter: grayscale(0%);
    transform: scale(1.2);
}
.explore{
    color:#fff!important;
}
.explore:hover{
    color:#fff!important;
}
.contacts_info{
    margin:0px!important;
}
.floatss{
    float:left;
    width:20%!important;
    text-align:center!important;
}
.foinstyle{
    min-height:200px!important;
    max-height:200px!important;
}
.foinstyle a img{
    height:100%!important;
    width:100%!important;
}
.sc_item_title{
    margin-bottom:0px!important;
}
.fwidth{
    width:100%!important;
}
.width4{
    width:25%!important;
}
.width3{
   width:33%!important; 
}

.bg-imagess{
    background-position:center;
    width:100%;
    height:400px;
    background-repeat:no-repeat;
    background-size:100% auto;
    background-color:#fff;
}
.main-titless span{
    float:right;
    color:#b82719;
}
.details-texts{
    text-align:left;
}
.details-texts h4{
    margin-top:0px;
}
.dsnone{
    display:none;
}
.miagesss{
    overflow:hidden;
    min-height:180px!important;
    max-height:180px!important;
    height:100%;
}
.miagesss1{
    overflow:hidden;
    min-height:230px!important;
    max-height:230px!important;
    height:100%;
    background-color:#ddd;
}
.font-sizess:after {
    background:transparent!important;
    content: '';
    height: 1px;
    width: 40px;
    position: absolute;
    bottom: 1px;
    left: 0;
}
.sc_team_short .sc_team_item_info{
    padding:10px!important;
}
.sc_team_item_info{
    min-height:100px!important;
    max-height:100px!important;
}
.maps{
    width:100%;
    height:400px;
}
.cont{
    text-align:left!important;
    margin-bottom:20px;
   
}
.cont h2{
    margin-bottom:10px;
     font-size:20px;
}
.cont P{
    margin:0px;
}
.pd0{
    padding-left:0px!important;
}
.facebookpage{
    margin-top:30px;
}
.clndr{
    margin:10px 0px;
}
.clndr .fc-col-header {
    background:#ddd!important;
}
#calendar-1{
    padding:10px;
}
#calendar-1 table tr td,table tr th{
    border:1px solid #ddd!important;
}
.fc .fc-daygrid-day-top{
    display:block!important;
}
.fc .fc-daygrid-day-frame{
    text-align: center!important;
   
}
.fc-daygrid-day-top{
     font-size: 30px!important;
     padding:25px 0px 10px 0px!important;
}
.fc-daygrid-day-events{
    
}
.scheme_default table th{
    background-color:rgba(151,26,11,0.1)!important
}
.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 10px 4px!important;
    font-size: 20px!important;
    color: #000!important;
}