/****************************
* Fontello Icons
****************************/
@font-face {
 font-family: 'eg-font';
  src: url('../fonts/egfont.eot?85610117');
  src: url('../fonts/egfont.eot?85610117#iefix') format('embedded-opentype'),
       url('../fonts/egfont.woff?85610117') format('woff'),
       url('../fonts/egfont.ttf?85610117') format('truetype'),
       url('../fonts/egfont.svg?85610117#egfont') format('svg');
  font-weight: normal;
  font-style: normal;

}

.eg-icon-soundcloud:before { content: '\e8ca'; } /* 'Ã®Â£Å ' */
.eg-icon-music:before { content: '\e858'; } /* 'Ã®Â¡Ë' */
.eg-icon-color-adjust:before { content: '\e862'; } /* 'Ã®Â¡Â¢' */
.eg-icon-mail:before { content: '\e868'; } /* 'Ã®Â¡Â¨' */
.eg-icon-mail-alt:before { content: '\e869'; } /* 'Ã®Â¡Â©' */
.eg-icon-heart:before { content: '\e86a'; } /* 'Ã®Â¡Âª' */
.eg-icon-heart-empty:before { content: '\e86b'; } /* 'Ã®Â¡Â«' */
.eg-icon-star:before { content: '\e86c'; } /* 'Ã®Â¡Â¬' */
.eg-icon-star-empty:before { content: '\e86d'; } /* 'Ã®Â¡Â­' */
.eg-icon-user:before { content: '\e879'; } /* 'Ã®Â¡Â¹' */
.eg-icon-male:before { content: '\e87a'; } /* 'Ã®Â¡Âº' */
.eg-icon-female:before { content: '\e87b'; } /* 'Ã®Â¡Â»' */
.eg-icon-video:before { content: '\e805'; } /* 'Ã® â¦' */
.eg-icon-videocam:before { content: '\e859'; } /* 'Ã®Â¡â¢' */
.eg-icon-picture-1:before { content: '\e803'; } /* 'Ã® Æ' */
.eg-icon-camera:before { content: '\e85a'; } /* 'Ã®Â¡Å¡' */
.eg-icon-camera-alt:before { content: '\e85b'; } /* 'Ã®Â¡âº' */
.eg-icon-th-large:before { content: '\e83c'; } /* 'Ã® Â¼' */
.eg-icon-th:before { content: '\e83d'; } /* 'Ã® Â½' */
.eg-icon-ok:before { content: '\e80d'; } /* 'Ã® Â' */
.eg-icon-ok-circled2:before { content: '\e877'; } /* 'Ã®Â¡Â·' */
.eg-icon-ok-squared:before { content: '\e878'; } /* 'Ã®Â¡Â¸' */
.eg-icon-cancel:before { content: '\e80a'; } /* 'Ã® Å ' */
.eg-icon-plus:before { content: '\e86e'; } /* 'Ã®Â¡Â®' */
.eg-icon-plus-circled:before { content: '\e876'; } /* 'Ã®Â¡Â¶' */
.eg-icon-plus-squared:before { content: '\e875'; } /* 'Ã®Â¡Âµ' */
.eg-icon-minus:before { content: '\e86f'; } /* 'Ã®Â¡Â¯' */
.eg-icon-minus-circled:before { content: '\e870'; } /* 'Ã®Â¡Â°' */
.eg-icon-minus-squared:before { content: '\e871'; } /* 'Ã®Â¡Â±' */
.eg-icon-minus-squared-alt:before { content: '\e872'; } /* 'Ã®Â¡Â²' */
.eg-icon-info-circled:before { content: '\e80f'; } /* 'Ã® Â' */
.eg-icon-info:before { content: '\e844'; } /* 'Ã®Â¡â' */
.eg-icon-home:before { content: '\e843'; } /* 'Ã®Â¡Æ' */
.eg-icon-link:before { content: '\e80e'; } /* 'Ã® Å½' */
.eg-icon-unlink:before { content: '\e83f'; } /* 'Ã® Â¿' */
.eg-icon-link-ext:before { content: '\e840'; } /* 'Ã®Â¡â¬' */
.eg-icon-lock:before { content: '\e856'; } /* 'Ã®Â¡â' */
.eg-icon-lock-open:before { content: '\e857'; } /* 'Ã®Â¡â' */
.eg-icon-eye:before { content: '\e841'; } /* 'Ã®Â¡Â' */
.eg-icon-eye-off:before { content: '\e842'; } /* 'Ã®Â¡â' */
.eg-icon-tag:before { content: '\e85c'; } /* 'Ã®Â¡Å' */
.eg-icon-thumbs-up:before { content: '\e887'; } /* 'Ã®Â¢â¡' */
.eg-icon-thumbs-up-alt:before { content: '\e888'; } /* 'Ã®Â¢Ë' */
.eg-icon-download:before { content: '\e88a'; } /* 'Ã®Â¢Å ' */
.eg-icon-upload:before { content: '\e889'; } /* 'Ã®Â¢â°' */
.eg-icon-reply:before { content: '\e8a6'; } /* 'Ã®Â¢Â¦' */
.eg-icon-forward:before { content: '\e874'; } /* 'Ã®Â¡Â´' */
.eg-icon-export-1:before { content: '\e873'; } /* 'Ã®Â¡Â³' */
.eg-icon-print:before { content: '\e886'; } /* 'Ã®Â¢â ' */
.eg-icon-gamepad:before { content: '\e837'; } /* 'Ã® Â·' */
.eg-icon-trash:before { content: '\e801'; } /* 'Ã® Â' */
.eg-icon-doc-text:before { content: '\e885'; } /* 'Ã®Â¢â¦' */
.eg-icon-doc-inv:before { content: '\e884'; } /* 'Ã®Â¢â' */
.eg-icon-folder-1:before { content: '\e83e'; } /* 'Ã® Â¾' */
.eg-icon-folder-open:before { content: '\e883'; } /* 'Ã®Â¢Æ' */
.eg-icon-folder-open-empty:before { content: '\e882'; } /* 'Ã®Â¢â' */
.eg-icon-rss:before { content: '\e880'; } /* 'Ã®Â¢â¬' */
.eg-icon-rss-squared:before { content: '\e881'; } /* 'Ã®Â¢Â' */
.eg-icon-phone:before { content: '\e87f'; } /* 'Ã®Â¡Â¿' */
.eg-icon-menu:before { content: '\e830'; } /* 'Ã® Â°' */
.eg-icon-cog-alt:before { content: '\e847'; } /* 'Ã®Â¡â¡' */
.eg-icon-wrench:before { content: '\e848'; } /* 'Ã®Â¡Ë' */
.eg-icon-basket-1:before { content: '\e87c'; } /* 'Ã®Â¡Â¼' */
.eg-icon-calendar:before { content: '\e87d'; } /* 'Ã®Â¡Â½' */
.eg-icon-calendar-empty:before { content: '\e87e'; } /* 'Ã®Â¡Â¾' */
.eg-icon-lightbulb:before { content: '\e88b'; } /* 'Ã®Â¢â¹' */
.eg-icon-resize-full-alt:before { content: '\e845'; } /* 'Ã®Â¡â¦' */
.eg-icon-move:before { content: '\e846'; } /* 'Ã®Â¡â ' */
.eg-icon-down-dir:before { content: '\e838'; } /* 'Ã® Â¸' */
.eg-icon-up-dir:before { content: '\e839'; } /* 'Ã® Â¹' */
.eg-icon-left-dir:before { content: '\e817'; } /* 'Ã® â' */
.eg-icon-right-dir:before { content: '\e818'; } /* 'Ã® Ë' */
.eg-icon-down-open:before { content: '\e83b'; } /* 'Ã® Â»' */
.eg-icon-left-open:before { content: '\e819'; } /* 'Ã® â¢' */
.eg-icon-right-open:before { content: '\e81a'; } /* 'Ã® Å¡' */
.eg-icon-angle-left:before { content: '\e820'; } /* 'Ã®  ' */
.eg-icon-angle-right:before { content: '\e81d'; } /* 'Ã® Â' */
.eg-icon-angle-double-left:before { content: '\e892'; } /* 'Ã®Â¢â' */
.eg-icon-angle-double-right:before { content: '\e893'; } /* 'Ã®Â¢â' */
.eg-icon-left-big:before { content: '\e81f'; } /* 'Ã® Å¸' */
.eg-icon-right-big:before { content: '\e81e'; } /* 'Ã® Å¾' */
.eg-icon-up-hand:before { content: '\e835'; } /* 'Ã® Âµ' */
.eg-icon-ccw-1:before { content: '\e891'; } /* 'Ã®Â¢â' */
.eg-icon-shuffle-1:before { content: '\e849'; } /* 'Ã®Â¡â°' */
.eg-icon-play:before { content: '\e88c'; } /* 'Ã®Â¢Å' */
.eg-icon-play-circled:before { content: '\e88e'; } /* 'Ã®Â¢Å½' */
.eg-icon-stop:before { content: '\e88f'; } /* 'Ã®Â¢Â' */
.eg-icon-pause:before { content: '\e88d'; } /* 'Ã®Â¢Â' */
.eg-icon-fast-fw:before { content: '\e890'; } /* 'Ã®Â¢Â' */
.eg-icon-desktop:before { content: '\e85d'; } /* 'Ã®Â¡Â' */
.eg-icon-laptop:before { content: '\e85e'; } /* 'Ã®Â¡Å¾' */
.eg-icon-tablet:before { content: '\e85f'; } /* 'Ã®Â¡Å¸' */
.eg-icon-mobile:before { content: '\e860'; } /* 'Ã®Â¡ ' */
.eg-icon-flight:before { content: '\e894'; } /* 'Ã®Â¢â' */
.eg-icon-font:before { content: '\e851'; } /* 'Ã®Â¡â' */
.eg-icon-bold:before { content: '\e852'; } /* 'Ã®Â¡â' */
.eg-icon-italic:before { content: '\e855'; } /* 'Ã®Â¡â¢' */
.eg-icon-text-height:before { content: '\e84f'; } /* 'Ã®Â¡Â' */
.eg-icon-text-width:before { content: '\e850'; } /* 'Ã®Â¡Â' */
.eg-icon-align-left:before { content: '\e84c'; } /* 'Ã®Â¡Å' */
.eg-icon-align-center:before { content: '\e84d'; } /* 'Ã®Â¡Â' */
.eg-icon-align-right:before { content: '\e84e'; } /* 'Ã®Â¡Å½' */
.eg-icon-search:before { content: '\e802'; } /* 'Ã® â' */
.eg-icon-indent-left:before { content: '\e866'; } /* 'Ã®Â¡Â¦' */
.eg-icon-indent-right:before { content: '\e867'; } /* 'Ã®Â¡Â§' */
.eg-icon-ajust:before { content: '\e84a'; } /* 'Ã®Â¡Å ' */
.eg-icon-tint:before { content: '\e84b'; } /* 'Ã®Â¡â¹' */
.eg-icon-chart-bar:before { content: '\e853'; } /* 'Ã®Â¡â' */
.eg-icon-magic:before { content: '\e807'; } /* 'Ã® â¡' */
.eg-icon-sort:before { content: '\e895'; } /* 'Ã®Â¢â¢' */
.eg-icon-sort-alt-up:before { content: '\e863'; } /* 'Ã®Â¡Â£' */
.eg-icon-sort-alt-down:before { content: '\e864'; } /* 'Ã®Â¡Â¤' */
.eg-icon-sort-name-up:before { content: '\e854'; } /* 'Ã®Â¡â' */
.eg-icon-sort-name-down:before { content: '\e865'; } /* 'Ã®Â¡Â¥' */
.eg-icon-coffee:before { content: '\e896'; } /* 'Ã®Â¢â' */
.eg-icon-food:before { content: '\e897'; } /* 'Ã®Â¢â' */
.eg-icon-medkit:before { content: '\e898'; } /* 'Ã®Â¢Ë' */
.eg-icon-puzzle:before { content: '\e899'; } /* 'Ã®Â¢â¢' */
.eg-icon-apple:before { content: '\e89a'; } /* 'Ã®Â¢Å¡' */
.eg-icon-facebook:before { content: '\e89b'; } /* 'Ã®Â¢âº' */
.eg-icon-gplus:before { content: '\e89c'; } /* 'Ã®Â¢Å' */
.eg-icon-tumblr:before { content: '\e8a0'; } /* 'Ã®Â¢ ' */
.eg-icon-twitter-squared:before { content: '\e8a2'; } /* 'Ã®Â¢Â¢' */
.eg-icon-twitter:before { content: '\e8a1'; } /* 'Ã®Â¢Â¡' */
.eg-icon-vimeo-squared:before { content: '\e89d'; } /* 'Ã®Â¢Â' */
.eg-icon-youtube:before { content: '\e89f'; } /* 'Ã®Â¢Å¸' */
.eg-icon-youtube-squared:before { content: '\e89e'; } /* 'Ã®Â¢Å¾' */
.eg-icon-picture:before { content: '\e800'; } /* 'Ã® â¬' */
.eg-icon-check:before { content: '\e810'; } /* 'Ã® Â' */
.eg-icon-back:before { content: '\e8a5'; } /* 'Ã®Â¢Â¥' */
.eg-icon-thumbs-up-1:before { content: '\e8a9'; } /* 'Ã®Â¢Â©' */
.eg-icon-thumbs-down:before { content: '\e8aa'; } /* 'Ã®Â¢Âª' */
.eg-icon-download-1:before { content: '\e8ab'; } /* 'Ã®Â¢Â«' */
.eg-icon-upload-1:before { content: '\e8ac'; } /* 'Ã®Â¢Â¬' */
.eg-icon-reply-1:before { content: '\e8a8'; } /* 'Ã®Â¢Â¨' */
.eg-icon-forward-1:before { content: '\e8a7'; } /* 'Ã®Â¢Â§' */
.eg-icon-export:before { content: '\e80b'; } /* 'Ã® â¹' */
.eg-icon-folder:before { content: '\e813'; } /* 'Ã® â' */
.eg-icon-rss-1:before { content: '\e8c8'; } /* 'Ã®Â£Ë' */
.eg-icon-cog:before { content: '\e832'; } /* 'Ã® Â²' */
.eg-icon-tools:before { content: '\e815'; } /* 'Ã® â¢' */
.eg-icon-basket:before { content: '\e812'; } /* 'Ã® â' */
.eg-icon-login:before { content: '\e833'; } /* 'Ã® Â³' */
.eg-icon-logout:before { content: '\e834'; } /* 'Ã® Â´' */
.eg-icon-resize-full:before { content: '\e816'; } /* 'Ã® â' */
.eg-icon-popup:before { content: '\e828'; } /* 'Ã® Â¨' */
.eg-icon-arrow-combo:before { content: '\e827'; } /* 'Ã® Â§' */
.eg-icon-left-open-1:before { content: '\e82a'; } /* 'Ã® Âª' */
.eg-icon-right-open-1:before { content: '\e82b'; } /* 'Ã® Â«' */
.eg-icon-left-open-mini:before { content: '\e822'; } /* 'Ã® Â¢' */
.eg-icon-right-open-mini:before { content: '\e823'; } /* 'Ã® Â£' */
.eg-icon-left-open-big:before { content: '\e824'; } /* 'Ã® Â¤' */
.eg-icon-right-open-big:before { content: '\e825'; } /* 'Ã® Â¥' */
.eg-icon-left:before { content: '\e836'; } /* 'Ã® Â¶' */
.eg-icon-right:before { content: '\e826'; } /* 'Ã® Â¦' */
.eg-icon-ccw:before { content: '\e808'; } /* 'Ã® Ë' */
.eg-icon-cw:before { content: '\e8c9'; } /* 'Ã®Â£â°' */
.eg-icon-arrows-ccw:before { content: '\e806'; } /* 'Ã® â ' */
.eg-icon-level-down:before { content: '\e8a3'; } /* 'Ã®Â¢Â£' */
.eg-icon-level-up:before { content: '\e8a4'; } /* 'Ã®Â¢Â¤' */
.eg-icon-shuffle:before { content: '\e814'; } /* 'Ã® â' */
.eg-icon-palette:before { content: '\e829'; } /* 'Ã® Â©' */
.eg-icon-list-add:before { content: '\e80c'; } /* 'Ã® Å' */
.eg-icon-back-in-time:before { content: '\e821'; } /* 'Ã® Â¡' */
.eg-icon-monitor:before { content: '\e81b'; } /* 'Ã® âº' */
.eg-icon-paper-plane:before { content: '\e8ad'; } /* 'Ã®Â¢Â­' */
.eg-icon-brush:before { content: '\e8ae'; } /* 'Ã®Â¢Â®' */
.eg-icon-droplet:before { content: '\e81c'; } /* 'Ã® Å' */
.eg-icon-clipboard:before { content: '\e8b0'; } /* 'Ã®Â¢Â°' */
.eg-icon-megaphone:before { content: '\e8b1'; } /* 'Ã®Â¢Â±' */
.eg-icon-key:before { content: '\e8af'; } /* 'Ã®Â¢Â¯' */
.eg-icon-github:before { content: '\e8b3'; } /* 'Ã®Â¢Â³' */
.eg-icon-github-circled:before { content: '\e8b4'; } /* 'Ã®Â¢Â´' */
.eg-icon-flickr:before { content: '\e8b2'; } /* 'Ã®Â¢Â²' */
.eg-icon-flickr-circled:before { content: '\e8b5'; } /* 'Ã®Â¢Âµ' */
.eg-icon-vimeo:before { content: '\e8b6'; } /* 'Ã®Â¢Â¶' */
.eg-icon-vimeo-circled:before { content: '\e8b7'; } /* 'Ã®Â¢Â·' */
.eg-icon-twitter-1:before { content: '\e8b8'; } /* 'Ã®Â¢Â¸' */
.eg-icon-twitter-circled:before { content: '\e8b9'; } /* 'Ã®Â¢Â¹' */
.eg-icon-facebook-1:before { content: '\e8ba'; } /* 'Ã®Â¢Âº' */
.eg-icon-facebook-circled:before { content: '\e8bb'; } /* 'Ã®Â¢Â»' */
.eg-icon-facebook-squared:before { content: '\e8bc'; } /* 'Ã®Â¢Â¼' */
.eg-icon-gplus-1:before { content: '\e8bd'; } /* 'Ã®Â¢Â½' */
.eg-icon-gplus-circled:before { content: '\e8be'; } /* 'Ã®Â¢Â¾' */
.eg-icon-pinterest:before { content: '\e8bf'; } /* 'Ã®Â¢Â¿' */
.eg-icon-pinterest-circled:before { content: '\e8c0'; } /* 'Ã®Â£â¬' */
.eg-icon-tumblr-1:before { content: '\e8c1'; } /* 'Ã®Â£Â' */
.eg-icon-tumblr-circled:before { content: '\e8c2'; } /* 'Ã®Â£â' */
.eg-icon-linkedin:before { content: '\e8c3'; } /* 'Ã®Â£Æ' */
.eg-icon-linkedin-circled:before { content: '\e8c4'; } /* 'Ã®Â£â' */
.eg-icon-dribbble:before { content: '\e8c5'; } /* 'Ã®Â£â¦' */
.eg-icon-dribbble-circled:before { content: '\e8c6'; } /* 'Ã®Â£â ' */
.eg-icon-picasa:before { content: '\e8c7'; } /* 'Ã®Â£â¡' */
.eg-icon-ok-1:before { content: '\e811'; } /* 'Ã® â' */
.eg-icon-doc:before { content: '\e809'; } /* 'Ã® â°' */
.eg-icon-left-open-outline:before { content: '\e82e'; } /* 'Ã® Â®' */
.eg-icon-left-open-2:before { content: '\e82c'; } /* 'Ã® Â¬' */
.eg-icon-right-open-outline:before { content: '\e82f'; } /* 'Ã® Â¯' */
.eg-icon-right-open-2:before { content: '\e82d'; } /* 'Ã® Â­' */
.eg-icon-equalizer:before { content: '\e83a'; } /* 'Ã® Âº' */
.eg-icon-layers-alt:before { content: '\e804'; } /* 'Ã® â' */
.eg-icon-pencil-1:before { content: '\e831'; } /* 'Ã® Â±' */
.eg-icon-align-justify:before { content: '\e861'; } /* 'Ã®Â¡Â¡' */
.eg-icon-wistia:before { content: '\e89f'; } /* 'ÃÂ®ÃÂ¢ÃÂ¸' */
.eg-icon-wistia-squared:before { content: '\e89e'; } /* 'ÃÂ®ÃÂ¢ÃÂ¾' */