
  /* --- trash ads styles for webspectator --- */

  .epom-sticky-footer {
    min-height: 10px;
    height: auto !important;
  }

  .ws-adhesion-bar {
    position: initial !important;
    margin-top: -18px !important;
    background: #DDDED4 !important;
  }

  .ws-adhesion-banner {
    position: fixed !important;
    bottom: 0 !important;
  }
