:root {
    --green: #344854;
    --green-dark: #1c2b33;
    --gray: #f5f6f6;
    --font-gray: #cbd2d9;
    --white: #fff;
    --black: #000;
    --red: #fa3e3e;
    --blue: #385898;
    --black-rgb: 0,0,0;
    --gray-rgb: 52,72,84
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-family: Roboto,Helvetica,Helvetica Neue,sans-serif;
    font-size: 14px;
    margin: 0
}

ul {
    padding: 0
}

li {
    list-style: none
}

a {
    text-decoration: none
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0
}

.home_getSupport__H0PKj {
    background-color: var(--green-dark);
    padding: 80px 48px
}

.home_getSupport__H0PKj h1 {
    color: var(--white);
    font-size: 48px;
    font-weight: 500;
    margin: 0 auto;
    max-width: 1232px
}

.home_helpSection__XNA-T {
    margin: 40px auto;
    width: 930px
}

.home_helpSection__XNA-T .home_heading__dCp4f {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px
}

.home_helpSection__XNA-T .home_heading__dCp4f h2,.home_selectIssue__jazpz h2 {
    color: rgba(var(--black-rgb),.75);
    font-size: 20px;
    margin-bottom: 5px
}

.home_helpSection__XNA-T .home_heading__dCp4f p {
    color: rgba(var(--black-rgb),.85)
}

.home_selectIssue__jazpz {
    align-items: center;
    border: .5px solid rgba(var(--black-rgb),.4);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 32px
}

.home_selectIssue__jazpz h2 {
    font-size: 18px
}

.home_selectIssue__jazpz .home_selectIssueContainer__7z93g {
    display: flex;
    flex-direction: column;
    width: 90%
}

.home_selectIssue__jazpz>p {
    color: rgba(var(--black-rgb),.75);
    font-size: 13px
}

.home_selectIssue__jazpz .home_item__Z\+\+3w {
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 1px rgba(0,0,0,.1),0 0 4px rgba(0,0,0,.1);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
    padding: 16px
}

.home_selectIssue__jazpz .home_item__Z\+\+3w.home_active__cJEpG {
    background-color: var(--gray)
}

.home_selectIssue__jazpz .home_item__Z\+\+3w span {
    color: var(--blue);
    font-size: 13px
}

.home_selectIssue__jazpz .home_item__Z\+\+3w h4,.home_selectIssue__jazpz .home_item__Z\+\+3w p {
    color: rgba(var(--black-rgb),.75);
    line-height: 20px
}

.home_selectIssue__jazpz .home_item__Z\+\+3w p {
    color: rgba(var(--black-rgb),.85);
    font-weight: 400
}

.home_selectIssue__jazpz .home_getHelp__M9duH {
    width: 90%
}

.home_selectIssue__jazpz .home_getHelpContainer__ZBLPS {
    margin: 30px 0
}

.home_selectIssue__jazpz .home_getHelpContainer__ZBLPS h3 {
    color: rgba(var(--black-rgb),.85);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 4px
}

.home_selectIssue__jazpz .home_getHelpContainer__ZBLPS p {
    color: rgba(var(--black-rgb),.75);
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px
}

.home_helpful__qNGuK {
    background-color: var(--gray)
}

.home_helpful__qNGuK .home_container__BsarH {
    margin: 0 auto;
    max-width: 1232px;
    padding: 48px
}

.home_helpful__qNGuK .home_container__BsarH h4 {
    color: var(--green);
    letter-spacing: .25px;
    line-height: 20px
}

.home_helpful__qNGuK .home_container__BsarH .home_yesNo__VPx1E {
    align-items: center;
    display: flex;
    margin-top: 20px
}

.home_helpful__qNGuK .home_helpfulMessage__wYyWR {
    display: flex
}

.home_helpful__qNGuK .home_helpfulMessage__wYyWR p {
    color: var(--green-dark);
    letter-spacing: .023rem;
    margin-left: 5px;
    margin-top: 2px
}

.home_helpful__qNGuK .home_helpfulMessage__wYyWR i {
    font-size: 20px
}

.home_helpful__qNGuK .home_yesNo__VPx1E .home_item__Z\+\+3w {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-right: 20px
}

.home_helpful__qNGuK .home_yesNo__VPx1E .home_icon__ywKit {
    border: 1px solid var(--green);
    border-radius: 1px;
    font-size: 18px;
    height: 24px;
    line-height: 26px;
    margin-right: 7px;
    text-align: center;
    width: 21px
}

.home_helpful__qNGuK .home_yesNo__VPx1E .home_text__iyJ7T {
    color: var(--green)
}

.home_helpful__qNGuK .home_yesNo__VPx1E .home_item__Z\+\+3w:hover {
    opacity: .75
}

.home_formGroup__-zmY- {
    margin-bottom: 16px
}

.home_formGroupNoBorder__R3Jry {
    margin-bottom: 0
}

.home_formGroup__-zmY- label {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px
}

.home_formGroup__-zmY- label span {
    font-weight: 400
}

.home_input__i-nGv {
    background-color: var(--gray);
    border: 1px solid var(--font-gray);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--green-dark);
    font-size: 15px;
    padding: 14px 12px;
    width: 100%
}

.home_input__i-nGv::-webkit-inner-spin-button,.home_input__i-nGv::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.home_input__i-nGv[type=number] {
    -moz-appearance: textfield
}

.home_formGroup__-zmY- textarea {
    resize: vertical
}

.home_error__80pVC {
    color: var(--red);
    font-size: 13px;
    margin-left: 5px;
    margin-top: 5px
}

.home_button__ifmXL {
    background-color: var(--green);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    padding: 0 16px
}

.home_termsLabel__pgCsD {
    margin-bottom: 0;
    margin-left: 20px;
    margin-top: 2px
}

.home_formCheckInput__ZCmfo {
    position: absolute
}

@media only screen and (max-width: 1024px) {
    .home_helpSection__XNA-T {
        width:90%
    }

    .home_helpSection__XNA-T .home_heading__dCp4f p {
        text-align: center
    }

    .home_selectIssue__jazpz {
        padding: 32px 6px
    }

    .home_selectIssue__jazpz>p {
        text-align: center
    }

    .home_selectIssue__jazpz .home_getHelpContainer__ZBLPS {
        margin-bottom: 0
    }

    .home_selectIssue__jazpz .home_item__Z\+\+3w span {
        margin-left: 10px
    }

    .home_getSupport__H0PKj {
        padding: 80px 20px
    }

    .home_getSupport__H0PKj h1 {
        font-size: 40px
    }

    .home_helpful__qNGuK .home_container__BsarH {
        padding: 48px 38px
    }
}

.modal_modalContainer__Oon-2 {
    background-color: #000;
    background-color: rgba(0,0,0,.4);
    display: block;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4
}

.modal_modalForm__r3sds {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: modal_animatetop__VbABQ;
    animation-name: modal_animatetop__VbABQ;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    margin: auto;
    padding: 0;
    position: relative;
    width: 560px
}

.modal_modalTitle__PKV6d {
    background-color: var(--white);
    border-bottom: 1px solid var(--gray);
    padding: 16px 20px
}

.modal_modalTitle__PKV6d h2 {
    color: rgba(var(--black-rgb),.85);
    font-size: 15px;
    font-weight: 600
}

.modal_modalInner__J4Hz\+ {
    padding: 12px 20px
}

.modal_passwdLabel__oZhwo {
    color: var(--green-dark);
    display: block;
    font-size: 14px;
    margin-bottom: 10px
}

.modal_passwdInput__wM\+Ak {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%
}

.modal_passwdInput__wM\+Ak label {
    font-size: 13px;
    margin-bottom: 5px
}

.modal_passwdInput__wM\+Ak input,.modal_passwdInput__wM\+Ak textarea {
    background-color: var(--gray);
    border: 1px solid var(--font-gray);
    border-radius: 4px;
    color: var(--green-dark);
    font-size: 14px;
    outline: none;
    padding: 14px 12px;
    resize: none
}

.modal_passwdInputError__23-1C {
    border: 1px solid var(--red)!important
}

.modal_error__dW3yB {
    color: var(--red);
    font-size: 13px;
    margin-left: 5px;
    margin-top: 5px
}

.modal_passwdIncLabel__fndue {
    color: var(--red)!important;
    margin-bottom: 0!important;
    margin-top: 2px
}

.modal_modalFooter__uO2gL {
    background-color: var(--white);
    border-top: 1px solid var(--gray);
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 1rem
}

.modal_button__10Hdx {
    background-color: var(--green);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    margin-top: 12px;
    padding: 0 16px
}

.modal_buttonCancel__xYZGI {
    background-color: initial;
    border: 1px solid transparent;
    color: #050505;
    margin-right: 7px
}

@media only screen and (max-width: 768px) {
    .modal_modalForm__r3sds {
        width:95%
    }
}

.header_topHeader__zPVM5 {
    background-color: var(--gray);
    height: 80px;
    justify-content: space-between;
    padding: 0 20px
}

.header_topHeader__zPVM5,.header_topHeader__zPVM5 .header_logoNav__qlT8Z {
    align-items: center;
    display: flex
}

.header_topHeader__zPVM5 .header_logoNav__qlT8Z img {
    margin-right: 32px
}

.header_topHeader__zPVM5 .header_logoNav__qlT8Z li {
    display: inline-block;
    padding: 0 14px
}

.header_topHeader__zPVM5 .header_logoNav__qlT8Z li a {
    color: var(--green);
    font-weight: 700;
    letter-spacing: .25px;
    line-height: 19px
}

.header_topHeader__zPVM5 .header_logoNav__qlT8Z li a:after {
    background: var(--font-gray);
    content: "";
    display: block;
    height: 2px;
    transition: width .3s;
    width: 0
}

.header_topHeader__zPVM5 .header_logoNav__qlT8Z li a:hover:after {
    width: 100%
}

.header_topHeader__zPVM5 .header_rightSide__o4Sa4 {
    align-items: center;
    display: flex
}

.header_topHeader__zPVM5 .header_rightSide__o4Sa4 .header_searchIcon__WPvwq {
    margin-right: 25px
}

.header_topHeader__zPVM5 .header_rightSide__o4Sa4 .header_searchIcon__WPvwq i {
    color: var(--green);
    font-size: 20px;
    font-weight: 700
}

.header_topHeader__zPVM5 .header_rightSide__o4Sa4 .header_startNow__BkVSZ {
    align-items: center;
    background-color: var(--green);
    border-radius: 3px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    overflow: hidden
}

.header_topHeader__zPVM5 .header_rightSide__o4Sa4 .header_startNow__BkVSZ a,.header_topHeader__zPVM5 .header_rightSide__o4Sa4 .header_startNow__BkVSZ i {
    color: var(--white);
    font-weight: 700
}

.header_topHeader__zPVM5 .header_rightSide__o4Sa4 .header_startNow__BkVSZ a {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 18px;
    transition: background .3s;
    width: 100%
}

.header_topHeader__zPVM5 .header_rightSide__o4Sa4 .header_startNow__BkVSZ a:hover {
    background-color: rgba(var(--gray-rgb),.75)
}

.header_bottomHeader__wFJlz {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 20px
}

.header_bottomHeader__wFJlz .header_title__wWauF {
    color: var(--green);
    font-size: 14px;
    font-weight: 700
}

.header_bottomHeader__wFJlz .header_getSupport__xaO5G,.header_menuOverlay__fwOT1 .header_getSupport__xaO5G {
    align-items: center;
    display: flex
}

.header_bottomHeader__wFJlz .header_getSupport__xaO5G .header_icon__u-7Am,.header_menuOverlay__fwOT1 .header_getSupport__xaO5G .header_icon__u-7Am {
    border: 1px solid var(--green);
    border-radius: 50%;
    color: var(--green);
    height: 24px;
    line-height: 28px;
    margin-right: 10px;
    opacity: .85;
    text-align: center;
    width: 24px
}

.header_bottomHeader__wFJlz .header_getSupport__xaO5G .header_icon__u-7Am i,.header_menuOverlay__fwOT1 .header_getSupport__xaO5G .header_icon__u-7Am i {
    font-size: 16px
}

.header_bottomHeader__wFJlz .header_getSupport__xaO5G .header_text__l6NEj,.header_menuOverlay__fwOT1 .header_getSupport__xaO5G .header_text__l6NEj {
    color: var(--green);
    font-weight: 700;
    letter-spacing: .25px;
    opacity: .85
}

.header_menuButton__qlgBF {
    background-color: initial;
    border: none;
    color: var(--green);
    font-size: 32px;
    outline: none
}

@media only screen and (max-width: 1024px) {
    .header_menuOverlay__fwOT1 {
        background-color:var(--gray);
        box-sizing: border-box;
        height: calc(100vh - 80px);
        padding: 30px 20px;
        position: fixed;
        top: 80px;
        width: 100%
    }

    .header_searchMobile__wdmCF {
        box-sizing: border-box;
        position: relative
    }

    .header_searchMobile__wdmCF i {
        color: #67788a;
        font-size: 30px;
        position: absolute;
        top: 10px
    }

    .header_searchMobile__wdmCF input {
        background-color: initial;
        border: none;
        border-bottom: 1px solid #67788a;
        box-sizing: border-box;
        color: #344854;
        font-size: 20px;
        font-weight: 600;
        padding: 14px 20px 14px 40px;
        width: 100%
    }

    .header_searchMobile__wdmCF input:focus {
        outline: none
    }

    .header_menuOverlay__fwOT1 ul {
        margin-top: 30px
    }

    .header_menuOverlay__fwOT1 li a {
        color: #344854;
        display: block;
        font-size: 24px;
        padding: 12px 0
    }

    .header_menuOverlay__fwOT1 a.header_startNow__BkVSZ {
        background-color: #344854;
        border-radius: 4px;
        color: #fff;
        display: block;
        font-weight: 600;
        margin-top: 40px;
        padding: 12px 0;
        text-align: center;
        width: 100%
    }

    .header_menuOverlay__fwOT1 .header_getSupport__xaO5G {
        justify-content: center;
        margin-top: 20px
    }
}

footer {
    background-color: var(--green-dark)
}

.footer_footer__LCcXX {
    margin: 0 auto;
    max-width: 1232px;
    padding: 48px 0 0
}

.footer_menusContainer__\+5Ax9 {
    display: flex
}

.footer_footer__LCcXX .footer_item__DugHB {
    width: 25%
}

.footer_footer__LCcXX .footer_item__DugHB .footer_menu__XHa8l {
    box-sizing: border-box;
    padding: 24px;
    width: 55%
}

.footer_footer__LCcXX .footer_menu__XHa8l span {
    color: var(--font-gray);
    font-size: 18px;
    letter-spacing: .03rem;
    line-height: 25px;
    padding-bottom: 12px
}

.footer_footer__LCcXX .footer_menu__XHa8l li {
    padding-bottom: 12px
}

.footer_footer__LCcXX .footer_menu__XHa8l li a {
    color: var(--font-gray);
    font-size: 13px;
    letter-spacing: .023rem;
    line-height: 18px
}

.footer_footer__LCcXX .footer_menu__XHa8l li a:hover {
    color: var(--white)
}

.footer_footer__LCcXX .footer_copyright__NOEbY {
    border-top: 1px solid #465a69;
    display: flex;
    padding-bottom: 48px;
    padding-top: 48px
}

.footer_copyright__NOEbY .footer_socials__UQRrx {
    display: flex;
    flex-direction: column;
    width: calc(25% + 24px)
}

.footer_copyright__NOEbY .footer_socials__UQRrx a {
    color: var(--font-gray);
    margin-bottom: 12px
}

.footer_copyright__NOEbY .footer_socials__UQRrx>a:hover {
    color: var(--white)
}

.footer_copyright__NOEbY .footer_socials__UQRrx i {
    color: var(--font-gray);
    font-size: 28px;
    margin-right: 10px
}

.footer_copyright__NOEbY .footer_links__OH7DL {
    display: flex;
    flex-direction: column;
    width: 100%
}

.footer_copyright__NOEbY .footer_links__OH7DL>div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px
}

.footer_copyright__NOEbY .footer_links__OH7DL a {
    color: var(--font-gray);
    font-size: 13px;
    min-width: 14.2%
}

.footer_copyright__NOEbY .footer_links__OH7DL a:hover {
    color: var(--white)
}

.footer_footer__LCcXX .footer_menu__XHa8l span i {
    display: none
}

@media only screen and (max-width: 1024px) {
    .footer_footer__LCcXX .footer_copyright__NOEbY {
        border-top:none;
        flex-direction: column;
        padding: 48px 20px
    }

    .footer_copyright__NOEbY .footer_socials__UQRrx {
        border-bottom: 1px solid #465a69;
        margin-bottom: 20px;
        padding-bottom: 20px;
        width: 100%
    }

    .footer_copyright__NOEbY .footer_links__OH7DL a {
        line-height: 23px;
        margin-right: 25px;
        white-space: nowrap
    }

    .footer_copyright__NOEbY .footer_links__OH7DL>div:first-child {
        border-bottom: 1px solid #465a69;
        margin-bottom: 20px;
        padding-bottom: 20px
    }

    .footer_footer__LCcXX .footer_item__DugHB {
        width: 100%
    }

    .footer_menusContainer__\+5Ax9 {
        flex-direction: column
    }

    .footer_footer__LCcXX .footer_item__DugHB .footer_menu__XHa8l {
        padding-top: 0;
        width: 100%
    }

    .footer_footer__LCcXX .footer_menu__XHa8l span {
        border-bottom: 1px solid #465a69;
        display: block;
        padding-bottom: 20px;
        position: relative
    }

    .footer_footer__LCcXX .footer_menu__XHa8l span i {
        display: inline-block;
        font-size: 24px;
        position: absolute;
        right: 0;
        top: 2px;
        transition: -webkit-transform .3s;
        transition: transform .3s;
        transition: transform .3s,-webkit-transform .3s
    }

    .footer_footer__LCcXX .footer_menu__XHa8l span i.footer_active__gxzw3 {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }

    .footer_footer__LCcXX .footer_menu__XHa8l ul {
        margin-bottom: 0
    }
}

.modal_modalContainer__relmI {
    background-color: rgba(0,0,0,.5);
    display: block;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4
}

.modal_modalForm__mC5AY {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: modal_animatetop__iQ\+b1;
    animation-name: modal_animatetop__iQ\+b1;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    margin: auto;
    padding: 0;
    position: relative;
    width: 445px
}

.modal_modalTitle__4EXFw {
    background-color: #f5f6f7;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 12px
}

.modal_modalTitle__4EXFw h2 {
    color: rgba(var(--black-rgb),.85);
    font-size: 14px;
    font-weight: 600
}

.modal_modalInner__kyokl {
    padding: 0 12px 12px
}

.modal_section__Wpx6Q {
    border: none;
    padding: 10px 0
}

.modal_section__Wpx6Q p {
    color: #1d2129;
    font-size: 14px;
    letter-spacing: .023rem;
    line-height: 20px;
    margin-bottom: 10px
}

.modal_buttonContainer__-WvHp {
    border-top: 1px solid #e5e5e5;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px
}

.modal_button__9wcQS {
    background-color: #f5f6f7;
    border: 1px solid #dadde1;
    border-radius: 2px;
    color: #444950;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 26px;
    margin-left: 16px;
    padding: 0 10px
}

.modal_icon__Skc1l {
    align-items: center;
    display: flex;
    width: 100%
}

.modal_icon__Skc1l i {
    border: 1px solid var(--red);
    border-radius: 50%;
    color: var(--red);
    font-size: 24px;
    height: 26px;
    line-height: 25px;
    text-align: center;
    width: 26px
}

.modal_icon__Skc1l h4 {
    color: #1d2129;
    letter-spacing: .023rem;
    line-height: 20px;
    margin-left: 10px
}

.modal_iconSuccess__j2z2n i {
    border: 1px solid #42b72a;
    color: #42b72a
}

@media only screen and (max-width: 768px) {
    .modal_modalForm__mC5AY {
        width:95%
    }
}

.chat_chatNowContainer__JssDh {
    background-color: #cad1d8;
    bottom: 0;
    color: #fff;
    display: flex;
    left: 0;
    position: fixed;
    right: 0;
    transition-duration: 1s;
    transition-property: all;
    z-index: 99999
}

.chat_chatNow__mhIA- {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
    padding: 20px 48px 20px 16px;
    width: 100%
}

.chat_chatNow__mhIA- p {
    color: #344854;
    font-size: 14px;
    line-height: 25px
}

.chat_chatNow__mhIA- a {
    background-color: #465969;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .03em;
    line-height: 20px;
    margin-left: 15px;
    padding: 18px 32px;
    white-space: nowrap
}

.chat_chatNowContainer__JssDh button {
    background-color: initial;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 36px;
    height: 36px;
    outline: none;
    padding: 0;
    position: absolute;
    right: 0;
    right: 20px;
    top: 30px;
    width: 36px
}

@media only screen and (max-width: 1024px) {
    .chat_chatNow__mhIA- {
        align-items:flex-start;
        flex-direction: column
    }

    .chat_chatNow__mhIA- a {
        margin-left: 0;
        margin-top: 5px;
        padding: 10px 18px
    }

    .chat_chatNow__mhIA- p {
        line-height: 22px
    }

    .chat_chatNowContainer__JssDh button {
        font-size: 30px;
        right: 5px;
        top: 10px
    }
}

.auth_authHeader__-5o95 {
    background-color: #4167b2;
    height: 42px;
    width: 100%
}

.auth_authInnerHeader__TccVd {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    width: 1012px
}

.auth_authHeaderImg__iuikV {
    width: 105px
}

.auth_authLogout__HhEgS {
    color: var(--white);
    font-size: 12px;
    font-weight: 600
}

.auth_authFormContainer__lpL9K {
    align-items: center;
    background-color: #e9ebee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 120px;
    padding-top: 120px;
    width: 100%
}

.auth_authForm__Cj1cF {
    background-color: #fff;
    border: 1px solid #c8cacc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    width: 580px
}

.auth_authForm__Cj1cF h4 {
    border-bottom: 1px solid #c8cacc;
    color: #1d2129;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 13px;
    padding: 5px 0 8px
}

.auth_authForm__Cj1cF hr {
    background-color: #c8cacc;
    height: 1px
}

.auth_authForm__Cj1cF p {
    color: #050505;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .023rem;
    line-height: 18px;
    margin-bottom: 10px
}

.auth_authForm__Cj1cF p.auth_noBtmMargin__iLiLH {
    margin-bottom: 3px
}

.auth_authFormInput__Ylam4:focus {
    border: 1px solid #c8cacc
}

.auth_authFormInput__Ylam4 {
    border: 1px solid #c8cacc;
    border-radius: 2px;
    color: #050505;
    font-size: 14px;
    padding: 4px;
    width: 160px
}

.auth_authFormInput__Ylam4::-webkit-inner-spin-button,.auth_authFormInput__Ylam4::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.auth_authFormInput__Ylam4[type=number] {
    -moz-appearance: textfield
}

.auth_authFormInputError__nmMj7 {
    border: 1px solid #fa3e3e
}

.auth_error__ZgklM {
    color: #fa3e3e;
    display: block;
    font-size: 13px;
    margin-top: 5px
}

.auth_authSubmit__98uTp {
    align-items: center;
    border-top: 1px solid #c8cacc;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 13px 0 5px
}

.auth_authSubmit__98uTp button {
    background-color: #4167b2;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    outline: none;
    padding: 7px 10px
}

.auth_authSubmit__98uTp a {
    color: #4167b2;
    font-size: 13px
}

.auth_authSubmit__98uTp a:hover {
    text-decoration: underline
}

.auth_authLanguages__ymUT6 {
    display: none
}

.auth_seperator__6iK7t {
    border-bottom: 1px solid #c8cacc;
    margin-bottom: 8px
}

.auth_seperator__6iK7t h3 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px
}

.auth_noBorder__5mguI {
    border: none
}

.auth_footer__OGwhI {
    margin: 0 auto 30px;
    width: 1012px
}

.auth_topFooter__40Sra {
    border-bottom: 1px solid #c8cacc;
    margin-bottom: 10px;
    margin-top: 100px;
    padding-bottom: 8px
}

.auth_bottomFooter__S9xgv a,.auth_topFooter__40Sra a {
    color: var(--blue);
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-right: 18px
}

.auth_topFooter__40Sra a:first-child {
    color: #737373
}

.auth_footer__OGwhI>span {
    color: #737373;
    display: inline-block;
    font-size: 11px;
    margin-top: 25px
}

@media only screen and (max-width: 768px) {
    .auth_footer__OGwhI {
        width:95%
    }

    .auth_topFooter__40Sra {
        margin-top: 30px
    }

    .auth_authForm__Cj1cF {
        width: 95%
    }

    .auth_authInnerHeader__TccVd {
        justify-content: center;
        width: 95%
    }

    .auth_authLogout__HhEgS {
        display: none
    }

    .auth_authFormContainer__lpL9K {
        padding-top: 10px
    }

    .auth_authSubmit__98uTp {
        flex-direction: column
    }

    .auth_authSubmit__98uTp button {
        margin-top: 7px;
        padding: 10px;
        width: 100%
    }

    .auth_authHeader__-5o95 {
        height: 52px
    }
}

.loader_loaderContainer__mym5s {
    align-items: center;
    background-color: #fff;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 1000
}

.loader_loaderHeader__FmdgD {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1),0 2px 4px rgba(0,0,0,.1);
    height: 56px;
    width: 100%
}

.loader_loaderInnerHeader__UkdIR {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 20px;
    width: 100%
}

.loader_loaderHeaderImg__Hgbkh {
    display: block;
    width: 90px
}

.loader_loader__qMdTv {
    background-color: #f0f2f5;
    min-height: calc(100vh - 56px);
    width: 100%
}

.loader_loaderInner__3MxF1,.loader_loader__qMdTv {
    align-items: center;
    display: flex;
    flex-direction: column
}

.loader_loaderInner__3MxF1 {
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    flex-wrap: nowrap;
    margin-top: 100px;
    padding: 20px;
    width: 500px
}

.loader_loaderImgContainer__ji6oc {
    height: 100%;
    margin-bottom: 15px;
    min-width: 220px;
    width: 220px
}

.loader_loaderImgContainer__ji6oc img {
    width: 100%
}

.loader_text__Yigg8,.loader_title__OIr15 {
    color: #050505;
    font-size: 13px;
    padding: 10px 0
}

@media only screen and (max-width: 768px) {
    .loader_loaderInner__3MxF1 {
        align-items:center;
        flex-direction: column;
        margin-top: 60px;
        width: 95%
    }
}

.modal_modalContainer__8aOfX {
    background-color: #000;
    background-color: rgba(0,0,0,.4);
    display: block;
    height: 100%;
    left: 0;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4
}

.modal_modalForm__3Cl1M {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-name: modal_animatetop__FVRX9;
    animation-name: modal_animatetop__FVRX9;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    margin: auto;
    padding: 0;
    position: relative;
    width: 445px
}

.modal_modalTitle__wctUX {
    background-color: #f5f6f7;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 12px
}

.modal_modalTitle__wctUX h2 {
    color: rgba(var(--black-rgb),.85);
    font-size: 14px;
    font-weight: 600
}

.modal_modalInner__mtV5X {
    padding: 0 12px 12px
}

.modal_section__Wgopz {
    border-bottom: 1px solid #ccc;
    padding: 10px 0
}

.modal_section__Wgopz h4 {
    margin-bottom: 6px
}

.modal_section__Wgopz h4,.modal_section__Wgopz li,.modal_section__Wgopz p {
    color: #1d2129;
    font-size: 14px;
    letter-spacing: .023rem;
    line-height: 20px
}

.modal_section__Wgopz ol {
    margin: 0;
    padding-left: 10px
}

.modal_section__Wgopz li {
    margin-bottom: 5px
}

.modal_section__Wgopz .modal_options__S3nhE {
    display: flex
}

.modal_section__Wgopz .modal_options__S3nhE i {
    color: #4167b2;
    font-size: 6px;
    margin-right: 10px;
    margin-top: 8px
}

.modal_noBorder__GU6ow {
    border: none
}

.modal_button__2jkQ3 {
    background-color: #f5f6f7;
    border: 1px solid #dadde1;
    border-radius: 2px;
    color: #444950;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    line-height: 26px;
    margin-left: 16px;
    padding: 0 10px
}

.modal_modalCloseBttn__fyA9W {
    color: #050505;
    cursor: pointer;
    float: right;
    font-size: 18px;
    opacity: .5
}

@media only screen and (max-width: 768px) {
    .modal_modalForm__3Cl1M {
        width:95%
    }
}

/*# sourceMappingURL=main.44f8b4c8.css.map*/
