
	.pesq-coop{
		background-image: url("/o/br.com.sicoob.portal.portlets.pesquisa.cooperativa/images/mapa.png");
		background-size: cover;
	}
	.pesq-coop .search-result {
	    background-color: rgba(0, 54, 65, 0.7019607843137254);
	}	
	.pesq-coop .refined-search {
	    background-color: rgba(255, 255, 255, 0);
	}	
	#loading-wrapper #loading-text img {
	    animation: none;
		max-width: 100%;	    
	}
