
@media screen and (min-width: 320px) and (max-width: 566px) {
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 28px;
}
  h4 {
    font-size: 18px;
}

h5 {
  font-size: 14px;
}

.work_beet h4 {
  padding-bottom: 30px;
  margin-top: 0px;
}
.modeline_link a {
  padding: 23px 15px;
}




.it_is_get h2 {
  padding: 25px 15px;
}


.it_is_webcam h3 {
  padding: 25px 6px;
}
.at_webcamz p {
  font-size: 16px;
  padding-bottom: 20px;
}
.text_webccam p {
  font-size: 14px;
}
ul.top_barheader {
  padding: 8px 0;
}
img.logo {
  width: 64%;
}
a.navbar-brand {
  width: 61%;
}
a.link_bar {
  padding: 12px 23px;
  font-size: 16px;
}
.owl-slider_two p {
  font-size: 16px;
}
.heder_line_two {
  margin: 20px 0;
}
.header_line {
  display: block;
  text-align: -webkit-center;
}
img.img_buttom {
  position: absolute;
  bottom: -30px;
}
.get_easy {
  padding: 60px 0 35px 0;
}
.it_is_get h3 {
  padding: 17px 10px;
}
.linemeetone {
  margin-bottom: 30px;
}
.said_lineone {
  top: 0px;
}
.footer {
  padding: 163px 0px 60px 0;
  margin-top: -119px;
  background-size: cover;
}

.backhome {
  right: 0px;
}


/* apply */
.model_form {
  padding: 0px 20px;
}
.model_bar {
  padding-right: 0px;
}
.filter_dropdown {
  min-width: 240px;
}
.model_oop {
  padding: 20px 20px;
}

.back_it_img {
  bottom: -71px;
}
.testimonials .owl-item.active.center .sliderbar_auto {
  max-width: 100%;
}
/* apply */
/* owl slider buttom */
.testimonials .owl-dot span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #040404;
}
.testimonials .owl-dots .owl-dot {
  margin: 0px 15px;
}
/* .testimonials .owl-dots .owl-dot.active span {
  width: 15px;
  height: 15px;
} */
/* owl slider buttom */
.modeline_link {
  padding: 8px 10px;
  /* font-size: 12px; */
}

.recruiting_change p {
  font-size: 14px;
  line-height: 24px;
}


.loginbar_om {
  text-align: center;
  padding-bottom: 20px;
}
.model_input {
  text-align: -webkit-center;
}

.loginbar_home {
  text-align: center;
  padding-bottom: 30px;
}

.model_inputone {
  text-align: -webkit-center;
}

.loginbar_ned {
  text-align: center;
}



   
}

@media screen and (min-width: 567px) and (max-width: 767px) {

  h1 {
    font-size: 26px;
    margin: 0;
}
  .login_agent {
    font-size: 16px;
}
a.line_link {
  font-size: 16px;
}
img.img_buttom {
  bottom: -44px;
}
.it_is_flex {
  padding: 20px 0;
}
.said_lineone {
  top: 0;
}
img.footerone {
  width: 52%;
}
.footer {
  padding: 150px 0px 60px 0;
  margin-top: -104px;
}

img.all_icon {
  width: 6%;
}

img.all_iconE {
  width: 4%;
}

.model_woman {
  height: 78rem;
}
/* apply */
.model_form {
  padding: 0px 20px;
}
.model_bar {
  padding-right: 0px;
}
.filter_dropdown {
  min-width: 240px;
}
.model_oop {
  padding: 20px 20px;
}

.back_it_img {
  bottom: -71px;
}
.it_abbone {
  padding-top: 15px;
}
/* apply */

.testimonials .owl-item.active.center .sliderbar_auto {
  max-width: 100%;
}


.sliderbar_auto {
  max-width: 100%;
}

.testimonials .owl-item.active.center .sliderbar_auto .testimonial_detail p {
  font-size: 18px;
}
.recruiting_change p {
  font-size: 16px;
  line-height: 28px;
}

.modeline_link {
  padding: 14px 28px;
  font-size: 24px;
}



/* login */
.agent_it_one {
  max-width: 330px;
  float: none;
  margin: auto !important;
}


.agent_it_left {
  max-width: 340px;
  margin: auto;
}


/* login */


.loginbar_om {
  text-align: center;
  padding-bottom: 20px;
}
.model_input {
  text-align: -webkit-center;
}

.loginbar_home {
  text-align: center;
  padding-bottom: 30px;
}

.model_inputone {
  text-align: -webkit-center;
}

.loginbar_ned {
  text-align: center;
}

.loginbar {
  text-align: center;
}

.forget_password {
  text-align: center;
}





   
}




@media screen and (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 33px;
}
h2 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}


 

  .it_is_get h2 {
    padding: 25px 20px;
}
.work_beet h4 {
  padding-bottom: 30px;
}




  img.img_buttom {
    bottom: -67px;
}
.it_is_flex {
  padding-bottom: 40px;
}
.at_webcamz p {
  padding-bottom: 44px;
}
/* .footer {
  margin-top: -103px;
} */
.model_woman {
  height: 87rem;
}

/* agent */
.modeline_link {
  padding: 12px 30px;
}

.testimonials .owl-item.active.center .sliderbar_auto {
  max-width: 100%;
}
.sliderbar_auto {
  max-width: 100%;
}

.recruiting_change p {
  line-height: 26px;
}
.recruiting_change h3 {
  padding-bottom: 6px;
  margin: 0;
}

.linemeetone {
  min-width: 140px;
}
.linemeet {
  min-width: 140px;
}
.it_is_get h3 {
  padding-bottom: 40px;
  padding: 8px 41px;
}

.linewebcan {
  min-width: 150px;
}
.linewebcanone {
  min-width: 150px;
}
.it_is_webcam h2 {
  padding: 25px 25px;
}




.testimonials .owl-item.active.center .sliderbar_auto .testimonial_detail p {
  font-size: 17px;
}

.get_webcam {
  padding-bottom: 60px;
}
.text_footer {
  padding-left: 70px;
}
.right_slide p {
  line-height: 24px;
}

.right_slide h3 {
  padding-bottom: 2px;
}
/* .footer {
  margin-top: -65px;
} */
.recruiting_change h5 {
  line-height: 25px;
}





/* agent */


  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {

    h2 {
      font-size: 28px;  
  }

      .text_footer {
        padding-left: 30px;
    }

    img.img_buttom {
        bottom: -84px;
    }
    .it_apply {
      font-size: 12px;
  }
  .it_is_get h2 {
    padding: 25px 40px;
}
  
  

  .model_woman {
    height: 71rem;
}
.sliderbar_auto {
  margin: 17px;
}
    
    
   
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
   
}