/* CSS Document */



body{ background:url(../img_rec/fundo.jpg);}
.all{ width:960px; height:auto; margin:0 auto; }

::-webkit-input-placeholder { color: #4b7200;}
:-moz-placeholder { color: #4b7200; }
::-moz-placeholder { color: #4b7200; }
:-ms-input-placeholder { color: #4b7200; }

@media screen and (max-width: 980px) {
 
    #all {
        width: 94%;
    }
    #conteudo {
        width: 65%;
    }
    #lateral {
        width: 30%;
    }
 
}
@media screen and (max-width: 700px) {

	#conteudo {
		width: auto;
		float: none;
	}
	#lateral {
		width: auto;
		float: none;
	}

}
@media screen and (max-width: 480px) {

	#header {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	#lateral {
		display: none;
	}

}

#frameinvisivel{ display:none;}
.topo{ float:left; background:url(../img_rec/fundo-topo.png) repeat-x; height:169px; width:100%;}
	.topo .logo{ float:left; background:url(../img_rec/logo-rizzo.png); width:345px; height:95px; text-indent:-9999px; margin:28px 0 0 -74px;}
	.topo .menu-atendimento{ float:left; width:450px; height:auto;  margin:0 0 0 20px; }
		.topo .menu-atendimento ul{ float:left; height:13px; margin:26px 0 0 0; }
		.topo .menu-atendimento ul li{ float:left; height:13px; }
		.topo .menu-atendimento ul li a{ float:left; margin:0 10px 0 0; height:13px; line-height:13px;}
		.topo .menu-atendimento ul li:last-child{ border-left:1px solid #FFF; padding:0 0 0 10px; }
		
		.topo .menu-atendimento .atendimento{ float:left; margin:22px 0 0 73px;  background:url(../img_rec/icone-atendimento.png) no-repeat; height:20px; padding:0 0 0 20px;}
		.topo .menu-atendimento .atendimento strong{ color:#a3ff1b;}
		
	.topo .busca{ float:left; margin:23px 0 0 20px;}
		.topo .busca input[type=text]{ float:left; width:405px; height:39px; border:none; background:#FFF; line-height:39px; padding:0 0 0 13px; color:#4b7200;}
		.topo .busca input[type=submit]{ float:left; width:80px; height:39px; border:none;  cursor:pointer; background:#a3ff1b url(../img_rec/icone-botao-buscar.png) no-repeat  28px 8px; color:#a3ff1b;}
		
	.topo .orcamento{ float: right; width:78px; background: url(../img_rec/icone-orcamento.png) no-repeat; height:43px; padding:0 0 10px 35px; font-size:12px; color:#a3ff1b; line-height:14px; margin:19px 0 0 0; cursor:pointer; position:relative;}
		.topo .orcamento span{ font-size:14px; line-height:18px; }
		
		.topo .orcamento .lista{ position:absolute; right:0; bottom:-295px; width:360px; height:293px; background:#FFF; border:1px solid #97b55e; z-index:100; border-top:4px solid #a3ff1b;  cursor: default; display:none;}
		.topo .orcamento .lista .prods{ float:left; width:360px; height:238px; overflow:auto;} 
			.topo .orcamento .lista .prods .linha-prods{ float:left; background:url(../img_rec/borda-linha-prods.png) left bottom no-repeat; width:315px; margin:0 0 0 22px; height:92px;}
			.topo .orcamento .lista .prods .linha-prods .img{ float:left; width:68px; height:58px; margin:15px 10px 0 0; background-position:center; background-repeat:no-repeat; } 
			.topo .orcamento .lista .prods .linha-prods .nome{float:left; font-size:11px; color:#4f4f4f; width:230px; line-height:14px; padding-top:30px;} 
		.topo .orcamento .lista .finalizar{float:left; width:360px; height:54px; background:#f1f1f1; border-top:1px solid #97b55e;} 
			.topo .orcamento .lista .finalizar .qtditens{ float:left; height:27px; line-height:27px; font-size:10px; color:#5b8a00;  margin:14px 0 0 24px;}
		 	.topo .orcamento .lista .finalizar a{ float:right; width:162px; height:27px; background:url(../img_rec/botao-finalizar.png); text-align:center; line-height:27px; font-size:16px; margin:14px 24px 0 0;}
		.topo .orcamento:hover .lista{ display:inline;}	
		
.menu-principal{ float:left; border-top:1px solid #ebebeb; border-right:2px solid #ebebeb; width:955px; height:31px; margin:14px 0 0 0;}
	.menu-principal li{ float:left;}
	.menu-principal li a{ float:left; color:#426400; width:130px; line-height:31px; height:31px; border-left:2px solid #ebebeb; text-align:center; font-family: 'Oswald', sans-serif, Arial; font-size:16px;}
	.menu-principal li a:hover, .menu-principal li a.sel{ background:#5b8a00; color:#FFF; border-left:0; padding-left:2px;  text-decoration:none;}
	
	.menu-principal li:last-child a{  width:161px;}

.lateral{ float:left; width:230px; height:auto;}

.menu-lateral{ float:left; width:228px; height:auto; border:1px solid #88a452; margin:10px 0 13px 0;}
	.menu-lateral li{ float:left; position:relative;}
	.menu-lateral li a{ float:left; width:208px; height:38px; border-bottom:1px solid #d0d0d0; border-top:1px solid #f1f1f1; background:#FFF url(../img_rec/icone-menu-lateral.png) no-repeat 201px 11px; font-size:16px; color:#5b8a00; line-height:38px; padding-left:20px;}
	.menu-lateral li:hover a,.menu-lateral li a.sel{ background:#5b8a00; color:#FFF;  text-decoration:none;}
	
	.menu-lateral li:first-child a{ border-top:none;}
	.menu-lateral li:last-child a{ border-bottom:none;}
	
	
	.menu-lateral li .subcategorias{ background:#5b8a00; width:174px; position:absolute; top:1px; right:-175px; z-index:201; padding:8px 0 8px 0; display:none; }
		.menu-lateral li .subcategorias li{}
		.menu-lateral li .subcategorias li a{  background:#5b8a00; height:23px; line-height:20px; border:none; color:#FFF; font-size:14px; width:144px; }
		.menu-lateral li .subcategorias li a:hover{ color:#a3ff1b; text-decoration:none;}
	.menu-lateral li:hover .subcategorias{ display: inline; }
	
	
	
	.menu-lateral li.titulo{ float:left; font-family: 'Oswald', sans-serif, Arial; color:#416300; font-size:20px; width:208px; height:47px; line-height:47px; padding-left:20px;}
	
.links{ float:left; width:229px; height:313px; margin:17px 0 0 0;}
	
	
	.links span{ float:left; width:214px; height:55px; line-height:65px; background:#5b8a00; font-size:16px; padding-left:13px; margin:242px 0 0 1px;}
	.links:hover span{ text-decoration:underline;}

.slide{ float:right; width:716px; height:287px; margin:10px 0 0 0; background:url(../img_rec/fundo-slide.jpg); padding:0 0 0 2px; }

.conteudo-produto{ float:right; width:716px; height:auto; margin:16px 0 0 0; }
	.conteudo-produto h1, .conteudo-produto h2{ float:left; width:716px; font-size:16px; font-weight:700; color:#5b8a00; height:21px; background:url(../img_rec/divisa-titulo.png) left bottom no-repeat; line-height:21px; padding:0 0 10px 0;}
	.conteudo-produto h1.bgi{ background:none;}
		.conteudo-produto h1.bgi a{ font-size:16px; font-weight:700; color:#426400;}
	.conteudo-produto h1 img, .conteudo-produto h2 img{ vertical-align: bottom; margin-right:10px;}
	.conteudo-produto .grupo-produtos{ margin:7px 0 14px 0; float:left; width:710px; height:auto; border:1px solid #91ae57; background:#FFF; padding:9px 0 0 4px; position:relative; }
	.conteudo-produto .grupo-produtos .produto{ float:left; width:168px; height:239px; border:1px solid #efefef; margin:0 0 9px 5px;}
	.conteudo-produto .grupo-produtos .produto{ float:left; width:168px; height:239px; border:1px solid #efefef; margin:0 0 9px 5px;}
		.conteudo-produto .grupo-produtos .produto:hover{ border:1px solid #7fa438;}
		.conteudo-produto .grupo-produtos .produto .img{ float:left; width:158px; height:158px;  text-align:center; margin:5px 0 5px 5px;}
		.conteudo-produto .grupo-produtos .produto .descricao{  width:161px; color:#5b8a00; text-align:center; float:left; line-height:16px; margin-left:3px;}
		.conteudo-produto .grupo-produtos .produto .cod{ color:#000; font-size:10px; text-align:center; float:left;  width:161px; margin-left:3px; line-height:16px; font-weight:700;}
		.conteudo-produto .grupo-produtos .produto .det{  float:left; width:161px; height:auto; margin:3px 0 0 3px; line-height:14px; text-align:center; font-weight:bold; color:#000; font-size:12px;}
		.conteudo-produto .grupo-produtos .produto:hover *{ text-decoration:underline;}
		
	.conteudo-produto .grupo-produtos .setas{ position:absolute; right:0; bottom: -33px; width:37px;}	
		.conteudo-produto .grupo-produtos .ant{ float:left; width:17px; height:17px; background:url(../img_rec/setas-navegacao.png);}
		.conteudo-produto .grupo-produtos .ant:hover{ background-position:0 -17px;}
		.conteudo-produto .grupo-produtos .prox{ float:left; width:17px; height:17px; margin-left:3px;  background:url(../img_rec/setas-navegacao.png)  -17px 0;}
		.conteudo-produto .grupo-produtos .prox:hover{ background-position:-17px -17px;}
		
.rodape{ float:left; width:100%; background:url(../img_rec/fundo-rodape.png) repeat-x; margin:84px 0 0 0; min-height:327px;}
	.rodape .cadastro-email{ float:left; width:640px; margin:11px 0 0 0;}
		.rodape .cadastro-email .titulo{ float:left; font-size:16px; color:#5b8a00; line-height:20px; font-weight:700;}
		.rodape .cadastro-email input[type=text]{ float:left; border:none; height:30px; width:224px; background:#eeeeee; padding-left:16px; line-height:30px; margin:4px 0 0 17px;}
		.rodape .cadastro-email input[type=submit]{  float:left; width:53px; height:30px; background:#5b8a00; font-size:11px; border:none; color:#FFF; margin:4px 0 0 0; cursor:pointer;}
		
		.rodape .box-informacoes{ float:left; width:360px; margin:30px 0 50px 0; overflow:hidden;}
			.rodape .box-informacoes .titulo{ float:left; font-size:16px; color:#83db00; line-height:20px; font-weight:700; width:100%;}
			.rodape .box-informacoes .col1{ float:left; width:160px;}
			.rodape .box-informacoes .col2{float:left; width:160px;}
			.rodape .box-informacoes a{ float:left; margin:0 22px 0 0; height:18px; line-height:18px; }	
			.rodape .box-informacoes a span{ color:#83db00;}
		
		
		.rodape .box-central{ float:left; width:360px; margin:30px 0 0 0; overflow:hidden; line-height:18px;}
			.rodape .box-central .titulo{ float:left; font-size:16px; color:#83db00; line-height:20px; font-weight:700; width:100%; margin-bottom:3px;}
		.rodape .direitos{ margin:30px; float:left; width:100%; clear:both; text-align:center; color:#b6b6b6; font-size:12px; line-height:16px;}
		
		.rodape .social{ position:absolute; right:0; top:-70px; }
		
		.rodape .social .facebook{background:url(../img_rec/fundo-facebook.png) no-repeat 0 -1px; width:262px; height:213px; padding:1px 0 0 2px;}
		
		.rodape .social .icone{ float:left;}
		.rodape .social .icones a{ float:left; width:34px; height:33px; margin:10px 4px 0 0;}
			.rodape .social .icones a.face{ background:url(../img_rec/icone-facebook.png);}
			.rodape .social .icones a.youtube{ background:url(../img_rec/icone-youtube.png);} 
			.rodape .social .icones a.twitter{ background:url(../img_rec/icone-twitter.png);}
            .rodape .social .icones a.pinterest{ background:url(../img_rec/ic_pinterest.png) 0 -1px; height: 33px; width: 33px}

.conteudo{ float:left; margin:12px 0 5px 0; width:958px; height:auto; border:1px solid #91ae57; background:#FFF; padding:25px 0 0 0;}
	.conteudo h1{ float:left; width:auto; font-size:22px; color:#5b8a00; margin:0 0 0 37px;}

	.conteudo .inf-contato{ float:left; margin:30px 0 0 37px; clear:left; font-size:16px; color:#000; line-height:23px; background:url(../img_rec/linha-contato.png) no-repeat 0 115px; width:370px;}
		.conteudo .inf-contato a{ color:#5b8a00; font-size:16px; line-height:23px;}
		.conteudo .inf-contato strong{ color:#5b8a00; font-size:16px; font-weight:700; line-height:23px;}
	
	.conteudo .form-contato{ float:right; font-size:11px; color:#5b5b5b; margin:0 33px 24px 0; line-height:17px;}
		.conteudo .form-contato img{ margin:0 0 4px 0;}
		.conteudo .form-contato input[type=text]{ width:390px; border:1px solid #a5bf73; height:35px; line-height:35px;
		/*--Bottom right rounded corner--*/		-moz-border-radius-bottomright: 2px;		-khtml-border-radius-bottomright: 2px;		-webkit-border-bottom-right-radius: 2px;		/*--Bottom left rounded corner--*/		-moz-border-radius-topright: 2px;		-khtml-border-radius-topright: 2px;		-webkit-border-top-right-radius: 2px;		/*--Bottom left rounded corner--*/		-moz-border-radius-bottomleft: 2px;		-khtml-border-radius-bottomleft: 2px;		-webkit-border-bottom-left-radius: 2px;		/*--Bottom left rounded corner--*/		-moz-border-radius-topleft: 2px;
		-khtml-border-radius-topleft: 2px;		-webkit-border-top-left-radius: 2px;
		}
		.conteudo .form-contato select{ width:392px; border:1px solid #a5bf73; height:35px;
		/*--Bottom right rounded corner--*/		-moz-border-radius-bottomright: 2px;		-khtml-border-radius-bottomright: 2px;		-webkit-border-bottom-right-radius: 2px;		/*--Bottom left rounded corner--*/		-moz-border-radius-topright: 2px;		-khtml-border-radius-topright: 2px;		-webkit-border-top-right-radius: 2px;		/*--Bottom left rounded corner--*/		-moz-border-radius-bottomleft: 2px;		-khtml-border-radius-bottomleft: 2px;		-webkit-border-bottom-left-radius: 2px;		/*--Bottom left rounded corner--*/		-moz-border-radius-topleft: 2px;
		-khtml-border-radius-topleft: 2px;		-webkit-border-top-left-radius: 2px;
		
		
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		}
		.conteudo .form-contato textarea{ width:388px; border:1px solid #a5bf73; height:150px; 
		/*--Bottom right rounded corner--*/		-moz-border-radius-bottomright: 2px;		-khtml-border-radius-bottomright: 2px;		-webkit-border-bottom-right-radius: 2px;		/*--Bottom left rounded corner--*/		-moz-border-radius-topright: 2px;		-khtml-border-radius-topright: 2px;		-webkit-border-top-right-radius: 2px;		/*--Bottom left rounded corner--*/		-moz-border-radius-bottomleft: 2px;		-khtml-border-radius-bottomleft: 2px;		-webkit-border-bottom-left-radius: 2px;		/*--Bottom left rounded corner--*/		-moz-border-radius-topleft: 2px;
		-khtml-border-radius-topleft: 2px;		-webkit-border-top-left-radius: 2px;
		}
		.conteudo .form-contato input[type=submit]{ float:right; clear:both; background:url(../img_rec/botao-contato.png) no-repeat; color:#FFF; margin:10px 0 0 0; border:none; width:102px; height:32px; font-size:14px;}
			
.conteudo.pt0{ padding-top:0;}	
.img-nossaslojas{ float:left;}
.mapa-nossaslojas{ float:left; border-left:1px solid #91ae57; border-right:1px solid #91ae57; }
.inf-nossaslojas{ float:left; margin:0 0 0 30px; font-size:16px; line-height:22px; color:#323232; width:275px;}
	.inf-nossaslojas strong{  font-size:16px; line-height:20px; color:#5b8a00; font-weight:700; text-transform:uppercase; }

h1{ float:left; font-size:16px; font-weight:700; color:#5b8a00; margin:12px 0 0 0;}
.conteudo.empresa{    line-height:21px;}
	.conteudo.empresa p{ float:left; width:900px; height:auto; margin:0 10px 24px 30px ; color:#525252; font-size:14px; line-height:24px;}
		.conteudo.empresa p.destaque{ color:#5b8a00; margin-left:56px;}
		
.conteudo.trabalheconosco{    line-height:21px;}
	.conteudo.trabalheconosco p{ float:left;  height:auto; margin:0 10px 24px 0 ; color:#525252; font-size:14px; line-height:24px; width:90%; margin-left:10px; }
		.conteudo.trabalheconosco p strong{ font-weight:bold; color:#000; font-size:16px;}
		
.conteudo.freteseentregas{    line-height:21px;}
	.conteudo.freteseentregas p{ float:left;  height:auto; margin:0 10px 24px 0 ; color:#525252; font-size:14px; line-height:24px; width:90%; margin-left:10px; }
		.conteudo.freteseentregas p strong{ font-weight:bold; color:#000; font-size:16px;}

.conteudo.formasdepagamento{    line-height:21px;}
	.conteudo.formasdepagamento p{ float:left;  height:auto; margin:0 10px 24px 0 ; color:#525252; font-size:14px; line-height:24px; width:90%; margin-left:10px; }
		.conteudo.formasdepagamento p strong{ font-weight:bold; color:#000; font-size:16px;}
		

.fundo-distribuidor{ float:left; width:100%; min-height:675px; background:url(../img_rec/fundo-brasil.jpg) no-repeat -47px 1px;}
.selecao-distribuidor{ float:left; width:230px; height:auto; font-size:16px; line-height:21px; margin:20px 0 0 0;}
	.selecao-distribuidor .select{ float:left; clear:both; margin:45px 0 0 0;}
		.selecao-distribuidor .select .campo{ float:left; width:174px; height:27px; border:1px solid #a8c177; background:#FFF; color:#5b8a00; font-size:14px; line-height:27px; padding: 0 0 0 10px; cursor:pointer;}
		.selecao-distribuidor .select .botao{ float:left;  width:30px; height:27px; border:1px solid #a8c177;  background:#FFF url(../img_rec/seta-select.png) no-repeat 7px 5px; margin:0 0 0 2px; cursor:pointer;}
		.selecao-distribuidor .estados{ float:left; width:174px; height:auto; border:1px solid #a8c177; background:#FFF; margin:3px 0 0 0; padding:10px 0 10px 0; display:none;}
		.selecao-distribuidor .estados a{ float:left; width:154px;  color:#5b8a00; margin-left:10px; height:22px; line-height:22px; font-size:14px; border-bottom:1px solid #e4e4e4;}
		
.conteudo.distribuidor{ float:right; width:714px; min-height:556px; margin:20px 0 0 0;  }
	.conteudo.distribuidor.vazio{ background: #FFF url(../img_rec/mapa-brasil.png) no-repeat 136px 26px; position:relative;}
	.conteudo.distribuidor .selecione{ float:left; width:109px; background:url(../img_rec/seta-distribuidor.png) no-repeat; padding:60px 0  0 6px; font-size:16px; line-height:20px; color: #6a6a69; margin:114px 0 0 20px;}
	.conteudo.distribuidor .informativo{ position:absolute; right:20px; bottom:20px; color:#6a6a69; font-size:11px; line-height:11px;}
	
	.conteudo.distribuidor .distribuidores{ float:left; height:145px; width: 300px; color:#484848; line-height:18px;  margin: 0 25px 17px 30px;}
	.conteudo.distribuidor .distribuidores strong{ color:#5b8a00; font-weight:700; text-transform:uppercase;}
	
.conteudo.catalogo{ background: #FFF url(../img_rec/catalogo-virtual.jpg) no-repeat 45px 31px; height:412px; }
	.conteudo.catalogo .texto{ float:right; text-align:center; font-size:16px; color:#323232; width:450px; margin:140px 65px 0 0; }
		.conteudo.catalogo .texto .download{ background:url(../img_rec/botao-catalogo.png) no-repeat; width:249px; height:47px; float:left; margin:30px 0 0 76px; font-size:16px; line-height:47px; text-align:center; font-weight:700; padding-left:45px; clear:both;}
		
		.conteudo.catalogo2{ background: #FFF url(../img_rec/catalogo-virtual2.jpg) no-repeat 45px 31px; height:412px; }
	.conteudo.catalogo2 .texto{ float:right; text-align:center; font-size:16px; color:#323232; width:450px; margin:140px 65px 0 0; }
		.conteudo.catalogo2 .texto .download{ background:url(../img_rec/botao-catalogo.png) no-repeat; width:249px; height:47px; float:left; margin:30px 0 0 76px; font-size:16px; line-height:47px; text-align:center; font-weight:700; padding-left:45px; clear:both;}

.titulo-orcamento{ float:left;}
	.titulo-orcamento h1{ font-size:22px; font-weight:normal; margin-top:18px;}
	.titulo-orcamento .inf-pag{ float:left; color:#000; margin:20px 0 0 10px; font-size:16px;}
	
.conteudo.orcamento{}
	.conteudo.orcamento .cabecalho{ float:left; width:958px; height:46px; background:#f7f7f7;}
		.conteudo.orcamento .cabecalho .produto{ float:left; height:46px; width:530px; padding-left:30px; line-height:46px; font-size:14px; font-weight:700; color:#5b8a00;}
		.conteudo.orcamento .cabecalho .quantidade{ float:left; border-left:1px solid #e4e4e4; height:46px; text-align:center; line-height:46px; font-size:14px; font-weight:700; color:#5b8a00; width:199px;}
		.conteudo.orcamento .cabecalho .acao{ float:left; border-left:1px solid #e4e4e4; height:46px; line-height:46px;  text-align:center; line-height:46px; font-size:14px; font-weight:700; color:#5b8a00; width:197px;}
		
		.conteudo.orcamento .lista-orcamento{ float:left; height:90px; width:958px; border-bottom:1px solid #e4e4e4}
			.conteudo.orcamento .lista-orcamento .img{ float:left; width:90px; height:80px; margin:6px 0 0 14px; background-position:center; background-repeat:no-repeat;}
			.conteudo.orcamento .lista-orcamento .descricao{ float:left; min-height:90px; width:416px; margin:6px 0 0 40px; font-size:14px; color:#4f4f4f; line-height:18px; padding-top:17px; }
			.conteudo.orcamento .lista-orcamento .qtd-produto{ float:left; border-left:1px solid #e4e4e4;  min-height:90px; width:199px;}
				.conteudo.orcamento .lista-orcamento .qtd-produto input[type=text]{ float:left; width:34px; height:30px; background:url(../img_rec/campo-quantidade.png) no-repeat; border:none; text-align:center; margin:28px 0 0 0;  }
			.conteudo.orcamento .lista-orcamento .qtd-produto .qtd-menos{ float:left; height:30px; width:30px; background:   url(../img_rec/icone-menos.png) no-repeat 9px 14px; margin:28px 0 0 55px; cursor:pointer;}
			.conteudo.orcamento .lista-orcamento .qtd-produto .qtd-mais{ float:left; height:30px; width:30px; background:  url(../img_rec/icone-mais.png) no-repeat 9px 10px; margin:28px 0 0 0; cursor:pointer;}		
			.conteudo.orcamento .lista-orcamento .acoes{ float:left; border-left:1px solid #e4e4e4;  min-height:90px; width:197px; }
				.conteudo.orcamento .lista-orcamento .acoes .excluir{ cursor:pointer; float:left; width:30px; height:30px; background: url(../img_rec/icone-exlcuir.png) no-repeat 9px 10px; margin:28px 0 0 83px;}
				
			.finalizar-orcamento{ float:right; width:auto; margin:11px 0 20px 0; width:485px;}
				.finalizar-orcamento .botao-orcamento{ float:right; width:249px; height:53px; text-align:center; line-height:53px; font-size:22px; background:url(../img_rec/botao-orcamento.png) no-repeat; padding-left:40px; }
				.finalizar-orcamento .botao-orcamento:hover{ text-decoration:none;}
				
				.finalizar-orcamento .botao-continuar{ float:left; width:181px; height:30px; text-align:center; line-height:30px; font-size:14px; background:url(../img_rec/botao-continuar.png) no-repeat; margin:11px 0 0 0; }
				.finalizar-orcamento .botao-continuar:hover{ text-decoration:none;}

.solicitar-orcamento{ width:960px; height:617px; float:left; background:#FFF url(../img_rec/fundo-solicitar-orcamento.png) repeat-x;  overflow:hidden;}
	 .solicitar-orcamento .cabecalho{ float:left; width:936px; height:58px; font-size:28px; line-height:53px; padding-left:24px}
	 	.solicitar-orcamento .cabecalho a{ float:right; font-size:28px; margin:15px 25px 0 0;}
		
		.solicitar-orcamento table{ float:left; margin:25px 0 0 35px;}
		.solicitar-orcamento table .txt{ color:#4f4f4f; text-align:right; vertical-align:top; padding-top:5px; padding-right:20px;}
		.solicitar-orcamento table input[type=text]{/*--Bottom right rounded corner--*/		-moz-border-radius-bottomright: 3px;		-khtml-border-radius-bottomright: 3px;		-webkit-border-bottom-right-radius: 3px;		/*--Bottom left rounded corner--*/		-moz-border-radius-topright: 3px;		-khtml-border-radius-topright: 3px;		-webkit-border-top-right-radius: 3px;		/*--Bottom left rounded corner--*/		-moz-border-radius-bottomleft: 3px;		-khtml-border-radius-bottomleft: 3px;		-webkit-border-bottom-left-radius: 3px;		/*--Bottom left rounded corner--*/		-moz-border-radius-topleft: 3px;
		-khtml-border-radius-topleft: 3px;		-webkit-border-top-left-radius: 3px; border:1px solid #cccccc;  height:28px; line-height:28px; width:213px; padding-left:5px; margin:0 0 20px 0;}
		.solicitar-orcamento table textarea{/*--Bottom right rounded corner--*/		-moz-border-radius-bottomright: 3px;		-khtml-border-radius-bottomright: 3px;		-webkit-border-bottom-right-radius: 3px;		/*--Bottom left rounded corner--*/		-moz-border-radius-topright: 3px;		-khtml-border-radius-topright: 3px;		-webkit-border-top-right-radius: 3px;		/*--Bottom left rounded corner--*/		-moz-border-radius-bottomleft: 3px;		-khtml-border-radius-bottomleft: 3px;		-webkit-border-bottom-left-radius: 3px;		/*--Bottom left rounded corner--*/		-moz-border-radius-topleft: 3px;
		-khtml-border-radius-topleft: 3px;		-webkit-border-top-left-radius: 3px; border:1px solid #cccccc;  height:79px; line-height:16px; width:213px; padding-left:5px; margin:0 0 0 0; padding-top:5px;}
	
	.solicitar-orcamento .produtos{ float:right; width:528px; margin:24px 13px 0 0; }
		.solicitar-orcamento .produtos .header{ float:left; background:#ededed; width:100%; height:30px;}
			.solicitar-orcamento .produtos .header .nome{ float:left; width:400px; padding-left:20px; height:30px; line-height:30px; font-size:14px; color:#5b8a00;}
			.solicitar-orcamento .produtos .header .quantidade{ float:left; width:87px;height:30px; line-height:30px; font-size:14px; color:#5b8a00;}
			.solicitar-orcamento .produtos .hover{height:330px; width:528px; overflow:auto;}
			.solicitar-orcamento .produtos .linha-prod{ float:left; width:508px; border-bottom:1px solid #5b8a00; min-height:107px;}
				.solicitar-orcamento .produtos .linha-prod .img{ float:left; margin:16px 9px 0 0; width:83px; height:78px; } 
				.solicitar-orcamento .produtos .linha-prod .nome{ float:left; width:330px; font-size:14px; padding-top:30px;  color:#4f4f4f; } 
				.solicitar-orcamento .produtos .linha-prod .quant{ float:left;   font-size:14px; padding-top:30px;  color:#4f4f4f; width:85px; } 
	
	.solicitar-orcamento .fechar-finalizar{ float:left; width:100%; background:#ededed; height:47px; padding:11px 0 0 0; margin:12px 0 0 0;}
		.solicitar-orcamento .fechar-finalizar input[type=submit]{ float:right; width:116px; height:36px; background:url(../img_rec/botao-enviar.png) no-repeat; border:none; margin:0 24px 0 0; font-size:16px; color:#FFF; cursor:pointer; }
		.solicitar-orcamento .fechar-finalizar a{ float:right; width:116px; height:36px; background:url(../img_rec/botao-fechar.png) no-repeat; border:none; margin:0 14px 0 0; font-size:16px; text-align:center; line-height:36px; }
		


.titulo-produto{ float:left;}
	.titulo-produto a{ color:#5b8a00; font-weight:normal; height:40px; line-height:40px; font-size:12px;}
.produto h2{ float:left; width:960px; font-size:16px; font-weight:700; color:#5b8a00; height:21px; background:url(../img_rec/divisa-titulo_relacao.png) left bottom no-repeat; line-height:18px; padding:0 0 15px 0;}
	.produto h2 img{ vertical-align: bottom;}

.produto{ float:left; width:100%;}

	.imagemProduto{ float:left; width:379px; height:auto; border:1px solid #91ae57; background:#FFF; text-align:center; overflow:hidden; padding:5px; margin:0 0 17px 0;}
		.imagemProduto .imgcores{ float:left; width:379px; height:379px; overflow:hidden;}
	.informacoesProduto{float:right; width:488px; height:auto; border:1px solid #91ae57; background:#FFF; text-align:center; padding:20px 30px 20px 30px;}
		.informacoesProduto .nome{ float:left; width:100%; height:auto; color:#5b8a00; font-size:22px; font-weight:bold; margin-bottom:5px;}
		.informacoesProduto .codigo{ float:left; font-size:14px; color:#000; height:26px; line-height:26px;}
		
		.informacoesProduto .variacoes{ float:right; margin:5px 0 0 0; }
			.informacoesProduto .variacoes .tamanhos{ float:left; position:relative;}
			.informacoesProduto .variacoes .cores{ float:left;   position:relative; margin-top:5px; clear:both;}
			
			.informacoesProduto .variacoes .select{ float:left; clear:both; margin:0 0 0 0;}
				.informacoesProduto .variacoes .select span{ font-size:12px; color:#656565;}
				.informacoesProduto .variacoes .select .campo{ float:left; width:174px; height:27px; border:1px solid #bcbcbc; background:#FFF; color:#5b8a00; font-size:14px; line-height:27px; padding: 0 0 0 10px; cursor:pointer;}
				.informacoesProduto .variacoes .select .botao{ float:left;  width:30px; height:27px; border:1px solid #5b8a00;  background:#5b8a00 url(../img_rec/seta-select-produto.png) no-repeat 7px 5px; margin:0 0 0 2px; cursor:pointer;}
				.informacoesProduto .variacoes .vartamanhos,.informacoesProduto .variacoes .varcores{ z-index:100; position:absolute; top:46px; width:184px; height:auto; border:1px solid #a8c177; background:#FFF; margin:3px 0 0 0; padding:10px 0 10px 0; display:none;}
				.informacoesProduto .variacoes .vartamanhos a, .informacoesProduto .variacoes .varcores a{ float:left; width:154px;  color:#5b8a00; margin-left:10px; height:22px; line-height:22px; font-size:14px; border-bottom:1px solid #e4e4e4;}
			
			
			.informacoesProduto .variacoes .quantidade{ float:left;  clear:both; margin:16px 0 0 0;}
				.informacoesProduto .variacoes .texto{ float:left; color:#4c4c4c; line-height:30px; height:30px; margin-right:10px; }
				.informacoesProduto .variacoes .quantidade input{ float:left; width:34px; height:30px; background:url(../img_rec/bgquantidade.png) no-repeat ; border:none;}
				.informacoesProduto .variacoes .quantidade .menosQtd{ float:left; width:32px; height:28px; background:url(../img_rec/icmenosqtd.png) no-repeat center center; cursor:pointer;}
				.informacoesProduto .variacoes .quantidade .maisQtd{ float:left; width:32px; height:28px; background:url(../img_rec/icmaisqtd.png) no-repeat center center; cursor:pointer;}
		
		
		
		
		.informacoesProduto .social{ position:absolute; left:0; bottom:20px;}
			.informacoesProduto .social span{ font-size:10px; color:#a6a6a5;}
		.informacoesProduto .infContato{ float:left; font-size:13px; color:#000; line-height:20px; margin:40px 0 0 0;}
			.informacoesProduto .infContato span{ color:#5b8a00; line-height:20px; font-size:13px;}
		.informacoesProduto .adicionar{ float:right; width:191px; height:45px; background:url(../img_rec/botao-orcamento-produtos.png) no-repeat; margin:40px 0 0 0; font-size:16px; font-weight:bold; color:#FFF; text-align:center; line-height:18px; padding:8px 0 0 30px; cursor:pointer; }
		.informacoesProduto .linha{ float:left; width:100%; border-bottom:1px solid #dbdbdb; padding-bottom:10px;}
	
	
	.descricaoProduto{ float:left; clear:both; width:960px; margin:0 0 25px 0;}
		.descricaoProduto .titulo{ float:left; height:36px; line-height:36px; width:210px; background:#5b8a00; font-size:15px; color:#FFF; text-align:center;}
		.descricaoProduto .texto{ float:left; clear:both; height:auto; line-height:26px; width:210px; background:#5b8a00; font-size:15px; color:#FFF; padding:30px; width:898px; border:1px solid #91ae57; background:#FFF; color:#000; font-size:12px;}
	
	.produto .relacao-produtos{ margin:7px 0 14px 0; float:left; width:958px; height:auto; border:1px solid #91ae57; background:#FFF; padding:9px 0 0 4px; position:relative; }
	.produto .relacao-produtos .produto{ float:left; width:168px; height:239px; border:1px solid #efefef; margin:0 0 9px 22px;}
		.produto .relacao-produtos .produto:hover{ border:1px solid #7fa438;}
		.produto .relacao-produtos .produto .img{ float:left; width:158px; height:158px;  text-align:center; margin:5px 0 5px 5px;}
		.produto .relacao-produtos .produto .descricao{  width:161px; color:#5b8a00; text-align:center; float:left; line-height:16px; margin-left:3px;}
		.produto .relacao-produtos .produto .cod{ color:#000; font-size:10px; text-align:center; float:left;  width:161px; margin-left:3px; line-height:16px; font-weight:700;}
		.produto .relacao-produtos .produto .det{ float:left; width:161px; height:auto; margin:3px 0 0 3px; line-height:14px; text-align:center; font-weight:bold; color:#000; font-size:12px;}
	.produto .relacao-produtos .setas{ position:absolute; right:0; bottom: -33px; width:37px;}	
		.produto .relacao-produtos .ant{ float:left; width:17px; height:17px; background:url(../img_rec/setas-navegacao.png);}
		.produto .relacao-produtos .ant:hover{ background-position:0 -17px;}
		.produto .relacao-produtos .prox{ float:left; width:17px; height:17px; margin-left:3px;  background:url(../img_rec/setas-navegacao.png)  -17px 0;}
		.produto .relacao-produtos .prox:hover{ background-position:-17px -17px; }
		
.migalha{ float:left; margin:15px 0 5px 0; height:auto;}
	.migalha .link,.migalha .divisao,.migalha .principal{ float:left; font-size:16px; color:#426400; height:30px; line-height:30px; margin:0 3px 0 3px;  font-size:14px; }
	.migalha .link{ }
	.migalha .principal{ color:#5b8a00;}
.voltarPagina{ float: right; font-size:12px; color:#5b8a00; height:30px; line-height:30px; margin:10px 0 0 0;}
