/* Resumé Theme (Blue Resumé) */
/*
 * @title: ResumÃ©
 * @authors : Nick Swider
 */
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
/*
 * @title : Default App Styles
 * @author : Nick Swider
 * @requires : @theme, @title_color, @text_color
 */
/************ Standard Padding For All Pages, temporarily put here so all themes get it ************/
.webs-container {
  padding: 10px;
}
.webs-text p {
  padding: 0;
}
/**************************************************************************************************/
/* Fixing sign-in form font problems */
input[type=text],
input[type=email],
input[type=password],
textarea {
  color: #7f0505;
}
.webs-content .fw-message,
.webs-content .fw-flash {
  border-color: #b4d5e4;
  background-color: #e5f0f6;
  color: #212121;
}
.webs-content .fw-message h2,
.webs-content .fw-flash h2 {
  color: #004b97;
}
.webs-content .fw-message a,
.webs-content .fw-flash a {
  color: #56a0c2;
}
.webs-content .fw-message a:hover,
.webs-content .fw-flash a:hover {
  color: #7cb5d0;
}
.webs-content table.fw-fixed td {
  vertical-align: top;
}
.webs-content .fw-even {
  border-color: #b4d5e4;
}
.webs-content .webs-body .fw-tabs {
  height: 35px;
}
.webs-content .webs-body .fw-tabs .fw-tab-item {
  background: #3f8baf;
  border-color: #091419;
}
.webs-content .webs-body .fw-tabs .fw-tab-item a {
  color: #7f0505;
}
.webs-content .webs-title .pageTitle {
  margin-bottom: 10px !important;
  margin-right: 10px;
}
.webs-content #fw-menubar_aux {
  border: none !important;
}
.webs-content .fw-button {
  background: #3f8baf !important;
  border: 1px solid #2c617b !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  padding: .5em .9em !important;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4);
  color: #fff !important;
  opacity: 1 !important;
  filter: none !important;
}
.webs-content .fw-button:hover {
  background: #347391 !important;
}
.webs-content .w-button-sb2_default a.w-button {
  background: #3f8baf;
  border: 1px solid #2c617b;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: .5em .9em;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4);
}
.webs-content .w-button-sb2_default a.w-button:hover {
  background: #347391;
}
.webs-content .w-button-sb2_default a.w-button .w-button-text {
  color: #fff;
}
.webs-content .fw-editor-label {
  padding: 5px !important;
}
.webs-content .fw-searchContainer {
  width: 225px;
  position: relative;
  border: 0;
  background: none;
  padding: 4px 0;
  /* clearfix */

  zoom: 1;
}
.webs-content .fw-searchContainer .fw-searchbox {
  width: 100%;
  float: left;
}
.webs-content .fw-searchContainer .fw-searchSubmit {
  position: absolute;
  right: -4px;
  top: 50%;
  margin-top: -12px !important;
  z-index: 1;
  border: none;
  background-image: url('https://static.websimages.com/static/projects/finch/themes/app_search_ie.png');
  background-image: url('data:image/svg+xml;charset=iso-8859-1, %3Csvg%20version%3D%221.1%22%20xmlns%3D%22https%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22https%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Ccircle%20fill%3D%22none%22%20stroke%3D%22%233f8baf%22%20stroke-width%3D%222%22%20cx%3D%226.099%22%20cy%3D%226.1%22%20r%3D%224.999%22/%3E%3Cline%20fill%3D%22none%22%20stroke%3D%22%233f8baf%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20x1%3D%229.828%22%20y1%3D%229.828%22%20x2%3D%2214.9%22%20y2%3D%2214.9%22/%3E%3C/g%3E%3C/svg%3E');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  cursor: pointer;
}
.webs-content .fw-searchContainer:before,
.webs-content .fw-searchContainer:after {
  content: "";
  display: table;
}
.webs-content .fw-searchContainer:after {
  clear: both;
}
.webs-content #blogFields td {
  padding: 1px 0;
}
.webs-content .fwcalendar {
  border-collapse: collapse;
}
.webs-content .weekdayHeader {
  border-color: #7f0505;
}
.webs-content .weekdayHeader:first-child {
  border-color: #7f0505;
}
.webs-content .weekdayHeader:last-child {
  border-color: #7f0505;
}
.webs-content .albumTitle {
  display: inline;
}
.webs-content .webs-text .fw-album_meta {
  list-style: none;
}
.webs-content .fw-button-paypal {
  position: relative;
}
.webs-content .fw-button-paypal:after {
  content: "";
  margin: 2px 0;
  position: absolute;
  top: 50%;
  right: 4px;
  display: inline-block;
  background: transparent url("https://static.websimages.com/rails-static/webstore/images/paypal_24.png") no-repeat left top;
  width: 77px;
  padding: 0;
  height: 20px;
  margin-top: -9px;
}
.webs-content .categoryLinks .link {
  list-style-type: none;
}
.webs-content .webs-module-undefined,
.webs-content .webs-module-null {
  color: #7f0505;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.webs-content .webs-module-undefined a,
.webs-content .webs-module-null a {
  color: #3399ff;
}
.webs-content .webs-module-undefined a:hover,
.webs-content .webs-module-null a:hover {
  color: #3399ff;
}
.webs-content .webs-module-undefined .fw-list-grid,
.webs-content .webs-module-null .fw-list-grid {
  width: 100%;
}
.webs-content .webs-module-undefined .icon-link,
.webs-content .webs-module-null .icon-link {
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-top: 2px;
}
.webs-content .webs-module-undefined #item-manage-website a.icon-link,
.webs-content .webs-module-null #item-manage-website a.icon-link {
  background-image: url('https://images.webs.com/static/global/icons/silk/page_edit.png');
}
.webs-content .webs-module-undefined img.fw-photo,
.webs-content .webs-module-null img.fw-photo {
  border: 1px solid #ccc;
  padding: 2px;
  background-color: #fff;
}
.webs-content .webs-module-undefined .fw-list-grid,
.webs-content .webs-module-null .fw-list-grid {
  width: 100%;
}
.webs-content .webs-module-undefined .fw-list-grid img.fw-profile-pic,
.webs-content .webs-module-null .fw-list-grid img.fw-profile-pic {
  border: 1px solid #ccc;
  padding: 2px;
  background-color: #fff;
  width: 60px !important;
  height: 60px !important;
}
.webs-content .webs-module-undefined .fw-list-list,
.webs-content .webs-module-null .fw-list-list {
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
}
.webs-content .webs-module-undefined .fw-list-list li,
.webs-content .webs-module-null .fw-list-list li {
  clear: both;
}
.webs-content form .whiteBox {
  color: #3f8baf;
  background: none;
}
.webs-content .theme-color-text {
  color: #3f8baf;
}
/*
 * This is the correct way to calculate which color to use ... but we can't do this because
 * luma isn't supported in our version of less.js.  When we move to node and are using the latest
 * less.js, we can use this methods directly over calculating the correct luma values in javascript
.determineColorLegibleFromTextColor (@input_color) when (abs(luma(@text_color) - luma(@input_color)) > 43%) {
	color: @text_color;
}
.determineColorLegibleFromTextColor (@input_color) when (abs(luma(@text_color) - luma(@input_color)) <= 43%) {
	color: @input_color;
}
*/
.webs-outer.fw-persistent-cart-header {
  margin: -8px -8px 0;
  padding: 16px 0 8px;
  background: #000;
  position: relative;
  z-index: 100;
}
.webs-outer.fw-persistent-cart-header .fw-pcart-container {
  width: 960px;
  margin: 0 auto;
}
.webs-outer.fw-persistent-cart-header .fw-pcart-container .fw-pcart-button-container {
  display: inline-block;
  text-align: right;
  width: 100%;
}
.webs-outer.fw-persistent-cart-header .fw-pcart-container .fw-pcart-button-container .fw-pcart-button {
  color: #fff;
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: .5em .9em;
  background-color: #3f8baf;
  text-decoration: none;
  font-family: "Helvetica", Arial, Sans-Serif;
  font-weight: 300;
  transition: background-color 0.3s ease;
  font-size: 14px;
  line-height: 14px;
}
.webs-outer.fw-persistent-cart-header .fw-pcart-container .fw-pcart-button-container .fw-pcart-button:hover {
  background-color: #5da3c4;
}
.ie7 .webs-content .fw-searchContainer .fw-searchSubmit,
.ie8 .webs-content .fw-searchContainer .fw-searchSubmit,
.ie9 .webs-content .fw-searchContainer .fw-searchSubmit {
  background-image: url('https://static.websimages.com/static/projects/finch/themes/app_search_ie.png');
}
/* ----- fonts ----- */
.w-header-text-container .w-header-title {
  font-family: 'Metrophobic', sans-serif;
}
.w-header-text-container .w-header-subtitle {
  font-family: 'Helvetica Neue', sans-serif;
}
.webs-nav {
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.webs-nav a {
  color: #333333;
}
.webs-nav a:hover {
  color: #333333;
}
.webs-title {
  color: #004b97;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.webs-title a {
  color: #3399ff;
}
.webs-title a:hover {
  color: #3399ff;
}
body,
.webs-text,
.w-header-text,
input[type=text],
input[type=email],
input[type=password],
textarea {
  color: #7f0505;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 20px;
}
body a,
.webs-text a,
.w-header-text a,
input[type=text] a,
input[type=email] a,
input[type=password] a,
textarea a {
  color: #3399ff;
}
body a:hover,
.webs-text a:hover,
.w-header-text a:hover,
input[type=text] a:hover,
input[type=email] a:hover,
input[type=password] a:hover,
textarea a:hover {
  color: #3399ff;
}
.webs-footer,
.webs-footer .webs-text,
.webs-footer,
.webs-footer input[type=text],
.webs-footer input[type=email],
.webs-footer input[type=password],
.webs-footer textarea {
  color: #666666;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  line-height: 14px;
}
.webs-footer a,
.webs-footer .webs-text a,
.webs-footer a,
.webs-footer input[type=text] a,
.webs-footer input[type=email] a,
.webs-footer input[type=password] a,
.webs-footer textarea a {
  color: #3399ff;
}
.webs-footer a:hover,
.webs-footer .webs-text a:hover,
.webs-footer a:hover,
.webs-footer input[type=text] a:hover,
.webs-footer input[type=email] a:hover,
.webs-footer input[type=password] a:hover,
.webs-footer textarea a:hover {
  color: #3399ff;
}
.webs-footer .webs-title {
  color: #333333;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.webs-footer .webs-title a {
  color: #3399ff;
}
.webs-footer .webs-title a:hover {
  color: #3399ff;
}
/* --- MAIN --- */
body {
  background: #dedad7 url("https://dynamic.websimages.com/s/themes/organic_white/v1.24/images/bg_pattern.png") repeat scroll center 0;
  color: #333;
  font-size: 11px;
  height: auto;
  padding: 20px 0;
  background-attachment: fixed;
}
::selection {
  background-color: rgba(63, 139, 175, 0.15000000000000002) !important;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
/* --- Nav --- */
#top-bar {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -495px;
  width: 990px;
  height: 50px;
  z-index: 21;
}
#top-bar #webs-nav-wrap {
  position: relative;
  height: 40px;
  margin: 45px 0 20px;
  text-align: right;
  background: #3f8baf url('https://dynamic.websimages.com/s/themes/resume/v1.21/images/bannerbg.png');
}
#top-bar #webs-nav-wrap:before,
#top-bar #webs-nav-wrap:after {
  content: '';
  position: absolute;
  bottom: -15px;
  display: block;
  z-index: -1;
  width: 0;
  height: 0;
  border: 15px solid transparent;
}
.ie8 #top-bar #webs-nav-wrap:before,
.ie8 #top-bar #webs-nav-wrap:after {
  display: none;
}
#top-bar #webs-nav-wrap:before {
  border-right-color: #244f64;
  left: -15px;
}
#top-bar #webs-nav-wrap:after {
  border-left-color: #244f64;
  right: -15px;
}
#top-bar #webs-nav-wrap > ul {
  height: 39px;
  z-index: 2;
  position: relative;
  right: 0;
  display: inline-block;
}
#top-bar #webs-nav-wrap > ul > li {
  display: block !important;
  position: relative;
}
#top-bar #webs-nav-wrap > ul > li.active {
  color: #ffffff;
  background-color: #387c9c;
}
#top-bar #webs-nav-wrap > ul > li:hover {
  background-color: #387c9c;
}
#top-bar #webs-nav-wrap > ul > li > a {
  padding: 12px 0 9px;
  line-height: 18px;
}
#top-bar #webs-nav-wrap > ul > li > a .title {
  border-right: 1px solid #1B395F;
  padding: 5px 15px;
}
#top-bar #webs-nav-wrap > ul > li:last-child > a .title {
  border-right: none;
}
#top-bar #webs-nav-wrap > ul > li.has-children > a .title {
  padding-right: 30px;
}
#top-bar #webs-nav-wrap > ul > li.has-children > a:after {
  content: " ";
  display: block;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-top-color: #333333;
  position: absolute;
  top: 18px;
  right: 15px;
}
#top-bar #webs-nav-wrap > ul > li.has-children:hover > a:after {
  border-top-color: #dedad7;
}
#top-bar #webs-nav-wrap > ul li {
  float: left;
  list-style: none;
  display: inline;
  position: relative;
}
#top-bar #webs-nav-wrap > ul li:hover > ul {
  display: block !important;
}
#top-bar #webs-nav-wrap > ul li ul {
  display: none;
  position: absolute;
  top: 39px;
  right: 0;
  padding: 5px;
  width: 160px;
  background: #dedad7 url("https://dynamic.websimages.com/s/themes/organic_white/v1.24/images/bg_pattern.png") repeat scroll 50% 0;
  z-index: 100;
  -moz-box-shadow: 0 1px 4px #222222;
  -webkit-box-shadow: 0 1px 4px #222222;
  box-shadow: 0 1px 4px #222222;
}
#top-bar #webs-nav-wrap > ul li ul li {
  width: 160px;
  word-wrap: break-word;
}
#top-bar #webs-nav-wrap > ul li ul li ul {
  left: 161px;
  top: -5px;
}
#top-bar #webs-nav-wrap > ul li ul li > a {
  background: #fafafa url("https://dynamic.websimages.com/s/themes/resume/v1.18/images/groovepaper.png") repeat scroll 50% 0;
  color: #7f0505;
}
#top-bar #webs-nav-wrap > ul li ul li:hover > a {
  background-color: #e1e1e1;
  color: #7f0505;
}
#top-bar #webs-nav-wrap > ul li ul li.has-children > a .title {
  padding-right: 10px;
}
#top-bar #webs-nav-wrap > ul li ul li.has-children > a .title:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  border: 4px solid transparent;
  border-left-color: #7f0505;
  position: absolute;
  top: 13px;
  right: 6px;
}
#top-bar #webs-nav-wrap > ul li ul li.has-children > a:hover .title:after {
  border-left-color: #7f0505;
}
#top-bar #webs-nav-wrap > ul li ul a {
  display: block;
  float: none;
  width: 135px;
  border: none;
  padding: 8px 13px 6px 13px;
  background: none;
  border-bottom: 1px solid #130c0c;
  text-transform: capitalize;
  color: #ffffff;
}
#top-bar #webs-nav-wrap > ul a {
  float: left;
  padding: 10px 13px 11px 13px;
  min-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-position: right center;
  background-repeat: no-repeat;
}
/* --- Content container --- */
#container {
  margin: 20px auto;
  width: 960px;
  background: #fafafa url("https://dynamic.websimages.com/s/themes/resume/v1.18/images/groovepaper.png") repeat scroll center 0;
  padding-top: 85px;
}
/* --- Header --- */
header.webs-content-header {
  float: left;
  width: 520px;
  padding: 0 5px;
}
header.webs-content-header .w-header-area {
  height: 170px;
}
header.webs-content-header .w-header-area .w-header-title {
  font-size: 72px;
  color: #3f8baf;
  font-weight: bold;
  line-height: 86px;
}
header.webs-content-header .w-header-area .w-header-subtitle {
  font-size: 30px;
  font-weight: bold;
  line-height: 43px;
  color: #7f0505;
}
/* --- Info Box --- */
section.infobox {
  float: left;
  width: 350px;
  height: auto !important;
  /* prevent drop target highlighting from resizing it on drag */

  margin-left: 40px;
  padding: 0 5px;
}
section.infobox .webs-text {
  line-height: 1.2em;
}
/* --- Carousel  Wrapper --- */
#carousel-wrapper {
  float: left;
  width: 950px;
  padding: 0 5px;
  margin: 10px 0 20px;
}
/* --- Table Layout --- */
#main-outer {
  float: left;
  display: table;
}
#main-outer #main-inner {
  display: table-row;
  /* --- Body --- */

  /* --- Divider - Vertical --- */

  /* --- Sidebar --- */

}
#main-outer #main-inner #body {
  display: table-cell;
  width: 390px;
  padding: 0 5px 0 45px;
  vertical-align: top;
}
#main-outer #main-inner #body .webs-content {
  min-height: 250px;
  width: 390px;
}
#main-outer #main-inner #body.fullwidth {
  width: 870px;
  padding: 0 45px;
}
#main-outer #main-inner #body.fullwidth .webs-content {
  width: 870px;
}
#main-outer #main-inner #divider_vert {
  display: table-cell;
  width: 1px;
  background: #e1e1e1;
  vertical-align: top;
}
#main-outer #main-inner .divider_vert_spacer {
  display: table-cell;
  width: 40px;
}
#main-outer #main-inner #sidebar {
  display: table-cell;
  width: 390px;
  padding: 0 5px;
  vertical-align: top;
}
#main-outer #main-inner #sidebar .webs-content {
  width: 390px;
}
/* --- Divider - Horizontal --- */
.divider_horiz {
  float: left;
  width: 950px;
  padding: 0 5px;
  margin: 20px 0 0;
}
.divider_horiz .horisontal_line {
  height: 1px;
  width: 870px;
  margin: 39px auto 10px;
  background: #e1e1e1;
}
/* --- Footer --- */
footer.webs-footer {
  float: left;
  width: 950px;
  padding: 0 5px;
  margin-bottom: 5px;
}



/* Frames */
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
div.webs-align-center {
  margin: 0 auto;
  display: block;
}
div.webs-align-left {
  float: left;
}
div.webs-align-right {
  float: right;
}
div.webs-frame {
  display: table;
}
div.webs-frame .webs-hasframe {
  margin: 0;
  float: none;
}
.webs-bin-active .webs-frame:hover .covering {
  display: none;
}
div.webs-frame-default {
  background-color: #fff;
  border: 1px solid #ccc;
}
div.webs-frame-default .webs-frame-container {
  position: relative;
  margin: 4px;
}
div.webs-frame-thickborder {
  background-color: #e1e1e1;
}
div.webs-frame-thickborder .webs-frame-container {
  position: relative;
  margin: 6px;
}
div.webs-frame-u_shadow {
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
}
div.webs-frame-u_shadow .webs-frame-container {
  margin: 4px;
  position: relative;
}
div.webs-frame-u_shadow div.webs-frame-shadow {
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: 0;
}
div.webs-frame-u_shadow div.webs-frame-shadow > span.webs-frame-shadow-tile {
  display: block;
  margin: 0 50px;
  height: 100%;
  background: transparent url('../images/frames/u_shadow.png') repeat-x 0 -6px;
}
div.webs-frame-u_shadow div.webs-frame-shadow:before,
div.webs-frame-u_shadow div.webs-frame-shadow:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 3px;
  width: 50px;
  background: transparent url('../images/frames/u_shadow.png') 0 0;
}
div.webs-frame-u_shadow div.webs-frame-shadow:before {
  left: 0;
}
div.webs-frame-u_shadow div.webs-frame-shadow:after {
  right: 0;
  background-position: 0 -3px;
}
div.webs-frame-inner_opacity {
  position: relative;
}
div.webs-frame-inner_opacity .webs-frame-top,
div.webs-frame-inner_opacity .webs-frame-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 7px;
}
div.webs-frame-inner_opacity .webs-frame-top:after,
div.webs-frame-inner_opacity .webs-frame-bottom:after {
  content: "";
  display: block;
  margin: 0 7px;
  height: 7px;
}
div.webs-frame-inner_opacity .webs-frame-top {
  top: 0;
}
div.webs-frame-inner_opacity .webs-frame-bottom {
  bottom: 0;
}
div.webs-frame-inner_opacity .webs-frame-left,
div.webs-frame-inner_opacity .webs-frame-right {
  position: absolute;
  top: 0;
  width: 7px;
  height: 100%;
}
div.webs-frame-inner_opacity .webs-frame-left {
  left: 0;
}
div.webs-frame-inner_opacity .webs-frame-right {
  right: 0;
}
div.webs-frame-inner_opacity-light .webs-frame-top:after,
div.webs-frame-inner_opacity-light .webs-frame-bottom:after,
div.webs-frame-inner_opacity-light .webs-frame-left,
div.webs-frame-inner_opacity-light .webs-frame-right {
  background: rgba(255, 255, 255, 0.3);
}
div.webs-frame-inner_opacity-dark .webs-frame-top:after,
div.webs-frame-inner_opacity-dark .webs-frame-bottom:after,
div.webs-frame-inner_opacity-dark .webs-frame-left,
div.webs-frame-inner_opacity-dark .webs-frame-right {
  background: rgba(0, 0, 0, 0.4);
}
div.webs-frame-double_contrast {
  background-color: #333;
}
div.webs-frame-double_contrast .webs-frame-container1 {
  position: relative;
  margin: 7px;
  background: #fff;
  border: 1px solid #1f1f1f;
}
div.webs-frame-double_contrast .webs-frame-container2 {
  margin: 4px;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow: inset 0 0 3px #000000;
}
div.webs-frame-paper div.webs-frame-container {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px;
  position: relative;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade {
  height: 8px;
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: 0;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade > span.webs-frame-paper-tile {
  display: block;
  margin: 0 34px;
  height: 100%;
  background: transparent url('../images/frames/papershade.png') repeat-x 0 -8px;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade:before,
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 8px;
  width: 34px;
  background: transparent url('../images/frames/papershade.png') 0 0;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade:before {
  left: 0;
}
div.webs-frame-paper div.webs-frame-container > div.webs-frame-paper-shade:after {
  right: 0;
  background-position: 0 100%;
}
div.webs-frame-tape {
  position: relative;
  padding: 6px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
div.webs-frame-tape div.webs-frame-tape-left,
div.webs-frame-tape div.webs-frame-tape-right {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -35px;
  z-index: 1;
  background: transparent url('../images/frames/tape.png') no-repeat 0 0;
}
div.webs-frame-tape div.webs-frame-tape-left-container {
  position: absolute;
}
div.webs-frame-tape div.webs-frame-tape-right-container {
  position: relative;
}
div.webs-frame-tape div.webs-frame-tape-left {
  left: -35px;
}
div.webs-frame-tape div.webs-frame-tape-right {
  right: -35px;
  background-position: 100% 0;
}
div.webs-frame-album {
  position: relative;
  padding: 20px 15px 20px 43px;
  background: #71789f url('../images/frames/album-noise.png') 0 0;
  box-shadow: inset 30px 1px 1px rgba(255, 255, 255, 0.5), inset -1px -1px 0 rgba(0, 0, 0, 0.1), 4px 4px 0 rgba(0, 0, 0, 0.5), 3px 3px 0 rgba(0, 0, 0, 0.15), 2px 2px 0 rgba(0, 0, 0, 0.15), 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}
div.webs-frame-album div.webs-frame-album-bind {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background: #222222 url('../images/frames/album-binder.png') repeat-y 0 0;
}
div.webs-frame-album div.webs-frame-album-container {
  border: 1px solid #aaa;
  outline: 1px solid #333;
  box-shadow: 0 0 4px #000;
}
div.webs-frame-thumbtack {
  position: relative;
  padding: 15px;
  background: #fff;
  border: 1px solid #aaa;
}
div.webs-frame-thumbtack div.webs-frame-thumbtack-pin {
  position: absolute;
  left: 50%;
  top: -29px;
  width: 31px;
  height: 40px;
  margin-left: -10px;
  background: url('../images/frames/thumbtack.png') no-repeat 0 0;
}
div.webs-frame-thumbtack div.webs-frame-thumbtack-container {
  border: 1px solid #aaa;
  outline: 1px solid #888;
}
div.webs-frame-photocorners {
  position: relative;
  padding: 6px;
  background: #fff;
  border: 1px solid #273531;
}
div.webs-frame-photocorners div.webs-frame-pc-all {
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
  background: url('../images/frames/photo-corners.png') no-repeat 0 0;
}
div.webs-frame-photocorners div.webs-frame-pc-tl {
  background-position: 0 0;
  left: -4px;
  top: -4px;
}
div.webs-frame-photocorners div.webs-frame-pc-tr {
  background-position: 100% 0;
  right: -4px;
  top: -4px;
}
div.webs-frame-photocorners div.webs-frame-pc-bl {
  background-position: 0 100%;
  left: -4px;
  bottom: -4px;
}
div.webs-frame-photocorners div.webs-frame-pc-br {
  background-position: 100% 100%;
  right: -4px;
  bottom: -4px;
}



/* Module Styles */


/* Module: header_editor, Style: default */
.w-header-layer {
  position: absolute;
}
.webs-frame .w-header-layer {
  position: static;
}
.w-header-text {
  white-space: nowrap;
  width: auto;
}
.w-header-layer-delete,
.w-header-layer-overlap {
  display: none;
}
.w-header-layer-align-left .w-header-text {
  text-align: left;
}
.w-header-layer-align-right .w-header-text {
  text-align: right;
}
.w-header-layer-centered {
  right: auto;
  left: 50%;
}
.w-header-layer-centered .w-header-layer-container {
  position: relative;
  left: -50%;
}
.w-header-layer-align-center .w-header-text {
  text-align: center;
}
.w-header-layer-image .w-header-image {
  width: 100%;
  height: 100%;
}
#webs-header .webs-container,
.webs-content-header .webs-container {
  padding: 0;
}


/* Module: title, Style: default */
.webs-title {
  line-height: normal;
}
.webs-title.webs-title-align-left {
  text-align: left;
}
.webs-title.webs-title-align-right {
  text-align: right;
}
.webs-title.webs-title-align-center {
  text-align: center;
}
.webs-title.webs-title-align-justify {
  text-align: justify;
}
.webs-title .w-text {
  display: block;
  word-wrap: break-word;
  max-width: 100%;
}
.webs-title.webs-title-has_icon .w-text {
  display: inline;
}
.webs-title p {
  margin: 0;
  padding: 0;
}


/* Module: spacer, Style: default */
.webs-container.w-spacer-default {
  padding: 0;
}


/* Module: carousel, Style: default */
.w-carousel .bldr-carousel-placeholder .bldr-image-zoomer {
  display: none;
}
.w-carousel .bldr-carousel-placeholder img {
  display: block;
  height: 2000px;
  visibility: hidden;
}
.w-carousel .bldr-placeholder-element {
  width: 100%;
  height: 100%;
}
.w-carousel .bldr-placeholder-element:before {
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
  background-image: url("https://members.webs.com/s/modules/carousel/v1.39/images/placeholder.png");
}
.w-carousel .bldr-placeholder-element:after {
  margin-top: 12px;
  content: attr(data-placeholder-text);
}
.w-carousel-default .w-carousel-indices {
  display: none;
}
.w-carousel-default .hide_description .w-carousel-description,
.w-carousel-default .hide_title .w-carousel-title,
.w-carousel-default .hide_text .w-carousel-text,
.w-carousel-default .hide_button .w-carousel-button {
  display: none;
}
.w-carousel-default .single_slide .w-carousel-next,
.w-carousel-default .single_slide .w-carousel-prev,
.w-carousel-default .single_slide .w-carousel-indices {
  display: none;
}
.w-carousel-default .w-carousel {
  position: relative;
  height: 188px;
}
.w-carousel-default .w-carousel .w-carousel-list-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.w-carousel-default .w-carousel.w-carousel-transitioning .w-carousel-list-wrapper {
  overflow: hidden;
}
.w-carousel-default .w-carousel .w-carousel-list {
  margin: 0;
  padding: 0;
  height: 100%;
}
.w-carousel-default .w-carousel .w-carousel-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
}
.w-carousel-default .w-carousel .w-carousel-list li.active {
  display: block;
}
.w-carousel-default .w-carousel .w-carousel-list li.incoming,
.w-carousel-default .w-carousel .w-carousel-list li.outgoing {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.w-carousel-default .w-carousel .w-carousel-list li .webs-image-crop {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.w-carousel-default .w-carousel-slide {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.w-carousel-default .w-carousel-description {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #fff;
  width: 300px;
  padding: 10px;
  -moz-box-shadow: 0 2px 4px #000000;
  -webkit-box-shadow: 0 2px 4px #000000;
  box-shadow: 0 2px 4px #000000;
}
.w-carousel-default .w-carousel-image {
  position: relative;
  height: 100%;
}
.w-carousel-default .w-carousel-image img {
  position: absolute;
  top: 0;
  left: 0;
}
.w-carousel-default .w-carousel-title {
  color: #064560;
  font: 500 21px 'myriad pro', 'helvetica';
  margin-bottom: 5px;
}
.w-carousel-default .w-carousel-text {
  padding: 0;
}
.w-carousel-default .w-carousel-prev {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 23px;
  height: 22px;
  text-indent: -9999px;
  background: transparent url('https://static.websimages.com/static/projects/finch/images/carousel_back_forward.png') no-repeat 0 0;
}
.w-carousel-default .w-carousel-prev:focus {
  outline: none;
}
.w-carousel-default .w-carousel-next {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 23px;
  height: 22px;
  text-indent: -9999px;
  background: transparent url('https://static.websimages.com/static/projects/finch/images/carousel_back_forward.png') no-repeat 0 bottom;
}
.w-carousel-default .w-carousel-next:focus {
  outline: none;
}


/* Module: button, Style: default */
.w-button-container {
  display: block;
  position: relative;
  max-width: 100%;
}
.w-button-container.hidden {
  display: none;
}
.w-button-container.webs-align-left {
  text-align: left;
  float: none;
}
.w-button-container.webs-align-center {
  text-align: center;
}
.w-button-container.webs-align-right {
  text-align: right;
  float: none;
}
.w-button-container .w-button-align {
  display: inline-block;
  max-width: 100%;
}
.w-button-container .w-button-align.webs-align-center {
  margin: auto auto;
}
.w-button-container .w-button {
  position: relative;
  padding: 5px;
  display: block;
  border: 1px solid black;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  color: #fff;
  font: 700 14px sans-serif;
  text-shadow: 0px 1px 2px #565656;
  text-decoration: none;
  text-transform: none;
}
.w-button-container .w-button .w-button-inner {
  position: relative;
}
.w-button-container .w-button .w-button-inner .w-button-text-wrapper {
  position: relative;
}
.w-button-container .w-button .w-button-inner .w-button-text-wrapper .w-button-text {
  text-align: center;
  word-wrap: break-word;
  position: relative;
}
.w-button-container .w-button.w-button-icon .w-button-inner .w-button-icon-wrapper {
  left: 0;
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 100%;
}
.w-button-container .w-button.w-button-icon .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
  position: absolute;
  top: -8px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-boolean {
  min-height: 16px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-boolean .w-button-icon-wrapper .w-button-icon-icon {
  width: 16px;
  height: 16px;
  top: -8px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-boolean .w-button-text-wrapper .w-button-text {
  padding-top: 0px;
  padding-bottom: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-boolean.w-button-icon-pos-left .w-button-inner .w-button-text-wrapper .w-button-text {
  margin-left: 24px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-boolean.w-button-icon-pos-left .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
  left: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-boolean.w-button-icon-pos-right .w-button-inner .w-button-text-wrapper .w-button-text {
  margin-right: 24px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-boolean.w-button-icon-pos-right .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
  right: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-classy {
  min-height: 24px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-classy .w-button-icon-wrapper .w-button-icon-icon {
  width: 24px;
  height: 24px;
  top: -12px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-classy .w-button-text-wrapper .w-button-text {
  padding-top: 0px;
  padding-bottom: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-classy.w-button-icon-pos-left .w-button-inner .w-button-text-wrapper .w-button-text {
  margin-left: 32px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-classy.w-button-icon-pos-left .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
  left: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-classy.w-button-icon-pos-right .w-button-inner .w-button-text-wrapper .w-button-text {
  margin-right: 32px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-classy.w-button-icon-pos-right .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
  right: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fatcow {
  min-height: 32px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fatcow .w-button-icon-wrapper .w-button-icon-icon {
  width: 32px;
  height: 32px;
  top: -16px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fatcow .w-button-text-wrapper .w-button-text {
  padding-top: 8px;
  padding-bottom: 8px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fatcow.w-button-icon-pos-left .w-button-inner .w-button-text-wrapper .w-button-text {
  margin-left: 40px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fatcow.w-button-icon-pos-left .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
  left: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fatcow.w-button-icon-pos-right .w-button-inner .w-button-text-wrapper .w-button-text {
  margin-right: 40px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fatcow.w-button-icon-pos-right .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
  right: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fugue {
  min-height: 16px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fugue .w-button-icon-wrapper .w-button-icon-icon {
  width: 16px;
  height: 16px;
  top: -8px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fugue .w-button-text-wrapper .w-button-text {
  padding-top: 0px;
  padding-bottom: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fugue.w-button-icon-pos-left .w-button-inner .w-button-text-wrapper .w-button-text {
  margin-left: 24px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fugue.w-button-icon-pos-left .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
  left: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fugue.w-button-icon-pos-right .w-button-inner .w-button-text-wrapper .w-button-text {
  margin-right: 24px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-fugue.w-button-icon-pos-right .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
  right: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-rocky {
  min-height: 16px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-rocky .w-button-icon-wrapper .w-button-icon-icon {
  width: 16px;
  height: 16px;
  top: -8px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-rocky .w-button-text-wrapper .w-button-text {
  padding-top: 0px;
  padding-bottom: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-rocky.w-button-icon-pos-left .w-button-inner .w-button-text-wrapper .w-button-text {
  margin-left: 24px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-rocky.w-button-icon-pos-left .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
  left: 0px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-rocky.w-button-icon-pos-right .w-button-inner .w-button-text-wrapper .w-button-text {
  margin-right: 24px;
}
.w-button-container .w-button.w-button-icon.w-button-icon-set-rocky.w-button-icon-pos-right .w-button-inner .w-button-icon-wrapper .w-button-icon-icon {
  right: 0px;
}



/* Theme Module Styles */
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
.carousel-wrap {
  position: relative;
  margin-bottom: 10px;
}
.webs-bin-active .w-carousel-resume_default .w-carousel .w-carousel-image .webs-image-crop img {
  z-index: 0;
}
.w-carousel-resume_default .w-carousel {
  position: relative;
  padding: 0;
  z-index: 10;
  box-shadow: 0 0 14px 5px rgba(255, 255, 255, 0.3);
}
.w-carousel-resume_default .w-carousel .webs-image-crop {
  box-shadow: inset 0 0 15px 8px rgba(0, 0, 0, 0.25);
}
.w-carousel-resume_default .w-carousel .webs-image-crop img {
  z-index: -1;
}
.w-carousel-resume_default .w-carousel:hover .w-carousel-prev,
.w-carousel-resume_default .w-carousel:hover .w-carousel-next {
  display: block;
}
.w-carousel-resume_default .w-carousel .w-carousel-next,
.w-carousel-resume_default .w-carousel .w-carousel-prev {
  position: absolute;
  display: none;
  top: 47%;
  width: 34px;
  height: 34px;
  opacity: 0.4;
}
.w-carousel-resume_default .w-carousel .w-carousel-next:hover,
.w-carousel-resume_default .w-carousel .w-carousel-prev:hover {
  opacity: 1;
}
.w-carousel-resume_default .w-carousel .w-carousel-prev {
  left: 0;
  background: url("https://dynamic.websimages.com/s/themes/resume/v1.21/images/carousel_nav_prev.png") no-repeat;
}
.w-carousel-resume_default .w-carousel .w-carousel-next {
  right: 0%;
  left: auto;
  background: url("https://dynamic.websimages.com/s/themes/resume/v1.21/images/carousel_nav_next.png") no-repeat;
}
.w-carousel-resume_default .w-carousel .w-carousel-description {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  min-height: 20%;
  color: #fff;
  background: #dedad7;
  background: rgba(33, 33, 33, 0.5);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.w-carousel-resume_default .w-carousel .w-carousel-description .w-carousel-title {
  margin: 5px;
  min-height: 12px;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: left;
  line-height: 38px;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.w-carousel-resume_default .w-carousel .w-carousel-description .w-carousel-title.webs-title-align-left {
  text-align: left;
}
.w-carousel-resume_default .w-carousel .w-carousel-description .w-carousel-title.webs-title-align-center {
  text-align: center;
}
.w-carousel-resume_default .w-carousel .w-carousel-description .w-carousel-title.webs-title-align-right {
  text-align: right;
}
.w-carousel-resume_default .w-carousel .w-carousel-description .w-carousel-text {
  margin: 5px;
  min-height: 12px;
  font-size: 11px;
  font-family: 'Arial', sans-serif;
  text-align: left;
  line-height: 1.8;
  padding-left: 20px;
  padding-bottom: 10px;
}
.w-carousel-resume_default .w-carousel .w-carousel-description .w-carousel-button {
  margin: 5px;
}
.w-carousel-resume_default .w-carousel .w-carousel-description .w-carousel-button:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.w-carousel-resume_default .hide_arrows:hover .w-carousel-next,
.w-carousel-resume_default .hide_arrows:hover .w-carousel-prev {
  display: none;
}
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
.w-button-resume_default .w-button {
  font-size: 10px;
  color: #fafafa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.3);
  background-color: #3f8baf;
  background-image: -moz-linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -o-linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.4, transparent), color-stop(1, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(transparent 40%, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(top, transparent 40%, rgba(0, 0, 0, 0.2) 100%);
  text-transform: uppercase;
  padding: 10px 20px;
}
.w-button-resume_default .w-button:hover {
  background-color: #cecece;
  color: #fff;
  text-shadow: none;
}
.w-buckets-resume_default .w-bucket {
  border-left: 1px dashed #e1e1e1;
  padding-right: 9px;
}
.webs-body .webs-parent-1 > .webs-bin > .webs-bin-wrap > .w-title-resume_default .webs-title,
.webs-sidebar .webs-parent-1 > .webs-bin > .webs-bin-wrap > .w-title-resume_default .webs-title {
  border-bottom: 3px dotted #e1e1e1;
}
/* new clearfix */
* html .clearfix {
  zoom: 1;
}
/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}
/* IE */
.w-contact_form-resume_default .w-contact_form label {
  color: #7f0505;
  font-weight: normal;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.w-contact_form-resume_default .w-contact_form-li > .w-contact_form-input .w-contact_form-field {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.webs-footer .w-contact_form-resume_default {
  text-align: left;
}
