body {
      background-color: #f2f2f2;
    }

    .spinner {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 84px;
      height: 84px;
      border-radius: 100%;
      border: 16px solid #dc3b40;
      border-left: 16px solid transparent;
      -webkit-animation: sk-stretchdelay 1.2s infinite linear;
      animation: sk-stretchdelay 1.2s infinite linear;
    }

    @-webkit-keyframes sk-stretchdelay {
      0% {
        transform: rotate(0deg)
      }
      100% {
        transform: rotate(360deg)
      }
    }

    @keyframes sk-stretchdelay {
      0% {
        transform: rotate(0deg)
      }
      100% {
        transform: rotate(360deg)
      }
    }