/**
 * Common Style.
 *
 * @package  wp-configurator-pro/assets/frontend/css/
 * @since  3.0.5
 */

/* configurator styles */
.wpc-hidden {
    display: none;
}

.wpc-config-element a {
    text-decoration: none;
}

.wpc-preview-parent-wrap.wpc-loading {
    position: relative;
    height: 500px;
    max-height: 100%;
}

.wpc-configurator.wpc-loading .wpc-carousel {
    opacity: 0;
    visibility: hidden;
}

.wpc-configurator.wpc-loading .wpc-carousel.wpc-carousel-loaded {
    opacity: 1;
    visibility: visible;
}

.wpc-loading:before {
    content: '';
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid rgba(150, 150, 150, 0.2);
    border-top-color: #9e9e9e;
    animation: trspin 1s infinite linear;
    color: black;
    right: 0px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 201;
}

.wpc-loading:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.wpc-configurator-view.wpc-carousel.wpc-carousel-loaded {
    opacity: 1;
    visibility: visible;
}

.wpc-hide-control {
    display: none;
}

.form-notice {
    position: absolute;
    color: green;
    top: 10px;
}

.wpc-field-btn {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.wpc-field-btn a {
    margin: 0 5px;
    letter-spacing: 1.5px;
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    display: inline-block;
}

#screenshot-con {
    position: relative;
}

#screenshot-con .subset {
    opacity: 0;
    visibility: hidden;
}

#screenshot-con .subset.active {
    opacity: 1;
    visibility: visible;
}



/* Hotspot */
.wpc-hotspot {
    width: 36px;
    height: 36px;
    position: absolute;
    z-index: 1000;
    border: 1px solid transparent;
}

.wpc-hotspot span {
    display: block;
    background: #fff;
    height: 100%;
    border-radius: 100%;
    border: 2px solid #0d0d1a;
    box-sizing: border-box;
    position: relative;
}

.wpc-hotspot span:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #0d0d1a;
    position: absolute;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.wpc-hotspot.active-layer-hotspot {
    z-index: 9999 !important;
    border: 1px solid #000;
}

.wpc-hotspot-tooltip {
    width: 210px;
    padding-top: 15px;
    text-align: center;
    position: absolute;
    left: -88px;
    margin: auto;
    opacity: 0;
    visibility: hidden;
    transition: all ease .3s;
}

.wpc-hotspot:hover .wpc-hotspot-tooltip {
    opacity: 1;
    visibility: visible;
}

.wpc-hotspot-tooltip .wpc-title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 7px;
}

.wpc-hotspot-tooltip .wpc-desc {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 0;
}

.wpc-hotspot-tooltip .wpc-hotspot-tooltip-inner {
    padding: 12px 14px;
    background: #fff;
    position: relative;
    box-shadow: 0px 0px 20px #00000029;
}

.wpc-hotspot-tooltip .wpc-hotspot-tooltip-inner:before {
    content: '';
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
}

.wpc-hotspot-tooltip.wpc-tooltip-top {
    bottom: 34px;
    top: auto;
    padding-top: 0;
    padding-bottom: 15px;
}

.wpc-hotspot-tooltip.wpc-tooltip-top .wpc-hotspot-tooltip-inner:before {
    border-bottom: none;
    border-top: 10px solid #fff;
    bottom: -8px;
    top: auto;
}

.wpc-hotspot-tooltip.wpc-tooltip-left {
    top: 0;
    margin-top: -15px;
    left: auto;
    right: 34px;
    padding-top: 0;
    padding-right: 15px;
    text-align: left;
}

.wpc-hotspot-tooltip.wpc-tooltip-left .wpc-hotspot-tooltip-inner:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    border-right: none;
    right: -8px;
    left: auto;
    top: 21px;
    bottom: auto;
}

.wpc-hotspot-tooltip.wpc-tooltip-right {
    top: 0;
    margin-top: -15px;
    right: auto;
    left: 34px;
    padding-top: 0;
    padding-left: 15px;
    text-align: left;
}

.wpc-hotspot-tooltip.wpc-tooltip-right .wpc-hotspot-tooltip-inner:before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    border-left: none;
    left: -8px;
    right: auto;
    top: 21px;
    bottom: auto;
}

.blockUI.blockOverlay {
    background: none !important;
}

.wpc-clearfix {
    clear: both;
}

/* WPC Form */
.wpc-field-group {
    margin-bottom: 20px;
}

.wpc-field-group:last-child {
    margin-bottom: 0;
}

.wpc-custom-field-form input {
    width: 100% !important;
}

.wpc-custom-field-form .wpc-field-title {
    margin-bottom: 10px;
    display: block;
}

.wpc-custom-field-form .wpc-field-radio {
    margin-bottom: 8px;
    display: block;
}

.wpc-custom-field-form .wpc-field-radio label {
    cursor: pointer;
}

.wpc-custom-field-form input[type="radio"] {
    width: auto !important;
    float: left;
    margin-left: 0;
    margin-top: 4px;
    margin-right: 5px;
}

.wpc-custom-field-form select {
    width: 100%;
    border: 1px solid #dcd7ca;
    padding: 10px;
}

.wpc-notice {
    margin-bottom: 20px;
    display: block;
    font-weight: 600;
}

.wpc-success {
    color: #0f9652;
}

.wpc-error {
    color: red;
}

.wpc-field-group .error {
    font-size: 13px;
    color: red;
}

.wpc-sign {
    display: none;
}

/* Cart Page Variation */
.wpc-cart-form-cart-item dd {
    margin-bottom: 10px !important;
}

.wpc-cart-form-cart-item dt {
    font-size: 13px;
    letter-spacing: 1px;
    display: block !important;
    clear: both !important;
    float: none !important;
}

.wpc-cart-form-cart-item span.item-child-title {
    display: flex;
    align-items: center;
}

.wpc-cart-form-cart-item span.item-title-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 8px;
}

.wpc-cart-form-cart-item .wc-item-meta .wc-item-meta-label {
    float: none;
}

.wpc-cart-form-cart-item span.item-title-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wpc-cart-form-cart-item span.item-child-title:after {
    content: '\38';
    font-family: 'wp-configurator' !important;
    padding: 0 6px;
    display: inline-block;
}

.wpc-cart-form-cart-item .item-child-title:last-child:after {
    content: none;
}

.wpc-cart-form-cart-item .item-child-title:last-child {
    margin-right: 10px;
}

.wpc-cart-form-cart-item .wpc-cart-after-title-link {
    text-decoration: none;
    display: inline-block;
    clear: both;
    color: #000 !important;
    align-items: center;
    justify-content: center;
    font-size: 10px !important;
    margin-top: 10px;
    border-bottom: 1px solid;
}

.wpc-cart-form-cart-item .variation {
    display: none;
    margin-top: 10px;
}

/* wpc-inspiration-form */
.wpc-floating-icons {
    position: absolute;
    z-index: 9;
    list-style: none;
    margin: 0;
    left: 0px;
}

.wpc-floating-icons li {
    list-style: none;
    margin: 0 0 10px 0;
    position: relative;
}

.wpc-floating-icons li:last-child {
    margin-bottom: 0;
}

.wpc-floating-icons li:before {
    content: attr(data-text);
    position: absolute;
    left: 30px;
    width: 151px;
    color: #767696;
    font-size: 12px;
    top: 50%;
    margin-top: -8px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
    text-transform: uppercase;
}

.wpc-floating-icons li:hover:before {
    opacity: 1;
    left: 45px;
    visibility: visible;
    transition: all ease-in-out 0.5s;
}

.wpc-floating-icons li:last-child span {
    margin-bottom: 0;
}

.wpc-floating-icons a {
    color: #767696;
    display: block;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
}

.wpc-floating-icons .wpc-icon {
    width: 30px;
    height: 30px;
    display: block;
    margin-bottom: 16px;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
}

.wpc-form input,
.wpc-form select {
    height: 50px;
    width: 100%;
    padding: 0px 20px;
    border: 1px solid #e6e6e6;
    color: #808080;
    font-size: 13px;
    font-weight: 500;
}

.wpc-form input[type="text"] {
    font-size: 13px;
}

.wpc-form textarea {
    padding: 15px 20px;
    width: 100%;
    height: 120px;
    border: 1px solid #e6e6e6;
    color: #808080;
}

.wpc-form input:focus,
.wpc-form select:focus {
    outline: none;
}

.wpc-form label {
    display: block;
    margin-bottom: 10px;
}

.wpc-field-btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wpc-field-btn-group .wpc-field-group {
    margin: 0 10% 0 0;
    width: 45%;
    text-align: center;
}

.wpc-field-btn-group .wpc-field-group:last-child {
    margin: 0;
}

.wpc-field-btn-group .wpc-field-group .wpc-primary-btn, .wpc-field-btn-group .wpc-field-group .wpc-secondary-btn {
    display: block;
    width: 100%;
}

.wpcf7-form-control-wrap {
    display: block;
    margin-top: 10px;
}

.wpc-config-element .wpc-primary-btn, .wpc-config-element .wpcf7-submit {
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    border: none;
    background: #0d0d1a;
    color: #fff;
    display: inline-block;
    width: auto;
    height: 42px;
    cursor: pointer;
}

.wpc-config-element .wpc-secondary-btn {
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    border: none;
    background: rgb(13 13 26 / 80%);
    color: #fff;
    height: 42px;
    cursor: pointer;
}



.wpc-overlay {
    content: '';
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    cursor: pointer;
}

.wpc-magnify-wrapper.active .wpc-overlay {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.wpc-magnify {
    background: #fff;
    width: 700px;
    padding: 50px;
    height: auto;
    z-index: 11;
    border-radius: 6px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    position: relative;
}

.wpc-magnify img {
    height: auto;
    max-width: 100%;
}

.wpc-magnify-wrapper .wpc-close {
    color: #fff;
    background: #000;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    line-height: 40px;
    position: absolute;
    top: -16px;
    right: -16px;
    font-size: 16px;
    z-index: 15;
    text-align: center;
    cursor: pointer;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.wpc-popup-wrap {
    position: absolute;
    padding: 33px 30px;
    z-index: 9999;
    display: none;
}

.wpc-popup-wrap.wpc-popup-partial, .wpc-popup-wrap.wpc-popup-floating {
    background: #fff;
    border: 1px solid #eaeaea;
}

.wpc-popup-wrap.wpc-popup-floating {
    left: 40px;
    width: 300px;
    max-width: 100%;
}

.wpc-popup-wrap .wpc-popup {
    display: none;
}

.wpc-popup-wrap .wpc-popup.active {
    display: block;
}

.wpc-popup-wrap.wpc-popup-center .wpc-popup {
    height: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 999;
    align-items: center;
    justify-content: center;
}

.wpc-popup-wrap.wpc-popup-center.wpc-popup-active .wpc-popup.active {
    display: flex;
}

.wpc-popup-wrap.wpc-popup-full .wpc-popup {
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    border: 1px solid #f1f1f1;
    padding: 100px 20px;
    background: #f5f5f5;
    box-shadow: 0 0 23px #eaeaea;
    border-radius: 3px;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
    overflow: hidden;
}

.wpc-popup-wrap.wpc-popup-partial {
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.wpc-popup-wrap.wpc-popup-active {
    display: block;
}

.wpc-popup-active.wpc-popup.wpc-popup-full {
    display: flex;
}

.wpc-popup-full .wpc-product-title {
    text-align: center;
}

.wpc-popup-full .wpc-form {
    width: 600px;
    max-width: 100%;
    position: relative;
    padding-bottom: 80px;
    z-index: 9;
    text-align: left;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
}

.wpc-popup .overlay {
    content: '';
    background: #f5f5f5;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.wpc-popup.active .overlay {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}

.wpc-config-element .wpc-close-btn {
    position: fixed;
    background: #000;
    top: 60px;
    right: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    z-index: 10;
    cursor: pointer;
}

.wpc-popup-partial .wpc-close-btn, .wpc-popup-center-overflow .wpc-close-btn {
    position: absolute;
}

.wpc-popup-center-overflow .wpc-close-btn {
    top: 30px;
}

.wpc-close-btn:hover {
    background: #333;
    color: #fff;
}

.wpc-flyin-wrap {
    width: 450px;
    max-width: 100%;
    background: #0d0d1a;
    position: fixed;
    top: 0;
    transition: all ease-in-out 0.5s;
    height: 100%;
    overflow: hidden;
    z-index: 9;
}

.wpc-flyin-wrap.wpc-flyin-left.wpc-flyin-medium {
    width: 555px;
    left: -555px;    
}

.wpc-flyin-wrap.wpc-flyin-right.wpc-flyin-medium {
    width: 555px;
    right: -555px;    
}

.wpc-flyin-wrap.wpc-flyin-left.wpc-flyin-small {
    width: 450px;
    left: -450px;    
}

.wpc-flyin-wrap.wpc-flyin-right.wpc-flyin-small {
    width: 450px;
    right: -450px;    
}

.wpc-flyin-wrap.wpc-flyin-left.active {
    left: 0px;
    transition: all ease-in-out 0.5s;
}

.wpc-flyin-wrap.wpc-flyin-right.active {
    right: 0px;
    transition: all ease-in-out 0.5s;
}

.wpc-flyin-wrap .wpc-flyin-close-icon {
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 9;
}

.wpc-flyin-wrap .wpc-flyin-close-icon i:before,
.wpc-flyin-wrap .wpc-flyin-close-icon span:before {
    vertical-align: middle;
}

/* Center Overflow */
.wpc-popup-center-overflow .wpc-popup-inner {
    position: fixed;
    width: 640px;
    max-width: 90%;
    height: auto;
    max-height: calc(90% - 6%);
    text-align: center;
    margin: 3% auto;
    left: 0;
    right: 0;
    top: 5%;
    border: 1px solid #f1f1f1;
    padding: 5% 2%;
    background: #f5f5f5;
    box-shadow: 0 0 23px #eaeaea;
    border-radius: 3px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.wpc-popup-center-overflow .wpc-popup.active .wpc-popup-inner {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
}

.wpc-popup-inner.wpc-extend-height {
    height: 100%;
}

.wpc-form-main-title {
    font-size: 21px;
    margin-bottom: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.wpc-form-title {
    font-size: 19px;
    margin: 0;
    margin-bottom: 30px;
}

.wpc-small-title {
    padding-top: 0px;
    font-size: 14px;
    color: #898989;
    margin-bottom: 20px;
    font-weight: normal;
    display: inline-block;
}

.wpc-separator-text {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 25px 0;
    display: block;
    color: #515151;
}

/* Preview Slider */

.wpc-configurator-view img,
.wpc-configurator .wpc-carousel .wpc-carousel-item img {
    max-width: none;
}

.wpc-configurator-view .wpc-carousel-nav {
    width: 100%;
    font-size: 40px;
}

.wpc-configurator-view .wpc-carousel-nav .wpc-carousel-prev,
.wpc-configurator-view .wpc-carousel-nav .wpc-carousel-next {
    float: left;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    left: 40px;
    outline: none;
    z-index: 9999;
}

.wpc-configurator-view .wpc-carousel-nav .wpc-carousel-next {
    float: right;
    left: auto;
    right: 40px;
}

.wpc-configurator-view .wpc-carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 50px;
    text-align: center;
}

.wpc-configurator-view .wpc-carousel-dot {
    float: none;
    display: inline-block;
    background: #0a0a1a;
    color: #ababaf;
    border: none;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50px;
}

.wpc-configurator-view .wpc-carousel-dot:focus {
    outline: none;
}

.wpc-configurator-view .wpc-carousel-dot.active {
    color: #fff;
    background: #00f1ff;
}

.dot-style-tabs.wpc-configurator-view .wpc-carousel-dot.active {
    cursor: default;
}

.dot-style-tabs.wpc-configurator-view .wpc-carousel-dot {
    width: auto;
    height: auto;
    padding: 5px 20px;
    margin-bottom: 10px;
}

.dot-style-tabs.wpc-configurator-view.dot-position-top .wpc-carousel-dots {
    top: 0;
    bottom: auto;
}

.wpc-preview-inner {
    width: 100%;
}

.subset {
    position: absolute;
}

.wpc-configurator .subset {
    display: none;
}

.wpc-configurator .subset.active {
    display: block;
}

.wpc-configurator .subset.wpc-always-show {
    display: block;
}

.wpc-configurator-view.wpc-carousel {
    display: block;
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 360px) {
    .wpc-field-btn-group .wpc-field-group .wpc-primary-btn, .wpc-field-btn-group .wpc-field-group .wpc-secondary-btn {

    }

    .wpc-field-btn-group .wpc-field-group {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
}