ï»¿@font-face {
    font-family: "Montserrat-Light";
    src: url("fonts/Montserrat-Light.ttf")
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("fonts/Montserrat-Regular.ttf")
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("fonts/Montserrat-SemiBold.ttf")
}

/*fÃ¶r site default*/
/*html {
    max-width: 750px;
}*/

body {
     max-width: 750px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: Montserrat-Light;
    margin: 0 auto;
    /*background: #FFE57F;*/
}

h1, h2, h3, h4 {
    font-family: Montserrat-SemiBold;
    line-height: 1.4;
}

p, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

p.disabled{
    color: #e0e0e0;
}

main {
    padding: 0 8px 44px 8px;
    background: #FFE57F;
    min-height: 100vh;
}

p {
    font-size: 16px;
    color: #3e3e3e;
}
label {
    font-size: 14px;
    color: #3e3e3e;
    font-family: Montserrat-SemiBold;
}

h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

h1, h2, h3 {
    color: #2e2e2e;
}

a {
    font-family: Montserrat-Regular;
}

.regular {
    font-family: Montserrat-Regular;
}

/*
    Header
*/

.top-gradient {
    background: linear-gradient(-180deg, #FFCC00 19%, #FFE57F 100%);
    margin-left: -8px;
    margin-right: -8px;
    height: 290px;
}

.header {
    height: 64px;
    width: 100%;
    padding: 8px;
    display: flex;
    position: relative; /*added*/
    justify-content: space-between;
}

.top-content {
    padding: 16px 24px;
}

/*
    Hamburger in header
*/

.hamburger {
    border-radius: 50%;
    cursor: pointer;
    height: 48px;
    transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    width: 48px;
}

.hamburger span {
    background: #d31116;
    display: block;
    height: 1px;
    margin: 0 auto;
    transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    width: 16px;
}

.hamburger span:nth-child(1) {
    margin-top: 19px;
}

.hamburger span:nth-child(2) {
    margin-top: 5px;
}

.hamburger span:nth-child(3) {
    margin-top: 5px;
}

.hamburger.aktiv {
    background: #d31116;
}

.hamburger.aktiv span {
    background: #ffffff;
}

/*
    Popover
*/

#popover {
    border-radius: 3px;
    border: 1px solid rgba(51, 0, 0, 0.1);
    box-shadow: none;
    display: block;
    height: 115px;
    top: 54px;
    left: 8px;
    padding: 24px;
    position: absolute;
    width: 227px;
    z-index: 1060;
}

#popover ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#popover ul li {
    padding-bottom: 5px;
    padding-top: 5px;
}

#popover ul li a {
    color: #d31116;
    font-size: 16px;
}

/*
    Popover Arrow
*/

#popover:after, #popover:before {
    bottom: 100%;
    left: 19px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#popover:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 14px;
    margin-left: -11px;
}

#popover:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(51, 0, 0, 0.1);
    border-width: 15px;
    margin-left: -12px;
}


.logo-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
/*logo*/

.logo {
    width: auto;
    height: auto;
    margin-top: 12px;
}

.flag-bg {
    width: 48px;
    height: 48px;
    text-align: center;
}

.flag {
    width: 24px;
    height: 18px;
    margin-top: 15px;
}



/*
    Modal-shared
*/
.lock {
    overflow:hidden;
}
.modal-cover {
    background: #FFE57F;
    position: fixed;
    padding: 70px 16px;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    width: 750px;
    margin: 0 auto;
    z-index: 1;
}

@media only screen and (max-width: 750px) {

    .modal-cover {
        width: 100%
    }
}

.leveranstid-modal {
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(219,134,5,0.25), 0px 0px 0px 1px rgba(181,105,0,0.20);
    border-radius: 8px;
    position: relative;
    width: 100%;
    /*height: 100%;*/
}
#kartamodal .leveranstid-modal, #villkormodal .leveranstid-modal, #vanligamodal .leveranstid-modal {
    height: 100%;
}
/*Header modal
.leveranstid-modal-header {
    height: 56px;
    border-bottom: 1px solid #dddddd;
    position: relative;
}*/

/*Close X-button*/
.close {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.close:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
    border-radius: 5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*Body modal*/

#vanligamodal {
    display: none;
}

#villkormodal {
    display: none;
}

.leveranstid-modal-body {
    overflow-y: scroll;
    max-height: 100%;
    border-radius:8px;
}

.leveranstid-modal-body-text {
    padding: 24px 0 24px 26px;
    border-bottom: 1px solid #dddddd;
}

.leveranstid-lista {
    list-style: none;
    margin: 0;
    padding: 0;
}

.leveranstid-lista li {
    border-bottom: 1px solid #dddddd;
    position:relative;
}
.firstChild {
   
    margin-top: 56px;
}
.leveranstid-lista li p{
    position:relative;
}
.leveranstid-lista li div{
    position:relative;
}
.question {
    color: #D31115;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
}

.questionodd {
    background-color: #f3f3f3;
}

.question div:nth-child(1) {
    max-width: 80%;
}

.leveranstid-lista li.active-li {
    background-color: #6e6e6e;
    color: #fff;
}

.leveranstid-lista li.active-li p {
    color: #fff;
}

.leveranstid-lista li.active-li .expandera:before, .leveranstid-lista li.active-li .expandera:after {
    background: #fff;
}

.answer {
    padding: 24px;
    display: none;
}

.answer p:nth-child(1) {
    margin-bottom: 10px;
}
.answer a {
    text-decoration: none;
    color: #d31115;
}
.expandera {
    position: relative;
    align-self: center;
    width: 10px;
}

.expandera:before, .expandera:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 15px;
    background: #D31115;
    transition: transform .25s ease-in-out;
}

.expandera:before {
    transform: rotate(90deg);
}

.toggled.expandera:before {
    transform: rotate(0);
}

/*
    SÃ¤ngningsdetaljer
*/
.shipmentdetails {
    margin-left: -8px;
    margin-right: -8px;
}

.shipmentdetails p {
    font-size: 14px;
}

.detailsheader {
    background-color: #f5f5f5;
    height: 44px;
    padding: 13px 20px 12px 16px;
    border-top: 1px solid rgba(51, 0, 0, 0.1);
    border-bottom: 1px solid rgba(51, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.detailsinfo {
    border-top: 1px solid rgba(51, 0, 0, 0.1);
    background-color: #fff;
    padding: 17px 16px 17px 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.detailsinfo > div {
    align-self: center;
    margin-right: 8px;
}

.detailsinfo p, span {
    line-height: 1.6;
}

.detailsinfo span {
    font-family: Montserrat-SemiBold;
    margin-right: 3px;
}

.detailsinfo img {
    width: 15px;
}

.detailsinfo a {
    text-decoration: none;
    color: #D31115;
}

/*
    Arrowdown

*/
.arrow-container {
    padding: 9px;
}

.arrowdown {
    border: solid #D31115;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2px;
}

.arrowup {
    border: solid #D31115;
    border-width: 2px 0 0 2px;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*
    BookningsformulÃ¤r
*/
.bokningsform {
    background: #FFFFFF;
    /*border: 1px solid rgba(181, 105, 0, 0.20);
    box-shadow: 0 2px 4px 0 rgba(219, 134, 5, 0.25);*/
    box-shadow: 0 2px 4px 0 rgba(219,134,5,0.25), 0px 0px 0px 1px rgba(181,105,0,0.20);
    border-radius: 8px;
    padding: 24px;
    padding-bottom: 42px;
}
.bokningsform h2 > span {
    font-family: Montserrat-Light;
}
/*
    Radiobtn
*/

.bokningsalternativ {
    margin-top: 25px;
}

.check {
    margin-bottom: 16px;
    font-family: Montserrat-Regular;
}

.check span {
    display: inline-block;
    border: 1px solid rgb(210 200 200);
    width: 24px;
    height: 24px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fafafa;
    text-align: center;
}

.check.selected span:before {
    display: inline-block;
    border: 1px solid #D31115;
    width: 12px;
    height: 12px;
    margin-top: -5px;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(211, 17, 22, 0.5);
    content: "";
}

.check.selected span {
    border: 1px solid rgba(255, 215, 56, 1);
}
/*
    info leverans/hÃ¤mta
*/
#deliveryinfo {
    display: none;
    overflow: hidden;
}

#pickupinfo {
    display: none;
    overflow: hidden;
}

.info-container {
    margin-bottom: 24px;
}

.info-leveranstid p {
    margin-bottom: 10px;
}

.info-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.info-box img {
    margin-right: 24px;
}

.info-box p {
    margin: 0;
}

.info-box a {
    color: #d31115;
    text-decoration: none;
}

.link {
    margin-top: 24px;
}

.link a {
    text-decoration: none;
    color: #d31115;
    font-size: 16px;
    font-family: Montserrat-Regular
}

/*
    Steg 2 expandera
*/

.center-wrapper {
    width: 100%;
    position: relative;
}

.step2 {
    transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.collapsed {
    margin-top: -380px;
}
.collapsed2 {
    margin-top: -340px;
}
.deliveryinfo2 {
    padding-top: 56px;
    background: #fff;
}

.deliveryinfo2 p {
    font-size: 14px;
    margin-bottom: 0;
}

.deliveryinfo2 h2 {
    margin-bottom: 15px;
}

.opacity-box {
    height: 95px;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.45) 26%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 65%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.45) 26%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 65%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.45) 26%, rgba(255, 255, 255, 1) 78%, rgba(255, 255, 255, 1) 65%);
    transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

.collapsed-box {
    height: 36px;
}

.wrapper {
    width: 163px;
    margin: 0 auto;
    position: relative;
}

.showmore {
    border: 1px solid #dddddD;
    border-radius: 24px;
    background-color: #fafafa;
    font-size: 13px;
    color: #d31115;
    padding: 12px 24px;
    width: 163px;
    margin-top: -23px;
    position: absolute;
    font-family: Montserrat-Regular;
}

.showmore:before {
    content: "";
    height: 1px;
    width: 58px;
    left: -75px;
    top: 20px;
    background: #dddddD;
    position: absolute;
}

.showmore:after {
    content: "";
    height: 1px;
    width: 58px;
    right: -75px;
    background: #dddddD;
    top: 20px;
    position: absolute;
}
.showmore2 {
    border: 1px solid #dddddD;
    border-radius: 24px;
    background-color: #fafafa;
    font-size: 13px;
    color: #d31115;
    padding: 12px 24px;
    width: 163px;
    margin-top: -23px;
    position: absolute;
    font-family: Montserrat-Regular;
}

    .showmore2:before {
        content: "";
        height: 1px;
        width: 58px;
        left: -75px;
        top: 20px;
        background: #dddddD;
        position: absolute;
    }

    .showmore2:after {
        content: "";
        height: 1px;
        width: 58px;
        right: -75px;
        background: #dddddD;
        top: 20px;
        position: absolute;
    }
span.customSelect {
    font-size: 16px;
    background-color: #f5f0de;
    background: url("images/select-arrow.png") right center no-repeat;
    background-size: 56px;
    height: 56px;
    width: 100%;
    color: #7c7c7c;
    padding: 5px 7px;
    border: 1px solid #dddddD;
    padding: 16px;
}
    span.customSelect:focus {
        border: 1px solid #FFE57F;
    }
.datetimedropdown {
    width: 100%;
}
.extrainfo {
    margin-top:24px;
    font-size: 16px;
    font-family: Montserrat-Regular;
}
.confirmbtn {
    height: 56px;
    padding: 17px;
    text-align: center;
    width: 100%;
    color: #fff;
    margin-top: 24px;
    background-color: #d31115;
    border: none;
    border-radius: 2px;
    font-family: Montserrat-SemiBold;
}

.numberInput {
    height: 56px;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border-radius: 2px;
    font-family: Montserrat-SemiBold;
}

#kontaktmodal {
    display: none;
}

.lev-modal-header {
    display: flex;
    border-bottom: 1px solid #dddddd;  
    justify-content: space-between;
    position: relative;
}

.lev-modal-header-text {
    padding: 19px 0 0 24px;
}
.lev-modal-header2 {
    display: flex;
    border-bottom: 1px solid #dddddd;
    justify-content: space-between;
    position: absolute;
    top: 70px; 
    left: 16px;
    right: 16px;
    z-index: 500;
    background: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lev-modal-body {
    padding: 24px 26px;
    overflow-y: scroll;
    max-height: 83%;
    /*max-height: calc(100vh - 210px);*/
}

.lev-modal-body p {
    margin-bottom: 10px;
}

.lev-modal-body a {
    color: #d31115;
}

.closebox {
    width: 55px;
    height: 56px;
    border-top-right-radius: 8px;
    border-left: 1px solid #dddddd;
    padding: 17px 14px 0 0;
    background: #fafafa;
}

#villkormodal .lev-modal-body p {
    margin-bottom: 25px;
}

/*map modal*/
#kartamodal {
    display: none;
}

#map {
    height: calc(100vh - 285px);
    position: relative;
}
#mapsbutton {
    background: #d31115;
    margin: 17px 16px;
    text-align:center;
    padding: 17px 0;
    position: relative;
}
    #mapsbutton p {
        color: #fff;
    }

/*vÃ¤gbeskrivninig div och lÃ¤nk*/
.vbdiv {
    margin-top: 25px;
}

.vbdiv a {
    font-size: 16px;
}

#vbeskrivning img {
    width: 23px;
}

#vbeskrivning {
    color: #d31115;
    text-decoration: none;
    display:none;
}

#vbeskrivning img {
    margin-right: 5px;
}

/*map content*/
.mapinfowindow {
    padding: 2px;
}
.mapinfowindow h3 {
    font-size: 10px;
}
.mapinfowindow p {
    font-size: 8px;
}
.method span{
    font-family: Montserrat-SemiBold;
    margin-right: 3px;
}

/*Error page Credit animation OLLE the Designer @ NY*/
.errorwrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100vh;
    padding: 32px 0 32px;
}

.loading-animation {
    flex: none;
    transform: translate3d(0, calc(50vh - 128px), 0);
    animation: shake 0.1s 2.4s 4 alternate linear, moveAnim 0.4s 3s ease-in-out;
    animation-fill-mode: forwards;
}

    .loading-animation #cross {
        opacity: 0;
        stroke-dasharray: 128;
        stroke-dashoffset: 128;
        animation: cross 0.4s 3s 1;
        animation-fill-mode: forwards;
    }

    .loading-animation #top {
        stroke-dasharray: 340;
        stroke-dashoffset: 0;
        transform-origin: center center;
        animation: spin 0.8s 3 cubic-bezier(0.220, 0.325, 0.845, 0.915), strokeSize 0.2s 2.3s 1 ease-in-out;
        animation-fill-mode: forwards;
    }


.error-block {
    max-width: 400px;
    margin: 48px 8px 0px;
    background: #FFFFFF;
    /*border: 1px solid rgba(181,105,0,0.20);*/
    box-shadow: 0 2px 4px 0 rgba(219,134,5,0.25), 0px 0px 0px 1px rgba(181,105,0,0.20);
    border-radius: 8px;
    padding: 24px;
    transform: translate3d(0,48px,0);
    opacity: 0;
    animation: moveBlock 0.4s 3.1s 1 ease-in-out, fadeIn 0.3s 3.1s 1 ease-in-out;
    animation-fill-mode: forwards;
}

    .error-block span {
        font-weight: 400;
    }

    .error-block p:last-child {
        margin-bottom: 0;
    }

    .error-block a {
        white-space: nowrap;
        color:#d31115;
    }


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes strokeSize {
    from {
        stroke-dasharray: 340;
    }

    to {
        stroke-dasharray: 404;
    }
}

@keyframes cross {
    from {
        stroke-dashoffset: 128;
        opacity: 0;
    }

    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}

@keyframes shake {
    from {
        transform: translate3d(0,calc(50vh - 128px),0);
    }

    to {
        transform: translate3d(16px,calc(50vh - 128px),0);
    }
}

@keyframes moveAnim {
    from {
        transform: translate3d(0,calc(50vh - 128px),0);
    }

    to {
        transform: translate3d(0,0px,0);
    }
}

@keyframes moveBlock {
    from {
        transform: translate3d(0,48px,0);
    }

    to {
        transform: translate3d(0,0px,0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}