.mo-box, .mo-box *:not(i), .mo-show, .mo-show *:not(i), .mo-status, .mo-status *:not(i), .make-offer-link, .make-offer-link *:not(i) {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;font-family: "Open Sans",sans-serif; outline: 0;}

#mo-fancy-dialog {max-height:80%;cursor:default;display:none;position:absolute;top:10%;left:50%;width:550px!important;height:420px!important;max-height:80%;margin-left:-275px;z-index:99999;}
#mo-fancy-overlay {display:none;background:#aaa;opacity:0.3;z-index:9998;position:fixed;top:0;left:0;bottom:0;right:0;}

.mo-item-offer.mo-blick {background:#ffedab;}

.mo-account .mo-row.mo-user-head {font-weight:600;font-size:13px;color:#333;padding:15px 8px;}
.mo-account .mo-row.mo-row-empty {padding:35px 10px;font-size:13px;color:#aaa;background:#fcfcfc;text-align:center;position:relative;}
.mo-account .mo-row.mo-row-empty i {font-size: 50px; color: rgba(0,0,0,0.08); position: absolute; top: 50%; margin-top: -23px; margin-left: -50px;}
.mo-account .mo-item {border:1px solid #eee;border-bottom:none;border-radius:2px;float:left;width:100%;clear:both;margin:0 0 15px 0;}
.mo-account .mo-item-top {padding:0;font-size:13px;font-weight:600;float:left;width:100%;clear:both;}
.mo-account .mo-title {width:auto;float:left;padding:8px;}
.mo-account .mo-title > img {height: 30px; width: auto; margin: -8px 8px -8px -7px; float: left;}
.mo-account .mo-price {width:auto;float:right;color:#000;position:relative;padding:8px;}
.mo-account .mo-item-offer {float:left;clear:both;width:100%;font-size:12px;border-bottom:1px solid rgba(0,0,0,0.1);}
.mo-account .mo-item-offer:nth-child(even) {background:#f8f8f8;}
.mo-account .mo-my-offers .mo-item-offer:not(.mo-offer-head):nth-child(odd) {background:#f8f8f8;}
.mo-account .mo-my-offers .mo-item-offer:not(.mo-offer-head):nth-child(even) {background:#fff;}
.mo-account .mo-item-offer.mo-offer-head {background:#03a9f4;color:#fff;font-size:11px;font-weight:600;border-bottom:1px solid rgba(0,0,0,0.2);}
.mo-account .mo-item-offer.mo-offer-head .mo-col {padding:4px 8px;}
.mo-account .mo-col {float:left;padding:8px 8px;clear:none;}
.mo-account .mo-quantity {width:10%;text-align:center;}
.mo-account .mo-offer-price {width:15%;font-weight:600;}
.mo-account .mo-offer-status {width:10%;text-align:center;}
.mo-account .mo-name {width:15%;}
.mo-account .mo-email {width:20%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.mo-account .mo-phone {width:15%;}
.mo-account .mo-date {width:15%;}
.mo-account .mo-comment {clear:both;width:50%;font-style:italic;color:#888;border-top:1px dashed rgba(0,0,0,0.05);}
.mo-account .mo-my-offers .mo-comment {width:100%;}
.mo-account .mo-respond {width:50%;border-top:1px dashed rgba(0,0,0,0.05);}
.mo-account .mo-respond.mo-done i.fa, .mo-account .mo-comment i.fa {color:#444;margin-right:3px;font-size:14px;}
.mo-account .mo-respond.mo-done {font-style:italic;color:#888;text-align:right;}
.mo-account .mo-respond input#respond {width:calc(100% - 66px);}
.mo-account .mo-respond-button {width:26px;height:26px;line-height:26px;text-align:center;color:#fff;border-radius:50%;display:block;position:absolute;top:4px;right:0;}
.mo-account .mo-respond-button i.fa {line-height:26px;font-size:13px;}
.mo-account .mo-respond-button.mo-respond-accept {background:#8BC34A;right:30px;}
.mo-account .mo-respond-button.mo-respond-accept:hover {background:#7fb145;}
.mo-account .mo-respond-button.mo-respond-decline {background:#F44336;}
.mo-account .mo-respond-button.mo-respond-decline:hover {background:#e44034;}
.mo-account .mo-title {width:30%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.mo-account .mo-offer-validate {width:15%;text-align:center;}
.mo-account .mo-my-offers .mo-offer-status {width:15%;}
.mo-account .mo-blue, .mo-account .mo-red, .mo-account .mo-green {font-size:15px;}
.mo-account .mo-green {color:#5cb85c;}
.mo-account .mo-red  {color:#d9534f;}
.mo-account .mo-blue {color:#5bc0de;}
.mo-account a {color:#03a9f4;text-decoration:underline;}
.mo-account a:hover {text-decoration:none;}




.mo-button.make-offer-link {display: inline-block; height: 52px; border-left: 5px solid rgba(0,0,0,0.15)!important; margin: 10px 15px 10px 0; outline: 0; padding: 8px 12px 10px 10px; color: #fff; text-decoration: none; font-weight: 500; font-size: 13px; background: #03a9f4; line-height: 16px; border-radius: 3px;}
.make-offer-link:hover {background:#079fe4;}
.make-offer-link i {font-size: 28px; line-height: 32px;}
.make-offer-link .mo-link-left {display: inline-block; float: left;}
.make-offer-link .mo-link-right {text-align:left;display: inline-block; padding-left: 12px; padding-right: 5px; float: left;}
.make-offer-link .mo-link-top {font-size: 16px; line-height: 18px; font-weight: 600; float: left; clear: both; width: 100%;}
.make-offer-link .mo-link-bottom {font-size: 11px; line-height: 14px; float: left; clear: both; width: 100%;}
.mo-button.mo-hook-link {width:auto;text-decoration:none;}

.mo-button {cursor:pointer;text-shadow:none;border-radius:3px;cursor:pointer;border: 1px solid #03a9f4!important; box-shadow:none!important;background: #03a9f4!important; color: #fff!important;font-size:12px;line-height:16px;font-weight:600;width:100%;text-align:center;padding:12px;margin:10px 0;}
.mo-button:hover {background: #0695d6!important; border-color: #0695d6!important;}
.mo-button:active, .mo-button:focus {color:#fff!important;}
.mo-button:disabled, .mo-button.disabled {opacity:0.5;cursor:not-allowed;}
.mo-button:disabled:before, .mo-button.disabled:before { font-family: "FontAwesome"; content: "\f1ce"; position: absolute; margin-left: -20px; margin-top: 0px; font-size: 15px;-webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear;}
.mo-button.mo-close {position:relative;font-size:12px;font-weight:600;width:auto;padding:10px 20px;margin:15px auto 25px auto;float:none;display:block;}
.mo-button.add-new-rating, .mo-button.show-rating {text-decoration:none;line-height:14px;display:inline-block;margin:10px 10px 10px 0;width:auto;border-radius:3px;}


/* SHOW RATING FORM */
.mo-show {display:inline-block;width:100%;background:#fff;border-radius:3px;float:none;font-size:13px;line-height:16px;padding-bottom:15px;height:100%;overflow-y:auto;}
.mo-show .mo-row {padding:8px 15px;display:block;float:left;width:100%;clear:both;}
.mo-show .mo-empty {display:inline-block;width:100%;background:#f8f8f8;padding:35px 10px;text-align:center;font-size:13px;color:#aaa;line-height:18px;}
.mo-show .mo-empty i {font-size:20px;margin-right:3px;line-height:18px;vertical-align:-2px;}
.mo-show .mo-top-head {position:relative;color:#333;font-size:16px;background: #f8f8f8; border-bottom: 2px solid #03a9f4; position: relative; padding: 10px 15px 10px 65px; line-height:30px;height: 50px; margin: 0 0 10px 0;}
.mo-show .mo-top-head i {width:50px;height:48px;font-size:28px;cursor:pointer;text-align:center;line-height:48px;color:#333;border-right:1px solid rgba(0,0,0,0.1);position:absolute;left:0;top:0;}
.mo-show .mo-top-head i:hover {background:#fff;}
.mo-show .mo-top-list-head {position:relative;color:#333;font-size:16px;background: #f8f8f8; border-bottom: 2px solid #03a9f4; position: relative; padding: 10px 15px 10px 65px; line-height:30px;height: 50px; margin: 0 0 10px 0;}
.mo-show .mo-top-list-head i {width:50px;height:48px;font-size:20px;text-align:center;line-height:48px;color:#333;border-right:1px solid rgba(0,0,0,0.1);position:absolute;left:0;top:0;}

.mo-show label {float:left;clear:both;width:100%;color:#333;font-size:13px;font-weight:500;margin:2px 0;padding:0;}
.mo-show input, .mo-show select, .mo-show textarea {color:#222;box-shadow:none;border:1px solid #ccc;border-radius:3px;float: left; clear: both; margin: 0; height: 34px; padding: 6px; line-height: 18px; font-size: 13px; width: 100%; background: #fff; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: 1px 1px 1px rgba(0,0,0,0.06); -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.06); -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.06); -webkit-transition: 0.1s linear all; -moz-transition: 0.1s linear all; -ms-transition: 0.1s linear all; -o-transition: 0.1s linear all; transition: 0.1s linear all;}
.mo-show textarea {height:80px;}
.mo-show input:focus, .mo-show select:focus, .mo-show textarea:focus {border-color:#aaa;}
.mo-show .mo-row-30 {float:left;width:25%;padding-right:20px;}
.mo-show .mo-row-50 {float:left;width:45%;padding-right:20px;}
.mo-show .mo-row-20 {float:left;width:30%;font-size:11px;color:#aaa;}
.mo-show .mo-row-20 .mo-top {float:left;clear:both;width:100%;line-height:14px;padding-top:3px;color:#444;font-size:13px;font-weight:bold}
.mo-show .mo-row-20 .mo-bot {float:left;clear:both;width:100%;line-height:12px;}
.mo-show button {font-size:12px;font-weight:600;padding:10px;width:100%;}
.mo-show .mo-input-wrap {float:left;clear:both;width:100%;position:relative;}
.mo-show .mo-input-wrap > span {background:#eee;color:#333;padding:0 2px;overflow:hidden;font-size:13px;font-weight:600;text-align:center;border-radius:2px;width:30px;height:30px;line-height:30px;position:absolute;top:2px;left:2px;}
.mo-show .mo-input-wrap > i {color:#333;position:absolute;font-size:15px;font-weight:500;text-align:center;height:30px;line-height:30px;width:24px;top:2px;left:5px;}
.mo-show .mo-input-wrap > input {padding-left:34px!important;}
.mo-show input.error {border-color:#F44336!important;background:rgba(244, 67, 54, 0.08)!important;box-shadow: 0 0 0px 3px rgba(244,67,54,0.35)!important;}
.mo-show input.valid {border-color:#8BC34A!important;}


#mo-new {display:none;font-size:13px;}
#mo-new #quantity {width:45px;text-align:center;}
#mo-new #price {padding-left:40px;}
#mo-new .mo-del {float:left;clear:both;width:100%;margin:12px 0 8px 0;padding:0 8px;}
#mo-new .mo-del span {float:left;clear:both;width:100%;height:1px;background:#eee;}
#mo-new button.mo-submit {margin:0;}
#mo-new .unit-price {display:none;}
#error_list.mo-error-list {background:#fff;border:none;float: left; clear: both; width: 96%; margin: 0 2%;padding:0; color: #404040; font-size: 12px;}
#error_list.mo-error-list li {float: left; width: 100%; clear: both; padding: 10px 10px; margin: 1px 0; background: #eedc94; line-height: 14px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
#error_list.mo-error-list li:before {clear: none; content: "\f071"; font-size: 14px; font-family: FontAwesome; float: left; width: 22px; color: #dd7a12; text-align: center;}
#error_list.mo-error-list li label {float: left; width: auto!important; clear: none!important; padding: 0!important; margin: 0!important;}

.mo-status {display:none;float:left;width:100%;clear:both;font-size:14px;line-height:24px;text-align:center;padding:160px 30px 0 30px;}
.mo-status i {font-size: 100px; margin-bottom: 15px;}
.mo-status.mo-success {color:#8BC34A;}
.mo-status.mo-error {color:#F44336;}
.mo-status button {display:block;margin:0 auto;margin-top:25px;float:none;}
.mo-status.mo-info {display:block;color:#666;}

#mo-list {font-size:13px;}
#mo-list .mo-row.mo-row-head {border-bottom:1px solid #eee;font-weight:600;font-size:12px;}
#mo-list .mo-row.mo-row-empty {padding:35px 10px;font-size:13px;color:#aaa;background:#fcfcfc;text-align:center;}
#mo-list .mo-row.mo-row-empty i {font-size: 50px; color: rgba(0,0,0,0.08); position: absolute; top: 50%; margin-top: -23px; margin-left: -50px;}
#mo-list .mo-row {border-bottom:1px solid #eee;position:relative;}
#mo-list .mo-offer-status {float:right;width:10%;}
#mo-list .mo-row:not(.mo-row-head) .mo-offer-status {background:#5bc0de;color:#fff;text-align:center;font-size:16px;display:block;width:32px;height:32px;line-height:32px;position:absolute;right:15px;top:0;}
#mo-list .mo-row:not(.mo-row-head) .mo-offer-status i {line-height:32px;font-weight:500;}
#mo-list .mo-row:not(.mo-row-head) .mo-offer-status.mo-offer-status-1 {background:#72C279;}
#mo-list .mo-row:not(.mo-row-head) .mo-offer-status.mo-offer-status-2 {background:#E08F95;}


#mo-list .mo-user-name {float:left;width:50%;min-height:16px;display:block;}
#mo-list .mo-quantity {float:left;width:20%;text-align:center;}
#mo-list .mo-price {float:left;width:20%;font-weight:600;text-align:center;}
#mo-list .mo-goto-new {text-decoration:none;float:left;clear:both;width:100%;font-size:12px;font-weight:600;padding:10px;text-align:center;margin:10px 0 0 0;}
#mo-list .mo-row.mo-row-btn {border:none;}
#mo-list .mo-offer-list {float:left;clear:both;width:100%;max-height:410px;overflow-y:auto;}
#mo-list .mo-offer-list.mo-no-offers {margin-top:-10px;}
#mo-list .mo-list-count {position:absolute;right:3px;top:3px;height:18px;line-height:18px;min-width:18px;padding:0 3px;text-align:center;font-size:11px;color:#fff;background:#E55934;border-radius:9px;}


@media screen and (max-width: 767px) {
  #mo-fancy-dialog {width:90%!important;max-width:90%;margin:0!important;height:90%!important;max-height:90%;left:5%!important;top:5%;}
}
