body{
    color: #555;
}

/*New layout stying*/

.wrapper {
    display: flex;
    align-items: stretch;
}

#menu_sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #333;
    margin-left: -250px;
    color: #fff;
    transition: all 0.3s;
}

@media (max-width: 991px) {

    #menu_sidebar.active {
        margin-left: 0;
    }
}

#content_area{
    min-height: 100vh;
    transition: all 0.3s;
    width: 100%;
}

#menu_sidebar .menu-items{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu_sidebar .menu-items > li > a{
    display: block;
    color: #eee;
    padding: 8px 15px;
    border-bottom: 1px solid #555;
}

#menu_sidebar .menu-items > li > a:hover{
    color: #fff;
    background-color: #222;
}

#header_top{
    background-color: #3c406d;
}

#logo{
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;
}

#logo img{
    display: inline-block !important;
}

#logo .navbar-toggle{
    float: none;
    margin-right: 5px;
    padding-left: 0 !important;
    position: absolute;
    left: 0;
}

#logo .navbar-toggle .icon-bar{
    background-color: #fff;
}

#logo img{
    height: 55px;
}

#header_top .header-menu{
    padding-top: 20px;
}

#header_top .header-menu > li > a{
    color: #fff;
}

#header_top .header-menu li a:hover{
    background-color: #4f5382;
}

#header_top .header-menu li.active a, #header_top .header-menu li.active a:hover{
    /*background-color: #F94A4D; */
    background-color: #8ec625;
}

#header_top .header-right-menu{
    display: inline-block;
    float: right;
}

#header_banner{
    background-color: #4c508e;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
}

#header_banner_content_section .caption-msg{
    text-align: center;
    color: #fff;
    margin-top: 30px;
}

#header_banner_content_section #header-ads{
    margin-bottom: 40px !important;
}

#header_banner_content_section #search_box{
    padding: 20px;
    background-color: #3c406d;
    margin-bottom: 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#search_box form input, #search_box form select{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

#search_box form button{
    background-color: #F94A4D;
    color: #fff;
    border: none;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.employer-banner{
    background-image: url("../img/bg.png");
}

.employer-banner .head-title{
    color: #fff;
    font-size: 60px;
}

.employer-banner .sub-title{
    color: #fff;
    margin-bottom: 30px;
}

#feedback-tab{
    position: absolute;
    top: 50px;
    right: 0;
}

#feedback-tab .feedback-tab-container{
    position: relative;
}

#feedback-tab header{
    color: #fff;
    position: absolute;
    transform: rotate(270deg);
    transform-origin: left top 0;
    background-color: #384958;
    display: block;
    height: 40px;
    width: 135px;
    top: 135px;
    left: -40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
}

#feedback-tab .content-container{
    background-color: #fff;
    padding: 15px;
    width: 250px;
    display: none;
}

#feedback-tab.open .content-container{
    display: block;
}

@media (min-width: 992px) {

    .page-layout .main-content{
        width: 610px;
        float: left;
        margin-right: 30px;
    }

    .page-layout .right-sidebar{
        width: 300px;
        float: right;
    }

}

@media (min-width: 1200px) {

    .page-layout .main-content{
        width: 810px;
    }

}

.tab-container{
    border: 1px solid #ccc;
}

.tab-container > .nav-tabs{
    background-color: #F5F5F5;
}

.tab-container > .nav-tabs > li > a{
    font-size: 20px;
    border-radius: 0;
    border-top-color: transparent;
}

.tab-container > .nav-tabs > li:first-child > a{
    border-left-color: transparent;
}

.tab-container .tab-content{
    padding: 15px;
}

.mt-4{
    margin-top: 20px !important;
}
.mt-5{
    margin-top: 40px !important;
}

.mt-6{
    margin-top: 60px !important;
}

.mb-4{
    margin-bottom: 20px !important;
}

.mb-5{
    margin-bottom: 40px !important;
}

.mb-6{
    margin-bottom: 60px !important;
}

.separator-1{
    margin-top: 60px;
    margin-bottom: 60px;
}

/*End New layout styling*/

a{
    outline: none !important;
    color: #337AB7;
}

a:hover{
    text-decoration: none;
}

#news_notification_widget{
    padding: 10px 5px;
    background-color: #ED3237;
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

#news_notification_widget a{
    color: #fff;
}

#header_section{
    padding-top: 15px;
    padding-bottom: 15px;
}

#header_section .header-right{
    margin-top: 20px;
}

#header_section .header-right a{
    font-size: 15px;
}

#site_nav{
    background-color: #337AB7;
    border-radius: 0;
    min-height: 44px;
    border: none;
}

#site_nav ul.nav > li > a{
    color: #fff;
    /*text-transform: uppercase;
    font-weight: 600;*/
    padding-top: 12px;
    padding-bottom: 12px;
}

#site_nav ul.nav > li.active > a,#site_nav ul.nav > li > a:hover,#site_nav ul.nav > li > a:focus{
    /*background: #2369A3;*/
    background: #F94A4D;
}

#site_nav ul.navbar-right{
    margin-right: 0;
}

#site_nav .navbar-toggle .icon-bar{
    background-color: #fff;
}

/*.ad-bordered{
    border: 1px solid #ddd;
}*/

.ad{
    background: #eee;
}

.ad_728_90{
    width: 728px;
    height: 90px;
}

.ad_392_90{
    height: 90px;
    width: 392px;
}

.ad_300_250{
    height: 250px;
    width: 300px;
}

#header-ads{
    margin-bottom: 20px;
}

#main_search{
    background-color: #404478;
    padding: 10px 5px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#main_search .search_section{
    float: left;
    padding: 0 5px;
}

#main_search .search_section_l{
    width: 37%;
}

#main_search .search_section_m{
    width: 25%;
}

#main_search .search_section_s{
    width: 13%;
}

#main_search form input, #main_search form select, #main_search form button{
    border: none;
    height: 35px;
    padding: 5px;
    width: 100%;
}

#main_search form button{
    background-color: #F94A4D;
    color: #fff;
    font-size: 16px;
}

.sidebar_separator, .separator{
    height: 20px;
}

ul.category-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.category-list > li{
    position: relative;
    padding-left: 15px;
    margin-bottom: 5px;
}

ul.category-list > li > a{
    font-size: 13px;
    color: #444;
}

ul.category-list > li > a:before{
    content: "\f105";
    display: block;
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
}

.job-category .view-more{
    color: #ED3338;
    font-size: 13px;
}

.job-post-panel h2, .content-list-panel h4{
    margin-top: 0;
    font-size: 19px;
}

.job-post-panel .job-footer_text{
    padding-top: 6px;
}

.job-post-panel .job-info{
    font-size: 12px;
    color: #999;
}

.job-post-panel .job-info, .job-post-panel .job-info a{
    color: #999;
}

.job-post-panel .job-info a:hover{
    text-decoration: underline;
}

.page-title{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
}

.filter-panel .panel-heading h4{
    margin: 0;
}

ul.filter-category{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.filter-category > li{
    border-bottom: 1px solid #ddd;
}

ul.filter-category li a{
    text-decoration: none;
}

ul.filter-category > li > a{
    padding: 13px 10px;
    display: block;
    color: #555;
    position: relative;
}

ul.filter-category > li > a:after{
    content: "\f078";
    display: block;
    font-family: "FontAwesome";
    position: absolute;
    right: 10px;
    top: 11px;
}

ul.filter-category > li > a[aria-expanded=true]:after{
    content: "\f077";
}

ul.filter-category > li > a > i.fa{
    padding-top: 1px;
    font-size: 15px;
}

ul.filter-category > li > .filter-cat-item-container{
    background-color: #f6f6f6;
}

ul.filter-category > li > .filter-cat-item-container > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 250px;
    overflow-y: auto;
}

ul.filter-category > li > .filter-cat-item-container > ul > li{
    border-bottom: 1px solid #ddd;
}

ul.filter-category > li > .filter-cat-item-container > ul > li > a{
    color: #555;
    font-size: 12px;
    display: block;
    padding: 3px 10px;
}

ul.filter-category > li > .filter-cat-item-container > ul > li > a:hover{
    background-color: #ddd;
}

.filter-items a{
    color: #fff;
}

.filter-items a:hover{
    color: #76B1E2;
}

.stButton .stButton_gradient, .stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices{
    height: 22px !important;
}

.job-summary > li{
    font-size: 13px;
}

.attr-title{
    display: block;
    margin-bottom: 0;
}

.sign-in-container, .register-container{
    margin: 0 auto 50px;
    max-width: 400px;
}

.register-container{
    max-width: 700px;
}

.applicant-register-container.register-container{
    max-width: 900px;
}

.sign-in, .register-box{
    padding: 25px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.sign-in-container h3, .register-container h3{
    margin-top: 0;
}

.sign-in .separator{
    margin: 10px 0;
}

.sign-in label, .register-box label{
    font-weight: normal;
}

.acct-page-header, .acct-page-header h2{
    margin: 0;
}

.no-margin{
    margin: 0;
}

.no-top-margin{
    margin-top: 0;
}

.sidebar-content-box{
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.sidebar-content-box h4{
    margin-top: 0;
}

ul.item-list{
    margin: 0 0 0 15px;
    padding: 0;
}

ul.item-list > li{
    margin-bottom: 6px;
}

a.dashboard-btn{
    display: block;
    border: 1px solid #ddd;
    padding: 20px 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #555;
}

a.dashboard-btn:hover{
    background-color: #fcfcfc;
}

a.dashboard-btn i{
    font-size: 60px;
    color: #C53337;
}

.user-data-panel .panel-heading .panel-title{
    padding-top: 7px;
}

select.chosen-dropdown{
    box-sizing: content-box;
}

form input[type=file], form .form-element-container{
    height: 34px;
}

.chzn-container-single .chzn-single{
    height: 30px;
    padding-top: 2px;
}

.chzn-container-single .chzn-single div b{
    background-position: 0 2px;
}

.alt-field{
    display: none;
}

#similar_jobs{
    margin-top: 40px;
}

.content-list-panel span.price{
    color: #555;
    font-size: 19px;
    padding-top: 3px;
    display: inline-block;
}

.featured-post-icon{
    color: #F0A700;
}

/*Sidebar menu*/
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar .navbar-toggle .icon-bar{
        background-color: #000;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
        background: #fcfcfc;
        border-width: 1px 1px 0px;
        border-color: #ddd;
        border-style: solid;
    }

    .sidebar-nav .navbar li:first-child {
        border-radius: 5px 5px 0 0;
    }

    .sidebar-nav .navbar li:last-child {
        border-bottom: 1px solid #ddd;
        border-radius: 0 0 5px 5px;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
        color: #555;
    }
    .sidebar-nav .navbar li.active{
        border-color: #3c406d;
    }
    .sidebar-nav .navbar li.active a {
        background: #3c406d;
        color: #fff;
    }
}
/*end sidebar menu*/

.recipients-panel .checkbox{
    margin: 0;
}

.recipients-panel .panel-body{
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipients-panel .list-group-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.recipients-panel .list-group-item .recipient-email{
    font-size: 12px;
}

form label{
    font-weight: normal;
}

.acct-content-container{
    border: 1px solid #ddd;
    padding: 20px;
}

.acct-menu-col, .acct-content-col{
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 767px) {
    .acct-menu-col{
        width: 100%;
    }

    .acct-content-col{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .acct-menu-col{
        width: 30%;
    }

    .acct-content-col{
        width: 70%;
    }

    .chzn-container.chzn-container-multi{
        width: 100% !important;
    }

}

@media (min-width: 992px) {
    .acct-menu-col{
        width: 25%;
    }

    .acct-content-col{
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .acct-menu-col{
        width: 22%;
    }

    .acct-content-col{
        width: 78%;
    }
}

.navbar-toggle .icon-bar{
    background-color: #333;
}

.applicant-search-info-panel .panel-body{
    font-size: 13px;
}

.applicant-search-info-panel .panel-body .applicant-info{
    overflow: hidden;
    padding-right: 15px
}

.applicant-search-info-panel .panel-body .applicant-info p{
    margin-bottom: 3px;
}

.search-box > span {
    display: block;
    overflow: hidden;
    padding-right: 10px
}

.search-filter ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-filter .panel-body > ul > li > ul{
    max-height: 200px;
    overflow-y: auto;
}

.search-filter .panel-body > ul > li{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.search-filter .panel-body > ul > li > h4{
    font-size: 15px;
    margin: 0 0 8px;
    font-weight: 600;
}

.search-filter .panel-body > ul > li > ul > li > .checkbox{
    margin: 2px 0;
    font-size: 12px;
}

.search-filter .panel-body > ul > li > ul > li > .checkbox > label > input[type=checkbox]{
    margin-top: 2px;
}

.search-result-content h3{
    margin-top: 0;
}

.search-result-content .panel-title{
    font-weight: 600;
}

input:focus::-webkit-input-placeholder{
    color: transparent;
}

input:focus::-moz-placeholder{
    color: transparent;
}

input:focus:-moz-placeholder{
    color: transparent;
}

.cv-pricing-panel h4{
    font-weight: bold;
}

#accordion .panel-title a{
    display: block;
    text-decoration: none;
}

.sidebar-ad{
    margin-bottom: 20px;
    width: 300px;
}

.sidebar-ad img{
    border: 1px solid #ddd;
}

.sidebar-panel{
    border-color: #75af17;
}

.sidebar-panel .panel-heading{
    /*background-color: #efefef;
    background-image: -moz-linear-gradient(center top , #fdfdfd 0%, #eaeaea 100%);#75af17 */
    background-color: #75af17;
    color: #fff;
    border-bottom: 1px solid #75af17;
    border-radius: 3px 3px 0 0;
}

.sidebar-panel .panel-heading h4{
    margin: 0;
}

.sidebar-panel .list-group-item h4{
    margin: 0;
    font-size: 14px;
    /*font-weight: bold;*/
}

.newsletter-sidebar-box{
    text-align: center;
    margin-bottom: 20px;
    background-color: #404478;
    padding: 10px;
    border-radius: 5px;
}

.newsletter-sidebar-box h4{
    color: #fff;
}

.job-application-panel .form-section{
    border: 1px solid #ddd;
}

.job-application-panel .form-section .section-content{
    background-color: #fcfcfc;
    padding: 15px;
}

.job-application-panel .form-section h4{
    background-color: #888;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    margin: 0;
}

.employer-detail-summary{
    font-size: 13px;
    margin-bottom: 15px
}

.employer-detail-summary img{
    margin-bottom: 5px;
}

.small-box {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 20px;
    position: relative;
    color: #fff;
}

.small-box .icon {
    color: rgba(0, 0, 0, 0.15);
    font-size: 90px;
    position: absolute;
    right: 10px;
    top: -10px;
    transition: all 0.3s linear 0s;
    z-index: 0;
}

.small-box p {
    font-size: 15px;
}

.small-box > .inner {
    padding: 10px;
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
}

.small-box > .small-box-footer {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.bg-aqua{
    background-color: #00c0ef;
}

.bg-green{
    background-color: #00a65a;
}

.bg-yellow{
    background-color: #f39c12;
}

.bg-red{
    background-color: #dd4b39;
}

.dob-day, .dob-month, .dob-year{
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
}

.dob-day{
    width: 24%;
}

.dob-month{
    width: 40%;
}

.dob-year{
    width: 32%;
}

table.table-form{
    width: 100%
}

table.table-form > tbody > tr > td{
    padding-bottom: 10px;
}

table.table-form > tbody > tr > td:first-child{
    padding-right: 20px;
}

#widget_preview_box > iframe{
    margin: 0 auto;
    display: block;
}

.question-panel .que-actions, .question-panel .que-actions > ul{
    margin-bottom: 0;
}

.question-panel .que-actions > ul > li > a{
    color: #444;
}

.question-panel .explanation{
    display: none;
}

.question-source-desc{
	background: #f9f9f9;
	padding: 15px;
	border: 1px dashed #ddd;
}

.question-container img{
    max-width: 100%;
}

#footer{
    background-color: #4c508e;
    color: #fff;
    margin-top: 30px;
}

#footer-top{
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer-top a, #footer-bottom a{
    color: #fff;
}

#footer-top ul li a {
    color: #D0E4F4;
    font-size: 13px;
}

#footer-top .social{
    margin-bottom: 10px;
}

#footer-top .social a{
    color: #2d3060;
}

#footer-bottom{
    background-color: #3c406d;
    padding: 15px 0;
}

#footer-bottom p, #footer-bottom ul{
    margin: 0;
    font-size: 13px;
}

#footer-bottom a:hover{
    text-decoration: underline;
}

#active_user_box{
    margin-right: 10px;
}

#active_user_box .btn-default{
    height: 40px;
}

#active_user_box .name-box{
    max-width: 150px;
}

#job_content .adsbygoogle,
#homepage_job_ad_1 .adsbygoogle,
#homepage_job_ad_2 .adsbygoogle,
#sidebar_1 .adsbygoogle,
#sidebar_2 .adsbygoogle,
#sidebar_3 .adsbygoogle,
#homepage_job_top_ad .adsbygoogle{
    width: 300px;
    height: 250px;
}

.adsbygoogle{
    margin: 0 auto;
}

@media (max-width: 767px) {

    .hidden-xs .adsbygoogle{
        display: none!important;
    }

    #main_search .search_section_l{
        width: 82%
    }

    #main_search .search_section_s{
        width: 18%;
    }

    #header_big{
        width: 100%;
        text-align: center;
        height: auto;
    }

    .job-summary > li > label{
        display: inline-block;
    }

    .employer-home-item .media-left{
        padding-right: 0;
        width: 100%;
        display: block;
    }

    .employer-home-item img.media-object{
        width: 100% !important;
    }

    .employer-home-item .media-body{
        width: 100%;
        display: block;
    }

    .separator-1{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #search_box form button{
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (max-width: 991px) {
    #site_nav .navbar-header {
        float: none;
    }
    #site_nav .navbar-toggle {
        display: block;
    }
    #site_nav .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    #site_nav .navbar-collapse.collapse {
        display: none!important;
    }
    #site_nav .navbar-collapse .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    #site_nav .navbar-collapse .navbar-nav>li {
        float: none;
    }
    #site_nav .navbar-collapse .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #site_nav .navbar-collapse.collapse.in {
        display: block!important;
    }
    #site_nav .collapsing {
        overflow: hidden!important;
    }

    .visible-md .adsbygoogle{
        display: none!important;
    }

    #job_content{
        margin-top: 20px;
    }

    #header_big .adsbygoogle, #applicant_page_footer .adsbygoogle{
        width: 300px;
        height: 250px;
    }

    #search_box form input, #search_box form select{
        margin-bottom: 10px;
    }

    #logo{
        text-align: center;
    }

    #logo .navbar-toggle {
        display: inline-block;
        float: left;
    }

    .employer-home-item img.media-object{
        width: 400px;
    }

}

@media (min-width: 768px) {

    .visible-xs .adsbygoogle{
        display: none!important;
    }

    #footer-top .social a {
        font-size: 18px;
    }

    #header_big{
        width: 100%;
        height: auto;
        text-align: center;
    }

}

@media (min-width: 992px) {

    #site_nav .navbar-collapse{
        padding-left: 0;
        padding-right: 0;
    }

    #header_big .adsbygoogle, #applicant_page_footer .adsbygoogle{
        width: 728px;
        height: 90px;
    }

    #job_content{
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;
        max-width: 300px;
    }

    .left-sidebar-section{
        float: left;
        margin-right: 15px;
        width: 200px;
    }

    .col-3-layout .main-content-section, .col-2-layout .main-content-section{
        width: 625px;
        float: left;
        margin-bottom: 0;
    }

    .right-sidebar-section{
        width: 300px;
        float: right;
        margin-left: 15px;
    }

}

@media (min-width: 1200px) {

    .left-sidebar-section{
        width: 200px;
    }

    .col-3-layout .main-content-section{
        width: 610px;
    }

    .col-2-layout .main-content-section{
        width: 825px;
    }

    .right-sidebar-section{
        width: 300px;
    }

    #header_big{
        width: 728px;
    }

}

.space-between-container {
    display: flex;
    justify-content: space-between;
}

.exam-score{
    text-align: center;
    font-size: 80px;
}

.question-nav{
    margin: 0;
    padding: 0;
    list-style: none;
}

.question-nav li{
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 5px;
    width: 45px;
}

.question-nav li a{
    display: block;
    padding: 5px 13px;
    background-color: #eee;
    color: #555;
    text-decoration: none;
    border: 1px solid #ccc;
    text-align: center;
}

.question-nav li.active a, .question-nav li a:hover{
    background-color: #F2982B;
    color: #fff;
    border-color: #F2982B;
}

.question-nav li.pass a{
    background-color: #00a65a;
    color: #fff;
    border-color: #00a65a;
}

.question-nav li.fail a{
    background-color: #B70C01;
    color: #fff;
    border-color: #B70C01;
}

.ebook-list .img-container{
    text-align: center;
    height: 233px;
    margin-bottom: 10px;
}

.ebook-list h4{
    margin-bottom: 5px;
}

.ebook-list span.price{
    margin: 0;
    padding: 0;
}