.news-single div.article .news-img-imgcaption {
	font-size: 14px;
	margin: 5px 0 20px 0;
}
.news-single div.article .news-img-wrap {
	float: left;
	padding: 0 20px 40px 0;
	width: 50%;
}


/* template layout 3: News in Listenansicht (alte rote Box) */
.templateLayout2 {
	padding: 20px;
}
.templateLayout2 .news-newsbox-headline {
	display: inline;
}
.templateLayout2 span,
.templateLayout2 h3,
.templateLayout2 a {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
}
.templateLayout2 .news-list-date {
	color: #ccc;
}
.templateLayout2 .article {
	margin: 0 0 20px 0;
}

/* template layout 3: Stellenanzeigen */
.templateLayout3 .news-list-date {
	color: #999;
}
.templateLayout3 p {
	color: #666;
}

/* template layout 4: Jahres-Selektion */
.templateLayout4 {

}
.news-menu-view-years {

}
div.news-menu-view-years ul {
	margin: 0;
}
.news-menu-view-years ul li {
	margin: 3px 20px;
}
.news-menu-view-years ul li a {
	background: #f1f1f1;
	display: block;
	padding: 5px;
}
.news-menu-view-years .item.itemactive a {
	font-weight: bolder;
}

/**
 * 
 * NEWS Pagination
 * 
**/

.news .page-navigation {
	margin-top: 20px;
}
.news .page-navigation p {
	display: none;
}
.news .page-navigation ul {
	list-style: none;
}
.news .page-navigation ul li {
	padding: 10px;
	display: inline;
}
.news .page-navigation ul li.current {
	font-weight: bolder;
}


/* NEWS: Kacheln-Grid  (templateLayout == 5) */
.templateLayout5 {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[2];
	grid-template-columns: repeat(2, 1fr);
	/*grid-template-rows: repeat(4, 1fr);*/
	grid-row-gap: 50px;
	grid-column-gap: 20px;
}
.spk-news-grid {
	display: block;
	width: 100%;
	min-height: 230px;

	position: relative;
}
.templateLayout5 > div {
	border-bottom: 1px #f1f1f1 solid;
}
.templateLayout5 > div:nth-of-type(2n) {
	border-left: 1px #f1f1f1 solid;
	padding-left: 20px;
	margin-left:-5px
}
.spk-news-grid {
	padding-bottom: 30px;
}
.templateLayout5 .more.button {
	position: absolute;
	bottom: 0;
	left: 0;
}
.templateLayout5 > div:nth-of-type(2n) > .more.button {
	left: 20px;
}
.spk-news-grid h3 {
	font-size: 21px;
	line-height: 1.22222222;
	font-weight: 700;
	margin-bottom: 10px;
}
.spk-news-grid h3 a:link,
.spk-news-grid h3;h3a a:visited,
.spk-news-grid h3; a:hover,
.spk-news-grid h3; a:focus;
.spk-news-grid h3 a:target {
	color: #000;
}
.spk-news-grid h3 a span {
	color: #000;
}
.spk-news-grid .news-img-wrap img {
	margin-right: 20px;
	margin-bottom: 20px;
}
/* Fix for Internet Explorer*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .templateLayout5 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
   }
   /*media all*/
	.spk-news-grid {
	    flex-basis: 48%;
	    margin-bottom: 20px;
	}

	.ce-gallery[data-ce-columns="2"] figure.image img {
		width: 100%
	}
}
/* NEWS: Projekte-Grid (templateLayout == 6) */
#projects-archive header > h2 {
	margin: 20px 0;
}
.spk-projects-grid .news-list-category {
	background: #666;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	margin: 0 0 10px 0;
	padding: 3px 10px;
}
.templateLayout6 {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[4];
	grid-template-columns: repeat(4, 1fr);
	-ms-grid-rows: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-row-gap: 40px;
	grid-column-gap: 20px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.templateLayout6 > div {
		margin: 10px;
	}
	.templateLayout6 > div:nth-of-type(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}
	.templateLayout6 > div:nth-of-type(3) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	.templateLayout6 > div:nth-of-type(4) {
		-ms-grid-row: 1;
		-ms-grid-column: 4;
	}
	.templateLayout6 > div:nth-of-type(5) {	
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(6) {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}
	.templateLayout6 > div:nth-of-type(7) {
		-ms-grid-row: 2;
		-ms-grid-column: 3;
	}
	.templateLayout6 > div:nth-of-type(8) {
		-ms-grid-row: 2;
		-ms-grid-column: 4;
	}
}


@media all and (max-width: 960px) {
	.templateLayout6 {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-rows: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-row-gap: 40px;
		grid-column-gap: 20px;
	}
}
@media all and (max-width: 960px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.templateLayout6 {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (32%)[3];
		grid-template-columns: repeat(3, 32%);
		-ms-grid-rows: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-row-gap: 40px;
		grid-column-gap: 20px;
	}
	.templateLayout6 > div:nth-of-type(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}
	.templateLayout6 > div:nth-of-type(3) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	.templateLayout6 > div:nth-of-type(4) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(5) {	
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}
	.templateLayout6 > div:nth-of-type(6) {
		-ms-grid-row: 2;
		-ms-grid-column: 3;
	}
	.templateLayout6 > div:nth-of-type(7) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(8) {
		-ms-grid-row: 3;
		-ms-grid-column: 2;
	}
}
@media all and (max-width: 559px) {
	.templateLayout6 {
		display: -ms-grid;
		display: grid;
		grid-template-columns: 1fr 1fr;
		-ms-grid-columns: 1fr 1fr;
		-ms-grid-rows: 1fr 1fr;
		grid-row-gap: 40px;
		grid-column-gap: 20px;
	}
}
@media all and (max-width: 559px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.templateLayout6 {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (49%)[2];
		grid-template-columns: repeat(2, 49%);
		-ms-grid-rows: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-row-gap: 40px;
		grid-column-gap: 20px;
	}
	.templateLayout6 > div:nth-of-type(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}
	.templateLayout6 > div:nth-of-type(3) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(4) {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}
	.templateLayout6 > div:nth-of-type(5) {	
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(6) {
		-ms-grid-row: 3;
		-ms-grid-column: 2;
	}
	.templateLayout6 > div:nth-of-type(7) {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(8) {
		-ms-grid-row: 4;
		-ms-grid-column: 2;
	}
}
@media all and (max-width: 469px) {
	.templateLayout6 {
		display: -ms-grid;
		display: grid;
		grid-template-columns: 1fr;
		-ms-grid-columns: 100%;
		-ms-grid-rows: 1fr 1fr;
		grid-row-gap: 40px;
		grid-column-gap: 20px;
	}
}
@media all and (max-width: 469px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.templateLayout6 {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: (100%)[1];
		grid-template-columns: repeat(1, 100%);
		-ms-grid-rows: (1fr)[3];
		grid-template-rows: repeat(3, 1fr);
		grid-row-gap: 40px;
		grid-column-gap: 20px;
	}
	.templateLayout6 > div:nth-of-type(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(2) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(3) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(4) {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(5) {	
		-ms-grid-row: 5;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(6) {
		-ms-grid-row: 6;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(7) {
		-ms-grid-row: 7;
		-ms-grid-column: 1;
	}
	.templateLayout6 > div:nth-of-type(8) {
		-ms-grid-row: 8;
		-ms-grid-column: 1;
	}
}

.spk-projects-grid {
	font-size: 14px;
	background: #fff;
	padding: 20px;
}
.spk-projects-grid h3 span {
	font-size: 20px;
	font-weight: 500;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.spk-projects-grid header img{ 
	display: inline-block;
	margin: 0 5px 0 0;
}
.spk-project-grid .news-list-category {
	background: #666;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	margin: 0 0 10px 0;
	padding: 3px 10px
}
#c6384 .news {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 2px solid rgba(0,0,0,.05);
}

/* NEWS: Projekt-Updates (templateLayout == 7) */
.templateLayout7 {
	padding: 20px 0;
}
.spk-project-update {
	margin: 0 0 10px 0;
	padding-bottom: 10px;
	border-bottom: 2px solid #f1f1f1;
}
.spk-project-update h3 {
	display: inline;
	font-size: 14px;
}
.spk-project-update span.news-list-category {
	color: #999;
}


.no-news-found {
	margin: 0 20px 20px 20px;
	padding: 20px 0 0 0;
}



/**
 * 
 * templateLayout = 1
 * Detail-Seite für Projekte
 *
 */
.singleLayout1 .news-img-wrap img {
	width: 100%;
	height: auto;
}


/**
 * 
 * templateLayout = 8
 * Detail-Seite für Projekte
 *
 */
.singleLayout8 .header h1,
.singleLayout8 .header h2,
.singleLayout8 .header h3,
.singleLayout8 .header h4 {
	color: #666;
	font-size: 36px;
	font-weight: 300;
	margin: 10px 0;
	color: red;
}
.news-single.singleLayout8 div.article .news-img-wrap {
	float: right;
	padding: 0 0 40px 20px;
	width: 50%;
}
.news-single.singleLayout8 div.article .news-img-wrap img {
	width: 100%;
}
