#webs-bin-58ca7451e4b0cf0e435147ff .w-header-area-custom {
  width: 100%;
}
#webs-bin-58ca7451e4b0cf0e435147ff .title {
  top: 20px;
  z-index: 20;
  display: block;
}
#webs-bin-58ca7451e4b0cf0e435147ff .subtitle {
  top: 55px;
  z-index: 21;
  display: none;
}
#webs-bin-58ca7451e4b0cf0e435147ff .w-header-layer-align-left.title,
#webs-bin-58ca7451e4b0cf0e435147ff .w-header-layer-align-center.title {
  left: 308.5px;
}
#webs-bin-58ca7451e4b0cf0e435147ff .w-header-layer-align-left.subtitle,
#webs-bin-58ca7451e4b0cf0e435147ff .w-header-layer-align-center.subtitle {
  left: -87px;
}
#webs-bin-58ca7451e4b0cf0e435147ff .w-header-layer-align-left.w-header-layer-centered,
#webs-bin-58ca7451e4b0cf0e435147ff .w-header-layer-align-center.w-header-layer-centered {
  right: auto;
  left: 50%;
}
#webs-bin-58ca7451e4b0cf0e435147ff .w-header-layer-align-right.title {
  right: 0px;
}
#webs-bin-58ca7451e4b0cf0e435147ff .w-header-layer-align-right.subtitle {
  right: 0px;
}
#webs-bin-58ca7451e4b0cf0e435147ff .logo {
  top: 16px;
  width: 50px;
  left: 16px;
  height: 50px;
  display: none;
}
#webs-bin-58ca7451e4b0cf0e435147ff .background {
  background-image: url('');
  background-position: 0px 0px;
}
