
@media screen and (max-width: 1900px) {

}

@media screen and (max-width: 1680px) {

}

@media screen and (max-width: 1400px) {
    .col-aside-right {
        display: none;
    }
}

@media screen and (max-width: 1366px) {

}

@media screen and (min-width: 1201px) {

}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 991px) {
    .left-menu {
        display: none;
    }

    .dymisja-who {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    footer ul {
        flex-direction: column;
    }

    footer ul li {
        margin: 10px;
    }

    .header-right {
        display: none;
    }

    .dymisja-who {
        margin-top: 5px;
        margin-left: 0px;
    }

    .fb-mobile {
        display: flex;
    }

    .fb-pc {
        display: none;
    }

    .dymisja-who {
        display: none;
    }
}

@media screen and (max-width: 576px) {
   h1, p {
       text-align: center;
   }
}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 360px) {

}

/* landscape */

@media screen and (max-width: 576px) and (orientation: landscape) {
  
}

@media screen and (max-width: 768px) and (orientation: landscape) {
   
}



