.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .social-media-button-container {
  zoom: 1;
  text-align: center;
  /*
	&:after {
		content:"";
		display:inline-block;
		width:100%;
	}
	*/
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780px) {
  .so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .social-media-button-container {
    text-align: left;
  }
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-facebook-0 {
  background: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid #25375e !important;
  color: #3a5795 !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-facebook-0.ow-button-hover:focus,
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-facebook-0.ow-button-hover:hover {
  background: #3a5795;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-facebook-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-twitter-0 {
  background: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid #339bea !important;
  color: #78bdf1 !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-twitter-0.ow-button-hover:focus,
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-twitter-0.ow-button-hover:hover {
  background: #78bdf1;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-twitter-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-linkedin-0 {
  background: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid #014568 !important;
  color: #0177b4 !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-linkedin-0.ow-button-hover:focus,
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-linkedin-0.ow-button-hover:hover {
  background: #0177b4;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-linkedin-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-pinterest-0 {
  background: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid #cb404a !important;
  color: #db7c83 !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-pinterest-0.ow-button-hover:focus,
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-pinterest-0.ow-button-hover:hover {
  background: #db7c83;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-pinterest-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-tumblr-0 {
  background: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid #1a222d !important;
  color: #36465d !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-tumblr-0.ow-button-hover:focus,
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-tumblr-0.ow-button-hover:hover {
  background: #36465d;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-tumblr-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-rss-0 {
  background: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid #c47804 !important;
  color: #faa21b !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-rss-0.ow-button-hover:focus,
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-rss-0.ow-button-hover:hover {
  background: #faa21b;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-rss-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-envelope-0 {
  background: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid #5ca0d7 !important;
  color: #99c4e6 !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-envelope-0.ow-button-hover:focus,
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-envelope-0.ow-button-hover:hover {
  background: #99c4e6;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button-envelope-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button {
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  margin: 0.1em 0.05em 0.1em 0.05em;
  padding: 1em 0;
  width: 3em;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
.so-widget-sow-social-media-buttons-wire-5855e87639a7-90 .sow-social-media-button .sow-icon-fontawesome {
  display: inline-block;
  height: 1em;
}