
  
  
  #row-e683aabe {
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
  }
  #row-ff3c8dc8 {
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
  }
  #row-c386f127 {
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
  }
  #row-d88bc1a1 {
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
  }
  
  #row-d1403434 {
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
  }
  #row-acd3d531 {
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
  }
  #row-c4606e3d {
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
  }
  #row-cffa4ca7 {
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
  }
  
  #row-d3f6a812 {
    box-shadow: 0px 20px 50px rgba(49, 49, 49, 0.05);
  }
  
  
