
			.page-id-6237 h1 {
display: none;
}

.page-id-6237 .action-block {
	display: none;
}

.page-id-6237 .partner-block {
	display: none;
}

.ab-block-accordion .ab-accordion-title {
	background-color: #00A4B7;
	color: #FFF;
}

.partner-example {
	padding: 10px 20px 0 20px;
}

a.bold-header {
	font-weight: bold;
}

/* Check a Website Form */
.caw_form_container { 
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.caw_form_1 {
	flex: 0 8%;
}

.caw_form_2 {
	flex: 0 70%;
	margin-right: 10px;
}

.caw_form_3 {
	flex: 0 15%;
}

.gfield_consent_description {
	color: #fff;
}

@media (max-width: 500px) {
  .caw_form_container {
    flex-direction: column;
  }
}		