/* -----------------> can start accordion style copy from here ------------------------*/

.accordion-started.accordion-bral {
  min-height: 0;
  min-width: 220px;
  width: 100%;
  background-color: #FFF;
  margin: 0px!important;
  color: #484848;
}
.accordion-started.accordion-bral img {
    width: 100%;
    height: 100%;
}
    .accordion-started.accordion-bral .ac-label {
        position: relative;
        display: block;
        height: 24px;
        cursor: pointer;
        color: #522C6C;
        line-height: 24px;
        font-size: 1rem;
        font-weight: 700;
    }
    .accordion-started.accordion-bral .ac-label-nc {
        position: relative;
        display: block;
        height: 24px;
        cursor: pointer;
        color: #522C6C;
        line-height: 24px;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: .5rem;
    }
.border--bottom{border-bottom: 1px solid #d3d2d3;border-top:0;border-left:0px;border-right:0px;}
.accordion-started.accordion-bral .ac-label:hover {
  
}
.accordion-started.accordion-bral input + .ac-label  {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion-started.accordion-bral input:checked + .ac-label,
.accordion-started.accordion-bral input:checked + .ac-label:active {
  
}
.accordion-started.accordion-bral input.ac-input {
  display: none;
}
.accordion-started.accordion-bral .article {
  overflow: hidden;
  height: 0px;
  max-height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accordion-started.accordion-bral .article p {
  line-height: 23px;
  padding-left: 5px;
}
.accordion-started.accordion-bral input:checked ~ .article i {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.accordion-started.accordion-bral input:checked ~ .article.ac-content {
  height: auto;
}

.accordion-started.accordion-bral .ac-label i {
    position: absolute;
    transform: translate(-16px, 0)rotate(0deg);
    margin-top: 8px;
    right: 0;
}
.accordion-started.accordion-bral input:checked ~ .ac-label i:before {
  transform: translate(2px, 0) rotate(-45deg);
}
.accordion-started.accordion-bral input:checked ~ .ac-label i:after {
  transform: translate(-2px, 0) rotate(45deg);
}
.accordion-started.accordion-bral .ac-label i:before, .ac-label i:after {
    content: "";
    position: absolute;
    background-color: #522C6C;
    width: 2px;
    height: 7px;
}
.accordion-started.accordion-bral i:before {
  transform: translate(-2px, 0) rotate(-45deg);
}
.accordion-started.accordion-bral i:after {
  transform: translate(2px, 0) rotate(45deg);
}

.accordion-started ul.ac-list {
  padding-left: 40px;
  list-style-type: disc;  
}
.main-nav__item a {
    color: #4A494B;
    font-weight:700;
    font-size:16px;
    line-height:24px;
}
.main-nav__item{padding:8px 8px 8px 0;}
.acc-container{padding:8px 8px 8px 0;}
.acc-container-border {
    padding-bottom: 8px;
    border-bottom: solid 1px;
    border-color: #F0EEF2;
}
.main-nav--bottom-padding{padding-bottom:24px;}

/* ---------- accordion style end --------------------------------------- */