
        .st0 { display: none; }
        .st1 {display: inline;fill: none;}
        .st2 { fill: #424242; }
        .st3 {fill: none;stroke: #424242;stroke-width: 1.833;}
        .st4 {fill: none;stroke: #424242;stroke-width: 0.915;}
    