
   @media (min-width:768px) {
     .profile-card{
       width: 40%;
       margin: 0 auto;
     }
   }
   .overlay-primary:before {
    position: absolute;
    content: "";
    background: #ffffff!important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 0;
    border-radius: inherit;
}
   