.modal-dialog {
    max-width: 100%;
}
@media (min-width: 690px) {
    .modal-dialog {
        max-width: 750px;
    }
}

.close {
    opacity: 1;
    font-size: 2rem;
}

.modal-header span {
    color: var(--primary-color);
}