

    @function derive-rgb-values-from-hex($hex) {
        @return red($hex), green($hex), blue($hex);
    }

    :root {
        --primary-color: #1E3860;
        --primary-color-rgb: #{derive-rgb-values-from-hex(var(--primary-color))};
        --primary-font-color: #ffffff;
        --primary-nav-color: #1E3860;
        --secondary-color: #FAA74A;
        --secondary-font-color: #000000;
        --header-color: #ffffff;
        --header-banner-color: #1E3860;
        --footer-color: #ffffff;
        --background-color: #f0f0f0;
    }

    .brand-background {
        background-color: var(--background-color) !important;
    }

    .brand-nav,
    .brand-nav > a,
    .brand-nav > a:link,
    .brand-nav > a:visited,
    .brand-nav > a:hover,
    .brand-nav > a:active {
        color: var(--primary-nav-color) !important;
    }

    .brand-header {
        background-color: var(--header-color) !important;
        border-top: 12px solid var(--header-banner-color) !important;
    }

    .brand-footer {
        background-color: var(--footer-color) !important;
    }

    /*  Leaving in case needed for future use

    .brand-footer-bar {
        background-color: var(--footer-banner-color) !important;
    }*/

    .brand-primary-color,
    .brand-primary-color > a,
    .brand-primary-color > a:link,
    .brand-primary-color > a:visited,
    .brand-primary-color > a:hover,
    .brand-primary-color > a:active,
    .brand-primary-color > input[type=text],
    .brand-primary-color > input[type=text]:hover,
    .brand-primary-color > input[type=text]:focus {
        color: var(--primary-color) !important;
    }

    .brand-primary-border {
        border: 1px solid var(--primary-color);
    }

    .brand-primary-solid {
        background-color: var(--primary-color) !important;
        color: var(--primary-font-color) !important;
    }

    .brand-primary-solid:hover {
        color: var(--primary-font-color) !important;
    }

    .brand-primary-outline {
        background-color: rgb(255,255,255) !important;
        color: var(--primary-color) !important;
        border: 1px solid var(--primary-color) !important;
    }

    .brand-primary-outline:hover {
        color: var(--primary-color) !important;
    }

    .brand-secondary-solid {
        background-color: var(--secondary-color) !important;
        color: var(--secondary-font-color) !important;
    }

    .brand-secondary-outline {
        background-color: rgb(255,255,255) !important;
        color: var(--secondary-font-color) !important;
        border: 1px solid var(--secondary-color) !important;
    }

    .brand-primary-font,
    .brand-primary-font > a,
    .brand-primary-font > a:hover,
    .brand-primary-font > a:link
    .brand-primary-font > input[type=text],
    .brand-primary-font > input[type=text]:hover,
    .brand-primary-font > input[type=text]:focus{
        color: var(--primary-font-color) !important;
    }

    .brand-secondary-font {
        color: var(--secondary-font-color) !important;
    }

