
.top-bar__logo {
    /* width: 180px; */
    width: 300px;
}
.forehead {
    color: #00a5f3;
}
.yell-wrapper .body .button {
    background-color: #00a5f3;
}
.logo {
    position:relative;
}
.powered-by {
    position: absolute;
    top: calc(100% - 24px);
    left: 72px;
    font-size: 10px;
    white-space: nowrap;
    color: #999;
}
