
        body {
            margin: 0;
        }

        .main-container {
            display: block;
        }

        .header {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px;
            background-color: #003D8F;
            height: 64px;
        }

        .header-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 352px;
        }

        #logo {
            height: 36px;
        }

        .logo-word {
            font-family: OverpassRegular, Arial, Arial Narrow, sans-serif;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: middle;
            font-size: 18px;
            font-weight: lighter;
            letter-spacing: 0.1rem;
            padding-left: 20px;
            line-height: 60px;
            color: #FFFFFF;
        }




        .searchbar {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            width: 50%;
        }

        .search-input {
            font-size: 14px;
            font-family: OpenSansRegular, 'Open Sans', 'OpenSansRegularFallback', Arial, sans-serif;
            padding: 10px 10px 10px 26px;
            height: 36px;
            width: 400px;
            border: 2px solid #FFFFFF;
            background: #FFFFFF;
            color: #50575B;
            border-radius: 0px 18px 18px 0px;
            box-sizing: border-box;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: small;
            -webkit-appearance: none;
            -webkit-box-sizing: border-box;

        }

        .call-logo {
            width: 352px;
            text-align: right;

        }

        .fa-phone {
            color: #FFFFFF;
        }

        .call-logo.i {
            color: #f0f0f0;

        }


        .search-icon::before {
            font-family: 'Font Awesome 5 free';
            content: '\f002';
            font-weight: 900;
            color: #FFFFFF;
        }

        .search-icon {
            padding: 10px;
            font-size: 18px;
            height: 16px;
            background-color: #94b2d2;
            border-radius: 18px;
            margin-right: -18px;
            z-index: 1;
        }

        /* stylying for the login section */
        .midsection {
            display: flex;
            justify-content: center;
            width: 100%;
            padding-top: 30px;
            background-color: #f0f0f0;

        }

        .top-section {
            max-width: 450px;
            min-width: 400px;
            min-height: 304px;
            background-color: #FFFFFF;
            padding: 28px 30px;
            box-shadow: 0 1px 2px 0 rgba(80, 87, 91, .24);
        }

        .headline {
            color: #1f282d;
            line-height: 1.3333em;
            font-family: OverpassRegular, Arial, Arial Narrow, sans-serif;
            font-size: 24px;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-weight: inherit;
            margin-bottom: 16px;
            margin-top: -4px;
        }

        fieldset {
            display: inline-block;
        }

        legend {
            font-size: smaller;
        }


        .input-field {
            width: 458px;
            height: 34px;
        }

        .label {
            display: flex;
        }

        .icon-user::before {
            content: "\f406";
            font-family: 'FontAwesome' !important;
            font-weight: 900;
        }

        .button {
            border-radius: 3px;
            box-sizing: border-box;
            font-family: OpenSansBold, Arial, sans-serif;
            font-size: 14px;
            line-height: 1em;
            padding: 10px 16px;
            text-align: center;
            text-decoration: none;
            transition: color .1s ease-out, background-color .1s ease-out, border-color .1s ease-out;
            width: 100%;
            margin-top: 28px;
            margin-bottom: -8px;
            font-weight: 600;
            cursor: pointer;
        }

        .button--primary:hover {
            background-color: #0a8ac9;
            border: 1px solid #0a8ac9;
        }


        .button--primary {
            background-color: #0b9dcc;
            border: 1px solid #0b9dcc;
            color: #fff;
        }

        .input-icon-user::before {
            font-family: 'Font Awesome 5 free';
            content: '\f007';
            font-weight: 900;
            color: #677075;
            height: 14px;
            width: 14px;
        }

        .input-icon-pwd::before {
            font-family: 'Font Awesome 5 free';
            content: '\f023';
            font-weight: 900;
            color: #677075;
            height: 14px;
            width: 14px;
        }

        input {
            width: 80%;
            -webkit-appearance: none;
            outline: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            border: none;
            outline: none;
        }

        .input {
            display: inline-block;
        }

        input:focus {
            -webkit-appearance: none;
            outline: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -o-appearance: none;
            appearance: none;
            border: none;
            outline: none;
        }

        /* tile section */

        .tile {
            background: #fff;
            box-shadow: 0 1px 2px 0 rgba(80, 87, 91, .24);
            width: 163px;
            box-sizing: border-box;
            display: block;
            margin-bottom: 30px;
            padding: 16px;
            position: relative;
            text-align: center;
            text-decoration: none;
            -webkit-transition: all .1s ease-out;
            transition: all .1s ease-out;
            font: inherit;
            cursor: pointer;
        }

        .tilelabel {
            display: block;
            font-size: 15px;
            line-height: 22px;
            margin: 4px auto;
            overflow: hidden;
            overflow-wrap: break-word;
            text-overflow: ellipsis;
            white-space: normal;
            word-break: break-word;
            word-wrap: break-word;
            color: #0b9dcc;

        }

        a {
            text-decoration: none;
        }



        .bottom-section {
            display: flex;
            justify-content: space-between;
        }

        .product-icon {
            height: 84px;
            width: 64px;
        }

        .section-heading {
            font-family: OverpassBold, Arial, sans-serif;
            font-size: 16px;
            margin-bottom: 12px;
            margin-top: 0;
            margin-top: 50px;
            margin-bottom: 10px;
            color: #677075;
            line-height: 1.3333em;
        }

        .input-text {
            font-size: 16px;
            height: 22px;
            color: #677075;
        }

        .input-text::-webkit-input-placeholder {
            color: #677075;
            font-size: 13px;
        }

        .spacer {
            padding: 5px
        }

        .submit-label:before {
            background: #fff;
            border: 1px solid #677075;
            border-radius: 2px;
            content: "";
            height: 15px;
            left: 0;
            position: absolute;
            top: 0;
            width: 15px;
        }

        .submit-label {
            cursor: pointer;
            margin-right: 15px;
            padding-left: 25px;
            position: relative;
            color: #677075;
            font-family: OpenSansBold, Arial, sans-serif;
            font-size: 13px;
            letter-spacing: 0.09rem;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            padding: 20px;
            background-color: #FFFFFF;
            margin-top: 30px;
        }

        .footer-link {
            color: #677075;
            font-size: 13px;
        }

        /* fieldse and legend styling */

        fieldset {
            border: 1px solid #677075;
            height: 34px;
        }

        legend {
            font-size: 13px;
            font-family: OpenSansBold, Arial, sans-serif;
            color: #677075;
        }

        .err {
            color: #d60600;
            padding-left: 10px;
        }

        .danger {
            border-left: 3px solid #d60600;
            height: 40px;
            background-color: #fdf2f2;
            display: none;
            align-items: center;
        }

        @media (min-width: 320px) and (max-width: 500px) {
            #search-input {
                display: none;
            }

            #logo-word {
                display: none;
            }
        }

        @media (min-width: 320px) and (max-width: 600px) {
            #logo-word {
                display: none;
            }
        }
    