
				article.credit-results div.logo div.floa-bank {
							background-image: url(https://www.allo-credit.com/images/logos-partenaires/floa-bank.svg);
						}article.credit-results div.logo div.cetelem {
							background-image: url(https://www.allo-credit.com/images/logos-partenaires/cetelem.svg);
						}article.credit-results div.logo div.younited {
							background-image: url(https://www.allo-credit.com/images/logos-partenaires/younited.svg);
						}article.credit-results div.logo div.cofidis {
							background-image: url(https://www.allo-credit.com/images/logos-partenaires/cofidis.svg);
						}article.credit-results div.logo div.allo-credit {
							background-image: url(https://www.allo-credit.com/logos/340x128/allo-credit.jpg);
						}
				@media only screen and (-webkit-min-device-pixel-ratio: 2),
				only screen and (min--moz-device-pixel-ratio: 2),
				only screen and (-o-min-device-pixel-ratio: 2/1),
				only screen and (min-device-pixel-ratio: 2),
				only screen and (min-resolution: 192dpi),
				only screen and (min-resolution: 2dppx) {
					@media screen and (min-width: 1301px) {
						article.credit-results div.logo div {
							background-size: 170px 64px;
						}
					}
					article.credit-results div.logo div.allo-credit {
								background-image: url(https://www.allo-credit.com/logos/340x128/allo-credit@2X.jpg);
							}
				}
				