ï»¿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

textarea { height: auto !important; }

h4 {
    color: #548235 !important;
    margin-left: 15px;
}

.form-label { font-weight: 600; }

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .jumbotron { margin-top: 20px; }

    .body-content { padding: 0; }
}

.body-content { max-width: 640px; }

.jumbotron {
    background-color: transparent;
    border: 2px solid #548235;
    padding: 5px 10px 5px 5px !important;
}

.table-consents {
    border-collapse: separate !important;
    border-spacing: 3px;
    width: 100%;
}

.table-consents thead th:first-child { width: 35%; }

.table-consents tbody td {
    background-color: #e2f0d9;
    padding: 5px;
    text-align: center;
}

.table-consents tbody tr:first-child td {
    background-color: transparent !important;
    padding: 5px;
    text-align: left;
}