
    #lado-branco-novo {
        background-color: rgba(255, 255, 255, 0.8);
        float: left;
        height: 100vw;
        opacity: 0.8;
        width: 44vw;
        z-index: 5;
        position: fixed;
        top:0;
    }
