*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:0
}
html{
	font-family:sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
body,button,input,select,textarea{
	font-family:sans-serif;
	font-size:12px;
	line-height:15px
}
h1,h2,h3,h4,h5,h6,button,input,optgroup,select,textarea{
	font:inherit;
	color:inherit
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
	display:block
}
a{
	text-decoration:none
}
b,strong,optgroup,dt{
	font-weight:bold
}
small{
	font-size:80%
}
code,kbd,pre,samp{
	font-family:monospace,monospace
}
button::-moz-focus-inner,input::-moz-focus-inner{
	padding:0;
	border:0
}
button{
	overflow:visible
}
button,select{
	text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],html input[disabled]{
	cursor:default
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
	height:auto
}
input[type="search"]{
	-webkit-appearance:textfield;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
	-webkit-appearance:none
}
textarea{
	resize:none
}
img{
	height:auto;
	max-width:100%;
	vertical-align:middle
}
em,i,dfn{
	font-style:italic
}
th{
	font-weight:normal
}
table{
	border-spacing:0;
	border-collapse:collapse;
	width:100%
}
caption,td,th{
	border:1px solid #ccc;
	text-align:center;
	padding:5px
}
caption{
	margin-bottom:-1px
}
dl{
	margin-bottom:20px
}
del{
	text-decoration:line-through
}
abbr[title]{
	cursor:help;
	border-bottom:1px dotted #777
}
blockquote{
	padding:10px 20px;
	border-left:5px solid #eee
}
blockquote:first-child{
	margin-top:0
}
blockquote:last-child{
	margin-bottom:0
}
hr{
	border:solid #f5f5f5;
	border-width:1px 0 0;
	margin:20px 0
}
ul,ol{
	padding-left:25px
}
ul[class*="lst"],ul[class*="lst"] ul,ul[class*="menu"],ul[class*="menu"] ul,nav ul{
	padding-left:0;
	margin-top:0;
	margin-bottom:0
}
ol[class] li,ul[class] li,nav li{
	list-style:none
}
:focus{
	outline:0
}
@media print{
*{
	background:transparent!important;
	color:#000!important;
	box-shadow:none!important;
	text-shadow:none!important;
}
a,a:visited{
	text-decoration:underline
}
a[href]:after{
	content:"(" attr(href) ")"
}
abbr[title]:after{content:"(" attr(title) ")"}a[href^="javascript:"]:after, a[href^="#"]:after{content:""}pre, blockquote{
	border:1px solid #999;
	page-break-inside:avoid
}
thead{
	display:table-header-group
}
tr,img{
	page-break-inside:avoid
}
img{
	max-width:100%!important
}
p,h2,h3{
	orphans:3;
	widows:3
}
h2,h3{
	page-break-after:avoid
}
select{
	background:#fff!important;
}
}
body,button,input,select,textarea{
	font-family:Arial, Helvetica, sans-serif
}
.cont{
	margin:auto;
	padding:0 15px
}
.frmgro,.frmspr,.btnscn{
	margin-bottom:30px
}
[class*="cntcls"]{
	margin-right:-7px;
	margin-left:-7px
}
[class*="cols-"],[class*="cntcls-"]>div,[class*="cntcls-"]>li,[class*="cntcls-"]>section{
	padding:0 7px;
	position:relative
}
[class*="lstcl-100"]>:last-child,.cols-12{
	min-width:100%;
	clear:both
}
[class*="spr10"] .frmgro,[class*="spr10"] .frmspr,[class*="spr10"] .btnscn{
	margin-bottom:10px
}
[class*="spr10"][class*="cntcls"]{
	margin-right:-5px;
	margin-left:-5px
}
[class*="spr10"] [class*="cols-"],[class*="spr10"][class*="cntcls-"]>div,[class*="spr10"][class*="cntcls-"]>li,[class*="spr10"][class*="cntcls-"]>section{
	padding:0 5px
}
h1,h2,h3,h4,h5,h6,p,ul,ol,blockquote,table{
	margin-top:20px;
	margin-bottom:10px
}
h1,h2,h3{
	font-weight:700
}
h1{	
	font-size:30px;
	line-height:40px
}
h2{
	font-size:20px;
	line-height:30px
}
h3{
	font-size:16px
}
label{
	display:inline-block;
	padding:10px 0;
	line-height:20px
}
input[type="text"],input[type="password"],textarea,select,.mt-slct{
	width:100%;
	border:1px solid #eee;
	padding:9px 14px;
	min-height:40px;
	line-height:20px
}
.slctbx{
	position:relative
}
.mt-slct,.mt-slctInner,.slctbx select{
	max-width:100%
}
.mt-slct .mt-slctInner:before{
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:40px;
	text-align:center;
	line-height:40px
}
input[type="text"]:focus,input[type="password"]:focus,textarea:focus,.mt-slctFocus{
	box-shadow:0 0 10px rgba(0,0,0,.05)
}
.picker-element{
	opacity:0;
	position:absolute;
	z-index:-1;
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none
}
.picker{
	cursor:pointer;
	position:relative;
	padding:0 25px;
	display:inline-block;
	vertical-align:top
}
.picker .picker-label{
	cursor:pointer;
}
.picker .picker-handle{
	border:1px solid #ccc;
	height:16px;
	margin:0 5px 0 0;
	width:16px;
	position:absolute;
	left:0;
	top:12px
}
.picker.picker-radio .picker-flag,.picker.picker-checkbox .picker-flag{
	background:#fff;
	display:block;
	height:8px;
	margin:3px;
	width:8px
}
.picker.picker-radio .picker-handle{
	border-radius:8px
}
.picker.picker-radio .picker-flag{
	border-radius:4px
}
.picker.picker-checkbox .picker-handle{
	border-radius:3px
}
.picker.picker-checkbox .picker-flag{
	border-radius:2px
}
.picker.disabled{
	opacity:.5
}
.picker.disabled,.picker.disabled .picker-label,.picker.disabled .picker-handle{
	cursor:default
}
[class*="botn"],a[class*="botn"],button,input[type="reset"],input[type="submit"]{
	display:inline-block;
	vertical-align:top;
	margin-top:0;
	padding:5px 15px;
	line-height:30px;
	font-weight:700;
	text-align:center
}
[class*="botn"]:active,button:active,input[type="reset"]:active,input[type="submit"]:active{
	box-shadow:inset 0 2px 4px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.2)
}
.flol,.alignleft{
	float:left
}
.maau,.aligncenter{
	display:block;
	margin:auto
}
.flor,.alignright{
	float:right
}
[class*="pore"]{
	position:relative
}
[class*="poab"]{
	position:absolute
}
[class*="pofi"]{
	position:fixed
}
[class*="icobg-"],[class*="icobga-"]:after,[class*="icobgb-"]:before,[class*="icona-"]:after,[class*="iconb-"]:before{
	display:inline-block;
	vertical-align:top;
	margin-top:0
}
[class*="icobga-"]:after,[class*="icobgb-"]:before,[class*="icona-"]:after,[class*="iconb-"]:before{
	content:""
}
.clfl:after,.cont:after,[class^="hdcn"]:after,[class^="bdcn"]:after,[class^="ftcn"]:after,article:after,article header:after,article section:after,article footer:after,.frmspr:after,.frmgro:after,[class*="cntcls"]:after{
	content:"";
	clear:both;
	display:table;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden
	}
[class*="botn"],button,input,a,.picker-flag,.ttpcnt{
transition:all .2s
}
/*
[class*="rota-vert"],.fa-flip-vertical{
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
	-webkit-transform:scale(1, -1);
	-moz-transform:scale(1, -1);
	-ms-transform:scale(1, -1);
	-o-transform:scale(1, -1);
	transform:scale(1, -1);
}
*/
.fade{
	transition:opacity .15s linear;
	opacity:0;
}
.fade.in{
	opacity:1;
}
.tab-pane{
	height:0;
	overflow:hidden;
}
.tab-pane.active{
	width: 100%;
	overflow:inherit;
	height: auto;
}
.display-ads-text{
	width:100%;
	text-align:center;
	float:left
}
.display-ads {
    float: right;
    height: 270px;
    margin-bottom: 30px;
    text-align: center;
    width: 33.3%;
}
.bg,[class*="icobg-"],[class*="icobga-"]:after,[class*="icobgb-"]:before{
 	background:url("https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/bg.png?v=5.2") no-repeat
 }
 
 /* NUEVO */
 .hdrgt:before{content: '';}
 [class*="mascota-"] 
.hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/1.png) no-repeat;
    background-size: 70px 70px;
}

[class*="icobg-"] 
span{
	font-size:0;
}
a{
	color:#4d6781;
}
a:hover{
	color:#115fc0;
}
.hdcn,.hdcn a{
	color:#fff;
}
.hdcn{
	background:#115fc0;
	background:-moz-linear-gradient(top, #063d85 0%, #115fc0 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#063d85), color-stop(100%,#115fc0));
	background:-webkit-linear-gradient(top, #063d85 0%,#115fc0 100%);
	background:-o-linear-gradient(top, #063d85 0%,#115fc0 100%);
	background:-ms-linear-gradient(top, #063d85 0%,#115fc0 100%);
	background:linear-gradient(to bottom, #063d85 0%,#115fc0 100%);
	padding:15px 0;
	margin-bottom:10px;
}
.logo,hdcn h1{
	text-align:center;
}
.hdcn h1{
	line-height:10px;
	font-size:12px;
	margin-top:0;
	text-align:center;
}
ul.menutop{
	margin-bottom:15px;
	float:left;
}
.menutop>li>a,.menutop>li>a strong{
	display:block;
}
.menutop>li{
	float:left;
	width:50%;
	text-shadow:1px 1px 0 #2063BF
}
.menutop>li>a{
	padding-left:30px;
	position:relative;
}
.menutop>li>a:before{
	position:absolute;
	top:0;
	margin:auto;
	left:0;
	bottom:0;
}
.icobgb-gmfv:before{
	width:24px;
	height:21px;
	background-position:-490px -35px;
}
.icobgb-gmmj:before{
	width:23px;
	height:23px;
	background-position:-520px -35px;
}
.lstsoc li:hover .ttpcnt,.favgam:hover .ttpcnt,.menuops li:hover .ttpcnt{
	max-height:500px;
	padding:10px 15px;
	overflow:inherit;
	opacity:1;
}
ul.lstsoc{
	text-align:center;
	margin-bottom:15px;
	float:right;
}
.lstsoc>li{
	position:relative;
	margin-left:5px;
	display:inline-block;
}
.lstsoc>li .ttpcnt{
	top:40px;
	width:200px;
	margin-left:-100px;
}
.lstsoc>li>a{
	height:30px;
	width:30px;
	opacity:.4;
}
.lstsoc>li>a:hover{
	opacity:1;
}
.icobg-gogl{
	background-position:-355px -35px;
}
.icobg-face{
	background-position:-390px -35px;
}
.icobg-twit{
	background-position:-425px -35px;
}
.ttpcnt{
	width:270px;
	left:50%;
	margin-left:-135px;
	border-radius:10px;
	background-color:#ddf3ff;
	box-shadow:0 0 0 6px rgba(0,0,0,.2);
	position:absolute;
	max-height:0;
	overflow:hidden;
	padding:0;
	opacity:0;
	z-index:999;
}
.ttpcnt:before,.ttpcnt:after,.ttpcnt2:before,.ttpcnt2:after{
	position:absolute;
	top:-15px;
	left:50%;
	margin-left:-15px;
	content:'';
}
.ttpcnt:before,.ttpcnt2:before{
	width:0;
	height:0;
	border-left:15px solid transparent;
	border-right:15px solid transparent;
	border-bottom:15px solid #ddf3ff;
	z-index:2;
}
.ttpcnt:after,.ttpcnt2:after{
	width:0;
	height:0;
	border-left:17px solid transparent;
	border-right:17px solid transparent;
	border-bottom:15px solid rgba(0,0,0,.2);
	top:-21px;
	margin-left:-17px;
}
.ttpcnt p{
	margin:0;
	font-size:12px;
	color:#5b5b5b;
}
.ttpcnt p:first-child{
	font-size:14px;
	margin-bottom:5px;
}
.ttpcnt p:first-child strong{
	color:#125ebd;
}
.hdrgt{
	background-color:#2771cd;
	min-height:40px;
	padding:10px;
	border-radius:20px;
}
.hdrgt .srchbx{
	position:relative;
	z-index:2;
	clear:both;
}
.hdrgt .srchbx input[type="text"]{
	height:30px;
	line-height:30px;
	padding:5px 50px 5px 15px;
	border-radius:20px;
	color:#5e8ea5;
}
.hdrgt .srchbx button{
	position:absolute;
	width:40px;
	height:40px;
	top:0;
	right:0;
	background-color:transparent;
}
.hdrgt .srchbx button .icobg-srch{
	width:22px;
	height:23px;
	position:absolute;
	right:10px;
	top:8px;
	font-size:0;
	background-position:-735px -35px;
}
.hdrgt .srchbx button:active{
	box-shadow:none;
}
.hdrgt[class*="icobgb-"]:before{
	display:none!important;
}
[class*="mascota-"] .hdrgt{
	position:relative;
}
[class*="mascota-"] .hdrgt:before{
	position:absolute;
	right:-178px;
	top:-15px;
	height:155px;
	z-index:1;
	width:138px;
}
.mascota-dlucha .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/2.png) no-repeat;
    background-size: 70px 70px;
}
.mascota-chicas .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/3.png) no-repeat;
    background-size: 70px 70px;
}
.mascota-sangri .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/4.png) no-repeat;
    background-size: 70px 70px;
}
.mascota-jueg3d .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/5.png) no-repeat;
    background-size: 70px 70px;
}
.mascota-accion .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/6.png) no-repeat;
    background-size: 140px 70px;
    margin-right: 25px;
}
.mascota-dnaves .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/7.png) no-repeat;
    background-size: 70px 70px;
}
.mascota-coches .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/8.png) no-repeat;
    background-size: 140px 70px;
    margin-right: 25px;
}
.mascota-guerra .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/9.png) no-repeat;
    background-size: 140px 70px;
    margin-right: 25px;
}
.mascota-dispar .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/10.png) no-repeat;
    background-size: 80px 70px;
}
.mascota-estrat .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/11.png) no-repeat;
    background-size: 100px 70px;
}
.mascota-plataf .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/12.png) no-repeat;
    background-size: 70px 70px;
}
.mascota-dmotos .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/13.png) no-repeat;
    background-size: 70px 70px;
}
.mascota-animac .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/14.png) no-repeat;
    background-size: 90px 70px;
}
.mascota-musica .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/15.png) no-repeat;
    background-size: 70px 70px;
}
.mascota-clasic .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/16.png) no-repeat;
    background-size: 90px 70px;
}
.mascota-puzzle .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/17.png) no-repeat;
    background-size: 70px 70px;
}
.mascota-deport .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/18.png) no-repeat;
    background-size: 90px 70px;
}
.mascota-aventu .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/19.png) no-repeat;        
    background-size: 70px 70px;
}
.mascota-infant .hdrgt:before{
    background:url(https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/cnt/cat/20.png) no-repeat;
    background-size: 90px 70px;
}

body{
	background-color:#d0eaf5;
	color:#5b5b5b;
}
.main>h2{
	font-size:12px;
	margin-top:0;
	line-height:20px;
	margin-bottom:10px;
	position:relative;
	z-index:2;
}
.main>h2 span{
	color:#115ebd;
}
.lstabs{
	position:relative;
	z-index:2;
}
.lstabs>li{
	margin-bottom:10px;
}
.lstabs.search-tabs>li>a{
	font-size: 12px;
}
.lstabs>li>a{
	display:block;
	height:35px;
	font-size:14px;
	padding:0 10px;
	line-height:35px;
	background:#2771cd;
	color:#fff;
	text-align:center;
	border-radius:10px;
	max-width:407px;
	overflow:hidden;
}
.lstabs>li>a:hover{
	color:#fff;
	background:#ffb400;
	background:-moz-linear-gradient(top, #ffb400 0%, #ff9000 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb400), color-stop(100%,#ff9000));
	background:-webkit-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:-o-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:-ms-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:linear-gradient(to bottom, #ffb400 0%,#ff9000 100%);
}
.lstabs>li.active>a,.lstabs>li.active>a:hover{
	color:#063e86;
	background:#fff;
}

.tbsgme_cnt{
	background-color:#fff;
	padding:10px;
	margin-bottom:20px;
	border-radius:0 0 10px 10px;
}
ul.lstpst{
	margin-right:-3px;
	margin-left:-3px
}
ul.lstpst>li{
	padding:0 3px;
	margin-bottom:10px;
	width:50%;
	float:left;
	position:relative;
}

/*ul.lstpst > li:nth-child(6n) {
    margin-right: 0;
}*/
ul.lstpst figure>a{
	padding-top:75%;
	position:relative;
	overflow:hidden;
	display:block;
}
ul.lstpst figure>a>img{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
}
ul.lstpst figure figcaption,.postcn header{
	padding-top:7px;
	position:relative;
	padding-right:30px;
	height:22px;
}
ul.lstpst figure figcaption a{
	color:#4d6781;
	display:block;
	height:15px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-weight:700;
}
ul.lstpst figure figcaption a:hover{
	color:#115fc0;
	text-decoration:underline;
}
ul.lstpst figure figcaption strong,.postcn header strong{color:#7b9a00;
	position:absolute;
	bottom:0;
	right:0;
	text-align:right;
	height:15px;
	line-height:15px;
}
.postcn header h3{
	margin:0;
	color:#4d6781;
	height:15px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-weight:700;
	font-size:12px;
	line-height:15px;
	padding-right:8px;
}
.ttpcnt2{
	width:330px;
	border-radius:10px;
	background-color:#ddf3ff;
	box-shadow:0 0 0 6px rgba(0,0,0,.2);
	position:absolute;
	padding:10px 15px;
	z-index:999;
	overflow:hidden;
}
.ttpcnt2 h2{
	margin:0;
	font-size:14px;
	color:#125ebd;
}
.ttpcnt2 header+div{
	margin-bottom:10px;
}
.ttpcnt2 header+div p{
	font-size:12px;
	margin-top:0;
}
.ttpcnt2 footer p{
	margin:0;
}
.ttpcnt2 .pstft-lft{
	float:left;
}
.ttpcnt2 .pstft-lft p{
	font-size:12px;
	color:inherit;
	margin-bottom:5px;
}
.ttpcnt2 .pstft-lft p strong{
	color:#3d3d3d;
}
.ttpcnt2 .pstft-rgt{
	text-align:right;
	float:right;
}
.ttpcnt2 .pstft-rgt p{
	margin-bottom:5px;
}
.ttpcnt2 .pstft-rgt p span{
	font-size:11px;
}
.ttpcnt2 .pstft-rgt strong{
	color:#125ebd;
}
.favgam{
	width:41px;
	height:42px;
	background-position:-305px -35px;
	position:absolute;
	top:-5px;
	left:7px;
	z-index:2;
}
.favgam:before{
	position:absolute;
	left:6px;
	top:11px;
}
.favgam .ttpcnt{
	top:50px;
}
.votcnt{
	unicode-bidi:bidi-override;
	direction:rtl;
	font-size:0;
	height:17px;
	width:95px;
}
.votcnt a{
	display:inline-block;
	background:url("https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/bg.png?v=5.1") no-repeat;
	width:19px;
	height:17px;
	vertical-align:top;
	transition:none;
}
.votcnt a.star-on,.votcnt a.star-half:hover,.votcnt a.star-off:hover,.votcnt a:hover,
.votcnt a:hover ~ a{
	background-position:-765px -35px;
}
.votcnt a.star-half{
	background-position:-790px -35px;
}
.votcnt a.star-off{
	background-position:-815px -35px;
}
.carousel{
	position:relative;
}
.carousel-inner{
	position:relative;
	overflow:hidden;
	width:100%;
	z-index:1;
}
.carousel-inner > .item{
	display:none;
	position:relative;
	-webkit-transition:0.6s ease-in-out left;
	-o-transition:0.6s ease-in-out left;
	transition:0.6s ease-in-out left;
}
.carousel-inner > .active,.carousel-inner > .next,.carousel-inner > .prev{
	display:block;
}
.carousel-inner > .active{
	left:0;
}
.carousel-inner > .next,.carousel-inner > .prev{
	position:absolute;
	top:0;
	width:100%;
}
.carousel-inner > .next{
	left:100%;

}
.carousel-inner > .prev{
	left:-100%;
}
.carousel-inner > .next.left,.carousel-inner > .prev.right{
	left:0;
}
.carousel-inner > .active.left{
	left:-100%;
}
.carousel-inner > .active.right{
	left:100%;
}
#lst20gms{
	padding: 10px 84px;
}
#lst20gms figcaption{
	margin-left: 2px;
}
.navpag{
	clear: both;
	text-align:center;
	color:#67839f;
}
.navpag>div{
	background:#215f9b;
	background:-moz-linear-gradient(top, #215f9b 0%, #115ebf 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#215f9b), color-stop(100%,#115ebf));
	background:-webkit-linear-gradient(top, #215f9b 0%,#115ebf 100%);
	background:-o-linear-gradient(top, #215f9b 0%,#115ebf 100%);
	background:-ms-linear-gradient(top, #215f9b 0%,#115ebf 100%);
	background:linear-gradient(to bottom, #215f9b 0%,#115ebf 100%);
	margin:0 -10px -10px;
	padding:12px;
	font-size:0;
	border-radius:0 0 10px 10px;
}
.navpag>div,.navpag>div a{
	color:#fff;
}
.navpag>div a,.navpag>div span{
	min-width:30px;
	padding:0 5px;
	line-height:30px;
	margin:5px;
	font-size:18px;
	display:inline-block;
	border-radius:5px;
}
.navpag>div a:hover,.navpag>div span{
	background:#ffb400;
	background:-moz-linear-gradient(top, #ffb400 0%, #ff9000 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb400), color-stop(100%,#ff9000));
	background:-webkit-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:-o-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:-ms-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:linear-gradient(to bottom, #ffb400 0%,#ff9000 100%);
}
.icobg-prev,.icobg-next{
	width:48px;
	height:48px;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
}
.icobg-prev{
	background-position:-85px -35px;
	left:19px;
}
.icobg-prev:hover{
	background-position:-85px -85px;
}
.icobg-next{
	background-position:-140px -35px;
	right:19px;
}
.icobg-next:hover{
	background-position:-140px -85px;
}
.blkcn_1{
	margin-bottom:20px;
	border-radius:10px
}
.blkcn_1 .blkhd{
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:10px 10px 0 0;
}
.bnr160,.bnr728{
	max-width:160px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	margin-bottom:10px;
}
.bnr728{
	max-width:728px;
}
.gamecnt{
	background-color:#fff;
	border-radius:10px;
	padding:10px;
	width:780px;
	margin: 0 auto;
}
.pagint,.bnr-lft,.bnr-rgt{
	margin-bottom:10px;
}
.bnr-lft,.bnr-rgt{
	width:50%;
	float:left;
	margin-top:176px;
}
.brdcrm{
	font-size:14px;
	padding-top:10px;
	margin-bottom:15px;
	line-height:20px;
}
.brdcrm span{
	padding:0 5px;
}
.brdcrm a:hover{
	font-weight:700;
}
.gamdes{
	background-color:#fff8bd;
	color:#7b6f55;
	border:1px solid #ebd570;
	padding:10px;
	border-radius:10px;
	margin-bottom:15px;
}
.gamdes p:first-child{
	margin-bottom:5px;
}
.gamdes p:last-child{
	margin-bottom:0;
}
.gamdes p{
	margin-top:0;
}
.game{
	margin: 0 auto;
	position:relative;
	margin-bottom:20px;
	text-align:center;
	padding-top: 0px;
}
.game img,.game object,.game embed{
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
	max-height:100%;
	position: relative;
}
.gamopt{
	background-color:#fff8bd;
	color:#7b6f55;
	border:1px solid #ebd570;
	padding:5px 10px;
	border-radius:20px;
	margin: 10px 0;
}
.blkcn_2 .blkhd{
	background:#215f9b;
	background:-moz-linear-gradient(top, #215f9b 0%, #115ebf 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#215f9b), color-stop(100%,#115ebf));
	background:-webkit-linear-gradient(top, #215f9b 0%,#115ebf 100%);
	background:-o-linear-gradient(top, #215f9b 0%,#115ebf 100%);
	background:-ms-linear-gradient(top, #215f9b 0%,#115ebf 100%);
	background:linear-gradient(to bottom, #215f9b 0%,#115ebf 100%);
	text-shadow:none;
	font-size:18px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	border-radius:10px 10px 0 0;
}
.blkcn_2 .blkbd{
	background-color:#fff;
	border:1px solid #1b5fa9;
	padding:10px;
	border-radius:0 0 10px 10px;
}
.icobg-gmfv{
	width:23px;
	height:23px;
	background-position:-610px -35px;
}
.icobg-gmfv2{
	width:24px;
	height:21px;
	background-position:-490px -35px;
}
.icobg-gmfvquit2{
	width:24px;
	height:21px;
	background-position:-460px -35px;
}
.lstvot>li strong{
	display:block;
}
.lstvot>li>a{
	position:relative;
	padding-left:30px;
	display:block;
}
.lstvot>li>a:before{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	margin:auto;
	width:23px;
	height:23px;
}
.lstvot>li>a.icobgb-vot1:before{
	background-position:-550px -35px;
}
.lstvot>li>a.icobgb-vot0:before{
	background-position:-580px -35px;
}
.icobgb-vot1 strong{
	color:#669100;
}
.icobgb-vot0 strong{
	color:#ff0017;
}
.sldrcn{
	padding:0 35px;
	position:relative;
	height:30px;
	margin-bottom:10px;
	float:left;
	width:100%;
}
.lstshrgm{
	padding-top:5px;
}
.lstshrgm>li{
	float:left;
	width:50%;
}
.menuops{
	margin-bottom:10px;
}
.menuops>li{
	width:50%;
	height:30px;
	position:relative;
	float:left;
}
.menuops>li>a{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	margin:auto;
	right:0;
}
.menuops>li .ttpcnt{
	top:40px;
	width:230px;
	margin-left:-115px;
	text-align:center;
}
.lstvot>li{
	float:left;
	width:50%;
}
.icobg-less,.icobg-more{
	width:25px;
	height:25px;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
}
.icobg-less{
	left:0;
	background-position:-670px -35px;
}
.icobg-more{
	right:0;
	background-position:-640px -35px;
}
.sldril{
	margin-top:10px;
	height:10px;
	border-radius:5px;
	background-color:#cfc890;
	position:relative;
}
.icobg-slrdrg{
	width:27px;
	height:26px;
	background-position:-700px -35px;
	top:-7px;
	position:absolute;
}
.menuops .ttpcnt{
	display:none;

}
.sdbr .blkcn:first-child,.sdbr .blkcn:first-child .blkhd h1,.sdbr .blkcn:first-child .blkhd{
	border-radius:10px 10px 0 0;
}
.sdbr .blkcn:last-child{
	border-radius:0 0 10px 10px;
}
.sdbr{
	margin-bottom:20px
}
.blkcn{
	background-color:#fff;
}
.blkhd, .blkhd h1{
	background:#ffb400;
	background:-moz-linear-gradient(top, #ffb400 0%, #ff9000 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb400), color-stop(100%,#ff9000));
	background:-webkit-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:-o-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:-ms-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:linear-gradient(to bottom, #ffb400 0%,#ff9000 100%);
	color:#fff;
	font-size:24px;
	line-height:35px;
	padding:5px 15px;
	text-shadow:1px 1px 1px #FF8400;
	font-weight: normal;
	margin: 0;
}
.blkhd h1{
	padding: 0 0 0 4px;
}
ul.lstcat,.tags{
	padding:10px;
}
ul.lstcat li{
	position:relative;
}
ul.lstcat li span{
	position:absolute;
	top:0;
	right:7px;
	height:27px;
	line-height:27px;
	color:#a9bdc5;
	font-size:11px;
	text-align:right;
}
ul.lstcat li a{
	display:block;
	line-height:27px;
	border-bottom:1px dotted #9cb3bc;
	height:27px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding:0 45px 0 30px;
	color:#5b5b5b;
	position:relative;
}
ul.lstcat li a:hover{
	background-color:#ddf3ff;
}
ul.lstcat li.active{
	 background-color:#2771cd;
}
ul.lstcat li.active a{
	 color: white;
}

ul.lstcat li a:before{
	width:30px;
	height:25px;
	left:0;
	top:0;
	bottom:0;
	margin:auto;
	position:absolute;
}
ul.lstcat li li{
	background-color:#d0eaf5;
}
ul.lstcat>li:last-child a{
	border-bottom:0;
}
.icobgb-2jugad:before{
	background-position:0 0;
}
.icobgb-accion:before{
	background-position:-30px 0;
}
.icobgb-animac:before{
	background-position:-60px 0;
}
.icobgb-aventu:before{
	background-position:-90px 0;
}
.icobgb-cartas:before{
	background-position:-120px 0;
}
.icobgb-clasic:before{
	background-position:-150px 0;
}
.icobgb-coches:before{
	background-position:-180px 0;
}
.icobgb-deport:before{
	background-position:-210px 0;
}
.icobgb-dispar:before{
	background-position:-240px 0;
}
.icobgb-estrat:before{
	background-position:-270px 0;
}
.icobgb-futbol:before{
	background-position:-300px 0;
}
.icobgb-guerra:before{
	background-position:-330px 0;
}
.icobgb-habili:before{
	background-position:-360px 0;
}
.icobgb-infant:before{
	background-position:-390px 0;
}
.icobgb-chicas:before{
	background-position:-420px 0;
}
.icobgb-jueg3d:before{
	background-position:-450px 0;
}
.icobgb-demesa:before{
	background-position:-480px 0;
}
.icobgb-logica:before{
	background-position:-510px 0;
}
.icobgb-dlucha:before{
	background-position:-540px 0;
}
.icobgb-dmotos:before{
	background-position:-570px 0;
}
.icobgb-multij:before{
	background-position:-600px 0;
}
.icobgb-musica:before{
	background-position:-630px 0;
}
.icobgb-dnaves:before{
	background-position:-660px 0;
}
.icobgb-plataf:before{
	background-position:-690px 0;
}
.icobgb-subcat:before{
	background-position:-780px 0;
}
.icobgb-puzzle:before{
	background-position:-720px 0;
}
.icobgb-sangri:before{
	background-position:-750px 0;
}

.icobgb-animales:before{
	background-position:-209px -49px;
}
.icobgb-carreras:before{
	background-position:-241px -49px;
}
.icobgb-cocina:before{
	background-position:-270px -49px;
}
.icobgb-educativos:before{
	background-position:-209px -25px;
}
.icobgb-peliculas:before{
	background-position:-241px -24px;
}
.icobgb-vestir:before{
	background-position:-270px -24px;
}

ul.lstcat li.active a.icobgb-subcat{
	color: grey;
}
.tags{
	font-size:0;
}
.tags a{
	background:#b2d1de;
	background:-moz-linear-gradient(top, #b2d1de 0%, #d0eaf5 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2d1de), color-stop(100%,#d0eaf5));
	background:-webkit-linear-gradient(top, #b2d1de 0%,#d0eaf5 100%);
	background:-o-linear-gradient(top, #b2d1de 0%,#d0eaf5 100%);
	background:-ms-linear-gradient(top, #b2d1de 0%,#d0eaf5 100%);
	background:linear-gradient(to bottom, #b2d1de 0%,#d0eaf5 100%);
	color:#5b5b5b;
	text-shadow:1px 1px 0 #A4C6DD;
	display:inline-block;
	line-height:24px;
	padding:0 12px;
	font-size:11px;
	vertical-align:top;
	margin:3px;
	border-radius:15px;
	}
.tags a:hover{
	background:#115ebf;
	color:#fff;
	text-shadow:none;
}
.tags a.tagz1{
	font-size:12px;
}
.tags a.tagz2{
	font-size:14px;
}
.tags a.tagz3{
	font-size:18px;
}
.ftcn1{
	background:#115fc0;
	background:-moz-linear-gradient(top, #115fc0 0%, #063d85 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#115fc0), color-stop(100%,#063d85));
	background:-webkit-linear-gradient(top, #115fc0 0%,#063d85 100%);
	background:-o-linear-gradient(top, #115fc0 0%,#063d85 100%);
	background:-ms-linear-gradient(top, #115fc0 0%,#063d85 100%);
	background:linear-gradient(to bottom, #115fc0 0%,#063d85 100%);
	text-shadow:1px 1px 0 #0C4AA2;
	padding:20px 0;
}
.titft1{
	font-size:18px;
	font-weight:700;
	color:#ffd200;
	margin-bottom:10px;
}
.titft1+p{
	color:#fff;
	font-size:14px;
	margin-top:0;
	margin-bottom:20px;
}
.titft2{
	color:#ffd200;
	font-size:14px;
	font-weight:700;
	margin-bottom:10px;
}
ul.menuft1{
	text-align:center;
	font-size:0;
	margin-bottom:10px;
}
.menuft1>li{
	display:inline-block;
	position:relative;
	vertical-align:top;
	font-size:12px;
}
.menuft1>li:after{
	width:10px;
	display:inline-block;
	content:"\00b7";
	vertical-align:middle;
	height:14px;
	padding:0 10px;
}
.menuft1>li:last-child:after{
	display:none;
}
.menuft1,.menuft1>li>a{
	color:#a8c0db;
}
.menuft1>li>a:hover{
	font-weight:700;
}
.mnftshr{
	position:relative;
}
.shrpag{
	padding-left:85px;
	height:98px;
	padding-top:20px;
	width:314px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	margin-bottom:-20px;
}
.shrpag:before{
	position:absolute;
	width:73px;
	height:98px;
	background-position:0 -35px;
	left:0;
	top:0;
}
.icobg-face2,.icobg-twit2{
	opacity:.5;
}
.icobg-face2:hover,.icobg-twit2:hover{
	opacity:1;
}
.icobg-face2{
	width:229px;
	height:28px;
	background-position:-195px -105px;
	margin-bottom:15px;
}
.icobg-twit2{
	width:226px;
	height:23px;
	background-position:-445px -110px;
	margin-left:-5px;
}
.ftcn2{
	background:#ffb400;
	background:-moz-linear-gradient(top, #ffb400 0%, #ff9000 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb400), color-stop(100%,#ff9000));
	background:-webkit-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:-o-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:-ms-linear-gradient(top, #ffb400 0%,#ff9000 100%);
	background:linear-gradient(to bottom, #ffb400 0%,#ff9000 100%);
	padding:15px 0;
	line-height:15px;
	text-align:center;
}
.ftcn2,.ftcn2 a{
	color:#fff;
	font-weight:700;
}
.ftcn2 a:hover{
	text-decoration:underline;
}
.txtft{
	margin-bottom:10px;
}
.menuft2{
	font-size:0;
	margin-left:-20px;
}
.menuft2>li{
	display:inline-block;
	font-size:12px;
}
.menuft2>li:after{
	width:10px;
	display:inline-block;
	content:"\007c";
	vertical-align:top;
	height:15px;
	padding:0 3px;
	text-align:center;
}
.menuft2>li:last-child:after{
	display:none;
}

/*=====Game Flash slider====*/
.slider-container{
    margin-top: 10px;
    width: 212px;
}
.label-container{
	margin-bottom: 7px;
}
.bdcn.cont {
   	width: 100%;
    position: relative;
    max-width: 1260px;
}
.bdcn.cont.frontpage {
    max-width: 1234px;
}
.sldrcn-cont {
    margin: 0 auto;
    width: 280px;
}
.sldrcn {
    width: 100%;
    margin-right: 5px;
}
 .icobg-more {
    left:259px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    cursor: pointer;
    background: url("https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/bg.png?v=5.1") no-repeat scroll ;
    border: none;
    background-position: -703px -37px;
    width: 20px;
    height: 30px;
}
.ui-widget-content {  
	background-color: #cfc890;
	border-radius: 5px;
	height: 10px;
	border:none;
} 
.statcounter img{
	border:0 none;
	display:block;
	height:0;
	margin:0;
	padding:0;
	width:0;
}
#yumeads{
	width:500px;
	height:400px;
	margin-left:120px;
}
#closeyumeads{
	color:#fff;
	float:right;
	padding:5px 5px 0 0;
	font-size:10px;
	cursor:pointer;
	display:none;
	z-index:99999;
}
.bottombar{
	background-color:#222;
	color:#fff;
	display:none;
	font-size:12px;
	height:45px;
	padding-top:12px;
	text-align:center;
}
.closebar{
	float:right;
	margin-right:10px;
	cursor:pointer;
	background-image:url('https://www.juegosdiarios.com/staticfiles.juegosdiarios.com/img/new/closebar.png');
	background-repeat:no-repeat;
	width:30px;
	height:30px;
	margin-top:-4px;
}
.rltcts{
	margin:20px 5px;
}
.mrFix{
	margin-right:9px!important;
}
.adsbottom{
	text-align:center;
	margin:10px 0;
}
#ultjgslink h1{
	color:#fff;
	display:inline;
	font-size:inherit;
	line-height:0px;
}
.active #ultjgslink h1{
	color:#063e86;
}
.brdcrm h1{
	display:inline;
	font-size:14px;
	line-height:0;
}
.hidden{
	display:none;
}

.wide-ad {
	margin-top: -15px;
	margin-bottom: 5px;
    text-align: center;
    display: none;
}
@media (min-width: 300px) {
    .wide-ad {display:block;}
}
@media (min-width: 768px) {
    .wide-ad {display:block;}
}

/*=====		end	Game Flash slider	====*/
@-ms-viewport{
	width:device-width
}
[class^="ie-"]{
	background-color:#000;
}
[class^="ie-"] *{
	zoom:1
}
[class^="ie-"] a *{
	cursor:pointer
}
[class^="ie-"] img{
	-ms-interpolation-mode:bicubic;
	width:auto
}

/*		MEDIA QUERIES		*/

/*															min-width:480												*/
@media screen and (min-width:480px){
	ul.lstpst>li{
	width:33.33333333%
	}
}
/*															max-width:767												*/
@media screen and (max-width:767px){
	caption,table,thead,tfoot,tbody,th,td,tr{
	display:block;
	text-align:left;
	margin-bottom:-1px
	}
	thead tr{
	position:absolute;
	top:-9999px;
	left:-9999px
	}
	td{
	position:relative;
	padding-left:50%;
	white-space:normal
	}
	td:before{
	position:absolute;
	top:0;
	top:5px;
	left:5px;
	width:45%;
	padding-right:10px;
	white-space:nowrap;
	text-align:left;
	font-weight:bold;
	content:attr(data-title)
}
ul.lstsoc>li .ttpcnt{
	display:none;
}
#lst20gms ul.lstpst>li{
	width:50%
}
.ttpcnt2,.favgam .ttpcnt{
	display:none!important;
}
}
/*															max-width:479												*/
@media screen and (max-width:479px){
ul.menutop,ul.lstsoc{
	float:none;
}
ul.menutop{
	overflow:hidden;
}
#lst20gms ul.lstpst>li{
	width:100%
}
.shrpag{
		width:auto;
}
.shrpag .icobg-face2{
		background-position:-226px -105px;
		width:198px;
}
.shrpag .icobg-twit2{
		background-position:-483px -110px;
		width:188px;
		margin-left:0;
}
}
/*															min-width:768												*/
@media screen and (min-width:768px){
.frmgro .frmctr{
	margin-left:175px
}
.frmgro label{
	float:left;
	width:160px
}
ul.lstpst>li{
	width:25%
}
ul.lstpst .ttpcnt{
	display:block;
}
.lstabs{
	height:35px;
}
.lstabs>li{
	float:left;
	margin-bottom:0;
	margin-right: 7px;
}
.lstabs>li>a{
	border-radius:10px 10px 0 0;
	position:relative;
}
.lstabs>li.active>a:before{
	width:0;
	height:0;
	border-left:8px solid transparent;
	border-right:8px solid transparent;
	border-top:6px solid #105dbd;
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	bottom:-6px;
	content:'';
}
}
/*															max-width:992												*/
@media screen and (max-width:992px){
.game{
	margin-left:0;
	margin-right:0
}
.sldrcn{
	display:none;
}

}
/*															min-width:992												*/
@media screen and (min-width:992px){

[class*="cols-"],[class*="cntcls-"]>div,[class*="cntcls-"]>li,[class*="cntcls-"]>section{
	float:left
}
.cols-12,.cntcls-12>div,.cntcls-12>li,.cntcls-12>section{
	width:auto;
	float: left;
}
.cols-11,.cntcls-11>div,.cntcls-11>li,.cntcls-11>section{
	width:91.66666667%;
}
.cols-10,.cntcls-10>div,.cntcls-10>li,.cntcls-10>section{
	width:83.33333333%;
}
.cols-9, .cntcls-9 > div, .cntcls-9 > li, .cntcls-9 > section {
    width: 82%;
}
.cols-8,.cntcls-8>div,.cntcls-8>li,.cntcls-8>section{
	width:66.66666667%
}
.cols-7,.cntcls-7>div,.cntcls-7>li,.cntcls-7>section{
	width:58.33333333%
}
.cols-6,.cntcls-6>div,.cntcls-6>li,.cntcls-6>section{
	width:50%
}
.cols-5,.cntcls-5>div,.cntcls-5>li,.cntcls-5>section{
	width:41.66666667%
}
.cols-4,.cntcls-4>div,.cntcls-4>li,.cntcls-4>section{
	 width: 33.333%;
	 float: right;
	 text-align: center;
}
.cols-3,.cntcls-3>div,.cntcls-3>li,.cntcls-3>section{
	width:25%
}
.cols-2,.cntcls-2>div,.cntcls-2>li,.cntcls-2>section{
	width:16.66666667%
}
.cols-1,.cntcls-1>div,.cntcls-1>li,.cntcls-1>section{
	width:8.33333333%
}
[class*="mascota-"] .hdrgt{
	margin-right:195px;
}
[class*="mascota-"] .hdrgt[class*="icobgb-"]:before{
	display:block !important;
}
[class*="mascota-"]+.bdcn .main>h2{
	height:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding-right:290px;
}
.ttpcnt{
	width:330px;
	left:50%;
	margin-left:-165px;
}
.hdrgt .srchbx input[type="text"]{
	width:180px;
}
.hdcn h1{
	height:11px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	max-width:374px;
	margin-bottom:0;
}
.hdrgt{
	padding:5px 10px;
	float:right;
}
.hdrgt .srchbx{
	margin:-5px -10px -5px 10px;
	clear:none;
}
.logo,.hdcn h1{
	text-align:left;
}
.hdlft,ul.lstsoc,.hdrgt .srchbx{
	float:left;
	font-weight:bold;
}
.logo .hdlft span{
	text-align: left;
}
.hdlft .tagline{
	height: 11px;
    margin-bottom: 0;
    max-width: 374px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	font-size: 12px;
    line-height: 10px;
    margin-top: 0;
	max-width: none;
	margin-bottom: 0px;
}
.description-update{
	font-weight: 700;
	font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    position: relative;
    z-index: 2;
}
.description-update span{ 
	color: #115ebd;
}
ul.menutop,ul.lstsoc{
	margin-bottom:0;
}
.menutop>li{
	width:auto;
	margin-right:15px;
}
.mnftshr{
	padding-right:340px;
	min-height:50px;
}
ul.menuft1{
	margin-bottom:0;
}
.shrpag{
	position:absolute;
	right:0;
	bottom:0;
}
.pagint{
	left:16.66666667%;
	right:16.66666667%;
}
.bnr-lft{
	left:-66.66666667%;
}
.gamopt .menuops,.gamopt .menuops>li,.lstvot,.lstvot>li,.sldrcn{
	float:left;
}
.menuops{
	margin-bottom:0;
}
.menuops>li{
	width:30px;
	margin-right:5px;
}
.lstvot>li{
	margin-right:10px;
	width:auto;
}
.lstshrgm{
	float:right;
}
.lstshrgm>li{
	width:100px;
}
.lstshrgm>li+li{
	width:75px;
}
.sldrcn{
	width:120px;
	margin-left:5px;
	margin-bottom:0;
}
.menuops .ttpcnt{
	display:block;
}
.intrsp{
	margin:0;
	padding:0;
}
.intrsp [class*="cols-"]{
	padding:0;
}
.bdcn.cont{
	position:relative;
}
.pagint{
	margin:0 225px;
	width:auto;
	left:0;
	right:0;
	float:none;
}
.pagint+aside{
	position:absolute;
	top:0;
	left:15px;
	width:160px;
}
.pagint+aside+aside{
	position:absolute;
	top:0;
	right:15px;
	width:160px;
}
}
/*															max-width:1229												*/
@media screen and (max-width:1229px){
.bdcn.cont.frontpage {
    max-width: 1024px;
}
.hdcn h1 {
    max-width: 360px;
}
.cols-9, .cntcls-9 > div, .cntcls-9 > li, .cntcls-9 > section {
	width: 75%;
}
ul.lstpst > li {
    padding: 0 14px;
}
ul.lstpst {
    margin-left: -3px;
    margin-right: -3px;
}
.bnr-lft, .bnr-rgt {
	display: none;
}
.pagint {
	margin: 0px;
}
.display-ads {
   width: 50%; 
}
.carousel-inner ul.lstpst > li{
    width: 23%;
}
.display-ads.thumb-overflow{
	display: none;
}
li.mrFix.thumb-overflow{
	display: none;
}
}
/*															min-width:992 and max-width:1259												*/
@media screen and (min-width:992px) and (max-width:1259px) {
.cont{
	max-width:1024px;
	min-width: 992px;
}
.bdcn.cont.frontpage {
    max-width: 1024px;
}
.cols-9, .cntcls-9 > div, .cntcls-9 > li, .cntcls-9 > section {
	width: 75%;
}
.display-ads {
    margin-bottom: 25px;
    width: 50%;
}
.lstabs > li > a {
    font-size: 14px;
 }
.hdcn h1 {
    max-width: 360px;
}
[class*="mascota-"] .hdrgt .menutop>li{
	margin-right:0;
}
[class*="mascota-"] .hdrgt .menutop>li>a{
	font-size:0;
}
}
/*															min-width:1229												*/
@media screen and (min-width:1259px){
.cont{
	width:1234px
}
ul.lstpst>li{
	width:16.66666667%
}
.lstabs>li>a{
	font-size:18px;
}
.mascota-index+.bdcn .main>h2{
	padding-right:0;
}
.hdcn h1{
	max-width:none;
}
.hdrgt .srchbx input[type="text"]{
	width:200px;
}
#lst20gms ul.lstpst>li{
	width:20%
}
.ftcn2 .txtft{
	float:left;
	text-align:left;
	margin-bottom:0;
}
.menuft2{
	float:right;
	text-align:right;
}
.blkcn_2 .blkbd ul.lstpst>li{
	width:20%;
}
}
/*															min-width:1230												*/
@media screen and (min-width:1230px){
ul.lstpst {
    margin-left: -3px;
    margin-right: -3px;
}
.sdbr{
	width:203px !important;
	left:inherit !important;
	padding:0 !important
}
.main{
	left:inherit !important;
	float:right;
	padding:0 !important;
	top:0px;
}
ul.lstpst>li{
	width:158px !important;
	height:140px;
	float:left;
  	margin-right: 6px;
	padding:0 !important
}
ul.lstpst figure>a>img{
	width:160px !important;
	height:120px
}
}
/*															min-width:1025 and max-width: 1920											*/
@media screen (min-width: 1025px) and (max-width: 1920px){
.cols-4, .cntcls-4 > div, .cntcls-4 > li, .cntcls-4 > section {
    width: 33.333%;
}
ul.lstpst {
	float: left;
}
.tab-pane.active{
	width: auto; 
}
.display-ads {
	background-color: blue;
	float: right;
	height: auto;
	margin-bottom: 30px;
}
.display-ads:last-child{
    background-color:red;
}
li.mrFix.thumb-overflow{
	display: block;
}
}
/*															max-width: 1259											*/
@media screen (max-width: 1259px){
.bdcn.cont.frontpage {
    max-width: 1024px;
}
}

#orderTime {
    background: none repeat scroll 0 0 #d0eaf5;
    border-radius: 10px;
    display: inline-block;
    margin: 0px 0px 7px -4px;
    overflow: hidden;
}
#orderTime span {
    border-left: 2px solid #fff;
    color: #2771cd;
    cursor: pointer;
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 14px;
    text-decoration: none;
    font-weight: bold;
}
#orderTime span.current {
    background: none repeat scroll 0 0 #2771cd;
    color:#fff;
}
#orderTime span:hover {
    background: none repeat scroll 0 0 #2771cd;
    color:#fff;
}

#orderRatedPlayed {
    background: none repeat scroll 0 0 #d0eaf5;
    border-radius: 10px;
    display: inline-block;
    margin: 0px 0px 7px -4px;
    overflow: hidden;
}
#orderRatedPlayed span {
    border-left: 2px solid #fff;
    color: #2771cd;
    cursor: pointer;
    float: left;
    height: 35px;
    line-height: 35px;
    padding: 0 14px;
    text-decoration: none;
    font-weight: bold;
}
#orderRatedPlayed span.current {
    background: none repeat scroll 0 0 #2771cd;
    color:#fff;
}
#orderRatedPlayed span:hover {
    background: none repeat scroll 0 0 #2771cd;
    color:#fff;
}
.icobgb-subcat h2 {
	margin-top: auto;
	line-height: inherit;
	font-size: inherit;
	font-weight: unset;
}
.mainCat h1 {
	margin-top: auto;
	line-height: inherit;
	font-size: inherit;
}