
  .iwish_float_wrapper .iwish_svg_icon {
    position: fixed;
    display: flex;
  }
  .iwish_float_wrapper .iwish_svg_icon svg {
    height: 100%;
    width: 100%;
  }
  .iwish_float_wrapper .iwish_svg_icon svg path {
    fill: 
  }
  .iwish_float_wrapper .iwish-counter {
    transition: all 1.5s ease-out;
  }
  .iwish_float_wrapper .iwish-counter {
    transition: none;
  }
  .iwish_float_wrapper span.iwish-counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
    font-size: 12px;
    color: #ffffff
    ;
  }
  .iwish_float_wrapper div.iwish-float-icon {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px !important;
    
      bottom: 10px;
    
    
      left: 5px;
    
    width: 42px;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    z-index: 99
  }
  .iwish_float_wrapper {
    
      display: none;
    
  }
  .iWishAdd,
  .iWishAddColl {
    padding: 5px 0;
    background: transparent;
    border: none;
    font-size: 16px;
    letter-spacing: 0.1rem;
    line-height: 1.2;
    cursor: pointer;
    z-index: 99;
    display: flex;
    vertical-align: middle;
    align-items: center;
    flex-direction: row;
  }
