
    /*verify code*/
.divVerifyCode
{
    width:100%;
    max-width :400px;
    position:relative;
    margin:auto 0px;
}
.divVerifyCodeRight
{
    width:40%;
    float:right;
}
.divVerifyCodeLeft
{
    width:60%;
    float:left;
}
.divVerifyCodeRight_style
{
    width:100%;
    margin-left:0px;
    margin-top:2px;
}
.divVerifyCodeLeft_style
{
    margin-right:0px;
    width:100%;
}
.divVerifyCodeRight_style .ui-btn
{
    height :45px;
    border-radius :4px;
    padding: 8px;
    margin:8px auto;

}
.divVerifyCodeRight_style .ui-btn:hover, .divVerifyCodeRight_style .ui-btn:focus
{   
    color :black;   
}
.VerifyCodeMessage
{
  background-color:lightcyan;
  font-weight:normal;
  padding:6px 6px;
  margin:0px 4px 4px 4px;
  border-radius :5px;
  max-width:400px;
}              
/*end verify code*/
