@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
/* CSS Document */
/* ---------- Slider style start ---------- */
/* caption animation start */
@-webkit-keyframes titleSlideIn {
	0% {margin-bottom: -5px; opacity: 0;}
	50% {margin-bottom: 2px; opacity: 0.9;}
	100% {margin-bottom: 0; opacity: 1;}
}
@-moz-keyframes titleSlideIn {
	0% {margin-bottom: -5px; opacity: 0;}
	50% {margin-bottom: 2px; opacity: 0.9;}
	100% {margin-bottom: 0; opacity: 1;}
}
@keyframes titleSlideIn {
	0% {margin-bottom: -5px; opacity: 0;}
	50% {margin-bottom: 2px; opacity: 0.9;}
	100% {margin-bottom: 0; opacity: 1;}
}
/* caption animation end */
#slideshowArea:before {content: " "; display: block; height: 0; position: absolute; width: 100%; background: linear-gradient(rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0.9) 35%, rgba(255, 255, 255, 0)); z-index: 1;}
#slideshowWrap {height: 114px; margin: auto; position: relative; width: 320px; z-index: 0;}
#slideshowWrap .huge-it-slider {height: 100%; overflow: hidden; position: relative; width: 100%;}
#slideshowWrap .huge-it-slider.owl-carousel {height: 100%;}
#slideshowWrap .huge-it-slider.owl-carousel .owl-stage-outer {height: 100%; width: 100%;}
#slideshowWrap .huge-it-slider.owl-carousel .owl-stage {height: 100%;}
#slideshowWrap .huge-it-slider .item {height: 100%; text-align: center; width: 100%;}
#slideshowWrap .huge-it-slider span.link {background: #f5f5f5; display: block; height: 114px; overflow: hidden; position: relative; width: 100%;}
#slideshowWrap .huge-it-slider .image {display: inline-block; height: auto; max-height: 114px; max-width: 320px; left: 50%; position: absolute; top: 50%; transform: translate(-50%,-50%); width: auto; z-index: 0;}
#slideshowWrap .huge-it-slider .owl-nav {display: none;}
#slideshowWrap .huge-it-slider .owl-prev, #slideshowWrap .huge-it-slider .owl-next {display: none;}
#slideshowWrap .btn.sliderDetails {background: rgba(255,255,255,0.75); bottom: 5px; display: none; font-size: 14px; left: 5px; padding: 2px 5px; position: absolute;}
#slideshowWrap .btn.sliderDetails.animation {display: block; -webkit-animation: titleSlideIn 1s forwards; -moz-animation: titleSlideIn 1s forwards; -ms-animation: titleSlideIn 1s forwards; -o-animation: titleSlideIn 1s forwards; animation: titleSlideIn 1s forwards;}
#slideshowWrap .huge-it-slider .caption {bottom: 0; color: #fff; display: block; left: 50%; opacity: 0; padding-bottom: 30px; position: absolute; transform: translateX(-50%); text-align: center; width: 100%; z-index: 1;}
#slideshowWrap .huge-it-slider .caption:after {background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.5)); bottom: 0; content: " "; display: block; height: calc(100% + 15px); left: 50%; transform: translateX(-50%); position: absolute; width: 100%; z-index: 0;}
#slideshowWrap .huge-it-slider .caption.animation { -webkit-animation-duration: 1s; -webkit-animation-name: titleSlideIn; -moz-animation-duration: 1s; -moz-animation-name: titleSlideIn; animation-duration: 1s; animation-name: titleSlideIn; animation-fill-mode: forwards;}
#slideshowWrap .huge-it-slider .content {visibility: hidden;}
#slideshowWrap .huge-it-slider .content.animation.caption {visibility: visible;}

#slideshowWrap .huge-it-slider .caption .title {font-size: 18px; margin: 0; padding: 5px 10px; position: relative; z-index: 1;}
#slideshowWrap .huge-it-slider .caption .description {font-size: 14px; margin: 0; padding: 5px 10px; position: relative; z-index: 1;}

#slideshowWrap .huge-it-slider .owl-dots {bottom: 8px; padding-right: 4px; position: absolute; right: 5px; text-align: right;}
#slideshowWrap .huge-it-slider .owl-dot {background: #fff; border: 1px solid #ddd; border-radius: 50%; box-shadow: 0 0 6px rgba(0, 0 , 0, 0.2); display: inline-block; height: 10px; margin: 0 2px; opacity: 0.6; padding: 0; width: 10px;}
#slideshowWrap .huge-it-slider .owl-dot > span {display: none;}
#slideshowWrap .huge-it-slider .owl-dot:hover, #slideshowWrap .huge-it-slider .owl-dot.active {background: #fff; border: 1px solid #cccccc; opacity: 1;}
#slideshowWrap .huge-it-slider .owl-dot:hover {cursor: pointer;}

@media (min-width: 360px) {
	#slideshowWrap {height: 129px; width: 360px;}
	#slideshowWrap .huge-it-slider span.link {height: 129px;}
	#slideshowWrap .huge-it-slider .image {max-height: 129px; max-width: 360px;}
}
@media (min-width: 375px) {
	#slideshowWrap {height: 134px; width: 375px;}
	#slideshowWrap .huge-it-slider span.link {height: 134px;}
	#slideshowWrap .huge-it-slider .image {max-height: 134px; max-width: 375px;}
}
@media (min-width: 412px) {
	#slideshowWrap {height: 147px; width: 412px;}
	#slideshowWrap .huge-it-slider span.link {height: 147px;}
	#slideshowWrap .huge-it-slider .image {max-height: 147px; max-width: 412px;}
}
@media (min-width: 414px) {
	#slideshowWrap {height: 148px; width: 414px;}
	#slideshowWrap .huge-it-slider .image {max-height: 148px; max-width: 414px;}
	#slideshowWrap .huge-it-slider span.link {height: 148px;}
}
@media (min-width: 480px) {
	#slideshowWrap {height: 171px; width: 480px;}
	#slideshowWrap .huge-it-slider span.link {height: 171px;}
	#slideshowWrap .huge-it-slider .image {max-height: 171px; max-width: 480px;}
}
@media (min-width: 568px) {
	#slideshowWrap {height: 203px; width: 568px;}
	#slideshowWrap .huge-it-slider .image {max-height: 203px; max-width: 568px;}
	#slideshowWrap .huge-it-slider span.link {height: 203px;}
	#slideshowWrap .huge-it-slider .owl-dots {bottom: 10px; right: 7px;}
}
@media (min-width: 600px) {
	#slideshowWrap {height: 214px; width: 600px;}
	#slideshowWrap .huge-it-slider span.link {height: 214px;}
	#slideshowWrap .huge-it-slider .image {max-height: 214px; max-width: 600px;}
}
@media (min-width: 640px) {
	#slideshowWrap {height: 229px; width: 640px;}
	#slideshowWrap .huge-it-slider span.link {height: 229px;}
	#slideshowWrap .huge-it-slider .image {max-height: 229px; max-width: 640px;}
}
@media (min-width: 667px) {
	#slideshowWrap {height: 238px; width: 667px;}
	#slideshowWrap .huge-it-slider span.link {height: 238px;}
	#slideshowWrap .huge-it-slider .image {max-height: 238px; max-width: 667px;}
}
@media (min-width: 732px) {
	#slideshowWrap {height: 261px; width: 732px;}
	#slideshowWrap .huge-it-slider span.link {height: 261px;}
	#slideshowWrap .huge-it-slider .image {max-height: 261px; max-width: 732px;}
}
@media (min-width: 736px) {
	#slideshowWrap {height: 263px; width: 736px;}
	#slideshowWrap .huge-it-slider span.link {height: 263px;}
	#slideshowWrap .huge-it-slider .image {max-height: 263px; max-width: 736px;}
}
@media (min-width: 740px) {
	#slideshowWrap {height: 264px; width: 740px;}
	#slideshowWrap .huge-it-slider span.link {height: 264px;}
	#slideshowWrap .huge-it-slider .image {max-height: 264px; max-width: 740px;}
}
@media (min-width: 768px) {
	#slideshowWrap {height: 274px; width: 768px;}
	#slideshowWrap .huge-it-slider.owl-carousel .link:after {height: 220px;}
	#slideshowWrap .huge-it-slider span.link {height: 274px;}
	#slideshowWrap .huge-it-slider .image {max-height: 274px; max-width: 768px;}
	#slideshowWrap .huge-it-slider .caption {padding-bottom: 30px;}
	#slideshowWrap .huge-it-slider .caption .title {font-size: 21px; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);}
	#slideshowWrap .huge-it-slider .caption .description {font-size: 16px;}
	#slideshowWrap .huge-it-slider .owl-dots {left: 50%; text-align: center; transform: translateX(-50%); width: 100%; z-index: 1;}
}
@media (min-width: 800px) {
	#slideshowWrap {height: 286px; width: 800px;}
	#slideshowWrap .huge-it-slider span.link {height: 286px;}
	#slideshowWrap .huge-it-slider .image {max-height: 286px; max-width: 800px;}
}
@media (min-width: 812px) {
	#slideshowWrap {height: 290px; width: 812px;}
	#slideshowWrap .huge-it-slider span.link {height: 290px;}
	#slideshowWrap .huge-it-slider .image {max-height: 290px; max-width: 812px;}
}
@media (min-width: 824px) {
	#slideshowWrap {height: 294px; width: 824px;}
	#slideshowWrap .huge-it-slider span.link {height: 294px;}
	#slideshowWrap .huge-it-slider .image {max-height: 294px; max-width: 824px;}
}
@media (min-width: 846px) {
	#slideshowWrap {height: 302px; width: 846px;}
	#slideshowWrap .huge-it-slider span.link {height: 302px;}
	#slideshowWrap .huge-it-slider .image {max-height: 302px; max-width: 846px;}
}
@media (min-width: 853px) {
	#slideshowWrap {height: 305px; width: 853px;}
	#slideshowWrap .huge-it-slider span.link {height: 305px;}
	#slideshowWrap .huge-it-slider .image {max-height: 305px; max-width: 853px;}
}
@media (min-width: 869px) {
	#slideshowWrap {height: 310px; width: 869px;}
	#slideshowWrap .huge-it-slider span.link {height: 310px;}
	#slideshowWrap .huge-it-slider .image {max-height: 310px; max-width: 869px;}
}
@media (min-width: 896px) {
	#slideshowWrap {height: 320px; width: 896px;}
	#slideshowWrap .huge-it-slider span.link {height: 320px;}
	#slideshowWrap .huge-it-slider .image {max-height: 320px; max-width: 896px;}
}
@media (min-width: 900px) {
	#slideshowWrap {height: 321px; width: 900px;}
	#slideshowWrap .huge-it-slider span.link {height: 321px;}
	#slideshowWrap .huge-it-slider .image {max-height: 321px; max-width: 900px;}
}
@media (min-width: 960px) {
	#slideshowWrap {height: 343px; width: 960px;}
	#slideshowWrap .huge-it-slider span.link {height: 343px;}
	#slideshowWrap .huge-it-slider .image {max-height: 343px; max-width: 960px;}
}
@media (min-width: 992px) {
	#slideshowWrap {height: 354px; width: 992px;}
	#slideshowWrap .huge-it-slider span.link {height: 354px;}
	#slideshowWrap .huge-it-slider .image {max-height: 354px; max-width: 992px;}
	#slideshowWrap .huge-it-slider.owl-carousel .link:after {height: 240px;}
	#slideshowWrap .huge-it-slider .caption {padding-bottom: 50px;}
	#slideshowWrap .huge-it-slider .caption:after {height: calc(100% + 30px);}
	#slideshowWrap .huge-it-slider .caption .title {font-size: 30px;}
	#slideshowWrap .huge-it-slider .caption .description {font-size: 17px;}
	#slideshowWrap .huge-it-slider .owl-dot {height: 12px; margin: 0 5px; width: 12px;}
	
	#slideshowWrap .huge-it-slider .owl-dots {bottom: 20px;}
}
@media (min-width: 1000px) {
	#slideshowArea:before {height: 40px;}
	#slideshowWrap .huge-it-slider.owl-carousel .link:after {height: 300px;}
}
@media (min-width: 1024px) {
	#slideshowWrap {height: 366px; width: 1024px;}
	#slideshowWrap .huge-it-slider span.link {height: 366px;}
	#slideshowWrap .huge-it-slider .image {max-height: 366px; max-width: 1024px;}
}
@media (min-width: 1080px) {
	#slideshowWrap {height: 386px; width: 1080px;}
	#slideshowWrap .huge-it-slider span.link {height: 386px;}
	#slideshowWrap .huge-it-slider .image {max-height: 386px; max-width: 1080px;}
}
@media (min-width: 1200px) {
	#slideshowWrap {height: 429px; width: 1200px;}
	#slideshowWrap .huge-it-slider span.link {height: 429px;}
	#slideshowWrap .huge-it-slider .image {max-height: 429px; max-width: 1200px;}
	#slideshowWrap .huge-it-slider .caption .title {font-size: 35px;}
	#slideshowWrap .huge-it-slider .caption .description {font-size: 18px;}
}
@media (min-width: 1280px) {
	#slideshowWrap {height: 457px; width: 1280px;}
	#slideshowWrap .huge-it-slider span.link {height: 457px;}
	#slideshowWrap .huge-it-slider .image {max-height: 457px; max-width: 1280px;}
}
@media (min-width: 1366px) {
	#slideshowWrap {height: 488px; width: 1366px;}
	#slideshowWrap .huge-it-slider span.link {height: 488px;}
	#slideshowWrap .huge-it-slider .image {max-height: 488px; max-width: 1366px;}
}
@media (min-width: 1400px) {
	#slideshowWrap {height: 500px; width: 1400px;}
	#slideshowWrap .huge-it-slider span.link {height: 500px;}
	#slideshowWrap .huge-it-slider .image {max-height: 500px; max-width: 1400px;}
}
/* ---------- Slider style end ---------- */

/* ---------- Small photo slider style start ---------- */
div#photoSlideShow {padding: 0 10px;}
#photoSlideShowWrap {background: #fff; box-shadow: 0 7px 9px rgba(0,0,0,0.11); display: block; height: 224px; overflow: hidden;}
#photoSlideShowWrap .huge-it-slider {height: 100%; overflow: hidden; position: relative; width: 100%;}
#photoSlideShowWrap .huge-it-slider .owl-stage-outer {height: 100%; overflow: hidden; width: 100%;}
#photoSlideShowWrap .owl-stage {white-space: nowrap; width: 200%;}
#photoSlideShowWrap .huge-it-slider .owl-item {display: inline-block;}
#photoSlideShowWrap .huge-it-slider .link {display: inline-block; height: 100%; width: auto;}
#photoSlideShowWrap .huge-it-slider .image {display: inline-block; height: 224px; width: auto;}
#photoSlideShowWrap .huge-it-slider .owl-prev.inactive:after, #photoSlideShowWrap .huge-it-slider .owl-next.inactive:after {opacity: 0.4;}
#photoSlideShowWrap .huge-it-slider .owl-prev:after, #photoSlideShowWrap .huge-it-slider .owl-next:after {content: " "; display: block; height: 45px; position: absolute; text-align: center; text-shadow: 0 0 10px rgba(0, 0 , 0, 0.5); top: calc(50% - 22px); width: 45px;}
#photoSlideShowWrap .huge-it-slider .owl-prev:after {background: url(../images/sliderPrevBtn.png) no-repeat center center; background-size: 100% 100%; left: 0;}
#photoSlideShowWrap .huge-it-slider .owl-next:after {background: url(../images/sliderNextBtn.png) no-repeat center center; background-size: 100% 100%; right: 0;}
#photoSlideShowWrap .huge-it-slider .owl-prev:not(.inactive):hover:after {background: url(../images/sliderPrevBtnH.png) no-repeat center center; background-size: 100% 100%; cursor: pointer; left: 0;}
#photoSlideShowWrap .huge-it-slider .owl-next:not(.inactive):hover:after {background: url(../images/sliderNextBtnH.png) no-repeat center center; background-size: 100% 100%; cursor: pointer; right: 0;}

@media (max-width: 567px) {
	#photoSlideShowWrap .col-xs-6 {width: 100%;}
}
@media (min-width: 568px) {
	#photoSlideShowWrap {height: 197px;}
	#photoSlideShowWrap .huge-it-slider .image {height: 197px;}
}
@media (min-width: 768px) {
	#photoSlideShowWrap {height: 266px;}
	#photoSlideShowWrap .huge-it-slider .image {height: 266px;}
	#photoSlideShowWrap .huge-it-slider .owl-prev:after {height: 55px; top: calc(50% - 25px); width: 55px;}
	#photoSlideShowWrap .huge-it-slider .owl-next:after {height: 55px; top: calc(50% - 25px); width: 55px;}
}
/* ---------- Small photo slider style end ---------- */

/* ---------- Photo album style start ---------- */
.lms-area .huge-it-list.album-list, .huge-it-list.photo-list {width: 100%}
.lms-area .huge-it-list.album-list ul.list li .album-line, .lms-area .huge-it-list ul.list li .photo_img {position: relative;}
.lms-area .huge-it-list.album-list ul.list li .album-line img, .lms-area .huge-it-list ul.list li .photo_img img {left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%);}
/* ---------- Album listing style start ---------- */
.lms-area .huge-it-list.album-list ul.list li {border-bottom: 3px solid #f7c90b; border-top: 1px solid rgba(0,0,0,0.1); border-radius: 3px; box-shadow: 0 2px 2px rgba(0,0,0,0.2); display: table; float: none; margin: 0 auto 25px; height: 178px; width: 266px; -webkit-transition: all 0.2s ease; transition: all 0.2s ease;}
.lms-area .huge-it-list.album-list ul.list li:hover {box-shadow: 0 4px 8px rgba(0, 0, 0 , 0.2)}
.lms-area .huge-it-list.album-list ul.list li .album-line {display: block;	height: 162px; margin: 0 auto; padding: 6px; vertical-align: middle; width: 266px;}
.lms-area .huge-it-list.album-list ul.list li .album_img {height: 162px;}
.lms-area .huge-it-list.album-list ul.list li .album-line img {height: auto; max-width: calc(100% - 10px); max-height: calc(100% - 10px); margin-left: auto; margin-right: auto;}
.lms-area .huge-it-list.album-list ul.list li .album_title {font-weight: bold; display: block; height: 23px; margin: 0 0 5px; padding-left: 7px; text-align: center; width: calc(100% - 10px);}

/* Special fix for IE10+ menu hover*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.lms-area .huge-it-list.album-list ul.list li .album-line {padding: 6px; width: 266px;}
	.lms-area .huge-it-list.album-list ul.list li .album_title {margin-top: 7px;}
}
/* ---------- Album listing style end ---------- */

/* ---------- Photo listing style start ---------- */
.lms-area .huge-it-list a {color: #333;}
.lms-area .huge-it-list ul.list {list-style-type: none; padding-left: 0;}
.lms-area .huge-it-list ul.list li {display: table; float: none; height: 180px; margin: 5px auto; width: 260px;}
.lms-area .huge-it-list ul.list li.item a {display: table-cell; vertical-align: middle;}
.lms-area .huge-it-list ul.list li .photo_img {display: block; height: 180px; border: 1px solid #f0f0f0; outline: 1px solid transparent; padding-bottom: 0; text-align: center; vertical-align: middle; width: 100%; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; max-height: 100%; max-width: 100%;}
.lms-area .huge-it-list ul.list li:hover .photo_img {outline: 1px solid #dfdfdf;}
.lms-area .huge-it-list ul.list li img {height: auto; max-height: 100%; max-width: 100%; margin-left: auto; margin-right: auto; vertical-align: middle; width: auto;}
.lms-area .huge-it-list.photo-list .album_title {color: #666; font-size: 20px; font-weight: bold; margin-bottom: 25px; margin-top: 10px;}
.lms-area .huge-it-list.photo-list ul.list li .title {color: #6a6a6a; display: inline-block; height: 23px; margin: 5px 0; overflow: hidden; text-align: center; width: 100%;}
.lms-area .huge-it-list ul.list li .description, .lms-area .huge-it-list ul.list li .album_title {display: none;}

/* Special fix for IE10+ menu hover*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.lms-area .huge-it-list ul.list li {display: table; margin: 8px auto; width: 266px;}
}
/* ---------- Photo listing style end ---------- */

/* ---------- Pagination style start ---------- */
.lms-area .pagination {clear: both; display: table; font-family: Roboto; text-align: center; width: 100%;}
.lms-area .photo_list_pagination {list-style-type: none;  margin: 30px auto 0; padding-left: 0; width: 100%;}
.lms-area .photo_list_pagination li {display: inline-block; width: 35px;}
.lms-area .photo_list_pagination li:last-child {margin-right: 0;}
.lms-area .pagination .prev:hover, .lms-area .pagination .next:hover{color: #999;}
.lms-area .pagination .prev.inactive, .lms-area .pagination .next.inactive {opacity: 0.5;}
.lms-area .pagination .prev.inactive > a {cursor: default;}
.lms-area .photo_list_pagination li a {color: #777777; display: inline-block; font-size: 18px;}
.lms-area .photo_list_pagination li a > span {display: block; padding: 10px;}
.lms-area .photo_list_pagination .active a {color: #999; pointer-events: none;}
/* ---------- Pagination style end ---------- */

/* ---------- photo display start ---------- */
.photoInfo::-webkit-scrollbar-track {background: #fff;}
.photoInfo::-webkit-scrollbar-thumb {background: #bbb;}
.blueimp-gallery.blueimp-gallery-controls > .photoInfo > .album_title, .blueimp-gallery.blueimp-gallery-display.blueimp-gallery-controls > .indicator, .blueimp-gallery.blueimp-gallery-display.blueimp-gallery-controls .indicatorControl, body:last-child .blueimp-gallery > .play-pause {display: none!important;}
.blueimp-gallery .photoInfo.full_description {max-height: calc(100% - 90px); overflow: auto;}
.blueimp-gallery.blueimp-gallery-display.blueimp-gallery-controls > .photoInfo {background: rgba(0,0,0,0.8); bottom: 0; color: #fff; padding: 15px; position: absolute; width: 100%; z-index: 100;}
.photoInfo h3.title {color: #fff; font-size: 22px; margin: 5px 0 15px;}
a.showMoreDescription {color: #999999; font-size: 12px; text-decoration: none;}
a.showMoreDescription:hover {color: #cccccc; cursor: pointer; text-decoration: none;}
/* ---------- photo display end ---------- */

/* ---------- Inner page slider start ---------- */
.lms-area .huge-it-slider span.link {width: 725px;}
/* ---------- Inner page slider end ---------- */

/* ---------- Responsive start ---------- */
@media (min-width: 568px) {
	.lms-area .huge-it-list.album-list ul.list li, .huge-it-list.photo-list ul.list li {float: left; margin: 0 5px 25px 5px; width: calc(50% - 10px);}
	.lms-area .huge-it-list.album-list ul.list li .album-line {width: 100%;}
	.lms-area .huge-it-list ul.list li .photo_img {height: 150px;}
}
@media (min-width: 768px) {
	.lms-area .huge-it-list.album-list ul.list li, .huge-it-list.photo-list ul.list li {margin: 0 10px 25px; width: calc(33.33% - 20px);}
	.lms-area .huge-it-list.album-list ul.list li .album_img, .huge-it-list.photo-list ul.list li .album_img {height: 152px;}
	.lms-area .huge-it-list.album-list ul.list li .album-line, .huge-it-list.photo-list ul.list li .album-line {height: 152px;}
}
@media (min-width: 992px) {
	.lms-area .huge-it-list.album-list ul.list li .album_img, .huge-it-list.photo-list ul.list li .album_img {height: 197px;}
	.lms-area .huge-it-list.album-list ul.list li .album-line, .huge-it-list.photo-list ul.list li .album-line {height: 197px; width: 275px;}
	.lms-area .huge-it-list ul.list li .photo_img {height: 195px;}
}
@media (min-width: 1200px) {
	.lms-area .huge-it-list.album-list ul.list li, .huge-it-list.photo-list ul.list li {margin: 0 15px 25px 15px; width: calc(25% - 30px);}
	.lms-area .huge-it-list.album-list ul.list li .album-line, .huge-it-list.photo-list ul.list li .album-line {display: block; height: 100%; position: relative; width: 100%;}
}

/* ---------- Responsive end ---------- */
/* ---------- Photo album style end ---------- */