@charset "utf-8";
/* CSS Document */
::-webkit-scrollbar-track {background: #f0f7ff;}
::-webkit-scrollbar-thumb {background: #cce0f8;}
a {color: #1054a9;}
a:hover {color: #307ad5;}
.loading {color: #1054a9;}

/* Template 3 dark cyan theme style start */
#login form {border-left: 1px solid #1054a9;}
#login .btn_login {background: #1054a9;}
#login .btn_login:hover {background: #307ad5;}

#header .icon-bar {background: #1054a9;}
#header .navbar-toggle:hover .icon-bar {background: #307ad5;}

	#mainMenu .nav .dropdown-toggle > .dropdown-icon {color: #1054a9;}
#mainMenu.alwaysCollapse .nav .dropdown-toggle > .dropdown-icon {color: #1054a9;}

/* Index style start */
.attIcon:before {background: url("../images/darkBlue/attachIcon_darkBlue.png") no-repeat center 1px; background-size: auto 100%;}
a:hover .attIcon:before, a.attIcon:hover:before {background: url("../images/darkBlue/attachIconH_darkBlue.png") no-repeat center 1px; background-size: auto 100%;}

slideshowArea a {color: #1054a9;}
#slideshowArea a:hover {color: #307ad5;}
#sliderDetails .modal-header {background: #1054a9;}

#latestNews hr {background: #1054a9;}
#latestNews a h2.newsTitle {color: #1054a9;}
#latestNews a:hover h2.newsTitle {color: #307ad5;}
#latestNews .moreBtn {color: #1054a9;}
#latestNews .moreBtn:hover {color: #307ad5;}

#notice h1.title {background: url("../images/darkBlue/titleHeaderBg_darkBlue.png") #1054a9;}
#notice a h2.noticeTitle {color: #1054a9;}
#notice a:hover h2.noticeTitle {color: #307ad5;}
#notice .moreBtn {background: #1e67c1;}
#notice .moreBtn:hover {background: #307ad5;}

#homework h1.title {background: url("../images/darkBlue/titleHeaderBg_darkBlue.png") #1054a9;}
#homework .input-group {border: 1px solid #1054a9;}
#homework .input-group:hover {border: 1px solid #307ad5;}
#homework .input-group .form-control {color: #1054a9;}
#homework .input-group:hover .form-control {color: #307ad5;}
#homework .input-group .input-group-addon {background: url("../images/darkBlue/calendarIcon_darkBlue.png") center center no-repeat; background-size: auto 45px;}
#homework .input-group .input-group-addon:hover {background: url("../images/darkBlue/calendarIconH_darkBlue.png") center center no-repeat; background-size: auto 45px;}
#homework .datepicker, #homework .dropdown-menu {background-color: #1054a9;}
#homework .classTab {background: #307ad5;}
#homework .bootstrap-datetimepicker-widget table td.day:hover {background: url("../images/darkBlue/dayPickerBg_darkBlue.png") center center no-repeat; background-size: auto 100%;}
#homework .bootstrap-datetimepicker-widget table td.active, #homework .bootstrap-datetimepicker-widget table td.active:hover {background: url("../images/darkBlue/dayPickerBg_darkBlue.png") center center no-repeat; background-size: auto 100%;}
#homework .classTab ul.nav-tabs > li.active > a, #homework .nav-tabs > li.active > a:hover, #homework .nav-tabs > li.active > a:focus {color: #307ad5;}
#homework .classTab ul.nav-tabs > li:hover:not(.active) > a {background: rgba(255, 255, 255, 0.1);}
#homework .classList > li > a {color: #307ad5;}

#homework.ip ::-webkit-scrollbar-track {background: #f0f7ff;}
#homework.ip ::-webkit-scrollbar-thumb {background: #cce0f8;}
#homework.ip .subjectGroupList label {color: #1054a9;}
#homework.ip .btn-default:active, #homework.ip .btn-default.active, #homework.ip .open > .dropdown-toggle.btn-default {border: 1px solid #1054a9; color: #307ad5;}
#homework.ip .bootstrap-select.btn-group .dropdown-menu.inner {background: #1054a9; border: 1px solid #1054a9;}
#homework.ip .btn-default .caret {color: #1054a9;}
#homework.ip .bootstrap-select button {border: 1px solid #1054a9; color: #307ad5;}

#homeworkDetails .modal-header {background: #1054a9;}
#homeworkDetails.ip .hwTitle {color: #1054a9;}

#calendar h1.title {background: url("../images/darkBlue/titleHeaderBg_darkBlue.png") #1054a9;}
#calendar .year_month, #calendar .year_month a {color: #1054a9;}
#calendar .year_month a:hover {color: #307ad5;}
#calendar .event div {background: #e2eefa;}
#calendar .event .date {color: #1054a9;}
#calendar .today div {border: 2px solid #1054a9;}
#calendarDetails .modal-header {background: #1054a9;}
#calendarDetails .tbl_events td:first-child.event {color: #1054a9;}
#calendarDetails ::-webkit-scrollbar-track {background: #f0f7ff;}
#calendarDetails ::-webkit-scrollbar-thumb {background: #cce0f8;}

#alertMsg .modal-title {color: #1054a9;}
/* Index style end */

/* Inner page style start */
#innerPageMenuArea {background: #0a3760;}
#innerPageMenu {background: #0a3760;}
#innerPageMenu .dropdown-icon:before {background: #1054a9;}
#innerPageMenu ul {background: #1054a9;}
#innerPageMenu .dropdown-menu > li > a:hover, #innerPageMenu .dropdown-menu > li > a:focus {background: transparent; color: #408cea;}
#innerPageMenu .dropdown-menu > li > a:hover, #innerPageMenu .dropdown-menu > li > a:focus {background: transparent; color: #21b4ac;}
innerPageMenu .dropdown-menu > li > a:hover, #innerPageMenu .dropdown-menu > li > a.dropdown-toggle:hover > .dropdown-icon:before, #innerPageMenu .dropdown-menu > li.open > a, #innerPageMenu .dropdown-menu > li.open > a.dropdown-toggle > .dropdown-icon:before {color: #408cea;}
#innerPageMenu .current_page_parent > a, #innerPageMenu .current_page_item > a {color: #408cea;}
#innerPageMenu li.dropdown-submenu.open ul {background: #1460be;}

#dcMenu .pageTitle > .dropdown-icon:before {color: #1054a9;}
#dcMenu .dropdown-menu li a:hover, #dcMenu .dropdown-menu li a.dropdown-toggle:hover > .dropdown-icon:before, #dcMenu .dropdown-menu li.open > a, #dcMenu .dropdown-menu li.open a.dropdown-toggle > .dropdown-icon:before, #dcMenu .current_page_parent > a, #dcMenu .current_page_parent > a > .dropdown-icon:before, #dcMenu .current_page_item > a {color: #1054a9;}

.lms-area .wp-paginate .prev:after, .lms-area .wp-paginate .next:after {color: #0a3760;}
.lms-area .wp-paginate .prev:not(.inactive):hover:after, .lms-area .wp-paginate .next:not(.inactive):hover:after {color: #307ad5;}
.lms-area ol.wp-paginate span.page.current {color: #0a3760;}
.lms-area ol.wp-paginate a:hover, .lms-area ol.wp-paginate a:active {color: #307ad5;}
.lms-area .pagination .page-item.prev a:after, .lms-area .pagination .page-item.next a:after {color: #0a3760;}
.lms-area .pagination .page-item.prev:not(.inactive) a:hover:after, .lms-area .pagination .page-item.next:not(.inactive) a:hover:after {color: #307ad5;}

.lms-area .huge-it-list.photo-list .album_title {color: #0a3760;}
.lms-area .huge-it-list.album-list ul.list li {border-bottom: 3px solid #0a3760;}
.lms-area .huge-it-list.album-list ul.list li:hover {background: #f5f6fa;}
.lms-area .huge-it-list.album-list ul.list li .album_title {color: #0a3760;}
.lms-area ul.photo_list_pagination li.prev a, .lms-area ul.photo_list_pagination li.next a, .lms-area ul.photo_list_pagination li.active a {color: #0a3760;}
.lms-area ul.photo_list_pagination li a:hover {color: #307ad5;}
/* Inner page style end */

footer #schInfo {border-top: 2px solid #1054a9;}
#schInfo hr {background: #1054a9;}
footer #copyright {background: #1054a9;}

#backToTop {background: rgba(16, 84, 169, 0.4);}

@media (min-width: 768px) {
	#calendar.modules-fullWidth {background-size: auto 70%;}
}

@media (min-width: 992px) {
	#calendar.modules-fullWidth {background-size: auto 80%;}
	#homework.modules-fullWidth {background-size: auto 60%;}
}

@media (max-width: 999px) {
	#mainMenu .dropdown-menu .dropdown-toggle > .dropdown-icon {color: #fff;}
		#mainMenu .navbar-nav .open .dropdown-menu {background-color: #1054a9;}
		#mainMenu .navbar-nav .open .dropdown-menu .dropdown-menu {background-color: #1460be;}
		#mainMenu .dropdown-menu > li > a {color: #fff; white-space: inherit;}
		#mainMenu .dropdown-menu .dropdown-toggle > .dropdown-icon {color: #fff;}
		#mainMenu .nav > li.open > a, 	#mainMenu .nav > li > a:focus, 	#mainMenu .nav > li > a:hover, 	#mainMenu .nav li.current_page_parent > a, 	#mainMenu .nav li.current_page_item > a {color: #1054a9;}
		#mainMenu .dropdown-menu > li.current_page_item > a, 	#mainMenu .dropdown-menu > li.current_page_parent > a, 	#mainMenu .dropdown-menu > li.current_page_parent > a > .dropdown-icon:before, 	#mainMenu .dropdown-menu > li.current_page_item > a.dropdown-toggle .dropdown-icon:before, 	#mainMenu .dropdown-menu > li > a:hover, 	#mainMenu .dropdown-menu > li > a.dropdown-toggle:hover > .dropdown-icon:before, 	#mainMenu .dropdown-menu > li.open > a, 	#mainMenu .dropdown-menu > li.open > a.dropdown-toggle .dropdown-icon:before, 	#mainMenu .dropdown-menu > li.current_page_item > a.dropdown-toggle .dropdown-icon:before {color: #408cea;}
}

@media (min-width: 1000px) {
	#mainMenu .nav > li.open > a {color: #1054a9;}
	#mainMenu .nav > li > a:focus, #mainMenu .nav > li > a:hover, #mainMenu .nav li.current_page_parent > a, #mainMenu .nav li.current_page_item > a, #mainMenu .nav > li.open > a  {color: #1054a9;}
	#mainMenu .dropdown-menu > li:hover {background: #1054a9;}
	#mainMenu .dropdown-menu > li:hover > a, #mainMenu .dropdown-menu > li:hover > a:focus, #mainMenu .dropdown-menu > li:hover > a:hover {color: #fff;}
}

@media (min-width: 1200px) {
	#calendar.modules-fullWidth {background-size: auto 90%;}
	#homework.modules-fullWidth {background-size: auto 65%;}
}
/* Template 3 dark cyan theme style end */
