
    
        @media screen and (min-width: 0px) {
            .page-header__lifestyle--image-8646 {
                background-image: url('/assets/Personal/ways-to-bank/images/Look-out-for-fraud-and-scams__ScaleMaxWidthWzU3Nl0.jpg');
                background-position: 52% 63%;
                background-size: cover;
            }
        }
    
        @media screen and (min-width: 576px) {
            .page-header__lifestyle--image-8646 {
                background-image: url('/assets/Personal/ways-to-bank/images/Look-out-for-fraud-and-scams__ScaleMaxWidthWzc2OF0.jpg');
                background-position: 52% 63%;
                background-size: cover;
            }
        }
    
        @media screen and (min-width: 768px) {
            .page-header__lifestyle--image-8646 {
                background-image: url('/assets/Personal/ways-to-bank/images/Look-out-for-fraud-and-scams__ScaleMaxWidthWzk5Ml0.jpg');
                background-position: 52% 63%;
                background-size: cover;
            }
        }
    
        @media screen and (min-width: 992px) {
            .page-header__lifestyle--image-8646 {
                background-image: url('/assets/Personal/ways-to-bank/images/Look-out-for-fraud-and-scams__ScaleMaxWidthWzEyMDBd.jpg');
                background-position: 52% 63%;
                background-size: cover;
            }
        }
    
