
      .GNdyK {
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
      } /*!sc*/
      .GNdyK > * {
        margin-bottom: 16px;
      } /*!sc*/
      data-styled.g1[id="styles__Content-start-page__sc-8wfoyh-0"] {
        content: "GNdyK,";
      } /*!sc*/
      .hjxfoM {
        width: 100%;
        font-size: 16px;
        -webkit-text-decoration: none;
        text-decoration: none;
        text-align: center;
        margin-top: 16px;
      } /*!sc*/
      .hjxfoM:link,
      .hjxfoM:focus,
      .hjxfoM:visited,
      .hjxfoM:hover,
      .hjxfoM:active {
        color: #636363;
      } /*!sc*/
      .hjxfoM span {
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
      } /*!sc*/
      data-styled.g2[id="styles__BufferBranding-start-page__sc-8wfoyh-1"] {
        content: "hjxfoM,";
      } /*!sc*/
      .gTYobD a {
        background-color: #E6B333;
        border-radius: 8px;
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
        padding: 24px;
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        box-sizing: border-box;
        -webkit-text-decoration: none;
        text-decoration: none;
        width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      } /*!sc*/
      data-styled.g3[id="styles__Link-start-page__sc-8rlbe5-0"] {
        content: "gTYobD,";
      } /*!sc*/
      .drXFoj {
        color: #3D3D3D;
        font-family: "Roboto", sans-serif;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
      } /*!sc*/
      data-styled.g6[id="style__H1-sc-1nhaquw-2"] {
        content: "drXFoj,";
      } /*!sc*/
      .gouOYl {
        color: #3D3D3D;
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
      } /*!sc*/
      data-styled.g7[id="style__H2-sc-1nhaquw-3"] {
        content: "gouOYl,";
      } /*!sc*/
      .jerNlC {
        border-radius: 8px;
        height: 530px;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
          ),
          url(https://start-page.buffer.com/cdn-cgi/image/height=1060/https://buffer-start-page-uploads.s3.amazonaws.com/defaults/hero-card.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 20px;
      } /*!sc*/
      data-styled.g11[id="styles__Background-start-page__sc-3tt3sb-0"] {
        content: "jerNlC,";
      } /*!sc*/
      .dYNmmw {
        border-radius: 100%;
        height: 97px;
        width: 97px;
        object-fit: cover;
      } /*!sc*/
      data-styled.g12[id="styles__Logo-start-page__sc-3tt3sb-1"] {
        content: "dYNmmw,";
      } /*!sc*/
      .eKcRfz {
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
        font-size: 55px;
        line-height: 55px;
        margin: 20px 0px;
        text-align: center;
      } /*!sc*/
      data-styled.g13[id="styles__StyledHeader-start-page__sc-3tt3sb-2"] {
        content: "eKcRfz,";
      } /*!sc*/
      .jCnkYA {
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
        text-align: center;
      } /*!sc*/
      data-styled.g14[id="styles__StyledSubHeader-start-page__sc-3tt3sb-3"] {
        content: "jCnkYA,";
      } /*!sc*/
      .bLGyIJ {
        display: inline-block;
        fill: currentcolor;
        width: 32px;
        height: 32px;
      } /*!sc*/
      data-styled.g15[id="Icon__StyledIcon-sc-1n46whx-0"] {
        content: "bLGyIJ,";
      } /*!sc*/
      .dkxnqE a {
        color: #000000;
        padding: 8px 15px;
      } /*!sc*/
      .dkxnqE a:visited {
        color: #000000;
      } /*!sc*/
      data-styled.g16[id="styles__Wrapper-start-page__sc-1yp132e-0"] {
        content: "dkxnqE,";
      } /*!sc*/
      .euCgyi {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      } /*!sc*/
      data-styled.g17[id="styles__IconLinksWrapper-start-page__sc-1yp132e-1"] {
        content: "euCgyi,";
      } /*!sc*/
      .fowpBO {
        width: 100%;
        min-height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        box-sizing: border-box;
        padding: 16px;
        position: relative;
        background: #FFFFFF;
      } /*!sc*/
      .fowpBO > * {
        max-width: 640px;
      } /*!sc*/
      data-styled.g24[id="Public__Wrapper-start-page__sc-j1boa-0"] {
        content: "fowpBO,";
      } /*!sc*/
    