html,body{margin:0;background-color:#f8f8f8;height:100%;font-size:14px;}/*!sc*/
*{box-sizing:border-box;}/*!sc*/
*:focus{outline:none;}/*!sc*/
p{margin:0;}/*!sc*/
a{-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
textarea{resize:none;}/*!sc*/
svg{pointer-events:none;}/*!sc*/
body:lang(en){font-family:'Open Sans',sans-serif;}/*!sc*/
body:lang(zh-tw){font-family:'Noto Sans TC',sans-serif;}/*!sc*/
body:lang(zh-cn){font-family:'Noto Sans SC',sans-serif;}/*!sc*/
body:lang(ja){font-family:'Noto Sans JP',sans-serif;}/*!sc*/
h1,h2,h3,h4,h5,b{font-weight:700 !important;}/*!sc*/
#iframe-preview{position:fixed;top:0;left:0;bottom:0;right:0;width:100%;height:100%;z-index:100;display:none;border:none;}/*!sc*/
data-styled.g1[id="sc-global-fCPUIM1"]{content:"sc-global-fCPUIM1,"}/*!sc*/
.bTUbYQ{padding:0 30px;max-width:1440px;margin:auto;}/*!sc*/
@media (max-width:425px){.bTUbYQ{padding:0 16px;}}/*!sc*/
data-styled.g108[id="sc-gm7t1i-0"]{content:"bTUbYQ,"}/*!sc*/
