body {
	padding: 0;
	margin: 0;
  font-family: 'Open Sans', sans-serif;
}
*::selection { background-color: #c1272dc6; color: #fff; }
h1, h2, p { margin: 0; }
.mb-50 { margin-bottom: 50px; }
.mb-14 { margin-bottom: 14px; }
.mb-26 { margin-bottom: 26px; }
.mb-30 { margin-bottom: 30px; }
.marg-btm-28 { margin-bottom: 28px; }
. { margin-bottom: 12px; }
.width-710 { width: 710px; margin: 0 auto; }
.width-500 { width: 500px; margin: 0 auto; }
.red-hover-text:hover { color: #c2272d; }
p { font-size: 19px; line-height: 1.5em; color: #848484; }
h2 { font-size: 22px; color: #848484; }
h5 { color: #848484; }
ul li { font-size: 18px; line-height: 30px; color: #000; }
ul li:visited { color: #848484; }
ol li { font-size: 18px; line-height: 30px; color: #848484; }
ol li:visited { color: #848484; }

.red-text { color: #c2272d; }
.font-40 { font-size: 40px; }
.font-36 { font-size: 36px; }
.font-26 { font-size: 26px; }
.font-22 { font-size: 22px; }
.font-18 { font-size: 18px; line-height: 26px; }
.font-16 { font-size: 16px; line-height: 26px; }
.font-14 { font-size: 14px; line-height: 22px; }
.line-height-36 { line-height: 36px; }
.border-btm-red { border-bottom: 2px solid #c2272d; }
.white-text { color: #fff!important; }
.pera-text { font-size: 14px; line-height: 24px; }
.mb-40 { margin-bottom: 40px; }
.light-grey-text { color: #848484; }
.light-gray-bg { background-color: #f3f3f3; }
.pdng-left-12rem { padding-left: 12.4rem; }
/*Header CODE START*/
#header { position: sticky; top: 0; z-index: 999; }
.navbar-nav .nav-item a.nav-link { color: #000; font-weight: 700; font-size: 14px; margin-left: 24px; }
.navbar-nav .nav-item a { position: relative; }
.navbar-nav .nav-item a::before { content: ''; position: absolute; bottom: 0; left: 0; top: 72px; width: 100%; height: 4px; margin: 0 auto; background-color: #c1272d; -webkit-transition: all .3s linear 0ms; -khtml-transition: all .1s linear 0ms;
    -moz-transition: all .3s linear 0ms;
    -ms-transition: all .3s linear 0ms;
    -o-transition: all .3s linear 0ms;
    transition: all .3s linear 0ms; opacity: 0; animation-name: underline; animation-duration: 4s; }
.navbar-nav .nav-item:hover a::before { opacity: 1; }
.navbar-expand-lg .navbar-nav { align-items: center; }

@keyframes underline {
  from { width: 0%; }
  to { width: 100%; }
}



.navbar-nav .nav-item a.active { color: #c1272d!important; position: relative; }
.navbar-nav .nav-item a:hover { color: #c1272d; }
.navbar-nav .nav-item a.active::after { content: ''; position: absolute; bottom: 0; left: 0; top: 72px; width: 100%; height: 4px; margin: 0 auto; background-color: #c1272d; }

.navbar-toggler { background-color: #000000; border: 1px solid #000000; }
.navbar-toggler-icon { display: flex; justify-content: center; align-items: center; }
.navbar-toggler-icon i { font-size: 24px; color: #fff; }

/*NavItem DropDown Menu Code*/

.dropbtn { color: white; font-size: 16px; border: none; transform: translateY(16px);
    padding-bottom: 38px; }
.dropdown { position: relative; display: inline-block; transition: 4s; transition-delay: 4s; }
.dropdown:hover .fa-caret-down { visibility: hidden; }
.dropdown:hover .fa-caret-up { visibility: visible; }
.fa-caret-up { color: #c1272d; position: absolute; bottom: 4px; left: -20px; right: 0; margin: 0 auto; justify-content: center; display: flex; transform: translateY(5px); visibility: hidden; }

.dropdown-content { display: none; position: absolute; background-color: #f1f1f1; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; top: 87px; border-top: 4px solid #c1272d; }
.solutions-drop-menu { width: 290px; }
.brand-drop-menu { width: 250px; }
.dropdown .vertickle-scroll { top: 87px; width: 500px; transform: translateX(-211px); }
/*.dropdown::after { content: ' \25B2'; width: 10px; height: 3px; margin: 0 auto; color: #c1272d; position: absolute; bottom: 16px; left: 60px; display: block; }*/
/*.navbar-nav .navbar-nav ul li.dropdown:hover ul li.dropdown::after { display: block; }*/
.dropdown-content a { font-size: 16px; line-height: 20px;color: black; padding: 12px 16px; text-decoration: none; display: block;box-sizing: border-box; }
.dropdown-content a:hover {background-color: #ddd; border-left: 3px solid #c1272d;}
.dropdown:hover .dropdown-content {display: block;}
.navbar-nav .nav-item:hover .dropdown-content a::before { display: none; }
.navbar-nav .dropdown a.active::after { top: 71px; }
.navbar-nav .dropdown a::before { top: 72px; }
.right-line { position: relative; }
.right-line::after { content: ""; position: absolute; top: 15px; bottom: 0; right: 0; width: 2px; height: 90%; margin: 0 auto; background-color: grey; }

/*Bootstrap Accordion*/
.accordion .collapse { text-align: left; border: 1px solid #fff; padding: 4px 12px; margin-top: 20px; }
  .accordion a { font-size: 4vw; }

/*Toggle effect*/

@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300');
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
.outer-menu {
  position: relative;
  top: -24px;
  right: 55px;
  z-index: 1;
}
.outer-menu { display: none; }
.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: .75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  padding: .5em 1em;
  background: #c2272d;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
}
.outer-menu .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fefefe;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #fefefe;
  background: #c2272d;
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em 0;
  font-size: 24px;
  display: block;
}
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  transition: width 0.4s ease;
}
/*Toggle effect END*/

/*Header CODE end*/


/*Banner section code*/

#banner-section { margin-bottom: 40px; }

/*Web Sector section code*/
.web-sector-title { color: #c2272d; font-size: 36px; font-weight: 600; line-height: 80px; margin: 0 auto; text-align: center; position: relative; margin-bottom: 50px; }
.card { margin: 0 auto; margin-bottom: 75px; width: 90%!important; border: 0; transition: all ease-in-out .6s; }
.card:hover { transform: scale(1.05); }
.card-title { font-size: 22px; line-height: 36px; }
/*.web-sector-title::before, .web-sector-title::after { content: ""; position: absolute; width: 65px; height: 4px;background-color: #c1272d; }
.web-sector-title::before { top: 50%; left: 30%; }
.web-sector-title::after { top: 50%; right: 30%; }*/
.flex-lines { display: flex; justify-content: center; align-items: center; }
.left-side-line { width: 64px; height: 4px; background-color: #c2272d; margin-right: 25px; }
.right-side-line { width: 64px; height: 4px; background-color: #c2272d; margin-left: 25px; }
a.more-btn { color: #c2272d; font-size: 16px; line-height: 36px; padding-left: 0; }
a.more-btn span { margin-left: 6px; }
a.more-btn:hover { color: #bd0007; }
.top-border { position: relative; padding-top: 16px; }
.top-border::before { content: ""; position: absolute; width: 94%; top: 0; left: 0;  right: 0; margin: 0 auto; height: 1px; background-color: grey; }
.card-logo { display: flex; width: 50px; height: 50px; }
.flex-right-btn { display: flex; justify-content: flex-end; align-items: center; }
.content-center { display: flex; flex-direction: row; justify-content: center; align-items: center; }
.pdng-left-26 { padding-left: 26px; }
.pdng-right-26 { padding-right: 26px; }
.font-20 { font-size: 20px; line-height: 36px; }
.mrgn-btm-64 { margin-bottom: 64px; }
.mrgn-btm-70 { margin-bottom: 70px; }
.resp-pl-0 { padding-left: 0; display: inline-flex; }
.resp-pr-0 { padding-right: 0; display: inline-flex; }
/* 
Breadcrumb Block
*/

#breadcrumb {
  list-style: none;
  display: inline-block;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #848484;
  display: block;
  background: #f7f7f7;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
  transition: all 0.2s ease;
  font-size: 14px;
  font-weight: 500;
}
#breadcrumb li:nth-child(even) a {
  background-color: #f7f7f7;
  transition: all 0.2s ease;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #f7f7f7;
  border-left-color: transparent;
  transition: all 0.2s ease;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #f7f7f7;
  transition: all 0.2s ease;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
  transition: all 0.2s ease;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
  background: #c1272d;
  color: #fff;
  transition: all 0.2s ease;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #c1272d;
  border-width: 20px 10px;
  width: 0;
  height: 0;
  transition: all 0.2s ease;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #f7f7f7;
}
#breadcrumb li a:hover {
  background-color: #721c1c;
  color: white;
}
#breadcrumb li a:hover:before {
  border-color: #721c1c;
  border-left-color: transparent;
  color: white;
}
#breadcrumb li a:hover:after {
  border-left-color: #721c1c;
  color: white;
}
#breadcrumb li a:active {
  background-color: #c2272d;
  color: white;
  transition: all 0.2s ease;
}
#breadcrumb li a:active:before {
  border-color: #c2272d;
  border-left-color: transparent;
  color: white;
  transition: all 0.2s ease;
}
#breadcrumb li a:active:after {
  border-left-color: #c2272d;
  color: white;
  transition: all 0.2s ease;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:not(:last-child):after {
border-left: 10px solid #d9534f;
}
.btn-breadcrumb .btn.btn-danger:not(:last-child):before {
border-left: 10px solid #d43f3a;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):after {
border-left: 10px solid #d2322d;
}
.btn-breadcrumb .btn.btn-danger:hover:not(:last-child):before {
border-left: 10px solid #ac2925;
}
/*Card Code*/
.col-container { display: flex; width: 100%; flex-wrap: wrap; }
.col { display: inline-flex; }
.card-body { padding-bottom: 0; }
.card-footer { background-color: inherit; border-top: 0 }

/*Solution Block*/
.alternate{
  position: relative;
  display: block;
}


#solution { background-color: #f3f3f3; padding: 40px 0; }
.three-boxes-logo { width: 108px; height: 108px; }
.three-boxes-title { font-size: 19px; font-weight: 600; border-bottom: 2px solid #c2272d; padding-bottom: 8px; }
.three-boxes-title a { color: #848484; }
.three-boxes-title a:hover { color: #c2272d; text-decoration: none;  }
.our-brand-logo { width: 200px; height: 50px; }
.grey-scale-img:hover { filter: url('http://revamp.ochre-media.com/public/assets/images/our-brand-logo-2.png'); }
.our-clientele-logo { width: 200px; height: 50px; }
.our-brands-block { padding: 40px 0; }
.dark-grey-bg { background-color: #6e6f71; }
.light-grey-bg { background-color: #f3f3f3; padding-top:40px; padding-bottom: 40px; }
.red-bg { background-color: #c2272d; }
.red-bg p { color: #fff;  padding: 16px; }
#six-box-section { padding: 0 64px; }
.red-txt-hover:hover { color: #c2272d; }
.flex-boxes { width: 100%; justify-content: center; align-items: center; display: flex; }
.inline-flex { display: inline-flex; }
.flex-boxes p { font-weight: 600; }

.carousel-control-next, .carousel-control-prev { background-color: #000!important; width: 40px!important; height: 40px!important; border-radius: 50%!important; }
.carousel-item { text-align: center!important; }

.carousel-indicators li { width: 10px; height: 10px; border-radius: 50%; background-color: #000; }
.carousel-indicators { top: 9.5rem; }
.carousel-indicators li.active { background-color: #c2272d }
.carousel-inner h2 { font-weight: 600; color: #000!important; }
.carousel-inner { width: 85%; margin: 0 auto; }
.flex-boxes p { margin: 0; }
.carousel-control-next-icon, .carousel-control-prev-icon { width: 14px; height: 14px; }

/*IMPACK Page Code*/
.impact-footer { display: inline-flex; flex: 1 100%; width: 100%; justify-content: flex-start;align-items: center; }
.b2b-link:hover { text-decoration: none; }

/*Form Placeholder CSS Code*/

::-webkit-input-placeholder { /* Edge */
  color: #cecfd2;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #cecfd2;
}

::placeholder {
  color: #cecfd2!important;
}

/*ABOUT US Code*/

.w-90 { width: 90%; }
.w-230 { width: 230px; } 
.h-90 { height: 75px; }
.h-55 { height: 55px; }
.font-weight-600 { font-weight: 550; }




/*Print Media block code*/
.print-media-block { padding: 0 10rem; }
.mrg-btm-80 { margin-bottom: 80px; }

/*footer code*/
.mrg-top-56 { margin-top: 56px; }

.footer-bg-dark { background-color: #000; padding: 64px 0; }
.footer-bg-red { background-color: #c2272d; }
.footer-bg-red p{ color: #fff; margin: 0; text-align: center; }
.font-18 { font-size: 18px; }
ul { list-style-type: none; padding: 0; }

/*   
.footer-bg-dark ul li a { color: #fff; font-size: 14px; line-height: 26px;  } */
.footer-bg-dark ul li { color: #fff; font-size: 14px; line-height: 26px;  }
.footer-bg-dark ul li a { color: #fff; font-size: 14px; line-height: 32px;  }
.footer-bg-dark ul li a:hover { color: #ff979b; margin-left: 2px; transition: 0.2s all ease-in-out; }
.footer-bg-dark h3 { display: inline-block; position: relative; color: #c2272d; line-height: 36px; font-size: 20px; margin: 0; margin-bottom: 20px; }
.footer-bg-dark h3:after { content: ""; position: absolute; top: 38px; width: 100%; height: 2px; background-color: #c1272d; bottom: 0; left: 0; }

/*SOCÄ°AL Ä°CONS*/
.social-block { text-align: center; overflow: hidden; padding: 24px 16rem; box-sizing: border-box; }
  /* footer social icons */

  /*ul.social-network { list-style: none; display: inline; margin-left: 0 !important; padding: 0; }

  ul.social-network li { display: inline; margin: 0 5px; }*/

  /* footer social icons */

  /*.social-network a.icoFacebook:hover { background-color: #3B5998; }
  .social-network a.icoLinkedin:hover { background-color: #007bb7; }
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i { color: #fff; }
  .social-network a.socialIcon:hover,
  .socialHoverClass { color: #44BCDD; }
  .social-circle li a { display: inline-block; position: relative; margin: 0 auto 0 auto; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; text-align: center; width: 30px; height: 30px; font-size: 15px; }
  .social-circle li i { margin: 0; line-height: 30px; text-align: center; }
  .social-circle li a:hover i,
  .triggeredHover { -moz-transform: rotate(360deg); -webkit-transform: rotate(360deg); -ms--transform: rotate(360deg); transform: rotate(360deg); -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; -ms-transition: all 0.2s; transition: all 0.2s; }
  .social-circle i { color: #595959; -webkit-transition: all 0.8s; -moz-transition: all 0.8s; -o-transition: all 0.8s; -ms-transition: all 0.8s; transition: all 0.8s; }
  .social-network a { background-color: #F9F9F9; }*/

/*Mobile Responve Code*/

@media (max-width: 767px) {
	.navbar { padding: .5rem 0; }
  .navbar-brand img { margin-left: 8px; }
	#banner-section {
     margin-bottom: 16px;
     /* height: calc(34vh + 22vw); */
     }
	.web-sector-title { font-size: 7vw; line-height: 14vh; margin-bottom: 0; }
	.web-sector-title::before, .web-sector-title::after { width: 40px; }
	.web-sector-title::before { left: 5%; }
	.web-sector-title::after { right: 5%; }
	.card { margin-bottom: 24px; }
	.print-media-block { padding: 0; }
	.print-media-section-block .mb-5 { margin-bottom: 0!important; }
	.print-media-mobile-res { width: 75%; margin: 0 auto; margin-bottom: 24px; }
	.footer-bg-dark { padding: 24px; }
	.carousel-inner { width: 70%; }
	.carousel-indicators { top: 12.4rem; }
	.carousel-control-next, .carousel-control-prev { width: 35px!important; height: 35px!important; border-radius: 50%!important; }
	.carousel-control-next-icon, .carousel-control-prev-icon { width: 16px; height: 16px; }
	.carousel-control-next, .carousel-control-prev { display: none; }
	#six-box-section { padding: 0 16px; }
	.width-500 { width: 100%; }
	.navbar-nav .nav-item a.active::after { top: 30px; height: 3px; }
	.mobile-res-img { width: 50%; }
	.width-710 { width: 100%; }
	.w-230 { width: 100%; }
	.width-835 { width: 100%!important; }
	.DA-Box { width: 100%!important; }
	h1.font-36 { font-size: 24px; }
	.left-side-line { width: 30px; }
	.right-side-line { width: 30px; }
	h2.line-height-36 { line-height: 30px; }
	.red-bg p { margin-bottom: 24px; }
	.our-clientele-logo { margin: 0 auto; }
	.carousel-inner { width: 100%; }
	.impact-footer { margin-bottom: 24px; }
	.web-section-block h2 { font-size: 19px; margin-bottom: 8px; margin-top: 24px!important; }
	.navbar-nav .nav-item a.nav-link { margin-left: 0; }
	.three-boxes-content { margin-bottom: 16px; }
	.navbar-toggler { display: none; }
  .col-container { display: inline; }
  .col { display: block; width: 100%; }
  .card { width: 100%!important; }
  .colum-reverse { flex-direction: column-reverse; }
  .card-body h3.resp-font-18 { font-size: 16px!important; }
  .social-block { padding: 24px 0; }
  .res-social-pera { padding: 0 24px; }
  .social-block .col-sm-12 { margin-bottom: 30px; }
  .linkedin { padding: 10px 40px!important; }
  .facebook { padding: 10px 37px!important; }
  .twitter { padding: 10px 46px!important; }
  .resp-pl-0 { padding: 0; }
  .resp-pr-0 { padding: 0; }
  .resp-pera-txt { font-size: 16px; }

}

/*Tablet Responve Code*/

@media (min-width: 768px) and (max-width: 1024px) {
	.web-sector-title::before { left: 20%; }
	.web-sector-title::after { right: 20%; }
	.card { display: inline-flex; margin-bottom: 0; width: 95%!important; }
	.web-section-block .col-md-6 { margin-bottom: 40px; }
	.web-sector-title { margin-bottom: 0; }
	.print-media-block { padding: 0; }
	.carousel-indicators { top: 9.5rem; }
	.our-brand-logo { width: 100%; height: auto; }
	.our-clientele-logo { width: 100%; height: auto; }
	.navbar-nav .nav-item a.active::after { top: 35px; }
	.width-710 { width: 100%; }
	.width-835 { width: 100%!important; }
	.DA-Box { width: 100%!important; }
	.carousel-control-next, .carousel-control-prev { top: 50px; }
  .social-block { padding: 24px 6rem; }
  .accordion .collapse { padding: 16px 65px!important; margin-top: 24px!important; }
  .accordion ul li a { font-size: 2.6vw; }

}
@media only screen and (max-width: 992px) {
   .outer-menu { display: block; } 
   .navbar-nav .nav-item a.nav-link {color: #fff;}
   .navbar-nav .nav-item a.active {color: white!important;position: relative;}
   .navbar-nav .nav-item a.active::after{background-color: #fff;}
   .navbar-nav .nav-item a.nav-link{font-size: 18px;}
}





/*Brand Page code*/

/* subtle slideshow */
#slideshow{
  height: calc(29vw + 1vh);
  position: absolute !important;
  top: 106px !important;
}
/* subtle slideshow */