
body {
  padding: 0;
  margin: 0;
  text-align: left;
  color: #222;
	background: #F8F8F8 url(images/background_global.gif);
	font-family: Verdana,"Arial CE", Arial, "Helvetica CE", Helvetica, sans-serif;
	font-size: 13px;
}


h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px; 
}
h3 {
	font-size: 16px;  
	margin: 6px 0 2px 0;
}
h4 {
	font-size: 13px;
  margin: 6px 0 2px 0;  
}
h1,h2 {
	margin: 4px 0 4px 0;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:bold; 
	color: #22295B;
	font-family: "Arial CE", Arial,  sans-serif;
}
h7  {
	font-weight:bold; 
	color: #ff0000;
	
}
h8  {
	font-weight:bold; 
}
abbr,acronym {
	border-bottom:1px dotted #000;
	cursor:help;
} 
em {
	font-style:italic;
}
a,
a:link,
a:active,
a:visited {
	text-decoration:none;
	color:#22295B;
	border-bottom: 1px dotted;
}

a:visited {
	color:#663366;
}

a:hover {
	text-decoration:underline;
	color:#22295B;
	border-bottom: none;
}

a.noline, a.noline:visited {
  border: none;
}
table.kis_table td a {
  border: none;
}

ul {
	margin: 8px 6px;
	*margin: 8px 26px;
}

li {
	line-height: 20px;
	padding-left: 3px;
}

table {
  border-collapse: collapse;
  margin: 5px 0 15px 0;
  border: none;
}
th, td { 
  padding: 3px 5px; 
  border: 1px solid #DDD;
}

th {
  background-color: #EEE;
  text-align:center;
}
p {line-height: 1.4em;}
/*.suda {background-color:#FAFAFA;}*/
.suda {background-color:#F5F5F5;}
.over { background-color: #FFFF99; }

table.tab_clear {
  padding: 0;  
  margin: 0;
  border: none;
}
.tab_clear td {
  border: none;
}
form {
  margin-bottom: 4px;
}
caption {
	margin-bottom:.5em;
	text-align:center;
}
p,fieldset,table,pre {
	margin-bottom:1em;
}

p {
  line-height: 20px;
  margin: 3px 0;
}

.clear {
  clear: both;
}


#back {
  background: url(images/background.gif) repeat-y left bottom;
  width: 1040px;
  min-height: 800px;
  top: 0;
  text-align: left;
  margin: 0 auto;
  position: relative;
}

#back #social {
  display: block;
  width: 48px;
  height: 120px;
  position: fixed;
  margin: 160px 0 0 995px;
}
#back #social a.cmd_facebook,
#back #social a.cmd_instagram,
#back #social a.cmd_google_plus {
  text-decoration: none;
  background: url(images/ico_facebook.png) no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  border: 0;
  margin: 0  0 4px 0;
}
#back #social a.cmd_google_plus {
  background: url(images/ico_google_plus.png) no-repeat;
}
#back #social a.cmd_instagram {
  background: url(images/ico_instagram.png) no-repeat;
}


#back_main {
  background: #FFF;
  width: 960px;
  min-height: 800px;
  text-align: left;
  margin: 0 auto;
}
#back_main_kis {
  background: #FFF;
  width: 960px;
  min-height: 800px;
  text-align: left;
}
#header {
  background: #FFF;
  width: 1040px;
  height: 154px;
  position: relative;
  float:left;
}

#content {
  background: #FFF;
  text-align: left;
  width: 960px;
  min-height: 600px;
  height:auto !important;
  height:600px;
  position: relative;
  float:left;
  z-index: 1;  
}

.main {
  width: 590px;
  margin: 10px 20px 10px 20px;
  _margin-left: 10px;
  float: left;
  position: relative;
  z-index: 1; 
}

.sidebar {
  margin: 10px;
  _margin: 10px 5px;
  width: 310px;
  float: left;
  position: relative;
  z-index: 1; 
}

.main_kis {
  width: 930px;
  margin: 20px 10px 10px 20px;
  _margin-left: 5px;
  float: left;
  position: relative;
  
}

.menu_user {
  width: 200px;
  height: 28px;
  right: -25px;
  _right: -30px;
  top: 112px;
  float: right;
  position: relative;
  font-size: 10px;
  text-align: right;
  background: #FFF;
  padding: 5px;
  filter: alpha(opacity=75);
  opacity: 0.75;
}
.help {
  width: 50px;
  height: 25px;
  right: 55px;
  top: 5px;
  float: right;
  position: relative;
  font-size: 11px;
  text-align: right;
  padding-left: 20px;
  background: url(images/ico_help.png) no-repeat left top;
}

.help a, .help a:hover {
  color:#22295B;
	border-bottom: 1px dotted;
}

#footer {
  background: #E4E4E6 url(images/footer_back.gif) no-repeat left top;
  width: 960px;
  height: 150px;
  top: 0;
  position: relative;
  float:left;
  font-size: 11px;
  text-align: left;
  color: #888;
}

#logo {
	position:relative;
	width: 401px;
	height: 154px;
	background:  url(images/logo.png) no-repeat left bottom;
	float: left;
	text-decoration: none;
}
#logo_kis {
	position:relative;
	width: 401px;
	height: 154px;
	background:  url(images/logo_kis.gif) no-repeat left bottom;
	float: left;
	text-decoration: none;
}

#header a {
  border: none;
}

.header_img {
	position:relative;
	width: 639px;
	height: 154px;
	background:  url(images/header_back1.jpg) no-repeat left bottom;
	float: left;
}
.header_img.ban1 {	background:  url(images/header_back1.jpg) no-repeat left bottom; }
.header_img.ban2 {	background:  url(images/header_back2.jpg) no-repeat left bottom; }
.header_img.ban3 {	background:  url(images/header_back3.jpg) no-repeat left bottom; }
.header_img.ban4 {	background:  url(images/header_back4.jpg) no-repeat left bottom; }
.header_img.ban5 {	background:  url(images/header_back5.jpg) no-repeat left bottom; }
.header_img.ban6 {	background:  url(images/header_back6.jpg) no-repeat left bottom; }
.header_img.ban7 {	background:  url(images/header_back7.jpg) no-repeat left bottom; }
.header_img.ban8 {	background:  url(images/header_back8.jpg) no-repeat left bottom; }
.header_img.ban9 {	background:  url(images/header_back9.jpg) no-repeat left bottom; }
.header_img.ban10 {	background:  url(images/header_back10.jpg) no-repeat left bottom; }
.header_img.ban11 {	background:  url(images/header_back11.jpg) no-repeat left bottom; }
.header_img.ban12 {	background:  url(images/header_back12.jpg) no-repeat left bottom; }
.header_img.ban13 {	background:  url(images/header_back13.jpg) no-repeat left bottom; }
.header_img.ban14 {	background:  url(images/header_back14.jpg) no-repeat left bottom; }
.header_img.ban15 {	background:  url(images/header_back15.jpg) no-repeat left bottom; }
.header_img.ban16 {	background:  url(images/header_back16.jpg) no-repeat left bottom; }
.header_img.ban17 {	background:  url(images/header_back17.jpg) no-repeat left bottom; }
.header_img.ban18 {	background:  url(images/header_back18.jpg) no-repeat left bottom; }
.header_img.ban19 {	background:  url(images/header_back19.jpg) no-repeat left bottom; }
.header_img.ban20 {	background:  url(images/header_back20.jpg) no-repeat left bottom; }
.header_img.ban21 {	background:  url(images/header_back21.jpg) no-repeat left bottom; }
.header_img.ban22 {	background:  url(images/header_back22.jpg) no-repeat left bottom; }
.header_img.ban23 {	background:  url(images/header_back23.jpg) no-repeat left bottom; }
.header_img.ban24 {	background:  url(images/header_back24.jpg) no-repeat left bottom; }
.header_img.kis {	background:  url(images/header_back_kis.jpg) no-repeat left bottom; }
.header_img.banmtb1 {	background:  url(images/header_back_mtb1.jpg) no-repeat left bottom; }
.header_img.banmtb2 {	background:  url(images/header_back_mtb2.jpg) no-repeat left bottom; }
.header_img.banmtb3 {	background:  url(images/header_back_mtb3.jpg) no-repeat left bottom; }
.header_img.banmtb4 {	background:  url(images/header_back_mtb4.jpg) no-repeat left bottom; }
.header_img.banmtb5 {	background:  url(images/header_back_mtb5.jpg) no-repeat left bottom; }
.header_img.banmtb6 {	background:  url(images/header_back_mtb6.jpg) no-repeat left bottom; }


.menu {
  height: 30px;
  width: 960px;
  background: url(images/menu_back.gif) no-repeat left top;
  float: left;
  position: relative;
  padding:0px;
  margin: 0;
  text-align: left;
  z-index: 10; 
}

.menu li {
  list-style: none inside;
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  background: url(images/menu_border.gif) no-repeat right top;
  float: left;
}
.menu li.mezera {
  width: 210px;
}
.menu li.prvni {
  background: none;
  font-size: 15px;
}
.menu li.prvni, .menu li.mezera, .menu li.posledni {
  background: none;
}

.menu li a {
  color:#555;
  margin: 0 11px;
  text-decoration: none;
  border: none;
}


.menu.kis li a  {
  margin: 0 10px;
}

.menu.kis li.mezera {
  width: 200px;
}

.menu li a:hover  {
  border-bottom: 1px dotted;
  /*text-decoration: underline;*/
}
.menu li a.selected  {
  border-bottom: 1px dotted;
  /*text-decoration: underline;*/
}

/*  - horizontÃ¡lnÃ­ menu - */
.menu ul {
  display: none;
  position: absolute;
  background: #EEE;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  width: 220px;
  z-index: 500;
  *top: 30px;
  *height: 150px;
}
.menu li:hover ul {
  display: block;
  margin: 0 0 0 -56px;
  *margin: 0 0 0 -114px;
  list-style: none outsides;
  padding: 0 0 10px 15px;
  *padding: 0 0 10px 0;
}
.menu li ul li {
  float: none;
  background: none;
  display: block;
  height: 25px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  z-index: 50;
}
.menu li ul li a {
  margin: 0;
  padding: 0;
}

.menu li.posledni ul {
  width: 177px;
  *width: 192px;
  border-right: none;
}

.menu li.posledni:hover ul {
  margin: 0 0 0 -4px;
  /**margin: 0 0 -100px -114px;*/
  *margin: 0 0 0 -178px;  
  list-style: none outsides;
  padding: 0 0 10px 15px;
  *padding: 0 0 10px 0;
}



.hidden {
  visibility: hidden;
}
.contain {
  margin: 10px;
  line-height: 18px;
}
#footer .contain {
  margin: 35px 20px 5px 20px;
  float:left;
}
#footer .mesto {
  float: right;
  margin-top: 35px;
  width: 180px;
  height: 115px;
  background: url(images/mestoHK.gif) no-repeat center center;
}


.kis_table, .text_maly {
  font-size: 11px;
  font-family: Verdana,"Arial CE", Arial, "Helvetica CE", Helvetica, sans-serif;
}

.sidebar table.kis_table td,.sidebar table.kis_table th, table.kis_table.verejna td {
  padding: 5px 3px; 
}

.komentar {
  position: relative;
  display: block;
  float: left;
  font-size: 12px;
  font-family: Courier New, Courier, "Arial CE", Arial, "Helvetica CE", Helvetica, sans-serif;
  border-bottom: 1px dashed #DDD;
  line-height: 20px;
  width: 600px;
  _width: 595px;
  margin: 20px 0 2px 0; 
  color: #333; 
}
.uroven1 {
  width: 580px;
  _width: 560px;
  margin-left: 20px; 
}
.uroven2 {
  width: 560px;
  _width: 520px;
  margin-left: 40px; 
}

.text_maly.uroven1 {
  _margin-left: 30px; 
}
.text_maly.uroven2 {
  _margin-left: 50px; 
}

.data_export {
  font-family: Courier New, Courier;
}

.vystraha {
  color: red;
  font-weight: bold;
}
.fialova {
  background-color: #F7E2E5;
} 

.box {
  float: left;
  padding: 10px;
  background: #FFFF99;
  margin: 5px 0 20px 0;
  position: relative;
  
}

.sidebar.box {
  width: 290px;
}
.main.box {
  width: 590px;
}

/* boxy KIS*/
.box_50 {
  width: 450px;
  float: left;
}
.box_60 {
  width: 570px;
  float: left;
}
.box_40 {
  width: 320px;
  float: left;
  margin-left: 10px;
}
.box_50_main {
  width: 50%;
  float: left;
}
.box_footer {
  width: 90px;
  float: left;
  text-align: right;
  padding-right: 10px;
  background: url(images/footer_box.gif) repeat-y right top;
}

.vyber {
  font-weight: bold;
}
a.tlacitko {
  border: 0;
  
}
a.tlacitko img {
  border: 0;
  margin: 5px 0;
}
.odkazy {
  line-height: 22px;
  font-size: 12px;
}
.text_maly.chat {
  line-height: 20px;
}
.vysledky {
  font-family: Courier New, Courier;
  font-size: 12px;  
}

body.mceContentBody {
   background: #FFF;
}
.cervena {
  color: red;
  font-weight: bold;
}
.sedy {
  color: #BBB;
  font-size:0.8em;
  font-weight: bold;
  margin-top: 20px;
}
.tucne {
 font-weight: bold; 
}
.iu_limit1 {
  color: red;
  font-weight: bold;
}
.iu_limit2 {
  color: red;
  font-weight: bold;
  background: yellow;
}

div.clanek h3 a {border: 0;}
div.clanek {margin: 10px 0 0 0; border-bottom: 1px solid #DDD; padding: 0 0 10px 0;}
div.clanek p.text_maly {clear: both; color: #666; float: right; text-align: right;}
div.clanek a.komentare {padding: 0 0 0 15px; background: url('images/ico_comment.png') no-repeat 0 3px; ; border: 0;}

ul.poradani {
  margin: 0 0 10px 0;
  border-bottom: 1px dotted #CCC; 
  padding: 5px 20px 10px 25px;
}

.val_form p {margin: 10px 0;}
.val_form label {display: inline-block; width: 140px; text-align: right; padding: 0 5px 0 0;}