
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            color: #fff;
            text-align: center;
        }
        h1 {
            font-size: 32px;
            margin-top: 50px;
            color: black;
        }
        p {
            font-size: 18px;
            color: black;
        }
        .hcaptcha-container {
            margin: 30px auto;
        }
        .error-msg {
            color: red;
            font-weight: bold;
        }
        .ek-btn {
            font-family: Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            background-color: #FFD02D;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            padding: 12px 24px;
            margin-top: 20px;
            transition: background-color 0.3s;
            width: 300px;
        }
        .ek-btn:hover {
            background-color: #FFAE02;
        }
    