
			.tags-list a, .video-block .duration, .no-thumb {
    background-color: #787878;
    color: #FFFFFF!important;
}

.navbar-brand img {
    width: auto;
    max-height: 65px;
}

.hero {
    padding: 10px;
    text-align: center;
}

.hero h1 {
    font-size: 26px;
    margin-bottom: 0;
}

.video-block a.thumb {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 70%;
}

.video-block .video-img.initial, .video-block .video-img.loaded, .video-block .video-img.error {
    opacity: 1;
    height: 100%;
}

.embed-responsive.embed-responsive-16by9.video-tracking {
    display: none;
}		