.main-content a:link, 
.main-content a:visited,
.main-content #rates .product-spotlight a:link,
.main-content #rates .product-spotlight a:visited {
  color:#005C97;
}
.main-content a[href]:hover,
.main-content a[href]:active,
.main-content #rates a[href]:hover,
.main-content #rates a[href]:active {
  color:#d28e00;
}
.main-content h1 {
  color:#005C97;
}
.main-content h2 {
  color:#7E8E2B;
}
.main-content h2 a {
  color:#005C97;
}
.main-content h3 {
  color:#005C97;
}
.main-content ul > li,
.main-content ul.layout ul > li {
  background-image:url(../img/bullet-square-015D90.png);
}
.main-content caption {
  color:#005C97;
}
.main-content .comparison1 tr.horizontal th.table-title {
  background-color:#005C97;
}
.main-content #rates table th,
.main-content table.horizontal th {
  background-color:#7E8E2B;
  border-color:#00351a;

	background: #7E8E2B;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.33) 100%) #7E8E2B; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.33))) #7E8E2B; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%) #7E8E2B; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%) #7E8E2B; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%) #7E8E2B; /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%) #7E8E2B; /* W3C */
}
#next-column:hover {
	background-color:#D28E00;
}
#previous-column:hover {
	background-color:#D28E00  ;
}

.main-content table.checking {
  width:1040px;
}
.main-content table.savings {
  width:650px;
}
.main-content table.bussavings {
  width:780px;
}
.main-content table.buschecking {
  width:1300px;
}

.main-content .comparison tr.horizontal th.table-title {
  background-color:#005C97;
}
.main-content table.comparison td {
  color:#005C97;
}
.main-content table.comparison td .unlimited {
  color:#005C97;
}
.main-content .tab-panes .tabs a { 
  color:#005C97;
}
.main-content .tab-panes .tabs a:hover {
	color:#d28e00;
}	
.main-content .tab-panes .tabs a.current {
  background:#005C97;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%) #005C97; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0))) #005C97; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) #005C97; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) #005C97; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) #005C97; /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) #005C97; /* W3C */
}
.main-content .tab-panes .panes {
  border-top:5px solid #005C97;
}
.main-content .tab-panes h2 {
  color: #005C97;
}
.main-content .accordion-container.active h3.trigger {
  color:#005C97;
}
.tooltip-set1 .tooltip {
	background-color:#005C97;
}
.tooltip-set1 .tooltip h3 {
	background-color:#005C97;
}
.tooltip-set2 .tooltip h3 {
	background-color:#005C97;
}
.tooltip-set3 .tooltip {
	background-color:#005C97;
  border-color:#086700;
}
.main-content .header.banner h1,
.main-content .header.banner h1 span#banner-rate {
  color:#005C97;
}
.main-content .header.banner h1 span {
  color:#666;
}
.main-content .careers .banner {
	background-color:#006e51;
}





/* callout ***** */
/* callout ***** */
/* callout ***** */
.main-content div.callout h2.callout,
.main-content div.callout h3.callout,
.main-content div.callout h4.callout,
.main-content div.callout h5.callout,
.main-content div.callout h6.callout {
  background-color:#005C97;
  color:#fff;
  margin-bottom:0;
  padding:10px;
  
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;   
}
.main-content div.callout .content {
  background-color:#e6e7e8;
  padding:10px;

  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;   
}
/* callout ***** */







/* from tran brand.css ***** */
/* from tran brand.css ***** */
/* from tran brand.css ***** */
.main-content .icon.expand, 
.main-content .icon.collapse {
  background-color:#005C97;
}
.main-content .toggle-trigger {
  color:#005C97;
}
.main-content .toggle-panel .toggle-trigger.expand {
  background-color:#efefef;
  color:#666;
}
.main-content .toggle-panel .toggle-trigger.collapse,
.main-content .toggle-panel .toggle-trigger:hover {
  background-color:#e6e7e8;
}
/* from tran brand.css ***** */

/* Agreements ***** */
/* Agreements ***** */
/* Agreements ***** */
.main-content ol.numbered {
	list-style-type: decimal;
}
/* Agreements ***** */

/* CD, SAVINGS, CHECKING ***** */
/* CD, SAVINGS, CHECKING ***** */
/* CD, SAVINGS, CHECKING ***** */
.main-content .cd-apy,
.main-content .savings-apy,
.main-content .checking-apy {
	display: inline;
}
/* CD, SAVINGS, CHECKING ***** */

/* CD Disclosure Rates Table ***** */
/* CD Disclosure Rates Table ***** */
/* CD Disclosure Rates Table ***** */
.cdDisclosureRates table {
	border:1px solid #333;
}

.cdDisclosureRates thead {
	background-color:#005C97; 
	color:#fff;
}

.cdDisclosureRates thead .first{
	padding-left: 5px;
}

.cdDisclosureRates tr {
	border:1px solid #333;
}

.cdDisclosureRates .cd-type {
	padding-left: 10px;
}
.cdDisclosureRates .rate,
.cdDisclosureRates .apy {
	text-align: center;
}
/* CD Disclosure Rates Table ***** */
