


IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 11px Arial, Helvetica, Sans-serif; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px
}
P {
	MARGIN: 5px 0px 15px; LINE-HEIGHT: 135%
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SELECT {
	BORDER-RIGHT: #9a9a9a 1px solid; BORDER-TOP: #9a9a9a 1px solid; FONT: 11px Arial, Helvetica, sans-serif; BORDER-LEFT: #9a9a9a 1px solid; WIDTH: 150px; BORDER-BOTTOM: #9a9a9a 1px solid; BACKGROUND-COLOR: #ffffff
}
.input {
	BORDER-RIGHT: #bababa 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bababa 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; FONT: 11px Arial, Helvetica, sans-serif; BORDER-LEFT: #bababa 1px solid; WIDTH: 120px; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 16px
}
.input_select {
	BORDER-RIGHT: #bababa 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bababa 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; FONT: 11px Arial, Helvetica, sans-serif; BORDER-LEFT: #bababa 1px solid; WIDTH: 120px; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #bababa 1px solid
}
.input_selbox {
	BORDER-RIGHT: #bababa 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bababa 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; FONT: 11px Arial, Helvetica, sans-serif; BORDER-LEFT: #bababa 1px solid; WIDTH: 30px; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 16px
}
.input_nri {
	BORDER-RIGHT: #bababa 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bababa 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; FONT: 11px Arial, Helvetica, sans-serif; BORDER-LEFT: #bababa 1px solid; WIDTH: 80px; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 16px
}
.input_selbox_nri {
	BORDER-RIGHT: #bababa 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #bababa 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; FONT: 11px Arial, Helvetica, sans-serif; BORDER-LEFT: #bababa 1px solid; WIDTH: 50px; COLOR: #000000; PADDING-TOP: 0px; BORDER-BOTTOM: #bababa 1px solid; HEIGHT: 16px
}
.pkg {
	DISPLAY: block
}


img { border:0px }
img a { border:0px }
body {margin:0px; padding:0px; width:100%; font:normal 11px Arial, Helvetica, Sans-serif; color:#000000}
p {margin:0px 0px 15px 0px; line-height:135%;}
a {text-decoration:none; color:#000000;}
	
h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px; font-size:11px; font-weight:normal;}
select {width:120px; background-color:#FFFFFF; border:#9A9A9A 1px solid; font:normal 11px Arial, Helvetica, sans-serif;}
.input {width:120px; border:#BABABA 1px solid; padding:0px 0px 0px 5px; font:normal 11px Arial, Helvetica, sans-serif; color:#000000; height:16px;}
.title h1 {color: #A4003F; display: inline; font-family: Arial; font-size: 16px; font-weight: bold;}
.content p {font-family: Verdana;}
.content table {width: 100%; font-family: Verdana;}
.content table td {vertical-align:top;}


/* Footer Website*/
.footer { background:url(/images/bg-footer.gif) repeat-x 0 0 #dcdcdc; padding:10px 7px 5px 7px }
.footer a { color:#585858 }
.footer h2 { text-align:center }
.footer h1 { width:33%; display:inline; position:relative; float:left }
.footer h2 { display:inline; position:relative; float:left; padding-right:8px; }
.footer h3 { text-align:left; width:30%; display:inline; padding-right:8px; }
.footer h3 a { padding:0px 0px 0px 8px }
.dotted { background:url(/images/dotdline-1.gif); margin:7px 0px 7px 0px; padding:0px }
#apply_now_td { padding-left:25px; }
.banking2 { color:#A4013F; font-weight:bold; background:url(/images/24x7-banking.gif) no-repeat; padding:9px 0px 2px 22px; float:left; width:78px; }
.banking2 a{float:left; width:78px;}
.downloadform { padding:0px 30px 15px 15px; border:1px solid #BABABA; border-top:none; background:url(/images/find_a_product_bg.gif) repeat-x top }