/* (home) version: 1.0.1 */





    @import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Fjalla+One&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Mulish:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;700&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Comfortaa:wght@400;700&family=Assistant:wght@400;700&family=Asap:wght@400;700&family=Cardo:wght@400;700&family=DM+Sans:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Comfortaa:wght@400;700&family=Bitter:wght@400;700&family=EB+Garamond:wght@400;700&family=Manrope:wght@400;700&family=Quattrocento+Sans:wght@400;700&family=Taviraj:wght@400;700&family=Oswald:wght@400;700&family=Plus+Jakarta+Sans:wght@400;700&family=Raleway:wght@400;700&family=Roboto+Condensed:wght@400;700&family=Rubik:wght@400;600&family=Source+Sans+Pro:wght@400;700&display=swap');


    :root {
    --primaryColorVar: #fadcfc;
    --secondaryColorVar: #fadcfc;
    --primaryTextColorVar: #000000;
    --DiscoveryRGBAVar: rgba(250,220,252,0.05);
    --luminanceByPrimaryColorVar: #e233ee;
    --secondaryTextColorVar: #fff;
    --filterRGBAWithLowOpacityVar: rgba(250,220,252,0.1);
    --filterRGBAWithHighOpacityVar: rgba(250,220,252,0.9);
    --tertiaryColorVar: #000000;
    --primaryFontVar: 'Proxima Nova';
    --secondaryFontVar: 'Proxima Nova';
    --textColorByBackgroundVar: #000000;
    --textColorByPrimaryColorVar: #000000;
    --textColorBySecondaryColorVar: #000000;
    --textColorByTertiaryColorVar: #ffffff;
    --textColorByTertiaryColorOrDefaultVar: #ffffff;
    --textColorBySecondaryColorOrDefaultVar: #000000;
    --backgroundVar: #ffffff;
    --textSecondaryColorVar: #000000;
    --colorOrBlackByPrimaryColor: #000000;
    --colorOrBlackBySecondaryColor: #000000;
    --colorTextVar: #000000;
    --informativeColorVar: #74A8ED;
    --redColorVar: 0;
    --greenColorVar: 0;
    --blueColorVar: 0;
    --colorDiscountLabelVar: #000000;
    }

    

     .body {
      font-family: var(--secondaryFontVar) !important;
    }

     .shops__background--primary-color {
      background-color: var(--primaryColorVar) !important;
    }

     .shops__background--secondary-color {
      background-color: var(--secondaryColorVar) !important;
    }

     .shops__background--tertiary-color {
      background-color: var(--tertiaryColorVar) !important;
    }

     .shops--primary-font {
      font-family:  var(--primaryFontVar) !important;
    }

     .shops--secondary-font {
      font-family: var(--secondaryFontVar) !important;
    }

     .nav-header,
     .side-drawer__title {
        background: var(--primaryColorVar);
        border-color: var(--primaryColorVar);
    }


     .nav-header__hamburger {
        background: var(--primaryTextColorVar) !important;
    }

     .nav-list--horizontal > .nav-list__item > .nav-list__link {
        color: var(--primaryTextColorVar) !important;
    }

     .nav-list__item--more:after,
     .nav-list--horizontal > .nav-list__item:not(:last-child):not(:last-child):after {
        border-color: var(--textColorByPrimaryColorVar) !important;
    }

     .nav-header__logo,
     .nav-header__nav-link .nav-header__nav-icon:before,
     .nav-icon-cart:before,
     .nav-cart .nav-icon-cart-quantity {
        color: var(--textColorByPrimaryColorVar) !important;
    }

     .nav-header__separator,
     .nav-cart:before,
     .nav-header__nav-link:before {
        border-color: var(--textColorByPrimaryColorVar) !important;
        opacity: 0.1;
    }

    /* Hide QR Afip (todo: don't do it by style but by removing the element) */
     footer .nav-footer-disclaimer a[href="null"] {
        display: none;
    }

    /* New Classes for templates */
     .header--custom-background {
        background: var(--primaryColorVar) !important;
        border-color: var(--primaryColorVar) !important;
    }

     .header--custom-title {
        color: var(--primaryColorVar) !important;
    }

     .header--custom-title-container {
            background-color: var(--textColorByPrimaryColorVar) !important;
            color: var(--primaryColorVar)
    }


     .icon--custom-color {
      fill: var(--primaryColorVar) !important;
    }

     .discovery--custom-label-image-gradient {
      background: linear-gradient(to top, var(--DiscoveryRGBAVar), transparent)
    }

     .header--custom-text {
        color: var(--primaryTextColorVar) !important;
    }

     .header--custom-svg {
        fill: var(--primaryTextColorVar) !important;
    }

     .header--custom-border {
        border-color: var(--textColorByPrimaryColorVar) !important;
    }


     .header--custom-secondary-background {
        background-color: var(--luminanceByPrimaryColorVar) !important;
    }

     .header--custom-secondary-text,  .flash-component__link {
        color: var(--secondaryTextColorVar) !important;
    }

     .header--custom-secondary-text svg.ths--custom-logo {
        fill: var(--secondaryTextColorVar) !important;
    }


     .header--custom-text a {
      color: var(--primaryTextColorVar) !important;
    }
     .header--custom-border.nav-list--horizontal>.nav-list__item:not(:last-child):not(:last-child):after {
      border-color: var(--textColorByPrimaryColorVar) !important;
    }

    /* Search box looks bad on white headers (white border - white background). We need to force gray. */
    
         .search-box-container {
        border: 1px solid #cccccc
        }
    

     .header--custom-border:hover {
        border-color: var(--textColorByPrimaryColorVar) !important;
    }

     .ui-button--primary,  .andes-button--loud {
        background-color: var(--primaryColorVar) !important;
        color: var(--textColorByPrimaryColorVar) !important;
    }

     button.andes-button--quiet {
        background-color: var(--backgroundVar) !important;
        border: 2px solid var(--primaryColorVar) !important;
        color: var(--textSecondaryColorVar) !important;
    }

     .ui-pdp-color--GREEN,  .item__shipping-info__label,  .summary__price-epigraph--green, .item__discount-rate,  .ui-search-item__shipping--free,  .ui-search-color--LIGHT_GREEN,  .ui-search-price__discount{
        color: var(--colorOrBlackBySecondaryColor) !important;
        fill: var(--colorOrBlackBySecondaryColor) !important;
    }

      span.andes-money-amount__discount {
        color: var(--colorOrBlackBySecondaryColor) !important;
        fill: var(--colorOrBlackBySecondaryColor) !important;
    }


     .ui-search-item__shipping {
        color: var(--tertiaryColorVar) !important;
    }

     .ui-search-item__group__element {
        color: var(--colorTextVar) !important;
    }

     .ui-search-price__second-line {
        color: var(--tertiaryColorVar) !important;
    }


    /* Envios Gratis Label */
     .ui-search-item__shipping {
        color: var(--tertiaryColorVar) !important;
    }


     .item__shipping-info__label
    {
    color: var(--tertiaryColorVar) !important;
    }


    /*Links*/
     .ui-pdp-container__row--payment-methods .ui-pdp-action-modal__link{
        color: var(--informativeColorVar) !important;
    }

     .item__description .item__change_variation{
        color: var(--informativeColorVar) !important;
    }

     form[data-action=remove-from-cart] .u-link
    {
        color: var(--informativeColorVar) !important;
    }

     .item__action-menu .item__action-menu-link:nth-child(1)
    {
    color: var(--informativeColorVar) !important;
    }

    /* Discount */
     .cart__list .item__discount-rate {
        color: var(--secondaryColorVar) !important;
    }

     .ui-item__discount-box{
        background: var(--secondaryColorVar) !important;
        border-color: var(--secondaryColorVar) !important;
        color: var(--textColorBySecondaryColorVar) !important;
    }

     .ui-item__discount-box .nav-header__logo {
        color: var(--textColorBySecondaryColorOrDefaultVar) !important;
    }

    /* Precios */
     .price-tag-fraction:not(.price-tag__disabled), .price-tag-symbol {
        color: var(--colorTextVar) !important;
    }

     .price-tag-cents {
        color: var(--colorTextVar) !important;
    }

     .ui-item__material-price-block .price-tag__disabled span {
        color: var(--colorTextVar) !important
    }

     .ui-item__shipping-free svg,
     .ui-item__shipping-free span
    {
        color: var(--tertiaryColorVar) !important;
        fill: var(--tertiaryColorVar) !important;
    }

     .ui-pdp-generic-summary .ui-pdp-media__title span
    {
        color: var(--colorOrBlackBySecondaryColor) !important;
    }

     .ui-search-item__title{
        color: var(--colorTextVar) !important;
    }

     .ui-pdp-price__original-value{
        color: var(--colorTextVar) !important;
    }

     .ui-item__discount-text{
        color: var(--secondaryColorVar) !important;
    }

     .ui-item__price-block .ui-item__discount-price .price-tag-symbol,
     .ui-item__price-block .ui-item__discount-price .price-tag-fraction
    {
        color: #000000 !important;
    }

     .ui-item__title {
        color: var(--colorTextVar) !important;
    }


    /*Calcular color de texto en botones*/
     .andes-button--loud .andes-button__content {
        color: var(--primaryTextColorVar) !important;
    }

     .andes-button--loud:disabled .andes-button__content {
        color: var(--primaryTextColorVar) !important;
        opacity: 0.4;
    }

     .andes-button--quiet .andes-button__content{
        color: var(--colorOrBlackByPrimaryColor) !important;
    }

     .andes-button--quiet:disabled .andes-button__content {
        color: var(--primaryTextColorVar) !important;
        opacity: 0.4;
    }

    /*Estilo para loader del botón comprar ahora*/
     .shops-pdp-container .ui-pdp-container__row--main-actions .ui-pdp-actions__container--featured .andes-button--loud .andes-progress-indicator-circular__svg,
     .shops-pdp-container--top .ui-pdp-container__row--main-actions .ui-pdp-actions__container--featured .andes-button--loud .andes-progress-indicator-circular__svg {
        stroke: var(--primaryTextColorVar) !important;
    }

    /*Estilo para loader del botón agregar al carrito*/
     .shops-pdp-container .ui-pdp-container__row--main-actions .ui-pdp-actions__container--featured .andes-button--quiet .andes-progress-indicator-circular__svg,
     .shops-pdp-container--top .ui-pdp-container__row--main-actions .ui-pdp-actions__container--featured .andes-button--quiet .andes-progress-indicator-circular__svg {
        stroke: var(--colorOrBlackByPrimaryColor) !important;
    }

     .nav-default-header{
        font-family: var(--secondaryFontVar) !important;
    }

     .ui-item__wrapper {
        font-family: var(--secondaryFontVar) !important;
    }

     .nav-fashion-header__logo{
         font-family: var(--secondaryFontVar) !important;
    }

     .item-description {
        font-family: var(--secondaryFontVar) !important;
    }

     .card-with-image-price__text-content{
        font-family: var(--secondaryFontVar) !important;
    }


     .carousel__item__2, .carousel__item,   .banner-text__title, .banner-text__link{
        font-family: var(--secondaryFontVar) !important;
    }

     #section-info .site-shopping-info .container .info-slide{
        font-family: var(--secondaryFontVar) !important;
    }

     .legend-footer-contact{

        font-family: var(--secondaryFontVar) !important;
    }

     .ui-search-layout__item{
        font-family: var(--secondaryFontVar) !important;
    }

     .ui-search-filter-dl, .ui-search-item__title,   .ui-search-item__group__element--shipping,  .ui-search-item__group--price{
        font-family: var(--secondaryFontVar) !important;
    }

     .ui-search-filter-container .ui-search-button-link .ui-search-filter-name,  .ui-search-filter-container .ui-search-button-link .ui-search-filter-results-qty {
        font-family: var(--secondaryFontVar) !important;
    }

     .header--custom-text {
        font-family: var(--secondaryFontVar) !important;
    }

     body h1,
     body h2,
     body h3,
     body h4,
     body h5 {
      font-family: var(--primaryFontVar) !important;
    }

     main[role=main] {
      font-family: var(--secondaryFontVar) !important;
    }

     .payment-data .payment-data-subtitle a,  .section-header a,  .andes-breadcrumb__link,  .ui-pdp-action-modal__link,
     .ui-pdp-share .andes-tooltip__trigger .andes-button .andes-button__content,
     .ui-pdp-family--REGULAR a, .ui-pdp-collapsable__action {
      color: var(--informativeColorVar) !important;
    }

     .header--custom-secondary-background {
        background: var(--tertiaryColorVar) !important;
        color: var(--textColorByTertiaryColorVar) !important;
    }

     .header--custom-secondary-text,   .flash-component__link, .header-wrapper .flash-component a {
        color: var(--textColorByTertiaryColorVar) !important;
    }

     .header-wrapper .flash-component a,   .header-wrapper .flash-component h3 {
        font-family: var(--secondaryFontVar) !important;
    }

     .dragable-component__wrapper {
        background: #3483fa !important;
    }

    


     .font-primary-text {
        font-family: var(--primaryFontVar) !important;
    }

     .font-secondary-text {
        font-family: var(--secondaryFontVar) !important;
    }

     .template-suscription-main-container {
        background: #fff !important;
    }

     .template-suscription-main-container .template-suscription-container {
        background: rgba(var(--redColorVar), var(--greenColorVar), var(--blueColorVar) ,0.1) !important;
    }

    .template-suscription-container-legend {
        background: rgba(var(--redColorVar), var(--greenColorVar), var(--blueColorVar) ,0.1) !important;
    }

     .template-suscription-container__text {
        color: var(--textColorByTertiaryColorOrDefaultVar) !important;
    }

     .home--material .template-suscription-main-container .template-suscription-container {
        background: #fff !important;
    }

     .template-suscription-main-container .template-suscription-container__button {
        background: var(--tertiaryColorVar) !important;
   }

     .template-suscription-main-container .template-suscription-container-success {
        border-top: solid 1px var(--tertiaryColorVar) !important;
   }

    .template-suscription-container__title,
    .template-suscription-container__description,
    .template-suscription-container__legal-text {
   color: #000000 !important;
   }

    .home--material .template-suscription-container__title,
    .home--material .template-suscription-container__description,
    .home--material .template-suscription-container__legal-text
    .home--material .template-suscription-container__legal-text .template-suscription-container__legal-text-link
    {
      color: rgba(0, 0, 0, 0.55) !important;
     }











    

     .highlighted-specs-title{
    color: var(--textColorByBackgroundVar) !important;
    font-family: var(--primaryFontVar) !important;
    }

     .ui-pdp-description__title {
    color: var(--textColorByBackgroundVar) !important;
    font-family: var(--primaryFontVar) !important;
    }

     .ui-recommendations__header__title {
    color: var(--textColorByBackgroundVar) !important;
    font-family: var(--primaryFontVar) !important;
    }

     .payment-data-title {
    color: var(--textColorByBackgroundVar) !important;
    font-family: var(--primaryFontVar) !important;
    }

     .title,  price-and-image__title,  .section-header,  .tabs-list__item {
    font-family: var(--primaryFontVar) !important;
    }

     body h1,
     body h2,
     body h3,
     body h4,
     body h5 {
    font-family: var(--primaryFontVar) !important;
    }

     .column-discovery__title,  .label-image__text,  .section-text___title  {
    font-family: var(--primaryFontVar) !important;
    }

     .video-and-text,  .content-element__description,  .content-element__button-text,  .ui-item__wrapper,  .ui-item__title,  .price-tag-fraction,  .section-text__text,  .section-text__row-buttons-actions__btn-action-user--default,
     .slide__heading,
     .slide__subtitle,
     .section-header a,
     .tabs-list__item {
        font-family: 'Proxima Nova' !important;
    }

     .editable-wrapper .editable-button{
        background: #3483fa !important;
        color: #fff !important;
    }

     .editable-wrapper .editable-button .andes-button__text{
        color: #fff !important;
    }

     .section-text__row-buttons-actions__btn-action-user--default {
        background: var(--primaryColorVar) !important;
        border-color: var(--primaryColorVar) !important;
        color: var(--primaryTextColorVar) !important;
    }

     .section-text__row-buttons-actions__btn-action-user--default span {
        color: var(--primaryTextColorVar) !important;
    }

     .hub__boxed-width .content .banner-text__content .banner-text__title {
        font-family: var(--primaryFontVar) !important;
    }

     .hub__boxed-width .content .banner-text__content .banner-text__link:not(:empty) {
        font-family: var(--secondaryFontVar) !important;
    }

     .home:not(.home--custom-html) .ui-item__content .ui-item__shipping-free span {
    color: var(--textColorByTertiaryColorOrDefaultVar) !important;
    }

     .home:not(.home--custom-html) .ui-item__content .ui-item__shipping {
    background-color: var(--tertiaryColorVar) !important;
    }

     .home:not(.home--custom-html) .ui-item__content .ui-item__shipping-icon path {
    fill: var(--textColorByTertiaryColorOrDefaultVar) !important;
    }




/* fashion  home*/
