
  *:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #2968C8, 0 0 0 5px rgba(65, 137, 230, 0.3);
    outline: none;
  }

  *:focus-visible {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px #2968C8, 0 0 0 5px rgba(65, 137, 230, 0.3);
    outline: none;
  }

  *:focus:not(:focus-visible) {
    box-shadow: none;
    outline: none;
  }
