.bAjaRa .Toastify__toast--default{margin:0;color:#fff;font-size:14px;font-weight:bold;border-radius:8px;background:#030a12;-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px);max-width:calc(100% - 40px);font-family:'Roboto',sans-serif;}/*!sc*/
.bAjaRa .Toastify__progress-bar{background:#030a12;}/*!sc*/
data-styled.g1[id="sc-1dyo3ow-0"]{content:"bAjaRa,"}/*!sc*/
.jLLEBy{height:100%;overflow:hidden;background:linear-gradient( 125deg,rgba(151,151,151,0) 0%,rgba(151,151,151,0.5) 100% );border-radius:5px;margin-bottom:20px;-webkit-animation:ctlNic 0.5s cubic-bezier(0.4,0,0.6,1) infinite alternate;animation:ctlNic 0.5s cubic-bezier(0.4,0,0.6,1) infinite alternate;}/*!sc*/
data-styled.g2[id="sc-1pkhoe1-0"]{content:"jLLEBy,"}/*!sc*/
.hbnLJN{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;grid-column:1/13;grid-column-gap:5px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}/*!sc*/
data-styled.g3[id="sc-1pkhoe1-1"]{content:"hbnLJN,"}/*!sc*/
.kpiXjl{text-transform:uppercase;grid-column:1/6;cursor:pointer;margin-top:5px;border:1px solid;font-weight:bold;border-radius:4px;padding:16px 12px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-transition:all 0.2s;transition:all 0.2s;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:auto;border-color:transparent;font-family:'Roboto',sans-serif;font-size:14px;color:#fff;height:40px;background-color:#000000;}/*!sc*/
.kpiXjl a{color:#fff;}/*!sc*/
@media (max-width:480px){.kpiXjl{width:100%;}}/*!sc*/
.kpiXjl:hover:not([disabled]){color:#fff;background-color:rgba(0,0,0,0.8);}/*!sc*/
.kpiXjl[disabled]{cursor:not-allowed;opacity:0.4;}/*!sc*/
@media (max-width:768px){.kpiXjl{grid-column:1/8;}}/*!sc*/
@media (max-width:480px){.kpiXjl{grid-column:1/13;}}/*!sc*/
.gccCFw{text-transform:uppercase;grid-column:1/6;cursor:pointer;margin-top:5px;border:1px solid;font-weight:bold;border-radius:4px;padding:16px 12px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-transition:all 0.2s;transition:all 0.2s;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:auto;border-color:#000000;font-family:'Roboto',sans-serif;font-size:14px;color:#000000;height:40px;background-color:#fff;}/*!sc*/
.gccCFw a{color:#000000;}/*!sc*/
@media (max-width:480px){.gccCFw{width:100%;}}/*!sc*/
.gccCFw:hover:not([disabled]){color:#fff;background-color:#000000;}/*!sc*/
.gccCFw[disabled]{cursor:not-allowed;opacity:0.4;}/*!sc*/
@media (max-width:768px){.gccCFw{grid-column:1/8;}}/*!sc*/
@media (max-width:480px){.gccCFw{grid-column:1/13;}}/*!sc*/
data-styled.g12[id="sc-vbeo7v-0"]{content:"kpiXjl,gccCFw,"}/*!sc*/
.egxIFS{visibility:hidden;width:0;height:0;}/*!sc*/
@media (max-width:480px){.egxIFS{visibility:hidden;opacity:0;width:0;height:100vh;position:fixed;top:0;background:#fff;z-index:12;right:0;-webkit-animation:kTQmJp 0.2s ease;animation:kTQmJp 0.2s ease;}}/*!sc*/
data-styled.g15[id="sc-11dj97w-1"]{content:"egxIFS,"}/*!sc*/
.ixfrsO{display:none;}/*!sc*/
@media (max-width:480px){.ixfrsO{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;background:#f8f9fa;padding:16px 20px;border-bottom:1px solid #dedede;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}}/*!sc*/
data-styled.g16[id="sc-11dj97w-2"]{content:"ixfrsO,"}/*!sc*/
.BHoSu{display:none;}/*!sc*/
@media (max-width:480px){.BHoSu{display:block;border:0;background:transparent;height:32px;width:32px;}.BHoSu:before{content:'';width:24px;height:24px;right:20px;top:20px;position:absolute;background:url(/_next/static/images/icons-sprite-12c7a252b84838da6af2821f874828f3.svg) -72px 0 no-repeat;}}/*!sc*/
data-styled.g20[id="sc-11dj97w-6"]{content:"BHoSu,"}/*!sc*/
.QTJNe{display:none;}/*!sc*/
@media (max-width:480px){.QTJNe{list-style-type:none;display:block;}.QTJNe li{border-bottom:1px solid #dedede;height:65px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}.QTJNe li:before{content:'';width:24px;height:24px;right:20px;position:absolute;background:url(/_next/static/images/icons-sprite-12c7a252b84838da6af2821f874828f3.svg) -96px 0 no-repeat;}.QTJNe a,.QTJNe li{color:#000;font-size:0;font-weight:700;-webkit-text-decoration:none;text-decoration:none;}}/*!sc*/
data-styled.g21[id="sc-11dj97w-7"]{content:"QTJNe,"}/*!sc*/
.ihFdas{color:#000;-webkit-text-decoration:none;text-decoration:none;font-size:16px;font-weight:700;-webkit-transition:color 0.2s;transition:color 0.2s;}/*!sc*/
.ihFdas:hover{color:rgba(0,0,0,0.6);}/*!sc*/
@media (max-width:480px){.ihFdas{padding:20px;width:100%;}}/*!sc*/
@media (max-width:768px){.ihFdas{font-size:14px;}}/*!sc*/
data-styled.g25[id="sc-11dj97w-11"]{content:"ihFdas,"}/*!sc*/
.ecStML{color:#030a12;font-size:18px;}/*!sc*/
.bbEsEp{color:#000;font-weight:bold;font-size:16px;}/*!sc*/
.dFvUby{color:#c5c8cc;font-weight:normal;font-size:16px;}/*!sc*/
.ecStFg{color:#030a12;font-size:24px;}/*!sc*/
data-styled.g26[id="sc-98wypf-0"]{content:"ecStML,bbEsEp,dFvUby,ecStFg,"}/*!sc*/
.gSHdGL{display:none;left:0;top:0;position:fixed;width:100vw;height:100vh;overflow-y:hidden;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;z-index:10;}/*!sc*/
data-styled.g28[id="sc-1d0ghsg-0"]{content:"gSHdGL,"}/*!sc*/
.hAARnd{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(3,10,18,0.5);outline:0;z-index:10;pointer-events:fill;}/*!sc*/
@media screen and (max-width:768px){.hAARnd{-webkit-backdrop-filter:blur(2px);backdrop-filter:blur(2px);background:rgba(3,10,18,0.9);}}/*!sc*/
data-styled.g29[id="sc-1d0ghsg-1"]{content:"hAARnd,"}/*!sc*/
.kGmIQt{position:fixed;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;pointer-events:auto;background-color:#fff;background-clip:padding-box;outline:0;z-index:11;width:50%;max-height:50%;min-height:500px;}/*!sc*/
@media (max-width:480px){.kGmIQt{bottom:0;left:0;}}/*!sc*/
@media screen and (max-width:1200px){.kGmIQt{border-radius:16px;}}/*!sc*/
@media screen and (max-width:768px){.kGmIQt{max-height:460px;background-color:#f8f9fa;width:100%;bottom:0;border-radius:16px 16px 0 0;}.kGmIQt::before{content:'';position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:36px;height:6px;border-radius:16px;background-color:rgba(3,10,18,0.2);-webkit-align-self:center;-ms-flex-item-align:center;align-self:center;margin:8px;}}/*!sc*/
data-styled.g30[id="sc-1d0ghsg-2"]{content:"kGmIQt,"}/*!sc*/
.bAWseB{border-radius:16px;width:100%;height:100%;overflow-y:auto;padding-left:16px;padding-right:16px;margin-bottom:16px;}/*!sc*/
@media screen and (max-width:768px){.bAWseB{border-radius:16px 16px 0 0;padding:0 16px 16px 16px;}}/*!sc*/
data-styled.g31[id="sc-1d0ghsg-3"]{content:"bAWseB,"}/*!sc*/
.kcSBid{width:100%;height:100%;}/*!sc*/
data-styled.g32[id="sc-1d0ghsg-4"]{content:"kcSBid,"}/*!sc*/
.hLoMDv{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:16px;}/*!sc*/
@media screen and (max-width:768px){.hLoMDv{display:none;}}/*!sc*/
data-styled.g33[id="sc-1d0ghsg-5"]{content:"hLoMDv,"}/*!sc*/
.tZdsK{background-color:transparent;border:0;font-size:2.2rem;line-height:1;color:#030a12;width:32px;height:32px;position:absolute;right:10px;top:10px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;outline:0;cursor:pointer;}/*!sc*/
@media screen and (max-width:768px){.tZdsK{display:none;}}/*!sc*/
data-styled.g35[id="sc-1d0ghsg-7"]{content:"tZdsK,"}/*!sc*/
.bFMpEp{width:100%;background-color:#f8f9fa;border-bottom:1px solid #dfe1e3;padding:10px 20px;height:72px;position:-webkit-sticky;position:sticky;top:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;z-index:10;-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px);}/*!sc*/
@media (max-width:480px){.bFMpEp{max-height:65px;padding:3px 20px;}}/*!sc*/
data-styled.g36[id="sc-1u9xb8e-0"]{content:"bFMpEp,"}/*!sc*/
.hKxqXa{position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;max-width:calc(1024px - 40px);width:100%;margin:0 auto;}/*!sc*/
data-styled.g37[id="sc-1u9xb8e-1"]{content:"hKxqXa,"}/*!sc*/
.iALWzB{max-width:100px;cursor:pointer;max-height:78px;}/*!sc*/
@media (max-width:480px){.iALWzB{margin-right:0;}}/*!sc*/
data-styled.g38[id="sc-1u9xb8e-2"]{content:"iALWzB,"}/*!sc*/
@media (max-width:480px){.dGhvqA{display:none;}}/*!sc*/
data-styled.g39[id="sc-1u9xb8e-3"]{content:"dGhvqA,"}/*!sc*/
.dFenFF{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:72px;list-style-type:none;}/*!sc*/
.dFenFF li{margin-right:16px;}/*!sc*/
.dFenFF li,.dFenFF a{height:72px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}/*!sc*/
@media (max-width:480px){.dFenFF{display:none;}}/*!sc*/
data-styled.g40[id="sc-1u9xb8e-4"]{content:"dFenFF,"}/*!sc*/
.klKJsu{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}/*!sc*/
@media (max-width:480px){.klKJsu{display:none;}}/*!sc*/
data-styled.g41[id="sc-1u9xb8e-5"]{content:"klKJsu,"}/*!sc*/
.bqGmxz{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}/*!sc*/
@media (max-width:480px){.bqGmxz{width:100%;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}}/*!sc*/
data-styled.g42[id="sc-1u9xb8e-6"]{content:"bqGmxz,"}/*!sc*/
.VNOAp{display:none;}/*!sc*/
@media (max-width:480px){.VNOAp{display:block;font-size:16px;font-weight:700;color:#000;border:0;height:40px;padding-right:32px;position:relative;}.VNOAp:before{content:'';width:24px;height:24px;right:0;top:7px;position:absolute;background:url(/_next/static/images/icons-sprite-12c7a252b84838da6af2821f874828f3.svg) -48px 0 no-repeat;}}/*!sc*/
data-styled.g43[id="sc-1u9xb8e-7"]{content:"VNOAp,"}/*!sc*/
.hRxWwW{color:#000;-webkit-text-decoration:none;text-decoration:none;font-size:16px;font-weight:700;-webkit-transition:color 0.2s;transition:color 0.2s;}/*!sc*/
.hRxWwW:hover{color:rgba(0,0,0,0.6);}/*!sc*/
@media (max-width:480px){.hRxWwW{padding:20px;width:100%;}}/*!sc*/
@media (max-width:768px){.hRxWwW{font-size:14px;}}/*!sc*/
data-styled.g47[id="sc-1u9xb8e-11"]{content:"hRxWwW,"}/*!sc*/
{$width:96%;$gutter:4%;$breakpoint-small:33.75em;$breakpoint-med:45em;$breakpoint-large:60em;}/*!sc*/
.col-12{grid-column:1/13;}/*!sc*/
.grid-12{display:grid;margin-top:8px;grid-column-gap:10px;grid-template-rows:repeat(2,auto);grid-template-columns:repeat(12,1fr);}/*!sc*/
.row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-0.75rem;margin-right:-0.75rem;}/*!sc*/
.col,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{position:relative;width:100%;padding-left:0.75rem;padding-right:0.75rem;}/*!sc*/
@media (min-width:576px){.col{-webkit-flex:1 0 0%;-ms-flex:1 0 0%;flex:1 0 0%;}.col-1{-webkit-flex:0 0 8.33333%;-ms-flex:0 0 8.33333%;flex:0 0 8.33333%;max-width:8.33333%;}.col-offset-1{margin-left:8.33333%;}.col-2{-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;flex:0 0 16.66667%;max-width:16.66667%;}.col-offset-2{margin-left:16.66667%;}.col-3{-webkit-flex:0 0 25%;-ms-flex:0 0 25%;flex:0 0 25%;max-width:25%;}.col-offset-3{margin-left:25%;}.col-4{-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;flex:0 0 33.33333%;max-width:33.33333%;}.col-offset-4{margin-left:33.33333%;}.col-5{-webkit-flex:0 0 41.66667%;-ms-flex:0 0 41.66667%;flex:0 0 41.66667%;max-width:41.66667%;}.col-offset-5{margin-left:41.66667%;}.col-6{-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}.col-offset-6{margin-left:50%;}.col-7{-webkit-flex:0 0 58.33333%;-ms-flex:0 0 58.33333%;flex:0 0 58.33333%;max-width:58.33333%;}.col-offset-7{margin-left:58.33333%;}.col-8{-webkit-flex:0 0 66.66667%;-ms-flex:0 0 66.66667%;flex:0 0 66.66667%;max-width:66.66667%;}.col-offset-8{margin-left:66.66667%;}.col-9{-webkit-flex:0 0 75%;-ms-flex:0 0 75%;flex:0 0 75%;max-width:75%;}.col-offset-9{margin-left:75%;}.col-10{-webkit-flex:0 0 83.33333%;-ms-flex:0 0 83.33333%;flex:0 0 83.33333%;max-width:83.33333%;}.col-offset-10{margin-left:83.33333%;}.col-11{-webkit-flex:0 0 91.66667%;-ms-flex:0 0 91.66667%;flex:0 0 91.66667%;max-width:91.66667%;}.col-offset-11{margin-left:91.66667%;}.col-12{-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}.col-offset-12{margin-left:100%;}.cols-10 > .col-1{-webkit-flex:0 0 10%;-ms-flex:0 0 10%;flex:0 0 10%;max-width:10%;}.cols-10 > .col-offset-1{margin-left:10%;}.cols-10 > .col-2{-webkit-flex:0 0 20%;-ms-flex:0 0 20%;flex:0 0 20%;max-width:20%;}.cols-10 > .col-offset-2{margin-left:20%;}.cols-10 > .col-3{-webkit-flex:0 0 30%;-ms-flex:0 0 30%;flex:0 0 30%;max-width:30%;}.cols-10 > .col-offset-3{margin-left:30%;}.cols-10 > .col-4{-webkit-flex:0 0 40%;-ms-flex:0 0 40%;flex:0 0 40%;max-width:40%;}.cols-10 > .col-offset-4{margin-left:40%;}.cols-10 > .col-5{-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}.cols-10 > .col-offset-5{margin-left:50%;}.cols-10 > .col-6{-webkit-flex:0 0 60%;-ms-flex:0 0 60%;flex:0 0 60%;max-width:60%;}.cols-10 > .col-offset-6{margin-left:60%;}.cols-10 > .col-7{-webkit-flex:0 0 70%;-ms-flex:0 0 70%;flex:0 0 70%;max-width:70%;}.cols-10 > .col-offset-7{margin-left:70%;}.cols-10 > .col-8{-webkit-flex:0 0 80%;-ms-flex:0 0 80%;flex:0 0 80%;max-width:80%;}.cols-10 > .col-offset-8{margin-left:80%;}.cols-10 > .col-9{-webkit-flex:0 0 90%;-ms-flex:0 0 90%;flex:0 0 90%;max-width:90%;}.cols-10 > .col-offset-9{margin-left:90%;}.cols-10 > .col-10{-webkit-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}.cols-10 > .col-offset-10{margin-left:100%;}}/*!sc*/
.row.g-0{margin-left:0 !important;margin-right:0 !important;}/*!sc*/
.row.g-0 > [class*='col']{padding-left:0 !important;padding-right:0 !important;}/*!sc*/
.row.g-4{margin-left:-2px !important;margin-right:-2px !important;}/*!sc*/
.row.g-4 > [class*='col']{padding-left:2px !important;padding-right:2px !important;}/*!sc*/
.row.g-8{margin-left:-4px !important;margin-right:-4px !important;}/*!sc*/
.row.g-8 > [class*='col']{padding-left:4px !important;padding-right:4px !important;}/*!sc*/
.row.g-12{margin-left:-6px !important;margin-right:-6px !important;}/*!sc*/
.row.g-12 > [class*='col']{padding-left:6px !important;padding-right:6px !important;}/*!sc*/
.row.g-16{margin-left:-8px !important;margin-right:-8px !important;}/*!sc*/
.row.g-16 > [class*='col']{padding-left:8px !important;padding-right:8px !important;}/*!sc*/
.row.g-20{margin-left:-10px !important;margin-right:-10px !important;}/*!sc*/
.row.g-20 > [class*='col']{padding-left:10px !important;padding-right:10px !important;}/*!sc*/
.row.g-24{margin-left:-12px !important;margin-right:-12px !important;}/*!sc*/
.row.g-24 > [class*='col']{padding-left:12px !important;padding-right:12px !important;}/*!sc*/
.row.g-28{margin-left:-14px !important;margin-right:-14px !important;}/*!sc*/
.row.g-28 > [class*='col']{padding-left:14px !important;padding-right:14px !important;}/*!sc*/
.row.g-32{margin-left:-16px !important;margin-right:-16px !important;}/*!sc*/
.row.g-32 > [class*='col']{padding-left:16px !important;padding-right:16px !important;}/*!sc*/
.hidden{display:none;}/*!sc*/
.w-full{width:100%;}/*!sc*/
.relative{position:relative;}/*!sc*/
.container-center{position:relative;height:calc(100vh - 125px);}/*!sc*/
.content-center{text-align:center;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}/*!sc*/
.inline-flex{display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;}/*!sc*/
.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}/*!sc*/
.flex-col{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}/*!sc*/
.flex-row{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}/*!sc*/
.justify-start{-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;}/*!sc*/
.justify-end{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;}/*!sc*/
.justify-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}/*!sc*/
.justify-between{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}/*!sc*/
.items-start{-webkit-align-items:flex-start;-webkit-box-align:flex-start;-ms-flex-align:flex-start;align-items:flex-start;}/*!sc*/
.items-end{-webkit-align-items:flex-end;-webkit-box-align:flex-end;-ms-flex-align:flex-end;align-items:flex-end;}/*!sc*/
.items-center{-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}/*!sc*/
.text-center{text-align:center;}/*!sc*/
.m-0{margin:0;}/*!sc*/
.mx-auto{margin:0 auto;}/*!sc*/
.mt-0{margin-top:0;}/*!sc*/
.mt-1{margin-top:0.25rem;}/*!sc*/
.mt-2{margin-top:0.5rem;}/*!sc*/
.mt-3{margin-top:0.75rem;}/*!sc*/
.mt-4{margin-top:1rem;}/*!sc*/
.mt-5{margin-top:1.25rem;}/*!sc*/
.mt-6{margin-top:1.5rem;}/*!sc*/
.mt-7{margin-top:1.75rem;}/*!sc*/
.mt-8{margin-top:2rem;}/*!sc*/
.mb-0{margin-bottom:0;}/*!sc*/
.mb-1{margin-bottom:0.25rem;}/*!sc*/
.mb-2{margin-bottom:0.5rem;}/*!sc*/
.mb-3{margin-bottom:0.75rem;}/*!sc*/
.mb-4{margin-bottom:1rem;}/*!sc*/
.mb-5{margin-bottom:1.25rem;}/*!sc*/
.mb-6{margin-bottom:1.5rem;}/*!sc*/
.mb-7{margin-bottom:1.75rem;}/*!sc*/
.mb-8{margin-bottom:2rem;}/*!sc*/
.mr-0{margin-right:0;}/*!sc*/
.mr-1{margin-right:0.25rem;}/*!sc*/
.mr-2{margin-right:0.5rem;}/*!sc*/
.mr-3{margin-right:0.75rem;}/*!sc*/
.mr-4{margin-right:1rem;}/*!sc*/
.mr-5{margin-right:1.25rem;}/*!sc*/
.mr-6{margin-right:1.5rem;}/*!sc*/
.mr-7{margin-right:1.75rem;}/*!sc*/
.mr-8{margin-right:2rem;}/*!sc*/
.ml-0{margin-left:0;}/*!sc*/
.ml-1{margin-left:0.25rem;}/*!sc*/
.ml-2{margin-left:0.5rem;}/*!sc*/
.ml-3{margin-left:0.75rem;}/*!sc*/
.ml-4{margin-left:1rem;}/*!sc*/
.ml-5{margin-left:1.25rem;}/*!sc*/
.ml-6{margin-left:1.5rem;}/*!sc*/
.ml-7{margin-left:1.75rem;}/*!sc*/
.ml-8{margin-left:2rem;}/*!sc*/
.p-0{padding:0;}/*!sc*/
.pt-0{padding-top:0;}/*!sc*/
.pt-1{padding-top:0.25rem;}/*!sc*/
.pt-2{padding-top:0.5rem;}/*!sc*/
.pt-3{padding-top:0.75rem;}/*!sc*/
.pt-4{padding-top:1rem;}/*!sc*/
.pt-5{padding-top:1.25rem;}/*!sc*/
.pt-6{padding-top:1.5rem;}/*!sc*/
.pt-7{padding-top:1.75rem;}/*!sc*/
.pt-8{padding-top:2rem;}/*!sc*/
.pb-0{padding-bottom:0;}/*!sc*/
.pb-1{padding-bottom:0.25rem;}/*!sc*/
.pb-2{padding-bottom:0.5rem;}/*!sc*/
.pb-3{padding-bottom:0.75rem;}/*!sc*/
.pb-4{padding-bottom:1rem;}/*!sc*/
.pb-5{padding-bottom:1.25rem;}/*!sc*/
.pb-6{padding-bottom:1.5rem;}/*!sc*/
.pb-7{padding-bottom:1.75rem;}/*!sc*/
.pb-8{padding-bottom:2rem;}/*!sc*/
.pr-0{padding-right:0;}/*!sc*/
.pr-1{padding-right:0.25rem;}/*!sc*/
.pr-2{padding-right:0.5rem;}/*!sc*/
.pr-3{padding-right:0.75rem;}/*!sc*/
.pr-4{padding-right:1rem;}/*!sc*/
.pr-5{padding-right:1.25rem;}/*!sc*/
.pr-6{padding-right:1.5rem;}/*!sc*/
.pr-7{padding-right:1.75rem;}/*!sc*/
.pr-8{padding-right:2rem;}/*!sc*/
.pl-0{padding-left:0;}/*!sc*/
.pl-1{padding-left:0.25rem;}/*!sc*/
.pl-2{padding-left:0.5rem;}/*!sc*/
.pl-3{padding-left:0.75rem;}/*!sc*/
.pl-4{padding-left:1rem;}/*!sc*/
.pl-5{padding-left:1.25rem;}/*!sc*/
.pl-6{padding-left:1.5rem;}/*!sc*/
.pl-7{padding-left:1.75rem;}/*!sc*/
.pl-8{padding-left:2rem;}/*!sc*/
.tada-animation{-webkit-animation:tada 1s infinite;animation:tada 1s infinite;-webkit-transform-origin:left bottom;-ms-transform-origin:left bottom;transform-origin:left bottom;}/*!sc*/
@-webkit-keyframes tada{0%,100%{-webkit-transform:scale(0.95) rotate(2deg);-ms-transform:scale(0.95) rotate(2deg);transform:scale(0.95) rotate(2deg);}50%{-webkit-transform:scale(1.2) rotate(-2deg);-ms-transform:scale(1.2) rotate(-2deg);transform:scale(1.2) rotate(-2deg);}}/*!sc*/
@keyframes tada{0%,100%{-webkit-transform:scale(0.95) rotate(2deg);-ms-transform:scale(0.95) rotate(2deg);transform:scale(0.95) rotate(2deg);}50%{-webkit-transform:scale(1.2) rotate(-2deg);-ms-transform:scale(1.2) rotate(-2deg);transform:scale(1.2) rotate(-2deg);}}/*!sc*/
body,h1,h2,h3,h4,h5,h6,p,ol,ul,textarea,select,option,table,th,td,blockquote,hr,button{margin:0;padding:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}/*!sc*/
header,footer,article,nav,section{display:block;}/*!sc*/
html{-webkit-scroll-behavior:smooth;-moz-scroll-behavior:smooth;-ms-scroll-behavior:smooth;scroll-behavior:smooth;-webkit-text-size-adjust:none;text-size-adjust:none;word-wrap:break-word;}/*!sc*/
input,textarea,button,a,select{outline:0;-webkit-appearance:none;-moz-appearance:none;appearance:none;}/*!sc*/
input,textarea,a,select{margin:0;}/*!sc*/
ul,ol,li{list-style:none;}/*!sc*/
button{border:0;cursor:pointer;background:transparent;}/*!sc*/
img,video{border:0;font-size:0;height:auto;max-width:100%;}/*!sc*/
textarea{resize:none;}/*!sc*/
a{-webkit-text-decoration:none;text-decoration:none;}/*!sc*/
iframe{overflow:hidden;}/*!sc*/
body,textarea,input,select,option,textarea,input,select,option,button{font-family:inherit;}/*!sc*/
h1,h2,h3,h4,h5,h6,small{font-size:inherit;}/*!sc*/
.description{font-size:14px;-webkit-letter-spacing:-0.23px;-moz-letter-spacing:-0.23px;-ms-letter-spacing:-0.23px;letter-spacing:-0.23px;color:#000;line-height:1.3;margin-bottom:20px;text-align:left;}/*!sc*/
.subtitle,.title{color:#000;-webkit-letter-spacing:-0.4px;-moz-letter-spacing:-0.4px;-ms-letter-spacing:-0.4px;letter-spacing:-0.4px;font-weight:700;}/*!sc*/
.subtitle{font-size:16px;margin-bottom:10px;}/*!sc*/
.title{font-size:24px;margin-bottom:20px;}/*!sc*/
.container{width:100%;max-width:1024px;padding-left:1rem;padding-right:1rem;}/*!sc*/
.container-grid{max-width:1024px;margin:0 auto;margin-top:20px;padding:0 20px;display:grid;grid-template-columns:repeat(12,1fr);grid-column-gap:10px;grid-row-gap:0px;min-height:calc(100vh - 155px);height:auto;}/*!sc*/
@media (max-width:480px){.container-grid{margin:0;}}/*!sc*/
.container-full{width:100%;padding-left:2.5rem;padding-right:2.5rem;}/*!sc*/
@media (max-width:480px){.container-full{padding-left:1rem;padding-right:1rem;}}/*!sc*/
.statusContainer{max-width:1024px;margin:auto;padding:0 20px;display:grid;grid-template-columns:repeat(12,1fr);grid-column-gap:10px;grid-row-gap:0px;min-height:calc(100vh - 430px);height:auto;}/*!sc*/
.loadingContainer{max-width:83%;margin-top:50px;}/*!sc*/
@media (max-width:480px){.loadingContainer{max-width:100%;}}/*!sc*/
.containerWihoutData{grid-column:1/13;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center;}/*!sc*/
@media (max-width:480px){.sm-w-full{width:100% !important;}}/*!sc*/
@media (max-width:768px){.md-w-full{width:100% !important;}}/*!sc*/
@media (max-width:1024px){.lg-w-full{width:100% !important;}}/*!sc*/
@media (max-width:1200px){.xl-w-full{width:100% !important;}}/*!sc*/
*{margin:0;padding:0;outline:0;box-sizing:border-box;}/*!sc*/
body{position:relative;min-height:100vh;line-height:1.5;overflow-x:hidden;background-color:#F8F9FA;font-family:'Roboto',sans-serif;}/*!sc*/
a{cursor:pointer;}/*!sc*/
a.simple{font-size:14px;font-weight:bold;-webkit-text-decoration:underline;text-decoration:underline;color:#000000;}/*!sc*/
a.highlight{padding:2px;font-weight:600;-webkit-text-decoration:none;text-decoration:none;-webkit-transition:all 0.3s cubic-bezier(0.2,0,0,1);transition:all 0.3s cubic-bezier(0.2,0,0,1);color:#000000;box-shadow:inset 0 -2px 0 #000000;}/*!sc*/
a.highlight:hover{color:#fff;box-shadow:inset 0 -2em 0 #000000;}/*!sc*/
.container-space{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;min-height:100vh;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}/*!sc*/
.overflow{width:100%;height:100%;position:absolute;z-index:11;background:rgba(0,0,0,0.7);top:0;}/*!sc*/
.react-multi-carousel-track{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}/*!sc*/
data-styled.g58[id="sc-global-kOyGAn1"]{content:"sc-global-kOyGAn1,"}/*!sc*/
.hwivzp .step-header{margin-top:1.5rem;margin-bottom:1.5rem;text-align:left;}/*!sc*/
data-styled.g62[id="sc-1qxc3ut-1"]{content:"hwivzp,"}/*!sc*/
.dpPaWw{width:100%;}/*!sc*/
@media (max-width:480px){.dpPaWw{grid-column:1/13;}.dpPaWw.newValueInput{justify-self:center;grid-column:span 2;}}/*!sc*/
.fvfOWN{width:100%;grid-column:1/6;}/*!sc*/
@media (max-width:480px){.fvfOWN{grid-column:1/13;}.fvfOWN.newValueInput{justify-self:center;grid-column:span 2;}}/*!sc*/
data-styled.g69[id="sc-w4nkdu-0"]{content:"dpPaWw,fvfOWN,"}/*!sc*/
.fuZkIY{position:relative;}/*!sc*/
.fuZkIY .addonBefore{position:absolute;top:17px;left:10px;}/*!sc*/
.fuZkIY .addonBefore ~ input{padding-left:35px;}/*!sc*/
.fuZkIY .addonBefore ~ label{left:35px !important;}/*!sc*/
.fuZkIY .addonAfter{position:absolute;right:8px;top:11px;}/*!sc*/
@media (max-width:480px){.fuZkIY{width:100%;}}/*!sc*/
data-styled.g71[id="sc-w4nkdu-2"]{content:"fuZkIY,"}/*!sc*/
.dffKlw{position:absolute;top:6px;left:12px;display:block;font-size:12px;-webkit-transition:0.2s;transition:0.2s;color:rgba(0,0,0,0.2);}/*!sc*/
data-styled.g72[id="sc-w4nkdu-3"]{content:"dffKlw,"}/*!sc*/
.fGnEEf{width:100%;height:49px;font-size:14px;font-size:16px;box-shadow:unset;border:1px solid;border-radius:8px;padding:10px 10px 0;-webkit-transition:border-color 0.2s;transition:border-color 0.2s;font-family:'Roboto',sans-serif;border-color:#C6C6C6;background-color:#fff;}/*!sc*/
.fGnEEf:not([placeholder]){height:40px;padding-top:0;}/*!sc*/
.fGnEEf:focus,.fGnEEf:not([value='']){background-color:#fff;border-color:#030A12;}/*!sc*/
.fGnEEf::-webkit-input-placeholder{color:transparent;}/*!sc*/
.fGnEEf::-moz-placeholder{color:transparent;}/*!sc*/
.fGnEEf:-ms-input-placeholder{color:transparent;}/*!sc*/
.fGnEEf::placeholder{color:transparent;}/*!sc*/
.fGnEEf:placeholder-shown ~ .sc-w4nkdu-3{top:14px;left:10px;cursor:text;color:#000000;font-size:14px;}/*!sc*/
.fGnEEf:focus ~ .sc-w4nkdu-3{top:6px;left:12px;font-size:12px;color:#030A12;}/*!sc*/
.fGnEEf:disabled{cursor:no-drop;color:#bbb;}/*!sc*/
data-styled.g73[id="sc-w4nkdu-4"]{content:"fGnEEf,"}/*!sc*/
.hEfkEh{width:100%;height:49px;font-size:14px;font-size:16px;box-shadow:unset;border:1px solid;border-radius:8px;padding:10px 10px 0;-webkit-transition:border-color 0.2s;transition:border-color 0.2s;font-family:'Roboto',sans-serif;border-color:#C6C6C6;background-color:#fff;}/*!sc*/
.hEfkEh:not([placeholder]){height:40px;padding-top:0;}/*!sc*/
.hEfkEh:focus,.hEfkEh:not([value='']){background-color:#fff;border-color:#030A12;}/*!sc*/
.hEfkEh::-webkit-input-placeholder{color:transparent;}/*!sc*/
.hEfkEh::-moz-placeholder{color:transparent;}/*!sc*/
.hEfkEh:-ms-input-placeholder{color:transparent;}/*!sc*/
.hEfkEh::placeholder{color:transparent;}/*!sc*/
.hEfkEh:placeholder-shown ~ .sc-w4nkdu-3{top:14px;left:10px;cursor:text;color:#000000;font-size:14px;}/*!sc*/
.hEfkEh:focus ~ .sc-w4nkdu-3{top:6px;left:12px;font-size:12px;color:#030A12;}/*!sc*/
.hEfkEh:disabled{cursor:no-drop;color:#bbb;}/*!sc*/
data-styled.g75[id="sc-w4nkdu-6"]{content:"hEfkEh,"}/*!sc*/
@media (max-width:1024px){.CvZeZ{display:auto;}}/*!sc*/
data-styled.g77[id="sc-1youxa4-0"]{content:"CvZeZ,"}/*!sc*/
.iFRkWe{left:0;bottom:0;z-index:5;width:100%;min-height:77px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;position:fixed;-webkit-column-gap:25px;column-gap:25px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-backdrop-filter:saturate(180%) blur(8px);backdrop-filter:saturate(180%) blur(8px);border-top:1px solid #dfe1e3;background-color:#f8f9fa;}/*!sc*/
@media (max-width:768px){.iFRkWe{position:absolute;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}}/*!sc*/
.iFRkWe button{margin-top:0;min-width:220px;}/*!sc*/
@media (max-width:768px){.iFRkWe button{width:100%;height:100%;margin:8px 0;}}/*!sc*/
data-styled.g78[id="sc-1youxa4-1"]{content:"iFRkWe,"}/*!sc*/
.kzYCsE{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;}/*!sc*/
@media (max-width:768px){.kzYCsE{-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}}/*!sc*/
data-styled.g79[id="sc-1youxa4-2"]{content:"kzYCsE,"}/*!sc*/
.cfwooe{-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;padding-right:150px;}/*!sc*/
@media (max-width:768px){.cfwooe{padding-right:0px;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}}/*!sc*/
@media (max-width:1024px){.cfwooe{padding-right:0px;}}/*!sc*/
data-styled.g80[id="sc-1youxa4-3"]{content:"cfwooe,"}/*!sc*/
.jbcDPO{width:100%;height:77px;margin-top:30px;}/*!sc*/
@media (max-width:768px){.jbcDPO{min-height:170px;}}/*!sc*/
data-styled.g81[id="sc-1youxa4-4"]{content:"jbcDPO,"}/*!sc*/
@media (max-width:1024px){.wFAnJ{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin:5% 0;}}/*!sc*/
@media (max-width:480px){.wFAnJ{display:none;}}/*!sc*/
data-styled.g82[id="sc-1youxa4-5"]{content:"wFAnJ,"}/*!sc*/
.ldfkLc{cursor:pointer;margin-top:5px;border:1px solid;font-weight:bold;border-radius:4px;padding:16px 12px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-transition:all 0.2s;transition:all 0.2s;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:auto;border-color:transparent;font-family:'Roboto',sans-serif;font-size:14px;color:#fff;height:40px;background-color:#000000;margin-top:0;min-height:49px;min-width:auto;grid-column:auto;}/*!sc*/
.ldfkLc a{color:#fff;}/*!sc*/
@media (max-width:480px){.ldfkLc{width:100%;}}/*!sc*/
.ldfkLc:hover{border-color:#000000;}/*!sc*/
@media (max-width:480px){.ldfkLc{min-width:auto;width:auto;}}/*!sc*/
.kGWlpQ{cursor:pointer;margin-top:5px;border:1px solid;font-weight:bold;border-radius:4px;padding:16px 12px;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-transition:all 0.2s;transition:all 0.2s;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;width:auto;font-family:'Roboto',sans-serif;font-size:14px;height:40px;background-color:#fff;margin-top:0;min-height:49px;min-width:auto;grid-column:auto;}/*!sc*/
@media (max-width:480px){.kGWlpQ{width:100%;}}/*!sc*/
.kGWlpQ:hover{border-color:#000000;}/*!sc*/
@media (max-width:480px){.kGWlpQ{min-width:auto;width:auto;}}/*!sc*/
data-styled.g95[id="sc-fsy150-0"]{content:"ldfkLc,kGWlpQ,"}/*!sc*/
.hzYJot{display:none;}/*!sc*/
.hzYJot:checked + label,.hzYJot:hover:checked + label{color:#fff;border-color:transparent;background-color:#000000;}/*!sc*/
.hzYJot[disabled] + label{cursor:not-allowed;opacity:0.4;}/*!sc*/
data-styled.g96[id="sc-fsy150-1"]{content:"hzYJot,"}/*!sc*/
.eyEcPK{display:grid;grid-template-columns:repeat(12,1fr);grid-column-gap:10px;grid-row-gap:10px;}/*!sc*/
.eyEcPK .sc-w4nkdu-0:first-child{grid-column:1/6;}/*!sc*/
.eyEcPK .sc-w4nkdu-0:last-child{grid-column:6/11;}/*!sc*/
@media (max-width:480px){.eyEcPK{grid-template-rows:repeat(2,auto);grid-row-gap:20px;padding:20px 0;}.eyEcPK .sc-w4nkdu-0:first-child,.eyEcPK .sc-w4nkdu-0:last-child{grid-column:1/13;}}/*!sc*/
data-styled.g101[id="sc-1heto05-0"]{content:"eyEcPK,"}/*!sc*/
.dgsrzA{display:grid;grid-template-columns:repeat(12,1fr);grid-column-gap:10px;grid-template-columns:repeat(12,auto);grid-row-gap:10px;}/*!sc*/
@media (max-width:768px){.dgsrzA{grid-row-gap:10px;margin-top:10px;grid-template-columns:repeat(3,1fr);}}/*!sc*/
@media (max-width:480px){.dgsrzA{grid-template-columns:repeat(2,1fr);grid-column:1/3;grid-row-gap:20px;}}/*!sc*/
data-styled.g102[id="sc-1heto05-1"]{content:"dgsrzA,"}/*!sc*/
.lljwJF{color:#000;display:block;font-size:18px;margin-top:16px;margin-bottom:8px;font-weight:bold;}/*!sc*/
@media (max-width:480px){.lljwJF{display:none;}}/*!sc*/
data-styled.g148[id="sc-iozbd5-0"]{content:"lljwJF,"}/*!sc*/
.crFyhA{width:100%;resize:none;padding:10px;height:130px;font-size:16px;grid-column:1/6;border-radius:8px;grid-row-gap:20px;border:1px solid transparent;font-family:'Roboto',sans-serif;border-color:#C6C6C6;background-color:#fff;}/*!sc*/
.crFyhA:focus{border-color:#030a12;background:#fff;}/*!sc*/
@media (max-width:480px){.crFyhA{grid-column:1/13;}}/*!sc*/
.crFyhA::-webkit-input-placeholder{color:#000000;}/*!sc*/
.crFyhA::-moz-placeholder{color:#000000;}/*!sc*/
.crFyhA:-ms-input-placeholder{color:#000000;}/*!sc*/
.crFyhA::placeholder{color:#000000;}/*!sc*/
data-styled.g149[id="sc-bpyqpm-0"]{content:"crFyhA,"}/*!sc*/
@-webkit-keyframes kTQmJp{from{opacity:1;width:calc(100vw - 20%);visibility:visible;}to{opacity:0;width:0;visibility:hidden;}}/*!sc*/
@keyframes kTQmJp{from{opacity:1;width:calc(100vw - 20%);visibility:visible;}to{opacity:0;width:0;visibility:hidden;}}/*!sc*/
data-styled.g154[id="sc-keyframes-kTQmJp"]{content:"kTQmJp,"}/*!sc*/
@-webkit-keyframes ctlNic{from{opacity:1;}to{opacity:0.5;}}/*!sc*/
@keyframes ctlNic{from{opacity:1;}to{opacity:0.5;}}/*!sc*/
data-styled.g155[id="sc-keyframes-ctlNic"]{content:"ctlNic,"}/*!sc*/
