
            #wpadminbar #wp-admin-bar-gdrts-toolbar .ab-icon:before {
                content: "\f155";
                top: 2px;
            }

            @media screen and ( max-width: 782px ) {
                #wpadminbar li#wp-admin-bar-gdrts-toolbar {
                    display: block;
                }
            }
        