.pendo-close-wrapper{
  transition: all 80ms ease-in;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

._pendo-badge:not(.triggered) .pendo-block-wrapper:hover .pendo-close-wrapper{
    top: -35px;
    opacity: 1;
}

.triggered .pendo-close-wrapper{
    transition: none;
}

.pendo-close-hover{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
}

.pendo-close-hover svg{
    margin: 0 auto;
    display: block;
}

.pendo-close-hover:hover{
    background-color: #f2f2f2;
    border-radius: 4px;
}
