
/*<![CDATA[*/

/* Enlever le soulignement des titres du blog en mode "Sélection" */

div.blogselection h1 a,
div.post h1.post-title a { 
text-decoration: none !important;
}

div.blogselection h1 a,
div.post h1.post-title a  {
cursor: pointer;
display: block !important;
text-decoration: none !important;
text-align: center !important;
padding: 10px 7px !important;
margin-top: 40px !important; /* marge entre le bouton et ce qui se trouve juste au-dessus */
width: 450px !important; /* largeur du bouton en pixels */
background: #FF8000 !important; /* couleur de fond du bouton */
border: 1px solid #FF8000 !important; /* couleur de la bordure du bouton */
color: #fff !important; /* couleur du texte du bouton */
/*float: right !important;*/ /* aligner le bouton à droite ; pour aligner à gauche, supprimer la ligne */
/* les 3 lignes ci-dessous créent l'arrondi des coins du bouton */
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
/* les 3 lignes ci-dessous créent l'ombre du bouton */
-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
-moz-box-shadow:    0px 0px 4px rgba(0, 0, 0, 0.3);
box-shadow:         0px 0px 4px rgba(0, 0, 0, 0.3);
}

/* Effet au survol du pointeur sur le bouton "Lire la Suite" du blog */

div.blogselection h1 a,
div.post h1.post-title a:hover {
background-color: #FF8000 !important; /* couleur de fond du bouton au survol du pointeur */
border: 1px solid #FF8000 !important; /* couleur de la bordure du bouton au survol du pointeur */
color: #fff !important; /* couleur du texte du bouton au survol du pointeur */
text-decoration: none !important;
}
/* Changer la couleur des titres du blog en mode "Sélection" seulement */




div.blogselection h1 a,
div.post h1.post-title a {
color: #fff !important;  /* Pour changer la couleur, remplacer #BF4442 */
}

/* Changer la taille des titres du blog en mode "Sélection" */

div.blogselection h1 {
font-size: 15px;  /* Pour agrandir la taille, remplacer 15 par un chiffre plus grand */
}

ul.mainNav1 li a
{
line-height: 100%!important;
float: left;
color: #ff8000 !important; /*#fff*/
font-size: 11px;
font-weight: bold;
text-align: center !important;

padding: 5px 17px !important;
/*background: #FFF !important; *//*FF8000*/

margin-top: 1px;
margin: 0px 0px;
}

ul.mainNav1 li a:hover {
background-color: #FF8000 !important; /* couleur de fond du bouton au survol du pointeur */
border: 1px solid #FF8000 !important; /* couleur de la bordure du bouton au survol du pointeur */
color: #fff !important; /* couleur du texte du bouton au survol du pointeur */
text-decoration: none !important;
}
div#navigation {
width: 890px;
height : 30px;
padding-top: 0px;
background: ##FF8000 ;/* bottom left repeat-x #282828;*/
margin: 1px 5px;
}

ul.mainNav2 li a
{
color: #ff8000 !important; /*#fff*/
font-size: 11px;
font-weight: bold;
}

/* Ne pas afficher les catégories des billets sous leur titre */

p.postmeta
{
visibility: hidden;
}


/*]]>*/
