/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
	.dropdown i{
		display: none;
	}
}


/* Medium Devices, Desktops */
@media (min-width : 992px) {
}

@media (min-width : 1025px)  and (max-width: 1196px) {
	.navbar-brand img {
        width: 510px;
    }

    .navbar-right{
        padding: 0px;
    }
}

@media (min-width : 1197px)  and (max-width: 1349px) {
	.navbar-brand img {
        width: 510px;
    }
}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 1024px) {
#tf-menu.navbar-default {
    background-color: rgba(255,255,255,1);
    border-style: solid;
    border-color: rgba(25,118,186,1);
    border-width: 0px 0px 2px 0px;
}

.navbar-brand img {
    width: 380px;
    margin-left: 15px;
}

.sec-menu {
    margin-left: 15px;
}

.navbar-right {
    padding: 0px 5px 0px 0px;
	font-size: 12px;
}

#tf-menu.navbar-default .navbar-nav > li > a {
    font-size: 12px;
}

.btn {
	font-size: 14px;
}
h1 {
    font-size: 45px;
    line-height: 45px;
}

}

@media (min-width : 810px) and (max-width: 1024px) and (max-height: 768px) {
#maincontainer {
    position: relative;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

#masthead {
    background-size: 100%;
	width: 100%;
	height: 100%;
	margin-top: 0px;
}

#website  #permits {
    background-size: 1024px 800px;
	background-position-y: 600px;
	width: 100%;
	height: 100%;
}

#website  #solution {
    background-size: 1024px 800px;
	background-position-x: 0px;
	background-position-y: 800px;
	width: 100%;
	height: 100%;
}

#website  #planning {
	background-size: 1024px 800px;
	background-position-x: 0px;
	background-position-y: 110px;
	width: 100%;
	height: 100%;
}

#website  #whoweare {
    background-size: 1024px 800px;
	background-position-x: 0px;
	background-position-y: 120px;
	width: 100%;
	height: 560px;
}

#blueart div.awardfigure-sm img {
    width: 150px;
}


#blueart div.awardfigure img {
    width: 250px;
}

#website  #contact {
	background-size: 1024px 600px;
	background-position-x: 0px;
	background-position-y: 250px;
	width: 100%;
	height: 480px;
}
}

@media (min-width : 768px) and (max-width: 800px) {

#masthead {
    background-size: 1024px 880px;
	width: 100%;
	height: 100%;
}

#website  #permits {
    background-size: 1424px 1000px;
	background-position-x: 800px;
	background-position-y: -80px;
	width: 100%;
	height: 100%;
}

#website  #solution {
	background-image: url("/website/images/bg/BGSolutionPortrait.jpg");
    background-size: 800px 1037px;
	background-position-x: 0px;
	background-position-y: 0px;
	width: 100%;
	height: 100%;
}

#website  #planning {
    background-size: 1424px 1000px;
	background-position-x: 0px;
	background-position-y: 320px;
	width: 100%;
	height: 100%;
}

#website  #whoweare {
    background-size: 1424px 800px;
	background-position-x: -250px;
	background-position-y: 600px;
	width: 100%;
	height: 600px;
}

#website  #contact {
    background-size: 1424px 800px;
	background-position-x: -500px;
	background-position-y: 800px;
	width: 100%;
	height: 600px;
}


.masthead h1 {
    margin: 0 0 20px 0;
    font-size: 30px;
    color: #fff;
    /*text-transform: uppercase;*/
    line-height: 60px;
    /*font-weight: 700;*/
}

	.heading-inner::before,.heading-inner::after{
		display: none;
	}
	.slider-content {
	    padding-top: 0px;
	}
	.navbar-brand {
	    /*height: 15px;*/
	    padding: 10px 7px;
	}
	.nav > li > a {
	    padding: 15px 5px;
	    font-size: 12px;
	}
	.columns {
	    margin-bottom: 35px;
	}
	.columns:after{
		border: none;
	}
	.pricing-wrapper {
	    margin-bottom: 20px;
	}
	.flaoting-img{
		margin: 30px 0px;
	}

	.top-link li{
		margin-bottom: 38px;
	}
}


/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width : 767px)  {
#blueart div.figure {
    margin-left: 10px;
}

#blueart img {
    width: 60px;
}
#blueart p {
    font-size: 14px;
    line-height: 18px;
}

#blueart .text-right {
    text-align: left;
	width: 50%;
}
.nomobile { display: none;}
#permits .sec-title-small, #solution .sec-title-small, #planning .sec-title-small, #whoweare .sec-title-small, #contact .sec-title-small {
	position: absolute;
    right: 0px;
    bottom: 0px;
	font-size: 8vw;
	width: 100%;
}	
.navbar-brand {
    height: auto;
    width: 75%;
}
.navbar-brand img {
    /*width: 100%;*/
    width: 300px;
	margin-left: 0px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*.sec-menu { display: none; }*/
.sec-menu { 
font-size: 10px;
margin-left: 0px;
}
.nav > li {
    float: left;
    display: inline;
}
.sec-menu a.btn {
    font-size: 10px;
}
.sec-menu nomobile {
    display:none;
}
.masthead h1 {
    /*margin: 0 0 20px 0;*/
    /*font-size: 20px;*/
    color: #fff;
    /* text-transform: uppercase; */
    /*line-height: 20px;*/
    /* font-weight: 700; */
	font-size: 5vw;
	width: 100%;
}

#masthead {
	background: url(/website/images/mastbg/00.jpg) no-repeat top top;
	background-attachment: scroll;
	background-size: cover;
	-webkit-background-size: cover;
	width:100%;
	height: 100%;
}


#website  #permits {
	background: url("/website/images/bg/mobile/BGPermits.jpg") no-repeat center top;
	background-attachment: scroll;
	background-size: cover;
	-webkit-background-size: cover;
	/*
    background-size: 800px 678px;
	background-position-x: -200px;
	background-position-y: -100px;
	*/
	width: 100%;
	height: 400px;
}

#website  #solution {
	background: url("/website/images/bg/mobile/BGSolutionPortrait.jpg") no-repeat center top;
	background-attachment: scroll;
	background-size: cover;
	-webkit-background-size: cover;
	/*
    background-size: 800px 1038px;
	background-position-x: -200px;
	background-position-y: -100px;
	*/
	width: 100%;
	height: 400px;
}

#website  #planning {
    background: url("/website/images/bg/mobile/BGPlanning.jpg") no-repeat center top;
	background-attachment: scroll;
	background-size: cover;
	-webkit-background-size: cover;
	/*
    background-size: 800px 383px;
	background-position-x: -200px;
	background-position-y: 0px;
	*/
	width: 100%;
	height: 383px;
}

#website  #whoweare {
    background: url("/website/images/bg/mobile/BGwhoweare.jpg") no-repeat center top;
	background-attachment: scroll;
	background-size: cover;
	-webkit-background-size: cover;
	/*
    background-size: 400px 212px;
	background-position-x: 0px;
	background-position-y: 0px;
	*/
	width: 100%;
	height: 212px;
}

#website  #contact {
    background: url("/website/images/bg/mobile/BGContact.jpg") no-repeat center top;
	background-attachment: scroll;
	background-size: cover;
	-webkit-background-size: cover;
	/*
    background-size: 400px 230px;
	background-position-x: 0px;
	background-position-y: 0px;
	*/
	width: 100%;
	height: 230px;
}

	.heading-inner {
    	width: 90%;
	}

	.top-link li{
		margin-bottom: 38px;
	}
	.slider-content {
	    padding-top: 0px;
	}
	.heading-inner::before,.heading-inner::after{
		display: none;
	}
	
	.slider-content .btn-container .btn-deafult{
		margin-bottom: 20px;
	}

	.process-content {
	    padding: 30px 40px;
	    margin-bottom: 10px;
}
	#process-carousel.carousel-indicators{
		bottom: 0px;
	}

	.subscription input {
	    width: 100%;
	}
	.subscription .btn-default {
	    position: relative;
	    margin-top: 10px;
	    margin-left: 10px;
	    left: 0px;
	}
	.columns {
	    margin-bottom: 35px;
	}
	.columns:after{
		border: none;
	}

	.pricing-wrapper {
	    margin-bottom: 40px;
	}
	.btn-container a {
	    margin-right: -1px;
	}
	.flaoting-img{
		margin: 20px 0px;
	}

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    #website #masthead, #website #permits, #website #solution, #website #planning, #website #whoweare, #website #contact {
    display:none;
    }
    .mastheadmobile, .permitsmobile, .solutionmobile, .planningmobile, .whowearemobile, .contactmobile {
    display:block;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    #website #masthead, #website #permits, #website #solution, #website #planning, #website #whoweare, #website #contact {
    display:none;
    }
    .mastheadmobile, .permitsmobile, .solutionmobile, .planningmobile, .whowearemobile, .contactmobile {
    display:block;
    }}