

    

    /** OVERRIDE **/

    

    div#ft-timeline {

    

       margin-top: 0;

    

    }

  

    #levels-graphic {





        background: url("/CampImg/13069/uplevels/bg.png") no-repeat center top #1e1e1e;

        padding: 18.6vw 0px;

        text-align: center;

        background-size: cover;

        margin-top:0vw;

         







    }

    

   #levels-graphic-main {

        

        padding: 0vw 0px;

    text-align: center;

    background-size: cover;

    margin-top: 0vw;

    margin: auto;

    width: 85%;

    border-bottom: 0px solid #e1e1e1;

    margin-bottom: 10.13vw;

    position: relative;

    

     

    margin-top: 2vw;

    }

    

    

    #levels-graphic-main:after {

    content: "";

    position: absolute;

    left: 50%;

    top: 50%;

    border: 0.53vw solid #FFDE82;

    box-sizing: border-box;

    border-radius: 2.66vw;

    width: 23.72vw;

    height: 107%;

    z-index: 1;

    transform: translate(-50%,-50%);

    background: #2B2B2B;

    display:none;

    }

    



    #lg-header {

        margin: auto;

        width: 81%;

        padding-bottom: 6.66667vw;

    }



    #lg-header h1 {



       font-family: Poppins;

    font-style: normal;

    font-weight: 700;

    font-size: 6.4vw;

    line-height: 8.53vw;

    text-align: center;

    margin: 0px;

    color: #FFFFFF;



    }

    

    

    #lg-header h1 i {

        font-style: normal;

        

    }

    #lg-header h1 sup {

        

      

        line-height: 0px;

    font-weight: 300;

    font-size: 3vw;

    padding: 0.2vw;

    top:-1vw;

    position:relative;

    }



    #lg-header p {

          font-family: Roboto !important;

    font-style: normal;

    font-weight: normal;

    font-size: 3.46vw;

    line-height: 5.6vw;

    text-align: center;

    letter-spacing: 0.02em;

    color: #EAEAEA;

    padding: 7vw 0vw;

    display: block;

    margin: auto;

    width: 86%;

    padding-bottom: 3vw;

        

    }

    

    #lg-header p sup {

        font-size: 2vw;

    position: relative;

    left: 0.4vw;

        

    }

    
      
      #levels-extra-info-text {
          
          
            font-family: Roboto !important;

            font-style: normal;

            font-weight: normal;

            font-size: 3.46vw;

            line-height: 5.6vw;

            text-align: center;

            letter-spacing: 0.02em;

            color: #EAEAEA;

            padding: 0vw 0vw 10vw 0vw;

            display: block;

            margin: auto;

            width: 70%;
            position: relative;

   
          
      }

      #levels-extra-info-text i {
          
          font-style: normal;
      }

  



    #lg-container {



            border-top: 0px;

    width: 100%;

    margin: auto;

    margin-bottom: 0vw;

    box-sizing: border-box;

    position: relative;

    z-index: 2;

    }

    

    #lg-container > img {

        

        width:100%;

    }



    #lg-sub-header span {



        font-family: Roboto;

    font-style: italic;

    font-weight: bold;

    font-size: 2.93vw;

    line-height: 4.26vw;

    text-transform: uppercase;

    color: #fff;

    text-align: center;

    display: block;

    width: 20.66667vw;

    letter-spacing: 0.1em;

    padding-top: 1vw;

    box-sizing: border-box;

    position: relative;

    }

    

     #lg-sub-header span sup  {

        

        font-family: Roboto !important;

    font-size: 1.9vw;

    font-weight: 300;

    position: relative;

    top: -0.4vw;

    padding-left: 0.2vw;

    line-height: 0px;

    }



    span#lg-deals-text {

        width: 29vw;

    padding-top: 0vw;

    padding-right: 4vw;

    }

    span#lg-level-text {



       width: 29vw;

    }





    #lg-sub-header {



            display: flex;

    justify-content: space-between;

    padding-top: 4vw;

    align-items: center;

    flex-direction: row;





    }







    #lg-main {

            padding-top: 3.2vw;

    padding-bottom: 5.13333vw;

    }



    .levels-item {



        background-size: 100% 100%;

    width: 85%;

    margin: auto;

    height: 6.3vw;

    display: flex;

    box-sizing: border-box;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 1.33333vw;

    padding: 0px 5.86667vw;

    }



    .top.levels-item {

     

         background-size: 100% 100%;

       

    }





  .level-tier, .level-deals   {

        font-family: Roboto !important;

    font-style: italic;

    font-weight: 400;

    font-size: 3.73vw;

    line-height: 5.33333vw;

    text-align: center;

    width: 4vw;

    color: #fff;

    position: relative;



    }

    

    .level-deals {

    right: 2vw;

}



  .level-prize  {



       font-family: Roboto !important;

    font-style: italic;

    font-weight: bold;

    font-size: 3.73333vw;

    line-height: 6.13333vw;

    text-align: center;

    letter-spacing: 0.02em;

    width: 15vw;

    color: #fff;



    }



     

    

     .level-prize sup {

        

          font-size: 2vw;

    font-family: Roboto !important;

    font-weight: normal;

    position: relative;

    left: 0.2vw;

        

    }



    #lg-disclaimer {



        font-family: Roboto;

font-style: italic;

font-weight: normal;

font-size: 3.73333vw;

line-height: 5.06667vw;





text-align: center;

letter-spacing: 0.02em;



/* white */



color: #FFFFFF;

        margin: 0px;

        margin-bottom: 9.6vw;

    }



    #lg-getstarted {





        width: 52.26667vw;





        border: 0.53333vw solid #FFDE82;



border-radius: 27.2vw;

        text-align: center;

        line-height:13.6vw;

         font-family: Poppins;

font-style: normal;

font-weight: 600;

font-size: 4.53333vw;

text-align: center;

color: #FFDE82;

        cursor: pointer;

        margin: auto;

    }



    

    #lg-info-detailed {

        

        margin: auto;

    width: 86%;

    padding-top: 10vw;

    padding-bottom: 10vw;

    background: white;

    }



    #lg-info-detailed p {

        

          font-family: Roboto !important;

    font-style: italic;

    font-weight: normal;

    font-size: 3.46vw;

    line-height: 3.73vw;

    letter-spacing: 0.01em;

    color: #939393;

    margin: 0px;

    padding-bottom: 5vw;

    }

    

    #lg-info-detailed p u {

        

        font-family: Roboto !important;

        cursor: pointer;

    }

    

    #lg-info-detailed p sup {

        

        font-size: 2.5vw;

    position: relative;

    top: 0.0vw;

        line-height: 0px;

    }

    

     #lg-info-detailed p i {

        

         font-family: Roboto;

    }



    

    span#lg-level-text:after {

    content: "";

    height: 0.26vw;

   background: #525252;

    position: absolute;

    bottom: -3.5vw;

    width: 18.66vw;

    left: 50%;

    margin-left: -9.3vw;

}

    

    span#lg-value-text:after {

    content: "";

    height: 0.26vw;

    background: #525252;

    position: absolute;

    bottom: -3.5vw;

    width: 14vw;

    left: 50%;

    margin-left: -7vw;

}

    

    

    @media all and (min-width:868px) {

        

        #lg-global-embrace {

    padding-top: 0px;

}

        

        #ft-timeline .sub-title {

    font-family: 'Poppins', sans-serif;

    font-style: normal;

    font-weight: 300;

    line-height: 44px;

    font-size: 35px;

    text-align: center;

    letter-spacing: -0.02em;

    color: #1e1e1e;

    margin: auto;

    width: 100%;

    position: absolute;

    top: 110px;

}

       #ft-cwall.ft-tsection img {

    left: -450px;

    transform: rotate(71deg);

    top: 0px;

}

        

        

        .ft-tsection img {

    position: absolute;

    width: 478px;

    transition: all .5s;

}

        

       #ft-cwall.ft-tsection.active img {

    left: -258px;

}  

        .ft-tdesc {

    font-family: 'Roboto', sans-serif !important;

    font-style: normal;

    font-weight: 300;

    line-height: 29px;

    font-size: 18px;

    letter-spacing: -0.02em;

    color: #1e1e1e;

    width: 631px;

    display: block;

    vertical-align: top;

    padding-top: 160px;

    box-sizing: border-box;

    padding-bottom: 15px;

    margin: auto;

}

        

        #ft-cwall.ft-tsection .ft-tdesc {

    text-align: center;

    padding-left: 0px;

}

        

        .info-btn {

    display: block;

    margin: auto;

    line-height: 55px;

    width: 226px;

    text-align: center;

    font-family: 'Poppins', sans-serif;

    font-style: normal;

    font-weight: 700;

    font-size: 17px;

    text-align: center;

    color: #FFFFFF;

    cursor: pointer;

    border-radius: 12vw;

    background: #135EC7;

    position: absolute;

    bottom: -173px;

    left: 50%;

    margin-left: -113px;

}

        

        #ft-cgcard.ft-tsection .ft-tdesc {

    text-align: center;

    padding-right: 0px;

    padding-top: 8px;

}

        

       #ft-timeline {

    position: relative;

    text-align: center;

    width: 100%;

    margin: auto;

    overflow: hidden;

    padding-top: 30px;

    padding-bottom: 205px;

    margin-top: 15vw;

    background: #E7FFC8;

}   

    

        #ft-cgcard.ft-tsection img {

    right: -500px;

    transform: rotate(

-245deg);

    top: -264px;

}

        

        #ft-cgcard.ft-tsection.active img {

         right: -264px;

   }

        

        

        

        #levels-graphic {

       background: url(/CampImg/13069/uplevels/bg-darkweb.png) no-repeat center top #1e1e1e;

   padding: 100px 0px;

    text-align: center;

    background-size: cover;

    margin-top: 0vw;

    position: relative;

    padding-bottom: 55px;

}

        

        #levels-graphic:after {

            

            content: "";

            clear: both;

            display: block;

            width: 100%;

        }

     

       #lg-header {

    margin: auto;

    width: 416px;

    padding-bottom: 15px;

    float: left;

    text-align: left;

    box-sizing: border-box;

    margin-left: 100px;

}

        #lg-header h1 {

    font-family: Poppins;

    font-style: normal;

    font-weight: 700;

    font-size: 36px;

    line-height: 48px;

    text-align: left;

    margin: 0px;

    color: #FFFFFF;

}

        

        #lg-header p {

    font-family: Roboto !important;

    font-style: normal;

    font-weight: normal;

    font-size: 14px;

    line-height: 23px;

    text-align: left;

    letter-spacing: 0.02em;

    color: #EAEAEA;

    padding: 15px 0vw;

    display: block;

    margin: auto;

    width: 100%;

    padding-bottom: 15px;

}

        
        #levels-extra-info-text {
            
            
            font-family: Roboto !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    letter-spacing: 0.02em;
    color: #EAEAEA;
    padding: 0px;
    display: block;
    margin: auto;
    width: 415px;
    padding-bottom: 0px;
    position: relative;
    float: left;
    margin-left: 100px;
            
            
        }

        

        

        

        #lg-getstarted {

    width: 214px;

    border: 2px solid #FFDE82;

    border-radius: 27.2vw;

    text-align: center;

    line-height: 55px;

    font-family: Poppins;

    font-style: normal;

    font-weight: 600;

    font-size: 17px;

    text-align: center;

    color: #FFDE82;

    cursor: pointer;

    margin: auto;

    clear: both;

    float: left;

    margin-left: 100px;

    position: relative;

    top: -16px;

}

        

        

        

       #levels-graphic-main {

    padding: 0vw 0px;

    text-align: center;

    background-size: cover;

    margin-top: 0vw;

    margin: auto;

    width: 400px;

    border-bottom: 0px solid #e1e1e1;

    margin-bottom: 25px;

    position: relative;

    border-radius: 10px;

     

    margin-top: 15px;

    display: block;

    float: right;

    margin-right: 100px;

}

        

        #lg-header p sup {

    font-size: 10px;

    position: relative;

    left: 2px;

}

        

        #levels-graphic-main:after {

    content: "";

    position: absolute;

    left: 50%;

    top: 50%;

    border: 2px solid #FFDE82;

    box-sizing: border-box;

    border-radius: 10px;

    width: 105px;

    height: 107%;

    z-index: 1;

    transform: translate(-50%,-50%);

  

    display:none;

}

        #lg-container {

    border-top: 0px;

    width: 100%;

    margin: auto;

    margin-bottom: 0vw;

    box-sizing: border-box;

    position: relative;

    z-index: 2;

}

        #lg-sub-header {

    display: flex;

    justify-content: space-between;

    padding-top: 11px;

    align-items: center;

    flex-direction: row;

}

        

        #lg-sub-header span {

    font-family: Roboto;

    font-style: italic;

    font-weight: bold;

    font-size: 12px;

    line-height: 17px;

    text-transform: uppercase;

    color: #fff;

    text-align: center;

    display: block;

    width: 95px;

    letter-spacing: 0.1em;

    padding-top: 0px;

    box-sizing: border-box;

    position: relative;

}

        

        span#lg-level-text {

    width: 130px;

}

        

        

        span#lg-deals-text {

    width: 128px;

    padding-top: 5px;

    padding-right: 11px;

}

        

        span#lg-level-text:after {

    content: "";

    height: 1px;

    background: #525252;

    position: absolute;

    bottom: -15px;

    width: 84px;

    left: 50%;

    margin-left: -42px;

}

        

        span#lg-value-text:after {

    content: "";

    height: 1px;

    background: #525252;

    position: absolute;

    bottom: -15px;

    width: 60px;

    left: 50%;

    margin-left: -30px;

}

        

        #lg-main {

    padding-top: 15px;

    padding-bottom: 20px;

}

        .levels-item {

    background-size: 100% 100%;

    width: 85%;

    margin: auto;

    height: 25px;

    display: flex;

    box-sizing: border-box;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 8px;

    padding: 0px 1px;

}

        

        .level-tier, .level-deals {

    font-family: Roboto !important;

    font-style: italic;

    font-weight: 400;

    font-size: 14px;

    line-height: 25px;

    text-align: center;

    width: 65px;

    color: #fff;

    position: relative;

}

        

        .level-prize {

    font-family: Roboto !important;

    font-style: italic;

    font-weight: bold;

    font-size: 14px;

    line-height: 25px;

    text-align: center;

    letter-spacing: 0.02em;

    width: 75px;

    color: #fff;

}

        

        .level-deals {

    right: 8px;

}

        .level-prize sup {

    font-size: 10px;

    font-family: Roboto !important;

    font-weight: normal;

    position: relative;

    left: 3px;

}

        

        

        #ft-offer-types {

    width: 100%;

    min-height: 450px;

    background: #f3f4f6;

    padding-top: 60px;

    padding-bottom: 100px;

    position: relative;

}

        

       #ft-offers-container h1 {

    font-family: 'Poppins', sans-serif;

    font-style: normal;

    font-weight: 300;

    line-height: 44px;

    font-size: 35px;

    text-align: center;

    letter-spacing: -0.02em;

    color: #1e1e1e;

    margin: auto;

    width: 100%;

    padding-bottom: 55px;

    padding-top: 130px;

    clear: both;

}



#ft-offers-container h1 br {

    

    display:none;

}

        

       #ft-offers-container p {

    font-style: normal;

    line-height: 29px;

    font-size: 18px;

    letter-spacing: -0.02em;

    color: #1e1e1e;

    margin: auto;

    padding-bottom: 0px;

    font-family: 'Roboto', sans-serif;

    font-weight: 300;

    

           float: right;

    width: 300px;

    margin-right: 99px;

} 

        #ft-offers-container p#ft-offers-container-p {

    width: 472px;

    margin-left: 147px;

    margin-right: 0px;

    float: left;

}

        

        #ft-types-icons {

    text-align: center;

    display: block;

    position: absolute;

    height: 100px;

    overflow: hidden;

    margin-top: 0px;

    width: 200px;

    left: 50%;

    margin-left: -100px;

    top: 50px;

}

        

        #ft-offer-types:after {

            

            content: "";

            clear: both;

            display: block;

            width: 100%;

        }

        

        

        #ft-types-icons .t-icon {

    margin: auto;

    width: 200px;

    height: 85px;

    position: absolute;

    left: 50%;

    top: 150%;

    transform: translate(-50%,-50%);

    display: block;

    transition: all .8s;

    z-index: 9;

    opacity: 0;

}



#ft-types-icons .t-icon img {

    height: 80px;

}

      

        

        #ft-offers-container > .info-btn {

    clear: both;

    margin-top: 15px;

    position: absolute;

    bottom: 82px;

}

        

        

        #lg-info-detailed p sup {

    font-size: 8px;

    position: relative;

    top: 0.0vw;

    line-height: 0px;

}

        

        #lg-info-detailed p {

    font-family: Roboto !important;

    font-style: italic;

    font-weight: normal;

    font-size: 13px;

    line-height: 14px;

    letter-spacing: 0.01em;

    color: #939393;

    margin: 0px;

    padding-bottom: 9px;

    text-align: center;

}

        

        #lg-info-detailed {

    margin: auto;

    width: 95%;

    padding-top: 78px;

    padding-bottom: 40px;

    background: white;

}

        

        

        

    }

    

