
        #paper-bg{
          background: url(images/result_d.png);
          height: 650px;
          background-repeat: no-repeat;
        }
        #vote_block_link{
          text-indent: -9999px;
          left: 574px;
          top: 64px;
          width: 150px;
          height: 30px;
          position: absolute;
        }
      