
            .alert {
                padding: 20px 15px 10px;
            }
            .alert > h2:first-child,.alert > h3:first-child{
                margin-top:0;
            }
            .alert > ul:last-child{
                margin-bottom: 1em;
            }
            th.subheading{
                font-weight: normal;
                font-style: italic;
            }
            .object {
                display: block;
                padding: 9.5px 9.5px 0 9.5px;
                margin: 0 0 10px;
                font-size: 13px;
                line-height: 1.42857143;
                color: #333;
                word-break: break-all;
                word-wrap: break-word;
                background-color: #f5f5f5;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        