  /*START HEADER/
/*START LOGO SEC*/
.LogoSectionPart, #logoSection {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.searchForm * {
  border-radius: 0;
  font-size: 0.8rem; }

.searchForm .form-control {
  border-right: none !important; }

.searchForm .btn, .searchForm .more-categories a, .more-categories .searchForm a {
  border-left: none; }

.btn-search {
  padding: 0.5rem; }

/*END LOGO SEC*/
/*START NAV BAR*/

@media (min-width: 552px) {
  .navigationLink {
    padding: 1em; } }
.navigationLink {
  display: inline-block;
  color: white; }

#itemID_Div1 {
  padding: 0.2em;
  cursor: default; }

.arrowNavIcon {
  width: 1em;
  height: 1em;
  display: inline-block;
  background-image: url("../img/icons/arrow-menu.png");
  background-repeat: no-repeat;
  background-position: center; }

/*END NAV BAR*/
/*END HEADER*/
/*//MMStart*/
.megaMenuContent .btn, .megaMenuContent .more-categories a, .more-categories .megaMenuContent a {
  font-size: 0.9rem; }

@media (min-width: 552px) {
  .megaMenuContent {
    display: table; } }
.megaMenuContent {
  margin: 0;
  position: absolute;
  top: 99%;
  z-index: 1000;
  width: 100%;
  color: #37474f;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box; }
  .megaMenuContent * {
    max-height: 0;
    opacity: 0; }
  .megaMenuContent a {
    top: -30px;
    max-height: 500px; }

@media (min-width: 552px) {
  .rens-p {
    padding-left: 0;
    padding-right: 0; } }
.navTitle {
  cursor: default; }

.searchByShape .btn, .searchByShape .more-categories a, .more-categories .searchByShape a {
  padding: 0 !important; }

.navigationLink {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .navigationLink * {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.radioMM {
  display: none; }

@media (min-width: 552px) {
  .navigationLink:hover {
    text-decoration: none;
    color: #FFF;
    font-weight:900;
    background-color: #37474f;
    outline: 5px solid #37474f; }
    .navigationLink:hover .megaMenuContent a:nth-child(0) {
      -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s; }
    .navigationLink:hover .megaMenuContent a:nth-child(1) {
      -webkit-transition-delay: 0.2s;
              transition-delay: 0.2s; }
    .navigationLink:hover .megaMenuContent a:nth-child(2) {
      -webkit-transition-delay: 0.3s;
              transition-delay: 0.3s; }
    .navigationLink:hover .megaMenuContent a:nth-child(3) {
      -webkit-transition-delay: 0.4s;
              transition-delay: 0.4s; }
    .navigationLink:hover .megaMenuContent a:nth-child(4) {
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s; }
    .navigationLink:hover .megaMenuContent a:nth-child(5) {
      -webkit-transition-delay: 0.6s;
              transition-delay: 0.6s; }
    .navigationLink:hover .megaMenuContent a:nth-child(6) {
      -webkit-transition-delay: 0.7s;
              transition-delay: 0.7s; }
    .navigationLink:hover .megaMenuContent a:nth-child(7) {
      -webkit-transition-delay: 0.8s;
              transition-delay: 0.8s; }
    .navigationLink:hover .megaMenuContent a:nth-child(8) {
      -webkit-transition-delay: 0.9s;
              transition-delay: 0.9s; }
    .navigationLink:hover .megaMenuContent a:nth-child(9) {
      -webkit-transition-delay: 1s;
              transition-delay: 1s; }
    .navigationLink:hover .megaMenuContent * {
      max-height: 1000px;
      opacity: 1; }
    .navigationLink:hover .megaMenuContent {
      opacity: 1;
      max-height: 2000px; }
    .navigationLink:hover .megaMenuContent .container {
      padding: 1em 0; }
    .navigationLink:hover .withImg .container {
      padding: 0; }
    .navigationLink:hover .byPrice {
      padding-top: 1em; }
    .navigationLink:hover .megaMenuContent a {
      top: 0; }
    .navigationLink:hover .arrowNavIcon {
      background-image: url("../img/icons/arrow-menu-over.png"); } }
@media (max-width: 552px) {
  .closeOutside {
    position: absolute;
    width: 100vw;
    top: 0;
    height: 300vh; }
    #radioClose:checked ~ .closeOutside {
      display: none; }

  .radioMM:checked + .navigationLink {
    text-decoration: none;
    color: #f6c7b7;
    background-color: #37474f;
    outline: 5px solid #37474f; }
    .radioMM:checked + .navigationLink .megaMenuContent a:nth-child(0) {
      -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s; }
    .radioMM:checked + .navigationLink .megaMenuContent a:nth-child(1) {
      -webkit-transition-delay: 0.2s;
              transition-delay: 0.2s; }
    .radioMM:checked + .navigationLink .megaMenuContent a:nth-child(2) {
      -webkit-transition-delay: 0.3s;
              transition-delay: 0.3s; }
    .radioMM:checked + .navigationLink .megaMenuContent a:nth-child(3) {
      -webkit-transition-delay: 0.4s;
              transition-delay: 0.4s; }
    .radioMM:checked + .navigationLink .megaMenuContent a:nth-child(4) {
      -webkit-transition-delay: 0.5s;
              transition-delay: 0.5s; }
    .radioMM:checked + .navigationLink .megaMenuContent a:nth-child(5) {
      -webkit-transition-delay: 0.6s;
              transition-delay: 0.6s; }
    .radioMM:checked + .navigationLink .megaMenuContent a:nth-child(6) {
      -webkit-transition-delay: 0.7s;
              transition-delay: 0.7s; }
    .radioMM:checked + .navigationLink .megaMenuContent a:nth-child(7) {
      -webkit-transition-delay: 0.8s;
              transition-delay: 0.8s; }
    .radioMM:checked + .navigationLink .megaMenuContent a:nth-child(8) {
      -webkit-transition-delay: 0.9s;
              transition-delay: 0.9s; }
    .radioMM:checked + .navigationLink .megaMenuContent a:nth-child(9) {
      -webkit-transition-delay: 1s;
              transition-delay: 1s; }
    .radioMM:checked + .navigationLink .megaMenuContent * {
      max-height: 1000px;
      opacity: 1; }
    .radioMM:checked + .navigationLink .megaMenuContent {
      opacity: 1;
      max-height: 2000px; }
    .radioMM:checked + .navigationLink .megaMenuContent .container {
      padding: 1em 0; }
    .radioMM:checked + .navigationLink .withImg .container {
      padding: 0; }
    .radioMM:checked + .navigationLink .byPrice {
      padding-top: 1em; }
    .radioMM:checked + .navigationLink .megaMenuContent a {
      top: 0; }
    .radioMM:checked + .navigationLink .arrowNavIcon {
      background-image: url("../img/icons/arrow-menu-over.png"); } }
.megaMenuContent {
  opacity: 0;
  left: 0;
  background: rgba(55, 71, 79, 0.95);
  color: white;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  border: 0 solid;
  border-top: 0 solid; }
  .megaMenuContent .btn, .megaMenuContent .more-categories a, .more-categories .megaMenuContent a {
    color: white; }

#backgroundBracelet, #backgroundPendant {
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat; }

@media (min-width: 62em) {
  #backgroundBracelet {
    background-image: url("../img/megaMenuImgs/bracelets.png"); }

  #backgroundPendant {
    background-image: url("../img/megaMenuImgs/pendants.png"); }

  .searchByPrice .btn, .searchByPrice .more-categories a, .more-categories .searchByPrice a {
    width: 100%;
    text-align: left; } }
header > nav {
  z-index: 3;
  position: relative; }

.closeBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem; }
  @media (min-width: 552px) {
    .closeBtn {
      display: none; } }

@media (max-width: 552px) {
  .navTitle {
    padding: 0.75rem 0 0.75rem 1vw;
    font-size: 3vw; }

  .arrowNavIcon {
    width: 2vw;
    height: 2vw; } }
/*//MMEnd*/

* {
  box-sizing: border-box;
}
.carousel {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
.carousel:hover .slide:after,
.carousel:hover .counter,
.carousel:hover .slide:before {
  opacity: 1;
}
.slide {
  float: right;
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 400px;
  background-color: #eee;
  text-align: center;
  transition: opacity 0.4s;
  opacity: 1;
}
.slide:before {
  content: attr(annot);
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: rgba(255,255,255,0.9);
  font-size: 14px;
  font-weight: 300;
  z-index: 12;
  opacity: 0;
  transition: opacity 0.3s;
  text-shadow: 0 0 1px #000;
}
.slide:after {
  content: attr(slide);
  display: block;
  position: absolute;
  bottom: 0;
  transition: opacity 0.3s;
  width: 100%;
  height: 80px;
  opacity: 0;
  background-image: linear-gradient(transparent, rgba(0,0,0,0.5));
  text-align: left;
  text-indent: 549px;
  line-height: 101px;
  font-size: 13px;
  color: rgba(255,255,255,0.9);
  text-shadow: 0 0 1px #000;
}
.counter {
  position: absolute;
  bottom: 20px;
  right: 1px;
  height: 20px;
  width: 60px;
  z-index: 2;
  text-align: center;
  color: #fff;
  line-height: 21px;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s;
}
.faux-ui-facia {
  top: 0;
  right: 0;
  float: right;
  position: absolute;
  margin-top: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.faux-ui-facia:checked {
  z-index: 8;
}
.faux-ui-facia:checked + .slide {
  opacity: 0;
}
.faux-ui-facia:checked:nth-child(1):checked {
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked {
  float: left;
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked + .slide {
  opacity: 1;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia {
  float: left;
  z-index: 8;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia + .slide {
  opacity: 0;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked {
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked + .slide {
  opacity: 1;
}
