@media (max-width: 992px) {
    #LeftPanel {
        display: none;
    }

    #LeftPanel + td {
        display: none;
    }

    table.grid > tbody > tr {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    table.grid > tbody > tr td.gallery {
       width: 100% !important;
       display: block;
       border-bottom: 1px solid #ccc;
       border-top: none;
       border-left: none;
       border-right: none;
    }

    table.pgbc > tbody > tr {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    table.pgbc > tbody > tr > td {
        display: block;
        width: 100%;
    }

    table.pgbc > tbody > tr > td.l,
    table.pgbc > tbody > tr > td.r
    {
        text-align: center;
    }
    .itemseparator {
        display: none;
    }

    table.gallery > tbody {
        display: flex;
    }

    table.gallery > tbody td.picture div.image {
        width: 100px !important;
    }

    table.gallery > tbody td.picture img {
        width: 100%;
    }

    .v4ilist.v4ilistlr table.gallery > tbody > tr {
        display: flex;
        flex-wrap: wrap;
    }
    .v4ilist.v4ilistlr table.gallery > tbody > tr > td {
        height: auto !important;
        width: 100% !important;
    }

    #mmContainer {
        top: 11rem;
        font-size: 0.75rem;
    }

    div#searchEngine {
        height: unset !important;
        display: flex;
        flex-wrap: wrap;
        width: 100% !important;
    }

    div#searchEngine div.option {
        float: none !important;
        margin: 0 !important;
        padding: 2px 5px;
    }

    input#clarity, input#color, input#amount {
        float: none !important;
        padding: 0 !important;
        margin: 0 !important;
        position: absolute;
        top: 0;
        right: 0;
    }

    #searchEngine > div#claritys.option,
    #searchEngine > div#colors.option,
    #searchEngine > div#price.option {
        padding-bottom: 20px !important;
    }

    #searchEngine > div#type.option,
    #searchEngine > div#carat-range.option,
    #searchEngine > div#claritys.option,
    #searchEngine > div#colors.option {
        width: 50%;
        position: relative;
    }

    #searchEngine > div#allshapes.option,
    #searchEngine > div#price.option,
    #searchEngine > div#endpart.option {
        width: 100%;
        position: relative;
    }
}