
.ba-form-2,
.forms-calendar-wrapper[data-form="2"],
.ba-form-authorize-modal[data-form="2"],
.ba-form-paypal-modal[data-form="2"] {
    --form-width-value: 100%;
	--form-width-fullwidth: auto;
	--form-background-color: rgba(255, 255, 255, 0);
	--form-padding-top: 25px;
	--form-padding-right: 25px;
	--form-padding-bottom: 25px;
	--form-padding-left: 25px;
	--form-border-top: 0;
	--form-border-right: 0;
	--form-border-bottom: 0;
	--form-border-left: 0;
	--form-border-color: #e3e3e3;
	--form-border-radius: 0px;
	--form-border-width: 1px;
	--form-shadow-value: 0;
	--form-shadow-color: rgba(0, 0, 0, 0.15);
	--label-typography-font-family: inherit;
	--label-typography-font-size: 18px;
	--label-typography-letter-spacing: 0px;
	--label-typography-line-height: 36px;
	--label-typography-color: #212121;
	--label-typography-font-weight: bold;
	--label-typography-text-align: left;
	--label-typography-font-style: normal;
	--label-typography-text-transform: none;
	--field-background-color: #f5f8f9;
	--field-padding-top: 15px;
	--field-padding-right: 15px;
	--field-padding-bottom: 15px;
	--field-padding-left: 15px;
	--field-margin-top: 15px;
	--field-margin-bottom: 15px;
	--field-border-top: 0;
	--field-border-right: 0;
	--field-border-bottom: 0;
	--field-border-left: 0;
	--field-border-color: #e3e3e3;
	--field-border-radius: 0px;
	--field-border-width: 1px;
	--field-typography-font-family: inherit;
	--field-typography-font-size: 18px;
	--field-typography-letter-spacing: 0px;
	--field-typography-line-height: 28px;
	--field-typography-color: #212121;
	--field-typography-font-weight: bold;
	--field-typography-text-align: left;
	--field-typography-font-style: normal;
	--field-typography-text-transform: none;
	--field-icon-size: 24px;
	--field-icon-color: #212121;
	--field-icon-text-align: flex-start;
	--theme-color: rgba(0, 0, 0, 1);
	--lightbox-color: rgba(0,0,0,0.15);
	}
