
.bvSlide_7237431fd1cf738-91ea-30da-a37d-912897095fca0 {
background-image: url('/portal/media/corporatebanking/auslandsseiten/china-informationen/china-neu-19/compliance-2/FirstSpirit_15910970570272020_04_14_FL_Tony-Zhang_2000x456px_EN.jpg');
}
@media screen and (max-width: 1280px) {
.bvSlide_7237431fd1cf738-91ea-30da-a37d-912897095fca0 {
background-image: url('/portal/media/corporatebanking/auslandsseiten/china-informationen/china-neu-19/compliance-2/FirstSpirit_15910970570272020_04_14_FL_Tony-Zhang_1280x456px_EN.jpg');
}
}
@media screen and (max-width: 1000px) {
.bvSlide_7237431fd1cf738-91ea-30da-a37d-912897095fca0 {
background-image: url('/portal/media/corporatebanking/auslandsseiten/china-informationen/china-neu-19/compliance-2/FirstSpirit_15910970570272020_04_14_FL_Tony-Zhang_1280x456px_EN_Desktop.jpg');
}
}
@media screen and (max-width: 760px) {
.bvSlide_7237431fd1cf738-91ea-30da-a37d-912897095fca0 {
background-image: url('/portal/media/corporatebanking/auslandsseiten/china-informationen/china-neu-19/compliance-2/FirstSpirit_15910970570272020_04_14_FL_Tony-Zhang_1280x456px_EN_Tablet.jpg');
}
}
@media screen and (max-width: 500px) {
.bvSlide_7237431fd1cf738-91ea-30da-a37d-912897095fca0 {
background-image: url('/portal/media/corporatebanking/auslandsseiten/china-informationen/china-neu-19/compliance-2/FirstSpirit_15910970570272020_04_14_FL_Tony-Zhang_1280x456px_EN_Phone.jpg');
}
}
