
            
        
            webapp-compat-navigation:not(.WebappCompatPlaceholder) {
                display: block;
                height: 50px;
                margin-bottom: 51px;
                margin-top: -101px;
                position: relative;
                z-index: 1001;
            }
            webapp-compat-navigation-empty:not(.WebappCompatPlaceholder) {
                display: block;
                height: 50px;
                margin-top: -101px;
                position: relative;
                z-index: 1001;
            }
        
        
                    webapp-compat-seo-navbar.WebappCompatPlaceholder {
                background-color: #161e2c;
                display: block;
                height: 48px;
                position: relative;
                z-index: 1000;
            }
            app-seo-navbar {
                display: block;
                height: 48px;
                margin-top: -48px;
                position: relative;
                z-index: 1000;
            }
        
            
        
        
        
            
        
        
        
            
        
        
        
            
        
        
        
            
        
        
        
            
        
        
        
    