/* DAN INSTALLMENTS */
section#installments_full_screen {
  height: 100vh;
  width: 100%;
  background: rgba(248, 249, 250, 0.97);
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
.offer-box-step-two {
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}
#close_installment_box {
  position: absolute;
  right: 40px;
  top: 20px;
  color: #4e555f;
  font-size: 160%;
  z-index: 9;
}
/* DAN INSTALLMENTS */

body {
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color:#6b7c93;
	background:#e0e7ea;
}

h2 {
	font-weight:700;
	font-size:180%;
	color:#6b7c93;
}

h1 {
	font-weight:700;
	font-size:300%;
	color:#4e555f;
	text-shadow: #ffffff 4px 4px 0px;
}

h4 {
	font-weight:700;
	font-size:200%;
	color:#6b7c93;
}

section {
	height:100vh;
}

section#main {
    background: #f2f4f5;
}

.bottom-corner-left {
	background:#3fca8c;
	width:650px;
	height:150px;
	position:absolute;
	bottom:0;
	left:0;
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 0 0, 0 0);
	clip-path: polygon(0 0, 0 100%, 100% 100%, 0 0,0 0);
}

.bottom-corner-right {
	background:#5f89c2;
	width:150px;
	height:350px;
	position:absolute;
	bottom:0;
	right:0;
	-webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.btn-primary {
	border:#3fca8c;
	background:#3fca8c;
	
}

.btn-primary:hover {
	border:#67ecb0;
	background:#67ecb0;
	
}

.jumbotron input[type=text], .jumbotron input[type=email], .jumbotron textarea {
    border: none !important;
    border-bottom: 1px solid #6b7c93 !important;
    border-radius: 0 !important;
	font-size:90%;
	background:transparent;
}

.jumbotron label {
	font-size:90%;
}

.jumbotron {
	background:#fff;
	border-radius:5px;
	-webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
	-webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 14%, 85% 0);
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 14%, 85% 0);
}

.smaller {
    font-size: 70% !important;
}

section#main p {
    font-size:120%;
}

section#main p.bio {
    font-size:110%;
}

section#main p.usp {
    font-size:110%;
}

section#main p.usp i {
    font-size:70%;
}

nav a {
	color:#6b7c93;
	font-size:130%;
}

nav a:hover {
	color:#00a0e2;
	text-decoration:none;
}

footer a {
	color:#6b7c93;
	font-size:130%;
}

footer a:hover {
	color:#6b7c93;
	text-decoration:none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb !important;
  opacity: 1; /* Firefox */
}

.g-recaptcha {
	transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
}

input[type=submit] {
  font-family: "Font Awesome 5 Free", 'Source Sans Pro', sans-serif;
}

.validator_status  {
    padding: 10px;
	margin:5px 0;
}

.validator_errors {
    background: #ffe8e8;
}

.validator_success {
    background: #e5ffeb;
}

h4.bin-title{
	font-size:170%;
}

.validator_status p {
    font-size: 90% !important;
    margin: 0;
}

#buy_now p {
	font-size:90% !important;
}

.logo-on-xl {
	display:none;
}

.logo-not-on-xl {
	display:block;
}

@media screen and (max-width: 768px){

	.bottom-corner-left {
		width:100% !important;
		height:175px;
		background:#e0e7ea;
		position:fixed;
		z-index:0;
	}
	
	footer, footer * {
		z-index:1;
		position:relative;
	}

	.jumbotron .text-right { 
		text-align:left !important; 
	}
	
	.jumbotron {
		margin-bottom:30px !important;
		margin-top:15px !important;
	}
	
	.navbar.fixed-top {
		position:relative;
		background:#f2f4f5;
	}
	
	.g-recaptcha {
		transform:scale(1);-webkit-transform:scale(1);transform-origin:0 0;-webkit-transform-origin:0 0;
	}
	
	input#request_consent {
		margin:3px 0 0 0 !important;
	}
	
	label[for="request_consent"] {
		margin: 0 0 0 20px !important;
	}
	
	section#main {
		height:auto !important;
	}

	input[type=submit] {
		margin-top:20px !important;
	}

}

@media screen and (min-width: 1280px) and (min-height: 1024px){

	.logo-on-xl {
		display:block;
	}

	.logo-not-on-xl {
		display:none;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
	
	section#main {
		height:auto !important;
	}
	
	.navbar.fixed-top {
		position:relative;
		background:#f2f4f5;
	}
	
	footer, footer * {
		z-index:1;
		position:relative;
	}
	
	.jumbotron {
		margin:20px 0 !important;
	}

}