#nav ul#navmenu li:not(.login-button) {
    display: none;
}

/* Mobile Nav */

#mobile-menu .login-button,
#mobile-menu #menu-button {
    display: none;
}

#nav ul#navmenu #menu-button {
    display: block;
    text-align: right;
    position: absolute;
    right: 0px;
    margin: 0;
    margin-top: -45px;
    color: #fff;
    z-index: 2900;
    padding: 0 !important;
}

/* MAIN NAV */
#nav ul#navmenu {
    margin: 0;
    border: 0 none;
    padding: 0;
    text-align: center;
    list-style: none;
    z-index: 1000;
    float: right;
    right: 0;
    top: 15px;
    position: relative
}

#nav ul#navmenu li {
    margin: 0;
    border: 0 none;
    padding: 0;
    float: left;
    list-style: none;
    position: relative;
}

#nav ul#navmenu ul {
    margin: 0;
    border: 0 none;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
}

#nav ul#navmenu ul li {
    width: 202px;
}

/* Root Menu */
#nav ul#navmenu a {
    padding-left: 15px;
    float: none !important; /*For Opera*/
    float: left; /*For IE*/
    display: block;
    text-align: left;
    color: #fff;
    font: 400 15px / 39px "futura-pt", sans-serif;
    text-decoration: none;
    height: auto !important;
    height: 1%; /*For IE*/
    transition: all 0.4s ease;
}

#nav ul#navmenu li.login-button a {
    left: -40px;
    padding: 0 15px;
    margin-top: -45px;
    position: relative;
    line-height: 30px;
    box-sizing: border-box;
    text-align: center;
}

#nav ul#navmenu li.login-button a:hover {
    color: #021730;
}

/* Root Menu Hover Persistence */

#nav ul#navmenu a:hover,
#nav ul#navmenu li:hover a {
    color: #B7BDC3;
}

/* Selected */
#nav ul#navmenu a.selected {
    color: #B7BDC3;
    font-weight: 500;
}

/* 2nd Menu */
#nav ul#navmenu li:hover li a {
    display: none;
}

#nav ul#navmenu li li {
    border: 0 !important;
}

/* 2nd Menu Hover Persistence */
#nav ul#navmenu li:hover li a:hover,
#nav ul#navmenu li:hover li:hover a {
    color: #ffdf61;
}

/* 3rd Menu */
#nav ul#navmenu li:hover li:hover li a {
    display: none;
    visibility: hidden;
}

/* 3rd Menu Hover Persistence */
#nav ul#navmenu li:hover li:hover li a:hover,
#nav ul#navmenu li:hover li:hover li:hover a {
    display: none;
    visibility: hidden;
}

/* 4th Menu */
#nav ul#navmenu li:hover li:hover li:hover li a {
    display: none;
    visibility: hidden;
}

/* 4th Menu Hover */
#nav ul#navmenu li:hover li:hover li:hover li a:hover {
    display: none;
    visibility: hidden;
}

#nav ul#navmenu ul ul,
#nav ul#navmenu ul ul ul {
    display: none;
    position: absolute;
    top: 0;
    border: 0;
    left: 202px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
#nav ul#navmenu li:hover ul ul,
#nav ul#navmenu li:hover ul ul ul {
    display: none;
}

#nav ul#navmenu li:hover ul,
#nav ul#navmenu ul li:hover ul,
#nav ul#navmenu ul ul li:hover ul {
    display: block;
}

/* SUB NAV */
#sub-nav {
    position: relative;
    border-top: 1px solid #DDDDDD;
    padding-bottom: 30px;
}

#sub-nav .navicon {
    display: none;
}

#sub-nav ul,
#sub-nav li {
    margin: 0;
    border: 0 none;
    padding: 0;
    list-style: none;
}

#sub-nav a {
    text-decoration: none;
    display: block;
    padding: .5vw 1.2vw;
    font-size: 1.5vw;
    line-height: 2vw;
    color: #777;
    font-weight: 300;
    border-bottom: 1px solid #DDDDDD;
}

#sub-nav .l1 a {
    display: none;
}

#sub-nav .l2 a {}

#sub-nav a:hover,
#sub-nav a.selected {
    color: #8E734F;
}

#sub-nav a.selected {
    font-weight: 400;
}

#sub-nav .l3 a {
    padding-left: 2.5vw;
    font-size: 1.1vw;
    line-height: 1.1vw;
    border: 0;
}

#sub-nav .ul3 li:first-of-type a {
    padding-top: 1.2vw;
}

#sub-nav .ul3 li:last-of-type a {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 1.2vw;
}

#sub-nav .l4 a {
    display: none;
}

/* FOOTER NAV Basic, Level 1 only */

.footer-nav ul#navmenu {
    margin: 0;
    padding: 0;
}

.footer-nav ul#navmenu li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 8px;
}

.footer-nav .l1 {
    margin: 0;
    padding: 0;
}

/* HIDE LEVELS 2,3,5 */
.footer-nav ul ul {
    display: none;
}

/* Larger than mobile */
@media (min-width: 370px) {

    #nav ul#navmenu li.login-button a {
        left: -60px;
        padding: 0 30px;
    }
}

/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 800px) {

    #nav ul#navmenu #menu-button {
        display: none;
    }

    #nav ul#navmenu li:not(.login-button) {
        display: block;
    }

    #nav ul#navmenu li.login-button a {
        left: 0;
        margin-top: 0;
        margin-left: 10px;
        padding: 0 30px;
        top: inherit;
        position: relative;
        line-height: 39px;
        box-sizing: border-box;
        text-align: center;
    }
}

@media (min-width: 930px) {

    #nav ul#navmenu li.login-button a {
        padding: 0 30px;
        margin-left: 30px;
        box-sizing: border-box;
        text-align: center;
    }

    /* Root Menu */
    #nav ul#navmenu a {
        padding-left: 20px;
        font: 400 17px / 39px "futura-pt", sans-serif;
    }
}

@media (min-width: 1000px) {

    /* Root Menu */
    #nav ul#navmenu a {
        padding-left: 25px;
        font: 400 19px / 39px "futura-pt", sans-serif;
    }
}

@media (min-width: 1200px) {

    /* Root Menu */
    #nav ul#navmenu a {
        padding-left: 30px;
        font: 400 22px / 39px "futura-pt", sans-serif;
    }
}


