.bc-testimonial-wrap {clear: both; display: block; text-align: center; margin: 30px auto;}
.bc-testimonial-wrap:before, .bc-testimonial-wrap:after {content: ''; clear: both; display: table;}

/********** Overwrite **********/
.bc-testimonial-wrap ul.bc-testimonial-rslides,
.bc-testimonial-wrap ul.bc-testimonial-rslides-pager {list-style: none !important; margin: 10px 0 !important; padding: 0 !important;}

.bc-testimonial-wrap ul.bc-testimonial-rslides {position: relative; overflow: hidden; width: 100%;}
.bc-testimonial-wrap ul.bc-testimonial-rslides li {-webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0;}
.bc-testimonial-wrap ul.bc-testimonial-rslides li:first-child {position: relative; display: block;}
.bc-testimonial-wrap .bc-testimonial-text {font-size: 1.1em;}
.bc-testimonial-wrap h5.bc-testimonial-name {font-size: 1em; font-weight: normal; font-style: normal; margin: 0; text-align: center;}

.bc-testimonial-wrap ul.bc-testimonial-rslides-pager {display: inline-block;}
.bc-testimonial-wrap ul.bc-testimonial-rslides-pager li {display: inline-block; margin: 5px; width: 60px; height: 60px;}
.bc-testimonial-wrap ul.bc-testimonial-rslides-pager li img {width: 100%; border-radius: 50%; border: 1px solid #f9f9f9; opacity: .4;}
.bc-testimonial-wrap ul.bc-testimonial-rslides-pager li.bc-testimonial-rslides_here img {border: 1px solid #ccc; opacity: 1;}

.bc-testimonial-widget {clear: both; display: block; text-align: center;}

/********** Overwrite **********/
.bc-testimonial-widget ul.bc-testimonial-widget-rslides,
.bc-testimonial-widget ul.bc-testimonial-widget-rslides-pager {list-style: none !important; margin: 10px 0 !important; padding: 0 !important;}
.bc-testimonial-widget ul.bc-testimonial-widget-rslides li,
.bc-testimonial-widget ul.bc-testimonial-widget-rslides-pager li {border: none !important;}

.bc-testimonial-widget ul.bc-testimonial-widget-rslides {position: relative; overflow: hidden; width: 100%;}
.bc-testimonial-widget ul.bc-testimonial-widget-rslides li {-webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0;}
.bc-testimonial-widget ul.bc-testimonial-widget-rslides li:first-child {position: relative; display: block;}
.bc-testimonial-widget .bc-testimonial-widget-text {font-size: 1.1em;}
.bc-testimonial-widget h5.bc-testimonial-widget-name {font-size: 1em; font-weight: normal; font-style: normal;margin: 0;}

.bc-testimonial-widget ul.bc-testimonial-widget-rslides-pager {display: inline-block;}
.bc-testimonial-widget ul.bc-testimonial-widget-rslides-pager li {display: inline-block; margin: 5px; width: 48px; height: 48px;}
.bc-testimonial-widget ul.bc-testimonial-widget-rslides-pager li img {width: 100%; border-radius: 50%; border: 1px solid #f9f9f9; filter: alpha(opacity=40); opacity: .4;}
.bc-testimonial-widget ul.bc-testimonial-widget-rslides-pager li.bc-testimonial-widget-rslides_here img {border: 1px solid #ccc; filter: alpha(opacity=100); opacity: 1;}
