
      .nos-logo {
        height: 3.25rem;
        width: 12rem;
      }

      @media (min-width: 576px) {
        .nos-logo {
          height: 3.75rem;
          width: 12rem;
        }
      }

      @media (min-width: 769px) {
        .nos-logo {
          height: 5rem;
          width: 15rem;
        }
      }

      .nos-nav {
        background-color: rgba(255,255,255);
        border-color: rgba(229,229,229);
        display: flex;
        flex-grow: 1;
        border-bottom-width: 1px;
        outline: none;
      }
    