/* 2019 Homepage V1 Edits */

.page-template-home-2019 .owl-carousel .owl-wrapper {
	display: flex !important;
}

.page-template-home-2019 .owl-carousel .owl-item img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    max-width: initial !important;
}

.page-template-home-2019 .owl-carousel .item:after {
    content: '';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.4);
}

.page-template-home-2019 .owl-carousel .woc-caption-wrapper {
	z-index: 99;
}

.page-template-home-2019 .btn,
.page-template-home-2019-v2 .btn {
	transition: all .3s ease-in-out;
}

.page-template-home-2019 .btn:hover,
.page-template-home-2019-v2 .btn:hover {
    background: #b3babf !important;
    color: #333 !important;
}

.ccm-toolbar-visible .page-template-home-2019,
.ccm-toolbar-visible .page-template-home-2019-v2 {
	padding-top: 48px;
}

.ccm-toolbar-visible div.ccm-page header {
	margin-top: 48px;
}

.page-template-home-2019 header.navbar-fixed-top .socialdskbx ul,
.page-template-home-2019-v2 header.navbar-fixed-top .socialdskbx ul {
	text-align: left;
	padding: 1em 0;
}

.page-template-home-2019 .socialdskbx ul li,
.page-template-home-2019-v2 .socialdskbx ul li {
	margin: 0; padding: 0;
}

.socialdskbx ul li .fa {
	font-size: 1.4em;
	margin-right: .5em;
}

.page-template-home-2019 header,
.page-template-home-2019-v2 header {
	padding: 1em 2em !important;
	background: rgba(255,255,255,.95) !important;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
}

.page-template-home-2019 .headerrgtbx,
.page-template-home-2019-v2 .headerrgtbx {
	justify-content: flex-end;
}

.panel-navi {
	line-height: 2;
	padding-top: 2em;
	/*background: #48186c;*/
	display: none;
}

.panel-navi .navi-header {
	text-transform: uppercase;
	font-size: 1.2em;
	border-bottom: #333 1px solid;
}

.panel-navi .navi-item {
	position: relative;
	display: block;
}

.page-template-home-2019 .search-icon .fa,
.page-template-home-2019-v2 .search-icon .fa,
.page-template-home-2019 .ham-menu .fa {
	margin-right: 1em;
	font-size: 1.6em;
}

.page-template-home-2019 .search-row,
.page-template-home-2019-v2 .search-row {
	display: none;
}

.search-row input {
	margin-bottom: 1em;
}

.page-template-home-2019 .saerchdskbx,
.page-template-home-2019-v2 .saerchdskbx {
	margin: 0;
    padding: 1em 1em 0;
}

.page-template-home-2019 .slidebx,
.page-template-home-2019-v2 .slidebx {
	margin-bottom: 0;
	height: 440px;
	overflow: hidden;
	position: relative;
}

.page-template-home-2019 .slidebx img,
.page-template-home-2019-v2 .slidebx img {
	width: 100%;
	height: auto;
	position: absolute;
}

.issues-header {
	text-align: center;
}

.issues-footer {
	padding: 2em 0;
	text-align: center;
}

.issues-header h2 {
	padding-bottom: 0;
	margin-top: 1em !important;
	margin-bottom: 10px !important;
	text-align: center;
	font-weight: 300 !important;
	text-transform:capitalize !important;
	font-size: 2.2em !important;
}

.issues-header i.fa {
	margin-bottom: .5em;
}

.promo-header h2 {
	padding-bottom: 10px !important;
	text-align: left;
	font-weight: 300 !important;
	text-transform:none !important;
	font-size: 1.4em !important;
}

#issues {
  display: flex;
  flex-wrap: wrap;
}

#issues .col {
  flex: 1 0 18%; /* The important bit. This percentage decides your columns.
 The percent can be px. It just represents your minimum starting width.
  */
  margin: 0;
  height: 250px;
  color: white;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  overflow: hidden;
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.page-template-home-2019-v2 #issues .col {
	margin: 2px;
}

#issues .col.health {
	background-image: url('https://1199testing.com/application/files/5015/4950/1804/1199-seiu-issue-healthcare.png');
}
#issues .col.housing {
	background-image: url('https://1199testing.com/application/files/4315/4950/2249/1199-seiu-issue-housing.png');
}
#issues .col.environment {
	background-image: url('https://1199testing.com/application/files/5115/4950/6524/1199-seiu-issue-environment.png');
}
#issues .col.eco-justice {
	background-image: url('https://1199testing.com/application/files/8915/4950/6523/1199-seiu-issue-eco-justice.png');
}
#issues .col.immigration {
	background-image: url('https://1199testing.com/application/files/4415/4950/6516/1199-seiu-issue-immigration.png');
}
#issues .col.lgbtq {
	background-image: url('https://1199testing.com/application/files/4615/4950/6522/1199-seiu-issue-lgbtq.png');
}
#issues .col.peace {
	background-image: url('https://1199testing.com/application/files/2615/4950/6521/1199-seiu-issue-peace.png');
}
#issues .col.racial {
	background-image: url('https://1199testing.com/application/files/5415/4950/6520/1199-seiu-issue-racial.png');
}
#issues .col.democracy {
	background-image: url('https://1199testing.com/application/files/7015/4950/6518/1199-seiu-issue-democracy.png');
}
#issues .col.women {
	background-image: url('https://1199testing.com/application/files/4015/4950/6515/1199-seiu-issue-women.png');
}

#issues .col {
	background-color: #361857;
	background-blend-mode: multiply;
	transition: all .3s ease-in-out;
}

.page-template-home-2019-v2 #issues .col {
	background-color: #ffd801;
	background-blend-mode: luminosity;
	transition: all .3s ease-in-out;
}

#issues .col:hover {
	background-color: #a261e7;
	background-blend-mode: multiply;
}

.page-template-home-2019-v2 #issues .col:hover {
	background-color: #ffdf2b;
	background-blend-mode: multiply;
}

#issues .col h4 a {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(55, 24, 88, 0.4);
	font-size: 1.3em;
	width: 100%;
	padding: 50% 5%;
	color: #fff;
	transition: all .3s ease-in-out;
}

#issues .col h4 a:hover {
	text-decoration: none !important;
	background: rgba(55, 24, 88, 0);
}

.promo-wrap {
	padding: 2em 0;
}

.promo-wrap.news {
	padding: 1em 0;
}

.promo p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: #41413f;
    font-size: 1.65rem;
    line-height: 1.85em;
}

.promo-wrap button,
.issues-header button,
.issues-footer button {
	color: #fff !important;
}

.issues-header button {
	padding: 10px 20px 0em !important;
}

.join-wrap button,
.join-wrap a.btn {
	float: right;
	margin-top: 20%;
	background: #ffd801 !important;
	color: #333 !important;
}

.news a.btn,
a.btn.btn-white {
	color: #fff;
}

.news-grid a.btn {
	width: 100%;
	margin-bottom: 1em;
}

.page-template-home-2019-v2 .join-wrap button {
	float: right;
	margin-top: 0 !important;
	position: absolute;
	bottom: 0;
	right: 0;
}

.page-template-home-2019-v2 .join-wrap .panel {
	min-height: 400px;
}

.join-wrap {
	background: url('https://1199testing.com/application/files/3015/4958/3026/blurry.jpg') center no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.news h3 {
    font-weight: 300 !important;
    text-transform: capitalize !important;
    font-size: 1.2em !important;
    color: #333 !important;
    border-top: #333 2px solid;
    padding-top: .5em;
    font-weight: 300 !important;
}

.news h3 a {
    font-weight: 500 !important;
}

.news a.news-grid {
	font-weight: 700 !important;
}

.mag h3 {
	font-size: 1.8em !important;
}

.panel {
	border-radius: 0;
	position: relative;
}

.panel-body {
	padding: 4em 4em 2em;
}

.promo-wrap .panel h1 {
    position: absolute;
    top: -10px;
    background: #eee;
    padding: .2em 1em;
    font-size: 1.2em;
}

.mag-thumb {
	height: 200px;
	max-height: 200px;
	overflow: hidden;
	box-shadow: 7px 7px 2em rgba(0, 0, 0, 0.3);
	margin-bottom: 1em;
	position: relative;
	display: flex !important;
}

.feature .mag-thumb {
	height: 400px;
	max-height: 400px;
}

.mag-thumb img {
	min-width: 100%;
	width: auto;
	min-height: 100%;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    max-width: initial !important;
}

.page-template-home-2019 footer,
.page-template-home-2019-v2 footer {
	width: 100%;
	max-width: 100%;
	background: #ffd801;
	padding-top: 1em;
}

.page-template-home-2019 footer .copyright,
.page-template-home-2019-v2 footer .copyright {
  text-align: left;
  padding: 1em 0;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
	.page-template-home-2019-v2 ul.nav {
		display: block;
		padding-top: 1em;
	}
}

@media only screen and (max-width: 768px) {
	.page-template-home-2019 header {
		overflow: unset;
		padding: .5em .25em !important;
	}
	body.is-menu-open .page-template-home-2019 header .headerbx {
		position: unset;
	}
	.page-template-home-2019 .panel-navi,
	.page-template-home-2019 .header-social {
		display: none;
		background: #fff;
	}
	.page-template-home-2019 .socialdskbx ul {
	}
	#issues .col {
	  flex: 1 0 38%; /* The important bit. This percentage decides your columns.
	 The percent can be px. It just represents your minimum starting width.
	  */
	}
	.page-template-home-2019 footer .copyright {
		text-align: center;
	}
	.page-template-home-2019 .item .woc-caption-holder {
    	max-width: 100% !important;
		padding-top: 3rem !important;
	}
	.page-template-home-2019 .item .woc-caption-holder h1 {
	    font-size: 2rem;
	    line-height: 1;
	}
	/*.page-template-home-2019 .owl-carousel .item img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-height: 100%;
    max-width: 200% !important;
    width: auto !important;*/
}
}

@media only screen and (max-width: 670px) {
	#issues .col {
	  flex: 1 0 100%; /* The important bit. This percentage decides your columns.
	 The percent can be px. It just represents your minimum starting width.
	  */
	}
}
