/* HTML Tag Redefinition */
html,
body {
    height: 100%;
}

body {
    /* customize_background */
    background: #ffffff;
    font-family: 'Montserrat', sans-serif !important;
    /* customize_background */
    padding: 0;
    margin: 0;
}

img {
    border: 0
}

a:link {
    color: #46166b;
    cursor: pointer;
    font-weight: 600;
}

a:visited,
a:hover {
    color: #46166b;
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

ul {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 1px solid #ccc;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.container {
    max-width: 1098px;
    margin: 0 auto;
    display: block;
}

.clearfix {
    clear: both;
}

.headerbx {
    float: left;
    width: 100%;
    padding-top: 18px;
}

.headerbx .header-logo {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.headerbx .header-social {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.socialdskbx ul li {
    margin-right: 3px;
    display: inline-block;
}

.socialdskbx ul li:last-child {
    margin-right: 0;
}

.socialdskbx ul li img {
    width: 32px;
    height: 32px;
    max-width: 32px;
}

.inscrhbxs {
    float: left;
    width: 100%
}

#searchform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

header {
    padding: 0 !important;
}

input.s {
    border: 1.5px solid #c7ccd0;
    float: left;
    width: auto;
    font-size: 13px;
    height: 36px;
    margin: 0 -1px 0 0;
    border-radius: 0;
    padding: 0 5px;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.bcs-searchbox {
    width: calc(100% - 130px) !important;
}

#searchsubmit,
.bcs-searchbox-submit {
    border: 0 none;
    cursor: pointer;
    height: 36px !important;
    position: relative;
    width: 100px !important;
    z-index: 1;
    background-color: #46166b !important;
    border-color: #46166b !important;
    color: #fff !important;
    text-transform: uppercase;

}

.searchsubmit:before,
.bcs-searchbox-submit:before {
    content: "Search";
    text-transform: uppercase;
}

.headerlftbx {
    width: 100%;
}

.headerrgtbx {
    padding: 5px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.socialdskbx {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.saerchdskbx {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin: 0 0 0 10px;
    padding: 6px 0;
}

.menubxs {
    position: relative;
}

.menubxs ul {
    text-align: right;
    margin: 0 0 0 0
}

.menubxs ul li {
    position: relative;
    display: inline-block;
    font-weight: 600;
    padding: 0 18px;
    text-transform: uppercase;
}

.menubxs ul li:last-child {
    padding: 0 0 0 18px;
}

.menubxs ul li a {
    padding: 0 0 15px;
    display: block;
    color: #46166b;
    text-decoration: none;
    font-weight: 600;
}

.menubxs ul li a.nav-selected,
.menubxs ul li a:hover,
.menubxs ul li a:focus {
    color: #b3babf;
    background: inherit;
}

.menubxs ul li>ul {
    display: none;
    left: 0;
    position: absolute;
    z-index: 9999;
    top: 100%;
    width: 170px;
}

.menubxs ul li:last-child>ul {
    left: auto;
    right: -15px;
}

.menubxs ul li:hover>ul {
    display: block;
}

.menubxs ul li>ul li {
    text-transform: capitalize;
    display: block;
    background: #46166b;
    padding: 0;
    text-align: left;
    font-size: 15px;
}

.menubxs ul li>ul li:last-child {
    padding: 0;
}

.menubxs ul li>ul li:last-child a {
    padding: 10px 15px;
}

.menubxs ul li>ul li:hover,
.menubxs ul li>ul li.nav-path-selected {
    background: #b4b3b0;
}

.menubxs ul li>ul li a:hover,
.menubxs ul li>ul li a.nav-path-selected {
    color: #46166b;
}

.menubxs ul li>ul li a {
    color: #fff;
    display: block;
    padding: 10px 15px;
}

.menubxs ul li>ul li:last-child>ul {
    left: 170px;
    right: 0;
}

.menubxs ul li>ul li>ul {
    display: none;
    left: 170px;
    position: absolute;
    top: 0%;
    width: 170px;
}

.menubxs ul li>ul li:hover>ul {
    display: block;
}

.menubxs ul li>ul li>ul li {
    display: block;
    background: #b4b3b0;
    padding: 0;
}

.menubxs ul li>ul li>ul li:hover,
.menubxs ul li>ul li>ul li.nav-path-selected {
    background: #46166b;
}

.menubxs ul li>ul li>ul li a:hover,
.menubxs ul li>ul li>ul li a.nav-path-selected {
    color: #fff;
}

.menubxs ul li>ul li>ul li:last-child>ul {
    left: 170px;
    right: 0;
}

.ccm-image-slider-text {
    /* bottom: 1rem !important; */
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    bottom: 10px;
    left: 0;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

div.ccm-page .ccm-image-slider-container .ccm-image-slider-text h2 {
    color: #46166b;
    background: rgba(255, 2555, 255, 0.70);
    text-transform: uppercase;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 0 20px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
}

.ccm-image-slider-text h3 span {
    text-transform: uppercase;
}

footer {
    background: transparent;
    max-width: 1067px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

footer .links {
    padding: 20px 20px 0 20px;
    background-color: #ffd801;
}

footer .links .row {}

footer .list-group .list-group-item {
    background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
    padding: 5px 7.5px;
    font-weight: 600;
    font-size: 1.25rem;
}

footer .list-group .list-group-item:hover {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

footer .links .social,
footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .links .social {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: right;
}

footer .copyright {
    text-align: right;
}

.leftfoot p {
    margin: 0;
    color: #41413f;
    font-size: 11.25px;
    font-weight: 500;
}

.rightfoot ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

.rightfoot ul li {
    vertical-align: top;
    display: inline-block;
    font-size: 11.25px;
    font-weight: 500;
    line-height: 12px;
    padding: 0 0 0 11px;
}

.rightfoot ul li a {
    border-left: 1px solid;
    color: #41413f;
    padding: 0 0 0 10px;
}

.rightfoot ul li a:hover,
.rightfoot ul li a:focus {
    background: inherit;
}

.rightfoot ul li:first-child a {
    border-left: 0;
}

.threebxs {
    float: left;
    padding: 15px 0;
    width: 100%;
}

.frstbx {
    text-align: center;
    padding: 9.5px 10px;
    background: url(../images/backimgbx.png) no-repeat bottom right #46166b;
    line-height: 20px;
    text-decoration: none;
    color: #fdfdfc !important;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
}

.secondbx {
    padding: 9.5px 10px;
    margin: 0 auto;
}

.thirdbx {
    padding: 9.5px 10px;
    float: right;
}

.hoverbx {
    display: none;
    text-align: center;
    background: url(../images/hvbckimg.png) no-repeat bottom right #afb6bb;
    width: 100%;
    padding: 9.5px 10px;
    line-height: 20px;
    text-decoration: none;
    color: #fdfdfc !important;
    font-size: 20px;
    text-transform: uppercase;
}

.hoverdiv:hover .frstbx {
    display: none;
}

.hoverdiv:hover .hoverbx {
    display: block;
}

.hoverbx a {
    color: #46166b !important;
    text-decoration: none;
}

.hoverdiv a:hover,
.hoverdiv a:focus {
    text-decoration: none !important;
}

.threetabbx {
    padding-bottom: 30px;
    border-top: 2px solid #afb6bb;
}

.threetabbx #secndtab {
    width: 100%;
    margin: 0 auto;
}

.threetabbx #firstab {
    width: 100%;
    float: left;
}

.threetabbx #thirdtab {
    width: 100%;
    float: right;
}

.threetabbx .nav-tabs {
    border-bottom: 0;
}

.threetabbx #myTabs>.newsbx {
    float: left;
    width: 28%;
}

.threetabbx #myTabs>.strybx {
    float: left;
    padding: 0 8%;
    width: 44%;
}

.threetabbx #myTabs>.presntnbx {
    float: right;
    width: 28%;
}

.threetabbx #myTabs a {
    outline: none;
    color: #7f7f7f;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 0 10px;
    border-bottom: 6px solid transparent;
}

.threetabbx #myTabs .active a:hover,
.threetabbx #myTabs .active a {
    color: #46166b;
    border-bottom: 6px solid #46166b;
}

.ltnwsbx {
    float: left;
    width: 50%;
}

.ltnwsbx p {
    color: #46166b;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.nwslctbx {
    float: left;
    width: 50%;
}

.nwslctbx ul {
    text-align: right;
}

.nwslctbx ul li {
    padding: 0 10px;
    display: inline-block;
}

.nwslctbx ul li:last-child {
    padding: 0 0 0 10px;
}

.nwslctbx ul li span {
    color: #46166b;
    font-size: 13.75px;
    padding-left: 7px;
    text-transform: uppercase;
    vertical-align: middle;
}

.threetabbx .tab-content {
    padding-top: 40px;
}

.threetabbx .frsttbcntbx {
    margin: 0 auto;
}

select.stateslbx {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0) url("../images/arrow-img.png") no-repeat scroll 95% center;
    border: 1px solid #b0b7bc;
    color: #46166b;
    font-size: 13.75px;
    padding: 3px 5px;
    margin: 5px 0 0;
    float: left;
    text-transform: uppercase;
    width: 100%;
    text-indent: 0;
}

select.stateslbx option {
    padding: 0 5px;
}

/*select.stateslbx optgroup{
    padding:0 10px;
}
*/
.newsimgbox img {
    width: 100% !important;
}

.newsimgbox h4 {
    font-size: 20px !important;
}

.nwscntbxs {
    overflow: auto;
}

.nwscntbxs ul {
    margin: 0 0;
}

.nwscntbxs ul li {
    clear: both;
    display: block;
    vertical-align: center;
}

.nwscntbxs ul li img {
    margin: 0 10px 0 0;
    float: left;
}

.lfttabcntbx {
    width: 55%;
    float: left;
}

.rgttabcntbx {
    width: 45%;
    float: left;
}

.linknwsbx {}

.linknwsbx a {
    outline: none;
    background: #361857;
    text-decoration: none;
    color: #ffffff !important;
    display: inline-block;
    font-size: 12.5px;
    padding: 6px 10px;
    text-transform: uppercase;
}

.linknwsbx a:hover {
    outline: none;
    background: #b3babf;
}

.lftstrycntbx {
    width: 42.5%;
    float: left;
}

.rgtstrycntbx {
    width: 42.5%;
    float: right;
}

.strycnbx img {
    margin: 0 auto;
    display: block;
}

.strycnbx p span {
    color: #46166b;
    display: block;
    margin: 0 0 5px;
    text-transform: uppercase;
}

.strycnbx p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 13.75px;
    color: #41413f;
    margin: 15px 0 0;
}

.strycnbx p a {
    color: #46166b;
    font-weight: 600;
    text-decoration: none;
}

.strycnbx p a:hover {
    color: #b3babf;
}

.linkstrybx {
    text-align: right;
}

.frtclndrbx {
    float: left;
    width: 33%;
    padding: 0 1% 0 0;
}

.scdclndrbx {
    float: left;
    width: 37%;
    padding: 0 2.5%;
}

.thrdclndrbx {
    float: left;
    width: 30%;
    padding: 0 0 0 1%;
}

.scdclndrbx ul li {
    clear: both;
    display: block;
    float: left;
    margin: 0 0 10px;
    width: 100%;
}

.scdclndrbx ul li:last-child {
    margin: 0 0;
}

.datebx {
    float: left;
    width: 25%;
    color: #46166b;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.evntlbx {
    float: right;
    width: 75%;
}

.evntlbx span {
    letter-spacing: -0.7px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    line-height: 20px;
    font-size: 15px;
    color: #525250;
}

.evntlbx p {
    letter-spacing: -0.7px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #525250;
    padding: 0;
    margin: 0;
}

.evntlbx a {
    letter-spacing: -0.7px;
    font-family: 'Montserrat', sans-serif;
    color: #59277e !important;
    line-height: 20px;
    font-size: 15px;
    text-decoration: underline;
}

.evntlbx .linknwsbx a {
    padding: 4px 10px;
    color: #fff !important;
    text-decoration: none;
}

.thrdclndrbx .k-footer {
    display: none !important;
}

.thrdclndrbx .k-widget.k-calendar {
    border: 0 !important;
}

.k-calendar .k-today .k-link {
    color: #fff;
}

.fulltitlebx {
    height: auto;
    width: 100%;
    float: left;
    background-color: #929292;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ccm-page .lfttitlbx {
    z-index: 1;
    position: relative;
    width: 100%;
    background: #ffd801;
    display: block;
    float: left;
    padding-left: 20px;
    height: 58px;
}

.ccm-page .lfttitlbx::after {
    background-color: transparent;
    height: 0;
    width: 0;
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    border-right: 58px solid #46166b;
    border-top: 58px solid transparent;
}

.ccm-page .lfttitlbx h1 {
    padding: 0 10px;
    width: 100%;
    height: auto;
    color: #46166b;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 38px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.ccm-page .rgttitlbx {
    float: left;
    z-index: 1;
    display: none;
}

.rgttitlbx>img {
    height: 100%;
    position: absolute;
    width: 147px;
}

.ccm-page .insfullpgbx {
    margin: 20px 0;
    float: left;
    width: 100%;
}

.ccm-page .insfullpgbx .lft_colcontent {}

.ccm-page .insfullpgbx .cldsgnbx h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 30px;
    color: #4f2683;
    font-size: 18.75px;
    text-transform: uppercase;
    font-weight: 600;
}

.ccm-page .insfullpgbx .blgpstbx h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 20px;
    color: #4f2683;
    font-size: 18.75px;
    text-transform: uppercase;
    font-weight: 600;
}

.ccm-page .insfullpgbx .cldsgnbx p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: #41413f;
    font-size: 1.65rem;
    line-height: 1.85em;
}

.ccm-page .blgpstbx .post-content {
    /* padding: 0 30px; */
}

.ccm-page .post-content p {
    line-height: 1.65em;
    font-size: 1.65rem;
}

.ccm-page .post-content img {
    /* margin-left: 1.25em; */
    /* margin-right: 1.25em; */
    /* margin: 0 1.25em 0.55em 1.25em !important; */
}

.ccm-page .insfullpgbx .insidetmpbx .frstbx,
.ccm-page .insfullpgbx .insidetmpbx .hoverbx {
    float: none;
    width: 100%;
}

.ccm-page .insfullpgbx .insidetmpbx .insfrmdbxs {
    margin: 0 0 15px;
}

.ccm-page .insfullpgbx .crstbxs {
    padding: 15px 0 30px 0;
    margin: 0 0;
}

.ccm-page .insfullpgbx .crstbxs1 {
    padding: 30px 0 0;
    margin: 0 0;
}

.ccm-page .insfullpgbx .crstbxs1 h5 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0;
    color: #46166b;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.ccm-page .insfullpgbx .crstbxs ul {
    margin: 0;
    padding: 0;
}

.ccm-page .insfullpgbx .crstbxs ul li {
    display: block;
    margin: 0 0 15px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.ccm-page .insfullpgbx .crstbxs ul li a {
    text-decoration: none;
    display: block;
    color: #41413f;
    padding: 0;
    background: inherit;
}

.ccm-page .insfullpgbx .crstbxs ul li a:hover {
    color: #b3babf;
}

.ccm-page .insfullpgbx .crstbxs ul li>ul {
    margin: 10px 0 0;
}

.ccm-page .blgpstbx .ccm-block-page-list-page-entry-horizontal {
    margin-bottom: 0;
    border-bottom: 0;
}

.ccm-page .blgpstbx .ccm-block-page-list-title {
    font-family: 'Montserrat', sans-serif;
    line-height: 22.5px;
    font-size: 16.25px;
    text-transform: uppercase;
    font-weight: 600;
}

.ccm-page .blgpstbx .ccm-block-page-list-title a {
    color: #48186c;
    text-decoration: none;
    word-wrap: break-word;
}

.ccm-page .blgpstbx .ccm-block-page-list-title a:hover {
    color: #b3babf;
}

.ccm-page .blgpstbx .ccm-block-page-list-description {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: #41413f;
    font-size: 16.25px;
    line-height: 22.5px;
}

.ccm-page .blgpstbx .ccm-block-page-list-page-entry-horizontal .ccm-block-page-list-page-entry-thumbnail {
    height: 110px;
    max-width: 110px;
    width: auto;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin: 0 8px 1px 0;
}

.ccm-page .blgpstbx .ccm-block-page-list-page-entry-horizontal .ccm-block-page-list-page-entry-thumbnail img {
    height: 110px;
    width: auto;
    max-width: inherit;
}

.ccm-page .blgpstbx ul.pagination {
    display: block;
    text-align: right;
    margin: 0;
    border: 0;
    border-radius: 0;
}

.ccm-page .blgpstbx ul.pagination>li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 5px;
}

.ccm-page .pagination>li.prev span,
.ccm-page .pagination>li>span,
.ccm-page .pagination>li>a,
.ccm-page .pagination>li.next a,
.ccm-page .pagination>li.next span {
    border: 0;
    color: #41413f;
    padding: 0;
}

.ccm-page .pagination>li.prev a,
.ccm-page .pagination>li.next a {
    color: #41413f;
    border: 0;
    padding: 0;
}

.ccm-page .pagination>li.active span,
.ccm-page .pagination>li.next.disabled a,
.ccm-page .pagination>li.next.disabled span,
.ccm-page .pagination>li.prev.disabled span,
.ccm-page .pagination>li.prev.disabled a {
    color: #41413f;
}

.ccm-page .lft_colcontent .ccm-block-page-title-byline {
    margin-bottom: 0;
    border-bottom: 0;
}

.ccm-page .lft_colcontent .ccm-block-page-title-byline h1.page-title {
    padding-top: 0;
    margin-top: 0;
}

.snglpstbx p img {
    margin-bottom: 10px;
}

.snglpstbx p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: #41413f;
    font-size: 16.25px;
    line-height: 22.5px;
}

.ccm-page .lft_colcontent .sngltxtbx .ccm-block-page-title-byline h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: #41413f;
    font-size: 21.75px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 600;
}

.ccm-page .lft_colcontent .cldsgnbx h4 {
    margin: 0 0 15px;
    color: #46166b;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.ccm-page .lft_colcontent .cldsgnbx ul {
    margin: 0 0 25px;
    float: left;
    width: 100%;
}

.ccm-page .lft_colcontent .cldsgnbx ul li {
    float: left;
    margin: 0 0 15px;
    color: #41413f;
    display: inline;
    width: 33.3%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.ccm-page .rgt_colcontent .teldrtbx {
    padding: 0 0 0 20px;
}

.ccm-page .rgt_colcontent .teldrtbx h3 {
    margin: 0 0 20px;
    color: #46166b;
    text-align: center;
    font-size: 17.5px;
}

.ccm-page .rgt_colcontent .teldrtbx h4 {
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0;
    color: #46166b;
    font-size: 15px;
}

.ccm-page .rgt_colcontent .teldrtbx p {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 20px;
    color: #41413f;
    font-size: 15px;
}

.hoverdiv1 a {
    text-decoration: none;
}

.hoverdiv1 p {
    color: #41413f;
    padding: 0 0 0 40px;
    margin: 0;
    background: #afb6bb;
    font-size: 16.25px;
    line-height: 24.5px;
    width: 100% !important;
}

.prflimgbx {
    margin: 0 0 20px;
}

.prflimgbx p img {
    display: block;
    margin: 0 auto 10px;
}

.prflimgbx p {
    color: #41413f;
    margin: 0 0 0;
    text-align: justify;
    font-size: 15px;
    line-height: 20px;
}

.tellfrmbxs {
    margin: 20px 0;
}

.tellfrmbxs .field-text {
    width: 31.5%;
    float: left;
    margin-right: 2%
}

.tellfrmbxs .field-text input {
    border-radius: 0;
    border: 1px solid #a7a7a7;
    font-size: 12.51px;
    color: #41413f;
    width: 100%;
    height: 40px;
    ;
}

.tellfrmbxs .field-email {
    width: 33%;
    float: left;
}

.tellfrmbxs .field-email input {
    border-radius: 0;
    border: 1px solid #a7a7a7;
    font-size: 12.51px;
    color: #41413f;
    width: 33%;
    float: left;
    height: 40px;
    margin-right: 0;
    width: 100%;
}

.tellfrmbxs .field-textarea {
    margin: 5px 0 0;
    width: 100%;
    float: left;
}

.tellfrmbxs .field-textarea textarea {
    border-radius: 0;
    border: 1px solid #a7a7a7;
    font-size: 12.51px;
    color: #41413f;
    width: 33%;
    float: left;
    height: 140px;
    margin-right: 0;
    width: 100%;
}

.tellfrmbxs .form-actions {
    margin: 20px 0 0;
    float: left;
    width: 100%;
}

.tellfrmbxs .form-actions .btn {
    background: #46166b;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    float: right;
    padding: 3px 10px;
    text-transform: uppercase;
}

div.ccm-page hr {
    margin-top: 60px;
    margin-bottom: 60px;
    border-top: 1px solid #ececec;
}

div.ccm-page .nwslctbx1 {
    margin: 20px 0 0 0;
    float: left;
    width: 100%;
}

div.ccm-page .nwslctbx1 h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #46166b;
    font-size: 20px;
    float: left;
    font-weight: 600;
}

div.ccm-page .nwslctbx1 ul {
    float: right;
    text-align: right;
}

div.ccm-page .nwslctbx1 ul li {
    padding: 0 10px;
    display: inline-block;
}

div.ccm-page img {
    /*margin-left: auto;
     margin-right: auto;
    */
    width: auto;
    float: none;
}

.newsbx {
    overflow: hidden;
}

.newsbx img {
    height: 400px !important;
    width: auto !important;
    max-width: 10000% !important;
}

div.ccm-page .nwslctbx1 ul li:last-child {
    padding: 0 0 0 10px;
}

div.ccm-page .nwslctbx1 ul li span {
    color: #46166b;
    font-size: 13.75px;
    padding-left: 7px;
    text-transform: uppercase;
    vertical-align: middle;
}

.nwslctbx1 select.stateslbx {
    margin: 10px 0 0;
    width: 70%;
}

.fc-right .fc-button-group,
.fc-today-button {
    display: none !important;
}

.max-height-500px {
    height: auto;
    min-height: 500px;
    max-height: 500px;
}

.dsListEvents ul li {
    height: auto;
    padding: 0;
    background: inherit;
    border: 0;
    line-height: inherit !important;
}

.dsListEvents ul li p {
    text-transform: capitalize;
    border-bottom: 2px solid #525250;
    color: #525250;
    font-size: 14px;
    padding: 0;
    line-height: inherit !important;
    width: 100%;
    display: inline;
}

.dsListEvents ul li p.small {
    padding: 5px 0 0 !important;
    display: block;
    border-bottom: 0;
    color: #59277e !important;
    font-size: 13.5px;
    padding: 0;
}

.btn-group.ccm-block-calendar-event-list-controls {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.thrdclndrbx .fc-toolbar {
    position: relative;
}

.thrdclndrbx .fc-toolbar .fc-center {
    display: inline-block;
    left: 0;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.thrdclndrbx .fc-toolbar .fc-left {
    position: relative;
    width: 100%;
    z-index: 1;
}

.thrdclndrbx .fc .fc-toolbar>*>* {
    float: none;
}

.thrdclndrbx .fc-state-default.fc-corner-left {
    background: inherit;
    border: 0 none;
    border-bottom-left-radius: 0;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

.fc-state-default.fc-corner-right {
    background: inherit;
    border: 0 none;
    border-bottom-right-radius: 0;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

.thrdclndrbx .fc-button-group {
    display: block;
}

.thrdclndrbx .fc-next-button {
    float: right;
}

.ccm-page .thrdclndrbx .fc-toolbar .fc-center h2 {
    color: #46166b;
    font-size: 20px;
}

.ccm-page .thrdclndrbx .fc-basic-view tbody .fc-row {
    min-height: auto;
}

.ccm-page .thrdclndrbx .fc-day-grid-container.fc-scroller {
    height: auto !important;
}

.ccm-page .thrdclndrbx .fc-row .fc-content-skeleton {
    padding-bottom: 0;
}

.thrdclndrbx1 {
    width: 100%;
}

.ccm-page .col-sidebar .ccm-block-topic-list-wrapper,
.ccm-page .col-sidebar .ccm-block-page-list-wrapper {
    margin: 25px 0 !important;
}

.blgpstbx p {
    margin: 0 0 20px;
    color: #41413f;
    font-family: "Montserrat", sans-serif;
    font-size: 16.25px;
    line-height: 22.5px;
    text-align: justify;
}

.blgpstbx ul li {
    margin: 0 0 5px;
    color: #41413f;
    font-family: "Montserrat", sans-serif;
    font-size: 16.25px;
    line-height: 22.5px;
    text-align: justify;
}

.joinformbx {
    float: left;
    padding-top: 10px;
    width: 100%;
}

.joinformbx .field-text {
    width: 31.5%;
    float: left;
    margin-right: 2%;
}

.joinformbx .field-text input,
.joinformbx .field-email input,
.joinformbx .field-telephone input {
    border-radius: 0;
    border: 1px solid #a7a7a7;
    font-size: 12.51px;
    color: #41413f;
    width: 100%;
    height: 40px;
}

.joinformbx .field-select select {
    border-radius: 0;
    border: 1px solid #a7a7a7;
    font-size: 12.51px;
    color: #41413f;
    width: 100%;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../images/drop.png) no-repeat 95% center;
}

.joinformbx .field-email {
    width: 33%;
    float: left;
}

.joinformbx .field-telephone {
    width: 100%;
    float: left;
    margin-right: 0;
}

.joinformbx .field-select {
    width: 31.5%;
    float: left;
    margin-right: 2%;
}

.joinformbx .fields>div:nth-child(3n) {
    margin: 0;
    width: 33%;
}

.joinformbx .field-checkboxlist {
    float: left;
    width: 100%;
}

.joinformbx .field-checkboxlist .checkbox {
    width: 32.5%;
    display: inline-block;
}

.joinformbx .field-checkboxlist label {
    width: 100%;
}

label {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.joinformbx .field-datetime {
    float: left;
    width: 100% !important;
}

.joinformbx .form-actions {
    margin: 20px 0 0;
    float: left;
    width: 100%;
}

.ccm-page .joinformbx .btn {
    background: #46166b;
    border: 0 none;
    border-radius: 0;
    padding: 2px 20px;
    text-transform: uppercase;
}

.ccm-page .joinformbx .ccm-input-date-wrapper {
    margin-right: 20px;
}

.ccm-page .joinformbx .ccm-input-time-wrapper select {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    background: url("../images/drop.png") no-repeat scroll 95% center;
    margin: 0 4px;
    border-radius: 0;
    width: 80px;
    height: 30px;
    padding: 0 10px;
}

.ccm-page .joinformbx .ccm-input-date {
    height: 30px;
    border-radius: 0;
}

.eventdivbxs {
    margin: 20px 0 0;
    float: left;
    width: 100%;
}

.thrdclndrbx.thrdclndrbx1 {
    float: none;
}

.thrdclndrbx.thrdclndrbx1 h2 {
    color: #46166b;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: 600;
}

div.ccm-page .pagination>li.active span,
div.ccm-page .pagination>li>a {
    padding-top: 0;
    padding-bottom: 0;
}

div.ccm-page .pagination>li.next a,
div.ccm-page .pagination>li.next span {
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
    padding-right: 0;
}

div.ccm-page .pagination>li.prev span,
div.ccm-page .pagination>li.prev a {
    border-bottom-left-radius: 0;
    border-left: 0;
    border-top-left-radius: 0;
    padding-left: 0;
}

.fetimgbx {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 430px;
    margin-bottom: 20px;
}

.fetimgbx img {
    height: 430px;
    width: auto;
    max-width: 10000px !important;
    position: absolute;
}

td,
th {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 0 5px 5px;
    vertical-align: top;
}

div.ccm-page .btn {
    background: #48186c none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    font-weight: 600;
    padding: 10px 20px;
    text-transform: uppercase;
}

div.ccm-page .btn:hover {
    background: #b3babf;
}

.menubxs ul li.has-sub-menu>a {
    pointer-events: none;
    cursor: default;
}

@media (max-width:1350px) {
    .menubxs ul li>ul li>ul li:last-child>ul {
        left: auto;
        right: 170px;
    }
}

.slidebx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
}

.ccm-page .ccm-image-slider-container.ccm-block-image-slider-arrows .ccm-image-slider-inner,
.page-template-home .slidebx .ccm-image-slider-inner {
    width: 100% !important;
    height: 450px;
    overflow: hidden;
}

.page-template-home .slidebx .ccm-image-slider-inner img {
    min-width: 100%;
    max-width: inherit !important;
    width: auto;
    min-height: 450px;
}

div.ccm-page .ccm-image-slider-container {
    max-width: 1067px !important;
}

.fulltitlebx {
    max-width: 1067px !important;
    margin: 0 auto !important;
    float: inherit !important;
}

.threetabbx .nav-tabs {
    border-bottom: 2px solid #afb6bb !important;
}

.joinbx p a {
    color: #46166b !important;
}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 100%;
}

.jumbotron .youtubeBlock,
.jumbotron .vimeoVidWrap {
    display: block;
    min-width: 50%;
    margin-bottom: 15px;
}

.jumbotron img {
    float: right;
    /* padding: 0 15px 15px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
}

div.ccm-page .ccm-image-slider-container .ccm-image-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

div.ccm-page .ccm-image-slider-container {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 560px) {
    .logobx picture img {
        max-width: 100%;
    }
}

.fulltitlebx .lfttitlbx h1 {
    text-align: left;
}

.rgttitlbx img {
    width: 100px !important;
}

.page-template-home #calendarsdd .frtclndrbx p {
    font-size: 20px;
    color: rgb(70, 22, 107);
}

.ccm-block-page-title-byline .page-date,
.ccm-block-page-title-byline .page-author {
    display: none;
}

.story-image {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

div.fulltitlebx {
    height: auto !important;
}

.fulltitlebx,
div.ccm-page .ccm-image-slider-container,
div.ccm-page .lft_colcontent .blgpstbx .ccm-image-slider-container {
    max-width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

div.ccm-page .lft_colcontent .blgpstbx .ccm-image-slider-container .ccm-image-slider-inner {
    width: 100%;
}

.news_entry .thumbnail {
    padding: 0;
    width: auto;
    max-width: 32px;
    height: 32px;
    overflow: hidden;
    float: left;
    margin: 0 4px 4px 0 !important;
}

.news_entry .thumbnail img {
    width: 100%;
    max-width: 64px !important;
    min-height: 32px;
    height: auto;
}

.news_entry .text {
    float: left;
}

.form-actions {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
div.ccm-page h1,
div.ccm-page h2,
div.ccm-page h3,
div.ccm-page h4,
div.ccm-page h5,
div.ccm-page h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 10px auto;
    text-transform: uppercase;
}

div.ccm-page h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 38px;
    font-weight: 600;
}

.card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 10px 0 20px 0;
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card.no-border {
    border: none;
}

.card.hovercard {
    position: relative;
    width: 300px;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
}

.card .card-img {
    width: 100%;
    height: 300px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    overflow: hidden;
}

.card-img img {
    width: auto;
    min-width: 100%;
    height: 300px;
    max-width: 10000px !important;
}

.card .avatar {
    position: relative;
    top: -40px;
    margin-bottom: -40px;
}

.card .avatar img {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
}

.card .card-info {
    padding: 4px 0 10px 0;
}

.card .card-title {
    margin-bottom: 4px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card .card-info .card-title a {
    font-size: 24px;
}

.card .card-info .card-text {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.card .card-info a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

.card .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
}

.card .card-footer {
    padding: 0 20px;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.rslides img {
    min-width: 100%;
}

.rslides>li {
    width: 100% !important;
}

div.ccm-page .ccm-image-slider-container .ccm-image-slider .rslides li {
    max-height: 450px !important;
    position: relative;
}

body#leadership p[data-redactor-inserted-image] picture,
body#leadership p[data-redactor-inserted-image] {
    margin-left: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

body#leadership p[data-redactor-inserted-image] picture {
    margin-bottom: 10px;
}

body#leadership td,
body#leadership td p {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
}

body#leadership p[data-redactor-inserted-image] picture img,
body#leadership table td img {
    margin-bottom: 10px !important;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 100%;
    max-width: 260px;
    max-height: 300px;
}

body#leadership p[data-redactor-inserted-image] #leaders picture img {
    max-height: 300px;
}

.expand-one {
    width: auto !important;
    text-align: center;
    font-weight: 600;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

body#leadership main>.container>.row,
.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.align-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.align-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.align-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.justify-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.justify-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.justify-between {
    -webkit-box-align: space-between;
    -ms-flex-align: space-between;
    align-items: space-between;
}

.justify-around {
    -webkit-box-align: space-around;
    -ms-flex-align: space-around;
    align-items: space-around;
}

.justify-stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.col-content {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.col-sidebar {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

#HTMLBlock2577 {
    display: none;
}

table {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 300px;
}

table td {
    width: 25%;
}

.blgpstbx h2 {
    margin-bottom: 30px;
}

.blgpstbx .president-title {
    margin-bottom: 0 !important;
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    -webkit-transition: .25s ease;
    -o-transition: .25s ease;
    transition: .25s ease;
}

.read-more-wrap {
    height: 0;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state:checked~.read-more-wrap {
    height: auto;
}

.read-more-state~.read-more-trigger:before {
    content: 'Read Bio';
}

.read-more-state:checked~.read-more-trigger:before {
    content: 'Close';
}

.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
}

.td-table1 {
    width: 50%;
}