
#eurowidgetProduct ul li .img-container:hover img {opacity: 1!important;}
#eurowidgetProduct .photoslurp-gallery li{width: 320px!important;position: relative!important;left: 0px!important;top: 0px!important;margin-right: 20px!important;}
#eurowidgetProduct .img-container {max-width: 320px!important;max-height: inherit!important;height: auto;overflow: hidden!important;} 
#eurowidgetProduct .photoslurp-gallery li{min-width: 320px!important;overflow: hidden!important;}
#eurowidgetProduct  .ps-carousel-tpl .elastislide-horizontal{box-shadow: inherit!important;}
#eurowidgetProduct .elastislide-horizontal nav span.elastislide-prev{width: 22px!important;height: 67px!important;background: url(/arquivos/arrow-dark.png?v=636292885941500000) no-repeat!important; transform: rotate(180deg);left: -10px!important;}
#eurowidgetProduct .elastislide-horizontal nav span.elastislide-next{width: 22px!important;height: 67px!important;background: url(/arquivos/arrow-dark.png?v=636292885941500000) no-repeat!important;right: -10px!important;}
#eurowidgetProduct .ps-carousel-tpl .elastislide-wrapper:after, 
#eurowidgetProduct .ps-carousel-tpl .elastislide-wrapper:before{display: none!important;}
#eurowidgetProduct .photoslurp-images img{width: 100%!important; height: auto!important;transform: translate3d(0,0,0) scale(1.025);transition: all .6s cubic-bezier(.215,.61,.355,1);}
#eurowidgetProduct .photoslurp-images:hover img{transform: scale(1) translate3d(0,0,0); opacity: 1!important;}
#eurowidgetProduct .elastislide-carousel ul li .img-container{width: 100% !important;overflow: hidden!important;}
@media only screen and (max-device-width: 568px) and (min-device-width: 320px) and (orientation: portrait){
	#eurowidgetProduct .img-container {max-width: 100%!important;max-height: inherit!important;height: auto;}   
}