
  .cart-suggestions {
    width: calc(100% + 10px);
  }
  
  .cart-suggestions-card {
    width: 25%;
    margin-right: 10px;
  }
  
  .cart-suggestions-card a {
    text-decoration: none;
  }
  
  .cart-suggestions-card img {
    width: 100%;
    height: auto;
  }
  
  .cart-suggestions-card p {
    margin: 6px 0 0 0;
    width: 90%;
    color: rgba(var(--color-foreground),.75);
    line-height: 1.2rem;
  }
  
  .cart-suggestions-card p:hover {
    color: rgba(var(--color-foreground),1);
  }
  
  @media only screen and (max-width: 599px) {
    .cart-suggested-products {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
    }
    
	.cart-suggestions {
      width: fit-content;
    }

    .cart-suggestions-card {
      width: 120px;
      margin-right: 5px;
      margin-bottom: 10px;
    }	    

    .cart-suggested-products::-webkit-scrollbar {
      height: 4px;
    }
    
    /*scrollbar track*/
    .cart-suggested-products::-webkit-scrollbar-track {
      box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    }
    /*scrollbar handle*/
    .cart-suggested-products::-webkit-scrollbar-thumb {
      background-color: #000;
    }
    /*handle on hover*/
    .cart-suggested-products::-webkit-scollbar-thumb:hover {
      background:#555;
    }
  }
