@font-face {
  font-family: "INGMe";
  src: url("/wc/ing-cms-component-library/es6/public/assets/fonts/INGMeWeb-Regular.woff") format("truetype"); 
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'INGMe';
  src: url("/wc/ing-cms-component-library/es6/public/assets/fonts/INGMeWeb-Bold.woff") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "INGMeBold";
  src: url("/wc/ing-cms-component-library/es6/public/assets/fonts/INGMeWeb-Bold.woff") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "INGMeNarrow";
  src: url("/wc/ing-cms-component-library/es6/public/assets/fonts/INGMeNarrowWeb-Regular.woff") format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "INGMeNarrowBold";
  src: url("/wc/ing-cms-component-library/es6/public/assets/fonts/INGMeNarrowWeb-Bold.woff") format('woff');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}
