.centerX{position:relative;left:50%;transform:translateX(-50%)}.sepsecure,.sepsecure2,#footer,.header{overflow:hidden}.textcontent{font-size:13px;font-weight:500;color:#929292}.textcontent>img{max-width:100%;border-radius:5px;image-rendering:auto}.userselect{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}@media only screen and (max-width:1260px){#container>.content>.left{width:calc(100% - 332px)}#container>.content>.left>.news>.fix>ul>li{width:calc(50% - 4.1%);padding-bottom:10px}#container>.content>.left>.publicity{display:none}#container>.content>.left>.news{width:calc(100% - 40px)}#container>.content>.left>.values{width:calc(100% - 40px)}#container>.content>.left>.forum{width:calc(100% - 40px)}#container>.content>.left>.store{display:none}#container>.content>.left>.ranking{display:none}#container>.content>.left>.values>.fix>ul>li{width:calc(50% - 2%)}#container>.content>.left>.values>.fix>ul>li:nth-child(2n+1){margin-left:0}#container>.content>.left>.forum>.warning>.rules{display:none}#container>.content>.left>.forum>.fix>ul>li{width:calc(51.1% - 2.7%);margin-left:3.1%}#container>.content>.left>.forum>.fix>ul>li:nth-child(3n+1){margin-left:3.1%}#container>.content>.left>.forum>.fix>ul>li:nth-child(2n+0){margin-left:0}#container>.content>.left>.forum>.fix>ul>li:nth-child(1),#container>.content>.left>.forum>.fix>ul>li:nth-child(2){width:calc(51.1% - 3.1%);margin-left:0}#container>.content>.left>.forum>.fix>ul>li:nth-child(2){margin-left:4%}#container>.content>.left>.forum>.fix>ul>li:nth-child(3){width:100%;margin-left:0}#container>.content>.left>.gallery>.forlist,#container>.content>.left>.gallery>.ogg{width:calc(100% - 40px)}#container>.content>.left>.gallery>.bxgallery>ul{width:calc(100% - 40px);margin-left:20px}#container>.content>.left>.gallery>.bxgallery>ul>li{top:-30px;margin-top:30px;width:calc(54.05% - 8.1%)}#container>.content>.left>.gallery>.bxgallery>ul>li:nth-child(3){width:100%;margin-left:0}}@media only screen and (max-width:900px){#container>.content>.left>.publicity{display:none}#container>.content>.left>.news>.fix>ul>li{width:calc(100% - 4.1%)}#container>.content>.left{width:100%}#container>.content>.right{width:0;overflow:hidden;opacity:0}}@media only screen and (max-width:850px){#bxnewsart>.left{width:100%!important}#bxnewsart>.right{margin-top:0;position:relative;width:100%;background-color:rebeccapurple}}

/* RESPONSIVE */

@media screen and (max-width: 1320px) {
    #login_div {
        display: none;
    }
    #logMobile {
        display: block;
    }
}

@media screen and (min-width: 1321px) {
    .coMobile {
        display: none;
    }
    #logMobile {
        display: none;
    }
}

@media screen and (max-width: 1320px) {
    .coMobile {
        display: block;
    }
}

@media screen and (max-width: 1524px) {
    #indexRes>.topCommentHead {
        display: none;
    }
}

.user-mobile {
    border-right: 1px solid rgba(221,219,219,0.56);
    height: 84px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.user-mobile .input-btn {
    background-color: #fff;
    /* border-radius: 5px; */
    /* box-shadow: 0 1px 7px rgba(0,0,0,0.1); */
    color: #BBBDC4;
    line-height: 45px;
    height: 45px;
    display: flex;
    margin-right: 10px;
    border: 1px solid #e9ecef;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 20px;
}

.user-mobile .btn-spec {
    background-color: #fff;
    border-radius: 5px;
    color: #6D6C6C;
    line-height: 45px;
    padding: 9px;
    height: 45px;
    margin-left: 0;
    position: relative;
    margin-right: 20px;
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 23px;
    border: 1px solid #ecf0f1;
}

@media screen and (min-width: 1524px) {
    #mbMobile {
        display: none;
    }
    #mbOrdi {
        display: block;
    }
}

@media screen and (max-width: 1523px) {
    #mbMobile {
        display: block;
    }
    #mbOrdi {
        display: none;
    }
}

@media screen and (min-width: 1720px) {
    #artMobile {
        display: none;
    }
    #artOrdi {
        display: block;
    }
    #artPetit {
        display: none;
    }
}

@media screen and (max-width: 1719px) {
    #artMobile {
        display: block;
    }
    #artOrdi {
        display: none;
    }
    #artPetit {
        display: none;
    }
}

@media screen and (max-width: 842px) {
    #artMobile {
        display: none;
    }
    #artOrdi {
        display: none;
    }
    #artPetit {
        display: block;
    }
}

.artMargin {
    padding-left: 88px;
}

@media screen and (max-width: 1280px) {
    #articleMobile {
        padding-left: 0;
    }
    
    .artMargin {
        padding-left: 0;
    }
    
    #articleMobileG {
        display: none;
    }
}

@media screen and (max-width: 1380px) {
    
    #footerText {
        display: none;
    }
    
    #footerTextMob {
        display: block;
    }
}

@media screen and (min-width: 1381px) {
    #footerText {
        display: block;
    }
    
    #footerTextMob {
        display: none;
    }
}

/* RESPONSIVE */