body { color: #626262; background-color:#FFFFFF; }
a { color:  rgb(48, 196, 221); }
a:hover { color: #30c4dd; }

/* GLOBAL
**********************************************************************/
#order-opc .page-heading.step-num span { background: #141c23; }
.box { border-top: 1px solid #30c4dd; }
.price, #my-account ul.myaccount-link-list i { color: #30c4dd; }
#order-opc h2 span { background-color: #141c23; }
ul.step li.step_current { background: #ffffff; border: 1px solid #E5E5E5; }
ul.step li.step_current span { color: #30c4dd; }
ul.step li.step_done { background: #141c23; border: 1px solid #141c23; }
#layer_cart .layer_cart_product h2 { color: #30c4dd; }
.about-store .i-block { color: rgb(255, 255, 255); }
.about-store .offer-btn { background: #30c4dd; color: #fff; }
/* END ************************************************************/

/* BUTTONS
**********************************************************************/
.button.button-medium, .cart_block .cart-buttons a { color: #ffffff; background: #778087; }
.button.button-medium:hover, .cart_block .cart-buttons a:hover { color: #FFFFFF; background: #30c4dd; }
.button.button-medium.exclusive { color: #FFFFFF; background: #30c4dd;}
.button.button-medium.exclusive:hover { color: #FFFFFF; background: #141c23; }
.button.button-small span { color: #626262; background: rgb(243, 243, 243); }
.button.button-small span:hover { color: #FFFFFF; background: #30c4dd; }
/* END ************************************************************/

/* HEADER
**********************************************************************/
.header-top { background: #141c23; border-top: 2px solid #30c4dd; }
.header-top .user-info a, .header-top #contact-link a, .header-top .currencies-block .current, .header-top .languages-block .current { color: #FFFFFF; border-right: 1px solid #464646; border-left: 1px solid #464646; background: #141c23; }
.header-top .user-info a:hover, .header-top #contact-link a:hover, .header-top .currencies-block:hover .current, .header-top .languages-block:hover .current { background: #111214; text-decoration: none; color: #FFFFFF; }
.header-top .currencies-block ul, .header-top .languages-block ul { background: #ffffff; border: 1px solid #EDEDED; border-top: 2px solid #30c4dd; }
.header-top .currencies-block ul li.selected, #currencies-block-top ul li:hover a, .header-top .languages-block ul li.selected, #languages-block-top ul li:hover a {}
.header-top .currencies-block .cur-arrow, .header-top .languages-block .lag-arrow { border-bottom: 5px solid #30c4dd; }
.header-top .social-top a { color: #aaaaaa; border-right: 1px solid #464646; border-left: 1px solid #464646; }
.header-top .social-top a:hover { color: #aaaaaa; background: #111214;  }

.header-container { background: #FFFFFF;}
.header-container .top-info { color: #141c23; }
.header-container .top-info .fa { color: #141c23; }
.shopping_cart .cart-line { border-left: 1px solid #141c23; }

.shopping_cart .cart-text { border-right: 1px solid #e6e6e6; color: #141c23; }
.shopping_cart .cart-top { color: #141c23; }
.shopping_cart .cart-top:hover { color: #30c4dd; }
.shopping_cart .in-cart { border: 1px solid #141c23; color: #141c23; }
.cart_block { border-top: 2px solid #30c4dd; }

.store-search .quick-search { background: #e6e6e6; color: #141c23; }
.store-search .quick-search.active { background: #30c4dd; color: #FFFFFF; }
.store-search .search-box { background: #ffffff; border-top: 2px solid #30c4dd; }
.ac_results { border: 1px solid #EDEDED !important; border-top: 2px solid #30c4dd !important; }
.ac_results li { border-bottom: 1px solid #EAEAEA !important; padding: 2px 0px 10px 0 !important; }
.ac_odd { background-color: #fff !important; }
.ac_over { background-color: #F9F9F9 !important; color: #000 !important; }
.ac_results li img { border: 1px solid #EAEAEA !important }
/* END ************************************************************/

/* BREADCRUM
**********************************************************************/
.breadcrumb { background: #f7f7f7; color: #131c24; }
.breadcrumb a { color: #131c24; }
.breadcrumb .arrow-left { border-right: 13px solid #f7f7f7; }
/* END ************************************************************/

/* MENU
**********************************************************************/
.sf-contener { background: #f1f1f1; }
.cat-title { color: #141c23; }
#index .home-link a{ color: #FFFFFF !important; background: #788088; }
.sf-menu > li > a { color: #141c23; }
.sf-menu > li.sfHover > a, .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a { color: #FFFFFF; background: #788088; }
.sf-menu > li > ul { border-bottom: 1px solid #30c4dd; background: #FFFFFF; }
.sf-menu > li > ul > li > a { color: #141c23; background: #f1f1f1; }
.sf-menu li li li a { border-bottom: 1px solid #EFEFEF; }
.sf-menu > li > ul > li > a:hover, .sf-menu li li li a:hover { color: #30c4dd; }
.custom-menu .offer { color: #FFFFFF; background: #141c23; }
.custom-menu .custom-arrow { border-top: 5px solid #141c23; }

@media only screen and (max-width: 767px) {
.sf-menu { background: #f1f1f1; }
}
/* END ************************************************************/

/* HEADINGs
**********************************************************************/
.page-heading, .page-subheading { color: #141c23; }
/* END ************************************************************/

/* SIDEBAR
**********************************************************************/
.block .title_block, .block h4 { border: 1px solid #e7e7e7; color : #141c23; background: #f9f9f9; }
.block .block_content { border: 1px solid #e7e7e7; padding-bottom: 1px;}
/* END ************************************************************/

/* FOOTER
**********************************************************************/
.footer-container { background: #141c23; color: #99a0a7; }
.footer-container h2 { color: #FFFFFF; }
.footer-container .line { border-bottom: 1px solid #30c4dd; }
.footer-container a { color: #99a0a7; }
.footer-container a:hover { color: #30c4dd; }
.footer-container .f-connect { background: #0f151a; }
.footer-container .f-bottom { background: #0f151a; }
.footer-container .contact-us i { color: #FFFFFF; }
.f-connect .container { color: #FFFFFF; }
.tweet_list li a { color: #30c4dd !important; }
.social-block a { color: #FFFFFF!important; }
.social-block a:hover { background: #18181a; color: #FFFFFF !important; }
.subscribe small { font-family: Roboto; }

.subscribe .button { background: #30c4dd; }
.subscribe .button:hover { background: #141c23; }

#back_top { color: #30c4dd; border: 1px solid #30c4dd; }
/* END ************************************************************/

/* BOTTOM INFO BLOCK
**********************************************************************/
.info-blocks2 { background: #f4f5f5; }
.info-blocks2 .i-block2 { background: #FFFFFF; }
.info-blocks2 .i-block2 i { color: #FFFFFF; background: #30c4dd; }
.info-blocks2 .i-block2 h3 { color: #141c23; }
.info-blocks2 .i-block2 p { color: #8b8b8b; }
/* END ************************************************************/

/* PRODUCT SLIDER
**********************************************************************/
.flex-products { background : rgba(0, 0, 0, 0.8); }
.flexslider .pro-image a { background-color : #FFFFFF; }
.flexslider .pro-title { color : #FFFFFF; }
.flexslider .new_price { color : #30c4dd; }
.flexslider .slide-btn { color : #FFFFFF; background-color : #30c4dd; }
.flexslider .pro-title a { color : #FFFFFF; }
.flexslider .pro-title a:hover { color : #30c4dd; }
.flexslider .desc, .flexslider .old_price { color : #626262; }
/* END ************************************************************/

/* CAROUSEL PRODUCT SLIDER
**********************************************************************/

/* END ************************************************************/

/* SLIDER
**********************************************************************/
.slider-content-01.style-01 .content h1, .slider-content-02.style-01 .content h1, .slider-content-03.style-01 .content h1 { color: #FFFFFF; }
.slider-content-01.style-01 .content h2, .slider-content-02.style-01 .content h2, .slider-content-03.style-01 .content h2 { color: #FFFFFF; }
.slider-content-01.style-01 .content h3, .slider-content-02.style-01 .content h3, .slider-content-03.style-01 .content h3 { color: #FFFFFF; }
.slider-content-01.style-01 .content h4, .slider-content-02.style-01 .content h4, .slider-content-03.style-01 .content h4 { color: #FFFFFF; }
.slider-content-01.style-01 .content span, .slider-content-02.style-01 .content span, .slider-content-03.style-01 .content span { border-bottom: 1px solid #FFFFFF; }
.slider-content-01.style-01 .content p, .slider-content-02.style-01 .content p, .slider-content-03.style-01 .content p { color: #FFFFFF; }
.slider-content-01.style-01 .shop-now, .slider-content-02.style-01 .shop-now, .slider-content-03.style-01 .shop-now { background: #30c4dd; color: #FFFFFF; }
.slider-content-01.style-01:hover .shop-now, .slider-content-02.style-01 .shop-now:hover, .slider-content-03.style-01 .shop-now:hover { color: #FFFFFF; background-color:  #141c23; }

.slider-content-01.style-02 .content h1, .slider-content-02.style-02 .content h1, .slider-content-03.style-02 .content h1 { color: #FFFFFF; }
.slider-content-01.style-02 .content h2, .slider-content-02.style-02 .content h2, .slider-content-03.style-02 .content h2 { color: #FFFFFF; }
.slider-content-01.style-02 .content span, .slider-content-02.style-02 .content span, .slider-content-03.style-02 .content span { border-bottom: 1px solid #FFFFFF; }
.slider-content-01.style-02 .content p, .slider-content-02.style-02 .content p, .slider-content-03.style-02 .content p { color: color: #FFFFFF;; }
.slider-content-01.style-02 .shop-now, .slider-content-02.style-02 .shop-now, .slider-content-03.style-02 .shop-now { background: #30c4dd; color: #FFFFFF; }
.slider-content-01.style-02 .shop-now:hover, .slider-content-02.style-02 .shop-now:hover, .slider-content-03.style-02 .shop-now:hover { color: #FFFFFF; background-color:  #141c23; }
/* END ************************************************************/

/* SPECIAL TOP BANNER
**********************************************************************/
.special-open, .special-open:hover { color: #FFFFFF; background: #30c4dd; }
.special-banner { background: #111214; }
.special-banner .sp-detail .sp-banner-content { background: rgba(39, 40, 45, 0.8); }
.special-banner .sp-detail h2 { color: #FFFFFF; }
.special-banner .sp-detail p { color: #FFFFFF; }
.special-banner .sp-detail span { background: #FFFFFF; color: #141c23; }
.special-banner .sp-detail a { background: #141c23; color: #FFFFFF; }
.special-banner .sp-detail a:hover { background: #30c4dd; color: #FFFFFF; }
/* END ************************************************************/

/* WD HOME BANNER
**********************************************************************/
.banners .banner-content-01 { background: rgba(48, 196, 221, 0.8); }
.banners .banner-content-01 h2 { color: #FFFFFF; }
.banners .banner-content-01 h3 { color: #FFFFFF; }
.banners .banner-content-01 p { color: #FFFFFF; }
.banners .banner-content-01 a { background: #141c23; color: #FFFFFF; }
.banners .banner-content-01 a:hover { background: #FFFFFF; color: #141c23; }
/* END ************************************************************/

/* HOME PROMO BLOCK
**********************************************************************/
.hp-promo { background: #FFFFFF; }
.hp-promo h1 { color: #2b3035; }
.hp-promo .line-01 { border-bottom: 1px solid #30c4dd; }
.hp-promo .hp-para { border-bottom: 1px solid #e3e2e2; }
.hp-promo p { color: #828282; }
.hp-promo h2 { color: #2b3035; }
.hp-promo span { background: #30c4dd; color: #FFFFFF; }
.hp-promo a { background: #141c23; color: #FFFFFF; }
.hp-promo a:hover { background: #30c4dd; color: #FFFFFF; }
/* END ************************************************************/

/* HOME BANNER BLOCK
**********************************************************************/
.hp-banner-01 { background: #141c23; }
.hp-banner-01 .hp-banner .hp-banner-content { background: rgba(48, 196, 221, 0.8); }
.hp-banner-01 .hp-banner h2 { color: #FFFFFF; }
.hp-banner-01 .hp-banner p { color: #FFFFFF; }
.hp-banner-01 .hp-banner span { background: #FFFFFF; color: #141c23; }
.hp-banner-01 .hp-banner a { background: #141c23; color: #FFFFFF; }
.hp-banner-01 .hp-banner a:hover { background: #FFFFFF; color: #141c23; }
/* END ************************************************************/

/* CAROUSEL
**********************************************************************/
.carousel-wrapper .carousel-title.style-01 h1 { background: #FFFFFF; color: #141c23; border-left: 16px solid #ffffff; border-right: 16px solid #ffffff; }
.carousel-wrapper .carousel-title .line-01 { border-bottom: 1px solid #E3E2E2; }
.carousel-wrapper .carousel-title .line-02 { border-bottom: 1px solid #30c4dd; }
.style-01 .carousel-control-prev, .style-01 .carousel-control-next { color: #e3e2e2; border: 1px solid #e3e2e2; }
.style-01 .carousel-control-prev:hover, .style-01 .carousel-control-next:hover { color: #30c4dd; border: 1px solid #e3e2e2; }
.brand-carousel .carousel-control-prev, .brand-carousel .carousel-control-next { color: #e3e2e2; }
.brand-carousel .carousel-control-prev:hover, .brand-carousel .carousel-control-next:hover { color: #30c4dd; }
.featured-products .container h2 { color: #828282; }
/* END ************************************************************/

/* HOME FEATURED PRODUCT BLOCK
**********************************************************************/
.hp-featured-block { background-color: #141c23; }
.hp-featured-block h3 { color: #30c4dd; }
.hp-featured-block h1 { color: #FFFFFF; }
.hp-featured-block .line { border-bottom: 1px solid #30c4dd; }
.hp-featured-block p { color: #d5d5d5; }
.hp-featured-block .btn-01 { border-right: 1px solid #30c4dd; }
.hp-featured-block .btn-01 span { background: #30c4dd; color: #FFFFFF; }
.hp-featured-block .btn-02 { background: #141c23; color: #FFFFFF; }
/* END ************************************************************/

/* HOME TOPSELLER PRODUCT BLOCK
**********************************************************************/
.hp-top-block h2 { background: #FFFFFF; border-bottom: 1px solid #e4e3e3; border-top: 1px solid #e4e3e3; }
.hp-top-block h2 a { color: #141c23; }
.hp-top-block h2 a:hover { color: #30c4dd; }
.hp-top-block h2:hover { background: #f9f9f9; }
/* END ************************************************************/

/* HOME TABS
**********************************************************************/
#tabs li { border-right: 1px solid #e4e3e3; }
#tabs li a { color: #141c23; background: ; }
#tabs li.active a, #tabs li a:hover { color: #30c4dd; background: ; }
/* END ************************************************************/

/* HOME RECENT BLOG POST
**********************************************************************/
.simpleblog-recent .ph_heading { color: #141c23; }
.simpleblog-recent .line-02 { border-bottom: 1px solid #30c4dd;}
.simpleblog-recent .post-content { background: rgba(39, 40, 45, 0.8); }
.simpleblog-recent .ph_heading2 { color: #626262; }
.simpleblog-recent .simpleblog-posts h2 a { color: #FFFFFF; }
.simpleblog-recent .post-content p { color: #dcdee0; }
.simpleblog-recent .post-content .post-additional-info { color: #dcdee0; }
.simpleblog-recent .post-content .post-additional-info { border-top: 1px solid #dcdee0; }
/* END ************************************************************/

/* NEWSLETTER BLOCK
**********************************************************************/
.subscribe h1 { color: #141c23; }
.subscribe .line-01 { border-bottom: 1px solid #30c4dd;}
.subscribe h2 { color: #828282; }
.subscribe .button { background: #30c4dd; color: #FFFFFF; }
.subscribe .button:hover { background: #141c23; color: #FFFFFF; }
/* END ************************************************************/

/* PAGINATION
**********************************************************************/
ul.pagination li.disabled span { color:#9F9F9F; background: #efefef; }
ul.pagination .current span { color: #ffffff; background-color: #30c4dd; }
ul.pagination a { color: #FFFFFF; background-color: #141c23; }
.btn-showall span { color: #FFFFFF; background-color: #141c23; }
.btn-showall:hover span, ul.pagination a:hover { color: #ffffff; background-color: #30c4dd; }
/* END ************************************************************/

/* PRODUCT BOX
**********************************************************************/
ul.grid.style-01 .product-container { border-bottom: 1px solid #e4e3e3; }
ul.grid.style-01 .product-container:hover { border-bottom: 1px solid #141c23; }
ul.grid.style-01 .product-name a, ul.list.style-01 .product-name a { color: #141c23; font-size: 10px; }
ul.grid.style-01 .product-name a:hover, ul.list.style-01 .product-name a:hover { color: #30c4dd; }
ul.grid.style-01 .product-price, ul.list.style-01 .product-price { color: #141c24; }
ul.grid.style-01 .old-price { color: #626262; }
ul.grid.style-01 .button-container .btn-cart { background: #30c4dd; color: #FFFFFF; }
ul.grid.style-01 .product-container .addToWishlist, ul.grid.style-01 .product-container .add_to_compare { background: rgba(0, 0, 0, 0.4); color: #FFFFFF; }
ul.grid.style-01 .button-container .btn-cart:hover, ul.grid.style-01 .product-container .addToWishlist:hover, ul.grid.style-01 .product-container .add_to_compare:hover { background: #141c23; color: #FFFFFF; }
ul.grid.style-01 .button-container .quick-view, ul.list.style-01 .button-container .quick-view { background: rgba(0, 0, 0, 0.4); color: #FFFFFF; }
/* END ************************************************************/

/* PRODUCT PAGE BLOCK
**********************************************************************/
.pp-block h2 { background: #FFFFFF; border-bottom: 1px solid #e4e3e3; border-top: 1px solid #e4e3e3; }
.pp-block h2 a { color: #141c23; }
.pp-block h2 a:hover { color: #30c4dd; }
.pp-block h2:hover { background: #f9f9f9; }
/* END ************************************************************/

/* Sale/New/Availability
**********************************************************************/
.product-new .style-01 { color: #FFFFFF; background-color: #141c23;}
.product-sale .style-01, .price-percent-reduction, #reduction_percent, #reduction_amount, .product-flags .discount { color: #FFFFFF; background-color: #b5b5b5; }
.available-now, .available-dif, .label-success, #availability_value { color: #141c23; }
.out-of-stock, #last_quantities, #availability_statut #availability_value.warning_inline { border: none; color: #e94b4b; }
/* END ************************************************************/

/* PRODUCT VIEW
**********************************************************************/
.pb-center-column h1 { color: #141c23; }
.our_price_display { color: #141c23; }
.box-cart-bottom .exclusive span { background: #141c23; color: #FFFFFF; }
.box-cart-bottom .exclusive:hover span { background: #30c4dd; color: #FFFFFF; }
.pb-center-column #old_price { color: #626262; }
.pb-left-column .span_link { background: #2E2F30; color: #FFFFFF; }

#thumbs_list li a:hover, #thumbs_list li a.shown { border: 3px solid #141c23; }
#thumbs_list li a.shown .thumb-arrow { border-bottom: 5px solid #141c23; }

h3.page-product-heading { color: #2E2F30; border-bottom: 0px solid ; }

.ch-info .extra-link { background: #30c4dd; color: #ffffff; }
.ch-info ul { color: #141c23; }
.ch-info li:hover { background: #FBFBFB; }
.order-phone { background: #141c23; color: #ffffff; }

.idTabs { border-bottom: 1px solid #e3e2e2; }
.idTabs a { background: #f7f7f7; border: 1px solid #e3e2e2; color: #555454; font-size: 12px;}
.idTabs .selected { background: #FFFFFF; border-top: 1px solid #141c23; border-bottom-color: #FFFFFF; color: #141c23; }
/* END ************************************************************/