.LV_validation_message {
    font-weight: bold;
    margin: 0 0 0 5px;
    display: none;
}

.LV_valid {
    color: #00CC00;
}

.LV_invalid {
    color: #CC0000;
}

.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    background: url('../img/check.png') no-repeat right center #fff !important; /* Old browsers  #F3FFED */
    color: #000000 !important;
}

.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    color: #000000 !important;
    background: url('../img/error.png') no-repeat right center #FFEDED !important; /* Old browsers  #F3FFED */
}