 html, body { height: 99%; }
#main
{
	margin:0 !important;
	padding:0 !important;
	float: none !important;
	display:none  !important;
}
header {
	display:none !important;
	margin:0 !important;
	padding:0 !important;
}
nav {
	display:none !important;
	margin:0 !important;
	padding:0 !important;
}
aside
{
	display:none !important;
	margin:0 !important;
	padding:0 !important;
	height:0 !important;
}
#left-panel
{
	display:none !important;
	margin:0 !important;
	padding:0 !important;
	height:0 !important;
}

#ribbon
{
	display:none !important;
	margin:0 !important;
	padding:0 !important;
	height:0 !important;
}

.container-fluid
{
	display:none !important;
	margin:0 !important;
	padding:0 !important;
	float: none !important;
	height:0 !important;
}

.page-title
{
	display:none !important;
	margin:0 !important;
	padding:0 !important;
	height:0 !important;
}

#print_content
{
	display:block !important;
	width:100% !important;
	margin:0 !important;
	padding:0 !important;
	float: none !important; 
	clear:both !important;
	height:auto !important;
	margin: 10px 10px 10px 10px; 
	page-break-before: none;
	page-break-after: none;
	page-break-inside: avoid;
}

#print_logo
{
	margin:10px 0;
}

table.print_invoice_header_table
{
	width:100%;
	overflow:hidden !important;
	
}	
table.print_invoice_header_table h1
{
	font-size:14px;
	font-weight:bold;
}	
table.print_invoice_header_table p
{
	font-size:13px;
}

table.print_invoice_table.table
{
	border: 1px solid #4c74ba;
	overflow:hidden !important;
}	

table.print_invoice_table.table tbody tr
{
	border: 1px solid #4c74ba;
}	
table.print_invoice_table.table tbody tr td
{
	border: 1px solid #4c74ba;
}	



table.print_invoice_table.table th
{
	background:#4c74ba !important;
	color:#FFF;
	padding:10px 20px;
	font-size:13px;
	border: 1px solid #4c74ba;
}			

table.print_invoice_table.table td
{
	padding:10px 20px;
	font-size:13px;
}		

table.print_invoice_table.table tfoot tr td
{
	background-color:#4c74ba !important;
	color:#FFF;
	padding:10px 20px;
	font-size:13px;
	border: 1px solid #4c74ba;
}	

.footer-fixed
{
	display:none !important;
	height:0;
}

.modal
{
	display:none !important;
}

#divSmallBoxes, #divMiniIcons, #divbigBoxes
{
	display:none !important;
}

.alert 
{
	display:none;
}
*[class^='col-md-offset']
{
	margin:0;
}
