
  
  .fs-pagination ul li:first-child a, .fs-pagination ul li:last-child a {
  	border-radius: 0px !important;
  }
  
  .fs-pagination ul li a {
  
    padding: 8px 12px !important;
    font-family: Lato, sans-serif;
    text-decoration: none;
    text-align: center;
  }
  
  .menu-item:nth-child(3n+1) {
    clear: left;
  }
  
  .press-item:not([style*="display: none;"]):nth-child(2n+1) {
    clear: left;
  }
  
  .heading-7.category-title:first-of-type {
  
    background-image: none;
    padding-top: 0px;
  }
  
  .sub-category-description {
  
    margin-top: -20px;
  }
  
  .country-selector a {
  
    font-family: Karla, sans-serif;
    color: #fff !important;
    font-size: 16px;
    text-decoration: none !important;
    text-transform: none;
    padding: 0px 10px !important;
  }
  
  .wgcurrent a {
  	color: #d9a666 !important;
  }
  
  .wg-list.country-selector .wgcurrent {
  
    border-right: 2px solid #fff;
  }
  
  @media screen and (max-width:767px) {
    
    #back-top {
    	
      	display: none !important;
    }
    
    #contact-group {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      /* optional */
      -webkit-box-align: start;
      -moz-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      align-items: flex-start;
    }

    #contact-address {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
      width: 100%;
    }

    #contact-map {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
    }
  }
  
