
			body, html { font-family: sans-serif; margin: 0; padding: 0; }
			h1, h2 { margin: 5px 0 20px 0; }
			body { height: 100%; }
			a { color: #00a; }
			#container { background-color: #fff; width:630px; padding: 20px 40px; }

			