
@media only screen and (max-width: 600px) {
  #buttons button {
    flex: 0 0 100px !important;
}
}
#buttons button {
  border: 1px solid #c80000 !important;
    color: #c80000;
    margin: 0 8px 8px 0;
    background: #fff;
    border: 0;
    flex: 0 0 90px;
    text-align: center;
    padding: 8px 0px;
    font-weight: 600;
    border-radius: 3px;
}
#buttons button.active {
     background-color: #c80000;
    color: #fff;
}
#buttons { width:100%; float:left;    margin: 8px;
    padding-bottom: 0px; display:flex; flex-flow:row wrap; align-items:center;
}
button:hover {
    background-color: #111;
    color: #fff;
}
button:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
#buttons button:nth-child(3){ order:2;}
#buttons button:nth-child(6){ order:5;}
#buttons button:nth-child(5),#buttons button:nth-child(5){ order:4;}
#buttons button:nth-child(4){ order:7;}
