

.footer-basic {
  padding:40px 0;
  background-color:rgb(160,137,44);
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:white;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:white;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}



.topnavMobile {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnavMobile #myLinks {
  display: none;
}

.topnavMobile a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}



.topnavMobile a:hover {
  background-color: white;
  color: black;
  width:80%;
  margin-left:auto;
  margin-right:auto;
}

.active {
  background-color: #04AA6D;
  color: white;
}





.imgSlide {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
           
           
         
            }

#slider {
    height:335px;
    width:70%;
	margin:auto;
    overflow:hidden;
    background:#CCC;
   
    
}

.slide {
   
    float:left;
    text-align:center;
    border:1PX SOLID #000;
	line-height:8em;
	font-size:40px;
	   
}


.RadiusBorder{
    
      border-radius: 30px;
}

.containerButton {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 3px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


#myVideo {
 text-align: center;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}



.NavText{
    
    color:black;
}


.responsive {
  width: 100%;
  height: auto;
}

.NavVisible{
    
  /* set */  
    
}

.ColorNav{
    
    background-color: rgb(160,137,44);
    color: #777;
     text-decoration: none;
        }
        
.ColorNav2{
    
    background-color: rgb(77,77,77);
  
        } 
.Font3{   
     font-family: 'Montserrat', sans-serif;
} 

.Font2{   
    font-family: 'Montserrat', sans-serif;
}   
    
.fontGo2{
    font-family: 'Krona One', sans-serif;
}        
        
.FontGo{
 font-family: 'Source Sans Pro', sans-serif;
 text-decoration: none;
}
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("Image/TopImage1.PNG");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("Image/TopImage2.png");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("Image/TopImage3.png");
  min-height: 500px;
}
.bgimg-4 {
  background-image: url("Image/TopImage4.png");
  min-height: 700px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}




/* Style the top navigation bar */
.topnav li {
  
  top:-200px;
  
}

/* Style the topnav links */
.topnav li {
  float: left;
  display: block;
  /*color: #f2f2f2;*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav li :hover {
  background-color: #ddd;
  color: black;
}


/*      resize slide                  */

@media (min-width: 1500px) and (max-width: 1600px) {
#slider{
    
    height:240px;
    width:65%;
}
}




@media (min-width: 1400px) and (max-width: 1500px) {
#slider{
    
    height:230px;
    width:65%;
}
}

@media (min-width: 1300px) and (max-width: 1400px) {
#slider{
    
    height:220px;
    
}
}

@media (min-width: 1200px) and (max-width: 1300px) {
#slider{
    
    height:200px;
    
}
}

@media (min-width: 1100px) and (max-width: 1200px) {
#slider{
    
    height:165px;
    
}
}

@media (min-width: 1000px) and (max-width: 1100px) {
#slider{
    
    height:165px;
    
}
}


@media (min-width: 900px) and (max-width: 1000px) {
#slider{
    
    height:165px;
    
}
}

@media (min-width: 800px) and (max-width: 900px) {
#slider{
    
    height:130px;
    
}
}

@media (min-width: 700px) and (max-width: 800px) {
#slider{
    
    height:130px;
    
}
}


@media (min-width: 600px) and (max-width: 700px) {
#slider{
    
    height:100px;
    
}
}

@media (min-width: 500px) and (max-width: 600px) {
#slider{
    
    height:240px;
    
}
}

@media (min-width: 400px) and (max-width: 500px) {
#slider{
    
    height:200px;
    
}
}

@media (min-width: 300px) and (max-width: 400px) {
#slider{
    
    height:170px;
    
}
}

@media (min-width: 200px) and (max-width: 300px) {
#slider{
    
    height:100px;
    
}
}

@media (min-width: 100px) and (max-width: 200px) {
#slider{
    
    height:90px;
    
}
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */

@media screen and (min-width: 800px) {
  .topnav  {
     visibility: hidden;
   
 }
 
 }

@media screen and (max-width: 900px) {
 
 
 
  .topnav2  {
   
   visibility: visible;
  
  }
  
.NavTop{
    
    visibility: hidden;
    
}


.bgimg-1{
    
    
    min-height:220px;
    
}
 
  
}



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    /*background-attachment: scroll;*/
  }
}
