
            .latest-blogss .owl-nav {
                 position: absolute;
                top: -58px;
                right: 0px;
            }
            .owl-nav span {
             font-size: 45px;
             border: none;
             box-shadow: none !important;
              outline: 0 !important;
            }
           .owl-nav span:focus-visible
           {
            
             border: none;
             box-shadow: none !important;
              outline: 0 !important;
            }
        