


body{
  background: url('https://i.imgur.com/1BMblqo.png') no-repeat center center fixed; 
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto 5%; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
input{
  display: block;
  margin: 0;
  width: 300px;
  font-family: sans-serif;
  font-size: 15px;  
   padding: 8px;
    border: 1px solid #DFDFDF;
}


#backgroundimage
{
position: absolute;
top:0px;
left:0px;
}


fieldset {
    font-family: sans-serif;
width:405px;
height:404px;
 background:white;
 border: 1px solid #DFDFDF;
    padding: 8px;
bottom:10px;
}


button {
    background-color: #409FFF;
    color: white;
    height: 45px;
    padding: 0px 40px;
    outline: none;
    border: none;
    border-radius:25px;
    font-size: 16px;
}

input[type=submit] {

  width: 250px;
      padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #409FFF;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    border: 0px;
   }
   
   #box{
   	height: 425px;
   	width: 285px;
   	border: 1px solid black;
   	border-radius: 10px;
   	background-color: white;
   	position: absolute;
   	left: 100px;
   	top: 200px;
   }
   #top-left{
    position: absolute;
    left: 10px;
   }  
   #top-right{
    position: absolute;
    right: 10px;
   }
