/* ================================
    CSS STYLES FOR THE PORTAL STATER KIT
    v1.0, 10/2002
   ================================
*/


/* PAGE BACKGROUND */
/* background color for the header at the top of the page  */
.HeadBg
{
	background-color: midnightblue;
}

/* background color for the content part of the pages */
Body
{
	background-color: white;
	background-image: url(http://spread.reasonablesw.com/uploads/reasonable-template.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
}


/* PAGE BANNER */
/* NOTE: Site Title, Site Links and Tabs are rendered by MobilePortalBanner.ascx
/* style for the text of the site title */
.SiteTitle
{
	font-family: Verdana Bold, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #cccc99;
}

/* background/border colors for the selected tab */
.TabBg
{
	background-color: white;
	border-color: white;
}

/* background/border colors for the unselected tabs */
.OtherTabsBg
{
	background-color: dimgray;
	border-color: black;
}

/* text style for the selected tab */
.SelectedTab
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: DarkRed;
	font-weight: bold;
}

/* text style for the unselected tabs */
.OtherTabs
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: gainsboro;
	text-decoration: none;
	font-weight: bold;
}

/* hyperlink styles of the unselected tabs */
A.OtherTabs:link
{
	text-decoration: none;
	color: #eeeeee;
}

A.OtherTabs:visited
{
	text-decoration: none;
	color: #eeeeee;
}

A.OtherTabs:active
{
	text-decoration: none;
	color: #eeeeee;
}

A.OtherTabs:hover
{
	text-decoration: underline;
	color: white;
}

/* text style for the site links (at extreme top-right of header) */
.SiteLink
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

/* hyperlink style for the site links */
A.SiteLink:link
{
	text-decoration: none;
	color: white;
}

A.SiteLink:visited
{
	text-decoration: none;
	color: #eeeeee;
}

A.SiteLink:active
{
	text-decoration: none;
	color: #eeeeee;
}

A.SiteLink:hover
{
	text-decoration: underline;
	color: white;
}

/* style for separator between site links */
.Accent
{
	color: red;
	font-weight: bold;
}



/* MODULE-SPECIFIC */
/* text style for reading messages in Discussion */
.Message
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-size: 11px;
	background-color: #eeeeee;
}



/* GENERAL */
/* style for module titles */
.Head
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #666644;
}

/* style of item titles on edit and admin pages */
.SubHead
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: darkred;
}

/* module title style used instead of Head for compact rendering by QuickLinks and Signin modules */
.SubSubHead
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: black;
}

/* text style used for most text rendered by modules */
.Normal, Body
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

/* text style used for textboxes in the admin and edit pages, for Nav compatibility */
.NormalTextBox
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.NormalRed
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: red;
}

.NormalBold
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

/* text style for buttons and link buttons used in the portal admin pages */
.CommandButton
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
}

/* hyperlink style for buttons and link buttons used in the portal admin pages */
A.CommandButton:link
{
	text-decoration: underline;
	color: darkred;
}

A.CommandButton:visited
{
	text-decoration: underline;
	color: darkred;
}

A.CommandButton:active
{
	text-decoration: underline;
	color: darkred;
}

A.CommandButton:hover
{
	text-decoration: underline;
	color: red;
}




/* GENERIC */
H1
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #666644;
}

H2
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #666644;
}

H3
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: darkred;
}

H4
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: darkred;
}

H5, DT
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: darkred;
}

H6
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: darkred;
}

TFOOT, THEAD
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: darkred;
}

TH
{
	vertical-align: baseline;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

A:link
{
	text-decoration: none;
	color: #666666;
}

A:visited
{
	text-decoration: none;
	color: #666666;
}

A:active
{
	text-decoration: none;
	color: #666666;
}

A:hover
{
	text-decoration: underline;
	color: #aaaaff;
}

SMALL
{
	font-size: 8px;
}

BIG
{
	font-size: 14px;
}

BLOCKQUOTE, PRE
{
	font-family: Lucida Console, monospace;
}


UL LI
{
	list-style-type: square;
}

UL LI LI
{
	list-style-type: disc;
}

UL LI LI LI
{
	list-style-type: circle;
}

OL LI
{
	list-style-type: decimal;
}

OL OL LI
{
	list-style-type: lower-alpha;
}

OL OL OL LI
{
	list-style-type: lower-roman;
}

HR
{
	color: dimgrey;
	height: 1pt;
	text-align: left;
}

/* Self Define CSS */
TABLE
{
	font-size: 14px;
}

TABLE.Normal
{
	font-size: 12px;
	font-family : Verdana; 
}

CAPTION.Reasonable
{
	background-color: #8080ff;
	color: white;
	border-style: solid;
	border-color: black;
}

TABLE.Reasonable
{
	font-family: arial;
	background-color: white;
	border-style: solid;
	border-color: #77aaDD;
	border-collapse: collapse;
}

Th.Reasonable
{
	background-color: #1f4f88;
	color: white;
}

TR.Reasonable
{
	vertical-align: center;
}

TD.Reasonable
{
	background-color: white;
	color: black;
	border-style: solid;
	text-align: left;
}

B.Reasonable
{
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #666644;
}
/* For different style of Gridview */
.GeneralGv
{
	background-color: #fff;
	border: 1px solid #eee;
	width: 100%;
}

.GeneralGv td, th
{
	padding: 2px;
}
.gvFooter
{
	background-color: #99CCCC;
	color: #003399;
}

.gvRow
{
	background-color: #fff;
	color: #003399;
}
.gvSelectedRow
{
	background-color: #009999;
	color: #CCFF99;
	font-weight: bold;
}
.gvPager
{
	background-color: #EAF1FF;
	color: #3366CC;
	text-align: left;
}
.gvPager td
{
	padding:0px;	
}

.gvHeader, .gvHeader * a:hover, .gvHeader * a:visited, .gvHeader * a:active, .gvHeader * a:link
{
	background-color: #225599;
	color: #EEEEFF;
	font-weight: bold;
}
.gvAlternateRow
{
	color: #003399;
}
.gvEditRowStyle
{
}
.gvEmptyDataRowStyle
{
}

.GeneralGv1 .gvAlternateRow
{
	background-color: rgb(239, 243, 251);
}
.GeneralGv1 .gvEditRowStyle
{
	background-color: #2461BF;
}
.GeneralGv1
{
	background-color: #fff;
	border: 1px solid #eee;
	width: 100%;
}

.currentPage{
	font-family: Verdana, Helvetica, sans-serif;
	font-size:  20px;
	font-weight:    normal;
	color: #b3b3b3;
	text-decoration :none;        
}
a.currentPage:hover , a.currentPage:active,a.currentPage:visited {
	color: #b3b3b3;      
	text-decoration :none;  
}

.UserOptionBanner
{
	font-weight:bold;
	font-size:+1;
}

.statusDeleted,.statusSent,.statusDraft,.statusPause,.statusSending,.statusWaiting
{
	font-weight:bold ;
}
.statusDeleted
{
	color:Red;
}
.statusSent
{
	color:#66a6ff;	
}
.statusDraft
{
	color: Navy;	
}
.statusPause
{
	color:Gray;		
}
.statusSending
{
	color:Green;	
}
.statusWaiting
{
	color:#dd0;	
}

.announcementTable
{
	width:95%; 
	border:1px double #ccc;
	background-color:white;
}
.anctTableHeader
{
	color:#ffffff;
	background-color:#a0c0dD;
	font-weight:bold;
	padding-left:5px;
}
.anctDate
{
	font-size:0.