<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" name="viewport"/>
  <meta content=" EireSoft, CodeFirst " name="keywords"/>
  <meta content=" EireSoft Has Been Updated! Discover the New EireSoft Through CodeFirst.ie. Premium Software Solutions Delivered On Time with the Best €/Performance in Ireland " name="description"/>
  <link href="/favicon.ico" rel="icon" type="image/ico"/>
  <title>
   Ireland Software Development | EireSoft &amp; CodeFirst Dublin
  </title>
  <link href="/scripts/lib/bootstrap/css/bootstrap.css?v=1.0.0.0" rel="stylesheet"/>
  <link href="/scripts/lib/fontawesome/css/font-awesome.min.css?v=1.0.0.0" rel="stylesheet"/>
  <link href="/scripts/lib/jquery.fileUpload/css/jquery.fileupload-ui.css?v=1.0.0.0" rel="stylesheet"/>
  <link href="/scripts/lib/toastr/css/toastr.min.css?v=1.0.0.0" rel="stylesheet"/>
  <link href="/scripts/lib/jquery.flexslider/flexslider.css?v=1.0.0.0" rel="stylesheet"/>
  <link href="/Scripts/plugins/pushmenu/css/pushmenu.css" rel="stylesheet"/>
  <link href="/styles/styles.min.css?v=1.0.0.0" rel="stylesheet"/>
  <!--[if lt IE 7]>
        <link href="~/scripts/lib/fontawesome/css/font-awesome-ie7.min.css?v=1.0.0.0" rel="stylesheet" />
    <![endif]-->
  <!--[if lt IE 9]>
        <script src="/scripts/lib/html5shiv/html5shiv.js"></script>
        <script src="/scripts/lib/respondjs/respond.min.js"></script>
	<![endif]-->
  <script type="text/javascript">
   if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
			var msViewportStyle = document.createElement("style");
			msViewportStyle.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}"));
			document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
		}
  </script>
 </head>
 <body>
  <div class="page-wrapper">
   <div class="layout-header">
    <div class="pushmenu visible-xs visible-sm">
     <div class="">
      <ul class="nav nav-pills nav-stacked">
       <li>
        <a href="/home/index/">
         Home
        </a>
       </li>
       <li>
        <a href="https://www.codefirst.co.uk/about-codefirst">
         About Us
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk/about-codefirst?1">
         About Us
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk">
         Why Us
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk?1">
         Partners
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk?2">
         Testimonials
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk?3">
         Our Expertise
        </a>
       </li>
       <li>
        <a href="https://www.codefirst.co.uk/bespoke-software">
         Services
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk/bespoke-software?1">
         Services Overview
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk?4">
         Database Services
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk?5">
         Application Development
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk?6">
         Web Development
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk?7">
         Product Development
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk?8">
         Software Consulting
        </a>
       </li>
       <li>
        <a class="sub-item" href="https://www.codefirst.co.uk?9">
         IT Outsourcing
        </a>
       </li>
       <li>
        <a href="https://www.codefirst.co.uk/contact-codefirst">
         Contact Us
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="pushmenu-content-container">
     <nav class="navbar navbar-default" role="navigation">
      <div class="container pushmenu-content">
       <div class="navbar-header">
        <button class="btn menu-button navbar-toggle visible-xs visible-sm pull-left" role="pushmenu" type="button">
        </button>
        <div class="navbar-brand">
         <a class="visible-md visible-lg" href="http://www.codefirst.ie/">
          <img alt="CodeFirst" src="/Styles/images/logo.png"/>
         </a>
         <a class="mobile tablet visible-sm" href="http://www.codefirst.ie/">
          <img alt="CodeFirst" height="52" src="/Styles/images/logo_sm.png" width="165"/>
         </a>
         <a class="mobile visible-xs" href="http://www.codefirst.ie/">
          <img alt="CodeFirst" height="52" src="/Styles/images/logo_sm.png" width="165"/>
         </a>
         <div class="logo-text">
          Excellence is Our Code
         </div>
        </div>
        <div class="nav navbar-panel mobile navbar-right pull-right visible-sm visible-xs">
         <button class="btn btn-link" data-content="Call Us Today&lt;br&gt;01 514 3551" data-delay="100" data-html="true" data-placement="bottom" data-toggle="popover">
          <i class="fa fa-phone">
          </i>
         </button>
        </div>
       </div>
       <div class="nav navbar-panel navbar-right navbar-icons col-xs-3 visible-md visible-lg">
        <div class="social-networks">
         <ul>
          <li>
           <a class="linkedin" href="http://www.linkedin.com/company/codefirst" target="_blank">
            <i class="fa fa-linkedin fa-inverse">
            </i>
           </a>
          </li>
          <li>
           <a class="facebook" href="https://www.facebook.com/codefirst" target="_blank">
            <i class="fa fa-facebook fa-inverse">
            </i>
           </a>
          </li>
          <li>
           <a class="twitter" href="https://twitter.com/code_first" target="_blank">
            <i class="fa fa-twitter fa-inverse">
            </i>
           </a>
          </li>
          <li>
           <a class="google" href="https://plus.google.com/+CodefirstCoUk/posts" target="_blank">
            <i class="fa fa-google-plus fa-inverse">
            </i>
           </a>
          </li>
         </ul>
        </div>
        <div class="call-us">
         <p>
          Call Us Today
         </p>
         <p>
          01 514 3551
         </p>
        </div>
       </div>
       <ul class="nav navbar-nav navbar-right navbar-main visible-md visible-lg">
        <li class="dropdown hidden-sm">
         <a class="dropdown-toggle" data-toggle="dropdown" href="https://www.codefirst.co.uk/about-codefirst">
          About Us
         </a>
         <div class="dropdown-menu">
          <div class="row">
           <div class="col-xs-12">
            <ul>
             <li>
              <a href="https://www.codefirst.co.uk/about-codefirst?1">
               About Us
              </a>
             </li>
             <li>
              <a href="https://www.codefirst.co.uk">
               Why Us
              </a>
             </li>
             <li>
              <a href="https://www.codefirst.co.uk?1">
               Partners
              </a>
             </li>
             <li>
              <a href="https://www.codefirst.co.uk?2">
               Testimonials
              </a>
             </li>
             <li>
              <a href="https://www.codefirst.co.uk?3">
               Our Expertise
              </a>
             </li>
            </ul>
           </div>
          </div>
         </div>
        </li>
        <li class="dropdown hidden-sm">
         <a class="dropdown-toggle" data-toggle="dropdown" href="https://www.codefirst.co.uk/bespoke-software">
          Services
         </a>
         <div class="dropdown-menu">
          <div class="row">
           <div class="col-xs-12">
            <ul>
             <li>
              <a href="https://www.codefirst.co.uk/bespoke-software?1">
               Services Overview
              </a>
             </li>
             <li>
              <a href="https://www.codefirst.co.uk?4">
               Database Services
              </a>
             </li>
             <li>
              <a href="https://www.codefirst.co.uk?5">
               Application Development
              </a>
             </li>
             <li>
              <a href="https://www.codefirst.co.uk?6">
               Web Development
              </a>
             </li>
             <li>
              <a href="https://www.codefirst.co.uk?7">
               Product Development
              </a>
             </li>
             <li>
              <a href="https://www.codefirst.co.uk?8">
               Software Consulting
              </a>
             </li>
             <li>
              <a href="https://www.codefirst.co.uk?9">
               IT Outsourcing
              </a>
             </li>
            </ul>
           </div>
          </div>
         </div>
        </li>
        <li>
         <a href="https://www.codefirst.co.uk/contact-codefirst">
          Contact Us
         </a>
        </li>
       </ul>
      </div>
     </nav>
     <div>
      <div class="container">
       <div class="row">
        <div class="col-xs-12 content">
         <div class="row">
          <div class="col-xs-12">
           <ol class="breadcrumb">
            <li class="active">
             Home
            </li>
           </ol>
          </div>
         </div>
         <div class="content-page">
          <div class="row">
           <div class="col-md-3 col-sm-4 hidden-xs">
            <div class="navigation-sidebar-wrapper" data-offset-bottom="420" data-offset-top="70" data-spy="affix">
             <div class="navigation-sidebar">
              <div class="panel panel-default">
               <div class="panel-heading">
                Home
               </div>
               <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                 <li>
                  <a href="https://www.codefirst.co.uk/about-codefirst">
                   About Us
                  </a>
                  <ul>
                   <li>
                    <a href="https://www.codefirst.co.uk/about-codefirst?1">
                     About Us
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.co.uk">
                     Why Us
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.co.uk?1">
                     Partners
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.co.uk?2">
                     Testimonials
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.co.uk?3">
                     Our Expertise
                    </a>
                   </li>
                  </ul>
                 </li>
                 <li>
                  <a href="https://www.codefirst.co.uk/bespoke-software">
                   Services
                  </a>
                  <ul>
                   <li>
                    <a href="https://www.codefirst.co.uk/bespoke-software?1">
                     Services Overview
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.co.uk?4">
                     Database Services
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.co.uk?5">
                     Application Development
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.co.uk?6">
                     Web Development
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.co.uk?7">
                     Product Development
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.co.uk?8">
                     Software Consulting
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.co.uk?9">
                     IT Outsourcing
                    </a>
                   </li>
                  </ul>
                 </li>
                 <li>
                  <a href="https://www.codefirst.co.uk/contact-codefirst">
                   Contact Us
                  </a>
                 </li>
                 <li class="last">
                  <a href="https://www.codefirst.co.uk/about-codefirst?2">
                   Information
                  </a>
                  <ul>
                   <li>
                    <a href="https://www.codefirst.co.uk/cookie-policy">
                     Cookie Policy
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.co.ukterms-and-conditions">
                     Terms &amp; Conditions
                    </a>
                   </li>
                   <li>
                    <a href="https://www.codefirst.ico.uk/privacy-policy">
                     Privacy Policy
                    </a>
                   </li>
                  </ul>
                 </li>
                </ul>
               </div>
              </div>
             </div>
             <div class="visible-sm">
              <div>
               <div class="home-calltoaction">
                <a class="btn btn-primary btn-block get-quote" data-toggle="modal" href="#getQuoteWindow">
                 Get a free quote
                </a>
                <a class="btn btn-default btn-block request-callback" data-toggle="modal" href="#requestCallbackWindow">
                 Request a Call back
                </a>
                <a class="btn btn-default btn-block newsletter" data-toggle="modal" href="#newsletterWindow">
                 Stay informed with
                 <br/>
                 Our Newsletters
                </a>
               </div>
              </div>
              <div>
               <div class="widget-testimonials">
                <h3>
                 Recent Testimonials
                </h3>
                <div class="row">
                 <div class="col-xs-12 col-sm-6 col-md-12">
                  <h4>
                   Bernard Swierczyna
                  </h4>
                  <h5>
                   IT Director at First Ireland
                  </h5>
                  <p>
                   "The solution was delivered quickly without any delay. I am very happy with the communication and support. It was a good experience."
                  </p>
                  <a class="pull-right" href="https://www.codefirst.co.uk">
                   Read more
                  </a>
                 </div>
                 <div class="col-xs-12 col-sm-6 col-md-12">
                  <h4>
                   Dean Flanders
                  </h4>
                  <h5>
                   Head of Informatics at FMI
                  </h5>
                  <p>
                   "CodeFirst are way ahead of others in terms of quality and speed. We are extremely happy with the services received."
                  </p>
                  <a class="pull-right" href="https://www.codefirst.co.uk">
                   Read more
                  </a>
                 </div>
                </div>
               </div>
              </div>
              <div>
               <div class="sidebar brochure">
                <a data-ga="Download" data-ga-event="Brochure" href="/Content/CodefirstBrochure2014.pdf" target="_blank">
                 <img alt="Brochure" class="img-responsive" src="/Content/brochure-2014.png"/>
                </a>
                <a data-ga="Download" data-ga-event="Brochure" href="/Content/CodefirstBrochure2014.pdf" target="_blank">
                 <p>
                  Download CodeFirst 2014 Brochure
                 </p>
                </a>
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="col-md-6 col-sm-8 col-xs-12">
            <div class="content-page-body">
             <div class="summary" style="background-image: url('/Content/enterpriseapplication.jpg')">
              <div class="summary-text">
               <h1>
                EireSoft
               </h1>
               <p class="summary-m">
                EireSoft has been Updated! Discover the new EireSoft through CodeFirst.ie
               </p>
              </div>
             </div>
             <div class="summary-link">
              View our new and improved
              <a>
               IT Services
              </a>
              .
             </div>
             <div class="row article">
              <div class="col-sm-12">
               <h4>
                What you need know
               </h4>
               <ul>
                <li>
                 <strong>
                  The dawn of CodeFirst Ireland:
                 </strong>
                 Eiresoft started operating under the name of CodeFirst Ireland in July 2014.
                </li>
                <li>
                 <strong>
                  Coding together from the very beginning:
                 </strong>
                 As software development companies, EireSoft and CodeFirst worked side-by-side and shared resources to bring Ireland the best software solutions for over 15 years.
                </li>
                <li>
                 <strong>
                  Strength in numbers:
                 </strong>
                 To establish our leadership in Ireland and to continue growing as a software development company, EireSoft decided to take the natural step of joining forces with CodeFirst.
                </li>
                <li>
                 <strong>
                  Business as usual:
                 </strong>
                 You will still be able to contact the same staff that you are used to work with. We will continue to work in the same offices and we will even keep the same telephone number.
                </li>
               </ul>
               <h4>
                How this benefits your business
               </h4>
               <p>
                CodeFirst is the only software development company in Ireland that can put a world-class team of developers and database experts at your disposal. You can be confident that your software solution will always be the most efficient, adaptable and highest quality that you can imagine.
               </p>
               <p>
                Thanks to our bigger structure and resources, CodeFirst can promise that, with us, you will always get a
                <strong>
                 premium software solution delivered on time with the best price/performance in Ireland.
                </strong>
               </p>
               <h4>
                Is your business looking for the best software solution at an affordable price? Stop looking...
               </h4>
               <p>
                Get in contact with us today, let us know what you need and CodeFirst will make it happen.
               </p>
               <h4>
                Fancy more information about CodeFirst?
               </h4>
               <p>
                Visit our
                <a href="https://www.codefirst.co.uk/about-codefirst">
                 About Us
                </a>
                page or
                <a href="https://www.codefirst.co.uk/contact-codefirst">
                 contact us
                </a>
                today.
               </p>
              </div>
             </div>
            </div>
           </div>
           <div class="col-md-3 visible-md visible-lg">
            <div>
             <div class="home-calltoaction">
              <a class="btn btn-primary btn-block get-quote" data-toggle="modal" href="#getQuoteWindow">
               Get a free quote
              </a>
              <a class="btn btn-default btn-block request-callback" data-toggle="modal" href="#requestCallbackWindow">
               Request a Call back
              </a>
              <a class="btn btn-default btn-block newsletter" data-toggle="modal" href="#newsletterWindow">
               Stay informed with
               <br/>
               Our Newsletters
              </a>
             </div>
            </div>
            <div>
             <div class="widget-testimonials">
              <h3>
               Recent Testimonials
              </h3>
              <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-12">
                <h4>
                 Bernard Swierczyna
                </h4>
                <h5>
                 IT Director at First Ireland
                </h5>
                <p>
                 "The solution was delivered quickly without any delay. I am very happy with the communication and support. It was a good experience."
                </p>
                <a class="pull-right" href="https://www.codefirst.co.uk">
                 Read more
                </a>
               </div>
               <div class="col-xs-12 col-sm-6 col-md-12">
                <h4>
                 Dean Flanders
                </h4>
                <h5>
                 Head of Informatics at FMI
                </h5>
                <p>
                 "CodeFirst are way ahead of others in terms of quality and speed. We are extremely happy with the services received."
                </p>
                <a class="pull-right" href="https://www.codefirst.co.uk">
                 Read more
                </a>
               </div>
              </div>
             </div>
            </div>
            <div>
             <div class="sidebar brochure">
              <a data-ga="Download" data-ga-event="Brochure" href="/Content/CodefirstBrochure2014.pdf" target="_blank">
               <img alt="Brochure" class="img-responsive" src="/Content/brochure-2014.png"/>
              </a>
              <a data-ga="Download" data-ga-event="Brochure" href="/Content/CodefirstBrochure2014.pdf" target="_blank">
               <p>
                Download CodeFirst 2014 Brochure
               </p>
              </a>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div ng-controller="GetQuote">
   <div aria-hidden="true" class="modal fade quote-window" id="getQuoteWindow" ng-bs-modal="" ng-model="isOpened" role="dialog" tabindex="-1">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-body">
       <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
        ×
       </button>
       <div class="row">
        <div class="col-md-12">
         <form autocomplete="off" class="form-horizontal" id="getQuoteForm" name="getQuoteForm" novalidate="" role="form">
          <div class="container-fluid">
           <div class="row">
            <div class="col-xs-12 visible-xs">
             <div class="get-in-touch">
              <h2>
               Get In Touch
              </h2>
             </div>
            </div>
            <div class="col-xs-7 visible-xs" style="padding-bottom: 18px">
             <div class="get-in-touch">
              <p>
               <i class="appicon appicon-21 appicon-skype">
               </i>
               Codefirst
              </p>
              <p>
               <i class="appicon appicon-21 appicon-phone">
               </i>
               01 514 3551
              </p>
             </div>
            </div>
            <div class="col-xs-5 visible-xs">
             <div class="request-callback">
              <div class="checkbox checkbox-image">
               <input id="requestCallback2" name="requestCallback2" ng-model="data.requestCallback" type="checkbox"/>
               <label class="right-aligned" for="requestCallback2">
                <i class="appicon appicon-32 appicon-callback">
                </i>
                Request Callback
               </label>
              </div>
             </div>
            </div>
            <div class="col-sm-6 col-xs-12">
             <div class="form-group" ng-class="{'has-error': getQuoteForm.inputName1.$invalid &amp;&amp; (getQuoteForm.$needsAttention || getQuoteForm.inputName1.$dirty) }">
              <label class="col-xs-2 col-sm-2 control-label icon-label" for="inputName1">
               <i class="appicon appicon-32 appicon-name">
               </i>
              </label>
              <div class="col-xs-10 col-sm-10">
               <input class="form-control" id="inputName1" name="inputName1" ng-model="data.name" placeholder="Name" required="" type="text"/>
              </div>
             </div>
             <div class="form-group" ng-class="{'has-error': getQuoteForm.inputCompany1.$invalid &amp;&amp; (getQuoteForm.$needsAttention || getQuoteForm.inputCompany1.$dirty) }">
              <label class="col-xs-2 col-sm-2 control-label icon-label" for="inputCompany1">
               <i class="appicon appicon-32 appicon-company">
               </i>
              </label>
              <div class="col-xs-10 col-sm-10">
               <input class="form-control" id="inputCompany1" name="inputCompany1" ng-model="data.company" placeholder="Company" required="" type="text"/>
              </div>
             </div>
             <div class="form-group" ng-class="{'has-error': getQuoteForm.inputEmail1.$invalid &amp;&amp; (getQuoteForm.$needsAttention || getQuoteForm.inputEmail1.$dirty) }">
              <label class="col-xs-2 col-sm-2 control-label icon-label" for="inputEmail1">
               <i class="appicon appicon-32 appicon-email">
               </i>
              </label>
              <div class="col-xs-10 col-sm-10">
               <input class="form-control" id="inputEmail1" name="inputEmail1" ng-model="data.email" placeholder="E-mail" required="" type="email"/>
              </div>
             </div>
             <div class="form-group" ng-class="{'has-error': getQuoteForm.inputPhone1.$invalid &amp;&amp; (getQuoteForm.$needsAttention || getQuoteForm.inputPhone1.$dirty) }">
              <label class="col-xs-2 col-sm-2 control-label icon-label" for="inputPhone1">
               <i class="appicon appicon-32 appicon-phone">
               </i>
              </label>
              <div class="col-xs-10 col-sm-10">
               <input class="form-control" id="inputPhone1" name="inputPhone1" ng-model="data.phone" placeholder="Phone" type="text"/>
              </div>
             </div>
            </div>
            <div class="col-sm-6 hidden-xs">
             <div class="get-in-touch">
              <h2>
               Get In Touch
              </h2>
              <p>
               <i class="appicon appicon-21 appicon-skype">
               </i>
               Codefirst
              </p>
              <p>
               <i class="appicon appicon-21 appicon-phone">
               </i>
               01 514 3551
              </p>
             </div>
             <div class="request-callback">
              <div class="checkbox checkbox-image">
               <input id="requestCallback" name="requestCallback" ng-model="data.requestCallback" type="checkbox"/>
               <label class="right-aligned" for="requestCallback">
                <i class="appicon appicon-32 appicon-callback">
                </i>
                Request Callback
               </label>
              </div>
             </div>
            </div>
            <div class="col-xs-12">
             <div class="form-group" ng-class="{'has-error': getQuoteForm.inputAdditionalInfo1.$invalid &amp;&amp; (getQuoteForm.$needsAttention || getQuoteForm.inputAdditionalInfo1.$dirty) }">
              <label class="col-xs-2 col-sm-1 control-label icon-label" for="inputAdditionalInfo1">
               <i class="appicon appicon-32 appicon-additional-info">
               </i>
              </label>
              <div class="col-xs-10 col-sm-11">
               <textarea class="form-control" id="inputAdditionalInfo1" name="inputAdditionalInfo1" ng-model="data.notes" placeholder="Additional info" rows="6"></textarea>
              </div>
             </div>
            </div>
           </div>
          </div>
         </form>
        </div>
       </div>
      </div>
      <div class="modal-footer">
       <div class="row">
        <div class="col-xs-12 col-sm-offset-4 col-sm-5">
         <div ng-cloak="">
          <span class="btn btn-link fileinput-button" ng-show="(file.uploading == false) &amp;&amp; (file.fileId == null)">
           <i class="fa fa-plus">
           </i>
           <span>
            Add a file
           </span>
           <input id="logoupload" name="files[]" ng-jq-upload="{{file.url}}" ng-jq-upload-end="file.end()" ng-jq-upload-error="file.fail($data)" ng-jq-upload-max-file-size="10240000" ng-jq-upload-progress="file.progress($data)" ng-jq-upload-starting="file.start($data)" ng-jq-upload-success="file.success($data)" type="file"/>
          </span>
          <div class="fileinput-caption" ng-show="file.uploading">
           <span class="clear-underline" ng-bind="'Uploading (' + (file.progressValue | number:0) + '%)...'">
           </span>
          </div>
          <div class="fileinput-caption" ng-attr-title="{{file.fileName}}" ng-show="(file.uploading == false) &amp;&amp; (file.fileId != null)">
           <i class="fa fa-times clickable" ng-click="file.clear()">
           </i>
           <span ng-bind="file.fileName">
           </span>
          </div>
         </div>
        </div>
        <div class="col-xs-12 col-sm-3">
         <button class="btn btn-default pull-right" data-ga="Contact" data-ga-event="Get a Quote" data-loading-text="Submiting..." ng-bs-click="send" type="submit">
          Submit
         </button>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div ng-controller="SubscribeNewsletter">
   <div aria-hidden="true" class="modal fade newsletter-window" id="newsletterWindow" ng-bs-modal="" ng-model="isOpened" role="dialog" tabindex="-1">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-body">
       <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
        ×
       </button>
       <div class="row">
        <div class="col-md-12">
         <form autocomplete="off" class="form-horizontal" id="subscribeNewsletterForm" name="subscribeNewsletterForm" novalidate="" role="form">
          <div class="container-fluid">
           <div class="row">
            <div class="col-xs-12">
             <h2>
              Subscribe Newsletter
             </h2>
             <div class="form-group" ng-class="{'has-error': subscribeNewsletterForm.inputName1.$invalid &amp;&amp; (subscribeNewsletterForm.$needsAttention || subscribeNewsletterForm.inputName1.$dirty) }">
              <label class="col-xs-2 col-sm-2 control-label icon-label" for="inputName1">
               <i class="appicon appicon-32 appicon-name">
               </i>
              </label>
              <div class="col-xs-10 col-sm-10">
               <input class="form-control" id="inputName1" name="inputName1" ng-model="data.name" placeholder="Name" required="" type="text"/>
              </div>
             </div>
             <div class="form-group" ng-class="{'has-error': subscribeNewsletterForm.inputEmail1.$invalid &amp;&amp; (subscribeNewsletterForm.$needsAttention || subscribeNewsletterForm.inputEmail1.$dirty) }">
              <label class="col-xs-2 col-sm-2 control-label icon-label" for="inputEmail1">
               <i class="appicon appicon-32 appicon-email">
               </i>
              </label>
              <div class="col-xs-10 col-sm-10">
               <input class="form-control" id="inputEmail1" name="inputEmail1" ng-model="data.email" placeholder="E-mail" required="" type="email"/>
              </div>
             </div>
            </div>
           </div>
          </div>
         </form>
        </div>
       </div>
      </div>
      <div class="modal-footer">
       <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
         <button class="btn btn-default pull-right" data-ga="Contact" data-ga-event="Newsletter" data-loading-text="Submiting..." ng-bs-click="send" type="submit">
          Submit
         </button>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div ng-controller="RequestCallback">
   <div aria-hidden="true" class="modal fade request-callback-window" id="requestCallbackWindow" ng-bs-modal="" ng-model="isOpened" role="dialog" tabindex="-1">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-body">
       <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
        ×
       </button>
       <div class="row">
        <div class="col-md-12">
         <form autocomplete="off" class="form-horizontal" id="requestCallbackForm" name="requestCallbackForm" novalidate="" role="form">
          <div class="container-fluid">
           <div class="row">
            <div class="col-xs-12">
             <h2>
              Let Us Call You Back
             </h2>
             <div class="row">
              <div class="col-sm-6 col-xs-12">
               <div class="form-group" ng-class="{'has-error': requestCallbackForm.inputName1.$invalid &amp;&amp; (requestCallbackForm.$needsAttention || requestCallbackForm.inputName1.$dirty) }">
                <label class="col-xs-2 col-sm-1 control-label icon-label" for="inputName1">
                 <i class="appicon appicon-32 appicon-name">
                 </i>
                </label>
                <div class="col-xs-10 col-sm-10">
                 <input class="form-control" id="inputName1" name="inputName1" ng-model="data.name" placeholder="Name" required="" type="text"/>
                </div>
               </div>
              </div>
              <div class="col-sm-6 col-xs-12">
               <div class="form-group" ng-class="{'has-error': requestCallbackForm.inputPhone1.$invalid &amp;&amp; (requestCallbackForm.$needsAttention || requestCallbackForm.inputPhone1.$dirty) }">
                <label class="col-xs-2 col-sm-1 control-label icon-label" for="inputPhone1">
                 <i class="appicon appicon-32 appicon-phone">
                 </i>
                </label>
                <div class="col-xs-10 col-sm-10">
                 <input class="form-control" id="inputPhone1" name="inputPhone1" ng-model="data.phone" placeholder="Phone" required="" type="text"/>
                </div>
               </div>
              </div>
             </div>
             <div class="row">
              <div class="col-xs-12">
               <div class="form-group" ng-class="{'has-error': requestCallbackForm.inputAdditionalInfo1.$invalid &amp;&amp; (requestCallbackForm.$needsAttention || requestCallbackForm.inputAdditionalInfo1.$dirty) }">
                <label class="col-xs-2 col-sm-1 control-label icon-label" for="timeToCommunicate1">
                 <i class="appicon appicon-32 appicon-additional-info">
                 </i>
                </label>
                <div class="col-xs-10 col-sm-11">
                 <p>
                  Best time to call
                 </p>
                 <div class="row">
                  <div class="col-sm-3 col-xs-12">
                   <div class="checkbox checkbox-image">
                    <input id="timeToCommunicate_Morning" name="timeToCommunicate_Morning" ng-model="data.timeToCallMorning" type="checkbox"/>
                    <label class="right-aligned" for="timeToCommunicate_Morning">
                     Morning
                    </label>
                   </div>
                  </div>
                  <div class="col-sm-3 col-xs-12">
                   <div class="checkbox checkbox-image">
                    <input id="timeToCommunicate_Afternoon" name="timeToCommunicate_Afternoon" ng-model="data.timeToCallAfternoon" type="checkbox"/>
                    <label class="right-aligned" for="timeToCommunicate_Afternoon">
                     Afternoon
                    </label>
                   </div>
                  </div>
                  <div class="col-sm-3 col-xs-12">
                   <div class="checkbox checkbox-image">
                    <input id="timeToCommunicate_Either" name="timeToCommunicate_Either" ng-model="data.timeToCallEither" type="checkbox"/>
                    <label class="right-aligned" for="timeToCommunicate_Either">
                     Either
                    </label>
                   </div>
                  </div>
                  <div class="col-sm-3 col-xs-12">
                   <div class="checkbox checkbox-image">
                    <input id="timeToCommunicate_Asap" name="timeToCommunicate_Asap" ng-model="data.timeToCallAsap" type="checkbox"/>
                    <label class="right-aligned" for="timeToCommunicate_Asap">
                     Asap
                    </label>
                   </div>
                  </div>
                 </div>
                 <div class="clearfix">
                 </div>
                </div>
               </div>
              </div>
             </div>
             <div class="row">
              <div class="col-xs-12">
               <div class="form-group" ng-class="{'has-error': requestCallbackForm.inputAdditionalInfo1.$invalid &amp;&amp; (requestCallbackForm.$needsAttention || requestCallbackForm.inputAdditionalInfo1.$dirty) }">
                <label class="col-xs-2 col-sm-1 control-label icon-label" for="inputAdditionalInfo1">
                 <i class="appicon appicon-32 appicon-additional-info">
                 </i>
                </label>
                <div class="col-xs-10 col-sm-11">
                 <textarea class="form-control" id="inputAdditionalInfo1" name="inputAdditionalInfo1" ng-model="data.notes" placeholder="What is the purpose of the call?" rows="6"></textarea>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </form>
        </div>
       </div>
      </div>
      <div class="modal-footer">
       <div class="row">
        <div class="col-xs-3 col-xs-offset-9">
         <button class="btn btn-default pull-right" data-ga="Contact" data-ga-event="Call Back" data-loading-text="Submiting..." ng-bs-click="send" type="submit">
          Submit
         </button>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
  <footer class="page-footer">
   <div class="container">
    <div class="row hidden-xs">
     <div class="col-sm-8 col-md-9">
      <div class="row menu">
       <div class="col-md-3 col-sm-4">
        <h2>
         About CodeFirst
        </h2>
        <ul>
         <li>
          <a href="https://www.codefirst.co.uk/about-codefirst">
           About Us
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk/">
           Why Us
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk">
           Partners
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk">
           Testimonials
          </a>
         </li>
        </ul>
       </div>
       <div class="col-md-3 col-sm-4">
        <h2>
         Services
        </h2>
        <ul>
         <li>
          <a href="https://www.codefirst.co.uk">
           Database Services
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk">
           Application Development
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk">
           Web Development
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk">
           Product Development
          </a>
         </li>
        </ul>
       </div>
       <div class="col-md-3 col-sm-4">
        <h2>
         About CodeFirst
        </h2>
        <ul>
         <li>
          <a href="https://www.codefirst.co.uk/about-codefirst?1">
           About Us
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk">
           Why Us
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk?1">
           Partners
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk?2">
           Testimonials
          </a>
         </li>
        </ul>
       </div>
       <div class="col-md-3 col-sm-4">
        <h2>
         Services
        </h2>
        <ul>
         <li>
          <a href="https://www.codefirst.co.uk?4">
           Database Services
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk?5">
           Application Development
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk?6">
           Web Development
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk?7">
           Product Development
          </a>
         </li>
        </ul>
       </div>
       <div class="col-md-3 hidden-sm hidden-sm">
        <h2>
        </h2>
        <ul>
         <li>
          <a href="https://www.codefirst.co.uk">
           Product Development
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk">
           Software Consulting
          </a>
         </li>
         <li>
          <a href="https://www.codefirst.co.uk">
           IT Outsourcing
          </a>
         </li>
        </ul>
       </div>
       <div class="col-md-3 col-sm-4">
        <h2>
         Connect
        </h2>
        <ul>
         <li>
          <a href="https://www.codefirst.co.uk/contact-codefirst">
           Contact Us
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
     <div class="col-sm-4 col-md-3">
      <div class="row partners">
       <div class="col-xs-12">
        <h2>
         Partners
        </h2>
        <div class="row">
         <div class="col-sm-4">
          <img class="img-responsive" src="/Content/partners-footer/microsoft.png"/>
         </div>
         <div class="col-sm-4">
          <img class="img-responsive" src="/Content/partners-footer/intel.png"/>
         </div>
         <div class="col-sm-4">
          <img class="img-responsive" src="/Content/partners-footer/ibm.png"/>
         </div>
         <div class="col-sm-4">
          <img class="img-responsive" src="/Content/partners-footer/hp.png"/>
         </div>
         <div class="col-sm-4">
          <img class="img-responsive" src="/Content/partners-footer/cisco.png"/>
         </div>
         <div class="col-sm-4">
          <img class="img-responsive" src="/Content/partners-footer/vmware.png"/>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="row visible-xs menu">
     <ul>
      <li>
       <a href="https://www.codefirst.co.uk/about-codefirst">
        About
       </a>
      </li>
      <li>
       <a href="https://www.codefirst.co.uk/bespoke-software">
        Services
       </a>
      </li>
      <li>
       <a href="https://www.codefirst.co.uk/contact-codefirst">
        Connect
       </a>
      </li>
      <li>
       <a href="https://www.codefirst.co.uk">
        Partners
       </a>
      </li>
     </ul>
    </div>
    <div class="row sub-footer">
     <div class="col-xs-12 text-center">
      <div class="navigation">
       <a href="https://www.codefirst.co.uk/cookie-policy">
        Cookie Policy
       </a>
       <a href="https://www.codefirst.co.uk/terms-and-conditions">
        Terms &amp; Conditions
       </a>
       <a href="https://www.codefirst.co.uk/privacy-policy">
        Privacy Policy
       </a>
       <a href="https://www.codefirst.co.uk">
        CodeFirst UK
       </a>
       <a href="https://getinked.net">
        GetInked
       </a>
       <a href="https://topvet.net/">
        TopVet
       </a>
      </div>
     </div>
     <div class="col-xs-12 hidden-xs">
      <div class="notes text-center">
       CodeFirst Ireland Limited, 77 Sir John Rogerson's Quay, Dublin 2, Ireland. Company Registration Number 519410.
      </div>
     </div>
     <div class="col-xs-12">
      <div class="copyright text-center">
       Copyright © 2014-2023 CodeFirst
      </div>
     </div>
    </div>
   </div>
  </footer>
  <script type="text/javascript">
   var require = {
            callback: function () {
                require(["loader"], function (loader) {
                    loader.init([]);
                    $(document).ready(function () {
                        $('[data-ride="carousel"]').each(function () {
                            var $carousel = $(this);
                            $carousel.carousel($carousel.data());
                        });
                    });
                    $.cookieCuttr({
                        cookieMessage: "By using our website you are consenting to our use of cookies in accordance with our <a href='{{cookiePolicyLink}}'>Cookie Policy</a>.",
                        cookiePolicyLink: "",
                        cookieAcceptButtonText: "<i class=\"fa fa-times\"></i>",
                        cookieAnalytics: false
                    });
                });
	}
        };
  </script>
  <script data-main="/scripts/appinit/?v=1.0.0.0" src="/scripts/lib/requirejs/require.2.1.6.min.js?v=v=1.0.0.0" type="text/javascript">
  </script>
 </body>
</html>
