
            body{

                font-family: 'Noto Sans', sans-serif !important;
                direction: ltr;
                font-size: 1em;
                margin: 0;
            }

            .blog-head {
                padding: 18px 0;
                display: flex;
                flex-direction: row;
                gap: 14px;
                align-items: center;
            }

            .blog-name-logo {
                display: block;
                align-items: center;
            }

            .blog-name-logo img {
                width: 40;
                padding: 0;
            }

            .blog-name-txt {
                color: inherit;
                font-weight: 600;
                font-size: 35px;
                margin: 0;
            }

            .blog-header {
                width: 100%;
                align-items: center;
                height: 527px;
                overflow: hidden;
                background-image: url(bg/0_bg.jpg);
                background-position: center;
                background-size: cover;
                display: flex;
            }

            .contact-block {
                width: 65%;
                height: fit-content;
                padding: 14px 18px;
                background: rgba(255,255,255,0.5); color: #222;
                display: flex;
                flex-direction: column-reverse;
                gap: 23px;
            }

            .contact-wrap {
                width: calc(100% / 3 - 23px);
                display: flex;
                gap: 14px;
                align-items: center;
            }

            .contact-wrap i {
                font-size: 25px;
                display: block;
            }

            .contact-wrap p {
                font-size: 17px;
                font-weight: 600;
                margin: 0;
            }

            .general {
                padding: 67px 0;
                display: flex;
                flex-direction: row;
                gap: 30px;
            }

            .r-side {
                width: 30%;
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-self: flex-start;
                background: rgba(0,0,0,0.9); color: #fff;
                padding: 30px 23px;
                box-shadow: 0px 3px 11.88px 0.12px rgba(0, 0, 0, 0.2);
                border-radius: 3px;
                position: sticky;
                top: 0;
            }

            .hello-txt-block {
                display: block;
                flex-direction: column;
                gap: 18px;
                align-items: center;
            }

            .hello-txt {
                font-size: 17px;
                text-align: start;
            }

            .autor-img {
                width: 91;
                border-radius: 50%;
                box-shadow: 0px 3px 11.88px 0.12px rgba(0, 0, 0, 0.2);
                border: 2px solid #fff;
            }

            .autor-img  img {
                width: 100%;
                overflow: hidden;
                border-radius: 50%;
            }

            .autor-name {
                margin: 0;
                font-size: 19px;
                letter-spacing: 1px;
            }


            .autor-txt {
                font-size: 14px;
            }

            .rev-block {
                display: flex;
                flex-direction: column-reverse;
                gap: 30px;
            }

            .pop-tag-title {
                font-size: 22px;
                font-weight: 600;
            }

            .tag-list span {
                padding: 14px;
                background-image: linear-gradient( to left, #EA8FEA 0%,  #786CA1 85%);
                line-height: 65px;
                border-radius: 15px;
                font-size: 15px;
                color: #000;
                white-space: nowrap;
            }

            .banner-img {
                width: 100%;
            }

            .banner-img img {
                width: 100%;
            }

            .subscribe {
                position: relative;
                top: -30px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                height: 140px;
                width: 240px;
                padding: 20px;
                background-color: #FFF;
                border-radius: 4px;
                color: #333;
                box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
            }

                .subscribe:after {
                position: absolute;
                content: "";
                right: -10px;
                bottom: 23px;
                width: 0;
                height: 0;
                border-left: 0px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #000;
            }

                .subscribe p {
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                line-height: 28px;
            }

                .subscribe input {
                position: absolute;
                font-size: 14px;
                bottom: 30px;
                border: none;
                border-bottom: 1px solid #d4d4d4;
                padding: 10px;
                width: 82%;
                background: transparent;
                transition: all .25s ease;
            }

                .subscribe input:focus {
                outline: none;
                border-bottom: 1px solid #0d095e;
            }

                .subscribe .submit-btn {
                position: absolute;
                border: 0;
                border-radius: 30px;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                background-image: linear-gradient( to left, #EA8FEA 0%,  #786CA1 85%);
                color: #000;
                padding: 12px 25px;
                display: inline-block;
                font-size: 12px;
                font-weight: bold;
                right: -10px;
                bottom: -20px;
                cursor: pointer;
                transition: all .25s ease;
                box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
            }

                .subscribe .submit-btn:hover {
                background-image: linear-gradient( to left, #786CA1 0%, #EA8FEA 85%);
                box-shadow: -7px 8px 25px 0px rgba(88, 88, 88, 0.569);
            }

            .gen-content {
                width: 70%;

            }

            .hello-hidden {
                padding-top: 30px;
                display: flex;
                flex-direction: column;
                gap: 18px;
                align-items: center;
            }

            .hello-txt-hidden {
                font-size: 26px;
                text-align: center;
            }

            .r-gen-block {
                display: flex;
                flex-direction: column-reverse;
            }

            .blog-stat {
                padding: 36px 0;
                display: flex;
                gap: 78px;
                flex-direction: row;
                justify-content: center;
            }

            .blog-stat-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .blog-stat-img {
                background-image:  linear-gradient( to left, #EA8FEA 0%,  #786CA1 85%);
                display: inline-block;
                margin-bottom: 15px;
                padding: 2px;
                border-radius: 50%;
            }

            .stat-pic {
                min-width: 90px;
                background-image:  linear-gradient( to left, #EA8FEA 0%,  #786CA1 85%);
                border-radius: 50%;
                padding: 25px;
                transition: .2s;
            }

            .stat-pic i {
                font-size: 40px;
                background: #000;
                -webkit-background-clip: text!important;
                -webkit-text-fill-color: transparent;
            }

            .stat-txt p {
                font-size: 25px;
                font-weight: 600;
                letter-spacing: 3px;
                text-align: center;
                margin: 0;
                margin-bottom: 10px;
            }

            .main-title {
                font-size: 32px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 36px;
            }


            .main-img {
                width: 55%;
                display: flex;
                margin: 23px;
            }

            .main-content {
                margin: 23px;
                font-size:  22px;
            }

            .main-link-btn {
                display: flex;
                justify-content: center;
                margin: 36px 0;
            }

            .link-btn {
            text-decoration: none;
            }

            .m-v-btn {
                max-width: 500px;
                width: 100%;
                font-size: 19px;
                margin: 0;
            }

            .form {
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 30px auto;
                gap: 18px;
                background-color: white;
                padding: 30px;
                border-radius: 15px;
                transition: .4s ease-in-out;
                box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
            }

            .form:hover {
                transform: translateX(-0.5em) translateY(-0.5em);
                border: 1px solid #171717;
                box-shadow: 10px 10px 0px #666666;
            }

            .heading {
                color: black;
                text-align: center;
                font-weight: 600;
                font-size: 26px;
            }

            .input {
                width: 80%;
                border-radius: 3px;
                border: 1px solid whitesmoke;
                background-color: whitesmoke;
                outline: none;
                padding: 5px;
                transition: .4s ease-in-out;
            }

            .input:hover {
                box-shadow: 6px 6px 0px #969696,
                        -3px -3px 10px #ffffff;
            }

            .input:focus {
                background: #ffffff;
                box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
            }

            .form .btn {
                margin-top: 18px;
                align-self: center;
                padding: 6px;
                padding-left: 1em;
                padding-right: 1em;
                border-radius: 10px;
                border: none;
                color: black;
                transition: .4s ease-in-out;
                box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
            }

            .form .btn:hover {
                box-shadow: 6px 6px 0px #969696,
                            -3px -3px 10px #ffffff;
                transform: translateX(-0.5em) translateY(-0.5em);
            }

            .form .btn:active {
                transition: .2s;
                transform: translateX(0em) translateY(0em);
                box-shadow: none;
            }

            .r-container {
                display: flex;
                flex-direction: column-reverse;
            }

            .comment-n-video {
                padding: 36px;
                display: flex;
                flex-direction: row;
                gap: 30px;
            }

            .comment-block {
                width: calc((100% / 2) - 40px);
            }

            .comment-title {
                font-size: 26px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 28px;
            }

            .comment-wrap {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 30px;
            }

            .comment-txt {
                background: #ffffff;
                border-radius:  3px;
                padding: 19px 22px;
                padding-left: 60px;
                margin-left: 40px;
                text-align: right;
                box-shadow: 0 3px 8px rgba(0, 9, 128, 0.05), 0 14px 10px rgba(0, 9, 128, 0.04);
            }

            .c-text {
                font-size: 15px;
                color: #555;
                font-weight: 400;
                text-align: end;
            }

            .comment-person {
                position: absolute;
                flex-direction: row;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: left;
                padding: 30px 0;
            }

            .person-img {
                border-radius: 50%;
                border: 5px solid #fff;
                width: 75px;
                box-shadow: 0 3px 15px rgba(218, 225, 232, 0.85);
            }

            .person-name  {
                font-size: 17px;
            }

            .video-block {
                width: calc((100% / 2) - 40px);
                display:  block;
                align-items: center;
                margin: 0 auto;
            }

            .video-block video {
                display: block;
                height: 90%;
                width: 100%;
                object-fit: cover;
            }


            .category-bg {
                height: auto;
                padding: 36px 0 30px;
                background-color: #222831;
            }

            .category-title {
                font-size: 26px;
                font-weight: 600;
                text-align: center;
            }

            .category {
                padding: 23px 30px;
                background: #f9f9f9;
                border-radius: 15px;
                box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
                display: flex;
                flex-direction: column;
                gap: 14px;
            }

            .category-pic {
                min-width: 150px;
                height: 150px;
                margin: 0 auto;
            }

            .category-pic img{
                width: 100%;
                height: 100%;
            }

            .description{
                font-size: 19px;
                font-weight: 600;
                font-style: normal;
                margin: 18px 0;
                text-align: center;
            }

            .slick-slider {
                height: fit-content;
            }

            .slick-slide {
                padding:  36px;
            }

            .slick-list {
                overflow-x: clip;
                overflow-y: inherit;
            }

            .slick-dots {
                bottom: -30px;
            }

            .slick-dots li {
                width: 25px;
                height: 25px;
            }

            .slick-dots li button:before {
                font-size: 13px;
            }

            .pop-article {
                padding:  36px 0;
            }

            .pop-article-title {
                font-size: 26px;
                font-weight: 600;
                text-align: center;
                margin-bottom: 36px;
            }

            .pop-article-block {
                display: flex;
                flex-direction: row;
                gap: 30px;
                flex-wrap: wrap;
                justify-content: center;
            }

            .p-a-card {
                width: calc((100% / 3) - 40px );
                box-shadow: 0px 0px 9px 0px rgba(0,0,0,.08);
                border-radius: 3px;
                background: #f9f9f9;
                height: auto;
                display: flex;
                flex-direction: column;
            }

            .p-a-card:nth-child(odd) {
                display: flex;
                flex-direction: column-reverse;
            }

            .p-a-img {
                position: relative;
            }

            .p-a-img img {
                object-fit: cover;
                display: block;
                border-radius: 4px;
                width: 100%;
                height: 324px;
            }

            .p-a-text {
                padding: 10px;
            }

            .p-a-text a {
                color: #000;
                text-decoration: none;
                transition: 3ms;
            }

            .p-a-text a:hover {
                color: #000;
               text-decoration: underline;
            }

            .date-info {
                position: absolute;
                border-radius: 30px;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                background-image: linear-gradient( to left, #EA8FEA 0%,  #786CA1 85%);
                color: #000;
                padding: 12px 25px;
                display: inline-block;
                font-size: 12px;
                font-weight: bold;
                right: -10px;
                bottom: 15px;
                box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
            }

            .p-a-img:after {
                position: absolute;
                content: "";
                right: -9px;
                bottom: 57px;
                width: 0;
                height: 0;
                border-left: 0px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #000;
            }

            .footer-bg {
                overflow: hidden;
                background-image: url(bg/0_bg.jpg);
                background-position: center;
                background-size: cover;
            }

            .footer-opac {
                width: 100%;
                height: auto;
                background: rgba(255,255,255,0.5); color: #222;
            }

            .footer {
                padding: 36px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .f-name-logo {
                display: flex;
                gap: 18px;
                align-items: center;
            }

            .footer-name-txt {
                font-weight: 600;
                font-size: 35px;
                margin: 0;
            }

            .politic-link {
                display: flex;
                flex-direction: column;
                gap: 14px;
            }

            .p-link {
                color: inherit;
                text-decoration: none;
                font-size: 17px;
                font-weight: 600;
            }

            .p-link:hover {
                text-decoration: underline;
            }































            #cookie-eRrPBdo{
                display: none;
                justify-content: space-between;
                align-items: center;
                position: fixed;
                bottom: 19px;
                left: 50%;
                width: 1096px;
                max-width: 90%;
                transform: translateX(-50%);
                padding: 19px;
                background-color:  #171717;
                border-radius: 15px;
                box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.8);
                gap: 19px;
                z-index: 999999;
            }
            #cookie-eRrPBdo button{
                max-width: 200px;
            }

            #cookie-eRrPBdo p{
                margin: 0;
                font-size: 14px;
                color: #fff;
            }


            @media (min-width: 576px){
                #cookie-eRrPBdo.show{
                    display: flex;
                }
                .cookie_accept{
                    margin: 0 0 0 25px;
                }
            }

            @media (max-width: 575px){
                #cookie-eRrPBdo.show{
                    display: flex;
                    flex-direction: column;
                }
                .cookie_accept{
                    margin: 10px 0 0 0;
                }
                button{
                    width: 100%;
                }
            }
        