
@media (max-width: 1199px) {
    .contact-block {
        flex-direction: column !important;
        width: 40% !important;

    }

    .contact-wrap {
        width: 100%;
    }

    .video-block {
        display: none !important;
    }

    .comment-n-video {
        padding: 0;
    }

    .comment-block {
        width: 100%;
        padding: 50px 0;
    }

    .comment-txt {
        width: 100%;
    }

}

@media (max-width: 992px) {

    .general {
        flex-direction: column;
    }

    .gen-content {
        width: 100%;
    }

    .r-side {
        width: 100%;
    }

    .banner-img {
        width: 60%;
        margin: 0 auto;
    }

    .subscribe {
        top: -60px;
    }
   

    .hello-txt-block {
        display: none;
    }

    .contact-block {
        width: 100% !important;
    }

}

@media(max-width: 767px)  {
    .main-img {
        float: none !important;
        margin: 0 auto;
    }
    
    .pop-article-block {
        flex-direction: column;
    }

    .p-a-card {
        width: 100%;
    }
}

@media(max-width: 600px) {
   .container {
    width: 90%;
   }

   .banner-img {
    width: 100%;
   }

   .form {
    width: 100%;
   }

   .blog-stat {
    flex-direction: column;
   }

   .footer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
   }

   .p-link {
    text-align: center;
   }

}

