
            .reply-box__bb-button {
                background: url(https://www.runescape.com/img/rs3/forums/bb-buttons.png) no-repeat,linear-gradient(#82acbc, #40687e);
            }

            .reply-box__bb-button--bold {
                background-position: 7px center;
            }

            .reply-box__bb-button--italic {
                background-position: -28px center;
            }

            .reply-box__bb-button--underline {
                background-position: -65px center;
            }

            .reply-box__bb-button--strike {
                background-position: -102px center;
            }

            .reply-box__bb-button--align {
                background-position: -389px center;
                height: 28px;
                overflow: visible;
            }

            .reply-box__bb-picker--align {
                left: -50px;
                width: 120px;
            }

            .reply-box__bb-align--left {
                background-position: -423px center;
            }

            .reply-box__bb-align--centre {
                background-position: -389px center;
            }

            .reply-box__bb-align--right {
                background-position: -459px center;
            }

            .reply-box__bb-button--color {
                background-position: -136px center;
                height: 28px;
                overflow: visible;
            }

            .reply-box__bb-picker {
                background: url(https://www.runescape.com/img/rs3/content_repeat_y.jpg) repeat 0 0;
                box-shadow: 0 0 2px 2px black, inset 0 0 2px 2px rgba(255,255,255,0.3);
                clear: both;
                display: none;
                height: 35px;
                left: -53px;
                padding: 10px 0 10px 10px;
                position: absolute;
                top: 33px;
                width: 127px;
                z-index: 2;
            }

            .reply-box__bb-button--link {
                background-position: -170px center;
            }

            .reply-box__bb-button--smiley {
                background-position: -204px center;
                height: 28px;
                overflow: visible;
            }

            .reply-box__bb-button--qfc {
                background-position: -278px center;
            }

            .reply-box__bb-button--spoiler {
                background-position: -316px center;
            }

            .reply-box__bb-button--noparse {
                background-position: -352px center;
            }

            .reply-box__bb-smiley-plate {
                background: transparent url(https://www.runescape.com/img/rs3/forums/smileys.gif) no-repeat 0 0;
                border: 1px solid transparent;
                float: left;
                height: 15px;
                margin: 0 10px 10px 0;
                width: 15px;
            }

            .reply-box__bb-smiley-plate--wink {
                background-position: -15px 0;
            }

            .reply-box__bb-smiley-plate--toungue {
                background-position: -30px 0;
            }

            .reply-box__bb-smiley-plate--sad {
                background-position: -45px 0;
            }

            .reply-box__bb-smiley-plate--neutral {
                background-position: -60px 0;
            }

            .reply-box__bb-smiley-plate--confused {
                background-position: -75px 0;
            }

            .reply-box__bb-smiley-plate--laugh {
                background-position: -90px 0;
            }

            .reply-box__bb-smiley-plate--happy {
                background-position: -105px 0;
            }

            .reply-box__bb-smiley-plate--suprise {
                background-position: -120px 0;
            }

            .reply-box__bb-smiley-plate--grumpy {
                background-position: -135px 0;
            }
        