body{
    background-color: #f3f3f3 !important;
}
section.header{
    background-color: #fff;
    padding-bottom: 15px;
}
.header{
    border-bottom: 1px solid #ffcd00;
}
.linkMenu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.linkMenu a{
    text-decoration: none;
    color: rgb(65, 64, 66);
    border-bottom: 1px solid transparent;
    font-size: 18px;
}

.contentContainer {
    background: transparent;
    margin-top: 30px;
}

.contentContainer .blockProdInf{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    height: 100%;
}

.contentContainer .blockProdImg{
    background-color: #fff;
    padding: 20px; 
    height: 100%;
}

.contentContainer .price{
    color: #002f34;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contentContainer .listInfoProd{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contentContainer .listInfoProd .itemProd{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contentContainer .listInfoProd .itemProd img{
    width: 35px;
}

.contentContainer .listInfoProd .itemProd p{
    margin: 0;
    margin-left: 15px;
}

.btncustomStyle{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffcd00;
    height: 50px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 0px 10px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}