/*--------------------------------------------------------------
	CSS Transforms
--------------------------------------------------------------*/
a, nav li, .scrollToTop, .widget li {
	text-decoration: none;
	-webkit-transition-duration: .3s; -webkit-transition-property: color, opacity, background-color, border;
	-moz-transition-duration: .3s; -moz-transition-property: color, opacity, background-color, border;
	-o-transition-duration: .3s; -o-transition-property: color, opacity, background-color, border;
	transition-duration: .3s; transition-property: color, opacity, background-color, border;
}
#nav-container li {
	-webkit-transition-duration: 0; -webkit-transition-property: border;
	-moz-transition-duration: 0; -moz-transition-property: border;
	-o-transition-duration: 0; -o-transition-property: border;
	transition-duration: 0; transition-property: border;
}
/*--------------------------------------------------------------
	General
--------------------------------------------------------------*/
html {
	overflow-x: hidden;
}
body { 
	color: #657480;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.8;
}
a, a:visited { 
	text-decoration: none;
	color: #3598da;
	outline: none;
}
a:hover, a:active, a:focus { 
	color: #2a80b9;
	outline: none;
}
.altlink a, .altlink a:visited { 
	color: #657480; 
}
.altlink a:hover, .altlink a:focus, .altlink a:active {
	color: #2a80b9;
}
h1 { font-size: 26px; }
h2 { font-size: 23px; }
h3 { font-size: 20px; }
h4 { font-size: 17px; }
h5 { font-size: 14px; }
h6 { font-size: 13px; }
#wrap { min-width: 300px; position: absolute; top: 0; left: 0; }
/*#content { padding-left: 40px; padding-right: 10px; }*/
#content-inner { background: transparent; };
.strong { font-weight: bold; }
/*--------------------------------------------------------------
	Uber-Header
--------------------------------------------------------------*/
.uber-header {
	background: #315370;
	height: 35px;
	color: #97a8b7;
	border-bottom: 1px solid #396082;
}
.uber-header a, .uber-header a:visited {
	color: #97a8b7;
}
.uber-header a:hover, .uber-header a:active, .uber-header a:focus {
	color: #ffffff;
}
.uber-header-inner {
	height: 35px;
}
.uberh-left {
	float: left;
}
.uber-contact {
	float: left;
	font-size: 13px;
	line-height: 35px;
}
.uber-contact span:before {
	line-height: 35px;
	font-size: 14px;
	height: 35px;
	overflow: hidden;
	margin: 0;
	display: inline-block;
	margin-left: 20px;
	margin-right: 10px;
}
.uberh-right {
	float: right;
	margin-right: 20px;
}
.social-button {
	float: left;
}
.social-button span:before {
	line-height: 35px;
	font-size: 16px;
	width: 35px;
	height: 35px;
	overflow: hidden;
	margin: 0;
}
.social-button:hover span:before {
	-webkit-transition-duration: .3s; -webkit-transition-property: color, opacity, background-color;
	-moz-transition-duration: .3s; -moz-transition-property: color, opacity, background-color;
	-o-transition-duration: .3s; -o-transition-property: color, opacity, background-color;
	transition-duration: .3s; transition-property: color, opacity, background-color;
}
/*.sb-facebook:hover span:before {
	background: #3b5998;
}
.sb-twitter:hover span:before {
	background: #56a3d9;
}
.sb-gplus:hover span:before {
	background: #dd4b39;
}
.sb-pinterest:hover span:before {
	background: #ec4a89;
}
.sb-linkedin:hover span:before {
	background: #007bb6;
}
.sb-youtube:hover span:before {
	background: #bf221f;
}
.sb-vimeo:hover span:before {
	background: #5da9d5;
}
.sb-flickr:hover span:before {
	background: #ec4a89;
}
.sb-rss:hover span:before {
	background: #f86811;
}*/
/*--------------------------------------------------------------
	Header
--------------------------------------------------------------*/
.masthead {
	background: #2c3e50;
/*	box-shadow:         0px 2px 5px 0px rgba(0, 0, 0, 0.45);*/
	position: relative;
	z-index: 2;
}
.masthead-inner {
	color: #dce2e3;
}
.masthead-inner a, .masthead-inner a:visited { 
	color: #dce2e3;
}
.masthead-inner a:hover, .masthead-inner a:active, .masthead-inner a:focus { 
	color: #ffffff; 
}
.site-branding { 
	float: left; 
	margin: 0; 
	padding: 0; 
	height: 70px; 
	margin-left: 10px;
}
.site-branding span:before {
	margin-right: 10px;
	font-size: 28px;
}
h1.site-title { 
/*	font-family: 'Cabin Condensed', "Open Sans", "helvetica neue", helvetica, arial, sans-serif;*/
	font-size: 26px;
	letter-spacing: 2px;
	font-weight: 400;
	line-height: 70px; 
}
/*#pmenu-toggle { 
	position: absolute;
	left: 0;
}
.pmenu-toggle { 
	width: 40px; 
	height: 70px; 
	line-height: 70px;
	font-size: 25px; 
	cursor: pointer; 
	float: left;
}
.pmenu-toggle:hover { 
	color: #fff; 
}*/
#pmenu-toggle { 
	position: absolute;
	top: 47px;
	right: -40px;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	border-radius: 20px;
}
.pmenu-toggle { 
	width: 40px; 
	height: 40px; 
	line-height: 40px;
	font-size: 21px; 
	cursor: pointer; 
	border-radius: 20px;
	/*background: rgba(0,0,0,0.5);*/
}
.pmenu-toggle:hover { 
/*	color: #fff; */
}
/*--------------------------------------------------------------
	Portable devices slidebar
--------------------------------------------------------------*/
#sb-left { 
	position: fixed; 
	width: 260px; 
	height: 100%; 
	top: 0; 
	left: -260px; 
	background-color: #22323d; 
	color: #ddd; 
	padding: 0; 
	z-index: 300; 
	font-size: 13px; 
}
#sb-left a, #sb-left a:visited { 
	color: #ddd; 
	text-decoration: none; 
}
#sb-left a:hover, #sb-left a:active { 
	color: #fff; 
	background-color: #6c7d8c;
}
#sb-left-inner { 
	position: relative; 
}
.close-sb {
	width: 100%; 
	line-height: 30px; 
	text-align: right; 
	border-bottom: 1px solid rgba(255,255,255,0.1); 
	padding: 5px 0; 
}
.close-sb:hover { 
	cursor: pointer; 
	color: #fff; 
	background: #6c7d8c;
}
/*--------------------------------------------------------------
	Main Navigation
--------------------------------------------------------------*/
#nav-container { 
	float: right; 
	margin-right: 20px;
}
.main-navigation ul {
	line-height: 70px;
	font-size: 14px;
	letter-spacing: 0.3px;
}
.main-navigation a {
	display: block;
}
.main-navigation li.menu-item {
	display: block;
}
/* top level */
.main-navigation ul.menu li {
	padding: 0 15px;
}
.main-navigation ul.menu li:hover {
	background: #3188d4;
}
.main-navigation ul.menu li a, 
.main-navigation ul.menu li a:visited,  
.main-navigation ul.menu li a:hover, 
.main-navigation ul.menu li a:active, 
.main-navigation ul.menu li a:focus {
	color: #dce2e3;
}
.main-navigation ul.menu li:hover a, 
.main-navigation ul.menu li:hover a:visited,  
.main-navigation ul.menu li:hover a:hover, 
.main-navigation ul.menu li:hover a:active, 
.main-navigation ul.menu li:hover a:focus {
	color: #ffffff;
}
/* sub level 1 */
.main-navigation ul.sub-menu li {
	padding: 0 !important;
	background: #2c3e50 !important;
}
.main-navigation ul.sub-menu li:hover {
	background: #3188d4 !important;
}
.main-navigation ul.sub-menu li:last-child {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.main-navigation ul.sub-menu li a, 
.main-navigation ul.sub-menu li a:visited, 
.main-navigation ul.sub-menu li a:hover, 
.main-navigation ul.sub-menu li a:active, 
.main-navigation ul.sub-menu li a:focus {
	color: #dce2e3;
	padding: 10px 15px;
}
.main-navigation ul.sub-menu li:hover a, 
.main-navigation ul.sub-menu li:hover a:visited, 
.main-navigation ul.sub-menu li:hover a:hover, 
.main-navigation ul.sub-menu li:hover a:active, 
.main-navigation ul.sub-menu li:hover a:focus {
	color: #ffffff;
}
/* sub level 2 */
.main-navigation ul.sub-menu ul li:first-child {
	border-top-right-radius: 3px;
/*	border-top-left-radius: 3px;*/
}
.main-navigation ul.sub-menu ul li:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.main-navigation ul ul {
	top: 70px;
	line-height: 25px;
	letter-spacing: 0;
}
.main-navigation ul ul li{
/*	border-bottom: 1px solid rgba(255,255,255,0.1);*/
}
/*--------------------------------------------------------------
	Portable Devices Navigation
--------------------------------------------------------------*/
.portable-devices-navigation, .portable-devices-navigation li a {
	clear: both;
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.05);
}
.portable-devices-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	line-height: 35px;
}
.portable-devices-navigation li a {
	padding: 0 3px;
}
.portable-devices-navigation li li a {
	padding: 0 18px;
}
.portable-devices-navigation li li li a {
	padding: 0 33px;
}
.portable-devices-navigation li li li li a {
	padding: 0 48px;
}
.portable-devices-navigation a:hover {
	background: #1397f0;;
}
/*--------------------------------------------------------------
	Map
--------------------------------------------------------------*/
#map-tab-container {
	position: relative;
}
#map-tab {
	position: absolute;
	right: 100px;
	background: rgba(50, 74, 89, 0.8);
	z-index: 1;
	text-align: center;
	padding: 3px 10px 5px 10px;
	font-size: 11px;
	cursor: pointer;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	font-family: "Roboto", "Open Sans", Arial, sans-serif;
	color: #fff;
	font-weight: normal;
}
#map-tab span {
	margin-right: 4px;
}
#map-wrapper {
	position: relative;
}
#map-canvas {
	height: 100px;
	border-bottom: 5px solid #e3e3e3;
/*	border-top: 5px solid #e3e3e3;*/
}
.map-top-shadow {
	-webkit-box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:    inset 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow:         inset 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
#map-canvas img {
	max-width: none;
}
#map-controls {
	background: #495c6e;
    bottom: 5px;
    display: block;
    height: 45px;
    left: 50%;
    margin-left: -120px;
    padding: 0;
    position: absolute;
	border: none;
	overflow: hidden;
	font-family: "Roboto";
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.map-control {
    background: transparent;
	color: #dce2e3;
	height: 45px;
	width: 60px;
	float: left;
	overflow: hidden;
	-webkit-transition-duration: .3s; -webkit-transition-property: color, opacity, background;
	-moz-transition-duration: .3s; -moz-transition-property: color, opacity, background;
	-o-transition-duration: .3s; -o-transition-property: color, opacity, background;
	transition-duration: .3s; transition-property: color, opacity, background;
}
.map-control:hover {
    background: #3188d4;
	color: #fff;
	cursor: pointer;
}
.map-control span:before {
	padding: 0;
	line-height: 35px;
	text-align: center;
	display: block;
	width: 60px;
	height: 35px;
	font-size: 18px;
	margin: 0;
	border: none;
	overflow: hidden;
}
#map-controls .mc-inactive, #map-controls .mc-inactive:hover {
	cursor: default;
    background: transparent;
}
#map-controls .mc-inactive span:before, #map-controls .mc-inactive:hover span:before, 
#map-controls .mc-inactive .mctext, #map-controls .mc-inactive:hover .mctext  {
	opacity: 0.4;
}
.mapc-sep {
	width: 1px;
	height: 45px;
	overflow: hidden;
	float: left;
	background: rgba(255,255,255,0.15);
	display: none;
}
#map-controls .mctext {
	font-size: 10px;
	line-height: 10px;
	text-align: center;
	width: 60px;
	height: 10px;
	padding: 0;
	margin: 0;
	margin-top: -5px;
	border: none;
}
/*--------------------------------------------------------------
	Map Infobox
--------------------------------------------------------------*/
.gp-ibox-container { 
	background: #2c3e50; 
	color: #dedede;
	border-radius: 5px;
	-webkit-box-shadow: 10px 12px 15px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    10px 12px 15px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         10px 12px 15px 0px rgba(0, 0, 0, 0.2);
	width: 280px;
	-webkit-transition-duration: .3s; -webkit-transition-property: color, opacity, background;
	-moz-transition-duration: .3s; -moz-transition-property: color, opacity, background;
	-o-transition-duration: .3s; -o-transition-property: color, opacity, background;
	transition-duration: .3s; transition-property: color, opacity, background;
}
.gp-ibox-container a, gp-ibox-container a:visited { 
	color: #2a80b9;
}
.gp-ibox-container a:hover, .gp-ibox-container a:focus, .gp-ibox-container a:active { 
	color: #37a6f0; 
}
.gp-ibox-image {
	width: 280px;
	height: 180px;
	position: relative;
	background-size: cover;
	background-position: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.gp-ibox-image img {
	width: 100%;
	height: 100%;
}
.gp-ibox-image span.icon-link {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	margin: 0;
	padding: 0;
	margin-top: -30px;
	margin-left: -30px;
	color: #fff;
	font-size: 30px;
	border: 2px solid #fff;
	border-radius: 30px;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	-webkit-transition-duration: .5s; -webkit-transition-property: color, opacity, background;
	-moz-transition-duration: .5s; -moz-transition-property: color, opacity, background;
	-o-transition-duration: .5s; -o-transition-property: color, opacity, background;
	transition-duration: .5s; transition-property: color, opacity, background;
}
.gp-ibox-title h3 {
	text-align: center;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	overflow: hidden;
}
.gp-ibox-title h3 a, .gp-ibox-title h3 a:visited, span.ibox-seemore {
	color: #dedede;
}
.gp-ibox-title h3 a:hover, .gp-ibox-title h3 a:active, .gp-ibox-title h3 a:focus, span.ibox-seemore:hover {
	color: #37a6f0;
}
.gp-ibox-title h3 a {
	padding: 10px 15px 5px 15px;
	display: inline-block;
}
.gp-ibox-uline {
	width: 30%;
	height: 1px;
	background: rgba(255,255,255,0.2);
	margin: 0 auto;
}
.gp-ibox-text {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	padding: 10px 10px 20px 10px;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.gp-ibox-close {
    background: rgba(0, 0, 0, 1);
	border: 1px solid rgba(255,255,255,1);
    color: #eee;
	font-family: "orrama";
    font-size: 14px;
    height: 24px;
    line-height: 22px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 5px;
    width: 24px;
    cursor: pointer;
	opacity: 0.5;
	-webkit-transition-duration: .3s; -webkit-transition-property: color, opacity, background;
	-moz-transition-duration: .3s; -moz-transition-property: color, opacity, background;
	-o-transition-duration: .3s; -o-transition-property: color, opacity, background;
	transition-duration: .3s; transition-property: color, opacity, background;
}
.gp-ibox-close:hover {
	opacity: 0.8;
}
.gp-ibox-close:before {
	content: '\e81b';
}
.gp-ibox-pointer {
	position: relative;
	height: 25px;
}
.gp-ibox-pointer span {
	position: relative;
	height: 25px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.gp-ibox-pointer span.icon-play:before {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	font-size: 30px;
	text-shadow: 8px -5px 12px rgba(0, 0, 0, 0.15);
	margin: -1px 0 0 15px;
	line-height: 21px;
	padding: 0;
	color: #2c3e50;
}
/*--------------------------------------------------------------
	Content
--------------------------------------------------------------*/
.site-content {
	margin-top: 5px;
}
.content-area {
	/*background: #fff;*/
}
.page-header {
	margin-bottom: 2px;
}
.page-title h1 {
	line-height: 40px;
	padding-top: 2px;
	font-size: 28px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 400;
/*	font-family: "Cabin Condensed", "Open Sans", "helvetica neue", helvetica, arial, sans-serif;*/
}
.page-title h1 span {
	padding: 0 5px 5px;
	border-bottom: 2px dotted rgba(81, 93, 102, 0.95);
	display: inline-block;
}
.page-title h1 span span {
	padding: 2px 0;
	border: none;
}
.hentry {
	margin-bottom: 5px;
}
.entry-header {
	margin-bottom: 2px;
	text-align: center;
}
.entry-header-post {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.entry-title h1 {
	font-size: 26px;
/*	font-family: 'Cabin Condensed', sans-serif;*/
	text-align: center;
	font-weight: normal;
}
.wpage-title {
	border-bottom: 1px solid rgba(81, 95, 102, 0.1);
}
.entry-meta {
	font-size: 13px;
	text-transform: uppercase;
	border-top: 1px solid rgba(0,0,0,0.1);
	line-height: 20px;
	padding: 2px 10px;
	margin: 0 auto;
	display: inline-block;
}
.entry-meta span.icon-calendar:before {
	color: rgba(0,0,0,0.5);
	margin-right: 10px;
}
.entry-meta span span.icon-user:before {
	color: rgba(0,0,0,0.5);
	margin-left: 15px;
	font-size: 15px;
}
.imgl2p, .imgl2m, .fg-imgl2p, .fg-imgl2m, .imgl2mp {
	position: absolute;
	background: rgba(0,0,0,1);
	width: 70px;
	height: 70px;
	border: 1px solid rgba(255,255,255,1);
	line-height: 68px;
	border-radius: 2px;
	font-size: 35px;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	opacity: 0;
    display: inline-block;
    font-family: "orrama";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
	color: #fff;
	-webkit-transition-duration: .5s; -webkit-transition-property: color, opacity, background;
	-moz-transition-duration: .5s; -moz-transition-property: color, opacity, background;
	-o-transition-duration: .5s; -o-transition-property: color, opacity, background;
	transition-duration: .5s; transition-property: color, opacity, background;
}
.imgl2p:before, .fg-imgl2p:before {
	content: '\e82b';
}
.imgl2m:before, .fg-imgl2m:before {
	content: '\e887';
}
.imgl2mp {
	opacity: 0.35;
}
.imgl2mp:before {
	content: '\e8be';
}
.widget .imgl2mp {
	width: 50px;
	height: 50px;
	border: 2px solid rgba(255,255,255,1);
	line-height: 46px;
	border-radius: 4px;
	font-size: 32px;
	margin-top: -25px;
	margin-left: -25px;
}
.fg-imgl2p, .fg-imgl2m {
	width: 60px;
	height: 60px;
	line-height: 60px;
/*	border-radius: 30px;*/
	font-size: 30px;
	margin-top: -30px;
	margin-left: -30px;
}
.read-more {
	margin-top: -5px;
	margin-bottom: 10px;
}
a.more-link {
	text-align: right;
	float: right;
	padding: 5px 8px;
	border: none;
	border-radius: 2px;
	font-size: 13px;
}
.meta-nav {
	font-size: 100%;
}
.entry-footer {
	font-size: 100%;
	border-top: 1px dotted rgba(0,0,0,0.2);
	border-bottom: 1px dotted rgba(0,0,0,0.2);
	background: rgba(0,0,0,0.02);
	padding: 5px 10px;
	margin-top: 10px;
}
.entry-footer .icon-tags:before, .entry-footer .icon-folder-open:before, .entry-footer .icon-chat:before, .entry-footer .icon-edit:before {
	font-size: 100%;
	color: rgba(0,0,0,0.5);
}
.entry-footer .icon-tags:before, .entry-footer .icon-chat:before, .entry-footer .icon-edit:before {
	margin-left: 10px;
}
.entry-sep {
	height: 4px;
	background: url(../img/pat1.png) repeat;
	margin-top: 25px;
	opacity: 0.4;
}
.nav-previous a, .nav-next a {
	padding: 5px 8px;
	margin-bottom: 5px;
	border: none;
	border-radius: 2px;
	font-size: 13px;
	display: block;
}
.big404 {
	font-size: 200px;
	color: #2a80b9;
	margin: 0;
}
/*--------------------------------------------------------------
	Widgets
--------------------------------------------------------------*/
.widget {
	margin-bottom: 25px;
	overflow: hidden;
}
.widget-title {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 5px;
}
.widget-title-inner {
	display: inline-block;
	border-bottom: 3px solid #3598da;
}
.widget-title-inner h3 {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
/*	font-family: "Cabin Condensed", "Open Sans", "helvetica neue", helvetica, arial, sans-serif;*/
	letter-spacing: 2px;
	font-weight: 400;
}
.widget ul, .widget ul li {
	list-style-type: none;
	margin: 0;
}
.widget li {
	border-bottom: 1px solid rgba(0,0,0,0.09);
}
.widget li a {
	display: block;
	padding: 6px 0 6px 5px;
}
.widget li a:before {
	content: "âº";
	font-weight: normal;
	padding-right: 5px;
}
.widget li a:hover {
/*	background: rgba(0,0,0,0.02);*/
}
.widget li li a {
	padding-left: 25px;
}
.widget li li:first-child {
	border-top: 1px solid rgba(0,0,0,0.09);
}
.widget li li:last-child {
	border-bottom: none;
}
.widget li li li a {
	padding-left: 45px;
}
.widget li li li:first-child {
	border-top: 1px solid rgba(0,0,0,0.09);
}
.widget li li li:last-child {
	border-bottom: none;
}
.widget li li li li a {
	padding-left: 65px;
}
.widget li li li li:first-child {
	border-top: 1px solid rgba(0,0,0,0.09);
}
.widget li li li li:last-child {
	border-bottom: none;
}
.widget span.post-date, .widget span.rss-date {
	font-size: 12px;
	padding-left: 15px;
	margin-top: -5px;
}
.textwidget .fgallery-slider-wrapper, .textwidget .fgallery-wrapper {
	margin-top: 20px;
}
.widget_recent_entries li a:hover {
	background: none;
}
.widget_recent_entries li:hover {
/*	background: rgba(0,0,0,0.02);;*/
}
.widget_archive li {
	padding: 6px 0 6px 5px;
}
.widget_archive li a {
	display: inline;
}
.widget_archive li a:hover {
	background: none;
}
.widget_archive li:hover {
/*	background: rgba(0,0,0,0.02);;*/
}
.widget .recentcomments a {
	padding: 0;
}
.widget .recentcomments a:before {
	content: none;
}
.widget .recentcomments a:hover {
	background: transparent;
}
.widget li.recentcomments {
	padding: 6px 0 6px 5px;
}
.widget_rss li a:hover {
	background: none;
}
.widget_rss li:hover {
/*	background: rgba(0,0,0,0.02);;*/
}
.widget_tag_cloud a, .widget_tag_cloud a:visited {
	text-align: right;
	float: left;
	padding: 0 10px;
	border: none;
	border-radius: 2px;
	margin: 5px;
	line-height: 2;
}
.widget_calendar caption {
	text-align: right;
	font-style: italic;
	padding: 0 5px 5px 0;
}
.widget_calendar table {
	border-collapse: collapse;
	margin-bottom: 0;
}
.widget_calendar thead th {
	border-top: 1px solid rgba(0,0,0,0.09);
}
.widget_calendar tbody td, .widget_calendar thead th {
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.09);
}
.widget_calendar tbody td {
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
}
.widget_calendar tbody td a {
	display: block;
	background: rgba(0,0,0,0.05);
}
.widget_calendar tfoot #next {
	text-align: right;
}
.footer-widget {
	padding-top: 40px;
}
/*--------------------------------------------------------------
	Comments
--------------------------------------------------------------*/
.comments-area {
	margin-top: 5px;
}
.comments-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    margin-bottom: 5px;
}
.comments-area ul li {
	list-style-type: none;
}
.comments-area .reply {
	text-align: right;
	padding-right: 10px;
}
.comment-content p {
	margin-bottom: 10px;
}
.comment-content p:last-child {
	margin-bottom: 5px;
}
.comment-body {
	overflow: hidden;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 10px;
}
.comment-respond {
	overflow: hidden;
	margin-top: 20px;
}
h3.comment-reply-title {
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
}
.comment-form label, .comment-form input {
	display: block;
}
.comment-form p {
	margin-bottom: 10px;
}
/*--------------------------------------------------------------
	Footer
--------------------------------------------------------------*/
.site-footer {
	margin-top: 30px;
}
.footer-copyr {
	font-size: 13px;
	line-height: 50px;
	border-top: 1px dotted rgba(255,255,255,0.2);
}
/*--------------------------------------------------------------
	Scroll to top
--------------------------------------------------------------*/
.scrollToTop { 
	width:40px; 
	height:40px; 
	line-height: 36px; 
	display: none; 
	background-color: #2a80b9; 
	text-align: center; 
	cursor: pointer; 
	position: fixed; 
	bottom: 10px; 
	right: 10px; 
	border: none; 
	border-radius: 2px;
	font-family: 'orrama'; 
	font-style: normal; 
	font-weight: normal; 
	font-size: 26px; 
	font-variant: normal; 
	text-transform: none; 
	color: #fff; 
	z-index: 290; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	opacity: 0.5;
	-webkit-transition-duration: 0s; -webkit-transition-property: color, opacity, background-color;
	-moz-transition-duration: 0s; -moz-transition-property: color, opacity, background-color;
	-o-transition-duration: 0s; -o-transition-property: color, opacity, background-color;
	transition-duration: 0s; transition-property: color, opacity, background-color; 
} 
.scrollToTop:after { 
	content: '\e897';
}
.scrollToTop:hover { 
	background-color: #1397f0; 
	opacity: 1;
}
/*--------------------------------------------------------------
	Gallery
--------------------------------------------------------------*/
.fgallery-container {
	text-align: center;
}
.fgallery-inner-container {
	display: flex;
	overflow: hidden;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0 auto;
}
/*.fgallery-row {
	display: flex;
}*/
.fgallery-item {
	float: left;
}
.fgallery-thumb-container {
	position: relative;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.fgallery-thumb-container1 {
	background-size: 100% auto;
}
.fgallery-thumb-container2 {
	background-size: auto 100%;
}
.fgallery-thumb-content {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	color: #ccc;
	cursor: pointer;
}
.fgallery-thumb-content:hover {
	color: #fff;
}
.fgallery-thumb-content span {
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	position: absolute;
	background: rgba(0,0,0, 0.6);
}
.fgallery-thumb-title {
    margin: 20px 0 5px 0;
    text-align: center;
	overflow: hidden;
}
.fgallery-thumb-title h3 {
	font-size: 15px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	font-weight: bold;
}
.fgallery-excerpt {
	padding: 0 10px 10px 10px;
}
.vignette {
	-moz-box-shadow: inset 0 0 3rem rgba(0,0,0,0.7); 
	-webkit-box-shadow: inset 0 0 3rem rgba(0,0,0,0.7);
	box-shadow: inset 0 0 3rem rgba(0,0,0,0.7);
	-webkit-transition: box-shadow 0.3s ease-out;
	-moz-transition: box-shadow 0.3s ease-out;
	-o-transition: box-shadow 0.3s ease-out;
	transition: box-shadow 0.3s ease-out;
/*	z-index: 2;*/
}
.vignette:hover {
	box-shadow: none;
	-moz-box-shadow: none; 
	-webkit-box-shadow: none;
}
.shadoweffect {
	position:relative;
	color: #fff;
}
.shadoweffect:before, .shadoweffect:after {
	z-index:-1;
	position:absolute;
	content:"";
	color: #fff;
	bottom:15px;
	left:10px;
	width:50%;
	top:80%;
	max-width:300px;
	background:rgba(0,0,0,0.7);
	-webkit-box-shadow:0 15px 10px rgba(0,0,0,0.7);
	-moz-box-shadow:0 15px 10px rgba(0,0,0,0.7);
	box-shadow:0 15px 10px rgba(0,0,0,0.7);
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
	-ms-transform:rotate(-3deg);
	transform:rotate(-3deg);
}
.shadoweffect:after {
	-webkit-transform:rotate(3deg);
	-moz-transform:rotate(3deg);
	-o-transform:rotate(3deg);
	-ms-transform:rotate(3deg);
	transform:rotate(3deg);
	right:10px;
	left:auto;
}
.zoomeffect1, .zoomeffect2 {
	-webkit-transition: background-size 0.5s ease-out;
	-moz-transition: background-size 0.5s ease-out;
	-o-transition: background-size 0.5s ease-out;
	transition: background-size 0.5s ease-out;
}
.zoomeffect1:hover {
	background-size: 120% auto;
}
.zoomeffect2:hover {
	background-size: auto 120%;
}
.zoomeffect1ie:hover {
	background-size: 100% auto !important;
}
.zoomeffect2ie:hover {
	background-size: auto 100% !important;
}
/*--------------------------------------------------------------
	Slider
--------------------------------------------------------------*/
.fgallery-slider-wrapper {
/*	background: url('../img/bx_loader.gif') center no-repeat;*/
}
.fs-image-container span{
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
	display: block;
	background: rgba(19, 21, 25, 0.7);
}
.fs-image-container span span{
    color: #eee;
    font-size: 17px;
	font-weight: bold;
    text-align: center;
	margin: 0 auto;
    width: 100%;
	max-width: 1240px;
	overflow: hidden;
	position: relative;
	background: none;
	padding: 0;
	font-family: "Raleway", "Open Sans", "Merriweather Sans", "Lustria",  "Merriweather", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.5px;
}
/*--------------------------------------------------------------
	Accent
--------------------------------------------------------------*/
.accent-bg {
	background: #3598da;
}
.accent-bg:hover {
	background: #2a80b9;
}
.accent-color {
	color: #fff!important;
}
.accent-border-color { 
	border-color: #3598da;
}	
/*--------------------------------------------------------------
	Panoramas
--------------------------------------------------------------*/
.panoloader {
	z-index: 1;
	width: 100%;
	position: relative;
	top: 0;
}
.panoiframe {
	border: none;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 0;
	overflow: hidden;
}
.pmap-canvas {
	margin: 0px;
	padding: 0px;
}
.pmap-canvas img { max-width: inherit; }
.pano-thumb-container {
	cursor: pointer;
	position: relative
}
.lbox-closed { 
	width: 0; 
	height: 0; 
	background: rgba(0,0,0, 0.85); 
	position: fixed; 
	padding: 0;
	top: 50%; 
	left: 50%; 
	z-index: 1000;
	opacity: 0;
	text-decoration: none;
    transition:  width 1s, height 1s, opacity 1s, top 1s, left 1s;
    -webkit-transition:  width 1s, height 1s, opacity 1s, top 1s, left 1s;
    -moz-transition:  width 1s, height 1s, opacity 1s, top 1s, left 1s;
    -ms-transition:  width 1s, height 1s, opacity 1s, top 1s, left 1s;
    -o-transition:  width 1s, height 1s, opacity 1s, top 1s, left 1s;
}
.lbox-open { 
	width: 100%; 
	height: 100%; 
	background: rgba(0,0,0, 0.85); 
	position: fixed; 
	padding: 1.2%;
	top: 0; 
	left: 0; 
	z-index: 1000;
	opacity: 1;
	text-decoration: none;
    transition:  width 1s, height 1s, opacity 1s, top 1s, left 1s;
    -webkit-transition:  width 1s, height 1s, opacity 1s, top 1s, left 1s;
    -moz-transition:  width 1s, height 1s, opacity 1s, top 1s, left 1s;
    -ms-transition:  width 1s, height 1s, opacity 1s, top 1s, left 1s;
    -o-transition:  width 1s, height 1s, opacity 1s, top 1s, left 1s;
}
.lbox-open-bg {
	background: url(../img/bx_loader.gif) center center no-repeat rgba(0,0,0, 0.85); 
	transition: all 0;
    -webkit-transition: all 0;
    -moz-transition: all 0;
    -ms-transition: all 0;
    -o-transition: all 0;
}
.lboxclose-hidden {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: transparent;
	display: none;
	z-index: 2;
}
.lboxclose-visible {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url("../img/lboxclose.png") center center no-repeat transparent;
	display: block;
	z-index: 2;
}
#lbox iframe {
	width: 0;
	height: 0;
	display: none;
	background: #000 !important;
}
#gmap-modal img {
	max-width: inherit;
}
.pano-open-link a {
	display: block;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.pano-open-link span {
	font-size: 20px;
}
.pano-open-link {
	margin-bottom: 20px;
}

/*--------------------------------------------------------------
	Buttons Shortcode Styles
--------------------------------------------------------------*/
a.gpbsc-blue { display: inline-block; background: #2677ad; color: #fff !important;}
a.gpbsc-blue:hover { background: #319ae0; }

a.gpbsc-orange { display: inline-block; background: #d97641; color: #fff !important;}
a.gpbsc-orange:hover { background: #bf6839; }

a.gpbsc-lightblue { display: inline-block; background: #43a0bf; color: #fff !important;}
a.gpbsc-lightblue:hover { background: #3a8ba6; }

a.gpbsc-bluegrey { display: inline-block; background: #78adb5; color: #fff !important;}
a.gpbsc-bluegrey:hover { background: #67949c; }

a.gpbsc-red { display: inline-block; background: #cc5252; color: #fff !important;}
a.gpbsc-red:hover { background: #b24747; }

a.gpbsc-deepred { display: inline-block; background: #9e4646; color: #fff !important;}
a.gpbsc-deepred:hover { background: #bf5454; }

a.gpbsc-fuchsia { display: inline-block; background: #a64b86; color: #fff !important;}
a.gpbsc-fuchsia:hover { background: #bf569a; }

a.gpbsc-mutedpink { display: inline-block; background: #b57777; color: #fff !important;}
a.gpbsc-mutedpink:hover { background: #9c6767; }

a.gpbsc-green { display: inline-block; background: #8fb247; color: #fff !important;}
a.gpbsc-green:hover { background: #7a993d; }

a.gpbsc-olive { display: inline-block; background: #7d995c; color: #fff !important;}
a.gpbsc-olive:hover { background: #91b26b; }

a.gpbsc-mutedgreen { display: inline-block; background: #80b577; color: #fff !important;}
a.gpbsc-mutedgreen:hover { background: #6f9c67; }

a.gpbsc-teal { display: inline-block; background: #47b29a; color: #fff !important;}
a.gpbsc-teal:hover { background: #3d9984; }

a.gpbsc-darkgrey { display: inline-block; background: #415d73; color: #fff !important;}
a.gpbsc-darkgrey:hover { background: #577c99; }

/*--------------------------------------------------------------
	Media Queries
--------------------------------------------------------------*/
@media (min-width: 1100px) and (max-width: 1365px) {
	#site-branding { margin-left: 60px; }
	#nav-container { display: block; }
	.main-navigation ul.menu li { padding: 0 10px; font-size: 13px; }
}
@media only screen and (max-width: 1280px) {
	body { font-size: 13px; }
	h1.site-title { font-size: 25px; }
	.post { padding-left: 10px!important; }
	.post { padding-right: 10px!important; }
	.nav-links { padding-left: 10px!important; }
	.nav-links { padding-right: 10px!important; }
	.comments-area { padding-left: 10px!important; }
	.comments-area { padding-right: 10px!important; }
	#secondary { padding-left: 10px!important; }
	#secondary { padding-right: 10px!important; }
	.bwi-entry-sep { max-width: 95% !important;	}
}
@media (max-width: 1099px) {
	#site-branding { text-align: center; margin:0 auto; overflow: hidden; float: none;}
	#nav-container, #search-container { display: none; }
	/*.nav-links { display: none; }*/
}
@media (max-width: 767px) {
	#uberh-left { display: none; }
	.uberh-right { float: none; margin: 0 auto; text-align: center; }
	.social-button { float: none; display: inline-block; }
	#uber-header { display: none; }
}
@media (max-width: 479px) {
	#site-branding h1  { font-size: 18px; letter-spacing: 1px; }
	#site-branding span  { font-size: 22px; }
}
@media (max-width: 359px) {
	.gp-ibox-uline, .gp-ibox-text{ display: none !important; }
}
