
/* Header Overrides */
/* Header Background Overrides */
.or-header {
background-color: #062C52;
background-image:url('/dor/style%20library/images/dor-rollup-oregon.jpg');
background-attachment:scroll;
}
/* Header Overlay Override */
.or-header .or-header-overlay {
background:#062C52;
}
/* Header Logo Override */
.or-header-logo {
background-image:url('/dor/style%20library/images/dor-logo-white-400px.png');
/*background-image:url('/dor/style%20library/images/dor-logo-blue-400px.png');*/
width:280px;
}
.or-small-header .or-header-logo {
width:200px;
padding: 0 0 0 15px;
height:120px;
}


/* Breadcrumb Override */
.or-breadcrumbs {
background-color:rgba(0, 0, 0, 0.25);
}
/* Top Navbar Overrides */
.or-navbar {
background:#062C52;
}
.or-navigation-list > li > a {
color:#fff;
}
/* Off-Canvas Top Navigation Overrides */
@media screen and (max-width:767px) {
.navbar-offcanvas {
background:#062C52;
}
}
/* Top Navbar Search Button Overrides */
.or-navbar-search-wrapper {
background:#062C52;
}
.or-navbar-search-submit-button {
background:#165B9F;
}
.or-navbar-search-submit-button:hover, .or-navbar-search-submit-button:focus {
background:#062C52;
}
.or-navbar-search-wrapper.or-navbar-search-open {
box-shadow:-10px 0px 10px -5px #062C52;
}
.or-navbar-search-close-button > *, .or-navbar-search-submit-button > * {
color:#fff ;
}
/* Left Navigation Overrides */
.or-side-navigation ul .or-side-navigation-current > a {
border-left:solid 3px #062C52;
color:#062C52;
padding-left:12px;
}
html .or-side-navigation {
background-color:#efefef;
padding:10px;
border-top:4px solid #062C52;
}
/* Calendar Web Part Overrides */
.or-calendar-month-view .or-calendar-event-link, .or-calendar-agenda-view .or-calendar-event {
background:#062C52;
}
/* Accordion Web Part Overrides */
.or-accordion-heading-title > .panel-title {
font-size:18px;
white-space: normal;
}
/* Task Box Web Part Overrides */
.or-taskbox-title {
background:rgba(6, 44, 82, 0.9);
}
.or-taskbox .list-group-item {
border-width:0 1px 0 1px !important;
}
/* Helpful Page Poll Overrides */
.helpfulPollQuestion .btn-primary {
background-color:#165B9F;
border-color:#062C52;
}

main h2 {
    border-top: 2px solid #000;
    padding-top: 20px;
}

main .or-accordion-panel h2 {
    border-top: none;
    padding-top: 0;
}

.or-accordion-panel > a {
    color: #333 !important;
}

.or-accordion-panel h2, .or-accordion-panel h3, .or-accordion-panel h4 {
    font-size: 18px;
}

main a.btn:visited, footer a.btn:visited, .alert a.btn:visited, main a.btn:hover, footer a.btn:hover, .alert a.btn:hover  {
    color:#fff;
}

.dor-pages-appeals-aspx table.dataTable > tbody > tr > td:nth-child(1) {
    background: #f5f5f5;
    font-weight: bold;
}

.dor-forms-pages-default-aspx .panel-body {
    background: #fff;
}

.dor-forms-pages-default-aspx .panel-body .dataTable tr td:first-of-type {
    width: 50%;
}
/* Map Locations */

table#g_6f4d8260_6968_4b49_b28f_c5bb69249970 {
    height: 550px;
    overflow-y: scroll;
    display: block;
}

table#g_6f4d8260_6968_4b49_b28f_c5bb69249970 thead {
    display: none;
}

