
                .dell-blue-background {
     background-color: #f9f9f9  !important; 
}
.icon-brand-alienware:before {
        color: #007db8;
    }

    .icon-brand-dell:before {
        color: #007db8;
    }

    .icon-brand-dellemc:before {
        color: #007db8;
    }

    .icon-brand-delltechnologies:before {
        color: #007db8;
    }

    .icon-brand-delltechnologiesVert:before {
        color: #007db8;
    }
footer.navbar {
background:#444 !important;
}
.footer-bottom-section .disclaimer p {
    color: #f9f9f9 !important;
}

.footer-top-section {
   background: #444 !important;
border-bottom: 1px solid #ccc !important;
}
.footer-shadow-section{
box-shadow: none !important;
}
  @media(max-width: 767px) {
                     footer.navbar ul.navbar-nav li {
        border-bottom: 1px solid #ccc !important;
    }
.footer-top-section {
border-bottom: none !important;
}
}
    