.hob_banner p {
    font-weight: 300;
    margin-top: 1em!important;
    margin-bottom: 1em!important;
}
.hob_banner button{
    background-image: none!important;
}
.hob_banner h2{
    padding: 20px;
    font-weight: 300;
}
.hob_banner h3 {
    font-weight: 400;
}
.hob_banner {
    position: fixed!important;
    z-index: 16777270;
    width: 100%!important;
    text-align: center;
    border-width: 1px 0 1px 0!important;
    border-color: #fff!important;
    padding: 10px 0;
    left: 0;
    right: 0;
    float:none!important;
    text-shadow:none;
    border-radius: 0!important;
    margin: 0 auto!important;
}

/* Add Animation Banner bottom*/
@-webkit-keyframes animatedown {
    from {bottom:-400px; opacity:0}
    to {bottom:0; opacity:1}
}
@keyframes animatedown {
    from {bottom:-400px; opacity:0}
    to {bottom:0; opacity:1}
}
/* Add Animation Banner top*/
@-webkit-keyframes animateup {
    from {top:-400px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animateup {
    from {top:-400px; opacity:0}
    to {top:0; opacity:1}
}
.text_banner{
    font-size: 14px;
    text-align: left;
}
.block_1{
    width: 70%;
    display: inline-flex;
    padding-left: 3%;
}
.block_2{
    display: inline-flex;
    width: 25%;
}

.btn_settings{
    margin-right: 20px;
}
.btn_ok{
    margin-right: 20px;
}

.licence     {
    color: red;
    font-size: 1rem;
    line-height: 1.5rem;
    border-left: solid 2px red;
    padding-left: 10px;
}


/* Tab */
.nav-tabs_custome {
    overflow: hidden;
    background-color: #eef1f3!important;

}


.hob_modal-footer{
    background-color: #ffffff!important;
}

/* Boutons de tab */
.nav-tabs_custome li {
    background-color: #eef1f3!important;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}
.nav-tabs_custome li a{
    padding: 0!important;
    color: #000;
}

/* Bouton hover */
.nav-tabs_custome li:hover {
    background-color: #d5dbe0!important;

}
.nav-tabs_custome li:hover a{
    transition: 0.3s;
    background-color: #d5dbe0!important;
    border: 1px solid #d5dbe0!important;

}

    /* Active tablink */
.nav-tabs_custome li.active {
    background-color: #acb8c1!important;

}
.nav-tabs_custome li.active a{
    background-color: #acb8c1!important;
    border: 1px solid #acb8c1!important;

}
.button_custom {
    padding: 8px 14px!important;
    text-align: center!important;
    text-decoration: none;
    display: inline-block!important;
    font-size: 14px!important;
    margin: 4px 2px!important;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-image: none;
    line-height: 16px!important;
}

.refuse_tous {
    background-color: #ffffff!important;
    color: #0065af!important;
    border: 2px solid #0065af!important;
    margin-right: 20px;
}

.refuse_tous:hover {
    background-color: #0065af!important;
    color: white!important;
}


.accepter_tous {
    background-color: #ffffff!important;
    color: #3eb060!important;
    border: 2px solid #3eb060!important;
    margin-right: 20px;
}

.accepter_tous:hover {
    background-color: #3eb060!important;
    color: white!important;
}



.valider {
    float: right;
    background-color: #0065af!important;
    color: #fff!important;
    border: 2px solid #0065af!important;
}

.valider:hover {
    background-color: #fff!important;
    color: #0065af!important;
}


/* Bouton Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.switch input {display:none;}

.hob_modal_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #acb8c1;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: auto;
    margin: 0;
}

.hob_modal_slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .hob_modal_slider {
    background-color: #0065af!important;
}
input:focus + .hob_modal_slider {
    box-shadow: 0 0 1px #2196F3!important;
}
input:checked + .hob_modal_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.hob_modal_slider.round {
    border-radius: 34px;
}

.hob_modal_slider.round:before {
    border-radius: 50%;
}

.tab-content_custome{
    padding-left: 20px;
}


#setting{
    display: none;
    position: fixed;
    bottom: 5px;
    z-index: 16777274;
    opacity: .5;
}
#setting:hover{
    cursor: pointer;
    opacity: 0.9;
}
#setting a{
    font-size: 24px;
}

#setting_btn{
    border-radius: 10px;
     padding: 10px 15px!important;
}
#gear{
    height: 50px;
}


.info_link{
    font-size: 14px;
}
.info_link:hover{
    font-size: 14px;
}


/*
HOB Modal
*/
/* The Modal (background) */
.hob_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 678000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.hob_modal-content {
	text-align: left;
    padding-bottom: 20px;
    max-width: 900px;
    position: relative;
    background-color: #fefefe!important;
    margin: auto;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-image: none;

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-400px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-400px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.hob_close {
    color: white!important;
    float: right;
    font-size: 32px!important;
    font-weight: bold;
}
.hob_close:hover,
.hob_close:focus {
    color: #eef1f3!important;
    text-decoration: none;
    cursor: pointer;
}

.hob_modal-header {
    color: #ffffff!important;
    font-size: 16px!important;
    font-weight: 300;
    background-color: #27323d!important;
    text-transform: uppercase;
    padding: 20px 20px 20px 20px;
    line-height: normal;

}
.hob_modal-header h3, span{
    display: inline;
}
.hob_modal-body {
    font-family: Montserrat, sans-serif;
    color: #737e87!important;
}

.hob_modal-footer {
    padding: 2px 16px;
    background-color: #ffffff!important;
}


.btn{
    margin: 0!important;
}

.hob_modal p {
    font-size: 14px;
    font-weight: 300;
}
.hob_modal h2{
    padding: 20px;
    font-weight: 300;
}
.hob_modal h3 {
    font-weight: 400;
}
/* Tab */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #acb8c1!important;
    background-color: #eef1f3!important;
    width: 100%!important;
    line-height: normal;
}
/* Boutons de tab */
.tab button {
    background-color: #eef1f3!important;
    color: #737e87!important;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 13px!important;
    transition: 0.3s;
    font-size: 16px!important;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    background-image: none;
    margin: 5px!important;
    text-transform: none;
    line-height: 16px!important;

}

/* Bouton hover */
.tab button:hover {
    background-color: #d5dbe0!important;
    border: none;
}

/* Active tablink */
.tab button.active {
    background-color: #acb8c1!important;
    border: none;
}
/* Tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.tabcontent h3{
    text-transform: none;
    font-size: 20px;
    padding-top: 5px;
}
.tabcontent ul{
    padding: 0;
    max-height: 270px;
    overflow-y: scroll;
    width: 100%!important;
    position: inherit;
    rigth: 0!important;
    left: 0!important;
}
.tabcontent ul li{
    right: 0!important;
    left: 0!important;
}
.tabcontent p{
    color: rgba(98,106,117,1)!important;
    font-size: 14px!important;
    text-align: left!important;
}
/*
Service introduction style for the collapses
*/
.service_intro button{
    float: right;
    padding: 0 4px!important;
    margin-right: 1px;
}
.service_intro{
    padding-bottom: 4px!important;
    padding-top: 4px!important;
    list-style-type:none;
    border-bottom: 1px solid #eef1f3!important;
    font-size: 16px;
    width: 100%!important;
    position: inherit;
    text-align: left!important;
    height: auto!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
}
.service_intro a{
    border: none!important;
}
.service_intro .collapse_text{
    font-size: 13px;
}

#hob_copyright span, #hob_copyright  a {
    font-size: 14px!important;
}

.session_table{
    max-height: 270px;
    overflow-y: scroll;
}

.service_list{
    width: 100%!important;
    border: none!important;
}

/*---------------Spacer BackEnd*/
.bold_text {
    font-weight: bold;
    font-size: larger;
}


/* ----------- Phone----------- */

/* Portrait and Landscape */
@media (min-width: 50px)
and (max-width: 1300px) {
    .block_1 {
        width: 100%;
        display: block;
        float: left;
        padding-left: 3%;
        padding-right: 3%;
    }
    .block_1 , .text_banner{
        font-size: 14px;
        width: 100%;
    }

    .block_2 {
        display: block;
        width: 100%;
    }

    /*HOB Modal*/
    .hob_modal{
        padding-top: 50px;
    }
    .hob_modal-content{
    width: 90%;

    }
    .hob_modal-header #myModalLabel{
        font-size: 16px;
    }

    .hob_modal-body .tablinks{
        font-size: 12px;
    }

    .hob_modal-body .tabcontent h3{
        font-size: 16px;
    }
    .hob_modal-body .tabcontent p{
        font-size: 12px;
    }

    /*Buttons*/
    .hob_modal-content .button_custom {
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        /*margin: 4px 2px;*/
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
        text-transform: uppercase;
        font-family: Montserrat, sans-serif;
        font-weight: 400;
    }
    .service_intro{
        font-size: 13px;
    }

    /* Bouton Switch */
    .switch {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 17px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .switch input {display:none;}

    .hob_modal_slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #acb8c1!important;
        -webkit-transition: .4s;
        transition: .4s;
        z-index: auto;
    }

    .hob_modal_slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white!important;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .hob_modal_slider {
        background-color: #0065af!important;
    }

    input:focus + .hob_modal_slider {
        box-shadow: 0 0 1px #2196F3!important;
    }

    input:checked + .hob_modal_slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
    }

    /* Rounded sliders */
    .hob_modal_slider.round {
        border-radius: 17px;
    }

    .hob_modal_slider.round:before {
        border-radius: 50%;
    }

    .session_table{
        max-height: 270px;
        overflow-y: scroll;
    }
}



