body {
    background-color: #f8f8f8;
}
img {
    width: auto;
}
a {
    text-decoration: none;
    color: #0078c1;
}
.content-container {
    background-color: white;
    width: 600px;
    text-align: center;
    font-family: "Helvetica Neue", "Arial";
    margin: 10% auto;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.logo {
    padding-top: 36px;
}
.index-title {
    font-size: 22px;
    color: #394856;
    padding-bottom: 36px;
    margin: 0;
}
.error-title {
    font-size: 28px;
    color: #394856;
    padding-bottom: 36px;
    margin: 0;
}
.text-container {
    padding: 36px 0;
    border-bottom: 2px dotted lightgray;
    margin: 0 50px;
}
.index-content {
    font-size: 18px;
    line-height: 27px;
    color: #394856;
    margin: 0;
    padding-bottom: 19px;
}
.index-content-last {
    font-size: 18px;
    line-height: 27px;
    color: #394856;
    margin: 0;
}
.error-content {
    font-size: 18px;
    line-height: 27px;
    color: #394856;
    margin: 0;
}
.error-content-left {
    font-size: 18px;
    text-align: left;
    line-height: 27px;
    color: #394856;
    margin-left: 37px;
}
.footer-container {
    padding: 24px 0;
    font-size: 12px;
}
.support-link {
    font-size: 18px;
}
