#webs-bin-537449ee0cf238db13c381f0 .w-header-area-custom {
  width: 100%;
}
#webs-bin-537449ee0cf238db13c381f0 .title {
  top: 24px;
  z-index: 20;
  display: block;
}
#webs-bin-537449ee0cf238db13c381f0 .subtitle {
  top: 54px;
  z-index: 21;
  display: block;
}
#webs-bin-537449ee0cf238db13c381f0 .w-header-layer-align-left.title,
#webs-bin-537449ee0cf238db13c381f0 .w-header-layer-align-center.title {
  left: 441px;
}
#webs-bin-537449ee0cf238db13c381f0 .w-header-layer-align-left.subtitle,
#webs-bin-537449ee0cf238db13c381f0 .w-header-layer-align-center.subtitle {
  left: 19.5px;
}
#webs-bin-537449ee0cf238db13c381f0 .w-header-layer-align-left.w-header-layer-centered,
#webs-bin-537449ee0cf238db13c381f0 .w-header-layer-align-center.w-header-layer-centered {
  right: auto;
  left: 50%;
}
#webs-bin-537449ee0cf238db13c381f0 .w-header-layer-align-right.title {
  right: 0px;
}
#webs-bin-537449ee0cf238db13c381f0 .w-header-layer-align-right.subtitle {
  right: 0px;
}
#webs-bin-537449ee0cf238db13c381f0 .logo {
  top: 0px;
  width: 158px;
  left: 778px;
  height: 104px;
  display: block;
}
#webs-bin-537449ee0cf238db13c381f0 .background {
  background-image: url('');
  background-position: 0px 0px;
}
