body
{
        font-family:Verdana, sans-serif;
        font-size:10pt;
        padding:0px;
}

img.capital
{
        margin-right:5px;
        margin-bottom:5px;
        float:left;
}

label {
	cursor:pointer;
}

img.small_capital
{
        height:50px;
        margin-right:5px;
        margin-bottom:5px;
        float:left;
}

.content
{
        padding-left:10px;
        padding-right:10px;
}

.content h1
{
        font-size:150%;
        font-weight:bold;
        color:#801000;
        font-family:Arial, Helvetica, sans-serif;
        margin:0pt;
        margin-bottom:5px;
        padding:0pt;
}

.content h2
{
        font-size:125%;
        font-weight:bold;
        color:#801000;
        font-family:Arial, Helvetica, sans-serif;
        margin:0pt;
        margin-bottom:5px;
        padding:0pt;
}

.emblem
{
	text-align:center;
	color:white;
	width:100px;
}

.emblem tr td
{
        padding:5px;
        margin:2px;
}

table,
table.main_table
{
        width:100%;
        border-collapse:collapse;
}

table tr td
{
        padding:0px;
        margin:0px;
}

table.main_table
{
        border-spacing:10px;
}

table.links_table
{
        width:90%;
        border-collapse:collapse;
        margin-bottom:10px;
}

table.links_table tr td.logo
{
        padding:10px;
        vertical-align:middle;
        text-align:center;
        width:50%;
}

table.map_entry
{
	width:auto;
	border-collapse:separate;
}


table.map_entry tr td
{
    padding:2px;
    text-align:left;
    vertical-align:top;
}

table.smaller
{
    padding:2px;
    text-align:left;
    vertical-align:top;
}

table.smaller th
{
    text-align:right;
}

table.eighty
{
    width:auto;
}

table.eighty th,
table.eighty td
{
    font-size:80%;
    padding:2px;
    padding-right:10px;
}

table.comment
{
	font-size:9pt;
	width:100%;
	empty-cells:show;
	border-collapse:separate;
}

table.comment th
{
    background-color:#FFDE94;
    font-weight:normal;
    padding:4px;
    text-align:left;
    vertical-align:bottom;
}

table.comment td
{
    vertical-align:base;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    text-align:justify;
}

table.praid
{
    width:auto;
	empty-cells:show;
	border-collapse:separate;
}

table.praid td
{
    vertical-align:middle;
    padding-left:5px;
}

table.praid th
{
    vertical-align:middle;
    text-align:left;
    font-weight:bold;
}

.black_head
{
    font-weight:bold;
    font-size:125%;
    font-family:Arial, Helvetica, sans-serif;
}

table.map_search
{
	width:auto;
	/*border:1px solid #000000;*/
	empty-cells:show;
	border-collapse:collapse;
}

table.map_search td
{
	width:auto;
	padding:2px;
	padding-left:10px;
	padding-right:10px;
	margin:2px;
	text-align:left;
	border:1px solid #9E3000;
	white-space:nowrap;
}

table.map_search th
{
	width:auto;
	padding:2px;
	margin:2px;
	border:2px solid #000000;
}



A:link { color:#9E3000; font-weight:bold; text-decoration:none; }
A:visited { color:#9E3000; font-weight:bold; text-decoration:none; }
A:hover { color:#FF011F; font-weight:bold; text-decoration:none; }
A:active { color:#9E3000; font-weight:bold; text-decoration:none; }
A:focus { color:#9E3000; font-weight:bold; text-decoration:none; }

.map_search a,
.mngresult a
{ font-weight:normal; }

div.mngtext {
    margin-top:1em;
}

div.mngtext div {
    padding-left:20px;
}

div.mngtextblock {
    width:90%;
    line-height:150%;
    padding-left:0 !important;
}

A.gallery:link { color:#9E3000; font-weight:normal; text-decoration:none; }
A.gallery:visited { color:#9E3000; font-weight:normal; text-decoration:none; }
A.gallery:hover { color:#FF011F; font-weight:normal; text-decoration:none; }
A.gallery:active { color:#9E3000; font-weight:normal; text-decoration:none; }
A.gallery:focus { color:#9E3000; font-weight:normal; text-decoration:none; }

.pagelink, .pagelinklast, .pagecurrent, .minipagelink, .minipagelinklast { border: 1px solid #333; padding: 1px 3px; background: #FFDF94 none repeat scroll 0%; }
.pagelinklast, .minipagelinklast { background: #FFDF94 none repeat scroll 0%; }
.pagecurrent { background: rgb(255, 201, 165) none repeat scroll 0%; }
.minipagelink, .minipagelinklast { border: 1px solid rgb(194, 207, 223); margin: 0pt 1px 0pt 0pt; font-size: 7.5pt; }
.pagelink a:active, .pagelink a:visited, .pagelink a:link, .pagelinklast a:active, .pagelinklast a:visited, .pagelinklast a:link, .pagecurrent a:active, .pagecurrent a:visited, .pagecurrent a:link, .minipagelink a:active, .minipagelink a:visited, .minipagelink a:link, .minipagelinklast a:active, .minipagelinklast a:visited, .minipagelinklast a:link { text-decoration: none; }

.menuCatBack
{
        background-image:url("/pics/menu_head_mid_mid.jpg");
        background-position:center left;
        background-repeat:no-repeat;
        margin-top:0pt;
        margin-bottom:0pt;
        text-align:center;
        color:#FFF497;
        font-family:Tahoma, sans-serif;
        font-size:11pt;
        font-weight:bolder;
}

.menuCatBack.a { color:#FFF497; }

.menuEntryMidBack
{
        background-image:url("/pics/menu2_entry_back.jpg");
        background-position:center top;
        background-repeat:repeat-y;
        margin-top:0pt;
        margin-bottom:0pt;
        padding-left:20px;
        vertical-align:top;
        font-size:10pt;
        font-weight:bold;
        color:#FBF1D9;
}

.menuEntryLeftBack
{
        background-image:url("/pics/menu_main_mid_left.jpg");
        background-position:center left;
        background-repeat:repeat-y;
        margin-top:0pt;
        margin-bottom:0pt;
}

.menuEntryRightBack
{
        background-image:url("/pics/menu_main_mid_right.jpg");
        background-position:center left;
        background-repeat:repeat-y;
        margin-top:0pt;
        margin-bottom:0pt;
}
.menuEntryMidBack SPAN { line-height:150%; }
.news_head
{
        background-image:url('/pics/news_mid.jpg');
        background-position:center left;
        background-repeat:repeat-x;
        font-size:150%;
        padding-bottom:4px;
        color:#FBF1D9;
        font-weight:bold;
        text-align:center;
}

A.entry         { color: #FEBE54; text-decoration: none; font-weight: bold;} /*FBF1D9*/
A.entry:link    { color: #FEBE54; text-decoration: none; font-weight: bold;}
A.entry:visited { color: #FEBE54; text-decoration: none; font-weight: bold;}
A.entry:active  { color: #FF9E00; text-decoration: underline; font-weight: bold;}
A.entry:hover   { color: #FCFF01; text-decoration: underline; font-weight: bold;} /* rgb(251, 250, 0)*/

SPAN.entry      { color: #FCFF01; text-decoration: none; font-weight: bold;}
SPAN.smaller    { font-size:80%; }

INPUT, TEXTAREA, SELECT
{
	border: 1px solid rgb(76, 119, 182);
	margin: 5px;
	padding: 2px;
	background: #FFDE94 none repeat scroll 0%;
	-moz-background-clip: initial;
	-moz-background-origin: initial;
	-moz-background-inline-policy: initial;
	color: rgb(0, 0, 0);
	font-family: verdana, helvetica, sans-serif;
	font-size: 11px;
	vertical-align: middle;
}

SELECT
{
	margin: 0pt;
	padding: 0pt;
	font-family: verdana, helvetica, sans-serif;
	font-size: 12px;
}

INPUT.button, BUTTON
{
	margin: 0pt;
	width: auto;
	background-color: #FFDE94;
}

.raid
{
    border-spacing:0px;
    border-collapse:collapse;
    empty-cells:show;
    font-weight:normal;
    border:1px solid black;
}

.raid tr td
{
    font-weight:normal;
    padding:2px;
    padding-left:10px;
    padding-right:10px;
    border:none;
    border-right:1px solid #000000;
    font-size:80%;
}

.raid a
{
    font-weight:normal;
}

.raid a:hover,
.raid a:active,
.raid a:visited,
.raid a:focus
{
    font-weight:normal;
}

.raid a:hover,
.raid a:active
{
    text-decoration:underline;
}

.raid tr th
{
    border:none;
    text-align:center;
    padding:3px;
    font-size:80%;
    background: transparent url(/pics/tile_cat.gif) repeat scroll 0%;
    -moz-background-clip: initial;
    -moz-background-origin: initial;
    -moz-background-inline-policy: initial;
    color: rgb(255, 255, 255);
}

.arena
{
    border-spacing:0px;
    border-collapse:collapse;
    empty-cells:show;
    font-weight:normal;
    border:1px solid black;
    width:auto;
}

.arena tr td
{
    font-weight:normal;
    padding:2px;
    padding-left:10px;
    padding-right:10px;
    border:none;
    border-right:1px solid #000000;
    font-size:80%;
}

.arena tr th
{
    border:none;
    border-right:1px solid black;
    border-bottom:1px solid black;
    text-align:center;
    padding:3px;
    font-size:80%;
    background: #666;
    color: rgb(255, 255, 255);
}

a.hhead:link { color:#FFFFFF;text-decoration:none;font-weight:bold; }    /* noch nicht besuchte Ziele */
a.hhead:visited { color:#FFFFFF;text-decoration:none;font-weight:bold;  } /* besuchte Ziele */
a.hhead:hover { color:#A9A9FF; font-weight:bold; text-decoration:none; }   /* Verweise bei "MouseOver" */
a.hhead:active { color:#FFFFFF;font-weight:bold;  }  /* Angeklickte Verweise */
a.hhead:focus { color:#FFFFFF;font-weight:bold;  }   /* Verweise, die Fokus erhalten */

.row0
{
    background-color:#F0C87C;
}

.row1
{
    background-color:#FFDE94;
}

.r1
{
    background-color:#EFDFC0;
}

.r0
{
    background-color:#FFEBBF;
}

.right
{
    text-align:right;
}

.top
{
    vertical-align:top;
}

.rare
{
    color:#0068FF;
    font-weight:bold;
}

.epic
{
    color:#8000FF;
    font-weight:bold;
}

.legend
{
    color:#FF8000;
    font-weight:bold;
}

.seldom
{
    color:#008000;
    font-weight:bold;
}

.codebuttons { margin: 2px; font-family: Verdana,Helvetica,Sans-Serif; font-size: 10px; vertical-align: middle; }

.textarea, .searchinput, .button, .gobutton { border: 1px solid rgb(76, 119, 182); padding: 2px; background: #FFDE94 none repeat scroll 0%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; color: rgb(0, 0, 0); font-family: Verdana,Helvetica,Sans-Serif; font-size: 11px; vertical-align: middle; }

.textarea { width:95%; }

.button { background: rgb(223, 230, 239) none repeat scroll 0%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; }

.gobutton { border: 0pt none ; margin: 0pt; background: transparent none repeat scroll 0%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial; color: rgb(7, 42, 102); vertical-align: middle; }

.radiobutton, .checkbox, .helpbox { border: 0pt none ; vertical-align: middle; }

.helpbox { background-color: rgb(255, 207, 107); }

.c1 { background-color:rgb(199, 156, 110); border:1px solid black; } /* warrior */
.c2 { background-color:rgb(245, 140, 186); border:1px solid black; } /* pala */
.c3 { background-color:rgb(255, 245, 105); border:1px solid black; } /* rogue */
.c4 { background-color:rgb(255, 255, 255); border:1px solid black; } /* priest */
.c5 { background-color:rgb(105, 204, 240); border:1px solid black; } /* mage */
.c6 { background-color:rgb(148, 130, 202); border:1px solid black; } /* warlock */
.c7 { background-color:rgb(171, 212, 115); border:1px solid black; } /* hunter */
.c8 { background-color:rgb( 36,  89, 255); border:1px solid black; } /* shaman */
.c9 { background-color:rgb(255, 125,  10); border:1px solid black; } /* druid  */
.c10 { background-color:rgb(148, 0,  0); border:1px solid black; } /* deathknight  */

.mglist a:link,
.mglist a:hover,
.mglist a:active,
.mglist a:visited,
.mglist a:focus
{
    font-weight:normal;
}

.mglist a.real:visited,
.mglist a.real:link
{
    color:#00309E;
}
.mglist a.real:hover
{
    color:#FF011F;
}

.mglink
{
    color:#505050;
    background-color:transparent;
    width:350px;
    margin:0px;
}

.tabon
{
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	/* background-color:#FFF; */
	background-image:url('/pics/main_main_mid.jpg');
	background-position:center left;
	background-repeat:repeat;
	padding:8px;
	font-size:11px;
	float:left;
	width:auto;
	margin-top:3px;
	font-weight:bold;
}

.taboff
{
	border-top: 1px solid #777;
	border-left: 1px solid #777;
	border-right: 1px solid #777;
	background-color: #B5C3D9;
	background-image:url('/pics/main_main_mid2.jpg');
	background-position:center left;
	background-repeat:repeat;
	color: #333;
	padding: 8px;
	font-size:11px;
	float: left;
	width: auto;
	margin-top:3px;
	cursor:hand;
	cursor:pointer;
}

.outerdiv,
.outerdiv2
{
	border: 1px solid #999;
	padding: 10px;
	margin:0px;
}
.outerdiv2 {
	width:250px;
	float:right;
}
.ally {
	color:blue;
	font-weight:normal;
}
.horde {
	color:red;
	font-weight:normal;
}

.com0, .com_0,
.com1, .com_1,
.com1, .com_1,
.com2, .com_2,
.com3, .com_3,
.com4, .com_4,
.com5, .com_5,
.com6, .com_6,
.com7, .com_7,
.com8, .com_8,
.com9, .com_9,
.com10, .com_10,
{
	color: black;
	background-color:none;
	border:none;
}
/* Gute */
.com1 { background-color:#DDFFDD; }
.com2 { background-color:#CCFFCC; }
.com3 { background-color:#BBFFBB; }
.com4 { background-color:#AAFFAA; }
.com5 { background-color:#99FF99; }
.com6 { background-color:#88FF88; }
.com7 { background-color:#77FF77; }
.com8 { background-color:#66FF66; }
.com9 { background-color:#55FF55; }
.com10 { 
	padding:5px;
	background-color:#55FF55;
	background-image:url(/pics/icon_top.gif);
	background-position:right bottom;
	background-repeat:no-repeat;
}
/* Schlechte */
.com_1 { color:#95855A; }
.com_2 { color:#9F8D60; }
.com_3 { color:#A99666; }
.com_4 { color:#B39F6C; }
.com_5 { color:#BDA872; }
.com_6 { color:#C7B178; }
.com_7 { color:#D1BA7E; }
.com_8 { color:#DBC384; }
.com_9 { color:#E5CC8A; }
.com_10 { color:#EFD590; }

/* die tollen Tabs */
#header {
	white-space:nowrap;
}
#header ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#header li {
	float: left;
	border: 1px solid #777;
	border-bottom-width: 0;
	margin: 0;
	font-size:9pt;
}
#header a {
	text-decoration: none;
	display: block;
	background-color:#E6D5B8;
	padding: 0.24em 0.5em;
	color: #000;
	font-size:90%;
	font-weight:normal;
	text-align: center;
}
#header a:hover {
	background-image:url(/pics/main_main_mid.jpg);
	background-position:left center;
	background-repeat:repeat;
	color:#000;
}
#header .selected {
	border-color: black;
}
#header .selected a {
	position: relative;
	top: 1px;
	background-image:url(/pics/main_main_mid.jpg);
	background-position:left center;
	background-repeat:repeat;
	color: black;
	font-weight: bold;
}
.tabcontent {
	border: 1px solid black;
	clear: both;
	padding: 1em;
}
.notabcontent {
	display:none;
}
/* MAP Help Styles */
.sample
{
	font-family:courier new;
	padding:5px;
	padding-left:20px;
	margin:20px;
	border:1px dotted black;
	background: rgb(255, 223, 148)
}
.keyword
{
	border-bottom:1px dashed black;
}
.mapctrl {
	position:absolute;
	float:right;
	vertical-align:middle;
	color:white;
	bottom:0px;
	right:0px;
	padding:7px 7px 7px 12px;
	-moz-border-radius-topleft:10px;
	background:url('pics/trans.png') repeat-x;
}
.mapctrl img {
	vertical-align:middle;
}
#moveimagewait_map,
#mappicwait_map {
	z-index:1000;
	background:url('pics/trans.png') repeat-x;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	left:0;
	display:none;
}
#moveimagewait_map img,
#mappicwait_map img {
	position:absolute;
	left:377px;
	top:277px;
	background-color:black;
	padding:10px;
	-moz-border-radius:10px;
}
#ax {
	display:none;
}

.mtext {
	text-align:justify;
}
.mtext h1 {
	font-size:12pt;
}
.movel {
}
.movel li {
	cursor:pointer;
}
.catal li {
	margin-bottom:0.5em;
}
.catal li div {
	font-size:80%;
}

#taskbar {
	background-image: url(/pics/main_main_mid.jpg);
	background-position: 0% 50%;
	background-repeat: repeat;
	position:fixed;
	bottom:0;
	display:block;
	width:50em;
	margin-left:160px !important;
	margin-bottom:-2px;
	border:1px solid #888;
	border-bottom:0;
	height:32px;
	padding:0;
	z-index:100;
	-webkit-box-shadow:0px 0px 8px #888;
	-moz-box-shadow:0px 0px 8px #888;
	
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;	

	/* 
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	*/
}

p.citation {
	background: #EFBA42 url(http://www.freierbund.de/board/public/style_images/freier-bund-31-images/citation_bg.png) no-repeat 100% 50%;
	border-color: black black black #A87605;
	border-style: dotted dotted none solid;
	border-width: 1px 1px 0px 4px;
	color: #2B3730;
	font-size: 0.9em;
	font-weight: bold;
	padding: 5px 8px;
	margin:0;
}
div.blockquote {
	background: #FFDF94;
	border-color: black black black #A87605;
	border-style: none dotted dotted solid;
	border-width: 0px 1px 1px 4px;
	margin: 0px;
	margin-top: 0px;
}
div.quote {
	padding: 12px;
}
span.bbc_center, 
div.bbc_center {
	display: block;
	text-align: center;
}
span.bbc_underline {
	text-decoration: underline !important;
}

#entry_header_cata h1,
#entry_header_nocata h1 {
	vertical-align:middle;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left:50px;
	cursor:pointer;
}

#entry_header_cata h1 {
	background-image:url(/pics/cata_icon.png);
}

#entry_header_nocata h1 {
	background-image:url(/pics/no_cata_icon.png);
}

.no_cata,
.catac {
	text-align:center;
	border:none;
	clear:left;
	margin:2em 0;
	vertical-align:middle;
}

.no_cata {
    background: url(/pics/fragezeichen.png) repeat-x left;
    padding:0.5em;
}
.no_cata a {
	background-image:url(/pics/main_main_mid.jpg);
}

.catac {
}

td .cata {
    background: url(/pics/cataslide.png) no-repeat right center;
}

.labeltd {
    width:80px;
    text-align:right;
    font-weight:bold;
    vertical-align:middle;
}

.morelinks,
.morelinkshidden {
    cursor:pointer;
}

.morelinkshidden {
    color:red;
}
