
                    #bio_ep #bio_ep_close {
                        left: unset;
                        top: 15px;
                        right: 5px;
                        padding: 3px 8px;
                        width: unset;
                        height: unset;
                        z-index: 2;
                    }
                    #bio_ep .popup-wrapper a {
                        position: relative;
                        z-index: 1;
                    }

                    #bio_ep .popup-content {
                        background-color: #c8262d ;
                        z-index: 1;
                    }

                    #bio_ep .popup-bottom {
                        position: relative;
                    }

                    #bio_ep .popup-bottom a.link-style{
                        background-color: #c8262d;
                        border: 1px solid #c8262d;
                        position: relative;
                        z-index: 2;
                    }
                    #bio_ep .popup-bottom a.link-style:hover{
                        background-color: #fff;
                        color: #c8262d;
                    }

                    #bio_ep .overlay-link {
                        position: absolute;
                        height: 100%;
                        left: 0;
                        top: 0;
                        width: 100%;
                        z-index: 1;
                    }

                    #bio_ep #no_thanks{
                        color: #acacac;
                        text-decoration: none;
                        position: relative;
                        z-index: 2;
                    }
                    #bio_ep #no_thanks:hover, #bio_ep #no_thanks:focus{
                        color: #acacac;
                        text-decoration: none;
                    }
                