/* Stylesheet Styles: Kaiser Hubspot Integration */

.kaiser-hubspot-manage-subscriptions-form,
.kaiser-hubspot-manage-subscriptions-form__section {
  margin-bottom: 50px;
}

.kaiser-hubspot-manage-subscriptions-form__section:last-child {
  margin-bottom: 0;
}

.kaiser-hubspot-manage-subscriptions-form button,
.kaiser-hubspot-manage-subscriptions-form label {
  cursor: pointer;
}

.kaiser-hubspot-manage-subscriptions-form__section legend {
  display: block;
  width: 100%;
}

.kaiser-hubspot-manage-subscriptions-form__section [aria-expanded] {
  background: transparent;
  border: none;
  display: block;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 1em;
  position: relative;
  text-align: left;
  width: 100%;
}

.kaiser-hubspot-manage-subscriptions-form__section [aria-expanded]::after {
  box-sizing: border-box;
  display: block;
  line-height: 1em;
  padding: 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: -0.33em;
  width: 2em;
}

.kaiser-hubspot-manage-subscriptions-form__section [aria-expanded="true"]::after {
  content: "-";
}

.kaiser-hubspot-manage-subscriptions-form__section [aria-expanded="false"]::after {
  content: "+";
}

.kaiser-hubspot-manage-subscriptions-form__section [aria-hidden="true"] {
  display: none;
  visibility: hidden;
}

/* Selection group */
.kaiser-hubspot-manage-subscriptions-form__collapsable::after {
  content: "";
  clear: both;
  display: table;
}

.kaiser-hubspot-manage-subscriptions-form__collapsable label {
  display: block;
  margin-bottom: 20px;
}

/* Subsections */
.kaiser-hubspot-manage-subscriptions-form__subsection-group {
  column-count: 1;
  margin-left: 20px;
}

/* Button */
.kaiser-hubspot-manage-subscriptions-form__unsubscribe-container {
  text-align: right;
}

.kaiser-hubspot-manage-subscriptions-form__submit,
.kaiser-hubspot-manage-subscriptions-form__next,
.kaiser-hubspot-manage-subscriptions-form__unsubscribe-from-all,
.kaiser-hubspot-manage-subscriptions-form__unsubscribe-from-section {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  line-height: 1;
  padding: 8px 15px;
}

.kaiser-hubspot-manage-subscriptions-form__unsubscribe-from-all {
  margin-bottom: 50px;
}

.kaiser-hubspot-manage-subscriptions-form__unsubscribe-from-section {
  margin-bottom: 20px;
}

/* Input Groups */
.kaiser-hubspot-manage-subscriptions-form__collapsable label[for^='kaiser-hubspot-property-'] {
  display: inline-block;
  float: none;
  font-size: 14px;
  width: 100%;
}


.kaiser-hubspot-manage-subscriptions-form__collapsable .required-legend .required,
.kaiser-hubspot-manage-subscriptions-form__collapsable label[for^='kaiser-hubspot-property-'] .required {
  color: red;
  font-size: 80%;
}

.kaiser-hubspot-manage-subscriptions-form__collapsable .required-legend {
  font-size: 80%;
}

.kaiser-hubspot-manage-subscriptions-form__collapsable label[for^='kaiser-hubspot-property-'] input,
.kaiser-hubspot-manage-subscriptions-form__collapsable label[for^='kaiser-hubspot-property-'] select {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  line-height: 1;
  padding: 8px 15px;
  width: 100%;
}

/* Mobile */
@media only screen and (min-width: 720px) {

  .kaiser-hubspot-manage-subscriptions-form__subsection-group {
    column-count: 2;
    margin-left: 40px;
  }

  .kaiser-hubspot-manage-subscriptions-form__collapsable label[for^='kaiser-hubspot-property-'] {
    float: left;
    width: 48%;
  }

  .kaiser-hubspot-manage-subscriptions-form__collapsable label[for^='kaiser-hubspot-property-']:nth-child(odd) {
    margin-right: 4%;
  }
}
