
.diyw div#emotion-header {
        max-width: 940px;
        max-height: 81px;
                background: #cccccc;
    }

.diyw div#emotion-header-title-bg {
    left: 0%;
    top: 20%;
    width: 100%;
    height: 47%;

    background-color: #FFFFFF;
    opacity: 0.50;
    filter: alpha(opacity = 50);
    display: none;}
.diyw img#emotion-header-logo {
    left: 1.00%;
    top: 0.00%;
    background: transparent;
                border: 1px solid #CCCCCC;
        padding: 0px;
                display: none;
    }

.diyw div#emotion-header strong#emotion-header-title {
    left: 5%;
    top: 20%;
    color: #333333;
        font: normal bold 20px/120% Verdana, Geneva, sans-serif;
}

.diyw div#emotion-no-bg-container{
    max-height: 81px;
}

.diyw div#emotion-no-bg-container .emotion-no-bg-height {
    margin-top: 8.62%;
}
