
        #weblizar_70 .wrgf-header-label {
            color: #FFFFFF !important;
        }

        #weblizar_70 .wrgf-footer-label {
            color: #000000 !important;
            font-size: 16px;
            margin-bottom: 5px;
            margin-top: 5px;
            text-align: center;
            font-weight: normal;
        }

        #weblizar_70 .b-link-stroke .b-top-line {
            background: rgba(10, 194, 210, 0.5);
        }

        #weblizar_70 .b-link-stroke .b-bottom-line {
            background: rgba(10, 194, 210, 0.5);
        }

        #weblizar_70 .b-wrapper {
            font-family: Arial;
       
        }

        #weblizar_70 .wrgf-header-label {
            font-family: Arial !important;
   
        }

        #weblizar_70 .wrgf-footer-label {
            font-family: Arial !important;
    
        }

        @media (min-width: 992px) {
            .col-md-6 {
                width: 48% !important;
                padding-right: 5px;
                padding-left: 5px;
                float: left;
            }

            .col-md-4 {
                width: 33.30% !important;
                padding-right: 10px;
                padding-left: 10px;
            }

            .col-md-3 {
                width: 24.90% !important;
                padding-right: 10px;
                padding-left: 10px;
            }
        }

                @media (max-width: 992px) {
            #weblizar_70 .wrgf-header-label {
                display: none;
            }
        }

        @media (min-width: 993px) {
            #weblizar_70 .wrgf-footer-label {
                display: none;
            }
        }

                #weblizar_70 a {
            border-bottom: none;
            overflow: hidden;
            float: left;
            margin-right: 0px;
            padding-left: 0px;
        }        

            