
		
		
		.tbl-link {
			color: #0050AB !important;
			text-decoration:none;
		}


		.tbl-Threat-status a:hover {
			transition: 0.1s; 
			color: #0050AB !important;
			text-decoration:underline !important;
		}
		
		.tbl-Threat-status a:visited, a:link, a:active {
        color: #0050AB;
    }

		
		.tbl-spacer{ 
			height: 20px;
		}
	
	