
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
			div#content {
				width: 100%!important;
			}
		}

		@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
			div#content {
				width: 100%!important;
			}
		}

		@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
			div#content {
				width: 100%!important;
			}
		}

		body {
			padding-left: 15px;
			padding-right: 15px;
			color: #666;
			font-size: 14px;
			font-family: Arial;
			line-height: 20px;
		}

		a {
			color: #004A7F;
		}

		div#subHeadingGreen {
			color: #799612;
			font-family: Arial;
			font-size: 20px;
			line-height: 28px;
		}

		div#content {
			width: 700px;
		}
	