<!DOCTYPE html>
<html lang="en" class="no-js" translate="no">
  <head>
    <title>NPS</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <link rel="icon" href="https://d2nce6johdc51d.cloudfront.net/img/trustmary-favicon.png" sizes="72x72" />
    <link href="https://d6kkbl5noya5t.cloudfront.net/build/91dbe5a/app.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-70819696-8"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', 'UA-70819696-8')
    </script>

    <script
      src="https://browser.sentry-cdn.com/6.7.1/bundle.tracing.min.js"
      integrity="sha384-qOxN14zTU0r3W+9JaAYnMQohi2monmTNAx1i1DhAlCDh8NNx5JYiXfgL/ifXRNcq"
      crossorigin="anonymous"
    ></script>

    <script>
      Sentry.init({
        dsn: 'https://2a0ad3811d1b4ba89b54145d91307233@o567079.ingest.sentry.io/5710642',
        integrations: [new Sentry.Integrations.BrowserTracing()],
        tracesSampleRate: 1.0,
        environment: 'production',
        release: '91dbe5a',
        ignoreErrors: ['Non-Error exception captured', 'Non-Error promise rejection captured'],
      })
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script src="https://d6kkbl5noya5t.cloudfront.net/build/91dbe5a/runtime.js"></script>
    <script src="https://d6kkbl5noya5t.cloudfront.net/build/91dbe5a/app.js"></script>
  </body>
</html>
