
/*
==================================================================
CUSTOM STYLES
==================================================================
*/

/* Place all custom style rules here for easy future reference */



/*
==================================================================
BODY & GENERAL STYLE
==================================================================
*/

html,body{display:block;width:100%;}

body {
	background: #FFFFFF url(http://www.sparkimg.com/forum/themes/themeNouveau/backgrounds/stripes.png);
	font-family: arial,helvetica;
	color: #000000;
	font-size: 12px;
}

table {
	font-size: 12px;
}

th,td {
	font-family: arial,helvetica;
	/*font-size: 12px;*/
}
hr {
	height: 0px;
	border: 0px solid #FFD700;
	border-top-width: 1px;
}

form {
	display: inline;
}
input,textarea,select {
	color: #000000;
	background-color: #FFFFFF;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}
input {
	text-indent: 2px;
}

a, a:active, a:visited {
	color: #0000FF; text-decoration: underline;
}
a:hover {
	text-decoration: underline; color: #0000FF;
}


/*
==================================================================
HEADING STYLE
==================================================================
*/

.pageHeader {
	margin: 0px; 
	padding: 3px; 
	margin-bottom: 5px; 
	font-family: arial,helvetica;
	font-size: 3em; 
	font-weight: 900; 
	color: #000000; 
	border: 1px solid #525E6E;
	border-width: 0px 0px 1px 0px;
	background: #FFD700 url(http://www.sparkimg.com/forum/themes/themeNouveau/gradients/grad.png) repeat-x bottom left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	font-family: arial,helvetica;
	text-decoration: none;
	line-height: 120%;
	color: ;
}
h1 { font-size: 3em; }
h2 { font-size: 18px; }
h3 { font-size: 14px; }
h4,h5,h6 { font-size: 12px; }

.header-logo { text-align: center; margin-bottom: 5px; }

.gen {
	font-size: 1em;
}
.genmed {
	font-size: 0.9em;
}
.gensmall,.gensmall2 {
	font-size: 0.8em;
}



/*
==================================================================
MENU BAR STYLE
==================================================================
*/

#controlBarTable{
	border-collapse: separate;
}
#controlBarTable td {
	text-align: center;
}

.menu-widget { color:#000000; background: !important; background-color: !important; }

.ab_menu_item { color: #000000; background: #FFD700 url(http://www.sparkimg.com/forum/themes/themeNouveau/gradients/grad.png) repeat-x bottom left; padding: 2px 0; }
.ab_menu_item a { color: #000000; text-decoration: none; }
.ab_menu_item_hover { color: #000000; background: #FFFFFF  repeat-x bottom left; padding: 2px 0; }
.ab_menu_item_hover a { color: #000000; text-decoration: none; }

.ab_menu_sub_item { color: #000000; background: #FFFFFF  repeat-x bottom left; padding: 2px 0; }
.ab_menu_sub_item a { color: #000000; text-decoration: none; }
.ab_menu_sub_item_hover { color: #000000; background: #FFD700 url(http://www.sparkimg.com/forum/themes/themeNouveau/gradients/grad.png) repeat-x bottom left; padding: 2px 0; }
.ab_menu_sub_item_hover a { color: #000000; text-decoration: none; }



/*
==================================================================
CONTAINER STYLE
==================================================================
*/

.wrap { padding: 0 20px; }
.container { width: 100% !important; margin: 0 auto;  }

.forumline {
	background:  ;
	border: 1px solid #FFD700;
	border-collapse: collapse;
	border-radius:  -moz-border-radius: ; -webkit-border-radius: ;
}
.borderline {
	border: 1px solid #FFD700;
	border-collapse: collapse;
}
.errorline	{
	border: 1px solid #8f0000;  border-collapse: collapse;
}
.errortext	{
	color: #8f0000; font-weight: bold;
}

.topic-buttons { float: right; }
.topic-buttons button, .topic-buttons select { float: left; }

/*
==================================================================
TABLE HEADER STYLE
==================================================================
*/

th, td.th {
	color: #000000;
	background: #FFD700 url(http://www.sparkimg.com/forum/themes/themeNouveau/gradients/grad.png) repeat-x bottom left;
	font-family: arial,helvetica;
	border-color: #FFD700;
	border-style: solid;
	border-width: 0 1px 1px 0;
	font-size: ;
	padding: 2px;
}
th a, .th a, th a:active, .th a:active, th a:visited, .th a:visited { color: #000000 !important; }
th a:hover, .th a:hover { color:  !important; }

.thMid {
	border-width: 1px 0 1px 0; 
}
a.th, a.th:active, a.th:visited {
	color: #000000;
	
}
a.th:hover {
	color: ;
	
}



/*
==================================================================
TABLE ROW STYLE
==================================================================
*/

.row1 {
	padding: 4px;
	color: ;
	background: #FFFFFF ;
}
.row2 {
	padding: 4px;
	color: ;
	background: #FFFFFF ;
}
.row3 {
	padding: 4px;
	color: ;
	background: #FFFFFF  ;
}
.row3Gen a, .row3genmed a, .row3gensmall a, .row3Gen, a .row3genmed, a .row3gensmall a {
	color: #000000 !important;
}
td.topicRow {
	border-bottom: 0px;
	vertical-align: top;
	padding-top: 7px;
}
td.topicRow.topic-lastpost {
	padding-top: 3px;
}



/*
==================================================================
TABLE CATEGORY ROW STYLE
==================================================================
*/

td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom,.row4 {
	color:#000000;
	background: #000000 ;
}
td.cat,td.catHead,td.catSides,td.catLeft,td.catRight,td.catBottom {
	/*height: 28px;*/
}
.cattitle { font-size: 0.9em; padding-left: 1em; }
a.cattitle {
	color:#000000;
}


/*
==================================================================
FORUM & TOPIC TITLES
==================================================================
*/

a.forumlink, a:active.forumlink, a:visited.forumlink {
	color: #000000;
	font-weight: bold; text-decoration: none;
}
a:hover.forumlink {
	color: #000000;
	text-decoration: underline overline;
}
a.topictitle, a:active.topictitle, a:visited.topictitle {
	color: #0000FF;
	text-decoration: none;
}
a:hover.topictitle {
	color: #0000FF;
	text-decoration: underline;
}


/*
==================================================================
TOPIC & COMMENT STYLE
==================================================================
*/

.postdetails {
	font-size: 0.8em;
	color: ;
}
.postbody {
	/*font-size: 0.9em;*/
}
.moderatelinks {
	text-align: right;
}
.code {
	font-family: Courier, 'Courier New', sans-serif;
	font-size: 11px;
	color: #006600;
	background-color: #F1F4F8;
	border: #525E6E;
	border-style: dotted;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px
}
.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-size: 11px;*/
	color: #3A5370;
	line-height: 125%;
	background-color: #F1F4F8;
	border: #525E6E;
	border-style: dotted;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px
}
.postbody q {
	border: 1px dotted #999999;
	display: block;
	margin-left: 40px;
	margin-right: 40px;
	padding: 5px;
	font-style: italic;
}
.commentOptionMenuBreak {
	padding: 0px; margin: 2px 0px 2px 0px;
	border: 1px solid #FFD700;
}
.commentOptionMenu { 
	text-align: left; float: right; 
	background-color: #FFFFFF; 
	border: 1px solid #FFD700;
	position: absolute; z-index: 1; display: none;
}
.commentOptionMenuItem {
	cursor: pointer; padding: 2px;
}
.commentOptionMenuItem:hover {
	background-color: #FFFFFF; 
}
.topicedit-widget .row1 {
	border: none;
}


/*
==================================================================
MODERATOR/ADMINISTRATOR COLORS
==================================================================
*/

a.mod {
	font-weight: bold;
	color: #000000;
}
a.mod:hover {
	font-weight: bold;
}
a.admin {
	font-weight: bold;
	color: #FFD700; 
}
a.admin:hover {
	font-weight: bold;
}


/*
==================================================================
WIDGET CSS
==================================================================
*/
.widget {
	margin-bottom: 5px;
}
.pm-widget .tr.read .td { background: #FFFFFF ; }
.pm-widget .td { padding-bottom: 0.25em; padding-top: 0.25em; }
.pm-widget .preview-content { font-style: italic; }
.pm-widget .participants, .pm-widget .preview { margin-top: 0.25em; margin-bottom: 0.25em; }
.pm-message-box {}



/*
==================================================================
YUI TAB STYLE
==================================================================
*/

.yui-skin-sam .yui-navset .yui-nav,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav{border-color:transparent;}
.yui-skin-sam .yui-navset .yui-nav a,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a{border: 1px solid #FFD700; background:#FFFFFF ;}
.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a:focus,.yui-skin-sam .yui-navset .yui-nav .selected a:hover{background:#FFFFFF ;}
.yui-skin-sam .yui-navset .yui-nav a:hover,.yui-skin-sam .yui-navset .yui-nav a:focus{background: ;}
.yui-skin-sam .yui-navset .yui-content{border: 1px solid #FFD700; background:#FFFFFF ;}
.yui-skin-sam .yui-navset .yui-content,.yui-skin-sam .yui-navset .yui-navset-top .yui-content{}
.yui-skin-sam .yui-navset-left .yui-content{border-color:transparent;}
.yui-skin-sam .yui-navset-bottom .yui-content,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-content{border-color:transparent;}
.yui-skin-sam .yui-navset .yui-nav a,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a{border: 1px solid #FFD700;}
.yui-skin-sam .yui-navset .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em{border: 1px solid #FFD700;}

.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{margin:0 .5em 0 0;}
.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{margin:0 0 .5em;}
.yui-navset .yui-content .yui-hidden{position:absolute;left:-999999px;visibility:hidden;}
.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{width:6em;}
.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{width:auto;}.yui-navset .yui-navset-left,.yui-navset-left{padding:0 0 0 6em;}
.yui-navset-right{padding:0 6em 0 0;}
.yui-navset-top,.yui-navset-bottom{padding:auto;}
.yui-nav,.yui-nav li{margin:0;padding:0;list-style:none;}
.yui-navset li em{font-style:normal;}
.yui-navset{position:relative;zoom:1;}
.yui-navset .yui-content,.yui-navset .yui-content div{zoom:1;}
.yui-navset .yui-content:after{content:'';display:block;clear:both;}
.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{display:inline-block;display:-moz-inline-stack;*display:inline;vertical-align:bottom;cursor:pointer;zoom:1;}
.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{display:block;}
.yui-navset .yui-nav a{position:relative;}
.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,.yui-navset-bottom .yui-nav li a{display:block;display:inline-block;vertical-align:bottom;zoom:1;}
.yui-navset-left .yui-nav li a,.yui-navset-right .yui-nav li a{display:block;}
.yui-navset-bottom .yui-nav li a{vertical-align:text-top;}
.yui-navset .yui-nav li a em,.yui-navset-top .yui-nav li a em,.yui-navset-bottom .yui-nav li a em{display:block;}
.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{position:absolute;z-index:1;}
.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{position:static;}
.yui-navset .yui-navset-left .yui-nav,.yui-navset-left .yui-nav{left:0;right:auto;}
.yui-navset .yui-navset-right .yui-nav,.yui-navset-right .yui-nav{right:0;left:auto;}
.yui-skin-sam .yui-navset .yui-nav,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav{border-style:solid;border-width:0 0 0px;zoom:1;}
.yui-skin-sam .yui-navset .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav li{margin:0 .16em 0 0;padding:1px 0 0;zoom:1;}
.yui-skin-sam .yui-navset .yui-nav .selected,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected{margin:0 .16em 0 0;}
.yui-skin-sam .yui-navset .yui-nav a,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a{border-width:0 1px;position:relative;text-decoration:none;}
.yui-skin-sam .yui-navset .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em{border-width:1px 0 0;cursor:hand;padding:.25em .75em;left:0;right:0;bottom:0;top:-1px;position:relative;}
.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a:focus,.yui-skin-sam .yui-navset .yui-nav .selected a:hover{}
.yui-skin-sam .yui-navset .yui-nav a:hover,.yui-skin-sam .yui-navset .yui-nav a:focus{outline:0;}
.yui-skin-sam .yui-navset .yui-nav .selected a em{padding:.35em .75em;}
.yui-skin-sam .yui-navset .yui-nav .selected a,.yui-skin-sam .yui-navset .yui-nav .selected a em{}
.yui-skin-sam .yui-navset .yui-content{}
.yui-skin-sam .yui-navset .yui-content,.yui-skin-sam .yui-navset .yui-navset-top .yui-content{border-width:1px;border-style:solid;padding:.25em .5em;}
.yui-skin-sam .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav{border-width:0 5px 0 0;Xposition:absolute;top:0;bottom:0;}
.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav{border-width:0 0 0 5px;}
.yui-skin-sam .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset-right .yui-nav li{margin:0 0 .16em;padding:0 0 0 1px;}.yui-skin-sam .yui-navset-right .yui-nav li{padding:0 1px 0 0;}
.yui-skin-sam .yui-navset-left .yui-nav .selected,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav .selected{margin:0 -1px .16em 0;}
.yui-skin-sam .yui-navset-right .yui-nav .selected{margin:0 0 .16em -1px;}
.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav a{border-width:1px 0;}
.yui-skin-sam .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset-right .yui-nav a em{border-width:0 0 0 1px;padding:.2em .75em;top:auto;left:-1px;}
.yui-skin-sam .yui-navset-right .yui-nav a em{border-width:0 1px 0 0;left:auto;right:-1px;}
.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-left .yui-nav .selected a,.yui-skin-sam .yui-navset-left .yui-nav a:hover,.yui-skin-sam .yui-navset-right .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav .selected a,.yui-skin-sam .yui-navset-right .yui-nav a:hover,.yui-skin-sam .yui-navset-bottom .yui-nav a,.yui-skin-sam .yui-navset-bottom .yui-nav .selected a,.yui-skin-sam .yui-navset-bottom .yui-nav a:hover{background-image:none;}
.yui-skin-sam .yui-navset-left .yui-content{border-width:1px;border-style:solid;}
.yui-skin-sam .yui-navset-bottom .yui-nav,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav{border-width:5px 0 0;}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav .selected,.yui-skin-sam .yui-navset-bottom .yui-nav .selected{margin:0 .16em 0 0;}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li,.yui-skin-sam .yui-navset-bottom .yui-nav li{padding:0 0 1px 0;vertical-align:top;}
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav a em,.yui-skin-sam .yui-navset-bottom .yui-nav a em{border-width:0 0 1px;top:auto;bottom:-1px;}
.yui-skin-sam .yui-navset-bottom .yui-content,.yui-skin-sam .yui-navset .yui-navset-bottom .yui-content{border-width:1px;border-style:solid;}
