
#topForumBar{
	width: 100%;
}

#topForumBar #abLoginBox{
	margin-bottom: 10px;
}

#chatAdminLink{
	width: 100px;
}

.blogTable{
	width: 100%;
}
div#content{
	width: 100%;
	padding: 5px;
	margin: 0px;
}
div.postDiv{
	float: left;
	width: 66%;
	
	overflow: auto;
	margin: 1%;
	padding-bottom: 1em;

}

div.metaDiv{
	float: left;
	width: 28%;
	padding-top: 50px;

}

h1.blogHeader{
	margin: 0px;
	padding: 5px;
}


div.clear{
	clear: both;
	height: 0px;
	font-size: 0px;
	line-height: 0px;
}

p.blogPostBottom, p.blogPostDate{
	font-size: 12px;
}

.commentOptionMenuBreak {
	padding: 0px; margin: 2px 0px 2px 0px;
	color: black; border-color: black; border-style: solid;
	border-bottom-width: 0px; border-left-width: 0px; border-right-width: 0px;
}
.commentOptionMenu { 
	text-align: left; float: right; background-color: white; 
	border: solid 1px black; position: absolute; z-index: 1; display: none;
}
.commentOptionMenuItem {
	cursor: pointer; padding: 2px;
}
.commentOptionMenuItem:hover {
	background-color: #eee;
}

.tag_button {}
.tag_button:hover { cursor: pointer; }
.tag_menu_row { background-color: #dfdfdf; padding: 4px; text-align: left; }


/* chatbox emoticon box and idle indicator */

input#message {
    -moz-background-clip:border !important;
    -moz-background-inline-policy:continuous !important;
    -moz-background-origin:padding !important;
    background-image: url(http://www.sparkimg.com/forum/icons/16-circle-red-small.png);
    background-repeat: no-repeat;
	background-position: 100% 50%;
	background-attachment: scroll;
}

input#message.chatbox-active {
    -moz-background-clip:border !important;
    -moz-background-inline-policy:continuous !important;
    -moz-background-origin:padding !important;
	background-image: url(http://www.sparkimg.com/forum/icons/16-circle-green-small.png);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-attachment: scroll;
}

#show-emotes { border: 0; outline: 0; outline-offset: 0;} 

#show-emotes img { border: 0px; outline: 0; }

.chatbox-message{
word-break: break-word;
}

.comment-body{
word-break: break-word;
}

/****************/
/* Signup Rules */
/****************/

#newUserSignup{
margin: 20px auto;
padding: 10px 10px 10px 10px;
width: 50%;
}

#facebookSignupDivider {
text-align: center;
}

#facebookSignupWidget{
margin: 0 auto;
width: 50%;
padding: 10px 10px 10px 10px;
text-align: left;
}

#facebookSignup{
width:auto;
margin:auto;
}

.signupDivider{
height:250px;
width:1px;
margin:10px auto;}

.popupTable td{text-align:center; padding:2px;}
.popupTable{border-spacing: 0px;}

/**************************/
/* Facebook Signup Button */
/**************************/

.fb-login-btn-outer {
background-color: #e9ebee;
cursor: pointer;
display: inline-block;
vertical-align: top;
min-width: initial;
}
.fb-login-btn-outer.small {
border-radius: 4px;
max-width: 200px;
line-height: 14px;
}
.fb-login-btn-outer.large {
border-radius: 4px;
max-width: 400px;
}

.fb-login-btn-table {
background-color: #4267b2;
border-radius: 4px;
color: #fff;
border: 0;
border-collapse: collapse;
border-spacing: 0;
}
.fb-login-btn-outer.large .fb-login-btn-table {
max-width: 272px;
min-width: initial;
width: auto;
height: 40px;
}
.fb-login-btn-row {
padding-bottom: 0;
padding-top: 0;
}
.fb-login-btn-row>td {
padding: 0;
}
.fb-login-btn-row>td:first-child {
padding-left: 0;
}
.fb-login-btn-outer.small .fb-login-btn-row>td:first-child {
width:20px;
}
.fb-login-btn-outer.large .fb-login-btn-row>td:first-child {
width:40px;
}
.fb-login-btn-row>td:last-child {
padding-right: 0;
}
.fb-login-btn-icon-wrap {
overflow: none;
white-space: nowrap;
}
.fb-login-btn-outer .fb-login-btn-icon-wrap>span {
float: left;
}
.fb-login-btn-outer.small .fb-login-btn-icon-wrap>span {
height: 12px;
margin: 4px;
}
.fb-login-btn-outer.large .fb-login-btn-icon-wrap>span {
height: 24px;
margin: 8px;
}
.fb-login-btn-outer.small .fb-login-btn-icon-wrap img {
height: 12px;
width: 12px;
}
.fb-login-btn-outer.large .fb-login-btn-icon-wrap img {
height: 24px;
width: 24px;
}
.fb-login-btn-outer.small .fb-login-btn-row>td:last-child {
border: none;
font-family: Helvetica, Arial, sans-serif;
letter-spacing: .25px;
overflow: hidden;
text-align: center;
text-overflow: clip;
white-space: nowrap;
}
.fb-login-btn-outer.small .fb-login-btn-text {
font-size: 11px;
max-width: 150px;
padding: 0 8px 0 2px;
}
.fb-login-btn-outer.large .fb-login-btn-text {
margin: 0 24px 0 12px;
font-size: 16px;
}