body {
	
}

/*td{border:solid 1px #c1c1c9;}*/

input{
border:solid 1px #c1c1c9;
color:#000000;
}

.tabela1{
border-collapse:collapse;
border:solid 1px #c1c1c9;
}

.tabela1 th{
border:solid 1px #c1c1c9;
background-image:url(fundo_tabela_custom.gif);
background-repeat:repeat-x;
}

.tabela1 td{
border:solid 1px #c1c1c9;
color:#333333;
}

.tabela1 td a{
color:#333333;}

.header{
border-collapse:collapse;
border:solid 1px #c1c1c9;
width:100%;
}

.tabela2 thead th{
border:solid 1px #c1c1c9;
background-image:url(fundo_tabela_custom.gif);
background-repeat:repeat-x;
color:#ffffff;
}
.tabela2 thead th.sel{
background-image:url(fundo_tabela_custom.gif);
background-repeat:repeat-x;
}

.pagecontrol thead th{
border-collapse:collapse;
background-color: #3945D6;
/*border:solid 1px #ffffff;*/
color:#cccccc;
background-image:url(../images/fundo_pagecontrol_des.gif);
background-repeat:repeat-x;
}

.tabela2 thead td{
/*border:solid 1px #c1c1c9;*/
}
.tabela2 tbody th{
border:solid 1px #c1c1c9;}

.tabela2 tbody td{
border:solid 1px #c1c1c9;}

.pagecontrol thead td{
border-bottom: solid 1px #c1c1c9;
}

.pagecontrol tfoot td{
background-color:#c1c1c9;

}

.arquivos th{
border:solid 1px #c1c1c9;
border-collapse:collapse;
background-image:url(fundo_tabela_custom.gif);
background-repeat:repeat-x;
background-color:#ffffff;
}


.menuhorizontal{
border-top:solid 1px #ffffff;
background-image:none;
background-color:#c1c1c9;
color:#FFFFFF; 
margin:0 0 0 0;
padding: 0 0 0 0;
}

.menuhorizontal a{
 color:#FFFFFf;
}


.menuhorizontal a:hover{
 color:#ffff00;
}


.tabela2 thead th{
filter:DropShadow(Color=#ebebeb,OffX=2,OffY=2,Positive=true);
text-shadow: #000000 1px 1px;
}

