
								@media only screen and (min-width: 1400px) {
.ad.ad-fullscreen #left {
margin-left: 670px;
}
.ad.ad-fullscreen #right {
margin-right: 0px;
}
}
.da-300x250 #ad-block {
height: 250px;
overflow: hidden;
}
			