
                    html,
                    body {
                        -webkit-font-smoothing: antialiased;
                        text-rendering: optimizelegibility;
                        width: 100%;
                        min-height: 100vh;
                        user-select: none;
                        outline: none;
                        position: relative;
                    }
                    /* Avoid Chrome to see Safari hack */
                    @supports (-webkit-touch-callout: none) {
                        html,
                        body,
                        .gitbook-root {
                            /* The hack for Safari */
                            min-height: -webkit-fill-available;
                        }
                    }
                    .gitbook-root {
                        display: flex;
                        min-height: 100vh;
                    }
                