/*! CSS Used from: https://claim.lens.xyz/_next/static/css/2d09b0cef7a2740f.css */
*,:after,:before{box-sizing:border-box;border:0 solid;}
:after,:before{--tw-content:"";}
body{margin:0;line-height:inherit;}
h1{font-size:inherit;font-weight:inherit;}
a{color:inherit;text-decoration:inherit;}
button,input{font-family:inherit;font-size:100%;font-weight:inherit;line-height:inherit;color:inherit;margin:0;padding:0;}
button{text-transform:none;}
button{-webkit-appearance:button;background-color:transparent;background-image:none;}
h1,p{margin:0;}
ul{list-style:none;margin:0;padding:0;}
input::placeholder{opacity:1;color:#9ca3af;}
button{cursor:pointer;}
:disabled{cursor:default;}
iframe,img,svg{display:block;vertical-align:middle;}
img{max-width:100%;height:auto;}
*,:after,:before{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-scroll-snap-strictness:proximity;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgba(59,130,246,.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
.fixed{position:fixed;}
.absolute{position:absolute;}
.relative{position:relative;}
.-left-2{left:-.5rem;}
.-left-\[30\%\]{left:-30%;}
.-right-14{right:-3.5rem;}
.-right-2{right:-.5rem;}
.-top-\[25px\]{top:-25px;}
.bottom-10{bottom:2.5rem;}
.bottom-24{bottom:6rem;}
.bottom-6{bottom:1.5rem;}
.bottom-8{bottom:2rem;}
.left-0{left:0;}
.left-12{left:3rem;}
.left-16{left:4rem;}
.left-4{left:1rem;}
.right-0{right:0;}
.right-10{right:2.5rem;}
.right-12{right:3rem;}
.right-24{right:6rem;}
.right-5{right:1.25rem;}
.right-6{right:1.5rem;}
.top-28{top:7rem;}
.top-3{top:.75rem;}
.top-5{top:1.25rem;}
.top-\[0px\]{top:0;}
.top-\[13\%\]{top:13%;}
.top-\[15\%\]{top:15%;}
.top-\[25\%\]{top:25%;}
.top-\[55px\]{top:55px;}
.top-\[7vw\]{top:7vw;}
.z-20{z-index:20;}
.z-40{z-index:40;}
.order-2{order:2;}
.col-span-3{grid-column:span 3/span 3;}
.m-\[1px\]{margin:1px;}
.mx-auto{margin-left:auto;margin-right:auto;}
.my-12{margin-top:3rem;margin-bottom:3rem;}
.my-2{margin-top:.5rem;margin-bottom:.5rem;}
.my-6{margin-top:1.5rem;margin-bottom:1.5rem;}
.my-auto{margin-top:auto;margin-bottom:auto;}
.-ml-2{margin-left:-.5rem;}
.-mt-10{margin-top:-2.5rem;}
.-mt-6{margin-top:-1.5rem;}
.mb-2{margin-bottom:.5rem;}
.mb-4{margin-bottom:1rem;}
.mb-8{margin-bottom:2rem;}
.ml-4{margin-left:1rem;}
.ml-auto{margin-left:auto;}
.mr-3{margin-right:.75rem;}
.mt-0{margin-top:0;}
.mt-20{margin-top:5rem;}
.mt-3{margin-top:.75rem;}
.mt-4{margin-top:1rem;}
.mt-5{margin-top:1.25rem;}
.mt-8{margin-top:2rem;}
.inline{display:inline;}
.flex{display:flex;}
.grid{display:grid;}
.hidden{display:none;}
.\!h-\[40px\]{height:40px!important;}
.h-12{height:3rem;}
.h-6{height:1.5rem;}
.h-\[100dvh\]{height:100dvh;}
.h-\[100px\]{height:100px;}
.h-\[120px\]{height:120px;}
.h-\[125px\]{height:125px;}
.h-\[180px\]{height:180px;}
.h-\[283px\]{height:283px;}
.h-\[307px\]{height:307px;}
.h-\[320px\]{height:320px;}
.h-\[34px\]{height:34px;}
.h-\[40px\]{height:40px;}
.h-\[428px\]{height:428px;}
.h-\[43px\]{height:43px;}
.h-\[46px\]{height:46px;}
.h-\[500px\]{height:500px;}
.h-\[50vw\]{height:50vw;}
.h-\[600px\]{height:600px;}
.h-\[60px\]{height:60px;}
.h-\[650px\]{height:650px;}
.h-\[90px\]{height:90px;}
.h-full{height:100%;}
.h-max{height:-moz-max-content;height:max-content;}
.max-h-full{max-height:100%;}
.min-h-\[82dvh\]{min-height:82dvh;}
.\!w-full{width:100%!important;}
.w-11\/12{width:91.666667%;}
.w-32{width:8rem;}
.w-4\/6{width:66.666667%;}
.w-6{width:1.5rem;}
.w-\[100px\]{width:100px;}
.w-\[120px\]{width:120px;}
.w-\[125px\]{width:125px;}
.w-\[140px\]{width:140px;}
.w-\[280px\]{width:280px;}
.w-\[288px\]{width:288px;}
.w-\[34px\]{width:34px;}
.w-\[90px\]{width:90px;}
.w-full{width:100%;}
.w-max{width:-moz-max-content;width:max-content;}
.w-screen{width:100vw;}
.max-w-4xl{max-width:56rem;}
.max-w-\[225px\]{max-width:225px;}
.max-w-\[256px\]{max-width:256px;}
.flex-none{flex:none;}
.grow{flex-grow:1;}
.grow-0{flex-grow:0;}
.animate-pulse{animation:pulse 2s cubic-bezier(.4,0,.6,1) infinite;}
.appearance-none{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr));}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.flex-col{flex-direction:column;}
.flex-wrap{flex-wrap:wrap;}
.items-start{align-items:flex-start;}
.items-end{align-items:flex-end;}
.items-center{align-items:center;}
.justify-start{justify-content:flex-start;}
.justify-end{justify-content:flex-end;}
.justify-center{justify-content:center;}
.justify-between{justify-content:space-between;}
.justify-around{justify-content:space-around;}
.gap-1{gap:.25rem;}
.gap-10{gap:2.5rem;}
.gap-2{gap:.5rem;}
.gap-4{gap:1rem;}
.gap-5{gap:1.25rem;}
.gap-6{gap:1.5rem;}
.gap-8{gap:2rem;}
.space-x-2>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-right:calc(.5rem * var(--tw-space-x-reverse));margin-left:calc(.5rem * calc(1 - var(--tw-space-x-reverse)));}
.space-x-6>:not([hidden])~:not([hidden]){--tw-space-x-reverse:0;margin-right:calc(1.5rem * var(--tw-space-x-reverse));margin-left:calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));}
.space-y-1>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(.25rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(.25rem * var(--tw-space-y-reverse));}
.space-y-4>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(1rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(1rem * var(--tw-space-y-reverse));}
.space-y-6>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(1.5rem * var(--tw-space-y-reverse));}
.space-y-\[12px\]>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(12px * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(12px * var(--tw-space-y-reverse));}
.self-center{align-self:center;}
.justify-self-end{justify-self:end;}
.overflow-hidden{overflow:hidden;}
.overflow-visible{overflow:visible;}
.overflow-x-hidden{overflow-x:hidden;}
.\!overflow-x-scroll{overflow-x:scroll!important;}
.whitespace-nowrap{white-space:nowrap;}
.whitespace-pre-wrap{white-space:pre-wrap;}
.whitespace-break-spaces{white-space:break-spaces;}
.break-words{overflow-wrap:break-word;}
.rounded-2xl{border-radius:1rem;}
.rounded-3xl{border-radius:1.5rem;}
.rounded-4xl{border-radius:30px;}
.rounded-\[20px\]{border-radius:20px;}
.rounded-\[24px\]{border-radius:24px;}
.rounded-\[32px\]{border-radius:32px;}
.rounded-\[4px\]{border-radius:4px;}
.rounded-full{border-radius:9999px;}
.rounded-lg{border-radius:14px;}
.rounded-md{border-radius:.375rem;}
.rounded-xl{border-radius:.75rem;}
.rounded-b-\[17px\]{border-bottom-right-radius:17px;border-bottom-left-radius:17px;}
.rounded-b-lg{border-bottom-right-radius:14px;border-bottom-left-radius:14px;}
.rounded-t-lg{border-top-left-radius:14px;border-top-right-radius:14px;}
.border-\[3px\]{border-width:3px;}
.border-darkSky{--tw-border-opacity:1;border-color:rgb(70 70 70/var(--tw-border-opacity));}
.\!bg-dustyMiller{--tw-bg-opacity:1!important;background-color:rgb(233 233 233/var(--tw-bg-opacity))!important;}
.bg-\[\#ffffff08\]{background-color:#ffffff08;}
.bg-\[\#ffffff14\]{background-color:#ffffff14;}
.bg-\[inherit\]{background-color:inherit;}
.bg-blackWood{--tw-bg-opacity:1;background-color:rgb(39 46 41/var(--tw-bg-opacity));}
.bg-darkLavender{--tw-bg-opacity:1;background-color:rgb(86 84 103/var(--tw-bg-opacity));}
.bg-darkSky{--tw-bg-opacity:1;background-color:rgb(70 70 70/var(--tw-bg-opacity));}
.bg-dustyMiller{--tw-bg-opacity:1;background-color:rgb(233 233 233/var(--tw-bg-opacity));}
.bg-light{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity));}
.bg-lightAzalea{--tw-bg-opacity:1;background-color:rgb(245 212 210/var(--tw-bg-opacity));}
.bg-lightDandelion{--tw-bg-opacity:1;background-color:rgb(208 219 255/var(--tw-bg-opacity));}
.bg-lightForest{--tw-bg-opacity:1;background-color:rgb(195 228 205/var(--tw-bg-opacity));}
.bg-lightLavender{--tw-bg-opacity:1;background-color:rgb(219 204 243/var(--tw-bg-opacity));}
.bg-lightSky{--tw-bg-opacity:1;background-color:rgb(220 220 220/var(--tw-bg-opacity));}
.bg-paleSunflower{--tw-bg-opacity:1;background-color:rgb(255 235 184/var(--tw-bg-opacity));}
.bg-transparent{background-color:#transparent;}
.object-cover{-o-object-fit:cover;object-fit:cover;}
.p-2{padding:.5rem;}
.p-4{padding:1rem;}
.p-5{padding:1.25rem;}
.p-6{padding:1.5rem;}
.px-0{padding-left:0;padding-right:0;}
.px-2{padding-left:.5rem;padding-right:.5rem;}
.px-3{padding-left:.75rem;padding-right:.75rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.px-5{padding-left:1.25rem;padding-right:1.25rem;}
.px-6{padding-left:1.5rem;padding-right:1.5rem;}
.px-8{padding-left:2rem;padding-right:2rem;}
.py-1{padding-top:.25rem;padding-bottom:.25rem;}
.py-2{padding-top:.5rem;padding-bottom:.5rem;}
.py-4{padding-top:1rem;padding-bottom:1rem;}
.py-5{padding-top:1.25rem;padding-bottom:1.25rem;}
.pb-7{padding-bottom:1.75rem;}
.pb-8{padding-bottom:2rem;}
.pl-3{padding-left:.75rem;}
.pt-14{padding-top:3.5rem;}
.pt-2{padding-top:.5rem;}
.pt-7{padding-top:1.75rem;}
.pt-\[25vw\]{padding-top:25vw;}
.text-left{text-align:left;}
.text-center{text-align:center;}
.\!font-gintoNord{font-family:var(--font-ginto-nord)!important;}
.font-gintoNord{font-family:var(--font-ginto-nord);}
.font-sans{font-family:var(--font-ginto);}
.\!text-base{font-size:.9375rem!important;}
.text-2xl{font-size:1.875rem;}
.text-\[13px\]{font-size:13px;}
.text-\[15px\]{font-size:15px;}
.text-\[36px\]{font-size:36px;}
.text-base{font-size:.9375rem;}
.text-lg{font-size:1.25rem;}
.text-sm{font-size:.8125rem;}
.text-xs{font-size:.7rem;}
.\!font-bold{font-weight:700!important;}
.font-bold{font-weight:700;}
.font-medium{font-weight:500;}
.uppercase{text-transform:uppercase;}
.leading-3{line-height:.75rem;}
.leading-\[35px\]{line-height:35px;}
.leading-\[36px\]{line-height:36px;}
.leading-none{line-height:1;}
.-tracking-\[1\.2px\]{letter-spacing:-1.2px;}
.tracking-\[-1\.63px\]{letter-spacing:-1.63px;}
.tracking-\[-2px\]{letter-spacing:-2px;}
.tracking-\[0\.2px\]{letter-spacing:.2px;}
.tracking-wide{letter-spacing:.025em;}
.\!text-blackWood{--tw-text-opacity:1!important;color:rgb(39 46 41/var(--tw-text-opacity))!important;}
.\!text-dark{--tw-text-opacity:1!important;color:rgb(0 0 0/var(--tw-text-opacity))!important;}
.\!text-lightAzalea{--tw-text-opacity:1!important;color:rgb(245 212 210/var(--tw-text-opacity))!important;}
.\!text-lightSky{--tw-text-opacity:1!important;color:rgb(220 220 220/var(--tw-text-opacity))!important;}
.text-blackWood{--tw-text-opacity:1;color:rgb(39 46 41/var(--tw-text-opacity));}
.text-blackWood\/50{color:rgba(39,46,41,.5);}
.text-darkSky{--tw-text-opacity:1;color:rgb(70 70 70/var(--tw-text-opacity));}
.text-darkSky\/70{color:rgba(70,70,70,.7);}
.text-dustyMiller{--tw-text-opacity:1;color:rgb(233 233 233/var(--tw-text-opacity));}
.text-dustyMiller\/60{color:hsla(0,0%,91%,.6);}
.text-light{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity));}
.text-lightDandelion{--tw-text-opacity:1;color:rgb(208 219 255/var(--tw-text-opacity));}
.text-lightLavender{--tw-text-opacity:1;color:rgb(219 204 243/var(--tw-text-opacity));}
.text-lightSky{--tw-text-opacity:1;color:rgb(220 220 220/var(--tw-text-opacity));}
.text-lightSky\/50{color:hsla(0,0%,86%,.5);}
.text-paleSunflower{--tw-text-opacity:1;color:rgb(255 235 184/var(--tw-text-opacity));}
.underline{text-decoration-line:underline;}
.opacity-100{opacity:1;}
.opacity-60{opacity:.6;}
.shadow-2xl{--tw-shadow:0 25px 50px -12px rgba(0,0,0,.25);--tw-shadow-colored:0 25px 50px -12px var(--tw-shadow-color);}
.shadow-2xl,.shadow-xl{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);}
.shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);}
.blur-sm{--tw-blur:blur(4px);}
.blur-sm{filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);}
.backdrop-blur-xl{--tw-backdrop-blur:blur(24px);-webkit-backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);backdrop-filter:var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s;}
.transition-opacity{transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:.15s;}
.duration-100{transition-duration:.1s;}
.duration-200{transition-duration:.2s;}
.duration-500{transition-duration:.5s;}
.duration-700{transition-duration:.7s;}
.ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1);}
*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.h4{font-family:var(--font-ginto-nord);font-size:58px;font-weight:700;line-height:50px;letter-spacing:-2.5px;}
@media (min-width:1920px){
.h4{font-size:3.8vw;line-height:3.8vw;letter-spacing:-.17vw;}
}
.h6{font-family:var(--font-ginto-nord);font-size:40px;font-weight:700;line-height:38px;letter-spacing:-2px;}
@media (min-width:1920px){
.h6{font-size:2.78vw;line-height:2.6vw;letter-spacing:-.14vw;}
}
.h7{font-family:var(--font-ginto-nord);font-size:32px;line-height:34px;letter-spacing:-.4px;}
@media (min-width:1920px){
.h7{font-size:2.2vw;line-height:2.36vw;letter-spacing:-.02vw;}
}
.h9{font-family:var(--font-ginto-nord);font-size:16px;line-height:18px;letter-spacing:0;}
@media (min-width:1920px){
.h9{font-size:1.1vw;line-height:1.25vw;letter-spacing:0;}
}
.t2{font-size:30px;font-weight:400;line-height:30px;letter-spacing:-1.2px;}
@media (min-width:1920px){
.t2{font-size:2vw;line-height:2vw;letter-spacing:-.08vw;}
}
.t3{font-size:24px;font-weight:400;line-height:24px;letter-spacing:-.6px;}
@media (min-width:1920px){
.t3{font-size:1.6vw;line-height:1.6vw;letter-spacing:-.05vw;}
}
.t3-b{font-size:24px;font-weight:500;line-height:28px;letter-spacing:-.6px;}
@media (min-width:1920px){
.t3-b{font-size:1.6vw;line-height:1.9vw;letter-spacing:-.04vw;}
}
.t4-b{font-size:18px;font-weight:500;line-height:24px;letter-spacing:.3px;}
@media (min-width:1920px){
.t4-b{font-size:1.25vw;line-height:1.6vw;letter-spacing:.02vw;}
}
.t5{font-size:16px;font-weight:400;line-height:19px;letter-spacing:-.4px;}
@media (min-width:1920px){
.t5{font-size:1.1vw;line-height:1.3vw;letter-spacing:.02vw;}
}
.t5-b{font-size:16px;font-weight:500;line-height:19px;letter-spacing:-.2px;}
@media (min-width:1920px){
.t5-b{font-size:1.1vw;line-height:1.3vw;letter-spacing:.01vw;}
}
.t6{font-size:14px;font-weight:400;line-height:16px;letter-spacing:-.2px;}
@media (min-width:1920px){
.t6{font-size:.9vw;line-height:1vw;letter-spacing:-.01vw;}
}
.card-shadow{box-shadow:0 34px 34px rgba(0,0,0,.35);}
.hover\:opacity-70:hover{opacity:.7;}
.hover\:opacity-90:hover{opacity:.9;}
.focus\:outline-none:focus{outline:2px solid transparent;outline-offset:2px;outline-color:#FFFFFF0;}
.disabled\:cursor-not-allowed:disabled{cursor:not-allowed;}
.disabled\:opacity-60:disabled{opacity:.6;}
@media (min-width:640px){
.sm\:block{display:block;}
.sm\:w-\[550px\]{width:550px;}
.sm\:p-7{padding:1.75rem;}
}
@media (min-width:768px){
.md\:order-2{order:2;}
.md\:mb-12{margin-bottom:3rem;}
.md\:mt-10{margin-top:2.5rem;}
.md\:mt-20{margin-top:5rem;}
.md\:mt-28{margin-top:7rem;}
.md\:block{display:block;}
.md\:inline-block{display:inline-block;}
.md\:flex{display:flex;}
.md\:hidden{display:none;}
.md\:h-\[200px\]{height:200px;}
.md\:h-\[400px\]{height:400px;}
.md\:h-\[508px\]{height:508px;}
.md\:h-\[580px\]{height:580px;}
.md\:h-\[600px\]{height:600px;}
.md\:h-auto{height:auto;}
.md\:h-full{height:100%;}
.md\:w-1\/4{width:25%;}
.md\:w-2\/3{width:66.666667%;}
.md\:w-\[200px\]{width:200px;}
.md\:w-\[300px\]{width:300px;}
.md\:w-\[370px\]{width:370px;}
.md\:w-\[400px\]{width:400px;}
.md\:w-\[698px\]{width:698px;}
.md\:max-w-\[225px\]{max-width:225px;}
.md\:grow-0{flex-grow:0;}
.md\:flex-row{flex-direction:row;}
.md\:justify-start{justify-content:flex-start;}
.md\:justify-between{justify-content:space-between;}
.md\:gap-2{gap:.5rem;}
.md\:gap-4{gap:1rem;}
.md\:gap-\[14px\]{gap:14px;}
.md\:py-2{padding-top:.5rem;padding-bottom:.5rem;}
.md\:pt-20{padding-top:5rem;}
.md\:shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);}
}
@media (min-width:1024px){
.lg\:-right-2{right:-.5rem;}
.lg\:top-6{top:1.5rem;}
.lg\:col-span-1{grid-column:span 1/span 1;}
.lg\:mx-0{margin-left:0;margin-right:0;}
.lg\:mx-auto{margin-left:auto;margin-right:auto;}
.lg\:-mt-4{margin-top:-1rem;}
.lg\:mb-0{margin-bottom:0;}
.lg\:mt-0{margin-top:0;}
.lg\:block{display:block;}
.lg\:flex{display:flex;}
.lg\:hidden{display:none;}
.lg\:h-\[500px\]{height:500px;}
.lg\:h-full{height:100%;}
.lg\:w-1\/3{width:33.333333%;}
.lg\:w-2\/3{width:66.666667%;}
.lg\:w-\[220px\]{width:220px;}
.lg\:w-\[290px\]{width:290px;}
.lg\:w-\[400px\]{width:400px;}
.lg\:max-w-lg{max-width:32rem;}
.lg\:grid-cols-3{grid-template-columns:repeat(3,minmax(0,1fr));}
.lg\:flex-row{flex-direction:row;}
.lg\:flex-col{flex-direction:column;}
.lg\:items-start{align-items:flex-start;}
.lg\:items-center{align-items:center;}
.lg\:justify-between{justify-content:space-between;}
.lg\:space-y-\[16px\]>:not([hidden])~:not([hidden]){--tw-space-y-reverse:0;margin-top:calc(16px * calc(1 - var(--tw-space-y-reverse)));margin-bottom:calc(16px * var(--tw-space-y-reverse));}
.lg\:whitespace-normal{white-space:normal;}
.lg\:p-0{padding:0;}
.lg\:px-8{padding-left:2rem;padding-right:2rem;}
.lg\:px-\[36px\]{padding-left:36px;padding-right:36px;}
.lg\:py-0{padding-top:0;padding-bottom:0;}
.lg\:py-\[26px\]{padding-top:26px;padding-bottom:26px;}
.lg\:pt-10{padding-top:2.5rem;}
.lg\:text-left{text-align:left;}
.lg\:text-\[58px\]{font-size:58px;}
.lg\:text-base{font-size:.9375rem;}
.lg\:leading-\[56px\]{line-height:56px;}
.lg\:tracking-\[-2\.5px\]{letter-spacing:-2.5px;}
.lg\:blur-lg{--tw-blur:blur(16px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);}
}
@media (min-width:1280px){
.xl\:right-40{right:10rem;}
.xl\:mx-5{margin-left:1.25rem;margin-right:1.25rem;}
.xl\:mt-12{margin-top:3rem;}
.xl\:flex{display:flex;}
.xl\:hidden{display:none;}
.xl\:w-\[95vw\]{width:95vw;}
.xl\:gap-\[20px\]{gap:20px;}
.xl\:whitespace-pre{white-space:pre;}
.xl\:p-0{padding:0;}
.xl\:px-24{padding-left:6rem;padding-right:6rem;}
}
@media (min-width:1920px){
.\32xl\:right-\[1\.38vw\]{right:1.38vw;}
.\32xl\:top-\[25vw\]{top:25vw;}
.\32xl\:top-\[30vw\]{top:30vw;}
.\32xl\:top-\[3vw\]{top:3vw;}
.\32xl\:top-\[4\.5vw\]{top:4.5vw;}
.\32xl\:mt-\[1\.4vw\]{margin-top:1.4vw;}
.\32xl\:mt-\[2\.77vw\]{margin-top:2.77vw;}
.\32xl\:h-2\/3{height:66.666667%;}
.\32xl\:h-\[13\.89vw\]{height:13.89vw;}
.\32xl\:h-\[2\.8vw\]{height:2.8vw;}
.\32xl\:h-\[2\.9vw\]{height:2.9vw;}
.\32xl\:h-\[34\.8vw\]{height:34.8vw;}
.\32xl\:h-\[40\.2vw\]{height:40.2vw;}
.\32xl\:h-\[6\.25vw\]{height:6.25vw;}
.\32xl\:h-\[6\.95vw\]{height:6.95vw;}
.\32xl\:h-\[8\.33vw\]{height:8.33vw;}
.\32xl\:h-\[8\.68vw\]{height:8.68vw;}
.\32xl\:w-2\/5{width:40%;}
.\32xl\:w-\[13\.89vw\]{width:13.89vw;}
.\32xl\:w-\[18\.05vw\]{width:18.05vw;}
.\32xl\:w-\[19\.5vw\]{width:19.5vw;}
.\32xl\:w-\[20vw\]{width:20vw;}
.\32xl\:w-\[21\.5vw\]{width:21.5vw;}
.\32xl\:w-\[27\.1vw\]{width:27.1vw;}
.\32xl\:w-\[27\.8vw\]{width:27.8vw;}
.\32xl\:w-\[5\.55vw\]{width:5.55vw;}
.\32xl\:w-\[6\.25vw\]{width:6.25vw;}
.\32xl\:w-\[6\.95vw\]{width:6.95vw;}
.\32xl\:w-\[8\.68vw\]{width:8.68vw;}
.\32xl\:w-\[8\.9vw\]{width:8.9vw;}
.\32xl\:max-w-\[15\.6vw\]{max-width:15.6vw;}
.\32xl\:max-w-\[17\.78vw\]{max-width:17.78vw;}
.\32xl\:gap-8{gap:2rem;}
.\32xl\:p-\[1\.94vw\]{padding:1.94vw;}
.\32xl\:px-\[1\.2vw\]{padding-left:1.2vw;padding-right:1.2vw;}
.\32xl\:px-\[1\.5vw\]{padding-left:1.5vw;padding-right:1.5vw;}
.\32xl\:py-\[1\.38vw\]{padding-top:1.38vw;padding-bottom:1.38vw;}
.\32xl\:pl-16{padding-left:4rem;}
.\32xl\:text-\[0\.9vw\]{font-size:.9vw;}
.\32xl\:text-\[1\.1vw\]{font-size:1.1vw;}
.\32xl\:text-\[1\.38vw\]{font-size:1.38vw;}
.\32xl\:text-\[1\.4vw\]{font-size:1.4vw;}
.\32xl\:text-\[1vw\]{font-size:1vw;}
.\32xl\:text-\[2\.08vw\]{font-size:2.08vw;}
.\32xl\:text-\[2\.7vw\]{font-size:2.7vw;}
.\32xl\:leading-\[2\.5vw\]{line-height:2.5vw;}
.\32xl\:-tracking-\[0\.09vw\]{letter-spacing:-.09vw;}
}
@media (min-width:2750px){
.\33xl\:pl-0{padding-left:0;}
}
.__variable_8e03ff{--font-ginto:"__ginto_8e03ff","__ginto_Fallback_8e03ff",sans-serif;}
.__variable_0fc7a7{--font-ginto-nord:"__gintoNord_0fc7a7","__gintoNord_Fallback_0fc7a7",sans-serif;}
/*! CSS Used from: Embedded */
[data-rk]{--rk-blurs-modalOverlay:blur(0px);--rk-fonts-body:SFRounded, ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";--rk-radii-actionButton:9999px;--rk-radii-connectButton:12px;--rk-radii-menuButton:12px;--rk-radii-modal:24px;--rk-radii-modalMobile:28px;--rk-colors-accentColor:#C3E4CD;--rk-colors-accentColorForeground:#FFF;--rk-colors-actionButtonBorder:rgba(255, 255, 255, 0.04);--rk-colors-actionButtonBorderMobile:rgba(255, 255, 255, 0.08);--rk-colors-actionButtonSecondaryBackground:rgba(255, 255, 255, 0.08);--rk-colors-closeButton:rgba(224, 232, 255, 0.6);--rk-colors-closeButtonBackground:rgba(255, 255, 255, 0.08);--rk-colors-connectButtonBackground:#1A1B1F;--rk-colors-connectButtonBackgroundError:#FF494A;--rk-colors-connectButtonInnerBackground:linear-gradient(0deg, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0.15));--rk-colors-connectButtonText:#FFF;--rk-colors-connectButtonTextError:#FFF;--rk-colors-connectionIndicator:#30E000;--rk-colors-downloadBottomCardBackground:linear-gradient(126deg, rgba(0, 0, 0, 0) 9.49%, rgba(120, 120, 120, 0.2) 71.04%), #1A1B1F;--rk-colors-downloadTopCardBackground:linear-gradient(126deg, rgba(120, 120, 120, 0.2) 9.49%, rgba(0, 0, 0, 0) 71.04%), #1A1B1F;--rk-colors-error:#FF494A;--rk-colors-generalBorder:rgba(255, 255, 255, 0.08);--rk-colors-generalBorderDim:rgba(255, 255, 255, 0.04);--rk-colors-menuItemBackground:rgba(224, 232, 255, 0.1);--rk-colors-modalBackdrop:rgba(0, 0, 0, 0.5);--rk-colors-modalBackground:#1A1B1F;--rk-colors-modalBorder:rgba(255, 255, 255, 0.08);--rk-colors-modalText:#FFF;--rk-colors-modalTextDim:rgba(224, 232, 255, 0.3);--rk-colors-modalTextSecondary:rgba(255, 255, 255, 0.6);--rk-colors-profileAction:rgba(224, 232, 255, 0.1);--rk-colors-profileActionHover:rgba(224, 232, 255, 0.2);--rk-colors-profileForeground:rgba(224, 232, 255, 0.05);--rk-colors-selectedOptionBorder:rgba(224, 232, 255, 0.1);--rk-colors-standby:#FFD641;--rk-shadows-connectButton:0px 4px 12px rgba(0, 0, 0, 0.1);--rk-shadows-dialog:0px 8px 32px rgba(0, 0, 0, 0.32);--rk-shadows-profileDetailsAction:0px 2px 6px rgba(37, 41, 46, 0.04);--rk-shadows-selectedOption:0px 2px 6px rgba(0, 0, 0, 0.24);--rk-shadows-selectedWallet:0px 2px 6px rgba(0, 0, 0, 0.24);--rk-shadows-walletLogo:0px 2px 16px rgba(0, 0, 0, 0.16);}
/*! CSS Used keyframes */
@keyframes pulse{50%{opacity:.5;}}