 h1,.admania-sitetitle a { 
 font-family:Noto Serif !important;
 font-size:37px;
 line-height:47px;
 text-transform:capitalize;
 }
 h2 { 
 font-family:Noto Serif !important;
 font-size:27px;
 line-height:41px;
 text-transform:capitalize;
 }
 h3 {
 font-family:Noto Serif !important;
 font-size:23px;
 line-height:32px;
 text-transform:capitalize;
 }
 h4 { 
 font-family:Noto Serif !important;
 font-size:21px;
 line-height:30px;
 text-transform:capitalize;
 }
 h5 { 
 font-family:Noto Serif !important;
 font-size:18px;
 line-height:28px;
 text-transform:capitalize;
 }
 h6 { 
 font-family:Noto Serif !important;
 font-size:16px;
 line-height:25px;
 text-transform:capitalize;
 }
 .admania-gridentry .admania-entryheader h2 { 
 font-family:Noto Serif !important;
 font-size:18px;
 line-height:30px;
 text-transform:none;
 }
 h1,h2,h3,h4,h5,h6 { 
 font-weight:600;
 }
 body {
 font-family:Noto Serif;
 color:#282828;
 background: #ffffff;
 font-size: 16px;
 line-height:28px;
 }
 .admania-entrycontent a {
 color: #858181 !important;
 text-decoration:underline !important;
 }
.admania-entrycontent a:hover {color: #47a7d7 !important;}
h1,h2,h3,h4,h5,h6,.admania-eighth-category3-slider-item-header h5 a,.admania-eighth-category5-slider-item-header h5 a,.admania-ninth-category7-ftr-list h5 a,.admania-eighth-slider-item-header h2 a {color:#222;text-transform: none;}
.admania-headertopalt,.admania-mobileheader,.admania_headerbtm,.admania-headersgstkyad {box-shadow: 2px 2px 5px #e3e3e3;border-bottom: 1px solid #dddddd;}
.admania-headertopsocial li a {color:#111;}
.admania-headerinneralt,.admania_menu .menu .sub-menu,.admania-secondarymenu .menu .sub-menu,.admania-boxedheadertop,.admania-boxedlayout .admania-secondarymenu .menu .sub-menu { background-color:#222222;border: 0px solid #dddddd;box-shadow: 0px 0px 0px #e3e3e3;}
.admania-headersearchform .search-form  input[type="search"] {background:#252424;color:#fff;}
.admania-restitle1{padding:0px;}
.admania-headersearchform .search-form input[type="search"]::-webkit-input-placeholder {color:#fff;}
.admania-headersearchform .search-form input[type="search"]::-moz-placeholder {color:#fff;}
.admania-headersearchform .search-form input[type="search"]::-ms-input-placeholder {color:#fff; }
.admania-headersearchform .search-form input[type="submit"] {background-color:#252424;}
.admania-slidercat,.admania-cat, .admania-featcatlist a,.owl-prev, .owl-next {background:#fff;color:#111;}
.admania-slidercontent h2 a,.admania-slidercontent {color:#fff;}
.reply a,.admania-top a,.admania-slidercat5 a,.admania-slidercat2 a,input[type="reset"], input[type="button"], input[type="submit"], button {background:#47a7d7;color:#fff;}
.admania-slidercontent2, .admania-slidercontent2 a {color:#fff !important;}
.admania-slidercat4 a {color:#47a7d7 !important;}
.reply a:hover,.admania-top a:hover,input[type="reset"]:hover, input[type="button"]:hover, input[type="submit"]:hover, button:hover {background:#2a2a2a;color:#fff;}
a,.admania-sitefooterinner .widget_admania_popular_post ul li h6 a {color:#858181;}
a:hover,.admania-entryheader_featured_image .admania-entryheader a:hover,.admania-ten-category10-slider-item-header h6 a:hover,.admania-ten-category10-slider-item-header h5 a:hover,.admania-ten-post-entrytitle a:hover,.admania-eighth-category3-slider-item-header h5 a:hover,.admania-eighth-category5-slider-item-header h5 a:hover,.admania-slidercontent4  h2 a:hover,.admania-sitefooterinner .widget_admania_popular_post ul li h6 a:hover,.admania-boxedsldehdr h2 a:hover,.admania-boxedheadertop .admania-secondarymenu li a:hover,.admania-boxedlistitem h2 a:hover, .admania-boxedgriditem h2 a:hover,.admania-ly2ftsection h2 a:hover,.admania-headertopsocial li a:hover, .admania-slidercontent h2 a:hover, .admania-ftrattbtontop .admania-fbflw:hover, .admania-ftrattbtontop .admania-twtflw:hover, .admania-ftrattbtontop .admania-lnkflw:hover,.admania_widgetcatlist_post .admania-catentryheader h2 a:hover,.widget .admania_socialiconfb:hover, .widget .admania_socialiconlnk:hover, .widget .admania_socialicontwt:hover,.admania-seven-slider1-item-header h2 a:hover {color:#47a7d7;}
.admanialayt5-entryfooter a { background-color:#222;}
.admania-slidercontent4 h2 a:hover,.admania-ninth-category7-ftr-list h5 a:hover,.admanialayt5-entryheader a:hover { color:#47a7d7 !important;}
.admania_pagelinks .admania_pglnlksaf:hover,.admania-ninth-post-readlink:hover,.admania-pagination .page-numbers:hover {background:#47a7d7;border:1px solid#47a7d7;color:#fff;}
.admania-readmorelink a,.admania-seven-post-readmore a,.admania-stickypost {background:#f9f9f9;color:#a59e9e;}
.admania-gridentry .admania-entrytitle {min-height: 0px;}
.admania-readmorelink a:hover,.admania-seven-post-readmore a:hover,.admanialayt5-entryfooter a:hover,.admanialayt5-entryfooter a:hover,.owl-next:hover,.owl-prev:hover, .owl-prev:hover ~ .owl-next,.admania-secondarymenu .owl-next:hover,.admania-secondarymenu .owl-prev:hover,.admania-secondarymenu .owl-prev:hover ~ .owl-next,.admania-secondarymenu .admania_nxtishover .owl-prev,.admania_nxtishover .owl-prev,.owl-prev:hover,.owl-next:hover{background:#47a7d7;color:#fff;}
.admania_menu li a:hover {background-color:#47a7d7;color:#fff;}
.admania_menu .admania-megamenu li a:hover {color:#47a7d7 !important;}
.admania-postoptionbox {background-color:#fbfbfb;border: 1px solid #eee;}
.admania-postoptionbox input[type="text"],.admania-widgettit .admania-widgetsbrtit {background-color:#ffffff;border: 1px solid #eee;}
.admania-headersgstkyad,.admania-boxedsldecat {background-color:#ffffff;}
.bypostauthor {border-left: 1px solid #47a7d7;}
 .admania-nocomments,.admania-commentlist li { background: #f7f7f7;}
.admania-entrymeta a,.admania-gridentry .admania-entrymetablne a:hover,.admania_breadcrumb a,.admania-entrybyline a,.admania_aboutreadmore { color:#47a7d7;}
.admania-entrymeta a:hover,.admania-gridentry .admania-entrymetablne a,.admania_breadcrumb a:hover,.admania_aboutreadmore:hover,.admania-entrybyline a:hover { color:#858181;}
.admania-headertoplayt3,.admania-headertoplayt5-top { background-color:#1d1d1d;}
.admania-gridpstlayt3 .admania-gridpost-entryfooter .admania-pstrdmr { color:#222;}
.admania-headermidlayt3 { background-color:#f7f7f7;}
.admania_menu li a,.admania-lay7-menu .sub-menu li a,.admania-lay8-menu .sub-menu li a,.admania_lay9_menu .sub-menu li a {color:#fff;}
.admania-lay2headerright .menu li a,.admania-lay7-menu li a,.admania-lay4-menu li a,.admania-lay8-menu li a,.admania_lay9_menu li a  {color:#222222;}
.admania-lay4-menu .sub-menu li a {color:#fff;}
.admania-gridpstlayt3 .admania-gridpost-entryfooter .admania-pstrdmr:hover,.admania-slidercontent5 h2 a:hover,.admania-ninth-slider-item-header h2 a:hover,.admania-slidermetaby5 a:hover,.admania-ninth-category6-slider-item-header h5 a:hover,.admania-eighth-slider-item-header h2 a:hover { color:#47a7d7 !important;}
.admania-stylishad { right:0%;bottom:0%;}
.admania-pgstylishad { right:0%;bottom:0%;}
.admania-sitefooterinnertop,.admania-sitefooterlogo {color:#858181;}
.admania-sitefooter {background-color:#222222;}
.admania-sitefooterinnertop li a,.admania-sitefooterlogo {border-bottom: 1px solid #2d2d2d !important;}
.admania-sitefooterinnertop .admania-footerwidgets-title, .admania-sitefooterinnertop .widget-title {color:#ffffff;}
.admania-boxedlayout .admania_menu li a:hover {background-color: transparent !important; color:#47a7d7!important;}
.admania-boxedlayout .admania-boxedheadertop a { color:#7b7b7b;}
#tribe-events-content a, .tribe-events-adv-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a:hover, .tribe-events-back a, .tribe-events-back a:hover, .tribe-events-event-meta a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-list-widget .tribe-events-widget-link a:hover, ul.tribe-events-sub-nav a, ul.tribe-events-sub-nav a:hover {
 text-decoration: none !important;
 color: #222!important;
 } 
.admania-aftrnthprad  {float:none;margin:;} 
.admania-pgaftrnthprad {float:none;margin:;} 
.admania-headertoplayt5 .admania_menu li a:hover,.admania-lay5-menu .menu .current-menu-item > a {background-color:transparent;color:#47a7d7!important;} 
 @media screen and (max-width:1200px) {
 .admania-siteinner, 
 .admania-sitefooterinner,
 .admania-footer-optin, 
 .admania-headerbtminner,
.admania-header-optin2, 
 .admania-headerinner {
 width:100%;
 padding: 0 20px;
 }
 .admania-header-optin-inner {
 width:100%;
 padding:3em 1em;
 }
 .admania-header-search-box-inner {
 width:100%;
 }
 .admania-post6-header-featured-image .admania-post6-left-image,
 .admania-layout10-postimg .admania-ten-featured-image {
 width: 47%;
 }
 .admania-post6-header-featured-image .admania-post6-left-image + .admania-entryheader, 
 .admania-layout10-postimg .admania-ten-featured-image + .admania-ten-post-entry {
 width: 48%;
 }
 .admania-boxedlayout .admania-siteinner {
 padding: 0px;
 }
 .admania-boxedlayout .admania-siteinner,
 .admania-boxedlayout  .admania-sitefooterinner {
 width:100% !important;
 }
 .search-form label {
 width: 68%;
 }
 .admania-lay2headerright .menu li a {
 font-size: 16px;
 padding: 18px 15px; 
 } 
 .admania-layout5gridpst {
 margin: 0 3% 3% 0;
 }
 .admania-gridentry {
 width: 47.1%;
 }
 .admania-featcatlist {
 width: 30%;
 }
 .admania-featcatlist a {
 padding: 4px 14px;
 font-size: 13px;
 }
 .admanina-afterheaderadleft {
 width: 72%;
 }
 .admanina-afterheaderadright {
 width: 25%;
 }
 .admania-optin {
 padding: 27px 25px;
 }
 }
@media screen and (max-width:990px) {
 .admania-boxedlayout .admania-secondarymenu .menu .sub-menu {
 background-color:transparent !important;
 }
 }
@media screen and (max-width:990px) { 
 .admania-push-out-menu,.admania-pushout-secondary-menu{background-color:#0592e0fc;} 
 .admania-push-out-menu .menu li,.admania-push-out-menu .menu .sub-menu li, .admania-pushout-secondary-menu .menu li,.admania-pushout-secondary-menu .menu .sub-menu li{border-bottom:1px solid #90bcd6;} 
 .admania-push-out-menu .menu .sub-menu li:first-child,.admania-pushout-secondary-menu .menu .sub-menu li:first-child {border-top:1px solid #90bcd6;} 
 }
.admania-single-full-gb .admania-entrycontent .wp-block-button__link { text-decoration: none !important;} 
.admania-single-full-gb .admania-entrycontent .wp-block-button.is-style-outline > .wp-block-button__link { color: #111 !important;} 
.admania-single-full-gb .admania-entrycontent .wp-block-button:not(.is-style-outline) > .wp-block-button__link { color: #fff !important;} 