@media print {
    body, html {
        background-color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 7pt;
        -webkit-print-color-adjust: exact;
    }

    #content, body {
        background-color: #fff !important;
    }

    #column_left, #column_right, .site-footer, .site-header, .topmenu, #productinfo_previous_next, .configuration_btn, .configuration_button_productinfo, .configuration_tep_meta, .configuration_tep_meta.general, .navbar, .products_gallery_row_buttons, .socialmediabar, .tep_configuration_productinfo, img.vergroten {
        display: none !important;
    }

    #content {
        width: 100% !important;
    }

    #productinfo_right {
        width: 668px;
    }

    .form_section * {
        border: none !important;
    }
}