
<!--
.style2 {font-size: medium}
.style5 {font-size: medium; color: #AE8964; }
.style8 {
	font-size: medium;
	color: #AE8964;
	font-weight: bold;
}
.style11 {font-size: medium; font-weight: bold; }
.style12 {color: #FFFFFF}
.style13 {font-size: medium; color: #FFFF00; font-weight: bold; }
.style14 {color: #00FF00}
.style15 {color: #FF0000}
-->
