/*------///////// CSS NAV /////////-------*/
.menu-nav .logo-nav {
  fill: #ffffff;
}
.menu-nav .nav-top{
  background-color: #4D008C;
}
.menu-nav ul{
  position: absolute;
  background: linear-gradient(180deg, #4F008C 0%, #6D197B 100%);
  border-radius: 0px;
  transform: translateX(100%);
  top: 66px;
  transition: transform .3s;
}
.menu-nav ul.active{
  transform: translateX(0%);
}
.menu-nav ul li.activo {
  background: #E92070;
  border-radius: 8px;
}
.wom .menu-nav ul li.activo a{
  color: #ffffff!important;
}
.btn-menu {
  background: 0 0;
  height: 18px;
  position: relative;
  width: 30px
}
.btn-menu span {
  background-color: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 8px;
  left: 0;
  transition: background-color .4s ease 0s
}

.btn-menu span::after,
.btn-menu span::before {
  content: "";
  background-color: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  transition-duration: .3s, .3s;
  transition-delay: 0.3s, 0s
}

.btn-menu span::before {
  top: -7px;
  transition-property: top, transform
}

.btn-menu span::after {
  bottom: -7px;
  transition-property: bottom, transform
}

.btn-menu.active span {
  background-color: transparent
}

.btn-menu.active span::after,
.btn-menu.active span::before {
  transition-delay: 0s, 0.3s
}

.btn-menu.active span::before {
  top: 0;
  transform: rotate(45deg)
}

.btn-menu.active span::after {
  bottom: 0;
  transform: rotate(-45deg)
}

.bg-opaco {
  background: rgba(0,0,0,0.4);
  height:168px !important;
  width:268px !important;
  overflow:hidden;
  line-height:20px !important;
}

@media(min-width: 992px){
  .menu-nav .nav-top{
    background-color: transparent;
  }
  .menu-nav ul{
    position: relative;
    transform: translateX(0);
    background: #4D008C;
    border-radius: 8px;
    top: 0px;
  }

  .bg-opaco {
    background: rgba(0,0,0,0.4);
    height:169px !important;
    width:323px !important;
    overflow:hidden;
    line-height:20px !important;
  }
}

/*------///////// CSS BANNER /////////-------*/
.banner {
  background-image: url(https://1701336841.rsc.cdn77.org/_assets/img/landing-5g/banner/28/bg-desktop.jpg)!important;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 624px;
}
.header{
  inset: auto;
  margin: 0px;
  position: relative;
  box-sizing: content-box;
  width: 100%;
}
.header-video{
  position: relative;
  margin: auto;
  inset: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  background-color: #000;
}
.header-video video{
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -2;
}
.video-text{
  position: absolute;
  top: auto;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrow-down {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.arrow-bounce {
    animation-name: arrow-bounce;
    animation-timing-function: ease;
}
@keyframes arrow-bounce {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-10px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
@media(min-width: 992px){
  .video-text{
    bottom: 20px;
  }
}

/*------///////// CSS FAVOR RED /////////-------*/
.favor-red .red-wrapper{
  min-height: 500px;
}
.slider-favor-red .img-first{
  left: 0;
}
.favor-red-mid{
  position: inherit;
  top: inherit;
  bottom: inherit;
  left: inherit;
  right: inherit;
  margin: auto!important;
  width: 100%;
  max-width: 100%;
  height: max-content;
  text-transform: initial;
}
.slider-favor-red > div{
  min-height: 500px;
}
.slider-favor-red .content-skew{
  transform: skewX(0deg);
  margin-right: 0;
}
.slider-favor-red .content-skew > div{
  transform: skewX(0deg);
}
.slider-favor-red img{
  width: 100%;
  object-fit: cover;
}
.slider-favor-red img.img-skew{
  width: 100%;
  object-fit: cover;
  transform: skewX(0deg);
  left: 0;
}
.wom .tns-slider>.tns-item {
  height: auto;
}
.wom .favor-red .tns-tabs, 
.wom .favor-red .tns-nav {
  bottom: 30px;
}
@media(min-width: 769px){
  .favor-red-mid{
    position: absolute;
    top: -50px;
    bottom: -160px;
    left: 0;
    right: 0;
    max-width: max-content;
    border-radius: 6px;
    text-transform:uppercase;
  }
}
@media(min-width: 992px){
  .favor-red-mid{
    top: 0;
  }
  .favor-red .red-wrapper{
    min-height: 800px;
  }
  .slider-favor-red .img-first{
    left: -50px;
  }
  .last-clip-path{
    clip-path: polygon(120px 0, 100% 0, 100% 100%, 0% 100%);
  }
  .slider-favor-red > div{
    min-height: 800px;
  }
  .slider-favor-red .content-skew{
    transform: skewX(-7deg);
    margin-right: -70px;
  }
  .slider-favor-red .content-skew > div{
    transform: skewX(7deg);
  }
  .slider-favor-red img{
    width: 120%;
  }
  .slider-favor-red img.img-skew{
    width: 120%;
    transform: skewX(7deg);
    left: -4%;
  }
}
@media(min-width: 1200px){
  .slider-favor-red .img-first{
    left: -100px;
  }
  .slider-favor-red img.img-skew{
    left: -8%;
  }
}

/*------///////// CSS EQUIPOS COMPATIBLES /////////-------*/
.equipos-compatibles{
  min-height: 800px;
  background-image: url(https://1701336841.rsc.cdn77.org/_assets/img/landing-5g/new-5g/bg-olas.png);
  background-position: center center;
  background-repeat: no-repeat;
}
#equipos-marcas a{
  fill: #494C66;
  color: #494C66;
  transition: all .3s;
}
#equipos-marcas a:hover{
  fill: #6b6e82;
  color: #6b6e82;
}
.bg-rainbow:before {
  content: '';
  background-image: linear-gradient(180deg,#E02272 0,#5D3E8D 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 8px;
  transition: opacity .4s ease-in-out;
}

/*------///////// CSS CÃMO ACTIVARLO /////////-------*/
.wom .wom-tabs .nav-tabs .nav-link {
  background-color: #C9CFD7;
}
.wom .wom-tabs .nav-tabs .nav-link.active::after {
  left: 0;
}
.left-ray{
  display: none;
}
.activado{
  background-image: none;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 360px;
  background-color: #e9ecef;
  min-height: auto;
}
/*@media(min-width: 361px){
  .activado{
    background-image: url(https://1701336841.rsc.cdn77.org/_assets/img/landing-5g/new-5g/bg-activado-mobile.png);
    background-size: contain;
    min-height: 970px;
  }
}*/
@media(min-width: 992px){
  .activado{
    background-image: none;
  }
}
@media(min-width: 1200px){
  .activado{
    background-image: url(https://1701336841.rsc.cdn77.org/_assets/img/landing-5g/new-5g/28/bg-activado-desktop.png);
    background-position: top right -300px;
    min-height: 800px;
    background-size: contain;
  }
}
@media(min-width: 1600px){
  .activado{
    background-position: top right -50px;
  }
  .left-ray{
    display: block;
    left: 100px;
  }
}

/*------///////// CSS COBERTURA /////////-------*/
.bg-cobertura{
  background-image: url(https://1701336841.rsc.cdn77.org/_assets/img/landing-5g/new-5g/bg-cobertura-mob.png);
  background-size: 575px;
  background-position: center bottom -160px;
  background-repeat: no-repeat;
  min-height: 660px;
}
.embed-container {
  position: relative;
  padding-bottom: 40%;
  height: 600px;
  max-width: 100%;}
.embed-container iframe,
.embed-container object,
.embed-container iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;}
small{
  position: absolute;
  z-index: 40;
  bottom: 0;
  margin-bottom: -15px;
}	
@media(min-width: 575px){
  .bg-cobertura{
    background-size: 992px;
    background-position: center bottom -330px;
  }
}
@media(min-width: 992px){
  .bg-cobertura{
    background-image: url(https://1701336841.rsc.cdn77.org/_assets/img/landing-5g/new-5g/bg-coberturas.png);
    min-height: 660px;
    background-position: top left -620px;
  }
}
@media(min-width: 1200px){
  .bg-cobertura{
    background-position: top left -400px;
  }
}
@media(min-width: 1600px){
  .bg-cobertura{
    background-position: top left -200px;
  }
}
@media(min-width: 1920px){
  .bg-cobertura{
    background-position: top left -50px;
  }
}

/*------///////// CSS QUÃ ES 5G /////////-------*/
.title-line::before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: linear-gradient(270deg, #ED1E79 0%, #451287 100%);
  position: absolute;
  top: calc(50% - 1px);
}

/*------///////// CSS DIFERENCIAS 5G /////////-------*/
.bg-ciudad {
  width: 100%;
  background: url(https://1701336841.rsc.cdn77.org/_assets/img/landing-5g/diferencia-4g-5g/bg-ciudad.png), #e9ecef;
  background-size: 1920px;
  background-position: bottom center;
  background-repeat: no-repeat;
}