@import url(//fonts.googleapis.com/css?family=Raleway);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

.iconsocial {
    clear: both;
    display: inline-block;
}

.fa {
    padding: 0px 12px;
    font-size: 35px !important;
}

/* Global styles
================================================== */

html{
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body{
	border: 0;
	margin: 0;
	padding: 0;
	color: #333333;
	font-size: 14px;
	background: #fff;
}

#maincontainer {
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-width: 140px 0px 0px 0px;
}

a:link,
a:visited{
    text-decoration: none;
}

a.btn:link, a.btn:visited, a.btn:hover {
    color: #fff;
}

a:hover{
	text-decoration: none;
	color: #1976BA;
	cursor: pointer;
}


section{
	position: relative;
}

.no-padding{
	padding: 0;
}

.gap-80 {
	clear: both;
	height: 80px;
}

.gap-40 {
	clear: both;
	height: 40px;
}

.gap-30 {
	clear: both;
	height: 30px;
}
.gap-20 {
	clear: both;
	height: 20px;
}

a:focus{
	outline: 0;
}
a{
	color: #444;
}

a.read-more:hover{
	color: #1976BA;
}

ul{
	list-style-type: none;
}


img {
	width: 100%;
}


/* Typography
================================================== */

.heading-inner{
	/*width: 60%;*/
	margin: 0 auto;
	margin-bottom: 70px;
	position: relative;
}
.sec-title{
	padding: 0px 0px 0px 0px;
	text-transform: uppercase;
	font-weight:700;
	font-size: 80px;
	line-height: 0px;
	font-family: 'Open Sans', sans-serif;
	color: #444;
}
.sec-title span{
	color: #1976BA;
}

.heading-inner p{
	margin-top: 20px;
}

.heading-inner:after{
	position: absolute;
	content:"";
	border-top: 1px dotted#ddd;
	border-bottom: 1px dotted#ddd;
	width: 330px;
	left: 0px;
	top: 25px;
	padding: 5px 10px;
	overflow: hidden;
}
.heading-inner:before{
	position: absolute;
	content:"";
	border-top: 1px dotted#ddd;
	border-bottom: 1px dotted#ddd;
	width: 330px;
	right: 0px;
	top: 25px;
	padding: 5px 10px;
	overflow: hidden;
}


/*BUTTON styles
=========================================*/
.btn-default{
	padding: 13px 40px;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 5px;
	background: transparent;
	color: #fff;
	position: relative;
	margin-top: 20px;
}
.btn-default,.btn-default.featured{
	-webkit-transition: all .3s linear 0s;
	-o-transition: all .3s linear 0s;
	transition: all .3s linear 0s;
}
.btn-default:hover ,.btn-main:hover{
	background: #1976BA;
	border-color:#1976BA ;
	color: #fff;
}
.btn-default.featured{
	background: #1976BA;
	border-color:#1976BA ;
	color: #fff;

}
.btn-default.featured:hover{
	background: transparent;
	color: #222 ;
}


.btn-main{
	padding: 13px 40px;
	text-transform: uppercase;
	font-weight: 500;
	margin-right: 5px;
	background: #2a2a2a;
	color: #fff;
	border-color: #2a2a2a;
	position: relative;
	border-radius: 25px;
}

#feature,#about,#overview ,#feedback ,#footer{
	padding: 80px 0px;
	background: #fff;
}

/*NAvbar menu styles
========================================*/

.navbar{
	margin-bottom: 0px;
}

#tf-menu {
	padding: 15px;
	-webkit-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}

#tf-menu.navbar-default {
	background-color: rgba(255,255,255,1);
    border-bottom-style: solid;
    border-color: rgba(25,118,186,1);
    border-bottom-width: 4px;
}
#tf-menu a.navbar-brand {
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	font-weight: 900;
	border-right: 1px solid #ccc;
}

#tf-menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #000;
	font-size: 16px;
	font-weight: 600;
}
.on{
	background-color: #FFFFFF !important;
	padding: 15px !important;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	background-color: transparent;
}
.on.navbar-default .navbar-brand{
	margin-left: -190px;
	padding-left: 0px;
}

.navbar-brand {
  float: left;
  height: 97px;
  padding: 5px 0px 0px 0px;
  font-size: 18px;
  line-height: 0px;
  margin-top: 0px;
  margin-left: 0px;
}
.navbar-default .navbar-nav  a:hover{
	/*color: #1976BA!important;*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #1976BA!important;
    background: transparent;
}

.navbar-toggle{
	background: #1976BA!important;
}

.navbar-toggle:hover{
	background: #1976BA!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-brand img{
   width: 615px;
   margin-left: 15px;
}

.navbar-nav {
  margin: 15px -15px;
}
.navbar-nav > li > a {
  padding-top: 8px; /* was 10px */
  padding-bottom: 10px; /* was 10px */
  line-height: 0px; /* was 20px */
}

.navbar-nav2 {
  margin: -15px -15px;
}

.navbar-nav2 > li > a {
  padding-top: 8px; /* was 10px */
  padding-bottom: 10px; /* was 10px */
  line-height: 0px; /* was 20px */
}

.navbar-right{
	padding: 0px 205px 0px 0px;
}

.sec-menu {

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 90px;
}

/*SLIDER HEADER 
============================================================*/
.slider {
    background: url("/website/images/showcase-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 580px;
    height: 500px;
    overflow: hidden;
}
.slider-wrap{
	padding: 150px 0px;
}

/*  ======CUSTOM KILL======
.slider-img{}
.slider-img img{
	width: 300px;
	height: 700px;
}
    ======END CUSTOM KILL====== */
.slider{}
.slider-content{
	padding-top: 80px;
}
.slider h1 {
    margin: 0 0 20px 0;
    font-size: 50px;
	color: #fff;
	text-transform: uppercase;
	line-height: 60px;
	font-weight: 700;
}

/*  ======CUSTOM KILL======
.slider h2 {
	font-family: 'lora', serif;
	font-style: italic;
	color: #fff;
	text-transform: capitalize;
	font-size: 24px;
} 
    ======END CUSTOM KILL====== */
    
.slider p {
    margin-bottom: 25px;
    color: #fff;
}

.top-link {
	margin-top: 60px;
}
.top-link a{
	padding: 20px 30px;
	border-radius: 3px;
	background: #fff;
	font-weight: 700;
	-webkit-transition: all .3s linear 0s;
	-o-transition: all .3s linear 0s;
	transition: all .3s linear 0s;
}
.top-link a i{
	color: #1976BA;
	font-size: 25px;
	margin-right: 10px;
}
.top-link a:hover{
	background: #1976BA;
	color: #fff;
}

.top-link a:hover i{
	color: #fff;
}



/*FOoter
=========================================================================*/

#footer{
	padding: 50px 0px;
}

.footer-social{
	margin: 15px 0px;
}

 .footer-social li a i{
	font-size: 20px;
	line-height: 20px;
	width: 45px;
	height: 45px;
	border: 1px solid#ddd;
	padding-top: 10px;
	-webkit-transition: all .4s ease 0s;
	-o-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
}
.footer-social li a:hover i{
	border-color: #1976BA;
}
.logo-title img{
	width: 400px;
	height: auto;
	margin: 0 auto;
}

.copyright span{
	color: #1976BA;
}

/*Overlay
============================================*/


.bg-overlay.pattern {
    background: url("/website/images/pattern.png") repeat scroll 0% 0% transparent;
}
.bg-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
}


/* Back To Top Button 
======================================*/

#back-top{
    position:fixed;
    right:30px;
    bottom:35px;
    z-index:9999;
}
    
#back-top a{
    opacity:0.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
#back-top a i{
	padding-top: 8px;
	text-align: center;
} 
   
#back-top .btn-primary{
    background: #00AEFF;
    border-color: #00AEFF;
    padding: 0px;
    font-size: 18px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
  
#back-top a:hover{
    background: #00AEFF;
    opacity: 1;
}

#award-top {
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 9999;
}

#award-top img {
    width: 220px;
}

#maincontainer {
    padding: 10px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}