
    .main-footer {
        margin-bottom: 0;
        padding-bottom: 30px;
    }

    .footer-buttons {
        height: 36px !important;
        line-height: 36px !important;
        margin-top: 10px !important;
    }
