
    .v-application {
        /*background: linear-gradient( to left, rgba(0,0,0, 0), rgba(54, 102, 59,0.8) ),url(/Images/02.jpg) !important;*/
        background: url(../../Images/working.jpg) !important;
        background-repeat: no-repeat !important;
        background-size: 100vw 100vh !important;
    }

    .myFormContainer {
        height: 280px;
        width: 30vw;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-radius: 10px;
        padding: 20px;
        position: absolute;
        top: 25vh;
        left: 15vw;
        background: white;
    }

    .col {
        padding-top: 0;
        padding-bottom: 0;
    }

    .txt1 {
        font-size: 36px;
        color: #4d4d4d;
        font-weight: 600;
    }

    .v-input {
        border-radius: 30px;
    }
