/*
PHOTOS 1
 */
.photos-page .photo-item {
    float: left;
    margin: 2px;
    overflow: hidden;
    padding: 4px;
    transition: all 0.3s ease 0s;
	width: calc(25% - 5px);
    /* width: 16.3%; */
    position: relative;
}

.photos-page .photo-item:hover {
    background-color: rgba(217,109,0, 0.7);
    float: left;
    overflow: hidden;
}

.photos-page .photo-item:hover img {
    opacity: 0.6;
}

.photos-page .photo-item img {
    height: auto;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.photos-page .photo-item .effect-hover {
    border-radius: 100%;
    height: 0;
    position: absolute;
    top: calc(50% - 25px);
    transition: all 0.3s ease 0s;
    text-align: center;
    z-index: 999;
    width: 100%;
}

.photos-page .photo-item.fix-effect {
    display: inline-table !important;
    float: none !important;
}

@media screen and (min-width: 768px) {
    .photos-page .photo-item.fix-effect {
        width: calc(25% - 8px);
    }
}

.photos-page .photo-item.fix-effect:hover {
    border: 0 none !important;
}

.photos-page .photo-item .effect-hover .hover-circ {
    background-color: #d96d00;
    border-radius: 100%;
    color: white;
    display: block;
    font-size: 20px;
    height: 50px;
    line-height: 2.6;
    margin: auto;
    opacity: 0;
    text-align: center;
    transform: scale(3);
    transition: all 0.3s ease 0s;
    width: 50px;
}

.photos-page .photo-item:hover .effect-hover .hover-circ {
    opacity: 1;
    transform: scale(1);
}

/*
PHOTOS 2
 */
.photos-page-2 .photo-item {
    float: left;
    margin: 2px;
    overflow: hidden;
    padding: 4px;
    transition: all 0.3s ease 0s;
    width: calc(50% - 5px);
    position: relative;
}

.photos-page-2 .photo-item:hover {
    background-color: rgba(217,109,0, 0.7);
    float: left;
    overflow: hidden;
}

.photos-page-2 .photo-item:hover img {
    opacity: 0.6;
}

.photos-page-2 .photo-item img {
    height: auto;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.photos-page-2 .photo-item .effect-hover {
    border-radius: 100%;
    height: 0;
    position: absolute;
    text-align: center;
    top: calc(50% - 25px);
    transition: all 0.3s ease 0s;
    width: 100%;
    z-index: 999;
}

.photos-page-2 .photo-item.fix-effect {
    display: inline-table !important;
    float: none !important;
}

@media screen and (min-width: 768px) {
    .photos-page-2 .photo-item.fix-effect {
        width: calc(50% - 8px);
    }
}

.photos-page-2 .photo-item.fix-effect:hover {
    border: 0 none !important;
}

.photos-page-2 .photo-item .effect-hover .hover-circ {
    background-color: #d96d00;
    border-radius: 100%;
    color: white;
    display: block;
    font-size: 20px;
    height: 50px;
    line-height: 2.6;
    margin: auto;
    opacity: 0;
    text-align: center;
    transform: scale(3);
    transition: all 0.3s ease 0s;
    width: 50px;
}

.photos-page-2 .photo-item:hover .effect-hover .hover-circ {
    opacity: 1;
    transform: scale(1);
}

.atualizacao {
    border: 1px solid #555;
    display: block;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    margin: 75px;
}

.conteudo-1 {
    min-height: 350px;
}

.conteudo-1 img {
    display: block;
    margin: 0 auto;
    /* width: 100%; */
}

.conteudo-1 h2 {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0 50px;
    background-color: #d8b2ab;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.conteudo-1 p, .conteudo-2 p {
    font-size: 18px;
    margin-bottom: 20px;
}

.conteudo-2 h2 {
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 30px;
    
}
.conteudo-2 h2::before {
    border-style: solid;
    border-width: 1px;
    content: '';
    margin-top: 25px;
    padding-bottom: 12px;
    padding-left: 112px;
    position: absolute;
}

#film h2 {
    color: white;
    text-align: center;
}

/*
FOOTER
 */

.home4.section-service-icon-area {
    background: #fff none repeat scroll 0 0;
}

.home4 .service-icon {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 107px;
}

.section-service-icon-area {
    background: #d96d00;
}

.service-icon {
    padding-top: 6px;
}

.service-icon ul li {
    display: inline-block;
    float: left;
    width: 25%;
}

.free-shiping a i {
    color: #fff;
    display: block;
    float: left;
    font-size: 48px;
    margin-right: 10px;
    margin-top: -8px;
    transition: all 0.3s ease 0s;
}

.free-shiping:hover .fc-icon a i {
    transform: translate(0.12em, 0px);
}

.free-shiping a img {
    float: left;
    margin-right: 10px;
}

.free-shiping h2 {
    margin: 0;
}

.shipping-title > a {
    color: #fff;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}

.shipping-title > a:hover {
    color: #fff;
}

.free-shiping p.info {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin: 0;
}

.footer-area {
    background: #252525 none repeat scroll 0 0;
}

.widget-area h4.widget-title {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 35px;
    text-transform: uppercase;
}

.widget-area .ad-marker {
    color: #a2a4ae;
    float: left;
    height: 21px;
    width: 20px;
}

.widget-area p, a {
    color: #ddd;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.widget-area ul li:last-child {
    margin: 0;
}

.widget-area ul li {
    margin-bottom: 10px;
}

.widget-area ul li i {
    color: #a2a4ae;
    margin-right: 10px;
}

.widget-area ul li a {
    color: #ddd;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.widget-area-tags a.c-tags {
    border: 1px solid #919191;
    color: #dddddd;
    display: block;
    float: left;
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 5px 10px;
}

.widget-area-tags a:hover {
    border: 1px solid #a2a4ae;
    color: #a2a4ae;
}

.widget-area a:hover {
    color: #a2a4ae;
}

.widget-menu ul li a:hover {
    padding-left: 3px;
}

.copy-right-text {
    color: #fff;
    display: block;
    float: left;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding-top: 7px;
}

.copy-right-text span {
    color: #a2a4ae;
}

.r-cards {
    display: block;
    float: right;
}

.r-cards img {
    padding-top: 8px;
}

.footer-bottom-area {
    border-top: 1px solid #363636;
    padding: 10px 0;
}

.copy-right-text a {
    color: #a2a4ae;
}

.copy-right-text a:hover {
    color: #dddddd;
}

.sociais-1 a {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    color: rgb(37, 37, 37);
    display: inline-block;
    font-size: 20px;
    height: 40px;
    margin-right: 5px;
    padding-top: 6px;
    text-align: center;
    width: 40px;
}

.sisdado {
    height: 20px;
    opacity: 0.8;
    transition: all 0.3s ease-in-out 0s;
}

.sisdado:hover {
    opacity: 1;
}

.fb-page.fb_iframe_widget {
    max-width: 100%;
}

.contact-form select {
    -moz-appearance:none;
    -webkit-appearance: none;
    background-image: url("../images/arrow-down.png");
    background-position: calc(100% - 15px) center;
    background-repeat: no-repeat;
    width: 100%;
}

#marcas img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    opacity: 0.5;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

#marcas img:hover {
    opacity: 1;
}

a {
    text-decoration: none !important;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -ms-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
}

.relative {
    position: relative;
}

#inner-header {
    background-color: #a9a9a9;
    padding: 100px 0 50px;
    background-position: center -150px;
}
#inner-header h1 {
    /*position: absolute;*/
    /*top: calc(50% - 10px);*/
    width: 100%;
    /*left: 0%;*/
    text-align: center;
    color: white;
}
.header-inner.navigation{
    background-color: rgba(34, 34, 34, 0.75);
}
.address-contato {
    background-color: whitesmoke;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    padding: 8px 15px;
    min-height: 220px;
}
.address-contato i {
    color: #bbb;
}
.address-contato p {
    font-size: 16px;
    margin-bottom: 5px;
}
address {
    margin-bottom: 0 !important;
}
.address-contato h2 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
}
#contact .address-contato h2::before{
    padding-bottom: 2px;
}
.address-contato i {
    width: 23px;
    color: darkorange;
}
.address-contato a {
    color: #222;
    font-size: 16px;
}
.address-contato span {
    display: inline-table;
}


@media screen and (max-width: 991px){
    .widget-area h4.widget-title{
        padding-bottom: 15px;
        padding-top: 30px;
    }
    .box-facebook{
        padding-top: 15px;
        text-align: left!important;
    }
    .box-facebook iframe{
        max-width: 100%;
    }
    .photos-page .photo-item {
        float: left;
        margin: 2px;
        overflow: hidden;
        padding: 4px;
        position: relative;
        transition: all 0.3s ease 0s;
        width: calc(50% - 5px);
    }
    .img-hover img{
        height: auto;
    }
}
@media screen and (max-width: 500px){
	html,body{
		max-width: 100%!important;
		padding: 0!important;
		margin: 0!important;
	}
	.agrup-body{
		max-width: 100%!important;
		overflow: hidden!important;
	}
    .navbar-brand img {
        /* margin-top: 20px; */
        /* width: 150px; */
        /* height: unset !important; */
    }
	/*.row{
		max-width: 100%;
		overflow: hidden;
		margin-left: -15px!important;
		margin-right: -15px!important;
	}*/
	.scroll-top{
		display: none!important;
	}
	img{
		max-width: 100%;
	}

	*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}

}

/* cabeÃ§alho lojista */
.wrap_contents {
    position: relative;
}
.navbar-fixed-top {
    position: absolute;
}
.stick {
    position: fixed;
}
.menu-lojista {
    text-transform: uppercase;
    color: #fff;
    background: #252525;
    padding: 10px;
    display: block;
    z-index: 99999;
}

.logo-menu-lojista {
    margin-top: 10px;
}
.img-responsive.logo-menu-lojista img{
    max-width: 200px;
    max-height: 70px;
}

.botao-cliente-final {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.botao-cliente-final a{
    font-family: "Montserrat", sans-serif;
    padding: 12px;
    color: #080808;
    cursor: pointer;
    background: #fff;
    transition: all .3s linear;
}

.botao-cliente-final a:hover{
    color: #fff;
    background: #d8b2ab;
}

.botao-area-lojista a:hover{
    color: #d8b2ab;
}

@media screen and (max-width: 767px) {
    .area-lojista {
        margin-top: 30px;
    }
    .margin-mobile {
        margin: 0 !important;
    }

   /* .navbar-toggle.collapsed {
        margin: 20px 48px;
    }*/

    .navigation {
        height: 75px;
    }
	.botao-area-lojista a{
		display: block;
		padding: 10px;
	}
}

@media screen and (max-width: 343px) {
    .botao-area-lojista a {
        display: block;
        margin: 0 !important;
        padding: 10px 0px;
    }

    .botao-area-lojista {
        margin-top: 20px;
    }
}

@media screen and (min-width: 992px) {
    .botao-area-lojista a:first-child {
        margin-right: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .botao-cliente-final a{
        padding: 9px;
    }
	.navbar-brand {
		padding: 15px 5px;
	}
	.botao-area-lojista a{
		display: block;
	}
}

@media screen and (min-width: 768px){
	.logo-menu-lojista {
		text-align: left;
	}
}
/* ÃREA BUSCAR LOJAS */
    .titulo-lojas {
        border-bottom: 1px solid #d8b2ab;
    }

    .titulo-informacoes-lojas {
        font-weight: 700;
    }

    .btn-search.fa.fa-search:hover {
        color: #d8b2ab !important;
    }

    #navbar-collapse li a.btn {
        color: #fff;
    }
    
.marca-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;

    height: 65px;
    margin: 0;
}

.marca-menu li {
    padding-left: 25px;
}

@media (max-width: 576px) {
    .marca-menu {
        flex-direction: row;
        margin: 15px 0;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .marca-menu li {
        padding: 0 5px;
    }
}
/* END ÃREA BUSCAR LOJAS */


.navbar-body {
	margin-top: 15px;
}
.stick .navbar-body {
    margin-top: 15px;
}
.navigation {
	height: 75px;
}

#scroll-top {
	bottom: 15px;
	right: 75px;

}

.subtitulo-banner {
	color: #FFF;
}

.img-sobre {
	width: 200px !important;
	height: auto !important;
}

.color-text-banner {
	color: #FFF;
}


/*SCROLL ICON*/
.banner-content-middle {
    position: relative;
}
a.scroll-icon {
    position: absolute;
    margin: auto;
    bottom: 65px;
    left: 0;
    right: 0;
    width: 40px;
    height: 70px;
}
a .icon-scroll
a .icon-scroll:before {
    margin-left: 16px;
}


/*lista*/
.services-list li {
    list-style: none;
}
.services-list li p {
    display: inline-block;
    padding-left: 5px;
    margin-bottom: 0px;
}

/*cards*/
.portfolio-row .img-hover .wrap:before {
    content: "";
    height: 100%;
    width: -webkit-fill-available;
    background-color: rgb(14 14 14 / 20%);
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px 15px;
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    .navbar-toggle {
        margin: 15px 40px 0;
    }
}

@media (max-width: 370px) {
    .pluginfacebook {
        display: none;
    }
}

#mensagem a {
    color: #232323;
}
.navbar-inverse .navbar-toggle:focus .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color: #fff;
}