
      .g-loading-mask {
        z-index: 100;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        animation: g-loading-bgAnim 3s linear infinite;
        opacity: 0;
        -webkit-user-select: none;
           -moz-user-select: none;
                user-select: none;
        pointer-events: none;
        transition: all 0.3s;
      }
      .g-loading-mask.show {
        opacity: 1;
        pointer-events: initial;
      }
      .g-loading-mask .loading {
        width: 88px;
        height: 88px;
      }
      @keyframes g-loading-bgAnim {
        0%,
        100% {
          background-color: rgba(255,255,255,0.63529);
        }
        50% {
          background-color: rgba(255,255,255,0);
        }
      }
    