/*
@import url("global.css");
@import url("contenu.css");
@import url("global_temp.css");
*/
/*

========= Parent container ==================

*/
#desjr-widget-ctc {

font-family: Arial, Helvetica, sans-serif;
font-size: 0.75em;
padding-top: 20px;

}
.hook:first-child {
margin-top: 0;
}


/*

=============================================================

*/

.popover.obtenir-produit .cellule.contenu #click-to-chat-produit { margin-top: 5px; }
.popover.obtenir-produit .cellule.contenu #click-to-chat-produit:first-child{ margin-top: 0; }

#legal {
  clear: both;
}
#desjr-widget-ctc #clickToCallBoite {
position: relative;
  border: 1px solid #cccbcb;
  padding: 0;
  background-color: #f7f7f7;
  background-image: url(/ressources/images/a00-entete-clicktocall.jpg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   behavior: url(/ressources/PIE.htc);
 border-radius: 5px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
 

}
#desjr-widget-ctc #clickToCallBoite .titre {
  font-size: 14px;
  font-weight: bold;
  color: #2e2e2e;
  margin: 13px 0 13px 9px;
  padding: 0;
  background: none;
  
}

#desjr-widget-ctc #clickToCallBoite .attente {
  font-size: 12px;
  font-weight: bold;
  color: #595959;
  padding: 10px 5px 10px 10px;
}

#desjr-widget-ctc #click-to-chat + #click-to-call {
margin-top: 0;
}

#desjr-widget-ctc #click-to-call {
  padding: 0 0 10px 10px;
  overflow: hidden;
}

#desjr-widget-ctc #click-to-chat {
  padding: 0 0 10px 10px;
  overflow: hidden;
}
