ï»¿@charset "utf-8";
/*header*/
.header{
	position: fixed;
	z-index: 99;
	height: 61px;
	width: 100%;
	max-width: 720px;
	background: #ca8300;	
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px  1px 1px rgb(179, 179, 179);
}
.header.index-header{
	height: 83px;
}
.header .head-title-img{
	position: relative;
/*	background: rgba(0,0,0,0.6);*/
}
.head-title-img .natural{
	display: block;
	position: absolute;
	top: 2px;
	width: 60px;
	height: 60px;
	left: 50%;
	margin-left: -30px;
	-webkit-animation: z 5s linear 0s infinite;
    -moz-animation: z 5s linear 0s infinite;
    -ms-animation: z 5s linear 0s infinite;
    animation: z 5s linear 0s infinite;
    box-shadow: 0px 0px 20px #000;
    border-radius: 50%;
}
@keyframes z {
	from {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		-moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		-ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
		transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
	}
	to {
		-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
		-moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
		-ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
		transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg) rotateY(0deg) rotateZ(360deg) scaleX(1) scaleY(1) scaleZ(1);
	}
}
.header .logo-box{
	height: 52px;
}

.header .logo{
	float: left;
	height: 50px;
	margin-left: 10px;
}
.header .logo .logo-img{
	width: 210px;
	height: 50px;	
}
.header .bank{
    float: right;
    position: relative;
    width: 56px;
    height: 44px;
    margin-top: 1px;
	margin-right: 20px;
}
.header .bank a{
	display: block;
    color: #fff;
    font-size: 8pt;
}
.header .bank img{
	display: block;
	width: 75px;
	height: 50px;
	margin:0 auto;
}



/*nav*/
.nav{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	border-top: 1px solid rgb(206, 192, 192);
}
.nav span{
	display: block;
	float: left;
	color: rgb(255, 255, 255);
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	width: 16.66%;
	text-align: center;
	cursor: pointer;
}
.nav span:hover{
	background:#d10b0b;
	color: white;
}
.nav span a:visited{
	color: white;
}
.nav span a:hover{
	text-decoration: none;
}
.nav span a{
	color: white;
}

.nullbox{
	height: 83px;
}

.pad{
	padding:4px 4px;
}
.box{
	margin:5px 0px;
	border-radius: 5px;
	overflow: hidden;
	background: #ca8300;
	filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#99000000, endcolorstr=#99000000);
}

.riqi{
	text-align: center;
	font-weight: bold;
	font-size: 19pt;
	color: rgb(0, 0, 0);
	padding: 5px 0;
}



.box .yijiw{
	background-color: rgb(248, 243, 243);
	color: blue;
	font-size: 20px;
	font-weight: bold;
}
.box .yijiw p{padding: 5px 0 10px 0;}
.box .yijiw p span{font-size: 23px; color: red;}
.box .yijiw p:nth-child(2) b:hover{
	left: 1px;
	position:relative;
	top: 1px;
	text-decoration: underline; 
	background:#FFFF00;
	cursor: pointer;
	background-color: #eeff00;
}
.box .yijiw  p:nth-child(2) span:hover{
	cursor: pointer;
}

.list-title{
	border-left:5px double #008080;
	 border-top:5px double #008080; 
	 word-break:break-all;
	 border-right:5px double #008080;
	 border-bottom:5px double #008080;
	 line-height: 200%;
	 background-color: rgb(247, 247, 11);
	 color: #000;
	 text-align: center;
     font-weight: bold;
	 font-size: 25px;
}
.list-title.gstp{line-height: 80%;}

.list-title.nytz{font-size: 22px;}

.box iframe{
	background-color: white;
}


.wuwei li i{
	color: red;
	font-size: 22pt;
}
.box .bulian{
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	background-color: #00FF00;
	margin-bottom: 0;
}

.box .bulian li{
	padding: 10px  0;
	font-size: 15pt;
	font-weight: 700;
	border-bottom: 1px solid #ffffff;
}


.box .stairs{
	text-align: left;
	color: rgb(255, 255, 255);
	width: 100%;
	font-weight: bold;
	border-collapse: collapse;
	table-layout: fixed;
}

.box .stairs tr{font-size: 21px;width: 100%;}
.box .stairs tfoot tr td{background-color:#88ff88;text-align: center;color: blue;}

.box .stairs tfoot td i{color: green;}
.box .stairs tfoot td u{color: red;}

.box .stairs tr td {
	background-color: rgb(244, 244, 244);
	padding: 5px 0;
	color: rgb(224, 0, 0);
	border:1px solid #ca8300;
}
.box .stairs tr td i{color: #008b00;}
.box .stairs tr td u{font-size: 30px;}

.box .stairs .stairs-head td{
	font-size: 15pt;
	background-color: #ff0000;
	color: rgb(255, 255, 255);
	text-align: center;
}



.teizi{
	text-align: center;
	font-size: 13pt;
	background-color: white;
	text-align: center;

}
.teizi img{height: 15px; width: 15px;}
.teizi li{
	border-collapse:collapse;
	padding: 5px 0;
	border:1px solid rgb(224, 224, 224);
}
.teizi li a:hover{
	background-color: yellow;
	color: #000;
	position: relative;
	bottom: -1px;
	right: -1px;
}

.sxsq{background-color:#FFFFB5; border-collapse: collapse;}
.sxsq .second{color: blue;font-size: 20px;}
.sxsq tr td{
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	height: 26px;
	line-height: 150%;
	border: 1px solid #8d8d8d;
	padding: 3px 2px;
}

.sxsq .second2{color: red;font-size: 20px;}

.hjztw{background-color:#f1f1ee; border-collapse: collapse;text-align: center;}
.hjztw td{
	padding: 3px 0px; 
	font-weight: bold;
	font-size: 18px;
	border: 1px solid #ffffff;
}
.hjztw tbody tr td:nth-child(odd){background-color: lightgreen;font-weight: 500;}
.hjztw tbody tr td:nth-child(2){width: 50%;color: red;}


.twelve-ma li i{background-color: #f7c863;color: #0000ff;}
.twelve-ma li u{color: rgb(199, 8, 8);}


.jxzt li i{color: #0000ff;}
.jxzt li u{color: rgb(255, 0, 0);}



.nullbox2{
	height: 98px;
}




/* å¸å­ */

.header .bank2{
    float: right;
    position: relative;
    width: 56px;
    height: 44px;
    margin-top: 7px;
	margin-right: 20px;
}
.header .bank2 a{
	display: block;
    color: #fff;
    font-size: 10pt;
}
.header .bank2 img{
	display: block;
	width: 27px;
	height: 27px;
	margin:0 auto;
}

.qnny{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    border: 1px solid rgb(219, 219, 219);
	box-shadow: 0 2px 0 #ca830062 ;
	background-color: white;
}

.qqbz{
	background-color: white;
	text-align: left;
	font-weight: bold;
	font-size: 18px;
}
.qqbz li{
    line-height: 170%;
	text-indent: 5px;
	background-color: #eceef1;
}
.qqbz li:first-child{
	text-align: center;
	font-size: 22px;
	background-color: #7fb6fd;
}
.ziliao li{
    text-align: center;
	color: #000;
	font-weight: bold;
	font-size: 16pt;
	margin: 2px 0;
	background-color: white;
	padding: 5px 0;
}
.ziliao2 li{
    text-align: center;
	color: #000;
	font-weight:700;
	font-size: 14pt;
	margin: 2px 0;
	background-color: white;
	padding: 5px 0;
}
.ziliao2 li i{color: blue;}
.ziliao2 li u{color: #0b8800;}

.ten-ma li i{color: #0000ff;}
.ten-ma li u{color: green;}

.sxsq .jpsw2{line-height: 250%;font-size: 18px;}
.sxsq .jpsw2 i{color: rgb(255, 0, 0);}
.centerrg li i{color: red;}
.centerrg li u{color: green;}

.centerbc li i{color: blue;}
.centerbc li u{color: chocolate;}

.sxsx p{
	font-size: 20px;
	text-align: center;
	background-color: white;
	font-weight: bold;
	line-height: 180%;
}
.sxsx p:first-child{color:maroon;}
.sxsx p:nth-child(2){color: #ff9c00;}
.sxsx p:nth-child(3){color:rgb(65, 56, 56);}
.sxsx p:last-child{color: #008b00;}

.wxyx li{
	background-color: rgb(255, 255, 255);
	font-size: 17px;
	padding: 5px 5px;
	border-bottom: 1px dotted lavender;
}
.wxyx li:first-child{
	background-color: green;
	color: yellow;
	font-size: 20px;
	font-weight: bold;
}

.stzt img{width: 35px;}
.stzt i{color: red;}
.stzt u{color: blue;}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}

.box .twoxl li{text-align: left;padding-left: 3px;}


.sx { background: #e5e5e5;}
.sx table { margin-top: 3px;}
.sx th { height: 30px; background: #f1f1f1;}
.sx td { padding: 5px 0; text-align: center; border: solid 1px #d8ccb4; word-wrap: break-word; background: #fff;}
.sx td.a-left { text-align: left; padding-left: 5px; padding-right: 5px;}
.sx span { height: 18px; line-height: 18px; margin: 0 2px; padding: 0 2px; font-size: 12px; color: #fff; display: inline-block; background: #f00;}
.sx span.green { background: #009933;}
.sx span.blue { background: #3366ff;}

.zh3f{	background-color: white;}
.zh3f p{
	padding: 3px 3px;
	font-size: 16px;
	font-family: Verdana, Arial, å®ä½;
}
.box .guanggao{margin-bottom: -4px;}
.box .guanggao li img{height: 60px;}


/* foot */
.copyright {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #000;
	font-size: 10pt;
	color: #000;
}


.advertise{
	width: 60%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #000;
	font-size: 12pt;
	font-weight: bold;
	color: #000;
}
.advertise span{
	color: red;
}
.advertise a:link{
	color: blue;
	font-weight: 500;
}
.advertise a:hover{
	color: rgb(255, 251, 6);
	font-weight: 600;
}

.foot-img {
	padding-bottom: 40px;
	background-color: #ca8300;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 5px;
}


@media screen and (max-width: 700px){
	.subnav{margin: 5px 5px;}
    .box {margin: 5px 5px!important;}
	.subnav a{font-size: 11pt;}
	.subnav a img{width: 67.2px;height: 60.8px;}
	.header .logo{margin-left: 0px;}
	.nav span{font-size: 10px;}
	.box .list-title{font-size: 20px;}
	.list-title.nytz{font-size: 18px;}
	.hjztw td{font-size: 16px;}
	.teizi li{font-size: 12pt;}
    .sxsx p{font-size: 18px;}
	.box .yijiw{font-size: 17px;}
	.box .yijiw p span{font-size: 19px;}
	.box .bulian li{font-size: 18px;}
	.box .stairs tr{font-size: 12px;}
	.box .stairs tr td u{font-size: 20px;}
	.box .stairs .stairs-head td{font-size: 15px;}
	.box .riqi{font-size: 11pt;}
	.ziliao li{font-size: 13pt;}
	.ziliao2 li{font-size: 13pt;}
	.wuwei li i{font-size: 16pt;}
	.box .kaijiang{height: 135px;}
	#amlhc1{height: 1600px;}
	.box .guanggao img{height: 45px;}

}

@media screen and (max-width:360px){
	.box .bulian li{font-size: 16px;}
	.box .guanggao img{height: 45px;}
}