.items-fitxes > div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
}

.items-fitxes > div > div{
    position:relative;
    display: block;
    position: relative;
    margin: 22.512px 11.256px;
    margin: 1.5rem 0.75rem;
    height:378px;
}

.items-fitxes > div > div a{
    height:378px;
}

.items-fitxes figure{
    margin:0!important;
}
.swiper video{
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
}

#video-gallery .swiper-slide{
    position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;
}


.swiper-button-prev, .swiper-button-next{
    color:#fff!important;
}

.items-fitxes-relacionades{
    display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
}

.items-fitxes-relacionades > div{
    position:relative;
    display: block;
    position: relative;
    margin: 22.512px 11.256px;
    margin: 1.5rem 0.75rem;
    height:378px;
}
.views-field-field-fitxes ul{
    display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 20px;
}

.views-field-field-fitxes ul li{
    position:relative;
    display: block;
    position: relative;
    margin: 22.512px 11.256px;
    margin: 1.5rem 0.75rem;
    height:378px;   
}

header.fixed #menu li a{
    color:rgb(27, 25, 25)!important;
}


.items-fitxes-relacionades > div.contextual{
    display:none;
}

.media.full-media{
    position:absolute;
    z-index:900;
    width:100vw;
    height:calc(100vh - 50px);
    left:0;
    top:240px;
}
#fullscreen-btn{
    cursor:pointer;
}

body.no-scroll{
    overflow: hidden;
}

#close-video-fullscreen{
    display:none;
    position:absolute;
    z-index:1000;
    top:60px;
    left:30px;
    cursor:pointer;
}

.media.full-media #close-video-fullscreen{
    display:block;
}

.title-link a{
    color:rgb(170, 170, 170)!important;
    text-decoration: underline;
}

#video-gallery .info-box{
    position:absolute;
    z-index:3;
    top:35px;
    left:30px;
    font-size: 1.050em;
    color:#fff;
}

#video-gallery .info-box .title-box{
    text-transform: uppercase;
}

.title-video{
    padding-top:10px;
}

@media screen and (max-width:1340px){
    .video-list{
        max-height:28vw;
    }
}

@media screen and (max-width:680px){
    .items-fitxes > div{
        grid-template-columns: 1fr;
    }
    .items-fitxes-relacionades{
        grid-template-columns: 1fr;
    }
}
