
/*

RP Digital Type Foundry
Subscription Service


Font Project: ajuntament.barcelona.cat

Licensee:     Laia Carbonell Ferrer
Styles:       Larish Neue Semi Bold
Domains:      ajuntament.barcelona.cat


Installation:
https://new.radimpesko.com/RP-W-57b2da96e4b95ea5ed000007/instructions

EULA:
https://new.radimpesko.com/licensing/web-license-subscription


The fonts and font delivery service used on this website are provided via
RP Digital Type Foundry, and are subject to the End User License Agreement
entered into by the website owner. All other parties are explicitly
restricted from using, in any manner, the font delivery service or the
licensed fonts.

The RP Digital Type Foundry Font Software is protected under domestic and
international copyright law. Modifying, decomposing, reverse engineering or
otherwise copying of RP Digital Type Foundry Font Software is illegal.

© 2016–2023 RP Digital Type Foundry

mail@radimpesko.com
radimpesko.com

*/
The HTTP referer header is missing and therefore it is not possible to verify
the origin requesting our fonts. Typically this could be caused by inclusion
of the "<meta name='referrer' content='never'>" in the "<head>" tag of your
pages, or by the configuration of your server, proxy or firewall. Please make
sure your website includes correct HTTP referer header in all requests to our
service.

See more at https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer


This font project does not permit serving fonts from domain ''.

