@charset "utf-8";
/* CSS Document */

body{ text-align:center;  margin:auto; background-color:#eff0f0;}
#geral{ width:980px; height:auto; margin:auto; background-color:#FFFFFF;}

img{border:none;}
#central{ float:left; width:980px; height:auto; margin-bottom:5px; background-color:#FFFFFF; padding-top:10px; margin-top:15px; }
#topo{float:left; width:100%; height:138px; background-color:#fff; padding-top:5px; border-top:3px #84332b solid}


#topo_interno{ margin:auto; width:980px; height:auto;}


#logo{ width:315px; height:132px; float:left;  }

.menu_area{float:left; width:650px; height:17px; margin-left:10px; margin-top:20px; margin-bottom:10px; font-family:Arial, Helvetica, sans-serif; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#444; text-align:right; text-transform:uppercase; font-size:12px;}
.up{ text-decoration:none;}
.up:hover{ text-decoration:underline; cursor:pointer}

.menu_nav{float:left; width:612px; height:15px;  margin-left:50px; margin-top:28px;}


/* Main navigation block element */
#cssmenu{
height:37px;
display:block;
padding:0;
border:1px solid;
border-radius:5px;
}

#cssmenu > ul {list-style:inside none; padding:0; margin:0;}
#cssmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;}

/* Styling navigation links */
#cssmenu > ul > li > a{
outline:none;
display:block;
position:relative;
padding:11px 12px; text-transform:uppercase;
font:16px/100%  'Roboto Condensed', sans-serif;
text-align:center;
text-decoration:none;
color:#84332b;

}

#cssmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;}


/* Extra border for navigation links */
#cssmenu > ul > li > a:after{
content:'';
position:absolute;
border-right:1px solid;
top:-1px; bottom:-1px; right:-2px;
z-index:99;
}
#cssmenu ul li.has-sub:hover > a:after{top:0; bottom:0;}

/* Bullet for dropdowns */
#cssmenu > ul > li.has-sub > a:before{
content:'';
position:absolute; top:18px; right:6px;
border:5px solid transparent;
border-top:5px solid #fff;
}
#cssmenu > ul > li.has-sub:hover > a:before{top:19px;}

/* Hover state styles for drop menu link */
#cssmenu ul li.has-sub:hover > a{
background:#3f3f3f;
border-color:#3f3f3f;
padding-bottom:13px; padding-top:13px;
top:-1px;
z-index:666;

}



/* ---------------- Styles ----------------- */


/* Gray */
#cssmenu, 
#cssmenu > ul > li > ul > li a:hover{
background:#eff0f0;}
#cssmenu {border-color:#dedede;}
#cssmenu > ul > li > a{color:#84332b;}
#cssmenu > ul > li > a:after{border-color:#e5e5e5;}
#cssmenu > ul > li > a:hover{background:#d7d7d7;}



#busca{ float:left; width:100%; height:46px; background-color:#84332b;}

#busca_interna{ margin:auto; width:980px; height:auto;}

.busca1{ float:left; background-color:#FFF;width:340px; height:32px; margin-top:7px; margin-left:17px; background-repeat:no-repeat; border-radius:5px; }

.format_busca1{ float:left; width:290px; height:25px; margin-left:40px; margin-top:3px; border:none; font-family:Arial, Helvetica, sans-serif; color:#666; padding-left:10px; font-size:11px; }

.busca2{ float:left; background-color:#FFF; width:181px; height:32px; margin-top:7px; margin-left:25px; border-radius:5px; }

.format_busca2{ float:left; width:165px; height:25px; margin-left:10px; margin-top:3px; border:none; font-family:Arial, Helvetica, sans-serif; color:#666; font-size:11px; }

.busca3{ float:left; background-color:#FFF; width:285px; height:32px; margin-top:7px; margin-left:25px;border-radius:5px; }

.busca_cont{ float:right; background-color:#FFF; width:285px; height:32px; margin-top:20px; margin-left:25px;border-radius:5px; margin-bottom:15px; border:1px solid #CCC; }

.format_busca3{ float:left; width:270px; height:25px; margin-left:10px; margin-top:3px; border:none; font-family:Arial, Helvetica, sans-serif; color:#666; font-size:11px; }

.busca4{ float:left; width:120px; height:32px; margin-top:7px; margin-left:25px;}


.bt_forms{ float:left; width:110px; height:32px; border:none; background-color:#333; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif;font-size:17px; cursor:pointer; border-radius:0.6em;}
.bt_forms:hover{ float:left; width:110px; height:32px; border:none; background-color:#811411; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif;font-size:16px; cursor:pointer}



#esquerda{ float:left; width:720px;  height:auto; border-right:1px #CCCCCC dotted; margin-right:10px; padding-left:10px; padding-bottom:20px;}

.banner_home{float:left; width:700px; height:auto; margin-top:10px; margin-bottom:15px; border:1px #ccc solid}

.banner{float:left; width:700px; height:auto; margin-top:10px;border:1px #ccc solid}



.caixa_contratar{float:left; width:340px; height:180px; line-height:20px; margin-right:5px; margin-left:5px; border:1px solid #CCC; border-radius:10px; padding-top:5px; background-color:#f0f0f0}
.caixa_contratar:hover{ background-color:#e4e4e4; cursor:pointer}




.tit_contratar{float:left; width:310px; height:auto; margin-left:10px; font-family: 'Roboto Condensed', sans-serif; font-size:22px; margin-top:5px; text-align:center; color:#84332b;}

.txt_contratar{float:left; width:310px; height:auto; margin-left:10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-top:10px; text-align:left; color:#666; text-align:left}

.tit_curriculos_home{float:left; width:695px; height:auto; text-align:left; font-family: 'Roboto Condensed', sans-serif;font-size:22px; border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:15px; margin-left:5px; margin-top:24px; text-transform:uppercase}

.tit_curriculos{float:left; width:695px; height:auto; text-align:left; font-family: 'Roboto Condensed', sans-serif;font-size:22px; border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:15px; margin-left:5px; margin-top:4px; text-transform:uppercase}

.txt_curriculos{float:left; width:690px; height:auto; margin-top:15px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#444; text-align:justify; line-height:20px}


.caixa_curriculos_h{float:left; width:695px; height:auto;margin-left:5px; border:1px solid #ccc; margin-bottom:10px; padding-bottom:10px; padding-left:10px; }

.caixa_curriculos_h:hover{ background-color:#F1F1F1; cursor:pointer }

.foto_curriculo_h{float:left; width:114px; height:100px; margin-right:15px; margin-top:10px}

.foto_curriculo_h img{border:1px solid #CCC; border-radius:5px;}

	



.caixa_info_cur{float:left; width:540px; height:auto; margin-right:26px;}


.nome_curriculo{float:left; width:350px; height:auto; font-family:'Roboto Condensed', sans-serif;font-size:20px; text-align:left; padding-bottom:2px; color:#666; margin-top:5px; text-transform:uppercase;  }
.atualizadoem{ float:left; width:150px; height:auto; text-align:right; font-family:Arial, Helvetica, sans-serif; color:#666; font-size:12px; font-weight:bold;  margin-left:30px; margin-top:10px}

.nome{color:#84332b;}
.nome2{color:#444;}


.bairro_curriculo{float:left; width:320px; height:auto; font-family:'Roboto Condensed', sans-serif;font-size:16px; text-align:left; padding-bottom:5px; color:#666; padding-top:5px; background-image:url(../img/curriculo/fundo_bairro.png); padding-left:30px;}


.areas_curriculo{float:left; width:350px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:11px;  text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333}
.areas_curriculo2{float:left; width:350px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:11px;  text-align:left;  color:#333; text-decoration:none}


.atualizado_curriculo{float:left; width:350px; height:auto; font-family:'Roboto Condensed', sans-serif;font-size:16px; text-align:left; padding-bottom:5px; color:#666; margin-bottom:5px; background-image:url(../img/curriculo/fundo_att.png);padding-left:30px; padding-top:8px}


.bt_ver{float:left; width:158px; height:37px; margin-left:30px; margin-top:-5px; background-image:url(../img/curriculo/bt_ver.png) }
.bt_ver:hover{ cursor:pointer; background-image:url(../img/curriculo/bt_ver_hover.png) }


.tit_midias{float:left; width:695px; height:auto; text-align:left; font-family:'Roboto Condensed', sans-serif; font-size:22px; border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:15px; margin-left:5px; margin-top:25px; text-transform:uppercase}


.total_midias{ float:left; width:714px; height:auto;}


.caixa_midias{float:left; width:210px; height:250px; margin-right:5px; margin-left:15px; margin-bottom:25px;}


.foto_midia{float:left; width:210px; height:116px; border:2px solid #ccc;-webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out; cursor:pointer;}
	
	.foto_midia:hover{border-color:#84332b;-webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out; cursor:pointer;}
	
	
	.tit_midia{float:left; width:210px; height:auto;font-family:'Roboto Condensed', sans-serif; font-size:18px; color:#84332b; margin-top:5px; text-align:left; }
	
	
	.tit_midia:hover{text-decoration:underline;}
	
	.tit{color:#84332b;text-decoration:none;}
	
	.txt_midia{float:left; width:210px; height:auto;font-family:Arial, Helvetica, sans-serif;font-size:12px; color:#444; margin-top:5px; text-align:left; }
	
	.txt_midia:hover{text-decoration:underline;}
	
	.txt{color:#666;text-decoration:none;}
	
	
	
	.tit_parceiros{float:left; width:960px; height:auto; text-align:left;font-family:'Roboto Condensed', sans-serif; font-size:22px; text-transform:uppercase; border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:15px; margin-top:25px; margin-left:10px;}
	
	
	
	.caixa_parceiros{float:left; width:970px; height:auto;margin-left:10px; margin-bottom:15px;}



	
			.wrapper {
				background-color: white;
				width: 480px;
				margin: 40px auto;
				padding: 50px;
				box-shadow: 0 0 5px #666;
			}
			.list_carousel {
		
				width: 980px;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				font-size: 40px;
				color: #666;
				text-align: center;
				background-color: #eee;
				border: 5px solid #ccc;
				width: 116px;
				height: 100px;
				padding: 0;
				margin: 6px;
				display: block;
				float: left;
			}
		
			.timer {
				background-color: #84332b;
				height: 3px;
				width: 0px;
			}



#direita{ float:left;width:210px;  height:auto; margin-left:10px;}

.tit_conta{float:left; width:210px; height:52px; margin-bottom:5px; }


/*Login em Abas*/
#container
{
	width:210px; float:left;
}
#tabbox
{
	height:40px
}
#panel
{
	background-color:#eff0f0;
	height:130px;

	
}
.tab
{
background: #dedede;
display: block;
font-family:'Roboto Condensed', sans-serif; text-transform:uppercase;
color:#84332b;
height: 40px;
line-height: 40px;
text-align: center;
width: 100px;
float: left;
font-size:18px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius: 4px 4px 0px 0px;
}
a
{
color: #000;
margin: 0;
padding: 0;
text-decoration: none;
}
.signup
{
	margin-left:8px;
	
}
.select
{
	background-color:#eff0f0;
	
}
#loginbox
{
	height:210px;
	padding-top:20px;
}
#signupbox
{
	height:210px;
	padding-top:20px;
	display:none;
}


.format_login2{ width:145px; border-radius:5px; height:26px; border:1px #ccc solid; margin-bottom:10px; padding-left:5px; font-family:Arial, Helvetica, sans-serif; color:#666; font-size:12px; float:left}


.format_login{ width:195px; border-radius:5px; height:26px; border:1px #ccc solid; margin-bottom:10px; padding-left:5px; font-family:Arial, Helvetica, sans-serif; color:#666; font-size:12px;float:left}


.bt_acessar{ float:left; width:35px; height:28px; border:none; font-family:Arial, Helvetica, sans-serif; cursor:pointer; color:#fff; font-size:12px; margin-left:10px; border-radius:4px;   background-color:#333;}
.senha_format{ float:left; width:210px; height:auto; text-align:left; font-size:13px;  margin-top:20px;}


.esqueci{ font-family:Arial, Helvetica, sans-serif; color:#900; font-size:11px; float:left; width:120px;  }


.tit_profissionais{float:left; width:210px; height:auto;margin-left:10px; margin-bottom:5px; margin-top:20px; }

.caixa_prof{float:left; width:210px; height:auto; margin-left:15px;}


.sub_prof{ float:left; width:200px; height:auto; text-align:left; font-family:Arial, Helvetica, sans-serif; color:#333; font-size:12px; margin-bottom:5px; padding-bottom:8px; border-bottom:1px dotted #CCC; cursor:pointer}

.format_sub_prof{ font-family:Arial, Helvetica, sans-serif; color:#333; font-size:12px; text-decoration:none}

.sub_prof:hover{text-decoration:underline; font-weight:bold;}


.ban_duvidas{float:left; width:210px; height:96px; margin-top:15px; border:1px solid #CCC; margin-left:0px;}

.feed_face{float:left; width:210px; height:303px;  margin-top:15px; margin-left:5px}


#rodape{ float:left; width:100%; height:150px; background-color:#fff; border-top:1px #ebd9e2 solid; margin-top:25px; }
#rodape_interno{ margin:auto; width:980px; height:auto; }
#esquerda_rodape{ float:left; width:300px; height:110px; margin-top:15px; border-right:1px #CCCCCC dotted; margin-left:10px;}
.tit_esq_rodape{ float:inherit; width:200px; float:left; text-align:left; font-family:Arial, Helvetica, sans-serif; color:#84332b; text-align:left; font-size:12px; margin-top:5px; font-weight:bold; margin-bottom:12px;}

.meio_rodape{ float:left; width:420px; height:110px; margin-top:15px; border-right:1px #CCCCCC dotted; margin-left:10px; padding-left:30px }
.pagseguro{ float:left; width:450px; height:auto; text-align:left }
.direita_rodape{ float:left; width:250px; height:110px; margin-top:15px;  margin-left:0px; padding-left:30px;  }
.tit_di_rodape{ float:left; width:180px; float:left; text-align:left; font-family:Arial, Helvetica, sans-serif; color:#84332b; text-align:left; font-size:12px; margin-top:5px; font-weight:bold; margin-bottom:12px;}
.redes{ float:left; width:250px; text-align:left;}
.direitos{ float:left; width:260px; height:auto; text-align:left; font-family:Arial, Helvetica, sans-serif; color:#666666; font-size:11px; margin-top:20px }
.ellos{ float:left; width:260px; height:auto; text-align:justify;font-family:Arial, Helvetica, sans-serif; color:#666666; font-size:11px; margin-top:5px }

.tits_inst{ float:left; width:150px; height:auto; text-align:left; font-family:Arial, Helvetica, sans-serif; color:#666; font-size:12px; margin-bottom:10px}
.format_tits_inst{font-family:Arial, Helvetica, sans-serif; color:#666; font-size:12px; text-decoration:none}

.class_rodape{color:#666666; text-decoration:none;}
.link_ellos{ color:#666666; text-decoration:none;}



/*Sobre NÃ³s*/
.tit_sobre{float:left; width:695px; height:auto; text-align:left; font-family: 'Roboto Condensed', sans-serif;font-size:22px; border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:15px; margin-left:5px; margin-top:25px; text-transform:uppercase}

.txt_sobre{float:left; width:695px; height:auto; text-align:left; font-family:Arial, Helvetica, sans-serif;font-size:13px;  padding-bottom:3px; color:#444; margin-bottom:15px; margin-left:5px; line-height:18px }



/*Noticias*/

.tit_noticias{float:left; width:695px; height:auto; text-align:left; font-family: 'Roboto Condensed', sans-serif;font-size:22px; border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:15px; margin-left:5px;  text-transform:uppercase}


.tit_noticias_det{float:left; width:550px; height:auto; text-align:left; font-family: 'Roboto Condensed', sans-serif;font-size:22px; color:#84332b; margin-left:5px;  text-transform:uppercase}

.voltar_not{ float:left; width:100px; height:auto; text-align:right; font-family:Arial, Helvetica, sans-serif; color:#444; font-size:12px; text-transform:uppercase; font-weight:bold; margin-top:12px; margin-left:30px}
.color_voltar{ color:#444; text-decoration:none;}
.color_voltar:hover{ color:#444; text-decoration:underline;}
.pr_tit_not{float:left; width:695px; height:auto; text-align:left;border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:15px; margin-left:5px; margin-top:10px;}

.foto_det{float:left; width:331px; height:230px; margin-right:10px; margin-bottom:10px; border:1px solid #CCC; margin-top:5px;}
.foto_det2{float:left; width:331px; height:230px; margin-right:10px; margin-bottom:10px; border:1px solid #CCC; margin-top:15px;}


.txt_noticias_det{float:left; width:690px; height:auto; margin-top:15px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#444; text-align:justify; line-height:20px}



/*Contato*/


.tit_contato{float:left; width:695px; height:auto; text-align:left; font-family: 'Roboto Condensed', sans-serif;font-size:22px; border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:10px; margin-left:5px; margin-top:10px; text-transform:uppercase}


.txt_contato{float:left; width:690px; height:auto; margin-top:15px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#444; font-weight:bold; margin-bottom:8px; text-align:left;}

.txt_ver_comp{float:left; width:690px; height:auto; margin-top:15px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444; margin-bottom:8px; text-align:left; margin-bottom:28px}



#alinhamento_formulario{
	float:left;
	width:625px;
	height:auto;
	margin-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:13px;
	text-align:left;
	margin-bottom:50px;
}

.fundo_form{ border:1px #CCCCCC solid; width:330px; height:30px; -moz-border-radius: 8px;  -webkit-border-radius: 8px;border-radius: 8px; }
.fundo_form2{ border:1px #CCCCCC solid; width:670px; height:150px;-moz-border-radius: 8px;  -webkit-border-radius: 8px;border-radius: 8px;}


#alinhamento_formulario_contratar{
	float:left;
	width:625px;
	height:auto;

	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-size:13px;
	text-align:left;
	margin-bottom:50px;
}
.alinha_check{ width:290px; height:20px; float:left; margin:5px; padding:5px}
.alinha_check2{ width:600px; height:20px; float:left;   margin-top:30px; margin-bottom:5px; background-color:#DCDCDC; -moz-border-radius: 8px;  -webkit-border-radius: 8px;border-radius: 8px; padding:10px}
.alinha_check3{ width:600px; height:20px; float:left;   margin-top:30px; margin-bottom:5px;  padding:10px}


/*Como Funciona*/

.tit_como{float:left; width:695px; height:auto; text-align:left; font-family: 'Roboto Condensed', sans-serif;font-size:22px; border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:15px; margin-left:5px; margin-top:10px; text-transform:uppercase}


.txt_como{float:left; width:690px; height:auto; margin-top:15px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; text-align:left;}



/*Formas de Pagamento*/

.txt_formas{float:left; width:690px; height:auto; margin-top:15px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; text-align:left;}

.img_pag{float:left; width:720px; height:auto; text-align:center; margin-top:25px; margin-bottom:25px;}


/*Cursos*/

.tit_cursos{float:left; width:695px; height:auto; text-align:left; font-family: 'Roboto Condensed', sans-serif;font-size:22px; border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:20px; margin-left:5px;text-transform:uppercase}

.caixa_cursos{float:left; width:210px; height:auto; margin-right:5px; margin-left:15px; margin-bottom:25px;}


.foto_cursos{float:left; width:210px; height:116px; border:2px solid #ccc;-webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out; cursor:pointer;}

	.foto_cursos:hover{border-color:#84332b;-webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out; cursor:pointer;}

	
	.tit_cursos2{float:left; width:210px; height:auto;font-family:'Roboto Condensed', sans-serif; font-size:20px; color:#84332b; margin-top:5px; text-align:left; }
	

	
	.txt_cursos{float:left; width:210px; height:auto;font-family:Arial, Helvetica, sans-serif;font-size:16px; color:#444; margin-top:5px; text-align:left; font-weight:bold; }
	
	
	/*Cursos DEtalhes*/
	
.total_midias2{float:left; width:325px; height:auto; margin-top:15px; margin-right:15px;  padding-right:5px; margin-bottom:30px; }
	

.caixa_desc{float:left; width:330px; height:auto; margin-top:15px;}

.foto_curso_dt{float:left; width:325px; height:325px; margin-bottom:10px; border:1px solid #CCC;}


.nome_cur{float:left; width:350px; height:auto; font-family:Arial, Helvetica, sans-serif; font-size:19px; color:#444; font-weight:bold; text-align:left; border-bottom:1px dotted #CCC; padding-bottom:10px; text-transform:uppercase}

.preco_cur{float:left; width:350px; height:auto; margin-top:10px;font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444; font-weight:bold; text-align:left; border-bottom:1px dotted #CCC; padding-bottom:10px;}



.class_preco{font-size:26px; color:#84332b;}

.class_preco2{font-size:14px; color:#84332b;}


.bt_solicitar{float:left; width:350px; height:46px;margin-top:10px; margin-bottom:15px; border-bottom:1px dotted #CCC; padding-bottom:10px; text-align:left; cursor:pointer; background-repeat:no-repeat;}



.forma_pag{float:left; width:350px; height:auto;margin-top:10px; margin-bottom:15px; border-bottom:1px dotted #CCC; padding-bottom:10px; text-align:left;}


.config_total{float:left; width:714px; height:auto; margin-top:15px; margin-bottom:15px;}

.config_tit{float:left; width:700px; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#444; border-bottom:3px solid #84332b; padding-bottom:5px; text-align:left; font-weight:bold; margin-top:10px;}

.config_txt{float:left; width:700px; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#444; margin-top:10px; text-align:justify; margin-bottom:10px;}


.bt_comprar {
	
	background-color:#84322b;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84322b;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}.bt_comprar:hover {
	background-color:#a34137;
}.bt_comprar:active {
	position:relative;
	top:1px;
}


/*Quero Contratar*/

.caixa_curriculos_p{float:left; width:695px; height:auto;margin-left:5px; margin-bottom:10px; padding-bottom:20px; border:1px #f9f9f9 solid }

.caixa_curriculos_p:hover{ background-color:#F1F1F1; cursor:pointer; border:1px #ccc dotted }

.foto_curriculo_p{float:left; width:114px; height:100px; margin-right:15px; margin-top:10px}

.foto_curriculo_p img{border:1px solid #CCC; border-radius:5px;}

.caixa_info_cur_p{float:left; width:540px; height:auto; margin-right:26px;}

.caixa_total_p{float:left; width:695px; height:auto;margin-left:5px; margin-top:5px;}


.dis_curriculo{float:left; width:320px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:14px; text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333; margin-right:20px; margin-left:5px;}

.dis_curriculo2{float:left; width:640px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:14px; text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333; margin-right:20px; margin-left:5px;}

.ex_curriculo{float:left; width:320px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:14px; text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333; margin-right:20px; margin-left:5px;}

.ref_curriculo{float:left; width:320px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:14px; text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333; margin-right:20px; margin-left:5px;}

.coz_curriculo{float:left; width:320px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:14px; text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333; margin-right:20px; margin-left:5px;}

.pas_curriculo{float:left; width:320px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:14px; text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333; margin-right:20px; margin-left:5px;}

.pas_curriculo2{float:left; width:520px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:14px; text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333; margin-right:20px; margin-left:5px;}

.esc_curriculo{float:left; width:320px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:14px; text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333; margin-right:20px; margin-left:5px;}

.disp_curriculo{float:left; width:320px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:14px; text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333; margin-right:20px; margin-left:5px;}

.cnh_curriculo{float:left; width:320px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:14px; text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333; margin-right:20px; margin-left:5px;}

.estado_curriculo{float:left; width:510px; height:auto; font-family:Arial, Helvetica, sans-serif;font-size:14px; text-align:left; padding-bottom:5px; margin-bottom:5px; margin-top:10px; color:#333; margin-right:20px; margin-left:5px;}


.bt_ver_completo{float:left; width:158px; height:37px; margin-left:5px; margin-top:15px; background-image:url(../img/curriculo/bt_ver_completo.png); margin-bottom:15px; }

.fundo_form_ddd{ border:1px #CCCCCC solid; width:50px; height:30px; font-family:Arial, Helvetica, sans-serif; color:#666; font-size:13px; padding-left:3px; border-radius:5px; margin-bottom:15px}
.fundo_form_tel{ border:1px #CCCCCC solid; width:270px; height:30px; font-family:Arial, Helvetica, sans-serif; color:#666; font-size:13px; padding-left:3px; border-radius:5px; margin-bottom:15px}

.bt_ver_completo:hover{ cursor:pointer; background-image:url(../img/curriculo/bt_ver_completo_hover.png) }

/*Eu quero Trabalhar*/

.tit_quero{float:left; width:695px; height:auto; text-align:left; font-family: 'Roboto Condensed', sans-serif;font-size:22px; border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:20px; margin-left:5px; margin-top:10px; text-transform:uppercase}


.txt_quero{float:left; width:690px; height:auto; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#444; line-height:24px; margin-bottom:8px; text-align:left; }

.det_bt{ float:left; width:600px; height:auto; text-align:left; margin-top:20px; margin-left:5px}

.form_cadastro{float:left; width:338px; height:auto; margin-right:10px; border:1px solid #CCC;border-radius:0.4em; background-image:url(../img/fundo_pedidos.png); padding-bottom:15px;}
.form_login{float:left; width:338px; height:auto;border:1px solid #CCC;border-radius:0.4em; background-image:url(../img/fundo_pedidos.png); padding-bottom:10px;}
.tit_forms_pag{ width:328px; height:32px; float:left; text-align:left;background-image:url(../img/barra_form.jpg); font-family: 'Armata', sans-serif; text-transform:uppercase; font-size:16px; color:#fff;  float:left; padding-top:10px; padding-left:10px; }
.form_cadastro{float:left; width:338px; height:auto; margin-right:10px; border:1px solid #CCC;border-radius:0.4em; background-image:url(../img/fundo_pedidos.png); padding-bottom:15px;}
.form_login{float:left; width:338px; height:auto;border:1px solid #CCC;border-radius:0.4em; background-image:url(../img/fundo_pedidos.png); padding-bottom:10px;}
.campos_form{ width:230px; border:1px solid #DEDEDE; padding:5px; border-radius: 0.4em}
.entrar{ float:left; width:300px; margin-left:10px;}
.esqueci{ font-family:Arial, Helvetica, sans-serif; color:#900; font-size:11px; float:left; width:120px; margin-left:10px; }

.bt_acessar_completo{ float:left; width:35px; height:28px; border:none; font-family:Arial, Helvetica, sans-serif; cursor:pointer; color:#fff; font-size:12px; margin-left:10px; border-radius:4px;   background-color:#333;}

.bt_busca{ width:100px; height:30px;  border:none; background-color:#84332b; color:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin-top:10px; float:left; margin-left:70px; border-radius:5px; cursor:pointer}
.bt_busca2{ width:150px; height:30px;  border:none; background-color:#84332b; color:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin-top:10px; float:left; margin-left:10px; border-radius:5px;cursor:pointer}

.format_det_conf{ font-family:Arial, Helvetica, sans-serif; color:#666; font-size:12px; text-align:left}

 /*Cadastro*/
 
 .tit_cadastro{ float:left; width:710px; height:auto; text-align:left; margin-bottom:10px; margin-top:10px; }
 
 .caixa_cad{float:left; width:710px; height:auto;text-align:justify; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#444;}
 
 .format_tit_cadastro{ background-color:#EBEBEB;; padding:5px; border:1px soli #ccc; font-family:Arial, Helvetica, sans-serif; color:#84332b; font-size:14px; font-weight:bold; text-align:left}


.format_campos_ddd{ width:30px; height:25px; padding:3px; text-align:left; font-family:Verdana, Arial, Helvetica, sans-serif; color:#666; font-size:12px; border:1px  #ccc solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; margin-right:10px}


.format_campos_login{ width:400px; height:25px; padding:3px; text-align:left; font-family:Verdana, Arial, Helvetica, sans-serif; color:#666; font-size:12px; border:1px  #ccc solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.format_campos_login_sexo{ width:100px; height:25px; padding:3px; text-align:left; font-family:Verdana, Arial, Helvetica, sans-serif; color:#666; font-size:12px; border:1px  #ccc solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.format_campos_login_tel{ width:350px; height:25px; padding:3px; text-align:left; font-family:Verdana, Arial, Helvetica, sans-serif; color:#666; font-size:12px; border:1px  #ccc solid; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
.bt_cad_login{ width:100px; height:30px;  border:none; background-color:#84332b; color:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin-top:10px; float:left; margin-left:170px; border-radius:5px; cursor:pointer}


.format_form{ font-family:Arial, Helvetica, sans-serif; color:#666; text-align:left; font-size:13px; float:left; width:700px}

.txt_pagamento{float:left; width:690px; height:auto; margin-top:15px; font-family: 'Armata', sans-serif; font-size:16px; color:#444; margin-bottom:8px; text-align:left; font-weight:bold}

.ola_pag{float:left; width:690px; height:auto; margin-top:15px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#444; margin-bottom:8px; text-align:left;}
.valor_pag{float:left; width:690px; height:auto; margin-top:15px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#84332b; margin-bottom:8px; text-align:left; font-weight:bold}
.bt_pagamento{ float:left; width:690px; height:auto; text-align:left; margin-top:15px; cursor:pointer}
.pagseguro_img{ float:left; width:690px; height:auto; text-align:left; margin-top:25px}

.abordagem_cursos{ float:left; width:690px; height:auto; text-align:left; font-family:Arial, Helvetica, sans-serif; color:#333; font-size:14px; line-height:20px; margin-bottom:30px}
.confira_cursos{float:left; width:695px; height:auto; text-align:left; font-family: 'Roboto Condensed', sans-serif;font-size:22px; border-bottom:2px solid #CCC; padding-bottom:3px; color:#84332b; margin-bottom:30px; margin-left:5px;text-transform:uppercase}

.align_form{ float:left; width:300px; height:auto;}

/*PrÃªmio*/
.foto_premio{float:left; width:210px; height:150px; border:2px solid #ccc;-webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out; cursor:pointer;}
.foto_premio:hover{border-color:#84332b;-webkit-transition:all .3s ease-in-out; -moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out; cursor:pointer;}
.tit_premio{float:left; width:210px; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#84332b; margin-top:5px; text-align:left; font-weight:bold }
.tit_premio_det{float:left; width:550px; height:auto; text-align:left; font-family: 'Roboto Condensed', sans-serif;font-size:19px; color:#84332b; margin-left:5px;  text-transform:uppercase}

.ban_home{ float:left; width:693px; margin-top:10px; height:auto; margin-left:5px; border:1px #ccc solid}

.pagseguro_banner{ float:left; width:210px; height:210px;  margin-left:5px; margin-top:15px; border:1px #ccc solid; border-radius:5px; margin-bottom:5px }
.cont_clientes{ width:98%; height:auto; float:left; margin-bottom:10px; margin-top:10px; padding:5px; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666}

.topo_tabela{padding:5px; background-image:url(../admin/img/fundo_tab.jpg); font-family: Verdana, Helvetica, sans-serif;	font-size: 12px;color: #666;	font-weight: bold;text-decoration:none; text-transform:uppercase}

#tab2{ border:1px solid #ccc; padding:5px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#666; font-size:12px; width:93% ; margin-bottom:10px; margin-right:5px; text-align:left; }
.format_menu_ferramentas{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#84332B; text-decoration:none; font-size:10px; font-weight:normal}
.format_menu_ferramentas2{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#009900; text-decoration:none; font-size:10px; font-weight:normal}
.txts{ font-family:Arial, Helvetica, sans-serif; color:#666666; font-size:12px; text-decoration:none}
.links_admin{ font-family:Verdana, Helvetica, sans-serif; color:#84332B; font-size:11px; font-weight:bold; text-decoration:none; height:20px;}

.barra_navegacao_rodape{ width:95%; height:auto; float:left; padding:5px; text-align:left; margin-top:20px;}
.format_navegacao_rodape{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#666; font-weight:bold; font-size:12px; text-decoration:none; text-decoration:none}
.format_navegacao_rodape_dif{ font-family:Verdana, Arial, Helvetica, sans-serif; color:#84332B; font-weight:bold; font-size:12px; text-decoration:none}