ï»¿

/*
   Graph.css

   Contains styles unique to Graph.aspx.
*/ 


.divGraphTitle
{
    font-size: 120%;
    margin-bottom: 1.5em;
}

.divInteractiveGraph
{
	margin-bottom: 1.5em;
}

.no-canvas .divInteractiveGraph
{
	display: none;
}

.btnEdit, .btnDelete
{
    width: 6em;
	margin-top: 1em;
}

.btnDelete
{
	margin-left: 1em;
}
