.img{
  width: 300px;
  /* margin: 10px; */
}
.container{
padding: 0px 14px;
}
.green{
  background-color: #00aa59;
  /* padding: 2px 0px; */
  height: 30px;
  color: #dbede5;
  border: 1px solid black;
}
p{
  /* margin-left: 10px; */
  padding: 0px 10px;
  font-size: 18px;
}
h1{
  margin-top: 15px !important;
}
th{
  border: 1px solid #ddd;
  width: 150px;
}
td{
  border: 1px solid #ddd;
  font-size: small;
  padding: 2px;
}
.borderg , .borderg2{
  border: 1px solid #00934d;
  padding: 7px;
  border-radius: 5px;
}
.borderg2{
  margin-top: 5px;
}
.borderg2 img{
  height: 35px;
}
.borderg2 .img1{
  width: 170px;
  margin-top: 8px;
  margin-bottom: 16px;
}
footer{
  background-color: #f5f5f5;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  height: 60px;
  position: absolute;
  bottom: 25px !important;
  width: 100%;
}
footer .p1{
  margin-bottom: 0px;
}
footer .text-center img{
  width: 30px;
}
a{
  cursor: pointer;
}
.imgn{
  margin-top: 3px;
  height: 90px;
  width: 100%;
}
.imgbank{
  text-align: center;
}
.imgbank img{
  height: 50px;
}
.row1 , .row2 , .row3{
  border: 2px solid #959595;
  border-radius: 15px;
  margin-top: 20px;
  background-color: #fff;
}
.row1{
  /* padding-bottom: 30px; */
  margin-top: 5px;
}
/* .row3{

} */
.width{
  width: 100%;
  height: 28px;
}
.w2{
  width: 119%;
  margin-top: 10px;
}
.w1{
  width: 111%;
  position: relative;
  right: 18px;
}
.under{
  border-bottom: 1px solid #b9b8b8;
  height: 40px;
}
.u11{
  color: #0566b1;
  padding: 0px 0px 0px 5px;
}
.u111{
  border: none;
  /* padding: 0px 0px 0px 5px; */
}
.c1{
  padding: 0px 12px;
}
.cc p{
  margin-top: 0px !important;
}

.u22{
color: #797979;
}
.under p{
  margin: 10px 0px;
  padding: 0px;
}
strong{
  margin-bottom: 40px;
}

select{
  height: 32px;
  margin-top: 5px;
}
.form-select1{
  width: 90px;
}
.input{
  margin: 0px;
  margin-top: 7px;
  margin-right: 20px;
}
.input input{
margin-right: 50px;
position: relative;
left: 20px;
width: 135px;
}
input{
  width: 100%;
}
.u{
  margin-top: 6px;
  /* width: 173px; */
  /* text-align: end; */
}
.fa-eye{
  /* position: relative; */
  left: 91%;
  bottom: 2px;
  font-size: 11px;
}
 .c1{
  position: relative;
 }
#btn{
  position: absolute;
  top: 38%;
  left: 88%;
  background-color: transparent;
  border: none;
  width: 10px;
  height: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}
/* @media only screen and (max-width:992px) and (min-width:768px){
  .input input{
    margin-right: 50px;
    position: relative;
    left: 20px;
    width: 254px;
    }
} */
.bank{
 width: 100%;
 font-size:11px;
 margin-top: 10px;
height: 25px !important;
}
.bankk{
  font-size: 9px;
}
.cardnum{
  border: 2px solid #0566b1;
  height: 24px;
  margin-top: 10px;
}
.row3 button{
 width: 100%;
 border: none;
 border-radius: 5px;
 margin: 20px 0px;
}
body{
  background-color: #ebebeb;
}

/* //////////////////////////////// js */
.b2{
  z-index: 1;
}
select{
  font-size: 9px;
  height: 22px !important;
  margin-top: 10px;
}
input{
  font-size: 11px;
  height: 22px !important;
}
.button1{
  border: none;
}