/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


.main-2 {
    display: none;
}

.main-2 .row{
    display:flex;
    flex-wrap:wrap;
}

.col-md-6{
    flex: 0 0 50%;
    width:50%;
}
/*  claculator  */
.calculate_form {
    background-color: #eee;
    padding: 40px 25px;
    border-radius: 4px;
}
.compound-calc .form-group {
    margin-bottom: 15px;
}
.compound-calc .col-xs-12 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.compound-calc .col-sm-5 {
    width: 41%;
    flex:0 0 41%;
}
.compound-calc .col-sm-7 {
    width: 58%;
    flex:0 0 58%;
}
.calculate {
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
    color:white;
    background: #005689!important;
    border: none!important;
    padding: 7px;
}
.compound-calc .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.compound-calc .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.compound-calc .pull-right {
    flex-direction: row-reverse;
}
a.reset {
    font-family: tahoma,arial,verdana;
    color: #551a8b;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 8px;
    float: right;
}
.compound-calc h3 {
    font-size: 24px;
}
.redval {
    color: red;
    font-weight: 700;
}
#new-d, #t-date {
    color: #8a2be2;
    font-weight: 700;
}
.greenclr {
    color: green;
    font-weight: 700;
}
.b-days {
    font-weight: 700;
    color: sienna;
    font-size: 16px;
}

.compound-calc ul{
    margin: 0 0 10px;
    padding-left: 2em;
}
.compound-calc .summary{
    padding-top:50px;
}

.btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary:active, .compound-calc .btn-check:active+.btn-outline-primary {
    color: #fff;
    background-color: #005689;
    border-color: #005689;
}
.compound-calc input[type=checkbox], .compound-calc input[type=radio] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 4px 0 0;
    line-height: normal;
}
.compound-calc .btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.compound-calc .btn-group>.btn {
    position: relative;
    float: left;
}
.compound-calc .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.compound-calc .btn-outline-primary {
    color: #005689;
    border-color: #005689;
}
.compound-calc .btn-group>.btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.compound-calc .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.tbl-values tr th {
    text-align: center;
    font-size: 15px;
    background: #005689!important;
    color: #fff;
}
.compound-calc .table-condensed>tbody>tr>td, .compound-calc .table-condensed>tbody>tr>th, .compound-calc .table-condensed>thead>tr>td, .compound-calc .table-condensed>thead>tr>th {
    padding: 10px;
    text-align:center;
}
.tbody_values tr td {
    text-align: center;
}

.col-md-4{
    flex:0 0 33.33%;
    width:33.33%;
}
.main-2 table th {
    text-align: left;
    border: 1px solid #ededed;
    padding: 2px 8px;
}

.col-md-8{
    width:66.66%
}
.compound-calc #dailyDonutChartContainer .summary{
    padding-top:0;
    margin-bottom:5px
}
#initialBalance {
    color: red;
    font-weight: 700;
    font-size: 18px;
}
#interestRate, #yearsOfGrowth {
    color: #8a2be2;
    font-weight: 700;
    font-size: 18px;
}
#totalBalance, #totalPayment, #tottalProfit {
    color: #009688;
    font-weight: 700;
    font-size: 18px;
}

@media (min-width: 1200px){
    .compound-calc .col-lg-10 {
        width: 83.33333333%;
    }
}


@media (min-width: 768px){

    .compound-calc .col-sm-7 {
        width: 58.33333333%;
    }
}
@media (max-width: 1024px){
    .col-md-6{
        flex:0 0 100%;
        width:100%;
    }
    .col-md-4, .col-md-8{
        flex:0 0 100%;
        width:100%
    }
    .calc_tbl td:before{
        text-align:left;
        padding-left:15px;
    }
    .calc_tbl tbody.tbody_values td{
        text-align:right!important;
    }
    .compound-calc ul {
        padding-left: 0;
    }
    .div-tble{
        width:100%;
    }
    .compound-calc .col-sm-7 {
        width: 100%;
        flex:0 0 100%;
    }
    .compound-calc .col-sm-5{
        width:100%;
        flex:0 0 100%;
    }
}

@media all and (max-width: 500px)and (min-width: 320px) {
    .calc_tbl tbody.tbody_values td {
        text-align: right;
        padding-right: 14px
    }

    .tbl-values tr th {
        text-align: center
    }
}


@media only screen and (max-width: 760px),(min-device-width: 768px) and (max-device-width: 1024px) {
    .calc_tbl, .calc_tbl tbody, .calc_tbl td, .calc_tbl th, .calc_tbl thead, .calc_tbl tr {
        display: block
    }

    .calc_tbl thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }

    .calc_tbl tr {
        border: 1px solid #ccc
    }

    .calc_tbl td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%
    }

    .calc_tbl td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap
    }

    .calc_tbl td:first-of-type:before {
        content: "Day"
    }

    .calc_tbl td:nth-of-type(2):before {
        content: "Date"
    }

    .calc_tbl td:nth-of-type(3):before {
        content: "Earnings"
    }

    .calc_tbl td:nth-of-type(4):before {
        content: "Reinvest"
    }

    .calc_tbl td:nth-of-type(5):before {
        content: "(Principal/Cash Out)"
    }

    .calc_tbl td:nth-of-type(6):before {
        content: "TOTAL Principal"
    }

    .calc_tbl td:nth-of-type(7):before {
        content: "TOTAL Cash"
    }

    .calc_tbl td:nth-of-type(8):before {
        content: "Dream Vacation City"
    }

    .calc_tbl td:nth-of-type(9):before {
        content: "GPA"
    }

    .calc_tbl td:nth-of-type(10):before {
        content: "Arbitrary Data"
    }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px){
    .calc_tbl td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}
@media (max-width: 500px) and (min-width: 320px){
    .calc_tbl tbody.tbody_values td {
        text-align: right;
        padding-right: 14px;
    }
}

/*  end calculator */