
			.card.category__queen-elizabeth {
    --cs-highlight: #000;
}
.card--breaking-news.category__queen-elizabeth .card__kicker {
  --cs-highlight: #000;
}
.card.category__king-charles {
    --cs-highlight: #7851a9;
}
.card--breaking-news.category__king-charles .card__kicker {
  --cs-highlight: #7851a9;
}
.card.category__impact-am {
    --cs-highlight: #3ae8a5;
}
.card--breaking-news.category__impact-am .card__kicker {
  --cs-highlight: #000;
}
#onesignal-slidedown-container.slide-up {
	top: 0;
	height: 0px;
}		