
      @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,700");
      html,
      body {
        font-family: "Source Sans Pro", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
        padding: 0;
        background-color: #ffffff;
      }
      .header {
        padding: 40px 50px;
      }
      @media only screen and (max-width: 650px) {
        .header {
          padding: 40px 20px;
        }
      }
      .body {
        *zoom: 1;
        padding-top: 109px;
      }
      @media only screen and (max-width: 650px) {
        .body {
          padding: 0px;
        }
      }      
      .body:before,
      .body:after {
        display: table;
        content: "";
        line-height: 0;
      }
      .body:after {
        clear: both;
      }
      .body > .-info-text {
        float: left;
        display: block;
        width: 50%;
      }
      @media only screen and (max-width: 650px) {
        .body > .-info-text {
          width: 100%;
        }
      }
      .body > .-info-text > .-inner-wrp {
        width: 60%;
        display: block;
        margin: 0 auto;
      }
      @media only screen and (max-width: 650px) {
        .body > .-info-text > .-inner-wrp {
          width: 90%;
          padding-left: 20px;
          margin: 0;
        }
      }
      .body > .-info-text > .-inner-wrp > .-pre-headline {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 36px;
        display: flex;
        align-items: center;
        color: #282a35;
      }
      .body > .-info-text > .-inner-wrp > .-headline {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        display: flex;
        align-items: center;
        color: #282a35;
      }
      .body > .-info-text > .-inner-wrp > .-post-headline,
      .body > .-info-text > .-inner-wrp > .-details {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #152536;
        opacity: 0.7;
      }
      .body > .-info-text > .-inner-wrp > .-post-headline > .-homepage-link {
        color: #152536 !important;
      }
      .-helpful-links-header {
        margin-top: 20px;
      }
      .-helpful-links-header  ul {
        padding-left: 25px;
      }
      .-helpful-links-header-text {
        font-weight: 600;
      }
      .-helpful-link-item {
        color: #152536 !important;
      }
      .body > .-info-text > .-inner-wrp > .-details {
        font-weight: bold;
        opacity: 1;
        padding-top: 20px;
      }
      .body > .-img-wrp {
        float: left;
        display: block;
        width: 50%;
      }
      @media only screen and (max-width: 650px) {
        body .body > .-img-wrp {
          display: none;
        }
      }
      .body > .-img-wrp > .-circle {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 312px;
        height: 312px;
        background-color: #d6eee2;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
      }
      .body > .-img-wrp > .-circle > .-smile-icon {
        width: 148px;
        height: 217px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -108.5px;
        margin-left: -74px;
      }
    