
.news-article{max-width: inherit !important; float:none !important;}
.flexi-page.responsive.no-sidebar .widget-area-group-2col #widgetArea17 {display:none;}
.flexi-page.responsive.no-sidebar .widget-area-group-2col #widgetArea16 {width:100%; margin:0;}
.widget-contentparsed #xenforo-comments-static_data{height:auto;}
/* SITES2VAN-1832 */
.flexi-page.premium-supported-template header.header .client__logo,
.flexi-page.premium-advertisement-feature-template header.header .client__logo {
display: none;
}
