
    .holder-cols-checkout .holder-container-resume .item-holder-quantity-price::after {
content: "Apenas 7 em estoque 🔥";
font-size: 11px;
padding: 3px 5px;
color:#e7b300;
font-weight: 600;
background: #000;
border-radius: 4px;
display: inline-block;
align-self: end;
margin-left: 3px;
}


/*BOTÃO*/

.btn-primary, .btn-primary:hover {
background: #28be09;
color: var(--btn-primary-txt-color);
border-radius: 40px;
box-shadow: 0 5px 20px -5px #28be09;
}

/* Tamanho do Preço */
.holder-cols-checkout .cart-resume .detail.total .value {
font-size: 22px;
text-align: end;
}
/* 12x no Cartão */
.holder-cols-checkout .cart-resume .detail.total .value:after {
content: 'em até 12x no cartão';
color: #5c5c5c!important;
display: block;
font-weight: bold;
font-size: 12px;
}




.col-checkout:not(.col-3) .box-checkout.active:not(.upsell) {
width: auto;
padding: 25px;
margin: 1px;
margin-bottom: 15px;
border: 0;
border-radius: 30px;
box-shadow: 0 15px 40px -20px rgb(0 0 0 / 30%)!important;
  
/* Adicionar Icone dos Correios */
.option {
background-image:
url(https://www.propeg.com.br/ad-viewer/Correios/Integrada/macbook.png)!important;
background-size: 27px!important;
content: ""!important;
background-repeat: no-repeat!important;
}
