/**
Notification emails window style
*/
.edit_notification_form, .add_notification_form {
        
        width: 100%;
        padding: 20px;
        text-transform : none;
}

.edit_notification_form .form-table, .add_notification_form .form-table {
        font-size: .7em;
        width : 100%;
}

.edit_notification_form .form-table td, .add_notification_form .form-table td,
.edit_notification_form .form-table th, .add_notification_form .form-table th {
        background : none;
}
                
.edit_notification_form .form-table th, .add_notification_form .form-table th {
        width: 250px;
}

.edit_notification_form .form-table .email_field input, .add_notification_form .form-table .email_field input {
        
        background: #3f4651;
        border: #292f39 solid 1px;
        color: #f1f1f1;
        width:100%;
        font-size: 100%;
        padding-left: 10px;
}
        

.buttons {
        text-align: right;
        padding: 20px;
}

.buttons input.button {
        padding: .5em 1.21575em;
        line-height: 1em;
        font-size: 0.8em;
}


.buttons .left {
        float: left;
        
}

.buttons .button-delete {
        background: #d73b4a !important;
        color: #FFF;
        padding: 10px 20px;
        font-size: 16px;
        line-height: 20px;
}

.buttons .button-delete:hover {
        color: #FFF;
}


.wpas_pf_main_msg {
        display: none;
        margin: 0 30px;
        padding: 3px 15px;
        border-left: #7fc36e solid 3px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        background: #fbfbfb;
}

.wpas_pf_main_msg p {
        margin: 0;
}


.wpas_pf_title {
        margin: 20px 30px 0;
        font-size: 1.4em;
}