@font-face {
  font-family: "SenticoSansDT-Regular";
  src: url("https://aeon-cdn-prod.axlops.nl.aegon.io/assets/latest/SenticoSansDT-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SenticoSansDT-Medium";
  src: url("https://aeon-cdn-prod.axlops.nl.aegon.io/assets/latest/SenticoSansDT-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
