
  cite{
    text-align: center;
    width: 70%;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    font-size: 18px;
  }
  .compartir{
    background-color: #001a4b;
    width: 100%
  }
  .compartir-p{
    display: block;
    color: #fff;
    float: left;
    margin: 0;
    line-height: 2.5;
    text-align: center;
    width: 50%;
  }

  @media all and (min-width: 737px){
    cite{width: 60%; font-size: 26px}
    .compartir{
      background-color: #001a4b;
      width: 30%
    }
    .compartir-p{
      display: block;
      color: #fff;
      float: left;
      margin: 0;
      line-height: 2.5;
      text-align: center;
      width: 42%;
    }
  }
