emine {
	width: 100%;
	clear: both;
	color: red:;
}
.line .line_number {width: 5%; float: left;}
.line .line_company {width: 20%; float: left;}
.line .line_content {width: 50%; float: left;}
.line .line_content .line_content_title {}
.line .line_content .line_content_description {}
.line .line_featured {width: 15%; float: left;}
.line .line_button {width: 10%; float: left;}

thead tr td {font-weight: bold;}
table .leningen {}
td.omschrijving {}

.table-horizontal {width: 100%; font-size: 0.9em; clear: both;}
.table-horizontal-item {display: block; width: 23%; float: left; margin-right: 2%; text-align: center; border: 1px solid #ddd;}
.table-horizontal-item div {padding: 2%; margin: 0; overflow: visible; line-height: 120%;}
.table-horizontal-item div.jkp {border-bottom: 1px dashed #ddd; font-size: 1.2em; padding: 15px; font-weight: bold; background-color: #fff;}
.table-horizontal-item div.jkp a.table-horizontal-link {text-decoration: none; color: #000; border-bottom: none; display: block;}
.table-horizontal-item div.naam {border-bottom: 1px solid #ddd;}
.table-horizontal-item div.type {border-bottom: 1px solid #ddd;}
.table-horizontal-item div.aanbieder {border-bottom: 1px solid #ddd; font-size: 1.1em; background-color: #0093C2; color: #fff; padding: 10px; border-right: 1px solid rgba(0,0,0,0.1); border-left: 1px solid rgba(255,255,255,0.1);}
.table-horizontal-item div.aanbieder a.table-horizontal-link {text-decoration: none; color: #fff; border-bottom: none; display: block;}
.table-horizontal-item div.omschrijving {text-align: left; background-color: #fff; height: 100px; overflow: hidden; padding:10px; font-size: 0.9em}
.table-horizontal-item div.cta {}