
    @-webkit-keyframes qpla0 {
        0% {
            transform: scale(0.5);
        }
        30% {
            transform: scale(1);
        }
        90% {
            transform: scale(0.5);
            border-radius: 30%;
            opacity: 0.4;
        }
        100% {
            transform: scale(0.3);
            border-radius: 50%;
            opacity: 0.3;
        }
    }
    @-moz-keyframes qpla0 {
        0% {
            transform: scale(0.5);
        }
        30% {
            transform: scale(1);
        }
        90% {
            transform: scale(0.5);
            border-radius: 30%;
            opacity: 0.4;
        }
        100% {
            transform: scale(0.3);
            border-radius: 50%;
            opacity: 0.3;
        }
    }
    @-ms-keyframes qpla0 {
        0% {
            transform: scale(0.5);
        }
        30% {
            transform: scale(1);
        }
        90% {
            transform: scale(0.5);
            border-radius: 30%;
            opacity: 0.4;
        }
        100% {
            transform: scale(0.3);
            border-radius: 50%;
            opacity: 0.3;
        }
    }
    @-o-keyframes qpla0 {
        0% {
            transform: scale(0.5);
        }
        30% {
            transform: scale(1);
        }
        90% {
            transform: scale(0.5);
            border-radius: 30%;
            opacity: 0.4;
        }
        100% {
            transform: scale(0.3);
            border-radius: 50%;
            opacity: 0.3;
        }
    }
    @keyframes qpla0 {
        0% {
            transform: scale(0.5);
        }
        30% {
            transform: scale(1);
        }
        90% {
            transform: scale(0.5);
            border-radius: 30%;
            opacity: 0.4;
        }
        100% {
            transform: scale(0.3);
            border-radius: 50%;
            opacity: 0.3;
        }
    }
    @-webkit-keyframes qpla1 {
        0% {
            transform: scale(1);
            border-radius: 15%;
        }
        20% {
            transform: scale(1.1) rotate(0deg);
        }
        60% {
            transform: scale(0.5) rotate(45deg);
            border-radius: 30%;
        }
        80% {
            transform: scale(0.4) rotate(90deg);
            border-radius: 50%;
        }
        90% {
            transform: scale(0.7) rotate(90deg);
            border-radius: 50%;
        }
        100% {
            transform: scale(1) rotate(180deg);
            border-radius: 15%;
        }
    }
    @-moz-keyframes qpla1 {
        0% {
            transform: scale(1);
            border-radius: 15%;
        }
        20% {
            transform: scale(1.1) rotate(0deg);
        }
        60% {
            transform: scale(0.5) rotate(45deg);
            border-radius: 30%;
        }
        80% {
            transform: scale(0.4) rotate(90deg);
            border-radius: 50%;
        }
        90% {
            transform: scale(0.7) rotate(90deg);
            border-radius: 50%;
        }
        100% {
            transform: scale(1) rotate(180deg);
            border-radius: 15%;
        }
    }
    @-ms-keyframes qpla1 {
        0% {
            transform: scale(1);
            border-radius: 15%;
        }
        20% {
            transform: scale(1.1) rotate(0deg);
        }
        60% {
            transform: scale(0.5) rotate(45deg);
            border-radius: 30%;
        }
        80% {
            transform: scale(0.4) rotate(90deg);
            border-radius: 50%;
        }
        90% {
            transform: scale(0.7) rotate(90deg);
            border-radius: 50%;
        }
        100% {
            transform: scale(1) rotate(180deg);
            border-radius: 15%;
        }
    }
    @-o-keyframes qpla1 {
        0% {
            transform: scale(1);
            border-radius: 15%;
        }
        20% {
            transform: scale(1.1) rotate(0deg);
        }
        60% {
            transform: scale(0.5) rotate(45deg);
            border-radius: 30%;
        }
        80% {
            transform: scale(0.4) rotate(90deg);
            border-radius: 50%;
        }
        90% {
            transform: scale(0.7) rotate(90deg);
            border-radius: 50%;
        }
        100% {
            transform: scale(1) rotate(180deg);
            border-radius: 15%;
        }
    }
    @keyframes qpla1 {
        0% {
            transform: scale(1);
            border-radius: 15%;
        }
        20% {
            transform: scale(1.1) rotate(0deg);
        }
        60% {
            transform: scale(0.5) rotate(45deg);
            border-radius: 30%;
        }
        80% {
            transform: scale(0.4) rotate(90deg);
            border-radius: 50%;
        }
        90% {
            transform: scale(0.7) rotate(90deg);
            border-radius: 50%;
        }
        100% {
            transform: scale(1) rotate(180deg);
            border-radius: 15%;
        }
    }
    @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }
    }
    @keyframes dashReverse {
        from {
            stroke-dashoffset: 0;
        }
        to {
            stroke-dashoffset: 450;
        }
    }
    @keyframes bounce {
        0% {
            opacity: 0;
            transform: translateY(-30px);
        }
        60% {
            opacity: 1;
            transform: translateY(15px);
            height: 60%;
        }
        80% {
            transform: translateY(-5px);
            height: 80%;
        }
        100% {
            transform: translateY(0);
            height: 100%;
        }
    }
    @keyframes iconGayab {
        from {
            transform: scale(1.2) rotate(0);
        }
        to {
            transform: scale(0.1) rotate(90deg);
        }
    }
    .qp-logo-wrapper {
        width: 65px;
        height: 65px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 36;
    }
    .loadingDiv {
        width: 100vw;
        height: 100vh;
        background: #fff;
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        z-index: 35;
    }
    .qp-logo-wrapper .qpla0,
    .qp-logo-wrapper .qpla1 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        transform-origin: center;
    }
    .qp-logo-wrapper .qpla0 {
        background: #8DC3F2;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 15%;
        z-index: -2;
        transform: scale(0.1);
        opacity: 0.5;
    }
    .qp-logo-wrapper .qpla0.animate {
        animation-name: qpla0;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
    }
    .qp-logo-wrapper .qpla1 {
        background: #1B3380;
        border-radius: 15%;
        position: absolute;
        width: 76%;
        height: 76%;
        left: 12%;
        top: 12%;
        z-index: -1;
    }
    .qp-logo-wrapper .qpla1.animate {
        animation-name: qpla1;
        animation-duration: 0.6s;
        animation-timing-function: ease-in-out;
    }
    .qp-logo-wrapper .qplgroup {
        transform-origin: center;
        position: relative;
        z-index: 1;
    }
    .qp-logo-wrapper .qplgroup.animate {
        animation: iconGayab 0.5s linear forwards;
    }
    .qp-logo-wrapper .qpla2 {
        transform-origin: center;
        stroke-dasharray: 450;
        stroke-dashoffset: 450;
        stroke-width: 14;
        stroke: #FFF;
        stroke-miterlimit: 10;
        fill: none;
        transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        -webkit-transition: all 0.15s ease-in-out;
    }
    .qp-logo-wrapper .qpla2.forward2 {
        animation: dash 1s linear forwards;
    }
    .qp-logo-wrapper .qpla2.reverse2 {
        animation: dashReverse 0.6s linear forwards;
    }
    .qp-logo-wrapper .qpla3 {
        fill: #FFFFFF;
        transition: all 0.15s ease-in-out;
        -moz-transition: all 0.15s ease-in-out;
        -o-transition: all 0.15s ease-in-out;
        -webkit-transition: all 0.15s ease-in-out;
    }
    .qp-logo-wrapper .qpla3.animate {
        animation-name: bounce;
        animation-duration: 0.5s;
        animation-direction: alternate;
        animation-delay: 0.3s;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
    .qp-logo-wrapper .qpla3.reset3 {
        opacity: 0;
        transform: translateY(-20px);
    }
    .qp-logo-wrapper .qpla3.reverse3 {
        transform: translateY(-20px);
        animation-direction: alternate-reverse;
        opacity: 0;
    }
