
                    #sys_yolacredit_wrap{text-align:center;}
                    #sys_yolacredit{text-align:center;line-height:1.2em;margin:2em auto;font-family:Arial;
                        position:relative;background:#fff url(classes/commons/yola_footer/png/sprites.png?1001119) right 0.3em no-repeat;
                        background-size:7em;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;
                        padding:0.5em 2.6em 0.6em 0.4em;color:#222;font-size:0.6rem;display:inline-block;}
                    #sys_yolacredit p{margin:0;padding:0;line-height:1.2em;}
                    #sys_yolacredit p a{color:#222;text-decoration:none;}
                    #sys_yolacredit p a:hover{text-decoration:underline;}
                    #sys_yolacredit a.yola{font-size:0;position:absolute;top:5px;right:0;display:inline-block;
                        width:25px;height:16px;float:right;text-decoration:none;color:"#fff";}
                    #sys_yolacredit a.yola span{display:none;}
                