div#attributes { display: none !important; }

#awp_edit{
	display: none;
}

#awp_container {
	
}

#awp_attribute_groups {
	list-style: none;
}

#awp_attribute_groups li {
	display: block;
	padding: 20px 10px; margin-bottom: 3px;
	background-color: #efefef;
}

#awp_attribute_groups li img.handle {
	margin-right: 20px;
	cursor: move;
}

.awp_box
{
	background: #fff;
	margin:10px 0 1px 0;
	width: 100%;
	padding: 3px;
}
.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
.xb1, .xb2, .xb3 {height:0px;}
.xb2, .xb3, .xb4 {background:#eeeeee; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9;}
.xb1 {margin:0 5px; background:#d9d9d9; display: none;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:0px; margin:0 1px;}
.xbtop {background-color:#f3f3f3; display: none;}
.xbbot {background-color:#DDDCDC}

.awp_header {
display: block;
border-right: 1px solid #767676;
border-left: 1px solid #767676;
border-top: 1px solid #767676;
font-weight: 400;
font-size: 13px;
overflow: auto;
text-transform: uppercase;
text-align: center;
background: none repeat scroll 0% 0% #FFFFFF !important;
color: #000;
padding: 6px 20px 8px;
margin-top: 10px;
}

.awp_description {
	font-weight: normal;
	font-size: 11px;
}

.awp_content {
	display:block; 
	background:#ffffff; 
	border-right: 1px solid #767676;
    border-left: 1px solid #767676;
    border-bottom: 1px solid #767676;  
	padding: 2px 7px 4px 7px;
	overflow: hidden;
	width: 100%;
}



/* block top languages */
#awp_languages_block_top {
	margin: 0.4em 0.1em 0 0;
	float: left;
}
#awp_languages_block_top p {
	clear: left;
}
#awp_languages_block_top ul#awp_first-languages {
	float: left;
	height: 1.5em;
	width: 100%;
}
#awp_languages_block_top ul#awp_first-languages li {
	float:left;
	margin-right: 0.3em;
}

#awp_languages_block_top ul#awp_first-languages li.selected_language {
	float:left;
	margin-right: 0.3em;
}

.awp_group_image {
	border: 0.5px solid #d9d9d9;
	margin: auto 14px 11px !important;
}

.awp_image_sel
{
	border : 2px solid #000000;
}
.awp_image_nosel
{
	border : 1px solid #D9D9D9;
	
}
.awp_oos {
 	display: none;
}

.awp_clear {
	clear: left;
}
.awp_none {
	display: none;
}
.awp_left {
	float: left;
}
.awp_clean {
	border: none;
	margin:0;
	padding:0
}
.awp_cell_cont{
	float: left;
	margin: 0 1px 10px 0;
}
.awp_rrla
{
	float:left;
	margin-left: 4px;
}
.awp_rrca
{
	width: 12px;
	height: 12px;
	margin: auto;
	margin-bottom: 4px;
	clear: both;
}
.awp_nila
{
	float: left;
	text-align: center;
}
.awp_nica
{
	text-align: center;
	clear: left;
}
.awp_sel_conth
{
	float:left;
	margin-left: 0px;
}
.awp_sel_contv
{
	margin-top: 1px;
}
.awp_tbla
{
	float: left;
	text-align: center;
	margin-left: 6px;
	font-weight: 600;
}
.awp_tbca
{
	text-align: center;
	clear: left;
	margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 12px;
}
.awp_red
{
	color: #BF0909;
}
.awp_pop_close
{
	position: relative;
}
.awp_qty_box
{
	width: 50px !important;
}
.awp_quantity_cell
{
	margin: 0 4px 5px 1px;
	color: #000000;
}
.awp_stock_container
{
	margin-left: auto;
	margin-right: auto;
	float: left;
	clear: both;
	overflow: none;
}
.awp_qt_box_text {
	height: 25px;
	width: 47px;
	background:none;
	text-align: center;
	border:0;
}
@media screen and (max-width: 1024px) {
	.awp_qt_box_text {
		width: 80px;
	}
	.awp_quantity_additional {
		margin-bottom:10px;
	}
	.awp_stock_btn { 
		margin-left:0 !important
	}

	.awp_stock_btn .exclusive {width: 152px;}
}
.awp_sct
{
	float: none;
	max-width: 460px;
	margin: 0 auto 10px auto;
}
.awp_stock
{
	float: left;
	line-height: 30px;
	padding: 5px;
	background: #f5f5f5;
	border: 1px solid #ddd;
}

.awp_stock_btn
{
	float: left;
	margin-left: 10px;
	line-height: 30px;
}
.content_only .awp_stock_btn
{
	margin-left: 0px;
}
#awp_in_stock_second
{
	clear: both;
	margin: auto;
 	text-align: center;	
}
#awp_in_stock
{
	clear: both;
	margin: auto;
 	text-align: center;	
}
#awp_second_price
{
	line-height: 38px !important;
}
#awp_price
{
	line-height: 30px !important;
}
.awp_group_image_container
{
	float: left;
	clear: both;
	margin-right: 6px;
}
.awp_box_inner
{
	float: right;
	clear: right;
}
.awp_gi
{
	margin-right: 10px;
}

.awp_layered_images img
{
	background: none!important;
}

.awp_checkbox_group
{
	width: 16px;
	margin-left: auto;
	margin-right: auto;
}