.closeFontAwesome:before {
        content: "\f00d";
        font-family: "FontAwesome";
        display: inline-block;
        font-size: 23px;
        line-height: 23px;
        color: #FFFFFF;
        padding-right: 15px;
        cursor: pointer;
    }

    .closeButtonNormal {
     display: block; 
        text-align: center;
        padding: 2px 5px;
        border-radius: 2px;
        color: #000000;
        background: #FFFFFF;
        cursor: pointer;
    }

    #cookieNotice p {
        margin: 0px;
        padding: 0px;
    }


    #cookieNoticeContent {
    
        
    }