
    @font-face {
        font-family: GT Walsheim;
        font-style: normal;
        font-weight: 400;
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Medium.woff') format('woff');
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Medium.woff2') format('woff2'), url('https://www.thetech.org/Static/fonts/GT-Walsheim-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: GT Walsheim;
        font-style: italic;
        font-weight: 400;
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Medium-Oblique.woff') format('woff');
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Medium-Oblique.woff2') format('woff2'), url('https://www.thetech.org/Static/fonts/GT-Walsheim-Medium-Oblique.ttf') format('truetype');
    }

    /*//Font weight 700*/
    @font-face {
        font-family: GT Walsheim;
        font-style: normal;
        font-weight: 700;
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Bold.woff') format('woff');
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Bold.woff2') format('woff2'), url('https://www.thetech.org/Static/fonts/GT-Walsheim-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: GT Walsheim;
        font-style: italic;
        font-weight: 700;
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Bold-Oblique.woff') format('woff');
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Bold-Oblique.woff2') format('woff2'), url('https://www.thetech.org/Static/fonts/GT-Walsheim-Bold-Oblique.ttf') format('truetype');
    }

    /*//Font weight 900*/
    @font-face {
        font-family: GT Walsheim;
        font-style: normal;
        font-weight: 900;
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Condensed-Ultra-Bold.woff') format('woff');
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Condensed-Ultra-Bold.woff2') format('woff2'), url('https://www.thetech.org/Static/fonts/GT-Walsheim-Condensed-Ultra-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: GT Walsheim;
        font-style: italic;
        font-weight: 900;
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Condensed-Ultra-Bold-Oblique.woff') format('woff');
        src: url('https://www.thetech.org/Static/fonts/GT-Walsheim-Condensed-Ultra-Bold-Oblique.woff2') format('woff2'), url('https://www.thetech.org/Static/fonts/GT-Walsheim-Condensed-Ultra-Bold-Oblique.ttf') format('truetype');
    }

    /*//Body Fonts*/
    @font-face {
        font-family: Graphik;
        font-style: normal;
        font-weight: 400;
        src: url('https://www.thetech.org/Static/fonts/GraphikRegular.otf') format('opentype');
    }

    @font-face {
        font-family: Graphik;
        font-style: italic;
        font-weight: 400;
        src: url('https://www.thetech.org/Static/fonts/GraphikRegularItalic.otf') format('opentype');
    }

    @font-face {
        font-family: Graphik;
        font-style: normal;
        font-weight: 600;
        src: url('https://www.thetech.org/Static/fonts/GraphikSemibold.otf') format('opentype');
    }


    @font-face {
        font-family: Graphik;
        font-style: italic;
        font-weight: 600;
        src: url('https://www.thetech.org/Static/fonts/GraphikSemiboldItalic.otf') format('opentype');
    }

