/*** Head Line ***/
.sharethis_ewe{
	padding: 8px 0 0 30px;
}
/******** Contact Us ********/
h3#basic-details{
	display: none;
}

h3#display-form a{
	text-decoration: none;
	font-family: 'Open Sans',sans-serif;
	font-size: 13px;
	color: #666;
}

div.contact-form{
	margin-bottom: 40px;
}

form#contact-form fieldset{
	padding: 20px;	
	border: 1px solid #ccc;
}
form#contact-form textarea,
form#contact-form input{
	border: 1px solid #d3d3d3;
	padding: 3px 8px;
}

form#contact-form button{
	background: url("../images/nx-button.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    height:26px;
	text-shadow: none;
	border: 0;
	width: 85px;
	color: #3B3B3B;
}
div.contact-contactinfo{
	margin-bottom: 20px;
}