/************* PRODUCT DETAIL ***************/
#nx-product-details-view{
	margin-top: 20px;
}
h1.nx-product-details-title {
	/*font-size: 15pt;*/
	color: #333;
/*Sol	margin: 5px 20px;*/
/*	text-transform: uppercase;*/
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.nx-product-details-left-pane,
.nx-product-details-right-pane {
	float: left;
/*Sol	margin-bottom: 10px;*/
}
.nx-product-details-left-pane {
	margin-right: 2px;
/*Sol	width: 350px;*/
width: 335px;
}

.nx-product-details-right-pane {
	position: relative;
/*Sol	width: 340px;
width: 460px;*/
/*Sol	margin-left: 10px;*/
}
.nx-product-details-left-pane div.nx-main-image-wrapper {
	width: 232px;
	height:266px;
	padding: 10px;
	margin-left: 15px;
}
.nx-product-details-left-pane img.nx-main-image {
	width: 220px;
	height: auto;
	vertical-align: middle;
	text-align: center;
	padding-left: 5px;
}
.nx-additional-images{
	margin-left: 5px;
}

.nx-additional-images img{
	border: 1px solid #d3d3d3;
	padding: 5px;
	width: 50px;
	height: auto;
}

.addthis_toolbox.addthis_default_style {
	margin-left: 20px;
}
/*** Rating ****/
div.nx-product-details-right-pane div.nx-product-rating{
	margin: 0 0 20px 20px;
    text-align: left;
}

div.nx-product-rating span.vote{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	float: left;
}
.nx-product-rating img{
	width: 80px;
	vertical-align:middle;
}

.nx-review-rating{
	color: #333333;
    float: right;
    font-family: open sans;
    font-size: 12px;
    margin: 0px 130px 0 0;
}

.nx-review-count{
	margin-top: 5px;
	color: #666;
}
/***** Desciption *****/
.nx-product-description {
	margin: 20px;
/*Sol	width: 390px;*/
	float: left;
	text-align: justify;
}

.nx-product-description p{
	text-align: justify;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}
.nx-title-detail, .nx-category-title {
/*Sol    background: none repeat scroll 0 0 #E5E5E5;*/
    font-size: 12pt;
    height: 23px;
    line-height: 23px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.nx-title-detail span,
.nx-category-title span {
 	height:23px;
    line-height:23px;
    display: block;
}
h4.nx-title-detail > span,
h4.nx-category-title > span {
	background:#fff url(../images/nx-category-title-bg2.gif) 100% 0 no-repeat;
	padding-right: 54px;
	float: left;
	color: #333;
	font-weight: bold;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 15px;
}
h4.nx-title-detail > span > span,
h4.nx-category-title > span > span{
	background:#fff url(../images/nx-category-title-bg.gif) 0 0 no-repeat;
	 padding-left:80px;
}

.ui-lightness .ui-widget-header{
	background: #fff !important;
	border-bottom: 1px solid #d3d3d3!important;
	border: none;
}

.ui-lightness .ui-widget-content{
	background: #fff !important;
	border: 0;
}
.ui-lightness .ui-state-active a, 
.ui-lightness .ui-state-active a:link, 
.ui-lightness .ui-state-active a:visited {
    color: #FF3C3A !important;
    text-decoration: none;
}
.ui-lightness .ui-state-active, 
.ui-lightness .ui-widget-content .ui-state-active, 
.ui-lightness .ui-widget-header .ui-state-active{
	border: 1px solid #d3d3d3 !important;
	
}

.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active a{color: #000 !important;}
.ui-lightness .ui-tabs .ui-tabs-nav{
	padding: 0 !important;
}
.ui-lightness .ui-tabs .ui-tabs-nav li {
    padding: 0 12px !important;
    margin: 0 0 1px 2px !important;
} 
.ui-lightness .ui-state-default a, 
.ui-lightness .ui-state-default a:link{
    color: #999999 !important;
    text-decoration: none;
}
/**** Review *****/
#nx-product-reviews .customer-reviews h4 {
	padding: 0;
	margin: 0;
	border: 0;
}

.list-reviews{
	margin: 20px;
}
.list-reviews span.step{
	text-align: justify;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	padding-left: 210px;
}

/**** Icon Email ****/
.nx-icons {
    text-align: right;
    width: 130px;
    margin: 20px 0 0px 210px;
}
.nx-icons a {
    padding: 3px 10px 0 !important;
}
.nx-icons a.modal {
    border-left: 1px solid #E1E0E0;
}

div.nx-product-prices div.PricesalesPrice{
	padding: 10px 0 10px 20px;

}

div.nx-product-prices div.PricesalesPrice span{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #c72a2a;
	font-weight: bold;
}
div.nx-product-prices div.PricediscountAmount{
	margin-left: 20px;
	font-size: 15px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #666;
}
div.nx-product-prices div.PricediscountAmount span{
	font-size: 18px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #666;
}

div.nx-product-prices div.PricepriceWithoutTax{
	color: #666666;
    font-size: 20px;
    padding-left: 20px;
    text-decoration: line-through;
}
.nx-quantity{
	padding: 0px 0px 0px 20px;
	
}

label.quantity_box{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
/*Sol	color: #666;*/
	margin-right: 5px;
}

span.nx-quantity-box{}

input.nx-quantity-input{
	border: 1px solid #A3A510;
    width: 30px;
    text-align: center;
    vertical-align: middle;
    margin-left: 10px;
}

/**** Add to cart ****/
.nx-addtocart-bar {
    margin: 0;
    padding: 0;
}
span.nx-addtocart-button {
    float: left;
 /*Sol   margin: 0 0 0 10px;*/
margin: 5px 20px;
/*    width: 152px;*/
}

span.outofstock {
font-size: 13px;
color:#c72a2a;

}

.ask-2-notify {
/*margin: 10px 0 0;
background: #e8e8e8 url(../images/vmgeneral/backgrounds.png) top repeat-x;*/
border: solid #A3A510 1px;
/*border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
color: #777;
text-decoration: none;
padding: 5px 5px 4px;*/
}

a.ask-2-notify {
font-size: 12px;
font-weight: 700;
display: inline-block;
text-decoration: none;
margin-bottom: 8px;
padding: 3px 12px 1px;
color: #c72a2a;
}
a.ask-2-notify:hover {
color: #777;
text-decoration: none;
}

.avail {
font-weight: bold;
}


a.ask-a-question {
font-size: 12px;
/*font-weight: 700;*/
display: inline-block;
text-decoration: none;
margin-bottom: 8px;
padding: 3px 12px 1px;
margin: 5px 20px;
}

span.nx-addtocart-button input.addtocart-button, span.nx-addtocart-button input.notify-button {
/* sol   background: url("../images/nx-addtocart-button.png") scroll 0 0px ;  
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    width: 152px;
    text-indent: -999em;
    margin: 30px 0 0 0px;
    margin: 30px 0 0 84px;*/
    cursor: pointer;
    height: 32px;
    padding: 4px 5px;
text-decoration: none;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 15px;
border: 2px solid red;
border-radius: 4px;
margin-top: 4px;




}

/***** Cart ******/
.nx-cart{
	background:url(../images/nx-my-bag.png) no-repeat 0px 0px;
	height: 29px;
    padding-left: 30px;
    padding-top: 4px;
}

.nx-cart a{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #606060;
}
.nx-cart a:hover{
	color: #BC1111;
}
.nx-cart span{
	padding-right: 5px;
}

.content.my-groovy-style{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #606060;
}

.content.my-groovy-style >div >div{
	clear: both;
	margin-top: 20px;
}
.content.my-groovy-style a.showcart.floatright,
.content.my-groovy-style a.continue{
	text-decoration: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
/*Sol	color: #fff;*/
border: 1px solid red;
border-radius: 4px;
}

.content.my-groovy-style a.continue{
/*sol	background: url("../images/nx-showcart-2.png") no-repeat center top;*/
	height: 36px;
	width: 166px;
/*Sol	padding: 9px 12px;*/
padding: 3px 10px;
	vertical-align: middle;
}
.content.my-groovy-style a.showcart.floatright{
/*Sol	background: url("../images/nx-continue-2.png") no-repeat center top;*/
/*Sol	height: 26px;*/
/*Sol    padding: 10px 12px;*/
padding: 1px 10px;
    width: 62px;
/*Sol    margin-top: -3px;*/
    border-radius: 5px;
    margin-right: 15px;
}
/*** Custom Fields ****/
.product-fields-title{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
/*Sol	color: #666;
	margin:0 28px 0 20px; */
margin:5px 20px; 
	font-weight: bold !important;
color: red;
}
.product-field{
	margin-bottom: 0px;
}
.product-field-display input{
	padding-right: 4px;
}
.product-field-display img{
	width: 40px;
	height: auto;
	margin-right: 7px;
}

.product-field-display select{
	border: 1px solid #A3A510;
    margin-left: 17px;
 /*Sol   width: 80px;*/
}

/****** Related Product ******/
div.nx-related-product-detail{
	width: 225px;
	float: left;
}
div.nx-product-field.product-field-type-R{
	width: 225px;
	margin: 20px 0px;
}
div.nx-product-field.product-field-type-R a{
	text-decoration: none;
}
div.nx-product-field.product-field-type-R span.nx-product-field-display img{
	width: 130px;
	height: auto;
	margin-left: 45px;
}
.nx-related-products{
	width: 225px;
	margin-left: 20px;
	border-left: 1px dashed #d3d3d3;
	border-right:1px dashed #d3d3d3;
}

p.nx-product-name-related{
	text-align: center;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333;
	margin-bottom: 0px;
}

.nx-product-related-rating{}

.nx-product-related-rating img{
	width: 80px;
	margin-left: 50px;
}

.related-product-price{
	color: #990000;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 0 0 5px;
    margin-left: 46px;
}

.related-product-price-old{
	color: #333;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0 0 5px;
    text-decoration: line-through;
}

.related-product-price-new{
	color: #990000;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0 0 5px;
    margin-left: 10px;
}

p.nx-title-detail > span,
p.nx-category-title > span {
	background:#fff url(../images/nx-category-title-bg2.gif) 100% 0 no-repeat;
	padding-right: 54px;
	float: left;
	color: #333;
	font-weight: normal !important;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 15px;
}
p.nx-title-detail > span > span,
p.nx-category-title > span > span{
	background:#fff url(../images/nx-category-title-bg.gif) 0 0 no-repeat;
	 padding-left:80px;
}

p.nx-title-detail{
	text-align: center;
}

/***** DELIVERY ******/
.nx-delivery{
	background: url("../images/bg-user-14.png") no-repeat 17px 9px #ebebeb;
	height: 36px;
	padding: 13px 20px 10px 56px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin: 30px 0 0 20px;
}

/******** Popup SIZE GIUDE *********/
#size_guide{
	background: url("../images/nx-size-guide.png") no-repeat 0 0;
	height: 24px;
	padding: 0 25px;
	float: right;
	margin:-3px 40px 0 0px;
}
#size_guide a {
	line-height: 24px;
	color: #666666;
}
.ui-dialog{
	height: 500px !important;
    left: 120px !important;
    width: 800px !important;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 8px;
    border-radius: 8px;
    top: -2715px!important;
    border: 5px solid #d3d3d3;
}

div.ui-dialog-titlebar a.ui-dialog-titlebar-close{
	position: absolute;
    right: -15px;
    top: -15px;
    background: url("../images/nx-close.png") no-repeat 0 0 ;
    height: 24px;
    width: 24px;
    text-indent: -999em;
}
#sizeguides{
	height: 500px;
    overflow-y: scroll;
}
#sizeguides h3{
	text-transform: none;
	color: #333;
}
#sizeguides table {
    border-collapse: collapse;
    border-color: #000000;
    border-width: 1px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 25px;
    margin-left: 3px;
    width: 415px;
}
#sizeguides table {
    border-collapse: collapse;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 20px;
}
#sizeguides table .rowheading {
    background: none repeat scroll 0 0 #000000;
    border: 1px none;
    color: #FFFFFF;
    text-transform: uppercase;
}
#sizeguides table td, #sizeguides table th {
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

#sizeguides table .pinkrow {
    background: none repeat scroll 0 0 #FFD8F0;
}

/***** Review *****/
#nx-product-reviews{}
.write-reviews{
	color: #777;
}
input.highlight-button{
	background: url("../images/nx-button-2.png") repeat-x center top !important;
	width: 120px;
	border: 1px solid #a76e00!important;
	border-radius:4px; 
}

/*****************ColorBox *********************/

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(../images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(../images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(../images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(../images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(../images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(../images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(../images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(../images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}