
      textarea:hover, 
      /*input:hover,*/ 
      textarea:active, 
      input:active, 
      textarea:focus, 
      input:focus,
      select:focus,
      button:focus,
      button:active,
      button:hover,
      .btn:active,
      .btn.active
      {
        outline:0px !important;
        -webkit-appearance:none;
        box-shadow: none !important;
      }




      .input-icons i { 
        position: absolute; 
      } 

      .input-icons { 
        width: 100%; 
      } 

      .icon { 
        padding: 15px; 
        min-width: 40px;
        color: #8FA7AD; 
      } 

      .input-field { 
        width: 100%; 
        padding: 6px;
        border-radius: 0px;
        padding-left: 20px ;
        text-align: left;
        border: 1.5px solid #0a0807; 
      } 

      

      .submit-btn {
        background-color:#047ee6;
        /*border-radius:16px;*/
        border:1px solid #0a0807;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:9px 23px;
        text-decoration:none;
        text-shadow:0px -1px 0px #7a2a1d;
      }
      .submit-btn:hover {
        background-color:black;
      }
      .submit-btn:active {
        position:relative;
        top:1px;
      }



    