
		.chat-box [class^="ico-"]:before,
		.chat-box [class*=" ico-"]:before {
			font-family: "dbsicons" !important;
			font-style: normal !important;
			font-weight: normal !important;
			font-variant: normal !important;
			text-transform: none !important;
			speak: none;
			line-height: 1.1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale
		}
		
		/* hide only at homepage for right bottom icons */
        .chatbot-launcher, .chat-greet-text,#closeGreet{
            opacity: 0!important;
            visibility: hidden!important;
            display: none!important;
        }
	