
html {font-family: Georgia, "Times New Roman", Times, serif; background:#abb8c0; }
body {max-width:960px; margin:0 auto; font-size:100%;}
#main {float:left; max-width:960px; background-color:#fff; padding:20px 0 0 0px; box-shadow:1px 1px 3px #000; }
#header {float:left; clear:both; width: 92%; padding:0 4%; background-image:url(images/head-backg.png); background-repeat:repeat-x;}
 #header ul li {float:left; margin:0; padding:0; list-style:none;}
 #header ul a {color:#fff; display:block; padding:5px 15px; background:#9fb0b8; margin:3px 0px 0 20px;}
 #header ul a:hover {color:#706A2C; background:#fff;}
 #header a.here {background-color:#fff; color:#706A2C;}
#header img {max-width:90%; float:left;}

img {max-width:100%; width:auto; height:auto;}

#head-info {clear:both; float:right; text-align:right; font-size:18px; color:#fff; padding-top:5px; margin-right:30px;}

#home-text {width:74%; float:left; line-height: 2;}
#logos {float:right; width:20%; margin:10px 2% 0 0; display:inline-block; text-align:center;}
#logos img {float:none; padding:5px;}
 
#content {float:left; clear:both; padding:2% 20px 2%; }

#about {margin:10px 0 0 60px; line-height:1.3;}
#about img {float:right; padding:0 4% 10px 2%; max-width:200px;}

iframe {max-width:100%;}

#footer {padding:2% 20px; clear:both; max-width:920px; text-align:center;}

a.cwd {display:block; text-align:center; color:#fff; font:11px/23px Verdana, Arial, sans-serif; }
a.cwd:hover {color:#333;}
h1, h2, h3 {font-family:arial,helvetica,serif;}
h1 {font-size:36px; color:#06C;}
h3 {font-size:20px; color:#06C; margin:15px 0 10px 0;}
html.js {visibility:hidden;}

a {color:#969696; text-decoration:none;}
a:visited {color:#969696;}
a:hover {color:#706A2C;}

img {border:none;}
hr {clear:both; height:1px;}

	
	@media screen and (max-width: 768px) {
body {font-size:22px;}
.nav {font-size:18px;}
}

	@media screen and (max-width: 767px) {
#header { background-size:cover;}
#header img {float:none; max-width:98%;}
#head-info {width:100%; clear:both; float:none; text-align:center; background:#1a629e; padding:10px 0;
margin:10px auto 0;}
.nav {text-align:center; float:left;}
#header ul {background:#1a629e; text-align:center; padding:0;}
#header ul li {margin:0 10px;}
#header ul a {margin:0;}
#logos {float:left; width:100%; margin:10px auto;}
#logos img {width:29%;}
#home-text {width:100%;}
#about {margin:0; text-align:center;}
#about img {float:none; max-width:100%; display:block; margin:2em auto .5em; padding:0;}
hr {margin:2em 0 0;}
	}
	
	