
   /* COMPONENT: ACQ Video CSS */
body {
	font-size: 15px
}
#fullContent .row,
#fullContent footer {
	max-width: 1068px;
	margin: 0 auto;
}
#fullContent a {
	text-decoration: none;
}
#fullContent .acq-header {
	padding: 10px 0 0;
}
@media screen and (max-width: 1024px) {
	#fullContent .show-header {
		margin: 0 10px;
	}
        
        html[lang="fi"] #fullContent .big-4, .big-4{
               font-size: 1.5em;
        }
}
#fullContent .page-wraper.darker-gray-bg {
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 0 auto;
}

/* COMPONENT: ACQ Video - Offer */
#fullContent .full-offer-container {
	background-size: 295%;
	background-position: bottom center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}
#fullContent .acq-offer-background {
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 16%;
	padding-bottom: 4%;
}
#fullContent .acq-video-container {
	background-size: cover;
	background-position: center top;
	margin: 0;
	padding: 0 2% 5%;
}
#fullContent .acq-offer-container {
	background-color: rgba(0, 0, 0, 0.9);
}
#fullContent .acq-offer-container .offer-text-container {
	text-align: center;
	text-shadow: 0.05em 0.05em 0.5em #000;
	padding: 0;
	font-size: 1rem;
}
#fullContent .acq-offer-container .promo {
	font-size: 1.15em;
	font-weight: 600;
}
#fullContent .acq-offer-container .offer-text-container>span {
	display: block;
	line-height: 1.2em;
	padding: 0;
}
#fullContent .acq-offer-container .counter {
	background: #464646;
	display: inline-block;
	padding: 0 10%;
	line-height: 1.6em;
	margin: 3% 0 5%;
}
#fullContent .video-overlay-image {
	position: relative;
	display: block;
	z-index: 2;
	max-width: 98.5%;
}
#fullContent .flex-video {
	position: relative!important;
	height: 0;
	z-index: 0;
	overflow: hidden;
	margin-top: -68%;
	margin-left: 6.5%;
	margin-right: 6.5%;
	padding-bottom: 49%!important;
	padding-top: 0;
}
.touch #fullContent .flex-video {
	z-index: 2;
}
.touch #fullContent .video-overlay-image {
	z-index: 0;
}
#fullContent .big-1,
.big-1 {
	font-size: 1.25em
}
#fullContent .big-2,
.big-2 {
	font-size: 1.562em
}
#fullContent .big-3,
.big-3 {
	font-size: 1.875em
}
#fullContent .big-4,
.big-4 {
	font-size: 2.187em
}
#fullContent .big-5,
.big-5 {
	font-size: 3.7em
}
#fullContent .big-6,
.big-6 {
	font-size: 5em
}
#fullContent .big-7,
.big-7 {
	font-size: 5.937em
}
#fullContent .big-8,
.big-8 {
	font-size: 6.562em
}
#fullContent .promocode {
	font-size: 1.125em!important;
}

#fullContent .full-offer-container{
	margin-bottom:2.5em;
}

@media screen and (min-width: 410px) {
	#fullContent .acq-offer-container .offer-text-container {
		font-size: 1rem;
	}
}
@media screen and (min-width: 640px) {
	#fullContent .acq-offer-container .offer-text-container {
		font-size: 0.64rem;
	}
}
@media screen and (min-width: 768px) {
	#fullContent .acq-offer-container .offer-text-container {
		font-size: 0.8rem;
	}
}
@media screen and (min-width: 960px) {
	#fullContent .acq-offer-container .offer-text-container {
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 640px) {
	#fullContent .full-offer-container .large-8 {
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
	}
	#fullContent .acq-video-container {
		background-size: cover;
		padding: 0 0 6.5%;
		background-position: center top;
	}
	#fullContent .acq-offer-background {
		padding-top: 2%;
		height: auto;
	}
}
@media screen and (min-width: 641px) {
	#fullContent .acq-offer-container {
		padding: 1em 1.62em;
	}
	#fullContent .full-offer-container {
		background-size: cover;
		background-position: center 10px;
                padding-bottom: 3%;
	}
	#fullContent .full-offer-container .small-12 {
		padding-left: 0.972em;
		padding-right: 0.972em;
	}
	#fullContent .acq-offer-background {
		background-size: 100%
	}
}
@media screen and (min-width: 972px) {
	#fullContent .acq-video-container {
		margin: 0;
		padding: 0 2% 5%
	}
}

/* COMPONENT: ACQ Video - Steps */
#fullContent .bg-steps {
	background: #222222;
}
#fullContent .acq-steps {
	padding: 1em 0 0;
}
#fullContent .step {
	position: relative;
	padding: 0 0 0 3em;
	margin: 1.5em 0;
	display: table;
	vertical-align: middle;
}
#fullContent .step:nth-of-type(1) {
	max-width: 280px;
}
#fullContent .offer-text-container .step>span {
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px 0 0;
}
#fullContent .acq-steps .white-text {
	font-weight: 400;
}
#fullContent .acq-steps .green-text.big-5 {
	line-height: 1.2em;
	font-size: 5em;
}
@media screen and (max-width: 624px) {
	#fullContent .acq-steps .white-text {
		font-size: 1.5em;
	}
	#fullContent .hide-mobile {
		display: none;
	}
	#fullContent .second-row:before {
		content: ", ";
	}
}
@media screen and (min-width: 640px) {
	#fullContent .acq-steps .second-row {
		display: block;
	}
	#fullContent .acq-steps {
		text-align: center;
	}
	#fullContent .step {
		display: inline-block;
	}
	#fullContent .show-mobile {
		display: none;
	}
}
@media screen and (min-width: 960px) {
	#fullContent .acq-steps .green-text.big-5 {
		font-size: 3.5em;
	}
	#fullContent .acq-steps .white-text {
		font-size: 1.15em;
	}
}

/* == Fixed TNCs == */

#fullContent .fixed-tnc{
    color: #969696;
    font-family: "888", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-size: 0.85rem;
    padding-top: 10px;
    padding-left: .9375rem;
    padding-right: .9375rem;
}

#fullContent .fixed-tnc-title{
    font-weight: bold;
}

#fullContent .fixed-tnc ol,
#fullContent .fixed-tnc ul {
    margin-left: 0;
    margin-top: 0;
    padding-left: 30px;
}

@media screen and (max-width: 1200px) {
	#fullContent .fixed-tnc {
		padding-left: 10px;
                padding-right: 10px;
	}
}

@media screen and (max-width: 640px) {
    #fullContent .fixed-tnc{
           padding-left: 15px;
           padding-right: 15px;
    }
}

.style777  #fullContent .fixed-tnc{
    color: #354d4c;
    font-weight: normal;
    font-size: 1rem;
    font-family: "777",verdana,sans-serif;
}

.style777 #fullContent .fixed-tnc .fixed-tnc-title{
    font-weight: normal;
    font-family: '777-Book';
    color: #bc3554;
}



 