.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

a {
  text-decoration: none;
}

.body {
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gothambook, sans-serif;
  color: #000;
  font-size: 1rem;
  line-height: 1.2;
}

.image {
  width: 240px;
}

.hero {
  width: 100%;
  height: 100%;
  max-height: none;
  min-height: 750px;
  background-image: url('../images/fachada_desk.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.c__sucursales {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #b9baba;
}

.sucursal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pin-icon {
  width: 40px;
}

.title_blue {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Gothambook-bold, sans-serif;
  color: #183f84;
  font-size: 1rem;
  font-weight: 700;
}

.p_suc {
  margin-bottom: 0px;
  text-align: center;
}

.red-cut {
  width: 100%;
  height: auto;
  background-color: #d02526;
}

.title_xl_white {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.text-span {
  font-family: Gothambook-bold, sans-serif;
  color: #fff;
  font-weight: 400;
}

.c__quote {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-height: none;
  min-height: 80vh;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: url('../images/Velero-DESK.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.quote_text {
  position: relative;
  z-index: 2;
  margin-top: 0px;
  margin-right: 0vw;
  margin-bottom: 0px;
  font-family: Gothambook-bold, sans-serif;
  color: #fff;
  font-size: 2rem;
  line-height: 1.2;
}

.text-span-2 {
  position: static;
  font-family: Gothambook-italic, sans-serif;
}

.c__stakeholders {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #b9baba;
}

.stakeholder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.stakeholder.invert {
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stakeholder.first {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.stake_img {
  width: 300px;
}

.c_img {
  margin-right: 0px;
}

.c_text.first {
  padding-left: 60px;
}

.text-block {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Gothambook-bold, sans-serif;
  color: #d02526;
  font-size: 1.5rem;
  font-weight: 700;
}

.c__oficinas {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 70px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-2 {
  width: 120px;
}

.general_headings {
  display: block;
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Gothambook-bold, sans-serif;
  color: #d02526;
  font-size: 1.5rem;
  text-align: center;
}

.paragraph {
  margin-bottom: 0px;
  text-align: center;
}

.oficinas_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 780px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-3 {
  color: #000;
}

.icon-4 {
  color: #000;
}

.img_slider {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.mask-2 {
  position: relative;
  width: 85%;
  height: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.left-arrow-2 {
  display: block;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.right-arrow-2 {
  position: absolute;
}

.slide-nav-2 {
  position: relative;
  margin-top: 10px;
}

.slider-2 {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent;
}

.c__institucional {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 650px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/globo_desk.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.porque_remax {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 450px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.title {
  margin-bottom: 20px;
}

.image-3 {
  width: 250px;
  padding-right: 5px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Gothambook-bold, sans-serif;
  color: #fff;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

.svg_txt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-item {
  color: #fff;
}

.container_1200 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.container_1200.left {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.c__features {
  width: 100%;
  height: auto;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 40px;
}

.grid {
  margin-top: 60px;
  margin-bottom: 60px;
  grid-column-gap: 0px;
  grid-row-gap: 60px;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.feature {
  width: 100%;
  max-width: 380px;
}

.feature.unique {
  padding-top: 10px;
}

.h__features {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Gothambook-bold, sans-serif;
  color: #183f84;
  font-size: 1.2rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.image-4 {
  width: 120px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.final_quote {
  width: 100%;
  height: auto;
  background-image: url('../images/Exito-DESK.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.c__finalquote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 150px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
}

.divider {
  width: 100%;
  height: 50px;
  padding-right: 0px;
}

.c__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Amigues-DESK.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.white_heading {
  font-family: Gothambook-bold, sans-serif;
  color: #fff;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

.p_white {
  font-family: Gothambook, sans-serif;
  color: #fff;
  line-height: 1.4;
  font-weight: 400;
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 60px;
  background-color: #d02526;
  font-family: Gothambook-bold, sans-serif;
  font-weight: 700;
}

.form-block {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.textarea {
  padding-bottom: 60px;
}

.c__rrss {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #b9baba;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 250px;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-3 {
  margin-bottom: 20px;
  font-family: Gothambook-bold, sans-serif;
  color: #d02526;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 700;
}

.image-5 {
  width: 50px;
}

.footer {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 0.8rem;
}

.c__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img_footer {
  position: relative;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.p_footer {
  line-height: 1.4;
}

.comillas {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  padding: 25px;
  -o-object-fit: contain;
  object-fit: contain;
}

.c_navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 70px;
  grid-row-gap: 0px;
}

.nav-menu:active {
  color: #000;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.c__logo {
  height: auto;
  margin-right: auto;
  margin-left: 0px;
}

.image-6 {
  width: 100%;
}

.text-block-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  padding-bottom: 0.75rem;
  font-family: Gothambook-bold, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: -1px;
}

.nav-link {
  width: 115px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}

.nav-link:active {
  color: #000;
}

.nav-link:focus {
  color: #000;
}

.nav-link.w--current {
  color: #000;
}

@media screen and (min-width: 1920px) {
  .sucursal {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .title_xl_white {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .comillas {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .hero {
    min-height: 535px;
    background-image: url('../images/fachada_tablet.jpg');
    background-position: 10% 50%;
    background-size: cover;
  }

  .c__quote {
    min-height: 50vh;
    background-size: cover;
  }

  .stakeholder.invert {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .stakeholder.first {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 39px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .c_text.first {
    padding-left: 0px;
  }

  .c__oficinas {
    max-width: 700px;
  }

  .oficinas_text {
    width: 80%;
    max-width: none;
  }

  .img_slider {
    width: 95%;
    max-width: none;
  }

  .c__institucional {
    height: 100%;
    min-height: 350px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-image: url('../images/globo_tablet.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .container_1200.left {
    margin-bottom: 40px;
  }

  .c__features {
    padding-right: 100px;
    padding-left: 100px;
  }

  .grid {
    grid-row-gap: 60px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .feature {
    display: -ms-grid;
    display: grid;
    max-width: none;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 0.4fr 1fr;
    grid-template-columns: 0.4fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .h__features {
    font-size: 1.4rem;
  }

  .image-4 {
    width: 10rem;
    height: auto;
  }

  .c__finalquote {
    padding-right: 100px;
    padding-left: 100px;
  }

  .div-block {
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .image-5 {
    width: 45px;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .comillas {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  .c_img_grid {
    margin-right: 40px;
  }

  .c_navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: none;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .nav-menu {
    display: block;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: #ececec;
  }

  .navbar {
    width: 100%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../images/remax-logo.svg');
    background-position: 50% 50%;
    background-size: 230px;
    background-repeat: no-repeat;
  }

  .c__logo {
    position: relative;
    left: 0px;
    display: none;
    width: auto;
    margin-right: 0px;
  }

  .menu-button {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .menu-button.w--open {
    background-color: #fff;
    color: #000;
  }

  .nav-link {
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 25px;
    padding-left: 25px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .lottie-animation {
    width: 30px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    min-height: 600px;
    background-image: url('../images/fachada_mobile.jpg');
    background-position: 0px 0px;
    background-size: cover;
  }

  .sucursal {
    margin: 30px;
  }

  .title_xl_white {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  .quote_text {
    font-size: 1.5rem;
  }

  .c__stakeholders {
    width: 100%;
  }

  .stakeholder.invert {
    max-width: none;
    padding-right: 50px;
    padding-left: 50px;
  }

  .stakeholder.first {
    max-width: none;
    padding-right: 50px;
    padding-left: 50px;
  }

  .stake_img {
    width: 100%;
    max-width: 200px;
  }

  .c_text.first {
    padding-left: 0px;
  }

  .text-block {
    font-size: 1.4rem;
  }

  .image-2 {
    width: 110px;
  }

  .general_headings {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
  }

  .icon-3 {
    color: #fff;
  }

  .icon-4 {
    color: #fff;
  }

  .img_slider {
    width: 100%;
  }

  .mask-2 {
    width: 100%;
  }

  .slide-nav-2 {
    position: absolute;
    top: 79%;
    margin-top: 0px;
  }

  .slider-2 {
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .c__institucional {
    min-height: 500px;
    background-image: url('../images/globo_mobile.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }

  .heading {
    font-size: 1.6rem;
  }

  .container_1200 {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .c__features {
    width: 80%;
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
  }

  .feature {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .image-4 {
    width: 15rem;
  }

  .c__finalquote {
    width: 85%;
    max-width: none;
    padding: 68px 0px;
  }

  .heading-2 {
    font-size: 1.2rem;
  }

  .form {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .white_heading {
    font-size: 1.6rem;
  }

  .div-block-2 {
    width: 100%;
    max-width: 200px;
  }

  .heading-3 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .image-5 {
    width: 35px;
  }

  .text-block-2 {
    display: none;
  }

  .nav-link {
    width: 100%;
  }

  .text-field {
    color: #000;
  }

  .lottie-animation {
    width: 25px;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    min-height: 400px;
  }

  .c__sucursales {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .sucursal {
    margin: 0px;
    padding: 45px;
  }

  .p_suc {
    color: #000;
  }

  .title_xl_white {
    height: auto;
    padding: 0px;
  }

  .cta {
    padding: 35px;
    background-color: #d02526;
  }

  .quote_text {
    padding: 25px;
    font-size: 1.2rem;
  }

  .c__stakeholders {
    padding-right: 20px;
    padding-left: 20px;
  }

  .stakeholder.invert {
    padding-right: 0px;
    padding-left: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .stakeholder.first {
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column-gap: 16px;
  }

  .stake_img {
    max-width: 250px;
  }

  .text-block {
    font-size: 1.2rem;
  }

  .image-2 {
    margin: 7px;
  }

  .general_headings {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .slide-nav-2 {
    top: 69%;
  }

  .c__institucional {
    min-height: 400px;
  }

  .c__features {
    width: 90%;
  }

  .grid {
    grid-row-gap: 2.5rem;
  }

  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .h__features {
    text-align: center;
  }

  .image-4 {
    width: 8rem;
  }

  .div-block {
    width: 90%;
  }

  .heading-3 {
    text-align: center;
  }

  .comillas {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    padding: 20px;
  }

  .c_img_grid {
    margin-right: 0px;
  }

  .c_navbar {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .navbar {
    padding-right: 20px;
    padding-left: 20px;
    background-size: 140px;
  }

  .menu-button {
    padding: 0px;
  }

  .nav-link {
    width: 100%;
  }

  .lottie-animation {
    width: 20px;
  }
}

#w-node-db821a6a-46d9-e638-2a5d-0d0e66cbc0aa-254ad24a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_5aa5f249-d068-0e9b-575f-5b1326cefe18-254ad24a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-b399d515-37f4-55d5-4cdb-9d644d9b23b7-254ad24a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_414036e3-bc7c-f8ed-ac25-60c05ec21bc0-254ad24a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_3dc83f14-cfa4-1c7e-99a4-04d603ad6d92-254ad24a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-f803ab46-25ca-7233-0f6b-8e1c1f417e39-254ad24a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: center;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-db821a6a-46d9-e638-2a5d-0d0e66cbc0aa-254ad24a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_5bc44aed-44e5-a44d-4651-12fc73a316d0-254ad24a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_360d7421-2fd9-26e5-d7e2-b0918add63fc-254ad24a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-c1d40fb7-c4e3-02cb-704d-ac1dd34010c7-254ad24a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_6db89300-d859-1a2d-044c-fd2fc46382d3-254ad24a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-def08215-52b7-ce92-97af-97c216a6e7c2-254ad24a {
    -ms-grid-column-align: center;
    justify-self: center;
  }

  #w-node-_29009de6-be42-dd8c-1cfc-3e3ae6518dd7-254ad24a {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@media screen and (max-width: 767px) {
  #w-node-db821a6a-46d9-e638-2a5d-0d0e66cbc0aa-254ad24a {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-db821a6a-46d9-e638-2a5d-0d0e66cbc0aa-254ad24a {
    -ms-grid-column-align: center;
    justify-self: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

@font-face {
  font-family: 'Gothambook';
  src: url('../fonts/GothamBook.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gothambook-bold';
  src: url('../fonts/GothamBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gothambook-italic';
  src: url('../fonts/GothamBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}