
:root {
				/* Customizer-added Global Event styles */
				--tec-color-link-primary: #000000;
--tec-color-link-accent: #000000;
--tec-color-link-accent-hover: rgba(0,0,0, 0.8);
--tec-color-accent-primary: #9e1a2b;
--tec-color-accent-primary-hover: rgba(158,26,43,0.8);
--tec-color-accent-primary-multiday: rgba(158,26,43,0.24);
--tec-color-accent-primary-multiday-hover: rgba(158,26,43,0.34);
--tec-color-accent-primary-active: rgba(158,26,43,0.9);
--tec-color-accent-primary-background: rgba(158,26,43,0.07);
--tec-color-background-secondary-datepicker: rgba(158,26,43,0.5);
--tec-color-accent-primary-background-datepicker: #9e1a2b;
--tec-color-button-primary: #9e1a2b;
--tec-color-button-primary-hover: rgba(158,26,43,0.8);
--tec-color-button-primary-active: rgba(158,26,43,0.9);
--tec-color-button-primary-background: rgba(158,26,43,0.07);
--tec-color-day-marker-current-month: #9e1a2b;
--tec-color-day-marker-current-month-hover: rgba(158,26,43,0.8);
--tec-color-day-marker-current-month-active: rgba(158,26,43,0.9);
--tec-color-background-primary-multiday: rgba(158,26,43, 0.24);
--tec-color-background-primary-multiday-hover: rgba(158,26,43, 0.34);
--tec-color-background-primary-multiday-active: rgba(158,26,43, 0.34);
--tec-color-background-secondary-multiday: rgba(158,26,43, 0.24);
--tec-color-background-secondary-multiday-hover: rgba(158,26,43, 0.34);
			}:root {
				/* Customizer-added Events Bar styles */
				--tec-color-background-events-bar-submit-button: #9e1a2b;
--tec-color-background-events-bar-submit-button-hover: rgba(158,26,43, 0.8);
--tec-color-background-events-bar-submit-button-active: rgba(158,26,43, 0.9);
			}
