锘緻charset "utf-8";
body { color:#666;font:12px/1.231 arial,helvetica,clean,sans-serif,"瀹嬩綋";} /*缃戠珯瀛椾綋棰滆壊*/
a{blr:expression(this.onFocus=this.blur())}/*鍘绘帀a鏍囩鐨勮櫄绾挎锛岄伩鍏嶅嚭鐜板鎬殑閫変腑鍖哄煙*/
a { color:#666; text-decoration:none;}  /*for ie f6n.net*/
a:focus{outline:0;} /*for ff f6n.net*/
a:hover { text-decoration:underline;}
.vam { vertical-align:middle;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
p{ word-spacing:-1.5px;}
.tr { text-align:right;}
.tl { text-align:left;}
.center { text-align:center;}
.fl { float:left;}
.fr { float:right;}
.pa{ position:absolute;}
.pr{ position:relative}
 
/*涓囪兘娓呴櫎娴姩寮€濮?/
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-table; } /* Hides from IE-mac */
* html .clearfix { height: 1%; }
.clearfix { display: block; }


/* -- 椤甸潰鏁翠綋甯冨眬 -- */
.header , .content , .footer { width:1160px; margin:0 auto;  }
.left { width:201px; float:left; overflow:hidden;}
.left2 { width:670px; float:left; overflow:hidden;}
.left3 { width:754px; float:left; overflow:hidden; color:#666;}

.right { width:754px; float:left; display:inline; margin-left:5px; overflow:hidden;}
.right2 { width:275px;  float:right; overflow:hidden;}
.right3 { width:201px; float:right; overflow:hidden; color:#666;}

.right_main { width:752px; min-height:458px; border:solid 1px #d5d5d5; border-top:0; border-bottom:0; padding-bottom:15px; overflow:hidden;}
.right2_main { width:273px; border:solid 1px #d5d5d5; border-top:0; border-bottom:0; padding-bottom:15px; overflow:hidden;}
.left2_main { width:668px;  border:solid 1px #d5d5d5; border-top:0; border-bottom:0; padding-bottom:15px; overflow:hidden;}


/* function */
span{cursor: pointer;}
h2 a:hover{ text-decoration: none;}
input,textarea{ outline:none; }
textarea{ resize:none;}
em{ font-style: normal;}
.f_cb:after,.f_cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f_cb,.f_cbli li{zoom:1;}
.f_ib{display:inline-block;*display:inline;*zoom:1;}
.f_dn{display:none;}
.f_db{display:block;}
.f_pr{position:relative;}
.f_pa{position:absolute;}
.f_fl{float:left;}
.f_fr{float:right;}
.f_prz{position:relative;zoom:1;}
.f_oh{overflow:hidden;}
.f_ar{font-family:arial,\5b8b\4f53;}
.f_fw{font-family:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;}
.f_fa{font-family:Arial, Helvetica, sans-serif;}
.f_fst{ font-family: "瀹嬩綋"; }
.f_fs1{font-size:12px;}
.f_fs2{font-size:13px;}
.f_fs3{font-size:14px;}
.f_fs4{font-size:24px;}
.f_fs5{font-size:30px;}
.f_fs6{font-size:16px;}

.f_cs1{ color:#1369c0;}

.f_fwn{font-weight:normal;}
.f_fwb{font-weight:bold;}
.f_tal{text-align:left;}
.f_tac{text-align:center;}
.f_tar{text-align:right;}
.f_csp{cursor:pointer;}

/*title*/
h1 { font-size:32px;}
h2 { font-size:26px;}
h3 { font-size:16px;}
h4 { font-size:14px;}
h5 { font-size:12px;}
h6 { font-size:10px;}


/* -- 澶栬竟璺 -- */
.m1 { margin:1px; }
.m2 { margin:2px; }
.m5 { margin:5px; }
.m10 { margin:10px; }
.mt2 { margin-top:2px;}
.mt5 { margin-top:5px;}
.mt8 { margin-top:8px;}
.mt10 { margin-top:10px;}
.mt12 { margin-top:12px;}
.mt15 { margin-top:15px;}
.mt20 { margin-top:20px;}
.mt30 { margin-top:30px;}
.mr5 { margin-right:5px;}
.mr10 { margin-right:10px;}
.mr12 { margin-right:12px;}
.ml5 { margin-left:5px; }
.ml7 { margin-left:7px; }
.mb10 { margin-bottom:10px;}
.ml12 { margin-left:12px; }
.ml10 { margin-left:10px; }
.ml20 { margin-left:20px; }



/*澶撮儴寮€濮?/
.g_top{ height:171px; background:url(../topbg.jpg) repeat-x; min-width:1160px;}
.top_t{ height:30px; line-height:30px;color:#999999;}
.top_t p{ float:right;}
.top_t p a{ padding: 0 8px; color:#999999;}
.top_t .a_last{ padding-right:0;}

.top_c h1{ float:left; padding: 17px 16px 0 0;}
.top_c h2{ float:left; height:60px; margin:54px 0 0 0; color: #d80000; font-size: 22px; font-weight: bold; border-left:1px solid #CCC; padding-left:10px;}
.top_c h2 em{ display:block; color:#000000; font-weight:normal; font-size: 20px; padding-top: 7px; }

.top_c p{ float:right; margin:58px 0 0 0 ; padding: 0 0 0 42px; background:url(../tel.jpg) no-repeat left 5px; color:#666666; font-size:14px;font-family:"Microsoft Yahei"}
.top_c p span{ display:block; font-size:28px; color:#d80000;font-weight: bold; font-family:Arial, Helvetica, sans-serif;}

/* 瀵艰埅 */
.g_nav{height: 62px;line-height: 62px;background: #004098; min-width:1160px;}
.g_nav .menu{/*height:62px;*/overflow:hidden; width: 1160px;margin: 0 auto; }
.g_nav .menu .lastli{ background:none;}
.g_nav .menu li{ float: left;/*background:url(../line.jpg) no-repeat right;*/ height: 62px;}
.g_nav .menu li a{ color: #fff; font-size: 14px; font-weight: normal; text-align: center; display: inline-block; padding:0 0 0 20px; height:62px; }
.g_nav .menu li a span{display:inline-block; padding-right: 20px; height:62px;}
.g_nav .menu li a:hover,.menu .cur a{color: #fff; background:url(../lefthover.jpg) no-repeat left 0; text-decoration:none;  padding:0 0 0 20px; cursor: pointer;}
.g_nav .menu li a:hover span,.menu .cur a span{background:url(../righthover.jpg) no-repeat right 0; display:inline-block; color: #fff; text-decoration:none; }

/*澶撮儴缁撴潫*/


/*鎼滅储*/
.g_ser{ height:48px; line-height:48px; background: #f9f9f9;   }
.h_sea{ height:48px;overflow:hidden; color:#666666;}
.h_sea b{font-weight: bold;}
.inp01{height:24px;line-height:24px; background:url(../s_inp.jpg) no-repeat;   padding-left: 30px; width:172px;float:left;color:#999999;  border: none;}
.s_ss { float:left; width:51px; height:24px;}
.key a{color:#666666;padding-right: 15px;}
.s_inp{ padding-top: 12px;}



/*搴曢儴寮€濮?/
.g_ft{ background: url(../ftbg.jpg) no-repeat center top; padding-bottom:40px; min-width:1160px;}
.g_ft .m_fnav{  height:65px; line-height:65px; color:#fff; text-align:center; }
.g_ft .m_fnav a{ color:#fff; padding:0 21px;  font-size: 14px; font-weight: normal;display: inline-block; background: url(../ftline.jpg) no-repeat right top; }
.g_ft .m_fnav .lasta{background: none;}

.g_ft .m_fnav .lasta{ border: none;}
.g_ft .f_ftcon{ color: #95a1bb;line-height: 25px; font-size: 14px; margin:0 auto; text-align:center; padding-top:30px;    }
.g_ft .f_ftcon a{ color:#95a1bb;}

/*搴曢儴缁撴潫*/

 
html{color:#000;background:#FFF; overflow-y:scroll;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
input,select{vertical-align:middle;}
body{font:12px/1.231 Microsoft Yahei,arial,helvetica,clean,sans-serif; background:#fff; }
select,input,button,textarea,button{font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%; border-collapse:collapse;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
.txtboxcs{ border:solid 1px #ccc; height:22px; margin-right:5px;}


/*banner*/
.banner{ height:479px; position:relative; background:url(../loading.gif) 50% no-repeat; min-width:1160px;}
.slides{position:relative;z-index:1;}
.slides li{height:479px;}
.flex-control-nav{position:absolute;bottom:20px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:50px;height:3px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:50px;height:3px;overflow:hidden;background:#fff;cursor:pointer;}
.flex-control-nav .flex-active{background:#ff8400;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:50%;}
.flex-direction-nav li a{display:block;width:50px;height:38px;overflow:hidden;cursor:pointer;position:absolute;filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(../prev_icon.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(../next_icon.png) center center no-repeat;}
.flex-direction-nav li a:hover{filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6;}

/*鍚岃緣鐜崼杞︿骇鍝佷腑蹇?/
/*浜у搧*/
.g_pro{padding-top:20px; }

/* 宸﹁竟 */
.g_pro .m_pleft{ width:223px;}
.g_pro .h503 { height:493px; overflow:hidden}
.g_pro .m_pleft h3{background:url(../flh2bg.jpg) no-repeat; color: #fff; height: 54px;padding-top: 50px;text-align: center;}
.g_pro .m_pleft h3 a{ font-size: 18px; color: #fff;font-weight: bold; }
.g_pro .m_pleft h3 em{display: block;font-weight: normal;font-size: 14px;font-family: arial;text-transform: uppercase;}
.g_pro .m_pleft .m_plc{background:url(../flmid.jpg) repeat-y;border-bottom: 9px solid #004098;margin-bottom: 6px; padding: 0 5px; padding-top: 6px; }

.g_pro .m_plc h4{background:#dde3ec url(../flico1.jpg) no-repeat 180px 11px; width: 195px;height: 39px;line-height: 39px; overflow: hidden;padding-left: 18px; display:inline-block; }
.g_pro .m_plc h4 a{font-weight: bold;font-size: 16px;color: #000000;}

.g_pro .m_pleft .m_plc ul{ padding: 10px 23px 16px;}
.g_pro .m_pleft .m_plc li {height: 35px;line-height: 35px; overflow: hidden;border-bottom: 1px dashed #b1b1b1; }
.g_pro .m_pleft .m_plc .lastli{border-bottom: none;}
.g_pro .m_pleft .m_plc li a{ height: 35px; line-height: 35px;  overflow: hidden; padding-left: 20px; display: block;  font-size: 14px; color: #333333; background:url(../flico2.jpg) no-repeat 4px 14px;font-weight: normal; }
.g_pro .m_pleft .m_plc li a:hover{ color: #d8000f;background:url(../flico3.jpg) no-repeat 4px 14px;}



/* 鍙宠竟 */
.g_pro .m_pright{ width:908px; float: right;}
.g_pro .m_pright h3{margin-top: 20px; height: 47px;line-height: 47px; margin-bottom: 18px;
background:url(../protit.jpg) no-repeat left bottom;
}
.g_pro .m_pright h3 a{color: #fff;font-size: 18px;font-weight: bold; text-align: center; width: 148px;display: inline-block; float: left;}
.g_pro .m_pright h3 a:hover,.g_pro .m_pright .cur{color: #fff;background:url(../cptj.jpg) no-repeat}

.g_pro .m_pright h3 span a{text-transform: uppercase;font-size: 12px;color: #004098;font-weight: normal; font-family: arial; background: none; padding-left: 0;width: 50px;}
.g_pro .m_pright h3 span a:hover{background: none;font-size: 12px;color: #004098;padding-left: 0;width: 50px;}


.g_pro .u_dlst1{width: 292px;height: 266px;background:url(../dl1.jpg) no-repeat left bottom; float: left; margin-right: 12px;}
.g_pro .lastdl{margin-right: 0;}
.g_pro .u_dlst1 dt{width: 92px;height: 211px;}
.g_pro .u_dlst1 dt img{display: block; width: 290px;height: 211px;padding: 1px; }
.g_pro .u_dlst1 dd{margin: 0 22px;}
.g_pro .u_dlst1 dd h4{height: 38px;line-height: 38px;overflow: hidden;text-align: center;}
.g_pro .u_dlst1 dd h4 a{color:#333333;font-size: 14px;font-weight: normal;}
.g_pro .u_dlst1 dd p{font-size: 12px;color: #666666;line-height: 20px; height: 40px;overflow: hidden; width: 204px;float: left;padding-top: 8px;}

.g_pro .u_dlst1.bg{width: 347px;height: 316px;background:url(../dl2.jpg) no-repeat left bottom;display: block;}



/*鎴愬姛妗堜緥*/
.g_zs{ height:282px; padding-top: 30px;}
.g_zs .m_zs h2{background:url(../zstit.jpg) repeat-x left bottom; height: 50px;padding-left: 43px; }
.g_zs .m_zs h2 a{color:#333333; font-size: 24px; text-decoration: none; font-weight: normal; }
.g_zs .m_zs h2 .more{color:#333333; font-size:12px; display: block; padding-top: 12px; }

.m_zs .m_kfc{ padding:25px 0 0 0; height: 270px;  }
.m_zs .u_ljt,.m_zs .u_rjt{ width:31px; height:48px; padding-top:50px;  display:block;}
.m_zs .u_ljt{ padding-right: 20px;}
.m_zs .u_rjt{padding-left: 10px;}
.m_zs .u_ljt a{ background: url(../ljt1.jpg) no-repeat; width:31px; height:48px; display:block;}
.m_zs .u_rjt a{ background: url(../rjt1.jpg) no-repeat; width:31px; height:48px; display:block;}
.m_zs .u_ljt a:hover{ background: url(../ljt1h.jpg) no-repeat; }
.m_zs .u_rjt a:hover{ background: url(../rjt1h.jpg) no-repeat; }

.m_zs .u_mid{ width:1065px; overflow:hidden; }
.m_zs .u_lst1 li{ width:203px; float:left; margin:0 5px; display:inlne; }
.m_zs .u_lst1 .lastli{ margin-right:0;}
.m_zs .u_lst1 li img{ width:200px; height:149px;border: 1px solid #ccc;display: block;background: #fff;padding:2px;}
.m_zs .u_lst1 span{ width:200px; display:block;  height:40px; line-height:40px; overflow:hidden; text-align:center; color:#333333; cursor: pointer; font-size:14px; }
.m_zs .u_lst1 a:hover{text-decoration: none;}


/* 璧拌繘 */
.g_zj{background:url(../zjbg.jpg) no-repeat center top;height:346px; padding-top: 60px; min-width:1160px;}
.g_zj h2{background:url(../zjtit.jpg) no-repeat; height: 56px;padding-left: 45px; width: 620px;}
.g_zj h2 a{ color: #333333; font-weight: bold; font-size: 26px;}
.g_zj .u_more{display: block; margin-top: 10px;}
.g_zj .u_more a{ font-size: 12px; color: #333; font-weight: normal;text-transform: uppercase;display: block;}

.g_zj .u_dlst1 {height: 318px; }
.g_zj .u_dlst1 dt{ width: 419px; float: right; margin-right: 18px;_display:inline; margin-top: 9px; }
.g_zj .u_dlst1 dt img{ width: 419px; height: 235px; display: block;}
.g_zj .u_dlst1 dd{float: left;width: 720px;}

.g_zj .u_dlst1 h3{height: 40px; line-height: 40px; overflow: hidden;border-bottom: 1px solid #e5e5e5;width: 606px;}
.g_zj .u_dlst1 h3 a{ font-size: 16px; color: #333333; font-weight: normal;}
.g_zj .u_dlst1 p{ font-size: 14px; color: #666666;  line-height: 30px; overflow: hidden; width: 606px;padding-top: 10px;}


.g_newcon{padding-top: 20px; margin-bottom:20px;}
.g_news{width: 881px; background:#f1f1f1;}

.g_news h2{ height: 42px; line-height: 42px;font-weight: normal;background: url(../newtit.jpg) no-repeat left bottom; padding-left: 120px;} 
.g_news h2 .u_tab{ float: left; display: inline-block;}
.g_news h2 .u_tab a{ display: inline-block; color: #333333; font-size: 18px;font-family:"Microsoft YaHei"; padding: 0 20px;height: 38px; line-height: 38px; }
.g_news h2 .u_tab a:hover,.g_news h2 .u_tab .cur{ background: #004098; color: #fff; text-decoration: none;}
.g_news h2 .u_more a{ color: #333333; font-size: 12px; font-family: arial;text-transform: uppercase;}


.g_news .u_dlst3{padding-top: 38px; height: 158px;}
.g_news .u_dlst3 dt{ float: left; width: 280px;  margin-right: 20px;}
.g_news .u_dlst3 dt img{width: 270px; height: 121px;display: block; padding: 4px;border: 1px solid #ccc;}
.g_news .u_dlst3 dd{ float: left; width: 540px;}

.g_news .u_dlst3 h4 a{ font-size: 14px; display: block; color: #004098; height: 30px; line-height: 30px; overflow: hidden; font-weight: normal; font-family:"Microsoft YaHei"; border-bottom: 1px solid #e5e5e5;}
.g_news .u_dlst3 p{ color: #373636; font-size: 12px; line-height: 22px; height: 88px; overflow: hidden; padding-top: 6px;}
.g_news .u_dlst3 p a{color: #004098;}

.g_news .u_lst5 li{ float: left;  border-bottom: 1px dashed #d7d7d7; width: 410px; overflow: hidden; padding-left:10px; }
.g_news .u_lst5 li span { display:block; float:right; line-height:31px;}
.g_news .u_lst5 .lastli{border-bottom: none;}
.g_news .u_lst5 li a{ font-size: 12px; color: #333333;height: 30px; line-height: 30px;background:url(../dtico1.jpg) no-repeat 0 12px; display: block; float: left; padding-left: 10px;}
.g_news .u_lst5 li a:hover{color: #d80000;background:url(../dtico2.jpg) no-repeat 0 12px;}


.wend{ width:258px;}
.wend h2{ background: #004098 url(../wdtit.jpg) no-repeat 19px 25px;height: 25px;padding:25px 0;line-height: 25px;padding-left: 65px;} 
.wend h2 a{ color: #fff; font-size: 20px;  font-family:"Microsoft YaHei";font-weight: normal;}
.wend h2 span{display: block; padding-right:10px; }
.wend h2 span a{color: #fff;font-weight: normal;font-size: 12px;text-transform: uppercase;}

.wend .m_zxc{height: 290px;overflow: hidden; border:3px solid #dddddd}
.wend dl{ height: 96px; padding-top: 15px;border-bottom: 1px solid #dcdcdc; margin: 0 18px; }
.wend dt{ height:22px; width:216px; overflow:hidden;  line-height:22px;  font-size:12px; color:#373636; }
.wend dt a{ color:#373636;background:url(../wen.jpg) no-repeat 0 3px;padding-left:28px; display: block;}
.wend dd{ padding-left:28px; background:url(../da.jpg) no-repeat left 3px; line-height:22px; color:#373636; height: 66px; overflow: hidden;}  
.wend dd a{color: #004098;}

/* 鍙嬫儏閾炬帴 */
.g_link{ height: 130px;}
.g_link h2{ height: 50px; line-height: 50px; color: #fff; border-bottom: 2px solid #004098;font-weight: normal;}
.g_link h2 a{color: #373636; font-size: 20px;  text-decoration: none;}
.g_link h2 em{ color: #004098; font-size: 34px; font-weight: normal; text-transform: uppercase;display: inline-block;margin-right: 15px; }

.g_link .more01 a{font-size: 12px; color: #004098; font-weight: normal; display: inline-block; }
.link_c a{ white-space:nowrap;padding-right: 15px; height: 50px; line-height:50px; color:#373636;display: inline-block;}


.t01 , .t02 , .t03 ,   .t05 , .t06 , .t07 , .t08 , .t09 , .plc2 , .rtit , .rtit1 , .pro_lc , .lc1 , .lc2 , .lc3 , .lc4 , .lnav h3 , .userleftnav h4 , .leftsearch , .topsearch , .ljob , .jointel, .club_lin2, .procom h4, .caigou, .comments h4{ background:url(../skinsvibar.png) no-repeat;}


/*---------------------鍏叡鏍峰紡xsl---------------------------*/
.content{ width:1160px;}
.foot{ margin-top:10px;}
.leftr{ float:right; width:216px; overflow:hidden;display:inline;margin-left:5px;}
.rightl{ width:760px; float:left; display:inline; overflow:hidden;}
.pro_main { overflow:hidden;background-color:#fff; border:1px solid #dedede; width:760px; border:none;}
.leib,.leib2,.leib3{ width:216px; }
.ImFooter p,.font_hotline,.leftlx .dianhua span,.leib2 .nr li.cur a{ }
.leib3 .nr .cur a,.leib2 .nr .cur a,.leib2 .nr li.cur a{ color:#004098;font-weight:bold;}
.leib2 .nr h4.cur a{ color:#000;}
#mesbook1AutoClose{ padding-top:0px; margin-top:0px; height:0px;}


/*---闈㈠寘灞戝鑸獂sl---*/
.pro_curmbs { height:36px; line-height:36px; border-bottom:1px solid #004098 ; overflow:hidden;padding: 0 15px 4px 46px;  background:url(../dh.gif) no-repeat 8px center #fff; font-size:14px;} 
.pro_curmbs span { color:#D80000; font-weight:bold; font-family:Microsoft Yahei; padding-right:10px;}
.pro_curmbs a { color:#333; margin-left:5px; margin-right:5px;}
.pro_curmbs a:hover { color:#004098;}
.pro_curmbs .a_b { color:#FE0000; font-weight:bold;}


/*---鑱旂郴鎴戜滑xsl--*/
.mt{overflow: hidden; border-top:none; padding-bottom:6px; width:223px; margin-top:10px; height:350px; background:url(../service_bg_box.jpg) no-repeat center top #fff;}
.project_tp .mt{ }
.mt p img{ margin:auto; width:166px; display:block;}
.mt h4 {  height:42px; line-height:42px; text-align:left; padding-left:15px; }
.mt h4 a{color: #222; font-weight:bold; font-size: 22px; text-decoration:none; font-family:Microsoft Yahei;}
.mt h4 i{ display:block; line-height:14px; font-size:12px; text-transform:uppercase; color:#333;}
.leftlx{}
.leftlx h1{text-align:center;height:30px;line-height:30px;font-size:14px;}
.leftlx .dianh{padding:0 5px 0 10px;}
.leftlx p{line-height:24px;}
.leftlx .dianhua {background: url(../teln.gif) no-repeat scroll 0 18px transparent;color: #333; line-height: 20px;padding: 10px 0 10px 55px;}
.leftlx .dianhua span {display: block;font: 20px "Impact"; color:#004098;}



/*---浜у搧鍒嗙被xsl----*/
.leib2{ width:216px; background:#fff; }
.leib2 .tit{color:#fff;  font:24px "Microsoft YaHei",寰蒋闆呴粦,arial,瀹嬩綋; font-weight:bold; background:#004098; background: url("img/index/flh2bg.jpg") no-repeat scroll;  height:88px;  line-height:58px; text-align:left; overflow:hidden; padding-left:18px; padding-top:14px;}
.leib2 .tit i{color: #f1f1f1;display: block;font: 16px Microsoft Yahei,Helvetica,sans-serif; text-align: left; font-size:14px; line-height:18px; text-transform:uppercase;}
.leib2 .tit a{ color:#333;}
.leib2 .nr{ padding:0px; background:#004098; padding:3px; padding-top:0;}
.leib2 .nr h4{ }
.leib2 .nr h4.hlist2 {background:#FAFAFA;}
.leib2 .nr h4.hlist3 {background:#FAFAFA;}
.leib2 .nr h5 a{background: url("img/index/menu_ico1.gif") no-repeat scroll 15px center #fff; height:42px; line-height:42px; display:block; font-weight:normal; border-bottom:1px solid #E2E2E2; padding-left:30px;}

.leib2 .nr h4 a{ color:#464646; font-size:14px; display:block; font-family:"Microsoft Yahei","寰蒋闆呴粦"; text-decoration:none; height:51px;  background: url("img/common/dpro_jt.png") no-repeat scroll 188px 20px #ECECED; font-weight:normal; line-height:51px; padding-left:15px; border-bottom:1px solid #fff; }
.help .nr h4 a{background: url("img/index/menu_ico1.gif") no-repeat scroll 15px center #FFF;height: 42px;line-height: 42px;display: block;font-weight: normal;border-bottom: 1px solid #E2E2E2;padding-left: 30px;}


/*-------index浜у搧鍒楄〃xsl-------*/
.pro_main_tl{ background:#fff; }
.right_main{ background:#fff; padding-bottom:0px; width:920px; border:0; min-height:auto;}


/*妯″紡浜?/
dl.news_dl {font-size:14px; color:#666; padding:4px 5px; _height:74px; line-height:20px; border-bottom:1px dashed #ccc; padding-top:10px;}
dl.news_dl dt { float:left; margin-bottom:3px; height:64px;  width:80px; background: url('../datebg.png') no-repeat scroll 14px center transparent; }
dl.news_dl .dt_1 { height:24px; line-height:24px; background:url(../ico10.gif) no-repeat 0 9px; color:#333; font-weight:bold;  padding-left:10px; display:block; text-decoration:underline; display:block; font-size:15px; text-decoration:none; font-family: "Microsoft YaHei"; }
dl.news_dl .dt_1:hover {background:url(../ico7.gif) no-repeat 0 9px; color:#666;}/*璧勮棣栭〉鍐呭,鐐瑰嚮鏃剁殑鍥剧墖*/
dl.news_dl .dt_2 { padding-left:16px; width:71px;   font-size:15px; display:block; padding-top:20px; color:#fff; font-family:Verdana;}
dl.news_dl .dt_3 {  display:block; color:#464646;font: 18px/18px "Verdana"; padding-left:14px;}
dl.news_dl .dt_3 a { color:#FF0000; text-decoration:underline;} /*鏂囩珷鍑哄*/
dl.news_dl dd { font-size:12px; float:left; width:808px; padding-left:10px; _height:60px; min-height:64px; overflow:hidden; margin-bottom:10px; color:#1f1f1f;  border-left:1px solid #ccc;}
dl.news_dl dd span a{ display:block;}
dl.news_dl dd p{ display:block;font-family: "Microsoft YaHei"; color:#666;}

.mb10{ margin-bottom:10px;}


.newss .tit{color:#fff;  font:24px "Microsoft YaHei",寰蒋闆呴粦,arial,瀹嬩綋; font-weight:bold; background:#004098;  height:98px;  line-height:58px; text-align:left; overflow:hidden; padding-left:18px;}
.newss .tit i{color: #f1f1f1;display: block;font: 16px Microsoft Yahei,Helvetica,sans-serif; text-align: left; font-size:14px; line-height:18px; text-transform:uppercase;}


/*甯姪涓績 鎴 鍔犵洘涓績*/

.agent_tit{ font-size:22px; text-align:center;}
.agent_data{ font-size:12p; text-align:center; padding:10px 0px;}
.agent_img { text-align:center;}
.agent_img img{ max-width:800px;}
.agent_con {font-size: 14px;line-height: 24px;padding-top: 10px;padding-bottom:15px;}
.agent_con p{ padding: 6px 10px;}
.agent_con .age_li_about{overflow: hidden;padding-left: 15px;padding-right: 15px; font-size:14px; line-height:30px;}
.agent_con .age_li_about p{ padding-top:8px; padding-bottom:8px; text-indent:2em;}
.age_con_key1 a{ padding-left:5px; padding-right:5px;}
.agent_page { padding:10px 20px;overflow:hidden;}
.agent_page a:hover{ color:#004098;}


/*璇︾粏椤 鎺ㄨ崘璧勮*/
.RandomNews {background-color:#fff; margin-bottom:10px;}
.diysr{background-color:#0259A9; height:36px;line-height:36px;padding-left:27px;color: #fff;}
.diysr a{color:#6B9F1F;font-weight:bold;}
.diysr a:hover,.tit a:hover{text-decoration:underline;}
.news_random{background-color:#fff;width:897px;padding-top:8px; padding-left:10px; border-radius:3px; border:solid 1px #d5d5d5; border-top:0px;}
.news_random li{ background:url(../ico7.gif) no-repeat left; height:28px;line-height:28px; padding:0 17px 0 15px;  width:405px; float:left;overflow:hidden;}


/*涓€绾у鑸?/
#subnavs{width: 223px;font-size: 0;}
#subnavs h2{background: url(../flh2bg.jpg) no-repeat;color: #fff;height: 54px;padding-top: 50px;text-align: center;}
.expmenu{background: url(../flmid.jpg) repeat-y;border-bottom: 9px solid #004098;margin-bottom: 6px;
padding: 0 5px; _font-size:0; _width:213px; overflow:hidden;}
/*涓夎鎸夐挳*/
.expmenu li
.expmenu li div.header{width:280px;_width:160px;padding:0 0 6px 0px; height:33px;line-height:33px;} 
.expmenu li div.header .arrow{display:block;width:20px;height:30px;float:right;overflow:hidden;cursor:pointer;}

/*浜岀骇瀵艰埅*/
.expmenu li .menu{_width:160px;display: inline-block;padding: 10px 23px 16px;_padding:0px;}
.expmenu li .menu li{width:180px;height: 35px;line-height: 35px;overflow: hidden;border-bottom: 1px dashed #b1b1b1;}
.expmenu li .menu li a{height: 35px;line-height: 35px;overflow: hidden;padding-left: 30px;font-size: 14px;color: #333333;
background: url(../flico2.jpg) no-repeat 14px 7px;
font-weight: normal;}
.header .hacss{background: #dde3ec url(../flico1.jpg) no-repeat 180px 11px;width: 195px;height: 39px;line-height: 39px;overflow: hidden;padding-left: 18px;display: inline-block; _margin:0px;}
.header .hacss a{font-family: "Microsoft YaHei";font-size: 16px;color: #0f68b9;font-weight: normal;text-align:left;}


.cp #subnavs ,.cp .expmenu ,.cp .expmenu .header ,.cp .expmenu li .menu ,.cp .hacss{ width:230px; _width:180px; _margin-top:0px;}

.right{ width:910px; float:right; }
.left{ width:226px;}
.left_ad{ margin-bottom:0px;}


.Page{width:100%; text-align:center; padding:50px 0px; padding-left:20px;}
.Page a{display:inline-block;width:65px;background:#ffffff;height:48px; vertical-align:middle; line-height:48px; font-size:14px; border:1px solid #e5e5e5; margin-left:-1px; float:left;text-decoration:none; color:#333; outline:none;}
.Page a:hover{ background:#004098; color:#FFF;background-repeat:no-repeat; }
.Page span{display:inline-block;min-width:45px; padding:0 10px;background:#ffffff;height:48px; vertical-align:middle; line-height:48px; font-size:14px; border:1px solid #e5e5e5; margin-left:-1px;float:left;}
.Page span.current{ background:#004098; color:#FFF}

.wbytable td{ padding:8px;} 
.wbytable .wbytext{ outline:none; padding:5px; height:22px; width:320px; border:1px solid #e3e3e3;}    
.wbytable .wbyarea{ padding:5px; outline:none; width:450px; border:1px solid #e3e3e3; height:125px;}   
.wbytable .msgbut{ width:90px; height:32px; line-height:32px; cursor:pointer; color:#555;}             
.wbytable .wbytextyz{ outline:none; padding:5px; height:22px; width:100px; border:1px solid #e3e3e3;float:left;} 
.wbytable .wyzm{ padding-top:6px; display:block; width:48px; height:22px; float:left; padding-left:8px;} 