.announcements-bar {
  font-size: var(--font-announcement-size);
  font-family: var(--font-announcement-family);
  font-style: var(--font-announcement-style);
  font-weight: var(--font-announcement-weight);
  text-transform: var(--font-announcement-text-transform);
  letter-spacing: var(--font-announcement-letter-spacing);
}
.announcement {
  max-width: none;
  padding: 8px;
}