
form { margin: 0; padding: 0; }
.cookies_container{position:fixed;bottom:0px;width:100%;height:180px;background:#eaeaea;z-index:9999;}
.cookies_info{margin:0 auto;width:860px;background:#eaeaea;padding:20px;margin-top:5px;padding-top:1px;z-index:9999;text-align:left;font-size:12px;}
.cookies_info_close{position:absolute;margin:0 auto;bottom:10px;margin-left:550px;font-weight:bold;font-size:16px;color:red;}
.cookies_info a{text-decoration:underline;}
