
					@media (max-width: 576px) {
						.$ {
							resource.name @ context='styleToken'
						}
						{
							background-image: url(../assets/images/bg_cartao.png);
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center center;
						}
					}
					
					@media (min-width: 576px) {
						.$ {
							resource.name @ context='styleToken'
						}
						{
							background-image: url(../assets/images/bg_cartao.png);
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center center;
						}
					}
					