.index-wrap .swiper-button {
  width: 34px;
  height: 34px;
  margin-top: -17px;
}

.index-wrap .swiper-button-next {
  top: 47%;
  right: 6.5%;
}

.index-wrap .swiper-button-prev {
  top: 47%;
  left: 6.5%;
}

.out-title-wrapper {
  text-align: center;
  line-height: unset !important;
  height: auto !important;
}

.out-title-wrapper .out-title {
  color: #606060;
  font-size: 0.61333rem;
  z-index: 1;
  margin-top: 0.2857rem;
}

.out-title-wrapper .viewmore2 {
  position: absolute;
  font-size: 0.2857rem;
  text-transform: uppercase;
  color: #2d2d2d;
  text-decoration: underline;
  font-weight: 700;
  right: 5%;
  bottom: 15%;
}

@media (min-width: 992px) {
  .out-title-wrapper .viewmore2 {
    font-size: 16px;
    right: 15%;
  }
}

@media (min-width: 992px) {
  .out-title-wrapper .out-title {
    font-size: 46px;
    margin-top: 40px;
  }
}

.out-title-wrapper .out-title>span {
  padding: 0 0.4rem;
}

.out-title-wrapper .out-title>span a {
  text-decoration: none;
}

@media (min-width: 992px) {
  .out-title-wrapper .out-title>span {
    padding: 0 30px;
  }

}

.out-title-wrapper .out-title .title-info {
  color: #b5b5b5;
  font-size: 0.29333rem;
}

@media (min-width: 992px) {
  .out-title-wrapper .out-title .title-info {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .banner {
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .home .animated.slideUp {
    -webkit-animation-name: slideDown;
    animation-name: slideDown;
  }
}

.banner .swiper-slide img {
  width: 100%;
}

.banner .swiper-pagination-bullet {
  width: 0.13333rem;
  height: 0.13333rem;
  opacity: 1;
  background: #d6d6d6;
}

.banner .swiper-pagination-bullet-active {
  opacity: 1;
  background: #5e5e5e;
}

.banner .swiper-button-next {
  right: 80px;
}

.banner .swiper-button-prev {
  left: 80px;
}

.category {
  margin: 0;
  padding: 0 0.2rem;
}

@media (min-width: 992px) {
  .category+.item-two {
    margin-top: 55px;
  }
}

@media (min-width: 992px) {
  .category {
    padding: 0 28px;
  }

  .index-entry {
    padding: 0 150px;
  }
}

.category>a {
  margin-top: 0.4rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

@media (min-width: 992px) {
  .category>a {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.flash-deals-wrapper .out-title-wrapper::before {
  top: 80%;
}

.flash-deals-wrapper .end-in {
  color: #b5b5b5;
  font-size: 0.4rem;
}

@media (min-width: 992px) {
  .flash-deals-wrapper .end-in {
    font-size: 30px;
    padding-right: 20px;
  }
}

.flash-deals-wrapper .t-num {
  color: #5e5e5e;
  font-size: 0.4rem;
}

@media (min-width: 992px) {
  .flash-deals-wrapper .t-num {
    font-size: 30px;
  }
}

.flash-deals-wrapper em {
  color: #b5b5b5;
  font-size: 0.21333rem;
  font-style: normal;
}

@media (min-width: 992px) {
  .flash-deals-wrapper em {
    font-size: 14px;
    padding: 0 20px;
  }
}

.flash-deals-wrapper .flash-sold {
  color: #606060;
  font-size: 0.26667rem;
  margin-top: 0.2rem;
}

@media (min-width: 992px) {
  .flash-deals-wrapper .flash-sold {
    margin-top: 15px;
    font-size: 14px;
  }
}

.flash-deals-wrapper .progress {
  height: 0.08rem;
  background-color: #f19ea5;
  border-radius: 0.04rem;
}

@media (min-width: 992px) {
  .flash-deals-wrapper .progress {
    height: 6px;
    border-radius: 3px;
  }
}

.flash-deals-wrapper .flash-name>a {
  display: block;
  font-size: 14px;
  color: #b5b5b5;
  height: 28px;
  line-height: 36px;
}

.flash-deals-wrapper .shop-now {
  height: 0.66667rem;
  line-height: 0.66667rem;
  font-size: 0.21333rem;
  border-radius: 0 0.02667rem 0.02667rem 0;
  margin-top: 0.13333rem;
}

.flash-deals-wrapper .shop-now:hover,
.flash-deals-wrapper .shop-now:focus {
  text-decoration: none;
}

@media (min-width: 992px) {
  .flash-deals-wrapper .shop-now {
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    border-radius: 0 2px 2px 0;
    margin-top: 10px;
  }
}

.flash-deals-wrapper .swiper-button {
  margin-top: -85px;
}

.item-two {
  margin: 0.13333rem 0.2rem 0 0.2rem;
}

@media (min-width: 992px) {
  .item-two {
    margin: 30px 40px 0;
  }
}

.item-two>a {
  padding: 0.2rem;
}

@media (min-width: 992px) {
  .item-two>a {
    padding: 10px;
  }
}

.item-one {
  padding-top: 0.4rem;
}

@media (min-width: 992px) {
  .item-one {
    padding-top: 55px;
  }
}

@media (min-width: 992px) {
  .view-more {
    width: 230px;
  }
}

/*æ°ç¨æ·æ³¨åå¼¹çª*/
.index-banner-modal .modal-dialog {
  max-width: 750px;
}

.index-banner-modal .modal-content {
  border: 0;
}

.index-banner-modal .modal-header {
  border: 0;
  padding: 0;
  position: relative;
}

.index-banner-modal .modal-header button.close {
  color: #000;
  outline: none;
  position: absolute;
  z-index: 1;
  right: 0.42857rem;
  top: 0.42857rem;
}

@media (min-width: 992px) {
  .index-banner-modal .modal-header button.close {
    right: 30px;
    top: 30px;
  }
}

.index-banner-modal .modal-body {
  padding: 0;
  line-height: 0;
}

.category a img,
.item-two>a img {
  margin: 0 auto;
}



.index-wrap .d-flex {
  margin: 0;
  padding-left: 0;
}

.index-wrap ul li {
  list-style: none;
}

.index-wrap .i-href {
  display: block;
  cursor: pointer;
}

.index-wrap .swiper-button-next {
  right: -37px;
  background-color: transparent;
}

.index-wrap .swiper-button-prev {
  left: -37px;
  background-color: transparent;
}

.index-wrap .linkMore {
  display: block;
  font-size: 1.0416vw;
  color: #000;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 4.16666vw;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
  font-family: 'FuturaStd-Book';
}

.index-wrap .linkMore img {
  margin-left: 0.5208vw;
}



.index-wrap .linkMore span {
  width: 0.8854vw;
  height: 0.8854vw;
  border: 1px solid #000000;
  position: relative;
  display: block;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
  line-height: 0.8854vw;
  float: right;
  position: relative;
  top: 0.78125vw;
  font-size: 0.9375vw;
  margin-left: 0.5208vw;
}

.index-wrap .swiper-pagination-wrap {
  text-align: center;
  width: 100%;
  height: 0;
}

.index-wrap .swiper-pagination-wrap .swiper-pagination {
  bottom: 2.0833vw;
  left: 0;
  right: 0;
  margin: auto;
}

.index-wrap .banner .swiper-button-prev {
  left: 80px;
  background-color: #fff;
}

.index-wrap .banner .swiper-button-next {
  right: 80px;
  background-color: #fff;
}

.index-wrap .Entrance-wrap {
  display: none;
}
.index-wrap .addDown-wrap{
  position: fixed;
  bottom:0;
  top: 0;
  right: -640px;
  margin:auto;
  z-index:9;
  width: 700px;
  height: 440px;
  display: none;
  transition: all 0.7s ease-in;
}
.index-wrap .addDown-wrap.show{
  right: 0;
}


@media (min-width: 992px) {
  .index-wrap .addDown-wrap {
    display: flex;
    justify-content: space-around;
  }
}
.index-wrap .addDown-wrap .down-btn{
  width: 60px;
  position:relative;
}
.index-wrap .addDown-wrap .down-btn::before{
  content:'';
  position:absolute;
  border-color: transparent #fff transparent transparent;
  border-style: dashed dashed dashed none;
  border-width: 9px 13px 9px 0px;
  left: 0;
  right: 0;
  top: 37px;
  margin: auto;
  height: 18px;
  width: 13px;
  transition: all .4s ease 0s;
}
.index-wrap .addDown-wrap.show .down-btn::before{
  transform: rotate(180deg);
}
.index-wrap .addDown-wrap .down-img{
  width: 640px;
  height: 440px;
  position: relative;
  background: #fc8bf6;
}
.index-wrap .addDown-wrap .down-img img{
  width: 640px;
  height: 440px;
}
.index-wrap .addDown-wrap #down-code{
  position: absolute;
  bottom: 86px;
  left: 154px;
}
.index-wrap .category-wrap,
.index-wrap .themes-wrap,
.index-wrap .coupons-wrap,
.index-wrap .bestSelling-wrap,
.index-wrap .clearance-wrap,
.index-wrap .new-arrivals-wrapper {
  margin-top: 0;
  position: relative;
  overflow: hidden;
}

.index-wrap .category-wrap {
  margin: 3.8541vw 0 0;
}

.index-wrap .category-wrap ul {
  margin: 0 -0.52083vw;
}

.index-wrap .category-wrap li {
  padding: 0 0.52083vw
}

/* .index-wrap .category-wrap li:first-child{
  padding-left:0;
}
.index-wrap .category-wrap li:last-child{
  padding-right:0;
} */

.index-wrap .themes-wrap {
  background: #fff;
  padding: 0 5.46875vw;
  background-size: 100%;
}

.index-wrap #themesSwiper {
  position: relative;
}

.index-wrap #themesSwiper img {
  width: 100%;
  display: block;
}

.index-wrap .themes-wrap .out-title-wrapper::before {
  display: none;
}

.index-wrap .themes-wrap .out-title-wrapper .out-title::before {
  background: #fff;
}

.index-wrap .themes-wrap ul {
  margin-left: 0;
  padding-left: 0;
}

.index-wrap .themes-wrap li {
  padding: 0 1%;
}

.index-wrap .bestSelling-wrap {
  position: relative;
  padding: 0 10.4166vw;
}

.index-wrap .bestSelling-wrap .i-href {
  position: absolute;
  height: 100%;
}

.index-wrap .bestSelling-wrap .i-href img {
  height: 38.125vw;
  display: block;
}

.index-wrap .bestSelling-wrap #bestSaleSwiper {
  margin-left: 0;
  padding: 0;
  position: relative;
}


.index-wrap .bestSelling-wrap .swiper-slide {
  width: 20% !important;
  max-width: 20% !important;
  padding: 0 0.78125vw 0;
}


.index-wrap .bestSelling-wrap .swiper-button {
  width: 2.0833vw;
  height: 2.0833vw;
  top: 46%;
}

.index-wrap .bestSelling-wrap .swiper-button-next {
  right: -1.3vw;
}

.index-wrap .bestSelling-wrap .swiper-button-prev {
  left: -1.3vw;
}

.index-wrap .bestSelling-wrap #bestSaleSwiper .gcard-group {
  padding: 0;
  margin: 0;
  padding-bottom: 1.24992vw;
}
.index-wrap .bestSelling-wrap .discount-icon-ph{
  background:#B30000;
  width: 63px;
  height: 27px;
  font-size: 18px;
  font-family: Arial;
  padding: 0;
  line-height: 28px;
  z-index: 2;
}


.index-wrap .out-title-wrapper .out-title {
  font-size: 1.6666vw;
  margin-bottom: 2.08333vw;
  margin-top: 0;
  font-family: "FuturaStd-Heavy";
  background: transparent;
  line-height: 2.60416vw;
  letter-spacing: 0px;
  color: #000000;
  padding-top: 4.16666vw;
  font-weight: bold;
}

.index-wrap .new-arrivals-wrapper .home-goods-list .pro-collect {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  z-index: 3;
  top: 10px;
  left: unset;
  right: 10px;
}

.index-wrap .new-arrivals-wrapper .home-goods-list .pro-collect .icon-wish {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 7px;
  left: 7px;
}


.index-wrap .gcard-price__old {
  margin-left: 0.1333rem;
}

.index-wrap .clearance-wrap {
  margin-top: 4.16666vw;
}

.index-wrap #viewMore_index {
  width: 16.40625vw;
  color: #fff;
  font-size: 1.25vw;
  line-height: 3.5416vw;
  margin: 1.4583vw auto 3.125vw;
  display: block;
  background: #030303;
  border-radius: 4px;
  text-decoration: none;
  font-family: Arial;
}

.index-wrap .viewMore-loading img {
  width: 6.25vw;
  display: block;
  margin: 0.265rem auto 0.68rem;
}

.index-wrap .skeleton-wrap {
  padding: 0 1.5625vw;
}

.index-wrap .skeleton-wrap li+li {
  margin-left: 1.25vw;
}



.index-wrap .categoryShop-wrap,
.index-wrap #newArrivalsWrapperUl {
  padding: 0 10.4166vw;
}
@media (min-width: 768px) {
  .index-wrap #newArrivalsWrapperUl li{
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 0.78125vw;
    margin-bottom: 1.0416vw;
  }
}
.index-wrap .gcard-img-wrap .img-fluid{
  width: 100%;
}
.index-wrap .categoryShop-wrap ul {
  justify-content: space-between;
  flex-wrap: nowrap;
  text-align: center;
}

.index-wrap .categoryShop-wrap li {
  /* margin-left:1.25vw; */
}

.index-wrap .categoryShop-wrap li:first-child {
  margin-left: 0;
}

.index-wrap .categoryShop-wrap .img-wrap {
  background: #EEEEEE;
  /* border-radius: 50%; */
  /* margin-bottom: 1.2vw; */
  width: 8.802vw;
  /* height: 8.802vw; */
}

.index-wrap .categoryShop-wrap p {
  font-size: 1.25vw;
  height: 1.04vw;
  color: #040000;
  line-height: 1.04vw;
  font-family: Arial;
}

.index-wrap .swiper-pagination {
  bottom: 0;
}

.index-wrap .swiper-pagination .swiper-pagination-bullet {
  width: 1.5625vw;
  margin: 0 3px;
  height: 0.20833vw;
  border-radius: 2px;
  background: #E5E5E5;
  opacity: 1;
}

.index-wrap .swiper-pagination .swiper-pagination-bullet-active {
  background: #000;
}

.index-wrap .gcard-price__current {
  font-size: 1.04166vw;
  font-weight: 500;
  color: #040000;
  font-family: 'FuturaStd-Book';
}
@media (max-width: 1400px) {

  .index-wrap .categoryShop-wrap,
  .index-wrap .bestSelling-wrap,
  .index-wrap #newArrivalsWrapperUl {
    padding: 0 9vw;
  }


.index-wrap .gcard-price__current {
    font-size: 1.2vw;
  }
}

.index-wrap .gcard-name {
  font-size: 0.83333rem;
  line-height: 1.0416vw;
  height: 1.0416vw;
  color: #999999;
  padding: 0;
  margin-top: 0.625vw;
}

.index-wrap .gcard-price {
  margin-top: 0;
  line-height: 2.60416vw;
  padding: 0;
  height: 2.60416vw;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index-wrap .viewGo {
  width: 1.1458vw;
  height: 1.1458vw;
}


/* @media (min-width: 768.1px) {
  .index-wrap .new-arrivals-wrapper .home-goods-list .gcard-group {
    flex-wrap: wrap !important;
    padding: 0 10.4166vw;
  }

  .index-wrap .new-arrivals-wrapper .home-goods-list {
    margin: 0;
    padding: 0;
  }

  .index-wrap .new-arrivals-wrapper .home-goods-list .gcard {
    margin-bottom: 0.9375vw;
    padding: 0 0.78125vw;
    width: 20% !important;
    max-width: 20% !important;
  }
} */

@media (max-width: 768px) {
  .index-wrap .bestSelling-wrap #bestSaleSwiper .gcard-price .gcard-price__current{
    font-size: 0.32rem; font-weight: 500;
  }
  .index-wrap .bestSelling-wrap .discount-icon-ph{
    width: unset;
    height: unset;
    font-size: 0.32rem;
    padding: 0.13333rem 0.2057rem;
    line-height: 1.2;
  }
  .index-wrap .swiper-pagination-wrap .swiper-pagination {
    bottom: 0.53333rem;
  }

  .index-wrap .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    width: 0.42666rem;
    height: 2px;
    background: #DCDCDC;
    border-radius: 1px;
  }

  .index-wrap .swiper-pagination .swiper-pagination-bullet-active {
    background: #000;
  }

  .index-wrap .Entrance-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 0.5333rem;
  }

  .index-wrap .category-wrap,
  .index-wrap .themes-wrap,
  .index-wrap .coupons-wrap,
  .index-wrap .bestSelling-wrap,
  .index-wrap .clearance-wrap,
  .index-wrap .new-arrivals-wrapper {
    margin-top: 0;
  }

  .index-wrap .linkMore {
    top: 0;
    width: 4.7466rem;
    height: 0.6933rem;
    line-height: 0.6933rem;
    margin-top: 0;
    font-size: 0.32rem;
    color: #999999;
    position: relative;
    padding-right: 0.4rem;
  }

  .index-wrap .linkMore img {
    width: 12px;
    height: 12px;
    margin-left: 3px;
  }

  .index-wrap .linkMore span {
    margin-left: 2px;
    top: -1px;
  }

  .index-wrap .category-wrap {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5333rem;
  }

  .index-wrap .categoryShop-wrap {
    padding: 0;
  }

  .index-wrap .categoryShop-wrap ul {
    padding: 0 0 0 0.4rem;
    display: flex;
    flex-wrap: wrap;
  }

  .index-wrap .categoryShop-wrap li {
    margin-right: 0.4rem;
    margin-bottom: 0.48rem;
  }

  .index-wrap .categoryShop-wrap .img-wrap {
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.2rem;
  }

  .index-wrap .categoryShop-wrap p {
    height: 0.426rem;
    line-height: 0.426rem;
    font-size: 0.32rem;
  }

  .index-wrap .category-wrap ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .index-wrap .category-wrap li {
    max-width: calc(50vw - 0.13333rem);
    margin-bottom: 0.26666rem;
    padding: 0;
  }

  .index-wrap .category-wrap li+li {
    margin-left: 0;
  }

  .index-wrap .category-wrap li:nth-child(3),
  .index-wrap .category-wrap li:nth-child(4) {
    margin-bottom: 0;
  }

  .index-wrap .themes-wrap {
    padding-left: 0.32rem;
    padding-right: 0.32rem;
    padding-bottom: 0;
    background-size: 100%;
  }

  .index-wrap .themes-wrap li {
    margin-bottom: 0.2666rem;
  }

  .index-wrap .themes-wrap .swiper-button,
  .index-wrap .bestSelling-wrap .swiper-button {
    background-color: #fff;
    opacity: 1;
    width: 0.42666rem;
    height: 0.42666rem;
    top: 52%;
    border: 1px solid #666;
  }

  .index-wrap .themes-wrap .swiper-button-next {
    right: -0.21333rem;
  }

  .index-wrap .themes-wrap .swiper-button-prev {
    left: -0.21333rem;
  }

  .index-wrap .bestSelling-wrap {
    position: relative;
    height: auto;
    padding: 0;
    margin-bottom: 0.93333rem;
    margin-top: -0.2666rem;
  }

  .index-wrap .bestSelling-wrap .i-href {
    position: relative;
    height: auto;
  }

  .index-wrap .bestSelling-wrap .i-href img {
    width: 100%;
    height: auto;
  }

  .index-wrap .bestSelling-wrap #bestSaleSwiper {
    margin-left: 0;
    padding: 0 0rem 0 0.26666rem;
  }

  .index-wrap .bestSelling-wrap .swiper-slide {
    width: unset;
    max-width: unset;
  }

  .index-wrap .bestSelling-wrap #bestSaleSwiper .gcard {
    max-width: 40% !important;
    padding: 0 0.1333rem;
    width: 40% !important;
    margin: 0;
  }

  .index-wrap .bestSelling-wrap .swiper-button-next {
    right: -0.079rem;
  }

  .index-wrap .bestSelling-wrap .swiper-button-prev {
    left: -0.079rem;
  }

  .index-wrap .bestSelling-wrap #bestSaleSwiper .gcard-price {
    /* margin-top: 0; */
    /* line-height: 0.8rem; */
    /* text-align: left; */
    /* padding: 0 0.1333rem; */
  }


  .index-wrap .bestSelling-wrap #bestSaleSwiper .viewGo {
    top: 0.22rem;
    width: 14px;
    height: 14px;
  }


  .index-wrap .out-title-wrapper .out-title {
    font-size: 0.4rem;
    line-height: unset;
    margin: 0;
    text-align: left;
    padding: 0;
    font-family: Arial;
    margin-bottom: 0.426rem;
    margin-top: 0.86rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .index-wrap .out-title-wrapper .out-title span {
    display: block;
  }

  .index-wrap .skeleton-wrap {
    margin: 0;
    padding: 0;
  }

  .index-wrap .skeleton-wrap ul {
    padding: 0 0.13333rem;
  }

  .index-wrap .skeleton-wrap ul {
    flex-direction: row;
    justify-content: space-around;
  }

  .index-wrap .skeleton-wrap li {
    flex: 1;
  }

  .index-wrap .skeleton-wrap li+li {
    margin-left: 0.13333rem;
  }

  .index-wrap #newArrivalsWrapperUl {
    padding: 0 0.1866rem;
  }

  .index-wrap #newArrivalsWrapperUl .gcard {
    padding: 0 0.1866rem;
    margin-bottom: 0.43rem;
  }

  .index-wrap .gcard-body {
    padding: 0 0.1333rem;
  }

  .index-wrap .gcard-name {
    padding: 0;
    line-height: 0.5333rem;
    height: 0.5333rem;
    margin-top: 3px;
    color: #999;
    font-size: 0.32rem;
  }

  .index-wrap .new-arrivals-wrapper .home-goods-list {
    margin-top: 0;
  }

  .index-wrap .new-arrivals-wrapper .home-goods-list .viewGo {
    display: block !important;
    width: 0.42rem;
    height: 0.42rem;
  }

  .index-wrap .gcard-price {
    margin-top: 0;
    padding: 0;
    line-height: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 0.6rem;
  }

  .index-wrap .gcard-price .gcard-price__current {
    font-size: 0.4rem; font-weight: bold;
  }

  .index-wrap .new-arrivals-wrapper .home-goods-list .pro-collect {
    display: block !important;
    position: absolute;
    width: 24px;
    height: 24px;
    background: #fff;
    border-radius: 50%;
    z-index: 3;
    top: 0.1333rem;
    left: unset;
    right: 0.1333rem;
  }

  .index-wrap .new-arrivals-wrapper .home-goods-list .pro-collect .icon-wish {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
  }
}


.size-main {
  overflow: hidden;
  overflow-y: auto;
  color: #606060;
  padding: 0 0.625em;
  height: 90vh;
}

.size-main::-webkit-scrollbar {
  width: 0.625em;
}

.size-main::-webkit-scrollbar-track {
  background: #d6d6d6;
  border-radius: 0.625em;
}

.size-main::-webkit-scrollbar-thumb {
  border-radius: 0.625em;
  background: #b5b5b5;
  max-height: 3.125em;
}

.size-main ul,
.size-main li {
  list-style: none;
  padding: 0;
}

.size-main h3 {
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
}

.size-main .size-nav li {
  float: left;
  font-size: 1.125em;
  text-align: center;
  cursor: pointer;
  margin-right: 1.875em;
  margin-bottom: 0.625em;
}

.size-main .size-nav li.active .size-btn {
  background: #606060;
}

.size-main .size-nav li .size-btn {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  background: #fff;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #606060;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #606060;
}

.size-main .size-con {
  height: 100%;
  background: #fff;
  clear: both;
}

.size-main .size-con>li {
  display: none;
}

.size-main .size-con>li.active {
  display: block;
}

.size-main .size-con table {
  width: 100%;
  text-align: center;
  font-size: 1em;
  border: 0.01333rem solid #d1d1d1;
  margin-bottom: 1.875em;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.size-main .size-con table tr:nth-child(odd) {
  background: #f3f3f3;
}

.size-main .size-con table th {
  width: 4.375em;
  background: #3d3d3d;
  color: #fff;
  font-weight: normal;
  border-right: 0.01333rem solid #d1d1d1;
  text-transform: uppercase;
}

.size-main .size-con table td {
  border-right: 0.01333rem solid #d1d1d1;
}

.size-main .size-con tr {
  height: 2.625em;
  border-bottom: 0.01333rem solid #d1d1d1;
}

.size-main .size-con th,
.size-main .size-con td {
  display: table-cell;
  vertical-align: inherit;
}

.size-main .size-con .measure {
  display: table;
  width: 100%;
  padding-bottom: 1.875em;
}

.size-main .size-con .measure .measure-title {
  font-size: 1.25em;
  font-weight: 700;
}

.size-main .size-con .measure .measure-img {
  padding: 1.625em 0px;
  text-align: center;
}

.size-main .size-con .measure .left p {
  color: #909090;
  margin-bottom: 0.875em;
}

.size-main .size-con .measure .left li {
  margin-bottom: 0.5em;
}


video:focus,
a:focus {
  outline: none;
}

button:focus {
  outline: none;
}