
    html {
    scroll-behavior: smooth;
}
#page {
     padding: 0;
}
.outer-container {
    padding-bottom: 150px;
}
 .header-panel {
     background-color: white;
     padding: 20px;
     width: 100%;
     display: inline-block;
}
}
 @media (min-width: 992px) {
     .header-panel {
         padding: 30px;
         width: 59%;
    }
}
 @media (min-width: 1200px) {
     .header-panel {
         padding: 30px;
         width: 51%;
    }
}

 .h1-start {
     color: #f00;
     line-height: 1.2;
     font-family: 'SparkasseHeadWeb', 'SparkasseWeb', Sparkasse, Arial, sans-serif;
     margin-top: 14px;
}
 @media (min-width: 768px) {
     .h1-start {
         margin-top: 6px;
    }
}
/* HEADLINES  */

.h1-section-dark {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    color: #333333;
}
.h2-section-dark {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #333;
}
.h2-section-red {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #FF0000;
}
.h3-section-dark {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 38px;
    color: #333333;
}


.no-margin {
    margin: 0;
}
.margin-bottom-medium {
    margin-bottom: 40px;
}

/* FAQ SMALL */
.faq-small-wrapper {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.faq-small-headline {
    display: inline-flex;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #333333;
}
.faq-small-cta {
    display: inline-flex;   
}

/* FEATURE 3 ITEMS */
span.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    margin: 0 auto;
}


 .bf-panel {
     margin-top: 10px;
     margin-bottom: 10px;
}
 @media (min-width: 768px) {
     .bf-panel {
         margin-top: 20px;
         margin-bottom: 20px;
    }
}
 @media (min-width: 992px) {
     .bf-panel {
         margin-top: 30px;
         margin-bottom: 30px;
    }
}
 .bf-panel:last-child {
     margin-bottom: 0;
}

 .bf-well {
     background-color: white;
     padding: 20px;
     float: left;
     width: 100%;
}
 .margin-2-in-row {
     margin-top: 15px;
}
 @media (min-width: 768px) {
     .margin-2-in-row {
         margin: 0;
    }
}

 .circle {
     border-radius: 50%;
     width: 42px;
     height: 42px;
     color: white;
     font-size: 24px;
     padding-top: 3px;
     padding-left: 4px;
}
 .three-column {
     padding-top: 15px;
     padding-bottom: 10px;
}
 @media (min-width: 992px) {
     .three-column {
         padding-top: 20px;
         padding-bottom: 15px;
    }
}
 @media (min-width: 1200px) {
     .three-column {
         padding-top: 25px;
         padding-bottom: 20px;
    }
}

 .container-padding {
     padding: 100px 120px;
}
 @media (max-width: 768px) {
     .container-padding {
         padding: 50px 15px;
    }
}

 .vertical-flex {
     display: flex;
     align-items: center;
}
 @media (max-width: 768px) {
     .vertical-flex {
         display: block;
    }
}

.btn-group-flex {
    display:flex;
    justify-content:center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: top;
}

.flex-left {
    justify-content:left;
}

 .btn-cta {
     font-size: 21px;
     height: 75px;
     width: 350px;
     /*display: inline-flex;*/
     align-items: center;
     justify-content: center;
     border-radius: 0;
     text-decoration: none;
     margin: 15px 15px;
     transition: ease-in-out 0.2s;
}
 .btn-cta-head {
     font-size: 16px;
     height: 50px;
     min-width: 190px;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     border-radius: 0;
     text-decoration: none;
     margin: 15px 15px;
     transition: ease-in-out 0.2s;
}
 .stoerer_start {
     border: 5px solid white;
     border-radius: 50%;
     color: white;
     background: red;
     position: absolute;
     z-index: 999;
     top: 0;
     display: flex;
     align-items: center;
     text-align: center;
     visibility: hidden;
}
 .stoerer_start_inner {
     transform: rotate(15deg);
}
 @media (min-width: 480px) {
     .stoerer_start {
         visibility: visible;
         width: 150px;
         height: 150px;
         top: 15%;
         left: 10%;
         padding: 5px;
    }
     .stoerer_start_headline {
         font-size: 1em;
         line-height: 1.2em;
         margin-bottom: 0.3em;
         font-weight: 700;
    }
     .stoerer_start_text {
         font-size: 0.8em;
         line-height: 1.3em;
    }
}
 @media (min-width: 768px) {
     .stoerer_start {
         width: 200px;
         height: 200px;
         top: 30%;
         left: 10%;
         padding: 25px;
    }
     .stoerer_start_headline {
         font-size: 1.5em;
         line-height: 1.2em;
         margin-bottom: 0.3em;
         font-weight: 700;
    }
     .stoerer_start_text {
         font-size: 1em;
         line-height: 1.3em;
    }
}
 @media (min-width: 992px) {
     .stoerer_start {
         top: 50%;
         left: 50%;
    }
}
 @media (min-width: 1200px) {
     .stoerer_start {
         top: 50%;
         left: 48%;
    }
}
