/** Shopify CDN: Minification failed

Line 12:0 Unexpected "}"

**/
/* Use this file to add custom css to the theme. */
 .header__row.header__row-desktop.lower .header__logo {
     margin: 24px 0;
     margin: var(--spacing-2) 0;
}

}
 span.icon.icon-new.icon-header-account {
     display: none;
}
 span.icon.icon-new.icon-header-shopping-cart {
     display: none;
}
 .header .icon-button__icon .icon {
     width: 20px;
     height: 20px;
}
 i {
     font-family: 'Industrial 736';
     letter-spacing: 0.2px;
     font-style: italic;
}
 a.header__icon-touch.header__icon-touch--account {
}
 .header__links.header__links-primary>ul>li>[data-link] {
     letter-spacing: 0.5px;
     line-height: 1.5;
}
 p {
}
 h2.grid-item__subheading.ff-subheading.fs-heading-6-base.section-blocks__subheading {
     line-height: 1.5;
}
 .section-blocks__image {
     margin-bottom: 10px;
}
 .carousel__navigation-button--back {
     transform: rotate(180deg);
}
 .carousel__navigation-button--forward {
}
 .carousel__navigation-button .icon {
     width: 22px;
     height: 22px;
}

.testimonials__inner.section.section--divider-none.section--vertical-padding-top-bottom {
    height: 300px;
    width: 50%;
}

.testimonials__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__item-product {
    width: 40%;
}
 .drawer-menu__item {
     list-style: none;
     font-size: var(--font-size-body-80);
     text-transform: none;
}

.cart-icon {
    position: relative;
}

[data-js-cart-count] {
    bottom: 3px;
    background-color: #0d9247;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #0d9247;
    line-height: 9px;
    width: 11px;
    min-width: 11px;
    height: 10px;
    font-size: 8px;
    left: 60%;
}

 a.header__icon-touch.header__icon-touch--account {
     letter-spacing: .5px;
}
 .featured-collection-slider__navigation-list-item .indicator {
     height: 1px;
}
 .product-item__inner .product-item__hover-container {
     border: 0px solid;
}
.fs-product-card-title {
     margin-bottom: 4px;
     letter-spacing: .5px;
     line-height: 1.2;
}
 .filter-bar__button.filter-bar__button--sort {
     margin-left: auto;
     letter-spacing: .5px;
    /* line-height: 1.5;
     */
}
 button.filter-bar__button.filter-bar__button--filters {
     letter-spacing: .5px;
}
 @media (min-width: 960px){
     .filter-bar__button .icon-filter {
         display: none;
    }
}

@media (max-width: 959px){
     .filter-group__label {
         letter-spacing: .5px;
    }
}
 .featured-collection-slider__navigation-list li {
     margin-right: 24px;
     margin-right: var(--spacing-4);
}
 .product-form__shop-pay.fs-body-75 {
     display: none !important;
}
 .quick-cart__header {
     border-bottom: 1px solid var(--color-text);
}
 h1.product__title.ff-heading.fs-heading-4-base.fs-heading-3-base-ns {
     line-height: 1.4;
}
 .product__meta {
     padding-top: 16px;
     padding-top: 0px;
}

 .product__price-and-ratings {
     display: flex;
     justify-content: left;
     align-items: center;
     margin-top: 0.75em;
}
 button.quick-cart__submit.btn.btn--full.btn--primary {
     font-size: large;
}
 .free-shipping-bar__bar-progress {
     background-color: var(--color-background-button);
}
 .quick-cart__footer-inner {
     padding-top: 16px;
     padding-top: var(--spacing-4);
     padding-bottom: 28px;
     padding-bottom: var(--spacing-10);
     border-top: 1px solid var(--color-text);
}
 .quantity-input__button .icon {
     width: 9px;
     height: 9px;
}
 .quantity-input input {
     width: 32px;
}
 .inventory-counter[data-stock-category=low] .inventory-counter__bar-progress {
     background-color: var(--color-background-button);
}
 .quick-cart__item-bottom {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     margin-top: 24px;
     margin-top: var(--spacing-2);
}
 .quantity-input {
     height: 48px;
     overflow: initial;
}
 .free-shipping-bar.free-shipping-bar--loaded .inventory-counter__message-wrapper span.fs-body-bold {
     font-weight: 400;
}
 .quick-search__bar-inner {
     border-bottom: 1px solid var(--color-text);
}
 .footer__links li+li {
     margin-top: var(--spacing-4);
}
 .footer__links.fs-body-100 {
     color: #fff !important;
}
 .fs-accent {
     font-size: var(--font-size-body);
     text-transform: none;
     letter-spacing: .05em;
}
 .meganav__nav h4 {
     color: var(--color-text);
     margin-bottom: 0.9em;
}
 .meganav__nav li {
     line-height: 1.4;
     margin: 0.9em 0;
     white-space: normal;
}
 span.icon.icon-new.icon-filter {
     width: 16px;
     height: 16px;
}
 span.icon.icon-new.icon-sort {
     width: 16px;
     height: 16px;
}
 span.icon.icon-new.icon-header-shopping-cart {
     color: transparent !important;
}
 @media (min-width: 960px){
     .product__primary {
         display: grid;
         grid-gap: 3vw;
    }
}
 @media (min-width: 960px){
     .product__primary {
         width: 97%;
    }
}
 .product__callouts-item-icon, .product__callouts-item-icon.icon, .product__callouts-item-icon.image {
     margin-right: 8px;
     margin-right: var(--spacing-4);
     width: 27px;
     height: 27px;
     display: flex;
     flex-shrink: 0;
}
 .product-item__hover-action-wrap .btn.btn--tertiary {
  
}
 .product__media-container.below-mobile .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
     opacity: 1;
     background: #0B9247;
     transform: scale(1);
}
 .article-tags__tag {
     padding: 2px 4px;
     padding: var(--spacing-unit-half) var(--spacing-unit);
     font-family: 'Industrial 736';
     font-size: 128%;
     border: 1px solid var(--color-text);
     text-transform: none;
     letter-spacing: .025em;
     font-family: 'Industrial 736';
     letter-spacing: 0.2px;
     font-style: italic;
}
 .product__callouts-mini-item {
     border: 0px solid currentColor;
}
 .product__callouts-mini-items {
     display: inline-flex;
     flex-wrap: wrap;
     margin: -4px;
     font-family: 'Industrial 736';
     letter-spacing: 0.2px;
     font-style: italic;
     margin: calc(var(--spacing-1) * -1);
     letter-spacing: 0px;
}
 .product__callouts-mini-item-text {
     font-size: 145%;
}
 @media (min-width: 960px){
     .article-item__content-inner {
         padding: var(--spacing-8) var(--spacing-5) var(--spacing-5);
    }
}
 .article-item__read-button {
     margin-top: 0 !important;
}
 .blog__nav-link.blog__nav-link--active {
     border-bottom: solid 1px currentColor;
     color: var(--color-text);
}
 .article-tags__tag {
     padding: var(--spacing-2) var(--spacing-2);
     font-family: 'Industrial 736';
     letter-spacing: 0.2px;
     font-style: italic;
     font-size: 128%;
     border: 1px solid var(--color-text);
     text-transform: none;
     letter-spacing: .025em;
}
 .article-item__meta {
     margin-bottom: var(--spacing-3);
     opacity: 1;
}
 h4.article-item__title.ff-heading.fs-heading-4-base {
     margin-bottom: var(--spacing-4);
}
 @media (max-width: 479px){
     [data-js-cart-count] {
         min-width: 16px;
         height: 16px;
         line-height: 14px;
         left: 4px;
       font-size: 8px !important;
         bottom: 13px !important;
        
    }
}
 @media (max-width: 479px){
.drawer-menu__primary-links .drawer-menu__item {
    letter-spacing: .05em;
    font-size: 18px;
}}
 @media (max-width: 479px){
ul.drawer-menu__secondary-links .drawer-menu__item {
    text-transform: none;
    font-size: var(--font-size-body-150);
    line-height: var(--line-height-body-75);
    border-bottom-width: 0;
}}

@media (min-width: 1200px){
.blog__article-list {

    grid-row-gap: var(--spacing-10);
    row-gap: var(--spacing-10);
}}

.blog__article-list {
    display: grid;
  
    grid-column-gap: var(--spacing-8);
    -moz-column-gap: var(--spacing-10);
    column-gap: var(--spacing-8);
  
    grid-row-gap: var(--spacing-4);
    row-gap: var(--spacing-4);
   
}

.article-item__excerpt {
   
    margin-bottom: var(--spacing-2);
}

.article-item__read-button {
    display: none;
}

@media (min-width: 960px){
.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-9);
}}

button.product-item__hoverless-quick-view-button.btn.btn--rounded.show-product-quickview span.icon.icon-new.icon-plus-smallÂ {
	   width: 12px;
   height: 12px;
}
.product-item__hoverless-quick-view-button.btn .icon-quick-buy {

}

.quick-search__result-heading {

    font-size: var(--font-size-body-100) !Important;
}

.fs-body-75 {
    font-size: var(--font-size-body-100);
}
