@font-face {
  font-family: 'Lucida',sans-serif;
  src: url('fonts/LucidaGrande.ttf') format('ttf'),
}
.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
/*  */
#residentialLendingChart, #residentialServicerChart, #subServicingChart, #wholesaleLendersChart {
  position: relative;
  max-width: 750px;
  max-height: 450px;
  margin-left: -30px;
  overflow: auto;
}
g.highcharts-data-labels.highcharts-series-0.highcharts-column-series text {
  font-size: 0 !important;
}
text.highcharts-credits {
  display: none;
}
g.highcharts-axis-labels.highcharts-yaxis-labels text:first-child {
  display: none;
}
/* #statsTable_last, #statsTable_first {
	font-size: 16px;
} */
/*Aside section*/
.aside-section {
  background: #F6F6F6;
  padding: 50px 0 0 0;
  min-height: 81.5vh;
}
.aside-section ul.list-menu {
  padding: 0;
  list-style: none;
}
.aside-section ul.list-menu li {
  padding: 26px 20px;
  font-size: 22px;
  line-height: 27px;
  color: #707070;
  cursor: pointer;
  border-bottom: 1px solid #DCDCDC;
  background: url(../images/gray-arrow.svg) no-repeat right;
  background-position: 95%;
}
.aside-section ul.list-menu li.button-active,
.aside-section ul.list-menu li:hover {
  color: #005D9E !important;
  font-weight: 700;
  box-shadow: 0px 3px 6px #00000016;
  background: #fff url(../images/blue-arrow.svg) no-repeat right;
  background-position: 95%;
}
/*Main section*/
.main-section {
  padding: 50px 15px 0 30px;
}
.main-section .row {
  align-items: end;
  padding-left: 15px;
  padding-right: 15px;
}
.main-section .row .no-padding {
  padding-left: 0;
  padding-right: 0;
}
.main-section .row .border-below {
  padding-top: 17px;
  border-bottom: 1px solid #707070;
}
.main-section .title-small {
  font-size: 18px;
  line-height: 10px;
  font-weight: 700;
  color: #333333;
  font-family: 'Lato',sans-serif;
}
.quater-text {
    color: #333333;
    padding: 0;
    margin-top: 16px;
    font-family: 'Lucida',sans-serif;
}
.main-section .more-links {
  text-align: right;
  padding-right: 13px;
}
.main-section a.btn.btn-primary {
  background-color: #00C19F;
  border-color: #00C19F;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  padding: 9px 17.73px;
}
.highcharts-container {
  margin-top: 40px;
}
/*Inner page global*/
.page-template-default div#body-cotent {
  padding-top: 55px;
  padding-bottom: 55px;
}
/**/
.details-page .form-right {
	display: flex;
	align-items: center;
	justify-content: end;
	padding-right: 0;
}
.details-page .button-inline {
	display: inline-block;
}
.details-page .button-inline label {
  display: none;
}
@media only screen and (min-width: 0px) and (max-width: 1023px) {
  .main-section {
    padding: 0 0 0 0;
  }
  .accordion-body .title-small {
    color: #707070 !important;
    line-height: 22px;
    font-weight: 400 !important;
    padding: 0px;
  }
  .accordion-body .table-top {
    text-align: right;
    color: #707070;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
    margin-bottom: 7px;
  }
  .accordion-body table tbody tr th,
  .accordion-body table tbody tr td,
  .accordion-body table tbody tr td a {
    color: #707070 !important;
    font-size: 16px;
    line-height: 19px;
  }
  .data-tools-link {
    margin-top: 17px;
    padding-top: 17px;
    text-align: right;
    border-top: 1px solid #DCDCDC;
  }
  .accordion-body table tbody tr:first-child {
    background: #F7F7F6;
    border-bottom: 1px solid #DCDCDC;
  }
  .accordion-body table tbody tr:first-child th:first-child {
    border-top-left-radius: 8px;
  }
  .accordion-body table tbody tr:first-child th:last-child {
    border-top-right-radius: 8px;
  }
  .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: transparent;
  }
  .mobile-container .accordion-button::after{
    background: url(../images/gray-arrow.svg) no-repeat right;
    margin-right: 55px;
  }
  .mobile-container .accordion-button:not(.collapsed)::after{
    background: url(../images/blue-arrow.svg) no-repeat right;
    transform: rotate(90deg)
  }
  .accordion-item.active-item .accordion-button::after{
    background: #ffffff url(../images/blue-arrow.svg) no-repeat right;
    margin-right: 55px;
  }
  .accordion-button:not(.collapsed){
    color:#707070;
    background-color: #ffffff;
    box-shadow: none;
  }
  .mobile-container .accordion-item button.accordion-button {
    font-size: 20px;
    line-height: 24px;
    color: #707070;
    background: #ffffff;
    cursor: pointer;
    padding: 28px 30px;
  }
  .mobile-container .accordion-item button.accordion-button.collapsed {
    background: #F6F6F6;
  }
  .mobile-container .accordion-item.active-item button.accordion-button.collapsed {
    background: #ffffff;
    color: #005D9E !important;
    font-weight: 700;
    /* background: url(../images/blue-arrow.svg) no-repeat right; */
    margin-right: 65px;
  }
  .mobile-container .accordion-collapse.collapse.show .accordion-body {
    background: #ffffff;
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
  .mobile-container .accordion-item.active h2 button {
    color: #005D9E;
    font-weight: 700;
    background: #ffffff !important;
  }
  .mobile-container .accordion-body table tbody tr td:last-child {
    font-weight: 700;
  }
  .mobile-container .accordion-item:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 0px;
    box-shadow: 0px 3px 6px #00000016;
    position: relative;
    z-index: 99999;
  }
  .mobile-container .accordion-item:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .page-template-homelayout #body-cotent{
    background-color:#f6f6f6;
  }


}
