@media only screen and (min-width: 390px) and (max-width: 428px) {
  #body-cotent select {
    padding: 9.5px 27px;
    width: 110px;
  }

  #body-cotent .timeframe select {
    min-width: 110px !important;
  }
}

@media only screen and (min-width: 429px) and (max-width: 470px) {
  #body-cotent select {
    padding: 9.5px 34px;
    width: 130px;
  }

  #body-cotent .timeframe select {
    min-width: 130px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {

  /*Data table*/
  #statsTable_wrapper table,
  #statsTable_wrapper thead,
  #statsTable_wrapper tbody,
  #statsTable_wrapper th,
  #statsTable_wrapper td,
  #statsTable_wrapper tr {
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: #616161;
    border: 0px;
  }

  .table-wrap table.dataTable tbody td {
    padding: 3px 13px !important;
  }

  #statsTable_wrapper thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #statsTable_wrapper tr {
    margin: 0 0 5px 0;
    background: #f7f7f6;
  }

  #statsTable_wrapper td:before {
    width: 40%;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    font-weight: 700;
    color: #616161;
    font-family: "Arial", sans-serif;
  }

  #statsTable_wrapper td:nth-of-type(1):before {
    content: "Rank";
  }

  #statsTable_wrapper td:nth-of-type(2):before {
    content: "Company";
  }

  #statsTable_wrapper td:nth-of-type(3):before {
    content: "Location";
  }

  #statsTable_wrapper td:nth-of-type(4):before {
    content: "Dollor Vol (Milestone)";
  }

  #statsTable_wrapper td:nth-of-type(5):before {
    content: "Number of Loans";
  }

  #statsTable_wrapper .title-small {
    color: #a3a3a3;
  }

  #statsTable_wrapper tbody tr {
    border: none !important;
  }

  .text-button .title-small {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #848484;
  }

  .table-wrap .dataTables_wrapper table.tablesaw tbody {
    border: 0px !important;
  }

  .table-wrap #statsTable_info {
    padding-left: 0;
    text-align: left;
  }

  .residential-right {
    justify-content: left;
  }

  .residential-right .timeframe {
    margin: 0 7px;
  }

  /* #body-cotent select {
        font-size: 11px;
        line-height: 15px;
        padding: 9.5px 10px 9.5px 20px !important;
        direction: unset;
    } */
  /* #body-cotent button#export {
        font-size: 11px;
        line-height: 15px;
        padding: 10.40px 10px;
    } */
  /*Footer section*/
  .footer {
    padding: 30px 20px;
  }

  .footer-left {
    display: block;
    padding-bottom: 20px;
  }

  .footer-left,
  .footer-right {
    width: 100%;
  }

  .footer-left figure {
    display: none;
  }

  .footer-left .footer-menu ul {
    margin: 0 0 0 0;
  }

  .footer-left .footer-menu ul li a {
    text-transform: unset;
  }

  .footer-left .footer-menu ul li:first-child a::before {
    content: none;
  }

  .footer-middle {
    text-align: left;
  }

  .footer-middle .footer-menu ul {
    margin: 0 0 0 0;
  }

  .footer-right {
    padding-left: 11px;
    padding-right: 11px;
  }

  .footer-right .copyright {
    text-align: left;
    margin: 27px 0px;
  }

  .footer-right img {
    display: none;
  }

  div#body-cotent {
    min-height: 65vh;
  }
  .backbtn-center {
    display: block;
    margin: 10px auto 30px; 
    max-width:380px;
  }
  .footer-middle .footer-menu ul li a::after {
    content: ""; 
  }
  .sort-mrgsdiv .dropdown { 
    padding: 9.5px 34px 8.5px 34px; 
}
}

@media only screen and (min-width: 768px) and (max-width: 815px) {
  .footer .footer-left {
    width: 71%;
  }

  .footer .footer-right {
    width: 29%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1015px) {
  .residential-right {
    justify-content: left;
    margin-top: 10px;
  }
  .sort-mrgsdiv .dropdown { 
    padding: 9.5px 34px 8.5px 34px; 
 }
}

@media only screen and (min-width: 0px) and (max-width: 1023px) {

  /* div#body-cotent .container {
        padding-left: 30px;
        padding-right: 30px;
    } */
  .header {
    padding-bottom: 10px;
  }

  .header .desktop-show {
    display: none;
  }

  .sticky-top {
    z-index: 999999;
  }

  iframe#piano-id-Btlja {
    width: 100% !important;
  }

  div#body-cotent .text-button {
    margin-bottom: 10px;
  }

  div#login-container {
    max-width: 390px;
    width: 100% !important;
    /* margin: auto; */
  }

  body.hamburger-open .header .menu-mobile-header-container,
  .header .humber-menu {
    display: block;
  }

  .header .hamburger-menu {
    background: url(../images/hamburger-open.png) no-repeat;
    position: absolute;
    top: 30px;
    right: 30px;
    background-size: 30px;
    width: 30px;
    font-size: 0;
    cursor: pointer;
  }

  body.hamburger-open .header .hamburger-menu {
    background: url(../images/hamburger-close.png) no-repeat;
    width: 30px;
    top: 27px;
    cursor: pointer;
  }

  .header-left {
    width: 87%;
    padding: 0 0px 10px 30px;
  }

  .header-left img {
    max-width: 170px !important;
  }

  .header-right {
    padding-left: 0;
    padding-right: 0px;
    width: 100%;
  }

  .menu-mobile-header-container {
    border-top: 1px solid #dcdcdc;
  }

  .menu-mobile-header-container ul {
    padding: 30px 25px;
    list-style: none;
    margin: 0px;
  }

  .menu-mobile-header-container ul li a {
    font-size: 20px;
    line-height: 24px;
    padding: 0 0 27px 0;
    list-style: none;
    color: #707070;
    display: block;
  }

  .menu-mobile-header-container ul li:last-child a {
    padding-bottom: 0px;
  }

  div#body-cotent::before {
    content: "";
    width: 100%;
    height: 30px;
    background: #f6f6f6;
    display: block;
  }

  .page-template-default div#body-cotent {
    padding-top: 0;
    padding-bottom: 25px;
  }

  .about-wrapper {
    padding: 25px 15px 0px 15px;
  }

  .details-page .title-head {
    margin-top: 25px;
  }

  .page-template-residential_lenders #body-cotent .container,
  .page-template-residential_servicing #body-cotent .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  /*About page*/
  .about-wrapper h5 {
    line-height: 24px;
    color: #707070;
  }

  .mstats_bullets {
    padding-left: 20px;
  }

  .technical-help {
    margin-top: 25px;
  }

  .about-wrapper .blue {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .tp-modal .tp-iframe-wrapper {
    margin-top: 100px;
  }
  .download-btn { 
    padding-left: 3px;
  }
}
