/* @font-face {
  font-family: 'HelveticaNeueLTStd-BdCn';
  src: url('fonts/HelveticaNeueLTStd-BdCn.eot');
  src: url('fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
       url('fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
       url('fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
       url('fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg'),
       url('fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AvertaDemo-Regular';
  src: url('fonts/AvertaDemo-Regular.eot');
  src: url('fonts/AvertaDemo-Regular.woff2') format('woff2'),
       url('fonts/AvertaDemo-Regular.woff') format('woff'),
       url('fonts/AvertaDemo-Regular.ttf') format('truetype'),
       url('fonts/AvertaDemo-Regular.svg#AvertaDemo-Regular') format('svg'),
       url('fonts/AvertaDemo-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
} */

html, body {
    font-family: "Arial","Verdana","Helvetica",sans-serif;
    text-align: left;
}
/* body{
	background:#ffffff;
	margin:0;
	padding:0;
	font-weight:400;
	color:#000000;
	font-size:12px;
} */
a {
	text-decoration: none;
	outline: 0;
	color:#0d5496;
}
a:hover, a:focus {
	color:#00386a;
	text-decoration: none;
}
img{
	max-width:100%;
}
header{
	margin-bottom:25px;
}
.logo{
	padding:25px 0 10px 0;
}
.navbar{
	min-height:auto;
}
.nav > li > a{
	color:#888a8d;
	text-transform:capitalize;
	font-size:18px;
	padding:0 15px;
	font-family: 'HelveticaNeueLTStd-BdCn';
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:hover{
	color:#0d5496;
	background:none;
}
.navbar-nav{
	float:none;
	text-align:center;
}
.navbar-nav > li {
    display: inline-block;
    float: none;
	padding:0 28px;
}
.download-btn{
	text-align:center;
	float:right;
	font-weight:bold;
}
.download-btn a{
	font-size:14px;
}
.download-btn a i{
	display:block;
	font-size:22px;
	margin-bottom:5px;
	color:#9ea0a2;
}
.title-head{
	font-size:24px;
	color:#060003;
	font-weight:bold;
}
.sorting [class*="col-"] {
   padding:0;
}
.sorting label{
	padding:7px 5px 0 0;
	float:left;
	font-weight:normal;
}
.table {
    
	margin:0;
}
.tablesaw tr:nth-of-type(2n+1) {
    background-color: #eef1fa;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
	border:none;
}

footer{
	padding:20px 0;
}
.footer-links{
	list-style-type:none;
	padding:0;
	margin:0;
	font-size:12px;
}
.footer-links li{
	display:inline-block;
	padding:0 5px;
	color:#888a8d;
  border-right: 1px solid #747C84;
  line-height: 12px;
}
.footer-links li#menu-item-18,.footer-links li#menu-item-132{
  border-right: none;
}
.footer-links li a{
	color:#888a8d;
}
.footer-links li a:hover{
	color:#333;
}
.bottom-logo{
	padding:15px 0 ;
}
.bottom-logo img{
	padding-right:10px;
}

.search-box {
    background: #eeeeee;
    padding: 0 8px;
    position: absolute;
    right: 15px;
    top: -90px;
    width: 237px;
}
.search-box input{
	background:none;
	border:none;
	box-shadow:none;
	padding:0 0 0 5px;
}
.search-box input:focus{
	box-shadow:none;
}
.search-box .btn-default{
	border:none;
	background:none;
	float:right;
	color:#a6a6a6;
}
.search-box .btn-default:hover{
	color:#333;
}
.search-box .btn-default:focus{
	background:none;
	box-shadow:none;
}
.title-head.blue {
font-size: 22px;
    line-height: 27px;
    margin-bottom: 25px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 7px 11px;
}
.content-padding{
	padding: 0px 0px 0px 42px;
}
.mstats_bullets {
	color: #3C3C3C;
	padding-left:40px;
}
.mstats_bullets li {
    padding: 15px 0 15px 10px;
}
.technical-help{
	margin-top:60px;
}
.navbar-top-links .dropdown-user {
    left: auto;
    right: 0;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background: none;
    border: none;
}
.navbar-top-links .dropdown-toggle{
	 font-family: "Arial","Verdana","Helvetica",sans-serif;
	 font-size:12px;
	 margin-top:5px;
	 color:#005496;
}
.singin h2 {
    margin-bottom: 50px;
    margin-top: 0;
}
.forget-link{
	padding:15px 0;
}
.support-wrap{
	border-top:1px solid #898888;
	padding:15px 0 0 0;
	margin-bottom:40px;
        font-size:14px;
        font-family: 'AvertaDemo-Regular';
        line-height: 20px;
}
.singin .btn{
	background:#0d5496;
	border:none;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
}
.singin .btn:hover, .singin .btn:focus{
	background:#333;
	color:#FFF;
}
#export{
border:none;
background:none;
}
#cse-search-box {margin-bottom:0;}
#body-cotent .login-form{padding:0px;}
.title-head a:hover{
	color:#00386A!important;
}
.table-responsive a,.tablesaw .tablesaw-cell-content  a{cursor:default;pointer-events:none;}
.login-form .login-field{font-family:Sans-Serif,Arial!important}
/*.align_reslen{padding-right:6px;}
.align_reser{padding-right:18px;}
.align_ware{padding-right:6px;}
.align_subser{padding-right:22px;} */
.align_reslen{padding-right:6px;}
.align_reser{padding-right:6px;}
.align_ware{padding-right:6px;}
.align_subser{padding-right:6px;}



/*----------------------------------------- About Us Css Starts ----------------------------------------*/

.bgcolr-mgsabout, .mgs-footer {
	display: inline-block;
	width: 100%;
	}
	.mgs-about-container {
	max-width: 1090px;
	margin: 0px auto;
	padding-right: 20px;
	padding-left: 20px;
	}
	.mgs-ftr-containre, .msg-hedrcontainer {
	max-width: 1320px;
	margin: 0px auto;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	}
	.bgcolr-mgsabout {
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 60, 103, 1) 100%);
	padding-top: 35px;
	}
	h2.mgs-heading {
	color: #fff;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin: 0px;
	line-height: 38px;
	}
	.mgsline-heading {
	position: relative;
	padding-bottom: 37px;
	}
	.mgsline-heading:before {
	content: "";
	width: 93px;
	height: 6px;
	position: absolute;
	bottom: 0;
	background: #80aecf;
	}
	.mgs-about p.mgs-hparag {
	color: #fff;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 34px;
	padding: 0px;
	margin: 30px 0px;
	}
	.mgs-headingblk .mgs-rtabtimg img {
	height: auto;
	max-width: 100%;
	}
	.mgs-featuresblk h3.mgs-heading {
	font-size: 22px;
	color: #fff;
	margin: 0px;
	font-family: 'Lato', sans-serif;
	line-height: 32px;
	text-align: center;
	margin-top: 20px;
	}
	.mgs-listcol ul {
	margin: 0px 0% 0px 0px;
	padding: 0px;
	width: 100%;
	}
	.mgs-listcol ul:last-child {
	margin: 0px 0% 0px 0px;
	}
	.mgs-listcol ul.ftrabtul li {
	color: #fff;
	list-style: none;
	margin: 0px;
	font-family: 'Lato', sans-serif;
	padding-bottom: 30px;
	position: relative;
	padding-left: 30px;
	}
	.mgs-ftrlistcontent {
	padding-top: 30px;
	}
	.mgs-listcol ul.ftrabtul li span {
	font-size: 17px;
	font-weight: 700;
	color: #fff;
	line-height: 30px;
	display: block;
	margin-bottom: 5px;
	}
	.mgs-listcol ul.ftrabtul li p {
	font-size: 14px;
	line-height: 26px;
	color: #fff;
	padding: 0px;
	margin: 0px;
	}
	.backbtn-center {
	display: table;
	margin: 10px auto 30px;
	padding-bottom: 0px;
	}
	.mgs-backbtn a.bkbtn {
	background: #005d9e;
	min-width: 240px;
	height: 45px;
	display: inline-block;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 6px;
	font-family: 'Lato', sans-serif;
	font-size: 13px;
	}
	.mgs-listcol ul.ftrabtul li:before {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-right-style: solid;
	border-right-width: 2px;
	content: "";
	display: inline-block;
	height: 4px;
	left: 6px;
	position: absolute;
	top:12px;
	width: 4px;
	transform: rotate(315deg);
	}
	.mgs-listcol ul.ftrabtul li:after {
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	border: 1px solid;
	left: 0;
	top: 0;
	border-radius: 50px;
	margin-top: 5px;
	}
	.msgbg-bclr {
	background: #000000;
	}
	.mgs-ftrlist ul li {
	display: block;
	font-size: 12px;
	color: #fff;
	padding: 10px 0px;
	}
	.mgs-ftrlist ul li a {
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	}
	.mgs-ftrlist ul {
	padding: 0px;
	margin: 0px;
	}
	.mgs-alr p {
	font-size: 12px;
	color: #fff;
	font-family: 'Lato', sans-serif; 
	}
	.mgs-gtrcol.mgs-alr {
	padding-top: 30px;
	}
	img.arw-img {
	padding-right: 4px;
	}
	@media (min-width: 768px) {
	h2.mgs-heading {
	color: #fff;
	font-size: 34px;
	line-height: 42px;
	}
	.mgs-headingblk {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	}
	.mgs-featuresblk h3.mgs-heading {
	font-size: 26px;
	color: #fff;
	line-height: 36px;
	margin-top: 0px;
	text-align: left;
	}
	.mgs-listcol ul.ftrabtul li p {
	font-size: 15px;
	}
	.mgs-headingblk .mgs-ltabtheading {
	width: 53%;
	}
	.mgs-headingblk .mgs-rtabtimg {
	width: 47%;
	text-align: center;
	}
	.mgs-ftrline {
	position: relative;
	}
	.mgs-ftrline:after {
	content: "";
	width: 58%;
	height: 1px;
	position: absolute;
	background: #8096a7;
	top: 1px;
	right: 0;
	top: 50%;
	}
	.backbtn-center {
	margin: 50px auto;
	padding-bottom: 20px;
	}
	.mgs-listcol {
	display: flex;
	width: 100%;
	}
	.mgs-listcol ul {
	margin: 0px 3% 0px 0px;
	padding: 0px;
	width: 49%;
	}
	.mgs-listcol ul.ftrabtul li span {
	font-size: 18px;
	line-height: 22px;
	}
	.mgs-listcol ul.ftrabtul li:last-child {
	padding-bottom: 0px;
	}
	.mgs-listcol ul.ftrabtul li:after {
	margin-top: 0px;
	}
	.mgs-listcol ul.ftrabtul li:before {
	top:7px;
	}
	.mgs-ftrblk {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0px;
	}
	.mgs-gtrcol.mgs-ftrlist {
	width: 50%;
	text-align: center;
	}
	.mgs-gtrcol.mgs-alr {
	text-align: right;
	}
	.mgs-footer.msgbg-bclr {
	padding: 0px;
	}
	.mgs-ftrlist ul li {
	display: inline-block;
	position: relative;
	padding: 0px 8px;
	}
	.mgs-ftrlist ul li:before {
	content: "";
	position: absolute;
	right: -3px;
	width: 1px;
	height: 10px;
	background: #fff;
	top: 3px;
	}
	.mgs-ftrlist ul li:last-child::before {
	content: none;
	}
	.mgs-gtrcol.mgs-alr {
	padding-top: 0px;
	}
	.mgs-ftr-containre {
	padding-top: 0px;
	}
	}

	@media (min-width: 1024px) {
   .mgs-ftrline:after {
	width: 72%;
	}
	}
	
/*----------------------------------------- About Us Css Ends ----------------------------------------*/
#body-cotent .download select {

	background: url(../images/downloadicon.svg) no-repeat 5%, url(../images/down.svg) no-repeat 90%;
	background-color: #0059de !important;
    min-width: 130px;
    max-width: 100%;
	height: 37.5px;
}
.filter_view{
	background: url(../images/filterviewicon.svg) no-repeat 10%;
	min-width: 130px;
    max-width: 100%;
	background-size: 18px;
	background-position: 7px;
}

.header-right #menu-header li a{
	background: #3c3c3c;
    min-width: 125px;
    height: 40px;
    text-align: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
}

.label_rank_by{
	display:block !important;
	float:none !important;
	padding:none !important;
	padding:0px !important;
}

div#statsTable_wrapper .dt-buttons {
    display: none;
}


@media (max-width:390px) {

	div#body-cotent .residential-right form select {
	  width: 100px;
	  min-width: 100px;
	}

}

@media (min-width:1024px) {
	.details-page .timeframe.button-inline {
   	 margin: 0px 15px;
	}
}


/*----------------------------------------- 10 Limit Dropdown Css Starts ----------------------------------------*/
.sort-mrgsdiv select.sorting-options {
	display: none;
  }
  
  .sort-mrgsdiv .dropdown {
	outline: none;
	position: relative;
	color: #fff;
	font-size: 12px;
	line-height: 15px;
	font-weight: 700;
	padding: 9.5px 34px;
	width: 150px;
	max-width: 100%;
	cursor: pointer;
	text-overflow: ellipsis;
	text-align: center;
  }
  
  .sorting.sort-mrgsdiv .dropdown {
	background: url("https://stats.nationalmortgagenews.com/wp-content/themes/mortgage/images/sorting.svg")
		no-repeat 5%,
	  url("https://stats.nationalmortgagenews.com/wp-content/themes/mortgage/images/down.svg")
		no-repeat 90%;
	background-color: #00c19f;
  }
  
  .timeframe.sort-mrgsdiv .dropdown {
	background: url("https://stats.nationalmortgagenews.com/wp-content/themes/mortgage/images/timeframe.svg")
		no-repeat 5%,
	  url("https://stats.nationalmortgagenews.com/wp-content/themes/mortgage/images/down.svg")
		no-repeat 90%;
	background-color: #00c19f;
  }
  
  .sort-mrgsdiv .dropdown.open .list {
	opacity: 1;
	pointer-events: auto;
  }
  .sort-mrgsdiv .dropdown.open .option {
	cursor: pointer;
  }
  
  .sort-mrgsdiv .dropdown .list {
	box-sizing: border-box;
	border: none;
	box-shadow: 0 3px 7px 0 rgb(121 101 126 / 60%);
	margin-top: 2px;
	padding: 0px;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
	min-width: 100%;
	background: #fff;  
  }
  
  .sort-mrgsdiv .dropdown .list ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	max-height: 250px;
	overflow-y: scroll;
  }
  
  .sort-mrgsdiv .dropdown span.current {
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	width: 82px;
	text-overflow: ellipsis;
  }
  
  .sort-mrgsdiv .dropdown .list ul li {
	list-style: none;
	letter-spacing: 0.5px;
  }
  
  .sort-mrgsdiv .dropdown .option {
	cursor: default;
	font-weight: 400;
	font-size: 12px;
	outline: none;
	text-align: left;
	color: #000;
	padding: 5px 15px;
  }
  .sort-mrgsdiv .dropdown .option:hover {
	color: #fff;
	background-color: #1e90ff !important;
  }
  
  #body-cotent .sort-mrgsdiv ::-webkit-scrollbar-thumb {
	background: #00c19f !important;
  }

/*-----------------------------------------  10 Limit Dropdown Css Ends ----------------------------------------*/



/*------ text case css ----*/
.highcharts-container .highcharts-axis-labels text{
text-transform: lowercase;
}
.highcharts-container .highcharts-axis-labels text:first-line {
text-transform: capitalize;
} 

.table-wrap #statsTable td a {
color: #363636;
text-transform: lowercase;
}
.table-wrap #statsTable td:first-line {
text-transform: capitalize;
} 


/*------ text case css Ends ----*/

/*-- disable 1st option download --*/

.download-btn .download select option:first-child
{
   display: none;
}
/*-- disable 1st option download ends --*/
.download .dropdown .list ul li:first-child {
    display: none;
}

   .header .header-right #menu-header li a {
      background-color: #040203 !important;
      padding: 12px 20px;
      min-width: auto;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 14px;
      border-radius: 5px;
      color: #fff;
      height: 40px;
      font-family: 'Lato', sans-serif;
    }
    
    div#body-cotent .breadcrumb-head {
      margin-bottom: 15px;
    }

    div#body-cotent .breadcrumb-head a,
    div#body-cotent .breadcrumb-head span {
      font-size: 22px;
    }
    
    div#body-cotent .breadcrumb-head a {
      background-position: right 1px;
    
    }
    
    div#body-cotent .details-page .title-small {
      font-family: 'Lato', sans-serif;
    }
    
    div#body-cotent .sort-mrgsdiv .dropdown span.current {
      letter-spacing: 0.5px;
    }
    
    div#body-cotent .sort-mrgsdiv .dropdown {
      width: 160px;
      display: flex;
      height: 39px;
      justify-content: center;
      align-items: center;
    }
    
    .download.sort-mrgsdiv .dropdown {
      background: url(../images/downloadicon.svg) no-repeat 5%, url(../images/down.svg) no-repeat 90%;
      background-color: #0059de !important;
      height: 39px;
    }
    
    @media (min-width: 1024px) {
      div#body-cotent .details-page .timeframe.button-inline {
        margin: 0px 15px 0px 12px;
      }
    
    }
    
    @media (max-width: 767px) {
      div#body-cotent .sort-mrgsdiv .dropdown {
        margin-top: 10px;
      }
    }


@media (max-width: 390px)  {
div#body-cotent .row .sort-mrgsdiv .dropdown {
width: 148px;
}
}

div#body-cotent .details-page .form-right {
padding-right: calc(var(--bs-gutter-x) * .5);
}
@media (min-width: 993px) and (max-width: 1070px) { 
div#body-cotent .row .sort-mrgsdiv .dropdown {
width: 148px;
}
}