@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #363636;
    background: #ffffff;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
}

div#body-cotent {
    min-height: 76vh;
    padding-bottom: 40px;
}

.page-template-homelayout div#body-cotent {
    padding-bottom: 0px;
}

.page-template-default div#body-cotent {
    min-height: 81.5vh;
}

/**/
.accordion-button:focus,
.btn:focus,
.btn-check:focus+.btn,
.btn-check:active+.btn:focus,
.btn-check:checked+.btn:focus,
.btn.active:focus,
.btn.show:focus,
.btn:active:focus,
.form-control:focus {
    box-shadow: none;
    border-color: transparent;
}

/* Residential Lenders css */
.page-template-residential_lenders #body-cotent .row,
page-template-residential_servicing .page-template-residential_servicing {
    display: flex;
    align-items: center;
}

div#body-cotent .text-button {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#body-cotent ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ccc;
    border-radius: 5px;
}

#body-cotent ::-webkit-scrollbar {
    width: 5px;
}

#body-cotent ::-webkit-scrollbar-thumb {
    background: #F7F7F6;
    border-radius: 5px;
}

#body-cotent select {
    background: url(../images/sorting.svg) no-repeat 5%, url(../images/down.svg) no-repeat 90%;
    background-color: #00C19F;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    padding: 9.5px 34px;
    width: 150px;
    max-width: 100%;
    text-align-last: center;
    cursor: pointer;
    text-overflow: ellipsis;
}

#body-cotent .timeframe select {
    background: url(../images/timeframe.svg) no-repeat 5%, url(../images/down.svg) no-repeat 90%;
    background-color: #00C19F;
    min-width: 130px;
    max-width: 100%;
}

#body-cotent select option {
    color: #000000;
    background: #ffffff;
    text-align: left;
}

#body-cotent button#export {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: #ffffff;
    padding: 10.5px 0.75rem;
    margin-left: 0px;
    border-radius: 0.375rem;
    background: #00C19F;
    min-width: 96px;
    max-width: 100%;
}

#body-cotent button#export img {
    margin-top: -3px;
    margin-right: 7px;
}

.details-page .title-head {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: #005D9E;
    margin-top: 50px;
}

.details-page .title-small {
    font-size: 18px;
    font-weight: bold;
    font-family: arial;
    line-height: 21px;
    color: #383838;
}

.table-wrap .dataTables_length,
.table-wrap .dataTables_filter {
    display: none;
}

.details-page {
    margin-bottom: 17px;
}

/* .table-wrap .tablesaw thead tr:first-child th.sorting:first-child {
    border-top-left-radius: 8px;
}

.table-wrap .tablesaw thead tr:first-child th.sorting:last-child {
    border-top-right-radius: 8px;
}

table.tablesaw tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}

table.tablesaw tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
} */

.title-small {
    font-size: 18px;
    font-weight: bold;
    font-family: arial;
    line-height: 21px;
    color: #383838;
}

.tablesaw tr:nth-of-type(2n+1) {
    background-color: unset;
}

.table-wrap {
    background: #ffffff;
    border: unset !important;
}

table.dataTable tbody tr.even {
    background: #F7FAFC;
}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 13px 10px !important;
    font-size: 16px;
    color: #363636;
}

.table-wrap td a {
    color: #363636;
}

.tablesaw thead tr:first-child th {
    font-weight: bold;
    background: #F7F7F6 !important;
    border-right: unset !important;
    font-size: 12px;
    line-height: 14px;
    font-family: arial !important;
    border: none;
}


/* .dataTables_wrapper table.tablesaw tbody {
    border: 1px solid #DBDBDB !important;
    border-top: unset !important;
} */

.tablesaw tbody tr {
    border-bottom: unset !important;
}

table#statsTable {
    border: 2px solid rgb(244, 244, 244);
    border-radius: 8px;
}

.table-wrap #statsTable_info {
    font-size: 12px;
    color: #616161;
    padding-left: 15px;
}

table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:after {
    opacity: .6;
    font-size: 25px;
    color: #474747;
}

table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:after {
    opacity: .6;
    font-size: 25px;
    color: #474747;
}

.dataTables_wrapper .dataTables_paginate a {
    font-size: 12px;
    border: unset !important;
}

.dataTables_wrapper .dataTables_paginate :active {
    background: none !important;
}

.dataTables_wrapper .dataTables_paginate :hover {
    background: none !important;
    color: unset !important;
}

.dataTables_wrapper .dataTables_paginate a :hover {
    background: none !important;
    color: #000000 !important;
}

div#statsTable_paginate a {
    color: #333 !important;
    border-radius: 4px;
    line-height: 16px;
}

#statsTable_previous,
#statsTable_first {
    background: url(../images/previous.png) no-repeat;
    font-size: 0;
    width: 30px;
    height: 20px;
}

#statsTable_previous:hover {
    background: url(../images/previous.png) no-repeat !important;
}

#statsTable_next:hover {
    background: url(../images/next.png) no-repeat !important;
}

#statsTable_first {
    background: url(../images/first.png) no-repeat !important;
}

#statsTable_last {
    background: url(../images/last.png) no-repeat !important;
}

#statsTable_next,
#statsTable_last {
    background: url(../images/next.png) no-repeat;
    font-size: 0;
    width: 30px;
    height: 20px;
}

.paginate_button {
    padding: 0.3em 8px !important;
}

.dataTables_paginate {
    display: flex;
    align-items: center;
}

.dataTables_wrapper .tablesaw thead th {
    text-transform: unset !important;
}

table.dataTable thead tr th.sorting:before {
    font-size: 24px;
}

.table-wrap .tablesaw thead tr th.sorting:first-child {
    width: 40px !important;
}

.table-wrap .dataTable thead>tr>th.sorting:before,
.table-wrap .dataTable thead>tr>th.sorting:after {
    font-size: 1.7em !important;

}

.residential-right .sorting label {
    display: none;
}

.residential-right .timeframe label {
    display: none;
}

.residential-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.residential-right form {
    display: flex;
    align-items: center;
}

.residential-right .timeframe {
    margin: 0 15px;
}

.main-section .row {
    align-items: end;
    padding-left: 12px;
    padding-right: 12px;
}

/* About */
.about-wrapper h5 {
    font-size: 18px;
    line-height: 21px;
}
.content-padding ul {
	margin-top: 15px;
}
.content-padding ul li {
    list-style: none;
    position: relative;
	font-size: 14px;
    line-height: 21px;
}

.content-padding ul li:before {
    content: '';
    width: 4px;
    height: 1.5px;
    background-color: #363636;
    display: block;
    position: absolute;
    left: -20px;
    top: 12px;
}