@charset "utf-8";

/* info --------------------------------- */

.top_info {
	margin:0px auto 15px;
	padding:10px 10px;
	width:100%;
	border:2px solid #e14400;
	background-color: #fff5ef;
	text-align: left;
	/*background: url(../../img/common/bg_or.png) ;*/
	text-align: center;
	font-size: 14px;
	font-size:1.4rem;
	font-weight:normal;
	color:#e14400;
	-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;
	box-sizing:border-box;
}
.top_info a {
	/*margin-top:8px;*/
	color:#e14400;
	font-weight:bold;
	text-decoration:underline;
}
.top_info p {
	text-align: left;
	margin: 10px 15px;
}
.top_info a.btn {text-decoration:none;}

.nocard {
	margin-bottom:10px;
}
.nocard dl{
	display:table;
	margin:0 auto;
}
.nocard dt, .nocard dd{ display: table-cell;}
.nocard dt{
	width:4.5em;
	text-align:right;
}
.nocard dd{
	text-align:left;
	font-size:1.2rem;
}
/*.top_info p{ text-align:center;}*/
.nocard dd span{
	font-size: 16px;
	font-size:1.6rem;
	word-break:break-all;
}

/* =================================
wl_lock.css
================================= */

#contents {
	padding: 0 0 0 10px;
}

.txt_small {
	font-size: 0.8em;
}

.icon_walletpoint {
	display: inline-block !important;
    padding: 0 0 0 22px;
	background: url(../../img/top/icon_walletpoint.png) 2px center no-repeat;
}

/* ã¡ã¤ã³ãã¸ã¥ã¢ã« --------------------------------- */
#gallery {

}
#slides {
	display: block;
	position: relative;
	width: 700px;
	height: 300px;
	padding: 0 20px 0 0;
	overflow: hidden;
}
#slides .slidesjs-container {
	width: 680px !important;
	margin: 0 20px;
	overflow: hidden;
}
#slides .slidesjs-control {
	width: 680px;
}
#slides .item {
	float: left;
	display: inline-block;
	width: 680px;
}
#slideNav {
	display: inline-block;
	position: relative;
	text-align: left;
	z-index: 10;
}
.slidesjs-pagination {
	width: 680px;
	padding: 3px 0 0 20px;
	list-style: none;
}
.slidesjs-pagination-item {
	float: left;
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 0;
}
.slidesjs-pagination li a {
	display: block;
	width: 36px;
	height: 5px;
	background-color: #bbb;
}
.slidesjs-pagination li a.active {
	background-color: #eb5505;
}
#slideNav .prev {
	width: 40px;
	position: absolute;
	top: -160px;
	z-index: 100;
}
#slideNav .next {
	width: 40px;
	position: absolute;
	top: -160px;
	left: 678px;
	z-index: 100;
}
/* ããã¼ã1ã¤ã®ã¨ã */
#gallery #item_one {
	display: none;
	position: relative;
	width: 680px;
	padding: 0 20px;
}

/* au WALLETãã¯ãããã --------------------------------- */
.txt_center {
	margin: auto;
	text-align: center;
}
.arrow_or {
	display: inline-block;
	padding-left: 15px;
	background: url(../../img/common/arrow/arrow_or.png) 3px center no-repeat;
}
a.btn_top {
	display: inline-block;
	height:42px;
	margin:0 auto;
	padding: 0 30px;
	line-height:42px;
	text-align:center;
	font-size:16px;
	font-size:1.6rem;
	font-weight:bold;
	color:#444;
	-webkit-border-radius:5px;-moz-border-radius: 5px; border-radius: 5px;
}

a.btn_top:hover {text-decoration:none;}
a.btn_top:active {text-decoration:none;}

#advantage {
	margin: 15px 0 0;
	list-style: none;
}
#advantage .box {
	display: inline-block;
	width: 192px;
	padding: 10px;
	border: solid #eb5505 2px;
	border-radius: 8px;
	vertical-align: middle;
}
#advantage span.arrow {
	display: inline-block;
	vertical-align: top;
}
#advantage .box .title {
	display: block;
	padding: 5px 10px 10px 52px;
	font-size: 1.15em;
	font-weight: bold;
	color: #eb5505;
}
#advantage .box .step1 {
	background: url(../../img/top/icon_step1.png) no-repeat left top;
}
#advantage .box .step2 {
	background: url(../../img/top/icon_step2.png) no-repeat left top;
}
#advantage .box .step3 {
	background: url(../../img/top/icon_step3.png) no-repeat left top;
}
#advantage .box .image {
	display: block;
	margin: 10px auto 0;
	text-align: center;
}
#advantage .btn {
	width: 140px;
	height: 34px;
	line-height: 34px;
	font-size: 1.1em;
}
#advantage:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

#advantage {
	min-height: 1px;
}
* html #advantage {
	height: 1px;
	/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.lets_box { display:inline-block; width:100%; clear:both; }
.lets_box .left_box { float:left; width:350px;}
.lets_box .right_box { float:right; width:370px;}
.lets_box_txt { text-align:left;}
.lets_box_txt2 { text-align:right;}

/* au WALLET ã¯ã¬ã¸ããã«ã¼ã --------------------------------- */
.wp_block {display: inline-block;}
.wp_block ul li img {
	width:100%;
}
.wp_block ul li {
	width:48%;
	background-color:#ededed;
	padding:10px;
	margin-left:2%;
	float:left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	
}
.wp_block ul li:first-child{
	margin-left:0px;
}
.wp_block ul li dl {
	background-color:#ffffff;
	padding:12px;
	border-bottom:1px solid #cccccc;
}
.wp_block ul li dl dt {
	height:130px;
	background-repeat:no-repeat;
	background-size:266px;
	background-position:top center;
}
.wp_block ul li dl.wp_block_01 dt {
background-image:url("../../img/top/img_loss_pc.png");
}
.wp_block ul li dl.wp_block_02 dt {
background-image:url("../../img/top/img_wise_pc.png");
}
.wp_block ul li dl.wp_block_03 dt {
background-image:url(../img/img_profit_pc.png);
}

.wp_block a,
.wp_block a:hover {
	color:#221815;
	text-decoration:none;
}
.wp_block ul li dl dd.
.wp_block a:hover dd {
	opacity:0.75;
}

.wp_block dd div.wp_block_ttl {
    color: #eb5505;
    display: block;
    font-size: 2rem;
    text-align: center;
	margin-bottom:2px;
}

/* button_gray */

ul.btn_wallet_creca {
/*    border: 1px solid #eb5505;
    border-radius: 5px;*/
    display: table;
    margin: 0 auto 30px;
    width: 100%;
}
ul.btn_wallet_creca li{display:table-cell; text-align:center; width: 50%; height:35px;vertical-align:top;}

.btn_gray{ /*width:146px;*/ width:80%; height:35px;position:relative;
 border:1px solid #d7dada; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:1.6rem; padding: 10px; text-decoration:none; line-height:1.2;display:inline-block;font-weight:bold; color: #444444 !important;
 background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
}

.btn_gray:hover{
 border:1px solid #bfc4c4;
 background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
 background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
 text-decoration:none;
}
.btn_gray span { margin-top:10px; display: inline-block;}

/* ä½¿ãããåº --------------------------------- */
.use_shop_mark {0 10px; text-align:center;}


/* ãã¤ã³ãã¢ããåº --------------------------------- */
#store ul {
	margin-left: 5px;
}
#store li {
	display: inline-block;
	width: 128px;
	margin: 0 22px 10px;
}
#store li a img {
	width: 100%;
}

/* ããããè³ªå --------------------------------- */
#qa {
	display: inline-block;
	width: 100%;
	padding-bottom: 100px;
}
#qa h2 {
	position: relative;
	margin-bottom: 5px;
/*	width: 338px;*/
}
#qa h2 a {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	padding-left: 20px;
	background: url("../../img/common/arrow/arrow_or.png") no-repeat 8px 5px;
	font-size: 1.3rem;
	font-weight: normal;
}
#qa ul {
	padding: 0 10px;
}
#qa li {
	padding: 15px 0 14px;
	font-size: 0.9em;
	line-height: 1.6;
	border-bottom: dotted #aaa 1px;
}

/* ã­ã°ã¤ã³æ¸ã¿/åå --------------------------------- */
.top_info .first_terms {
	font-weight: normal;
	color: #0066aa;
	text-decoration: none;
}
.top_info .txt_welcome {
	display: block;
	font-weight: bold;
}
.top_info .txt_normal {
	text-align: left;
	display: block;
	margin: 10px 15px;
	color: #333;
	font-size: 1.4rem;
	line-height: 1.3;
}

/* å©ç¨éå§ --------------------------------- */
.txt_start {
	font-size: 1.2em;
	font-weight: bold;
	color: #eb5505;
}
#appli dt {
	display: table-cell;
}
#appli dd {
	display: table-cell;
	padding-left: 30px;
	vertical-align: top;
}
#appli dd .area_appli {
	margin: 0 0 10px;
}
#appli dd .area_appli span {
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
}


/* toTop --------------------------------- */
#toTop {
	position: absolute;
	width: 700px;
	margin: 0 auto;
	bottom: 10px;
	right: auto;
	text-align: right;
}
#toTop a {
	position: relative;
	display: inline-block;
	margin: 0 auto;
}

/* footerSnav --------------------------------- */
#footerSnav {
	position: absolute;
	width: 550px;
	bottom: 0;
	z-index: 100;
}
#footerSnav ul {
	position: relative;
	margin: 0 auto;
}

/* top_first_middle --------------------------------- */
table.typeA {
	margin: 0 1em;
	border-collapse: collapse;
	border-width: 1px 0 0 1px;
	border-color: #a5a5a5;
	border-style: solid;
	}
table.typeA th {
	padding: 5px 5px 3px;
	background-color: #ccc;
	border-right: solid #a5a5a5 1px;
	border-bottom: solid #a5a5a5 1px;
	text-align: center;
    font-size: 0.9em;
	}
table.typeA th.th2 {
	background-color: #eee;
	}
table.typeA td {
	padding: 5px 5px 3px;
	border-right: solid #a5a5a5 1px;
	border-bottom: solid #a5a5a5 1px;
	text-align: center;
    font-size: 0.9em;
	}
table.typeA td.tl {
  text-align: left ;
  padding-left: 1rem;	
}
.top_info .dataplus {
	}
.top_info .dataplus .tis,
.dataplus .tis {
	margin: 10px 0 5px;
	}


/* å©ç¨éå§ --------------------------------- */
a:hover.charge_btn {
	opacity:0.8;
	filter:alpha(opacity=80);
	-ms-filter: "alpha( opacity=80 )";
	}

/*a.charge_btn p{
	font-size: 130%;
	margin: 0;
	padding: 0;
	}*/

a.charge_btn{
	display: block;
	width: auto;
	color: #fff;
	text-decoration: none !important;
	text-align: center;
	padding: 10px;
	margin: 0 auto;
	overflow: hidden;	
	width:240px;
	height:42px;
	height:33px;
	font-size:16px;
	font-size:1.6rem;
	font-weight:bold;
	border: 1px solid #15aeec;
	background-color: #49c0f0;
	background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
	background-image: linear-gradient(to bottom, #49c0f0, #2cafe3);
	border-radius:5px;
	line-height: 40px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.4); 
	text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.charge_btn:hover {
	border:1px solid #1090c3;
	background-color: #1ab0ec;
	background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
	background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}
.charge_btn:active {
	background: #1a92c2;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
	color: #1679a1;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}

.notify_list {
					margin: 10px auto;
					font-weight: bold;
					font-size: 13px;
					font-size: 1.3rem;
				}
				.notify_list li {
					margin-bottom: 10px;
					padding: 5px 8px;
					border: 1px solid #FE8005;
					background: url(/aupayweb/pc_webcontent/img/common/bg_or.png);
				}
