input.system-openid {
	background: url("http://openid.net/images/login-bg.gif") no-repeat 0px 50% rgb(255, 255, 255); color: rgb(0, 0, 0); padding-left: 18px;
}
input.com-system-openid {
	background: url("http://openid.net/images/login-bg.gif") no-repeat 0px 50% rgb(255, 255, 255); color: rgb(0, 0, 0); padding-left: 18px;
}
.system-unpublished {
	background: rgb(232, 237, 241); border-top-color: rgb(196, 211, 223); border-bottom-color: rgb(196, 211, 223); border-top-width: 4px; border-bottom-width: 4px; border-top-style: solid; border-bottom-style: solid;
}
#system-message {
	padding: 0px; margin-bottom: 10px;
}
#system-message dt {
	font-weight: bold;
}
#system-message dd {
	margin: 0px; text-indent: 30px; font-weight: bold;
}
#system-message dd ul {
	list-style: none; padding: 10px; color: rgb(0, 85, 187); margin-bottom: 10px; border-top-color: rgb(132, 167, 219); border-bottom-color: rgb(132, 167, 219); border-top-width: 3px; border-bottom-width: 3px; border-top-style: solid; border-bottom-style: solid;
}
#system-message dt.message {
	display: none;
}
#system-message dd.message {
	
}
#system-message dt.error {
	display: none;
}
#system-message dd.error ul {
	color: rgb(204, 0, 0); border-top-color: rgb(222, 122, 123); border-bottom-color: rgb(222, 122, 123); border-top-width: 3px; border-bottom-width: 3px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(230, 192, 192);
}
#system-message dt.notice {
	display: none;
}
#system-message dd.notice ul {
	background: rgb(239, 231, 184); color: rgb(204, 0, 0); border-top-color: rgb(240, 220, 126); border-bottom-color: rgb(240, 220, 126); border-top-width: 3px; border-bottom-width: 3px; border-top-style: solid; border-bottom-style: solid;
}
#system-debug {
	margin: 10px; padding: 10px; color: rgb(204, 204, 204); background-color: rgb(255, 255, 255);
}
#system-debug div {
	font-size: 11px;
}
