html {
	height: 100%; margin-bottom: 0px;
}
form {
	margin: 0px; padding: 0px;
}
img {
	border: currentColor; border-image: none;
}
table {
	border: currentColor; border-image: none;
}
body {
	background: rgb(255, 185, 92); margin: 0px; padding: 0px; color: rgb(68, 68, 68); line-height: 1.3em; font-family: Tahoma, Arial, sans-serif; font-size: 12px;
}
body.contentpane {
	background: rgb(248, 248, 248);
}
a:link {
	color: rgb(255, 255, 255); font-weight: normal; text-decoration: underline;
}
a:visited {
	color: rgb(255, 255, 255); font-weight: normal; text-decoration: underline;
}
a:hover {
	color: rgb(142, 84, 7); font-weight: normal; text-decoration: none;
}
table.contentpane ul li {
	list-style-image: url("images/li.png");
}
.nopad ul {
	list-style-image: url("images/li.png");
}
input.button {
	background: rgb(142, 84, 7); border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); font-size: 10px;
}
.validate {
	background: rgb(142, 84, 7); border: 0px currentColor; border-image: none; color: rgb(255, 255, 255); font-size: 10px;
}
.search input.button {
	text-align: right;
}
input.button:hover {
	
}
.validate:hover {
	
}
p {
	text-align: justify; margin-top: 0px; margin-bottom: 5px;
}
.inputbox {
	padding: 2px; border: 1px solid rgb(142, 84, 7); border-image: none;
}
.inputbox:hover {
	
}
#modlgn_remember {
	border: 0px currentColor; border-image: none;
}
#search {
	padding: 13px 50px 0px 0px; float: right;
}
#search .search .inputbox {
	background: none; margin: 0px; padding: 2px 0px 0px 6px; border: 1px solid rgb(185, 219, 154); border-image: none; width: 94px; height: 18px; color: rgb(149, 200, 102); line-height: 16px; font-size: 12px; float: left;
}
#search .search .button {
	background: rgb(44, 181, 244); margin: 0px 0px 0px 5px; border: 0px currentColor; border-image: none; height: 22px; text-align: center; color: rgb(255, 255, 255); font-size: 10px; float: left;
}
#page_bg {
	padding: 0px; height: 100%;
}
div.center {
	background: url("images/center_bg.jpg") repeat-y top; margin: 0px auto; padding: 0px; width: 900px; text-align: left;
}
div#wrapper {
	margin: 0px auto; padding: 2px 0px; width: 900px;
}
#header {
	background: url("images/header.jpg") no-repeat top; margin: 0px auto; width: 900px; height: 183px;
}
#newsflash {
	padding: 0px 10px 10px; width: 370px; float: right;
}
#content {
	margin: 0px auto; padding: 5px 0px 0px; width: 880px; overflow: hidden;
}
#logo {
	margin: 0px; padding: 0px; text-align: center;
}
#logo a {
	margin: 0px; padding: 0px; color: rgb(122, 72, 6); letter-spacing: 1px; font-family: Verdana, Arial, sans-serif; font-size: 24px; font-weight: bold; text-decoration: none;
}
#logo a:link {
	margin: 0px; padding: 0px; color: rgb(122, 72, 6); letter-spacing: 1px; font-family: Verdana, Arial, sans-serif; font-size: 24px; font-weight: bold; text-decoration: none;
}
#logo a:hover {
	margin: 0px; padding: 0px; color: rgb(122, 72, 6); letter-spacing: 1px; font-family: Verdana, Arial, sans-serif; font-size: 24px; font-weight: bold; text-decoration: none;
}
.pill_m {
	background: url("images/topmenu_bg.jpg") no-repeat top; margin: 0px auto; padding: 0px; width: 900px; height: 40px; text-align: center;
}
#pillmenu {
	margin: 0px; text-align: center;
}
#pillmenu ul {
	list-style: none; margin: 0px; padding: 0px;
}
#pillmenu li {
	margin: 0px; padding: 0px; height: 40px; float: left;
}
#pillmenu li:hover {
	
}
#pillmenu li a#active_menu-nav {
	
}
#pillmenu li a {
	padding: 0px 8px; color: rgb(255, 255, 255); line-height: 38px; font-family: Verdana, Tahoma, sans-serif; font-size: 16px; font-weight: bold; text-decoration: none; float: left; display: block;
}
#pillmenu li a:hover {
	color: rgb(142, 84, 7); text-decoration: none;
}
#leftcolumn {
	margin: 0px; padding: 0px 0px 10px; width: 190px; text-align: left; float: left;
}
#rightcolumn {
	margin: 0px; padding: 0px 0px 10px; width: 190px; text-align: left; float: left;
}
div#maincolumn {
	margin: 0px 0px 6px; width: 490px; float: left;
}
div#maincolumn_full {
	margin: 7px 0px 0px; padding: 10px 0px 0px 10px; width: 680px; float: left;
}
div.nopad {
	padding: 0px; overflow: hidden;
}
div.nopad ul {
	clear: both;
}
td.middle_pad {
	width: 20px;
}
#banner_l {
	padding: 0px 0px 0px 24px; text-align: left;
}
#footer {
	background: url("images/footer_bg.png") no-repeat top; margin: 0px auto; width: 1000px; height: 62px; text-align: center;
}
#footer p {
	padding: 10px 30px 0px 0px; height: 20px; text-align: right; color: rgb(102, 102, 102);
}
div.offline {
	background: rgb(255, 254, 187); padding: 5px; left: 0px; top: 0px; width: 100%; font-size: 1.2em; position: absolute;
}
div.componentheading {
	padding: 8px 0px 0px 10px; height: 22px;
}
table.blog {
	
}
h1 {
	padding: 0px; width: 100%; text-align: left; color: rgb(51, 51, 51); font-family: Tahoma, Arial, sans-serif; font-size: 1.3em; font-weight: bold; vertical-align: bottom;
}
h2 {
	padding: 0px; text-align: left; color: rgb(142, 84, 7); font-family: Tahoma, Arial, sans-serif; font-size: 12px; font-weight: bold; vertical-align: middle;
}
.contentheading {
	padding: 0px; text-align: left; color: rgb(142, 84, 7); font-family: Tahoma, Arial, sans-serif; font-size: 12px; font-weight: bold; vertical-align: middle;
}
table.contentpaneopen h3 {
	margin-top: 25px;
}
h4 {
	color: rgb(51, 51, 51); font-family: Tahoma, Arial, sans-serif;
}
h3 {
	margin: 0px; padding: 0px; text-align: left; color: rgb(142, 84, 7); font-family: Tahoma, Arial, sans-serif; font-size: 14px;
}
.componentheading {
	margin: 0px; padding: 0px; text-align: left; color: rgb(142, 84, 7); font-family: Tahoma, Arial, sans-serif; font-size: 14px;
}
table.moduletable th {
	margin: 0px; padding: 0px; text-align: left; color: rgb(142, 84, 7); font-family: Tahoma, Arial, sans-serif; font-size: 14px;
}
legend {
	margin: 0px; padding: 0px; text-align: left; color: rgb(142, 84, 7); font-family: Tahoma, Arial, sans-serif; font-size: 14px;
}
.small {
	text-align: left; color: rgb(102, 102, 102); font-size: 10px; font-weight: normal;
}
.modifydate {
	height: 20px; text-align: right; color: rgb(102, 102, 102); font-size: 10px; font-weight: normal; vertical-align: bottom;
}
.createdate {
	height: 20px; color: rgb(102, 102, 102); padding-top: 0px; font-size: 10px; font-weight: normal; vertical-align: top;
}
a.readon {
	color: rgb(255, 255, 255); line-height: 14px; font-size: 10px; text-decoration: none; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; float: right; display: block;
}
a.readon:hover {
	color: rgb(142, 84, 7); text-decoration: none;
}
.invalid {
	border-color: rgb(255, 0, 0);
}
label.invalid {
	color: rgb(255, 0, 0);
}
.ol-foreground {
	color: rgb(51, 51, 51); background-color: rgb(241, 241, 241);
}
.ol-background {
	color: rgb(51, 51, 51); background-color: rgb(241, 241, 241);
}
.ol-textfont {
	font-family: Tahoma, Arial, sans-serif; font-size: 10px;
}
.ol-captionfont {
	color: rgb(246, 246, 246); font-family: Tahoma, Arial, sans-serif; font-size: 12px; font-weight: bold;
}
.ol-captionfont a {
	color: rgb(51, 51, 51); font-size: 12px; text-decoration: none; background-color: rgb(241, 241, 241);
}
.ol-closefont {
	
}
a.mainlevel:link {
	margin: 0px; color: rgb(46, 182, 244); line-height: 18px; padding-left: 5px; font-size: 11px; font-weight: bold; text-decoration: none;
}
a.mainlevel:visited {
	margin: 0px; color: rgb(46, 182, 244); line-height: 18px; padding-left: 5px; font-size: 11px; font-weight: bold; text-decoration: none;
}
a.mainlevel:hover {
	
}
span.article_separator {
	height: 20px; display: block;
}
.article_column {
	
}
.column_separator {
	
}
td.buttonheading {
	width: 0px; text-align: right;
}
.clr {
	clear: both;
}
table.blog span.article_separator {
	height: 20px; display: block;
}
table.contenttoc {
	margin: 5px; padding: 5px; border: 1px solid rgb(204, 204, 204); border-image: none;
}
table.contenttoc td {
	padding: 0px 5px;
}
td.sectiontableheader {
	padding: 4px; color: rgb(51, 51, 51); font-weight: bold; border-bottom-color: rgb(102, 102, 102); border-bottom-width: 1px; border-bottom-style: solid;
}
tr.sectiontableentry0 td {
	padding: 4px;
}
tr.sectiontableentry1 td {
	padding: 4px;
}
tr.sectiontableentry2 td {
	padding: 4px;
}
td.sectiontableentry0 {
	padding: 3px; color: rgb(51, 51, 51); font-size: 10px;
}
td.sectiontableentry1 {
	padding: 3px; color: rgb(51, 51, 51); font-size: 10px;
}
td.sectiontableentry2 {
	padding: 3px; color: rgb(51, 51, 51); font-size: 10px;
}
.contentpaneopen {
	margin: 0px; padding: 0px;
}
table.contentpane {
	margin: 0px; padding: 0px;
}
table.contentpane td {
	text-align: left;
}
table.contentpane td.contentdescription {
	width: 100%;
}
table.contentpane {
	margin: 8px; width: 100%; text-align: left; float: left;
}
table.contentpane ul li a .category {
	color: rgb(255, 136, 0);
}
table.contentpane ul li {
	color: rgb(51, 51, 51);
}
table.contentpaneopen {
	margin: 2px 8px;
}
table.contentpaneopen li {
	margin-bottom: 5px;
}
table.contentpaneopen fieldset {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(102, 153, 51) currentColor currentColor; border-image: none;
}
table.contentpaneopen h3 {
	margin-top: 25px;
}
table.contentpaneopen h4 {
	color: rgb(102, 153, 51); font-family: Tahoma, Arial, sans-serif;
}
.highlight {
	background-color: rgb(255, 254, 187);
}
table.user1user2 div.moduletable {
	margin-bottom: 0px;
}
div.moduletable {
	margin-bottom: 25px;
}
div.module {
	margin-bottom: 25px;
}
div.module_menu {
	margin: 0px; padding: 0px;
}
div.module {
	margin: 0px; padding: 0px;
}
div.module_menu div {
	
}
div.module {
	
}
div.module_menu div div {
	background: url("images/menu_bottom.png") no-repeat left bottom; margin: 0px 0px 15px; padding: 0px;
}
div.module div div {
	background: url("images/menu_bottom.png") no-repeat left bottom; margin: 0px 0px 15px; padding: 0px;
}
div.module_menu div div div {
	background: url("images/menu_top_out.png") no-repeat left top; margin: 0px; padding: 0px 0px 20px; text-align: center;
}
div.module div div div {
	background: url("images/menu_top_out.png") no-repeat left top; margin: 0px; padding: 0px 0px 20px; text-align: center;
}
div.module_menu div div div div {
	background: none; padding: 4px 8px; text-align: left;
}
div.module div div div div {
	background: none; padding: 4px 8px; text-align: left;
}
div.module div div div form {
	margin: 0px auto; padding: 4px 0px 0px 4px; width: 160px; text-align: left;
}
div.module div div div form table td {
	text-align: left;
}
div.module div div div form ul {
	list-style: none; margin: 10px 0px 0px; padding: 0px;
}
div.module_menu ul {
	list-style: none; text-align: left;
}
div.module_menu ul li {
	margin: 0px; padding: 0px;
}
div.module_menu ul li a:link {
	background: url("images/blue/bullet2.jpg") no-repeat left top; padding: 2px 0px 2px 25px; color: rgb(46, 182, 244); line-height: 24px; font-size: 11px; font-weight: bold; text-decoration: none;
}
div.module_menu ul li a:visited {
	background: url("images/blue/bullet2.jpg") no-repeat left top; padding: 2px 0px 2px 25px; color: rgb(46, 182, 244); line-height: 24px; font-size: 11px; font-weight: bold; text-decoration: none;
}
div.module_text div div div div {
	margin: 0px auto;
}
div.bannergroup_text {
	background: url("images/menu_bottom.png") no-repeat left bottom; width: 190px; display: block;
}
.bannerheader {
	padding: 0px 0px 0px 6px;
}
#leftcolumn div.module table {
	
}
#rightcolumn div.module table {
	
}
#leftcolumn div.module table.poll {
	
}
#leftcolumn div.module table.poll td {
	text-align: left;
}
#leftcolumn h3 {
	background: url("images/h3.png") no-repeat left top; margin: 0px; padding: 0px 0px 0px 20px; width: 170px; height: 50px; text-align: left; color: rgb(142, 84, 7); line-height: 46px; font-family: Tahoma, Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none;
}
#rightcolumn h3 {
	background: url("images/h3.png") no-repeat left top; margin: 0px; padding: 0px 0px 0px 20px; width: 170px; height: 50px; text-align: left; color: rgb(142, 84, 7); line-height: 46px; font-family: Tahoma, Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none;
}
#leftcolumn .moduletable_menu {
	margin: 0px 0px 16px; padding: 0px 0px 8px;
}
#leftcolumn .moduletable {
	margin: 0px 0px 16px; padding: 0px 0px 8px;
}
#leftcolumn .moduletable_text {
	margin: 0px 0px 16px; padding: 0px 0px 8px;
}
#leftcolumn .c {
	margin: 0px 0px 16px; padding: 0px 0px 8px;
}
#rightcolumn .moduletable_menu {
	margin: 0px 0px 16px; padding: 0px 0px 8px;
}
#rightcolumn .moduletable {
	margin: 0px 0px 16px; padding: 0px 0px 8px;
}
#rightcolumn .moduletable_text {
	margin: 0px 0px 16px; padding: 0px 0px 8px;
}
#rightcolumn .c {
	margin: 0px 0px 16px; padding: 0px 0px 8px;
}
#leftcolumn ul.menu {
	list-style: none; margin: 0px auto; padding: 5px 0px 0px 4px; width: 160px;
}
#rightcolumn ul.menu {
	list-style: none; margin: 0px auto; padding: 5px 0px 0px 4px; width: 160px;
}
#leftcolumn ul.menu li {
	margin: 0px; padding: 0px;
}
#rightcolumn ul.menu li {
	margin: 0px; padding: 0px;
}
#leftcolumn ul.menu li:hover {
	
}
#rightcolumn ul.menu li:hover {
	
}
#leftcolumn ul.menu li a {
	background: url("images/menu_row.jpg") no-repeat left; margin: 0px; padding: 0px 0px 0px 12px; height: 18px; color: rgb(255, 255, 255); line-height: 18px; font-size: 11px; font-weight: bold; text-decoration: none;
}
#leftcolumn ul.menu li a:link {
	background: url("images/menu_row.jpg") no-repeat left; margin: 0px; padding: 0px 0px 0px 12px; height: 18px; color: rgb(255, 255, 255); line-height: 18px; font-size: 11px; font-weight: bold; text-decoration: none;
}
#rightcolumn ul.menu li a {
	background: url("images/menu_row.jpg") no-repeat left; margin: 0px; padding: 0px 0px 0px 12px; height: 18px; color: rgb(255, 255, 255); line-height: 18px; font-size: 11px; font-weight: bold; text-decoration: none;
}
#rightcolumn ul.menu li a:link {
	background: url("images/menu_row.jpg") no-repeat left; margin: 0px; padding: 0px 0px 0px 12px; height: 18px; color: rgb(255, 255, 255); line-height: 18px; font-size: 11px; font-weight: bold; text-decoration: none;
}
#leftcolumn ul.menu li a:hover {
	color: rgb(142, 84, 7); text-decoration: none;
}
#rightcolumn ul.menu li a:hover {
	color: rgb(142, 84, 7); text-decoration: none;
}
#leftcolumn ul.menu li#current a {
	background: url("images/menu_row.jpg") no-repeat left; margin: 0px; padding: 0px 0px 0px 12px; height: 18px; color: rgb(142, 84, 7); line-height: 18px; font-size: 11px; font-weight: bold; text-decoration: underline;
}
#leftcolumn ul.menu li#current a:link {
	background: url("images/menu_row.jpg") no-repeat left; margin: 0px; padding: 0px 0px 0px 12px; height: 18px; color: rgb(142, 84, 7); line-height: 18px; font-size: 11px; font-weight: bold; text-decoration: underline;
}
#rightcolumn ul.menu li#current a {
	background: url("images/menu_row.jpg") no-repeat left; margin: 0px; padding: 0px 0px 0px 12px; height: 18px; color: rgb(142, 84, 7); line-height: 18px; font-size: 11px; font-weight: bold; text-decoration: underline;
}
#rightcolumn ul.menu li#current a:link {
	background: url("images/menu_row.jpg") no-repeat left; margin: 0px; padding: 0px 0px 0px 12px; height: 18px; color: rgb(142, 84, 7); line-height: 18px; font-size: 11px; font-weight: bold; text-decoration: underline;
}
#leftcolumn ul.menu li#current a:hover {
	color: rgb(142, 84, 7); text-decoration: none;
}
#rightcolumn ul.menu li#current a:hover {
	color: rgb(142, 84, 7); text-decoration: none;
}
#leftcolumn ul.menu li#current ul li a {
	background: url("images/submenu_row.jpg") no-repeat left; margin: 0px 0px 0px 6px; padding: 0px 0px 0px 18px; border: currentColor; border-image: none; height: 18px; color: rgb(102, 102, 102); line-height: 18px; font-size: 11px; font-weight: normal; text-decoration: none; display: block;
}
#leftcolumn ul.menu li#current ul li a:link {
	background: url("images/submenu_row.jpg") no-repeat left; margin: 0px 0px 0px 6px; padding: 0px 0px 0px 18px; border: currentColor; border-image: none; height: 18px; color: rgb(102, 102, 102); line-height: 18px; font-size: 11px; font-weight: normal; text-decoration: none; display: block;
}
#leftcolumn ul.menu li ul li#current a {
	background: url("images/submenu_row.jpg") no-repeat left; margin: 0px 0px 0px 6px; padding: 0px 0px 0px 18px; border: currentColor; border-image: none; height: 18px; color: rgb(51, 51, 51); line-height: 18px; font-size: 11px; text-decoration: none;
}
#leftcolumn ul.menu li ul li#current a:link {
	background: url("images/submenu_row.jpg") no-repeat left; margin: 0px 0px 0px 6px; padding: 0px 0px 0px 18px; border: currentColor; border-image: none; height: 18px; color: rgb(51, 51, 51); line-height: 18px; font-size: 11px; text-decoration: none;
}
#leftcolumn ul.menu li ul li#current a:visited {
	background: url("images/submenu_row.jpg") no-repeat left; margin: 0px 0px 0px 6px; padding: 0px 0px 0px 18px; border: currentColor; border-image: none; height: 18px; color: rgb(51, 51, 51); line-height: 18px; font-size: 11px; text-decoration: none;
}
#leftcolumn ul.menu li ul li#current a:hover {
	background: url("images/submenu_row.jpg") no-repeat left; margin: 0px 0px 0px 6px; padding: 0px 0px 0px 18px; border: currentColor; border-image: none; height: 18px; color: rgb(51, 51, 51); line-height: 18px; font-size: 11px; text-decoration: none;
}
#leftcolumn ul.menu li#current ul {
	margin: 0px; padding: 0px;
}
#leftcolumn ul.menu li#current ul li {
	margin: 0px; padding: 0px;
}
#leftcolumn ul.menu li ul {
	margin: 0px; padding: 0px;
}
#leftcolumn ul.menu li#current ul li a:hover {
	color: rgb(51, 51, 51);
}
#leftcolumn ul.menu li ul {
	list-style: none;
}
#rightcolumn ul.menu li ul {
	list-style: none;
}
#leftcolumn .moduletable ul {
	list-style: none; margin: 6px 0px; padding: 0px;
}
#rightcolumn .moduletable ul {
	list-style: none; margin: 6px 0px; padding: 0px;
}
#leftcolumn .moduletable ul li {
	margin: 0px; padding: 0px 2px;
}
#rightcolumn .moduletable ul li {
	margin: 0px; padding: 0px 2px;
}
table.adminform textarea {
	width: 540px; height: 400px; color: rgb(0, 0, 153); font-size: 1em;
}
form#form-login fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
form#form-login ul li {
	padding: 0px;
}
form#form-login ul li a {
	padding: 0px; text-align: left; font-size: 10px;
}
div.mosimage {
	margin: 5px;
}
div.mosimage_caption {
	color: rgb(51, 51, 51); font-size: 0.9em;
}
div.caption {
	padding: 0px 10px;
}
div.caption img {
	border: 1px solid rgb(204, 204, 204); border-image: none;
}
div.caption p {
	text-align: center; color: rgb(51, 51, 51); font-size: 0.9em;
}
table.paramlist {
	margin-top: 5px;
}
table.paramlist td.paramlist_key {
	width: 128px; height: 30px; text-align: left;
}
table.paramlist td.paramlist_value {
	
}
div.message {
	margin: 3px 0px 10px; padding: 3px 20px; border: 1px solid rgb(213, 213, 213); border-image: none; width: auto; text-align: center; color: rgb(204, 51, 0); font-family: Tahoma, Arial, sans-serif; font-size: 14px; font-weight: bold; background-color: rgb(249, 249, 249);
}
.bannergroup {
	
}
.banneritem {
	
}
.banneritem_text {
	padding: 4px 8px; font-size: 11px;
}
.bannerfooter_text {
	padding: 8px 20px; text-align: right; font-size: 11px;
}
.pagination span {
	padding: 2px;
}
.pagination a {
	padding: 2px;
}
.pollstableborder td {
	text-align: left;
}
fieldset {
	padding: 15px; border: 1px solid rgb(204, 204, 204); border-image: none; margin-top: 15px;
}
legend {
	margin: 0px; padding: 0px 10px;
}
td.key {
	color: rgb(51, 51, 51); border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.tool-tip {
	background: rgb(255, 255, 204); padding: 5px; border: 1px solid rgb(212, 213, 170); border-image: none; float: left; max-width: 200px;
}
.tool-title {
	background: url("../../system/images/selector-arrow.png") no-repeat; margin: -15px 0px 0px; padding: 15px 0px 5px; font-size: 100%; font-weight: bold;
}
.tool-text {
	margin: 0px; font-size: 100%;
}
#system-message dd.message ul {
	background: rgb(254, 177, 59); margin: 0px; padding: 0px;
}
#system-message dd.error ul {
	background: rgb(230, 192, 192); margin: 0px; padding: 0px; color: rgb(204, 0, 0); border-top-color: rgb(222, 122, 123); border-bottom-color: rgb(222, 122, 123); border-top-width: 3px; border-bottom-width: 3px; border-top-style: solid; border-bottom-style: solid;
}
#system-message dd ul {
	list-style: none; padding: 10px; text-align: center; color: rgb(255, 255, 255); margin-bottom: 10px; border-top-color: rgb(213, 138, 25); border-bottom-color: rgb(213, 138, 25); border-top-width: 3px; border-bottom-width: 3px; border-top-style: solid; border-bottom-style: solid;
}
#system-message dd.notice ul {
	background: rgb(230, 192, 192); margin: 0px; padding: 0px; color: rgb(204, 0, 0); border-top-color: rgb(213, 138, 25); border-bottom-color: rgb(213, 138, 25); border-top-width: 3px; border-bottom-width: 3px; border-top-style: solid; border-bottom-style: solid;
}
input {
	
}
button {
	
}
input[type='checkbox'] {
	background: none; border: currentColor; border-image: none;
}
input[type='radio'] {
	background: none; border: currentColor; border-image: none;
}
a.sgfooter:link {
	color: rgb(255, 255, 255); font-family: Tahoma, Arial, sans-serif; text-decoration: none;
}
a.sgfooter:visited {
	color: rgb(255, 255, 255); font-family: Tahoma, Arial, sans-serif; text-decoration: none;
}
a.sgfooter:hover {
	color: rgb(255, 255, 255); font-family: Tahoma, Arial, sans-serif; text-decoration: none;
}
#sgf {
	margin: 0px auto; width: 100%; text-align: right; color: rgb(255, 255, 255); font-family: Tahoma, Arial, sans-serif; font-size: 12px;
}
.sgf {
	text-align: right; color: rgb(255, 255, 255); font-family: Tahoma, Arial, sans-serif; font-size: 12px; text-decoration: none;
}
.sgf1 {
	text-align: left; color: rgb(142, 84, 7); font-family: Tahoma, Arial, sans-serif; font-size: 12px;
}
a.sglink:link {
	color: rgb(255, 255, 255); font-family: Tahoma, Arial, sans-serif; font-size: 12px; text-decoration: none;
}
a.sglink:visited {
	color: rgb(255, 255, 255); font-family: Tahoma, Arial, sans-serif; font-size: 12px; text-decoration: none;
}
a.sglink:hover {
	color: rgb(255, 255, 255); font-family: Tahoma, Arial, sans-serif; text-decoration: none;
}
