:root {
  --color-a: #6e9804;
  --color-a-d10: #638904;
  --color-a-d20: #587a03;
  --color-a-l15: #84a72a;
  --color-a-l30: #9ab74f;
  --color-a-l40: #a8c168;
  --color-a-l50: #b7cc82;
  --color-a-l70: #d4e0b4;
  --color-a-l82: #e5ecd2;
  --color-a-l94: #f6f9f0;
  --color-b: #1c449b;
  --color-b-d10: #193d8c;
  --color-b-d20: #16367c;
  --color-b-l15: #3e60aa;
  --color-b-l30: #607cb9;
  --color-b-l40: #778fc3;
  --color-b-l50: #8ea2cd;
  --color-b-l70: #bbc7e1;
  --color-b-l82: #d6dded;
  --color-b-l94: #f1f4f9;
  --color-b1: #1c449b;
  --color-b1-d10: #193d8c;
  --color-b1-d20: #16367c;
  --color-b1-l15: #3e60aa;
  --color-b1-l30: #607cb9;
  --color-b1-l40: #778fc3;
  --color-b1-l50: #8ea2cd;
  --color-b1-l70: #bbc7e1;
  --color-b1-l82: #d6dded;
  --color-b1-l94: #f1f4f9;
  --color-b2: #707070;
  --color-b2-d10: #656565;
  --color-b2-d20: #5a5a5a;
  --color-b2-l15: #858585;
  --color-b2-l30: #9b9b9b;
  --color-b2-l40: darkgray;
  --color-b2-l50: #b8b8b8;
  --color-b2-l70: #d4d4d4;
  --color-b2-l82: #e5e5e5;
  --color-b2-l94: #f6f6f6;
  --color-c: #333;
  --color-c-d10: #2e2e2e;
  --color-c-d20: #292929;
  --color-c-l15: #525252;
  --color-c-l30: #707070;
  --color-c-l40: #858585;
  --color-c-l50: #999999;
  --color-c-l70: #c2c2c2;
  --color-c-l82: #dadada;
  --color-c-l94: #f3f3f3;
  --color-d: #fff;
  --color-f: #fff;
  --color-h1: #f0bc00;
  --color-h1-d10: #d8a900;
  --color-h1-d20: #c09600;
  --color-h1-l15: #f2c626;
  --color-h1-l30: #f5d04d;
  --color-h1-l40: #f6d766;
  --color-h1-l50: #f8de80;
  --color-h1-l70: #fbebb3;
  --color-h1-l82: #fcf3d1;
  --color-h1-l94: #fefbf0;
  --color-h2: #d40000;
  --color-h2-d10: #bf0000;
  --color-h2-d20: #aa0000;
  --color-h2-l15: #da2626;
  --color-h2-l30: #e14d4d;
  --color-h2-l40: #e56666;
  --color-h2-l50: #ea8080;
  --color-h2-l70: #f2b3b3;
  --color-h2-l82: #f7d1d1;
  --color-h2-l94: #fcf0f0;
  --color-h3: #5cb82a;
  --color-h3-d10: #53a626;
  --color-h3-d20: #4a9322;
  --color-h3-l15: #74c34a;
  --color-h3-l30: #8dcd6a;
  --color-h3-l40: #9dd47f;
  --color-h3-l50: #aedc95;
  --color-h3-l70: #ceeabf;
  --color-h3-l82: #e2f2d9;
  --color-h3-l94: #f5fbf2;
  --color-h4: #a3a1a1;
  --color-h4-d10: #939191;
  --color-h4-d20: #828181;
  --color-h4-l15: #b1afaf;
  --color-h4-l30: #bfbdbd;
  --color-h4-l40: #c8c7c7;
  --color-h4-l50: #d1d0d0;
  --color-h4-l70: #e3e3e3;
  --color-h4-l82: #eeeeee;
  --color-h4-l94: #f9f9f9;
}

:root[theme=intensegreen] {
  --color-a: #93b536;
  --color-a-d10: #84a331;
  --color-a-d20: #76912b;
  --color-a-l15: #a3c054;
  --color-a-l30: #b3cb72;
  --color-a-l40: #bed386;
  --color-a-l50: #c9da9b;
  --color-a-l70: #dfe9c3;
  --color-a-l82: #ecf2db;
  --color-a-l94: #f9fbf3;
  --color-b: #93b536;
  --color-b-d10: #84a331;
  --color-b-d20: #76912b;
  --color-b-l15: #a3c054;
  --color-b-l30: #b3cb72;
  --color-b-l40: #bed386;
  --color-b-l50: #c9da9b;
  --color-b-l70: #dfe9c3;
  --color-b-l82: #ecf2db;
  --color-b-l94: #f9fbf3;
  --color-b1: #93b536;
  --color-b1-d10: #84a331;
  --color-b1-d20: #76912b;
  --color-b1-l15: #a3c054;
  --color-b1-l30: #b3cb72;
  --color-b1-l40: #bed386;
  --color-b1-l50: #c9da9b;
  --color-b1-l70: #dfe9c3;
  --color-b1-l82: #ecf2db;
  --color-b1-l94: #f9fbf3;
}

:root[theme=intensepurple] {
  --color-a: #6f2b8b;
  --color-a-d10: #64277d;
  --color-a-d20: #59226f;
  --color-a-l15: #854b9c;
  --color-a-l30: #9a6bae;
  --color-a-l40: #a980b9;
  --color-a-l50: #b795c5;
  --color-a-l70: #d4bfdc;
  --color-a-l82: #e5d9ea;
  --color-a-l94: #f6f2f8;
  --color-b: #6f2b8b;
  --color-b-d10: #64277d;
  --color-b-d20: #59226f;
  --color-b-l15: #854b9c;
  --color-b-l30: #9a6bae;
  --color-b-l40: #a980b9;
  --color-b-l50: #b795c5;
  --color-b-l70: #d4bfdc;
  --color-b-l82: #e5d9ea;
  --color-b-l94: #f6f2f8;
  --color-b1: #6f2b8b;
  --color-b1-d10: #64277d;
  --color-b1-d20: #59226f;
  --color-b1-l15: #854b9c;
  --color-b1-l30: #9a6bae;
  --color-b1-l40: #a980b9;
  --color-b1-l50: #b795c5;
  --color-b1-l70: #d4bfdc;
  --color-b1-l82: #e5d9ea;
  --color-b1-l94: #f6f2f8;
}

:root[theme=intenserouge] {
  --color-a: #85154a;
  --color-a-d10: #781343;
  --color-a-d20: #6a113b;
  --color-a-l15: #973865;
  --color-a-l30: #aa5b80;
  --color-a-l40: #b67392;
  --color-a-l50: #c28aa5;
  --color-a-l70: #dab9c9;
  --color-a-l82: #e9d5de;
  --color-a-l94: #f8f1f4;
  --color-b: #85154a;
  --color-b-d10: #781343;
  --color-b-d20: #6a113b;
  --color-b-l15: #973865;
  --color-b-l30: #aa5b80;
  --color-b-l40: #b67392;
  --color-b-l50: #c28aa5;
  --color-b-l70: #dab9c9;
  --color-b-l82: #e9d5de;
  --color-b-l94: #f8f1f4;
  --color-b1: #85154a;
  --color-b1-d10: #781343;
  --color-b1-d20: #6a113b;
  --color-b1-l15: #973865;
  --color-b1-l30: #aa5b80;
  --color-b1-l40: #b67392;
  --color-b1-l50: #c28aa5;
  --color-b1-l70: #dab9c9;
  --color-b1-l82: #e9d5de;
  --color-b1-l94: #f8f1f4;
}

:root[theme=nightblue] {
  --color-a: #2d587f;
  --color-a-d10: #294f72;
  --color-a-d20: #244666;
  --color-a-l15: #4d7192;
  --color-a-l30: #6c8aa5;
  --color-a-l40: #819bb2;
  --color-a-l50: #96acbf;
  --color-a-l70: #c0cdd9;
  --color-a-l82: #d9e1e8;
  --color-a-l94: #f2f5f7;
  --color-b: #2d587f;
  --color-b-d10: #294f72;
  --color-b-d20: #244666;
  --color-b-l15: #4d7192;
  --color-b-l30: #6c8aa5;
  --color-b-l40: #819bb2;
  --color-b-l50: #96acbf;
  --color-b-l70: #c0cdd9;
  --color-b-l82: #d9e1e8;
  --color-b-l94: #f2f5f7;
  --color-b1: #2d587f;
  --color-b1-d10: #294f72;
  --color-b1-d20: #244666;
  --color-b1-l15: #4d7192;
  --color-b1-l30: #6c8aa5;
  --color-b1-l40: #819bb2;
  --color-b1-l50: #96acbf;
  --color-b1-l70: #c0cdd9;
  --color-b1-l82: #d9e1e8;
  --color-b1-l94: #f2f5f7;
}

:root[theme=tropicisland] {
  --color-a: #2491a1;
  --color-a-d10: #208391;
  --color-a-d20: #1d7481;
  --color-a-l15: #45a2af;
  --color-a-l30: #66b2bd;
  --color-a-l40: #7cbdc7;
  --color-a-l50: #92c8d0;
  --color-a-l70: #bddee3;
  --color-a-l82: #d8ebee;
  --color-a-l94: #f2f8f9;
  --color-b: #2491a1;
  --color-b-d10: #208391;
  --color-b-d20: #1d7481;
  --color-b-l15: #45a2af;
  --color-b-l30: #66b2bd;
  --color-b-l40: #7cbdc7;
  --color-b-l50: #92c8d0;
  --color-b-l70: #bddee3;
  --color-b-l82: #d8ebee;
  --color-b-l94: #f2f8f9;
  --color-b1: #2491a1;
  --color-b1-d10: #208391;
  --color-b1-d20: #1d7481;
  --color-b1-l15: #45a2af;
  --color-b1-l30: #66b2bd;
  --color-b1-l40: #7cbdc7;
  --color-b1-l50: #92c8d0;
  --color-b1-l70: #bddee3;
  --color-b1-l82: #d8ebee;
  --color-b1-l94: #f2f8f9;
}

@font-face {
  font-family: RobotoCondReg;
  font-style: normal;
  font-display: swap;
  src: url("https://img.ui-portal.de/ci/gmx/global/fonts/roboto/RobotoCondensed-Regular-webfont.woff") format("woff");
}
@font-face {
  font-family: RobotoMed;
  font-style: normal;
  font-display: swap;
  src: url("https://img.ui-portal.de/ci/gmx/global/fonts/roboto/Roboto-Medium-webfont.woff") format("woff");
}
:root {
  --font-style-48: RobotoCondReg, Arial, sans-serif;
  --font-style-40: var(--font-style-48);
  --font-style-32: var(--font-style-48);
  --font-style-28: RobotoMed, Arial, sans-serif;
  --font-style-24: var(--font-style-28);
  --font-style-20: var(--font-style-28);
  --font-style-16-brand: var(--font-style-28);
}

/*# sourceMappingURL=gmx_com.css.map */
