
<!--

A:         { font-family: Arial, Verdana, Helvetica; font-size: 9pt; color: #990000; text-decoration: underline; font-weight: normal;}
A:link     {
	font-family: Arial, Verdana, Helvetica;
	font-size: large;
	color: #008000;
	text-decoration: none;
	font-weight: bold;
}
A:visited  { font-family: Arial, Verdana, Helvetica; font-size: 9pt; color: #990000; text-decoration: underline; font-weight: normal;}
A:hover    { font-family: Arial, Verdana, Helvetica; font-size: 9pt; color: #3268B5; text-decoration: underline; font-weight: normal;}

.title     { font-family: Arial, Verdana, Helvetica; font-size: 10pt; color: #990000; font-weight: bold; font-style: normal; text-decoration: none;}
td     {
	font-family: Arial, Verdana, Helvetica;
	font-size: large;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.style1 {
	color: #008000;
	font-weight: bold;
	font-size: large;
	font-style: normal;
	font: caption;
}

-->
