
/* Post Breadcrumb
----------------------------------------------- */
.breadcrumb {
background:#F7F7F7;
border:1px solid #f0f0f0;
width:100%;
margin:0px 0px 10px 10px;
font-size:10px;
text-transform:uppercase;
overflow:hidden;
position:relative;
bottom:0px;
}

.breadcrumb a,.breadcrumb a:visited {
color:#222;
font-family:Droid Arabic Kufi,sans-serif
}

.breadcrumb .boardTitle {
display:none
}

.breadcrumb .crust {
display:block;
float:right;
position:relative
}

.breadcrumb .crust a.crumb {
background-color:#f1f1f1;
display:block;
height:24px;
line-height:24px;
margin-bottom:0;
outline:0 none;
padding:0 18px 0 10px;
text-decoration:none
}

.breadcrumb .crust:first-child a.crumb {
padding-right:10px
}

.breadcrumb .crust:last-child a.crumb {
background-color:#e7e7e7;
font-weight:bold
}

.breadcrumb .crust:last-child .arrow span {
border-right-color:#e7e7e7!important
}

.breadcrumb .crust .arrow {
-moz-border-bottom-colors:none;
-moz-border-right-colors:none;
-moz-border-left-colors:none;
-moz-border-top-colors:none;
border-color:transparent black transparent #BBBBBB;
border-image:none;
border-style:solid none solid solid;
border-width:12px 1px 12px 12px;
display:block;
height:0;
position:absolute;
left:-12px;
top:0;
width:0;
z-index:5;
}

.breadcrumb .crust .arrow span {
-moz-border-bottom-colors:none;
-moz-border-right-colors:none;
-moz-border-left-colors:none;
-moz-border-top-colors:none;
border-color:transparent black transparent #f1f1f1;
border-image:none;
border-style:solid none solid solid;
border-width:12px 1px 12px 12px;
display:block;
height:0;
right:-13px;
overflow:hidden;
position:absolute;
text-indent:9999px;
top:-12px;
#ffffff-space:nowrap;
width:0;
z-index:6;
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.breadcrumb .crust:hover a.crumb {
background-color:#e7e7e7;
color:#222;
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.breadcrumb .crust:hover .arrow span {
border-right-color:#e7e7e7;
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
-ms-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

a.loadpost {
width:100%;
display:block;
padding:8px;
border:2px solid #cdcdcd;
color:#222;
text-transform:uppercase;
text-decoration:none;
font-family:Oswald,open sans, sans-serif,Droid Arabic Kufi;
font-weight:400;
font-size:17px
}

a.loadpost:hover {
border:2px solid #f24024;
color:#fff;
background-color:#f24024
}


