a:link {color: #888888; text-decoration: none}
a:visited {color: #888888; text-decoration: none}
a:hover {color: #EEEEEE; text-decoration: underline; cursor: pointer}
a:active {color:#FFFFFF; text-decoration: none}

body {
	margin: 0px;
	padding: 0px;
	background-color: black;
	font-family: Verdana, Arial;
	font-size: 12px;
	line-height: 14px;
	color: #C8C8C8;
	scrollbar-arrow-color: #C8C8C8;
	scrollbar-base-color: #000000;
	scrollbar-face-color: #003666;
	scrollbar-highlight-color: #004888;
	scrollbar-shadow-color: #004888;
	scrollbar-3dlight-color: #000000;
	scrollbar-track-color: #002444;
	scrollbar-darkshadow-color: #000000;
}

input {
	color: #C8C8C8;
	font-size: 9pt;
	font-family: verdana, sans-serif;
	background-color: black;
	border: 1px solid #004888;
	padding: 2px;
	margin: 2px 2px 4px 2px;
}

input.current {
	background-color: #002444;
	border: 1px solid white;
}

.fnavtop {
	background-image: url('images/bar.png');
	background-repeat: repeat;
	margin: 1px 1px 0px 1px;
	padding: 3px 6px 3px 6px;
	height: 15px;
	border: 1px solid #003666;
	font-weight: bold;
	float: left;
}

.navtop {
	background-image: url('images/bar.png');
	background-repeat: repeat;
	margin: 1px 1px 0px 0px;
	padding: 3px 6px 3px 6px;
	height: 15px;
	border: 1px solid #003666;
	font-weight: bold;
	float: left;
}

.logo {
	background-image: url('images/logo.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 187px;
}



.text {
	padding: 0px 6px 0px 6px;
}
.indent {
	padding: 0px 0px 0px 18px;
}

.bodyheader {
	width: 100%;
	font-weight: bold;
	background-color: #003666;
	border-right: 1px solid #003666;
	border-bottom: 1px solid #001222;
	border-left: 1px solid #004888;
	border-top: 1px solid #004888;
	margin: 0px 0px 4px 0px;
	padding: 4px 0px 6px 0px;
}

.list-item {
	width: 100%;
	font-size: 11px;
	line-height: 15px;
	background-color: #001222;
	background-image: url('/images/bbg.png');
	margin: -6px 0px 4px 0px;
	padding: 4px 0px 4px 6px;
	border: 1px solid #004888;
	border-top: none;
}

.list-box {
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	background-color: #001222;
	background-image: url('/images/bbg.png');
	margin: -6px 0px 3px 0px;
	padding: 4px 0px 6px 0px;
	border: 1px solid #004888;
	border-top: none;
}

.main-item {
	width: 100%;
	font-size: 12px;
	line-height: 16px;
	background-color: #001222;
	margin: -6px 0px 0px 0px;
	padding: 6px 0px 14px 0px;
	border: 1px solid #004888;
	border-right: 1px solid #003666;
	border-top: none;
}

.news-item {
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	background-color: #001016;
	margin: 4px 6px -7px 6px;
	padding: 10px 10px 8px 10px;
	border: 1px solid #003666;
}

.cell {
	background-color: #000000;
	border: 1px solid #003666;
}

.cellhead {
	padding: 2px 4px 2px 4px;
	font-weight: bold;
	background-color: #003666;
	border: 1px solid #003666;
}

.otd-header {
	font-weight: bold;
	background-color: #003666;
	width: 100%;
	border-right: 1px solid #003666;
	border-bottom: 1px solid #004888;
	border-left: 1px solid #004888;
	border-top: 1px solid #004888;
	margin: 8px 0px 3px 8px;
	padding: 4px 6px 6px 6px;
}


.txt-file {
	font-family: Courier New, Courier;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	padding: 0px -4px 8px 10px;

}

.mapHead {
	text-align: left;
	line-height: 16px;
	border-left: 1px solid #004888;
	border-top: 1px solid #004888;
	border-right: 1px solid #002444;
	border-bottom: 1px solid #002444;
	background-color: #003666;
	padding: 2px 2px 2px 2px;
}

.mapImage {
	border: none;
	margin: 2px 0px 0px 0px;
	background-color: #000000;
	padding: none;
	border-left: 1px solid #004888;
	border-bottom: 1px solid #002444;
}

.mapLine1 {
	border-left: 1px solid #002444;
	border-bottom: 1px solid #002444;
	border-right: 1px solid #002444;
	margin: 2px 0px 0px 0px;
	background-color: #000611;
	padding: 2px 4px 2px 4px;
}


.mapLine2 {
	border-left: 1px solid #002444;
	border-bottom: 1px solid #002444;
	border-right: 1px solid #002444;
	margin: 2px 0px 0px 0px;
	background-color: #001018;
	padding: 2px 4px 2px 4px;
}

.mapLine_bottom {
	border-left: 1px solid #004888;
	border-bottom: 1px solid #002444;
	border-right: 1px solid #002444;
	margin: 2px 0px 0px 0px;
	background-color: black;
	padding: 2px 4px 2px 4px;
}

.arrOff {
	position: relative;
	top: 2px;
	border: none;
}

.pulldown {
	font-family: Verdana, Arial, Times New Roman;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #001222;
	border: 1px solid #004888;
}
