:root{--color-primary:#69bd45;--color-secondary:#007ab8;--color-tertiary:#1ea4a9;--color-state:#4b7e2b;--color-state-hover:#3c6721;--color-state-focus:#3c6721;--color-state-active:#30541a;--color-state-highlight:#f6f9d7;--color-state-highlight-neutral:var(--color-neutral-3);--color-state-disabled:var(--color-neutral-5);--color-neutral-1:#fff;--color-neutral-2:#fafafa;--color-neutral-3:#f7f7f7;--color-neutral-4:#e6e4e4;--color-neutral-5:#c7c7c7;--color-neutral-6:#767676;--color-neutral-7:#262626;--color-background:var(--color-neutral-1);--color-border:var(--color-neutral-5);--color-text:var(--color-neutral-7);--color-text-disabled:var(--color-neutral-5);--color-text-hint:var(--color-neutral-6);--link-color:var(--color-state);--link-color-hover:var(--color-state-hover);--nav-bg-color:#fff;--nav-text-color:var(--color-text);--footer-bg-color:#fff;--footer-text-color:var(--color-text);--footer-text-color-hover:var(--footer-text-color);--btn-accent-color:var(--color-state);--btn-accent-color-active:var(--color-state-active);--btn-accent-color-focus:var(--color-state-focus);--btn-accent-color-disabled:var(--color-state-disabled);--btn-prim-accent-color:var(--color-state);--btn-prim-accent-color-active:var(--color-state-active);--btn-prim-accent-color-focus:var(--color-state-focus);--btn-prim-accent-color-disabled:var(--color-state-disabled)}:root{--nav-bg-color: #ffffff;--nav-text-color: #262626;--color-primary: #69BE28;--color-state: #00693C;--color-text: #262626;--footer-bg-color: #ffffff;--footer-text-color: #262626;--color-state-hover: #005f32;--color-state-focus: #005f32;--color-state-active: #004e21;--footer-text-color-hover: #1c1c1c;}
ul.social_sc {
text-align-last: center;
text-decoration: none!important;
padding: 0;
list-style-type: none;
display: block;
margin-left: 0;
}

ul.social_sc li {
margin: 0px;
padding: 5px;
list-style-type: none;
display: inline-block;
}
    
.grow {
-webkit-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
transition:all .2s ease-in-out
}

.grow:hover {
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
transform:scale(1.1)
}

#page-footer {
background-color: transparent;
}

.totaraNav_prim--list_item_label {
color: #fff;
}

.totaraNav_prim--side .usermenu .toggle-display {
color: #fff;
}

.totaraNav_prim--side {
color: #fff;
}

.block_myprofile .defaultuserpic {
display: inline-block;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: url(https://promericasv.aurainteractiva.com/img_clientes/f1usersvok.png) no-repeat;
width: 100px; /* Width of new image */
height: 100px; /* Height of new image */
padding-left: 100px; /* Equal to width of new image */
}

.totaraNav_prim .masthead_logo--header_img {
height: 3.8rem;
}

body {
    font-family: tahoma;
}

.block_myprofile {
background-color: #69BE28;
text-align: center!important;
padding: 30px 0!important;
background-image: url(https://promericasv.aurainteractiva.com/img_clientes/fondo_bloque_ingreso_usuario.jpg);
}

.block_myprofile {
background-image: url(https://promericasv.aurainteractiva.com/img_clientes/fondo_bloque_ingreso_usuario.jpg);
}

#inst46 {
text-align: center!important;
padding-top: 30px;
}

.block_current_learning-tiles {
padding: 0px;
margin-top: -10px;
}

#page-login-index {
  background-image: url("https://promericasv.aurainteractiva.com/img_clientes/zoom_background-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.path-login #page {
background-color: transparent;
}

.loginbox.onecolumn {
background-color: rgba(255,255,255,.6);
}

.totaraNav_prim {
background-color: #00693C;
}

#page-footer {
color: transparent;
}
