/* CSS Document */
a:link {
	font-size: 12px;
	color: #333;
	text-decoration: none;
}
a:visited {
font-size: 12px;
color: #333;
text-decoration: none;
}
a:hover {
font-size: 12px;
color: #2a578c;
text-decoration: none;
}
a:active {
font-size: 12px;
color: #333;
text-decoration: none;
}
.a1:link {
	font-size: 14px;
	color: #4298c9;
	text-decoration: none;
}
.a1:visited {
font-size: 14px;
color: #4298c9;
text-decoration: none;
}
.a1:hover {
font-size: 14px;
color: #cc0000;
text-decoration: none;
}
.a1:active {
font-size: 14px;
color: #4298c9;
text-decoration: none;
}