.no-border{
    border:none !important;
}

.font18{
    font-size:18px;
    font-weight:600;
}

.bg-white {
    background-color: #FFF;
}

.border-bottom-blue {
    border-bottom: 1px solid #008fd3;
}

.section-wraper {
    padding: 0 0 10px 0;
}

/*nav box heling classes*/
.bg-gray {
    background-color: #f2f2f2;
    /*color:#545454;*/
}

    .bg-gray p {
        color: #545454;
    }

.nav-box a {
    /*position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    */
    display: inline-block;
    /*text-decoration: underline;*/
    font-size: 12px;
}

.bg-gray a {
    color: #545454;
}

.bg-blue-md {
    background-color: #008fd3;
}

.bg-blue p {
    color: #fff;
}

.bg-blue a {
    /*color: #fff;*/
}

.nav-box {
    /* width: 200px; */
    background-color: #fcfcfc;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all .2s ease-out;
}

    .nav-box:hover {
        transform: scale(1.001);
        box-shadow: 0 0 40px rgba(0,0,0,.15);
    }

    .nav-box .nav-box-img {
    }

    .nav-box .nav-box-link {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
    }

.nav-box-inner-top {
    height: 70px;
    border-radius: 5px 5px 0 0;
}

.nav-box-inner-top-begin {
    background-color: #54a4e2;
}

.nav-box-inner-top-progress {
    background-color: #f8981d;
}

.nav-box-inner-top-completed {
    background-color: #accb32;  
}

.nav-box-inner-top-locked {
    background-color: #909090;
}

.nav-box-btn {
    padding: 0 20px;
    line-height: 30px;
    height: 30px;
    border-radius: 40px !important;
    font-size: 15px !important;
}

.nav-box-btn-begin {
    background-color: #54a4e2;
}

.nav-box-btn-progress {
    background-color: #f8981d;
}

.nav-box-btn-comleted {
    background-color: #accb32;
}



.nav-box-inner {
    padding: 10px;
}

    .nav-box-inner p {
        font-size: 22px;
        margin-top: 10px;
    }

.nav-box-list {
    list-style: none;
    margin: 0 !important;
    padding: 5px 15px !important;
    padding: 0;
    border: 1px dotted #ddd;
}

    .nav-box-list li {
        font-size: 13px;
        position: relative;
    }

        .nav-box-list li a {
            font-size: 13px;
            position: relative;
            top: -2px;
            width: 100%;
        }

        .nav-box-list li:not(:first-child) {
            padding: 10px 0 0 0;
            border-top: 1px dotted #ddd;
        }

        .nav-box-list li span {
            width: 94px;
            height: 15px;
            position: absolute;
            right: -15px;
            top: -6px;
            border-radius: 0;
            transition: all 350ms ease-in-out;
            z-index: 100;
            text-align: center;
        }

        .nav-box-list li:not(:first-child) span {
            width: 94px;
            height: 15px;
            border-radius: 0;
            position: absolute;
            right: -15px;
            top: -1px;
            transition: all 350ms ease-in-out;
            z-index: 100;
            text-align: center;
        }

        .nav-box-list li span p {
            font-size: 10px !important;
            /*display: none;*/
            opacity: 1;
            transition: all 350ms ease-in-out;
            position: relative;
            margin: 0;
            top: -5px;
            color: #fff;
            font-weight: 600;
        }
        /*.nav-box-list li span:hover, .nav-box-list li:not(:first-child) span:hover {
                transform: scale(1.1);
            }*/
        /*.nav-box-list li span:hover p,  .nav-box-list li:not(:first-child) span:hover p{
            display:block;
            font-size:6px;
            opacity:1;
        }*/
        /*.nav-box-list li span:hover, .nav-box-list li:not(:first-child) span:hover {
                transform: scale(1.1);
            }*/
        /*.nav-box-list li span:hover p,  .nav-box-list li:not(:first-child) span:hover p{
            display:block;
            font-size:6px;
            opacity:1;
        }*/

        .nav-box-list li.mod-begin span {
            background-color: #54a4e2;
        }

        .nav-box-list li.mod-progress span {
            background-color: #f8981d;
        }

        .nav-box-list li.mod-completed span {
            background-color: #accb32;
        }


.icon-wrapper {
    width: 105px;
    height: 105px;
    background: #fff;
    border: 1px solid #ccc;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: -60px;
}

.overview-icons {
    height: 90%;
}

.laggend{
    width: 100px;
    padding: 0 !important;
    text-align: center;
    float:right;
}

.img-checkBox {
    width:12px;
}
    
/* Internal Use section */
label.input{
    width:100%;
}

/* Current Recommendation */


/*Skye form check boxs*/ 
.sky-form .radio input:checked + i, .sky-form .checkbox input:checked + i, .sky-form .toggle input:checked + i {
    border-color: #c6c7ca;
    border-radius: 0px;
}

.secbaseLine {
    border-bottom: 1px solid #cccccc;
    margin-left: 10px;
    margin-top: 5px;
}

.logicDiv{
    display:none;
    padding: 0 15px;
}
