
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
  background-color: white;
  /*border-top:1px solid #e3e3e3;*/
  padding: 15px 0px;
}

#wrap {
    background: #f2f2f2;
 
}

html {
    position: relative;
    min-height: 100%;
    background-color: #f2f2f2;
    padding-bottom: 20px;
}

.landingLine {
    border-top: 1px solid #cccccc;
    margin-top: 5px;
}
.footerLink{
  font-size: 12px;
  color: #007fc5!important;
}

.footerLink:hover{
  text-decoration: underline;
}
.footer-copyright {
    font-size: 12px;
    color: #007fc5 !important;
}