/* styly definovane prave pro danou jazykovou verzy */
#body {
    background-image: url("/stiahnut.sk/images/header/bg.jpg");
}
#container > header > h1,
#container > header > h2 {
    background-image: url("/stiahnut.sk/images/header/logo-bg.jpg");
}
#container > header > form#form_search input[type="submit"] {
    background-image: url("/stiahnut.sk/images/header/hledani-btn.png");
    background-position: bottom left;
}
#container > header > form#form_search input[type="submit"]:hover {
    background-position: top left;
}
#content > .content > section.box.comments > form input[type="submit"] {
    background: url("/stiahnut.sk/images/content/discussion/odeslat.png");
    background-position: bottom left;
}
#content > .content > section.box.comments > form input[type="submit"]:hover {
    background-position: top left;
}
#content > .content > section.box.download a.link {
    background-image: url("/stiahnut.sk/images/content/stahnuti/stahnout.png");
}
#content > .content > section.box.download a.link.buy {
    background-image: url("/stiahnut.sk/images/content/stahnuti/koupit.png")!important;
}


.mujsoubor_dwnlink_2 a {background-image: url("/stiahnut.sk/images/content/stahnuti/stahnout.png"); } 
.mujsoubor_dwnlink_3 a {background-image: url("/stiahnut.sk/images/content/button3.png");}
.cmsGallery{
    margin: 0!important;
}
.cmsGalleryBox{
    width: 32%;
    display: inline-block;
    margin: 10px 0!important;
}
.cmsGalleryBox div{
    text-align: center;
    margin: 0!important;
}
#cmsGallerySection{
    margin: 20px!important;
}
div.fbDivShare3 {
    background: transparent url(/mujsoubor.cz/images/facebook/btn3b.png) center top no-repeat!important;
}
div.fbDivShare3 > a.fbBtShare3N {
    background: transparent url(/mujsoubor.cz/images/facebook/ne-blueb.png) left top no-repeat!important;
}
div.fbDivShare3 > a.fbBtShare3A {
    background: transparent url(/mujsoubor.cz/images/facebook/ano-blueb.png) left top no-repeat!important;
}
.box-bottom {
    position: absolute;
    bottom: 0;
}
.sticky {
    position: fixed;
    top: 20px;
    width: 100%;
}
