/* styly pro ankety */
div.blockPoll {
	padding: 20px 0px 20px 0px;
}

/* otazky */
div.blockPoll > form.formPoll {
}
div.blockPoll > form.formPoll dl > dt{ /* otazka*/
	font-size: 1.2em;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
}
div.blockPoll > form.formPoll dl > dd{ /* blok odpovedi */
}
div.blockPoll > form.formPoll dl > dd > label{ /* jednotlive odpovedi */
	display: block;
	padding-bottom: 1em;
}
div.blockPoll > form.formPoll dl > dd > label > input{ /* odpovedi - zaskrtavatka */
	margin-right: 0.6em;
	vertical-align: middle;
}
div.blockPoll > form.formPoll dl > input.btSend{
	margin-left: 2em;
}

/* vysledek */
div.blockPoll > p {
	font-size: 1.2em;
   font-weight: bold;
   padding: 0px 0px 10px 0px;
}

div.blockPoll > p.pollAnsversCount{
	font-size: 0.8em;
	font-weight: normal;
	padding: 10px 0px 0px 20px;
	
}

div.blockPoll > table,
div.blockPoll > table tr,
div.blockPoll > table td {border: 0px none !important; background: transparent !important; width: auto !important; height: auto !important; font-style: normal; color: #333333 !important; max-width: auto;}

div.blockPoll > table { font-weight: bold;}
div.blockPoll > table td { padding: 5px 10px !important;}

div.blockPoll > table div.graph {height: 12px !important; background-color: #999999; border-radius: 5px; margin: 0px!important; padding: 0px!important;}
div.blockPoll > table div.graph.answer1 {background-color: #cc0000; }
div.blockPoll > table div.graph.answer2 {background-color: #0066CC;}
div.blockPoll > table div.graph.answer3 {background-color: #66CC00;}
div.blockPoll > table div.graph.answer4 {background-color: #FF9900;}
div.blockPoll > table div.graph.answer5 {background-color: #993399;}
