
    td img {
      display: block
    }

    #tabform,
    body {
      text-align: left
    }

    #tabform {
      font-size: 13px;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      margin-left: 0;
      padding-left: 0;
      padding-bottom: 50px !important;
      left: 0
    }

    body {
      margin: 0
    }

    #enviar {
      background-image: url(img2/boton.jpg);
      height: 39px;
      width: 155px;
      border-width: 0;
      margin-top: 12px
    }

    #benefi,
    #quees,
    #tiposcombu {
      padding: 1em
    }

    input {
      margin: 0 !important
    }

    input,
    select {
      color: #000 !important
    }

    .title-shadow {
      text-shadow: 2px 2px #000
    }

    #tabform td {
      vertical-align: middle
    }
  