
      #acc-a5bfd6b71f3080a677138260cbbe6c77 .allysf-list-v1-item::before {
        content: "";
        display: block;
        float: left;
        top: 0;
        left: 0;
        margin-right: 15px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-image: url("/content/dam/assets/ally-assets/images/62567-bank-check-blue.png");
        width: 30px;
        height: 27px;
      }
      #acc-a5bfd6b71f3080a677138260cbbe6c77 .allysf-list-v1-item > div {
          width: calc(100% - 55px);
      }
    