body { color: #274690; background-color: white; }
.navbar { color: #274690; background-color: #9AB0E4; }
a h1 { color: #274690; }
a { color: #0000AA;}
hr { border-color: lightblue; }
.container { border-left: solid 1px; border-right: solid 1px; background-color: #e8edf9; padding: 10px; }
nav { top: 10px; }

