
    
    .tp-iframe-wrapper {
      margin: calc(1vh * 3) auto;
    }
    @media screen and (max-width: 640px) {
      .tp-iframe-wrapper {
        margin: 25px auto;
      }
    }
  
    .tp-modal .tp-iframe-wrapper.piano-id-modal-ver-2 .tp-close {
      border-left: none !important;
      height: 50px;
      width: 50px;
    }
    