/* Minification failed. Returning unminified contents.
: run-time error CSS1036: Expected expression, found ''
: run-time error CSS1036: Expected expression, found ''
: run-time error CSS1036: Expected expression, found ''
(933,1): run-time error CSS1019: Unexpected token, found '@'
(933,2): run-time error CSS1019: Unexpected token, found '@-webkit-keyframes'
(934,10): run-time error CSS1035: Expected colon, found '{'
(945,1): run-time error CSS1019: Unexpected token, found '@'
(945,2): run-time error CSS1019: Unexpected token, found '@keyframes'
(946,10): run-time error CSS1035: Expected colon, found '{'
 */

#hp-quicklinks {
    display: block;
    text-align: center;
    max-width: 708px;
    margin: 0 auto;
    height: 60px;
    overflow: hidden;
    position: relative;
    margin-top: 15px;
}

#hp-quicklinks::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.hp-quicklink {
    display: inline-block;
    height: 48px;
    width: 48px;
    cursor: pointer;
    margin: 4px 4px 4px 0;
    border-radius: 2px;
}


.hp-quicklink img {
    height: 48px;
    width: 48px;
}

    .hp-quicklink:hover {
        box-shadow: 3px 3px 1px rgba(0, 0, 0, .20);
    }

    .hp-quicklink.hidden {
        display: none;
    }

.clear,
.clearfix:after,
.container-fluid:after,
.container:after,
.modal-footer:after,
.modal-header:after,
.row:after {
    clear: both;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden,
.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
    display: none !important;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

a {
    background-color: transparent;
    color: #337ab7;
}

    a:active,
    a:hover {
        outline: 0;
    }

.img-thumbnail,
body {
    background-color: #fff;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

body {
    color: #333;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a:focus,
a:hover {
    color: #23527c;
}

a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}

.hidden {
    display: none !important;
}

a,
abbr,
acronym,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
}

.quicklink-item#quicklink-weather .text,
.responsive-menu#quicklink-weather .text,
.search-form ul.autocomplete-suggestions b {
    font-weight: 700;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

li,
ol,
ul {
    list-style: none;
}


a,
a:focus,
a:hover,
a:target,
ins {
    text-decoration: none;
}

input:focus,
input:target {
    outline: 0;
}

input[type=submit] {
    cursor: pointer;
}

body,
html {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, arial, verdana, sans-serif;
    font-size: 100%;
    line-height: 1.42857143;
    overflow-x: hidden;
}

.search-form .autocomplete-underlay,
.search-form .search-input {
    position: absolute;
    background: white !important;
    background-color:white !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}

.search-form .autocomplete-wrapper {
    float: left;
    position: relative;
}

.search-form .search-input {
    z-index: 3;
    background: 0 0;
}

.search-form .autocomplete-underlay {
    z-index: 2;
    background: #fff;
    color: gray !important;
}

.search-form ul.autocomplete-suggestions {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    background: #fff;
    border: 1px solid #bbb;
    top: 102%;
    left: 0;
}

header {
    height: 38px;
    width: 100%;
    padding: 3px 10px;
    background: #DFDFDF;
    border-bottom: 1px solid #A9A9A9;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    header > ul > li {
        float: left;
    }

    header .search-form {
        margin-right: 25px;
    }

        header .search-form .autocomplete-wrapper,
        header .search-form .search-input {
            width: 305px;
            height: 32px;
        }

        header .search-form .autocomplete-underlay,
        header .search-form .search-input {
            color: #000;
            padding: 3px;
            display: block;
            font-size: 18px;
            line-height: 22px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border-radius: 5px 0 0 5px;
        }

        header .search-form .autocomplete-underlay {
            line-height: 26px;
            padding-left: 5px;
        }

        header .search-form .search-submit-button {
            float: left;
            line-height: 30px;
            position: relative;
            width: 50px;
            cursor: pointer;
            display: block;
            white-space: nowrap;
            height: 30px;
            border: none;
            outline: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            text-align: center;
            color: #fff;
            background: #4d90fe;
        }

            header .search-form .search-submit-button .icon {
                display: block;
                width: 20px;
                height: 20px;
                margin-left: 14px;
                margin-top: 5px;
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAJ1BMVEVMaXHc6M/7+Pb7+Pb7+Pb7+Pb7+Pb7+Pb7+Pb7+Pb08/H29fT8+PZ5P1ntAAAACnRSTlMAJj9ffI6csr7Us7kZHgAAAIRJREFUCNdjYGAQm70zkAEM2M6cOXM6AMzsATLPHIcInjQUnnPGAciUOZPAwMB+ZiOQGXMSJDfnCIg4DGL6nAASaw6CmDonUZlICpC0SSMMYz1z0khlzpnNcIvPnFYACwMZc85sAgmLzlrpyHHmlAADFMw5sxDGlDxzEsZknHOKAS68GADv8jmDL7EGywAAAABJRU5ErkJggg==') no-repeat;
            }

            header .search-form .search-submit-button:hover {
                background: #002fff;
                background: linear-gradient(to bottom, #002fff 0, #0024c1 100%);
                filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#002fff', endColorstr='#0024c1', GradientType=0);
            }

.quicklink-item,
.responsive-menu {
    float: left;
    margin-right: 5px;
}

    .quicklink-item img,
    .responsive-menu img {
        width: 24px;
        height: 24px;
        float: left;
    }

    .quicklink-item .text,
    .responsive-menu .text {
        color: #333;
        font-size: 14px;
        line-height: 24px;
        margin-left: 8px;
        white-space: nowrap;
    }

    .quicklink-item a,
    .responsive-menu a {
        display: block;
        padding: 4px 12px;
        -moz-transition: all .11s;
        -o-transition: all .11s;
        -webkit-transition: all .11s;
        transition: all .11s;
    }

        .quicklink-item a:hover,
        .responsive-menu a:hover {
            background: #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .28);
        }

    .quicklink-item#quicklink-weather,
    .responsive-menu#quicklink-weather {
        width: auto; /* original 185px */
    }

        .quicklink-item#quicklink-weather .current-temperature,
        .responsive-menu#quicklink-weather .current-temperature {
            font-weight: 400;
        }

.responsive-menu {
    float: right;
    margin-right: 5px;
    position: relative;
}

    .responsive-menu .responsive-menu-button {
        position: relative;
        display: block;
        padding-left: 32px;
        text-decoration: none;
        font-size: 16px;
        color: #333;
        line-height: 24px;
    }

        .responsive-menu .responsive-menu-button:before {
            content: '';
            display: block;
            width: 20px;
            height: 22px;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYAQMAAADaua+7AAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABRJREFUCNdjYMAB5P//YCJXDAkAADfoBklEjSkIAAAAAElFTkSuQmCC') 0 3px no-repeat;
            position: absolute;
            top: 0;
            left: 6px;
        }

    .responsive-menu .responsive-menu-list {
        z-index: 100;
        display: none;
        position: absolute;
        min-width: 200px;
        top: 34px;
        right: -10px;
        background: #DFDFDF;
        border: 1px solid #A9A9A9;
        border-top: none;
        padding: 0 6px 2px;
    }

        .responsive-menu .responsive-menu-list.shown {
            display: block;
        }

.content {
    padding-top: 226px;
    text-align: center;
}

@media (max-height: 420px) {
    .content {
        padding-bottom: 200px;
    }
}

main .attribution {
    font-style: italic;
    color: #999;
    font-size: .8em;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    margin-top: 10px;
    min-width: 50px;
    padding-right: 10px;
    float: right;
    z-index: -1;
}

    main .attribution .attribution-image {
        width: 250px;
    }

main .search-form {
    margin: 0 auto;
}

    main .search-form .search-bar {
        width: 700px;
        display: inline-block;
    }

    main .search-form .autocomplete-wrapper,
    main .search-form .search-input {
        width: 615px;
        height: 46px;
    }

    main .search-form .autocomplete-underlay,
    main .search-form .search-input {
        display: block;
        padding: 11px 12px 9px;
        font-size: 18px;
        line-height: 22px;
        border-radius: 5px 0 0 5px;
        border: 2px solid #acacac;
        border-right: none;
    }

    main .search-form .autocomplete-underlay {
        line-height: 22px;
        padding-left: 12px;
    }

    main .search-form .search-input {
        float: left;
    }

    main .search-form .search-submit-button {
        float: left;
        background-color: #0062ff;
        cursor: pointer;
        font-weight: 400;
        font-size: 1.462em;
        display: block;
        white-space: nowrap;
        line-height: 46px;
        height: 46px;
        position: relative;
        text-shadow: 0;
        border: none;
        width: 82px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#0062ff', endColorstr='#0055ec');
        background-image: -ms-linear-gradient(top, #0062ff 0, #0055ec 100%);
        background: -moz-linear-gradient(top, #0062ff, #0055ec);
    }

        main .search-form .search-submit-button .icon {
            display: block;
            width: 20px;
            height: 20px;
            margin-bottom: 4px;
            margin-left: 29px;
            margin-top: 12px;
            background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAJ1BMVEVMaXHc6M/7+Pb7+Pb7+Pb7+Pb7+Pb7+Pb7+Pb7+Pb08/H29fT8+PZ5P1ntAAAACnRSTlMAJj9ffI6csr7Us7kZHgAAAIRJREFUCNdjYGAQm70zkAEM2M6cOXM6AMzsATLPHIcInjQUnnPGAciUOZPAwMB+ZiOQGXMSJDfnCIg4DGL6nAASaw6CmDonUZlICpC0SSMMYz1z0khlzpnNcIvPnFYACwMZc85sAgmLzlrpyHHmlAADFMw5sxDGlDxzEsZknHOKAS68GADv8jmDL7EGywAAAABJRU5ErkJggg==') no-repeat;
        }

footer .copyright,
footer .navigation,
footer .navigation li {
    display: inline-block;
}

main .search-form .search-submit-button:hover {
    background: #002fff;
    background: linear-gradient(to bottom, #002fff 0, #0024c1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#002fff', endColorstr='#0024c1', GradientType=0);
}

footer {
    z-index: 10;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
    width: 100%;
    text-align: center;
    line-height: 50px;
    overflow: auto;
    background-color: #f2f2f2;
}

    footer .copyright,
    footer .navigation a {
        font: 400 10pt arial, sans-serif;
        color: #999;
        padding: 4px;
        text-decoration: none;
    }

    footer .copyright {
        margin-right: 25px;
    }

    footer .navigation a {
        margin: 8px 27px 8px 0;
    }

.external-links li a:hover,
.showhidebtn a:hover,
.showhidebtn a:link,
.showhidebtn a:visited {
    text-decoration: none;
}

.external-links {
    clear: both;
    padding-top: 0;
    margin: 0 auto;
    text-align: center;
}

    .external-links li {
        display: inline-block;
        margin-right: 35px;
        margin-bottom: 15px;
        list-style: none;
        padding-left: 30px;
    }

        .external-links li a {
            color: #444;
            display: inline-block;
            position: relative;
            -moz-transition: opacity .25s;
            -o-transition: opacity .25s;
            -webkit-transition: opacity .25s;
            transition: opacity .25s;
            width: 0;
        }

    .external-links a:before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        top: -2px;
        left: 0;
        position: absolute;
    }

.qlinkswdgtcont {
    margin: 23px auto 0;
    min-width: 780px;
    width: 780px;
    text-align: right;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    /*border-top: 1px solid #BDBDBD;*/
    border-radius: 0;
    min-width: 550px;
}

.showhidebtn {
    font-size: 14px;
}

.qlinkswdgt {
    position: relative;
    width: 100%;
    height: 75px;
    text-align: center;
    margin-left: -35px;
    display: none;
}

#toolbar-icon-news {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -168px 0;
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
}

#toolbar-icon-packages-tracker {
    background: url(//dap2y8k6nefku.cloudfront.net/quicklinkicons/packagetracker_purple2.png);
    background-size: cover;
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
}

#toolbar-icon-usps {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -216px 0;
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
}

#toolbar-icon-ups {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -240px 0;
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
}

#toolbar-icon-fedex {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -264px 0;
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
}

#toolbar-icon-dhl {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -288px 0;
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
}

#toolbar-icon-canada-post {
    background: url(//dap2y8k6nefku.cloudfront.net/quicklinkicons/canadapost.png);
    background-size:cover;
    float: left;
    width: 24px;
    height: 24px;
    position: relative;
}

#quicklink-sprite-gmail {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) 0 -24px;
}

#quicklink-sprite-yahoo {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -48px -24px;
}

#quicklink-sprite-facebook {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -240px -24px;
}

#quicklink-sprite-youtube {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -288px -24px;
}

#quicklink-sprite-amazon {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -336px -24px;
}

#quicklink-sprite-twitter {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -384px -24px;
}

#quicklink-sprite-wikipedia {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -432px -24px;
}

#quicklink-sprite-pinterest {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -480px -24px;
}

#quicklink-sprite-instagram {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -528px -24px;
}

#quicklink-sprite-turbotax {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -576px -24px;
}

#quicklink-sprite-hrblock {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -624px -24px;
}

\#quicklink-sprite-taxact {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -672px -24px;
}

#quicklink-sprite-walmart {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -576px -24px;
}

#quicklink-sprite-target {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -672px -24px;
}

#quicklink-sprite-flipkart {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -624px -24px;
}

#quicklink-sprite-usps {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -576px -24px;
}

#quicklink-sprite-ups {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -624px -24px;
}

#quicklink-sprite-fedex {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -672px -24px;
}

#quicklink-sprite-dhl {
    background: url(/Content/Home/Packages/Sprites/Sprite_Packages_V2.png) -720px -24px;
}



.quickLinks-sprite:hover {
    box-shadow: 0 1px 7px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}

.quickLinks-sprite {
    width: 48px;
    height: 48px;
    position: relative;
}

.quicklink-item.nolink {
    display: block;
    padding: 4px 12px;
    -moz-transition: all .11s;
    -o-transition: all .11s;
    -webkit-transition: all .11s;
    transition: all .11s;
    cursor: pointer;
}

.submenu {
    position: absolute;
    display: none;
    background-color: white;
    width: 200px;
    font-size: 13px;
    z-index: 9999;
    border-radius: 4px;
    padding: 6px;
    border: 1px solid #ccc;
    margin-top: 4px;
}

.down-arrow {
    display: inline-block;
    width: 0;
    height: 2px;
    margin-left: 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #232323;
}

.quicklink-item:hover .submenu {
    display: block;
}

#disableModal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 130px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#disable-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid black;
    width: 44%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

#close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#disable-modal-header {
    padding: 2px 16px;
    background-color: #ffa987;
    color: white;
    height: 40px;
}

#disable-modal-body {
    padding: 15px 16px;
    text-align: center;
}

#yes {
    margin-right: 30px;
    padding: 5px 10px;
    display: inline-block;
}

#no {
    margin-left: 30px;
    padding: 5px 10px;
    display: inline-block;
}

#disable-buttons {
    padding-top: 10px;
}

#disable-modal-body h4 {
    margin-top: 12px;
    margin-bottom: 24px;
    text-align: center;
}

#restoreLink:hover {
    cursor: pointer;
}


.search-form ul.autocomplete-suggestions li {
    color: #333;
    display: block;
    padding: 3px 5px;
    cursor: pointer;
    text-align: left;
}

.ns-suggestion-img {
    width: 38px;
    height: 38px;
}

.ns-suggestion-txt {
    position: absolute;
    padding-top: 1px;
    font-size: 17px;
    padding-left: 3px;
    color: #337ab7;
}

.ns-sugg-addnl-txt {
    padding-left: 6px;
    color: #006621;
    font-size: 12px;
    padding-top: 21px;
}

.ns-suggestion-nologo-txt {
    position: absolute;
    padding-top: 1px;
    font-size: 17px;
    float: left;
}

.ns-suggestion-big-li {
    height: 50px;
}

.search-form ul.autocomplete-suggestions li.selected, .search-form ul.autocomplete-suggestions li:hover {
    background: #ddd;
}

/*test*/
.trackpkgsfbtncont {
    padding: 7px;
    height: 19px;
    background-color: #0062ff;
    border-radius: 5px;
    margin-left: 322px;
	width:125px;
	cursor:pointer;
}

.trackpkgsfbtn {
    height: 35px;
    font-size: 14px;
    border-radius: 2px;
    outline: none;
}

.sftrkpkgwdgt {
    position: relative;
    margin: 0 auto 0;
    width: 455px;
    text-align: center;
    padding: 27px 0;
}

.sftrkpkgwdgtcont {
    margin: 16px auto 0;
    width: 556px;
    text-align: center;
    padding: 13px 15px;
    border: 1px solid beige;
    position: fixed;
    left: 0;
    right: 0;
    background: white;
}

.txttrkpkg {
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
}

.trackpkgsfbtncont a:hover {
    text-decoration: none;
}

.sftrkpkgbarhide {
    float: right;
}

.trkpkgshwbtn {
    float: right;
    margin-top: -8px;
    margin-right: -8px;
}

.trackbox {
    border: 1px solid silver;
    box-sizing: border-box;
    width: 300px;
    padding: 8px;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0;
    font: 13.33px Arial;
    background: #fff;
}

#trkHistory {
    width: 210px;
}

    #trkHistory option {
        width: 210px;
    }

#languages {
    display: none;
}


main .search-form .search-bar {
    width: 700px;
    display: inline-block;
    box-shadow: 0 1px 5px #9e9e9e;
}

main .search-form .autocomplete-underlay, main .search-form .search-input {
    display: block;
    padding: 14px 12px 9px;
    font-size: 18px;
    line-height: 22px;
    border-radius: 0;
    border: 0px;
    border-right: none;
}

main .search-form .search-submit-button {
    background-color: #3b7de6;
    width: 85px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

    main .search-form .search-submit-button:hover {
        color: #3671d0 !important;
    }

    main .search-form .search-submit-button .icon {
        margin-left: 31px;
    }

.qlinkswdgtcont {
    border: 0px !important;
    width: 674px;
}

.quickLinks-sprite {
    border-radius: 0px;
}

.qlinkswdgtcont {
    padding: 0px 15px;
}

.speedTestShowHide {
    border-top: 1px solid rgba(189, 189, 189, 0.43);
}

.showhidebtn {
    font-size: 13px;
}

.tracking-info{
	width:547px;
	height:auto;
	margin: 0 auto;
}

#quicklink-sportsnews {
    background: url(/Content/Images/quicklinkIcons/sports_news.png) 0 0;
    background-size: cover;
}
#quicklink-samsung {
    background: url(/Content/Images/quicklinkIcons/samsung-quicklink.png) 0 0;
    background-size: cover;
}

#quicklink-walmart {
    background: url(/Content/Images/quicklinkIcons/walmartlogo.png) 0 0;
    background-size: cover;
}
#quicklink-macys {
    background: url(/Content/Images/quicklinkIcons/macyslogo.png) 0 0;
    background-size: cover;
}
#quicklink-hrblock {
                    background: url(/Content/Images/quicklinkIcons/hrblock.png) 0 0;
                    background-size: cover;
                }
                #quicklink-turbotax {
                    background: url(/Content/Images/quicklinkIcons/turbotax.png) 0 0;
                    background-size: cover;
                }
