@charset "UTF-8";
/* CSS Document */

/*=============== Header Styles ===============*/
    
#gf2_header {
    height: 40px;
    overflow: hidden    }
    
.wrap {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 940px }
    
#gf2_head-content {
    background-position: 0 0;
    margin: 0 auto;
    height: 40px;
    width: 940px;
    padding: 0;
    background: #6D655D; }
    
/*=============== Main Menu ===============*/

#gf2_menu {
    width: 940px;
    height: 40px;
    float: left;
    margin: 0;
    padding: 0; }
    
#gf2_sitemenu {
    display: block;
    height: 38px;
    list-style: none;
    width: 940px ;
    margin: 0;
    padding: 0;
    z-index: 10; }
    
#gf2_sitemenu li {
    display: block;
    float: left;
    text-align: center; }
    
#gf2_sitemenu li a {
    display: block;
    height: 38px;
    font-family: arial;
    color: #F1F1EB;
    font-weight: bold;
    font-size: 14px;
    line-height: 33px;
    text-decoration: none;
    margin: 0;
    padding: 2px 0 0 0;
    width: 90px; }
    
#gf2_sitemenu li a:hover {
    color: #FFFFFF;
    background: #5E8FC1; }

#gf2_sitemenu li a.selected {
    color: #FFFFFF;
    background: #5E8FC1; }
    
/*===== Drop Down Menu =====*/
    
#gf2_sitemenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #6D655D;
    border: solid 1px #F1F1EB;
    z-index: 20; }
    
#gf2_sitemenu ul.last {
    list-style: none;
    padding: 0;
    margin: 0 0 0 -105px;
    background: #6D655D;
    border: solid 1px #F1F1EB;
    z-index: 20; }
    
li ul {
    display: none;
    width: 200px;
    font-weight: normal;
    text-decoration: none;
    position: absolute;
    margin: 0;
    padding: 0; }
    
#gf2_sitemenu ul li.sub {
    float: left;
    position: relative;
    text-align: left;
    width: 200px;
    height: 60px;
    border-top: 1px solid #F1F1EB; }
    
#gf2_sitemenu ul li.sub img { 
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    padding-right: 10px;
    margin-bottom: 10px;
    border: none; }

#gf2_sitemenu ul li.sub a {
    color: #F1F1EB;
    font-size: 14px;
    font-family: arial;
    font-weight: bold;
    font-style: normal;
    line-height: 16px;
    background-image: none;
    text-decoration: none;
    width: 165px;
    margin: 0;
    padding: 8px 20px 0 10px;
    display: block; }

#gf2_sitemenu ul li.sub a:hover {
    background: #5E8FC1;
    color: #FFFFFF;
    width: 170px;
    height: 52px; }
    
#gf2_sitemenu ul li.sub a span {
    font-size: 12px;
    line-height: 14px;
    font-weight: normal; }
    
#gf2_sitemenu ul li.current {
    background: #5E8FC1; }
    
li>ul {
    top: auto;
    left: auto; }

li:hover ul, li.over ul {
    display: block; }