
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #109D5B;
	background-image: url(http://flash.chathour.com/images/bg.gif);
	-webkit-text-size-adjust: 100%;
}
html {
     overflow: -moz-scrollbars-vertical;
}
.whitehead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}
.whitehuge {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
}
.whiteplain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
    color: #FFFFFF;
}
.ltgreenplain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    color: #70C4A0;
}
.dkgreenplain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    color: #08633A;
}
.greenplain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
    color: #0B6C3F;
}

a:link {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
a:hover {
	color: #FFFFFF;
}
a:active {
	color: #FFFFFF;
}





-->
