.microsite--mlb-live-stream-games.ada-font-size--115 .p-button__text {
    font-size: 100%;
}

.microsite--mlb-live-stream-games #fede_design.l-grid__content--none > .l-grid--gutters > .l-grid__col > .l-grid__content > .l-grid__content {
    width: 100%;
}

.microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-wysiwyg h4 {
    font-size: 24px;
    line-height: 30px;
}

.microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-wysiwyg p {
    font-size: 16px;
    line-height: 20px;
}

.microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-button__button--full-width {
    padding: 10px;
}

.microsite--mlb-live-stream-games #fede_design.l-grid__content--none li.p-navbar__title-item a {
    padding-left: 10px;
    line-height: 1;
}

.microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-button__button--full-width, .microsite--mlb-live-stream-games #fede_design.l-grid__content--none li.p-navbar__title-item a {
    font-size: 22px;
    transition: none;
}

.microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-button__button--full-width {
    height: 45px;
}

#fede_design.l-grid__content--none li.p-navbar__title-item {
    height: 45px;
}

.microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-navbar--collapsible {
    height: 45px;
}

.microsite--mlb-live-stream-games .p-navbar--always-collapsed .p-navbar__actual-checkbox {
    cursor: pointer;
}

.microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-navbar--mini.p-navbar--always-collapsed .p-navbar__icon-container, .microsite--mlb-live-stream-games .p-navbar--mini.p-navbar--collapsible .p-navbar__icon-container {
    top: 50%;
    transform: translateY(-50%);
    height: auto;
}

.microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-navbar--always-collapsed .p-navbar__icon-container {
    right: 10px;
}

.microsite--mlb-live-stream-games .p-icon--sm {
    position: absolute;
    top: 50%;
    right: 6px;
    height: 14px;
    width: 14px;
    transform: translateY(-50%);
}

.microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-button__button--full-width {
    width: 100%;
}

@media (min-width: 768px) {
    .microsite--mlb-live-stream-games #fede_design.l-grid__content--none>.l-grid--gutters>.l-grid__col>.l-grid__content>.l-grid__content {
        margin-left: 0;
    }

    .microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-navbar--mini.p-navbar--always-collapsed .p-navbar__icon-container, .microsite--mlb-live-stream-games .p-navbar--mini.p-navbar--collapsible .p-navbar__icon-container {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }

    .microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-navbar--mini.p-navbar--always-collapsed .p-navbar__icon-container, .microsite--mlb-live-stream-games .p-navbar--mini.p-navbar--collapsible .p-navbar__icon-container .p-icon--sm {
        position: absolute;
        top: 50%;
        right: 8px;
        width: 14px;
        height: 14px;
        transform: translateY(-50%);
    }
}

@media (min-width: 1024px) {
    .microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-navbar--mini.p-navbar--always-collapsed .p-navbar__icon-container, .microsite--mlb-live-stream-games .p-navbar--mini.p-navbar--collapsible .p-navbar__icon-container .p-icon--sm {
        padding-left: 0;
    }
}

@media (min-width: 1024px) {
    .microsite--mlb-live-stream-games #fede_design.l-grid__content--none li.p-navbar__title-item {
        height: 45px;
    }
}

@media (min-width: 900px) {
    .microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-button__button--full-width {
        width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1500px) {
    .microsite--mlb-live-stream-games #fede_design.l-grid__content--none li.p-navbar__title-item a {
        padding-left: 5px;
        padding-right: 0;
    }
}

@media (min-width: 1024px) and (max-width: 1099px) {
    .microsite--mlb-live-stream-games #fede_design.l-grid__content--none li.p-navbar__title-item a {
        font-size: 18px;
    }
}

#fede_design.l-grid__content--none {
    padding: 10px 0 !important;
    background-position: right -35px;
    background-size: initial;
}

@media (min-width: 568px) {
    .microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-navbar--collapsible {
        display: flex;
        max-width: 225px;
        width: calc(100% - 20px);
        align-self: center;
    }
}

#fede_design.l-grid__content--none li.p-navbar__title-item, .microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-button__button--full-width {
    background-color: #0048ab;
    border: #0048ab;
}

.l-grid__content[data-content-id="f3f59a6c-0857-4d16-8781-a5e56785e994"] {
    padding: 10px 0;
}

.l-grid__content[data-content-id="2c63b555-ee5a-40fd-a48d-1942c50926a5"] {
    padding: 0;
}

@media (min-width: 1024px) {
    #fede_design.l-grid__content--none>.l-grid--gutters {
        padding: 0 86px;
    }

    #fede_design.l-grid__content--none>.l-grid--gutters, .l-grid__content[data-content-id="f3f59a6c-0857-4d16-8781-a5e56785e994"], .l-grid__content[data-content-id="2c63b555-ee5a-40fd-a48d-1942c50926a5"] {
        max-width: 1480px;
        margin: 0 auto;
    }

    .microsite--mlb-live-stream-games #fede_design.l-grid__content--none .p-button__button--full-width {
        max-width: 186px;
        white-space: nowrap !important;
    }
}

@media (max-width: 908px) {
    #fede_design.l-grid__content--none>.l-grid--gutters>.l-grid__col>.l-grid__content>.l-grid__content>.l-grid--gutters>.l-grid__col .l-grid__content--flat-card .l-grid {
        flex: 1;
        flex-direction: column;
    }

    #fede_design.l-grid__content--none>.l-grid--gutters>.l-grid__col>.l-grid__content>.l-grid__content>.l-grid--gutters>.l-grid__col .l-grid__content--flat-card .l-grid > .l-grid__col {
        flex: 1;
        width: 100%;
        min-width: 100%;
    }
}

#fede_design > .l-grid > .l-grid__col > .l-grid__content > .l-grid__content > .l-grid >.l-grid__col > .l-grid__content > .l-grid__content > .l-grid > .l-grid__col:nth-child(1) .l-grid__content--flat-card {
    border: 2px solid #0048ab;
}

#fede_design > .l-grid > .l-grid__col > .l-grid__content > .l-grid__content > .l-grid >.l-grid__col > .l-grid__content > .l-grid__content > .l-grid > .l-grid__col:nth-child(2) .l-grid__content--flat-card {
    border: 2px solid #0048ab;
}

#fede_design.l-grid__content--none .l-grid__content-title, #buy .l-grid--gutters>.l-grid__col:first-child .l-grid__content--flat-card .l-grid__content-title {
    top: 19px;
    right: 15px;
    transform: rotate(0);
    left: auto;
    width: 42%;
    max-width: 186px;
    border-radius: 5px;
    line-height: 23px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

@media(min-width: 568px) and (max-width: 768px) {
    #fede_design.l-grid__content--none>.l-grid--gutters>.l-grid__col>.l-grid__content>.l-grid__content:first-child .p-wysiwyg {
        text-align: left;
    }
}

@media(max-width: 767px) {
    #fede_design.l-grid__content--none .l-grid__content-title, #buy .l-grid--gutters>.l-grid__col:first-child .l-grid__content--flat-card .l-grid__content-title {
        top: 8px;
        right: 12px;
        transform: rotate(0);
        left: auto;
        width: 48px;
        max-width: 186px;
        border-radius: 5px;
        line-height: 12px;
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 90px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 412px) {
    #fede_design.l-grid__content--none>.l-grid--gutters>.l-grid__col>.l-grid__content>.l-grid__content:nth-child(1) {
        padding: 0;
    }
}

.l-grid__content[data-content-id="5e478acf-ef2c-4c9e-ae54-68b4d9b19b00"] .p-wysiwyg h4:first-child {
    text-decoration: underline;
}

#fede_design.l-grid__content--none>.l-grid--gutters>.l-grid__col>.l-grid__content>.l-grid__content>.l-grid--gutters>.l-grid__col:first-child .l-grid__content--flat-card, #fede_design.l-grid__content--none>.l-grid--gutters>.l-grid__col>.l-grid__content>.l-grid__content>.l-grid--gutters>.l-grid__col .l-grid__content--flat-card {
    display: flex;
    flex: 1;
    overflow: visible;
    padding-bottom: 1rem;
    justify-content: space-between;
}

#buy .l-grid--gutters {
    display: flex;
    flex: 1;
    height: 100%;
}

#buy .l-grid > .l-grid__col .l-grid__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

#buy .l-grid > .l-grid__col .l-grid__content .l-grid__content .l-grid__content .l-grid__content {
    justify-content: flex-end;
}

#fede_design > .l-grid > .l-grid__col > .l-grid__content > .l-grid__content > .l-grid > .l-grid__col > .l-grid__content > .l-grid__content > .l-grid > .l-grid__col .l-grid__content > .l-grid--gutters {
    flex: 1;
}

#fede_design.l-grid__content--none .l-grid__content--flat-card {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), #000);
}
