html { height: 100%; }

body { color: #2c3338; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif; height: 100%; margin: 0; padding: 0; text-rendering: optimizeLegibility; }

.page { display: flex; flex-direction: column; height: 100%; justify-content: center; }

.logo { display: block; margin: 0 auto; }

h1 { font-size: 36px; font-weight: 600; margin: 10px 0 16px; text-align: center; }
@media only screen and (max-width: 480px) { h1 { margin: 30px 0 24px; } }

p { text-align: center; }

h1.noscript-offline { color: #50575e; font-size: 1.3em; font-weight: 400; left: 50%; margin-left: -125px; position: absolute; top: 33%; }

.status { margin: 8px auto; max-width: 347px; text-align: center; width: 90%; }

.notice, .error { color: #be2a31; }

.form { display: flex; flex-direction: column; }

.form label, .success { display: none; }

.form input[type="email"]::placeholder, .form input[type="password"]::placeholder { color: #646970; opacity: 1; }
.form input[type="email"]:read-only, .form input[type="password"]:read-only { border-color: #c3c4c7; background-color: rgba(0, 0, 0, 0.05); }
.form input[type="email"]:disabled, .form input[type="password"]:disabled { border-color: #dcdcde; color: #a7aaad; }
.form input[type="email"]:focus, .form input[type="password"]:focus { border-color: #3361cc; box-shadow: 0 0 0 1px #3361cc; outline: none; }

.form input[type="email"], .form input[type="password"], .form input[type="submit"], .form select { -webkit-appearance: none; background-color: #ffffff; border: solid 1px #c3c4c7; border-radius: 4px; box-sizing: border-box; color: #2c3338; height: 40px; padding: 13px 15px; margin: 8px auto 0; max-width: 320px; width: 95%; font-size: 16px; }

.form select { line-height: 1em; padding-top: 0; padding-bottom: 0; background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHJlY3QgeD0iMCIgZmlsbD0ibm9uZSIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ii8+PHBhdGggZD0iTTMuNzU3IDQuNTg2TDggOC44MjhsNC4yNDMtNC4yNDNMMTMuNjU3IDZsLTQuMjQzIDQuMjQzTDggMTEuNjU3bC0xLjQxNC0xLjQxNEwyLjM0MyA2IDMuNzU3IDQuNTg2eiIvPjwvc3ZnPg==); background-repeat: no-repeat; background-size: 24px 24px; background-position: 95% center; }

.form input[type="submit"] { background-color: #3361cc; border: none; color: #ffffff; margin: 16px auto 8px; padding: 0px 15px; cursor: pointer; }

.form input[type="submit"]:disabled { cursor: auto; }

.form #delete-account-button { background-color: #d63638; }

.remember-wrapper { display: flex; justify-content: center; margin: 8px 0 16px; }
.remember-wrapper .remember { display: inherit; font-size: 14px; margin-left: 5px; }

a.forgot, .login-signup a, .deleted a { color: #3361cc; font-size: 14px; margin: 6px auto; text-align: center; text-decoration: none; }

.or { background: #ffffff; color: #50575e; font-size: 14px; font-style: italic; height: 20px; margin: 10px auto; text-align: center; width: 50px; z-index: 1; }

.or-line { border-bottom: 1px solid #dbdee0; margin: -20px auto; max-width: 320px; text-align: center; width: 95%; position: relative; display: block; }

.wpcc-button { background-color: #006088; border-radius: 4px; box-sizing: border-box; color: #ffffff; display: block; font-size: 16px; font-weight: 500; height: 40px; padding: 10px 15px; margin: 50px auto 10px; max-width: 320px; text-align: center; text-decoration: none; width: 95%; }

.terms, .login-signup { color: #50575e; font-size: 14px; margin: 6px auto 10px; max-width: 320px; text-align: center; width: 95%; }

.terms a { color: #3361cc; text-decoration: none; white-space: nowrap; }

[data-theme="dark"] html, [data-theme="dark"] body, [data-theme="dark"] .or, [data-theme="dark"] .login-signup { background-color: #1d2327; color: #a7aaad; }
[data-theme="dark"] h1 { color: #fff; }
[data-theme="dark"] .form input[type="email"], [data-theme="dark"] .form input[type="password"], [data-theme="dark"] .form select { border-color: #50575e; background-color: transparent; color: #fff; }
[data-theme="dark"] .form select { background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHJlY3QgeD0iMCIgZmlsbD0ibm9uZSIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ii8+PHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0zLjc1NyA0LjU4Nkw4IDguODI4bDQuMjQzLTQuMjQzTDEzLjY1NyA2bC00LjI0MyA0LjI0M0w4IDExLjY1N2wtMS40MTQtMS40MTRMMi4zNDMgNiAzLjc1NyA0LjU4NnoiLz48L3N2Zz4=); }
[data-theme="dark"] .form #delete-account-button { background-color: #ff8085; }
[data-theme="dark"] .notice, [data-theme="dark"] .error { color: #ff8085; }
[data-theme="dark"] .form input[type="submit"] { background-color: #618df2; }
[data-theme="dark"] a.forgot, [data-theme="dark"] .login-signup a, [data-theme="dark"] .deleted a, [data-theme="dark"] .error a { color: #618df2; }

.button { background-color: #3361cc; border: none; color: #ffffff; cursor: pointer; display: block; border-radius: 4px; box-sizing: border-box; font-size: 16px; height: 40px; line-height: 40px; margin: 24px auto 20px; max-width: 320px; text-align: center; text-decoration: none; width: 95%; }

.email-verify, .delete-request { text-align: center; color: #28333a; }
.email-verify svg, .delete-request svg { fill: #646970; margin: 0 auto; width: 60px; }
.email-verify p, .delete-request p { max-width: 320px; margin: 8px auto; }
.email-verify .link, .delete-request .link { color: #3361cc; font-size: 16px; text-decoration: none; font-weight: 600; }

.g-recaptcha { margin: 20px auto 0 auto; }

[data-theme="dark"] .email-verify, [data-theme="dark"] .delete-request { color: #ffffff; }
[data-theme="dark"] .email-verify .link, [data-theme="dark"] .delete-request .link { color: #618df2; }

[data-theme="dark"] .form input[type="email"]:read-only, [data-theme="dark"] .form input[type="password"]:read-only { border-color: #50575e; background-color: rgba(255, 255, 255, 0.07); }
[data-theme="dark"] .form input[type="email"]:disabled, [data-theme="dark"] .form input[type="password"]:disabled { color: #646970; border-color: #3c434a; }
[data-theme="dark"] .form input[type="email"]:focus, [data-theme="dark"] .form input[type="password"]:focus { border-color: #618df2; box-shadow: 0 0 0 1px #618df2; }
