
		.dj-hideitem { display: none !important; }
div.mod_search246 input[type="search"]{ width:auto; }
		#dj-megamenu141mobile { display: none; }
		@media (max-width: 920px) {
			#dj-megamenu141, #dj-megamenu141sticky, #dj-megamenu141placeholder { display: none; }
			#dj-megamenu141mobile { display: block; }
		}
	
	