:root {
    --primary: #E35205;
    --charcoal: #222;
    --grey: #666;
    --iron: #9B9B9B;
    --lightgrey: #DDD;
    --pearl: #F2F2F1;
    --white: #FFF;
    --link: #1474BD;
    --alert: #F5A623;
    --disabled: #CCC;
    --danger: #D0021B;
    --ko: #D0021B;
    --success: #109006;
    --ok: #109006;
    --offer: linear-gradient(122deg, #109006 5%, #469D04 52%, #77A903 94%);
    --standard: linear-gradient(135deg, #E36C05 0%, #E03006 100%);
    --hosting: #F84716;
    --posta: #BE1F31;
    --server: #04A317;
    --cloud: #0397D6;
    --enterprise: #373F43;
    --pratiche: #113B58;
    --rivenditori: #2B6194;
    --font-family-sans-serif: Arial, sans-serif;
}

/*UTILITIES*/
.cursor-pointer { cursor: pointer; }
a,
.btn,
.transition { transition: 0.5s; }


/*COLORS*/
.text-primary { color: #E35205 !important; }
.text-charcoal { color: #222; }
.text-grey { color: #666; }
.text-iron { color: #9B9B9B; }
.text-lightgrey { color: #DDD; }
.text-pearl { color: #F2F2F1; }
.text-white { color: #FFF !important; }
.text-link { color: #1474BD; }
.text-alert { color: #F5A623; }
.text-disabled { color: #CCC; }
.text-danger,
.text-ko { color: #D0021B !important; }
.text-confirm,
.text-success,
.text-ok { color: #109006 !important; }
.text-hosting { color: #F84716; }
.text-posta { color: #BE1F31; }
.text-server { color: #04A317; }
.text-cloud { color: #0397D6; }


.bg-primary { background-color: #E35205 !important; }
.bg-charcoal { background-color: #222; }
.bg-grey { background-color: #666; }
.bg-iron { background-color: #9B9B9B; }
.bg-lightgrey { background-color: #DDD; }
.bg-pearl { background-color: #F2F2F1; }
.bg-white { background-color: #FFF !important; }
.bg-link { background-color: #1474BD; }
.bg-alert { background-color: #F5A623; }
.bg-disabled { background-color: #CCC; }
.bg-danger,
.bg-ko { background-color: #D0021B !important; }
.bg-confirm,
.bg-success,
.bg-ok { background-color: #109006 !important; }
.bg-hosting { background-color: #F84716; }
.bg-posta { background-color: #BE1F31; }
.bg-server { background-color: #04A317; }
.bg-cloud { background-color: #0397D6; }
.bg-offer { background-image: linear-gradient(122deg, #109006 5%, #469D04 52%, #77A903 94%); }
.bg-standard { background-image: linear-gradient(135deg, #E36C05 0%, #E03006 100%); }
.bg-black { background-color: #000; }


/*TYPOGRAPHY*/
body { font-size: 16px; line-height: 1.5; font-family: Arial, sans-serif; font-weight: 400; }
h1,
h2,
h3,
h4,
h5,
h6,
p { font-weight: 400; margin-bottom: 1rem; }
strong,
b,
.bold { font-weight: 700; }

a { color: #1474BD; text-decoration: underline; }
a:hover { color: #0397D6; text-decoration: none; }

.title-lg,
.title-md,
.title-sm,
.title-xs,
.btn,
.font-Lato { font-family: 'Lato', sans-serif; }

.title-xl,
.title-lg,
.title-md,
.title-sm,
.title-xs { font-weight: 700; }
.title-xl { font-size: 62px; line-height: 72px; }
.title-lg { font-size: 48px; line-height: 56px; }	/*3rem*/
.title-md { font-size: 36px; line-height: 42px; }	/*2.25rem*/
.title-sm { font-size: 24px; line-height: 28px; }	/*1.5rem*/
.title-xs { font-size: 18px; line-height: 21px; }	/*1.125rem*/
.text-md { font-size: 16px; line-height: 24px; }	/*1rem*/
.text-sm { font-size: 14px; line-height: 21px; }	/*0.875rem*/
.text-xs { font-size: 12px; line-height: 18px; }	/*0.75rem*/
.text-note { font-size: 11px; }

@media screen and (max-width: 992px) {
    .title-lg { font-size: 36px; line-height: 42px; }
    .title-md { font-size: 30px; line-height: 34px; }
    .title-sm { font-size: 21px; line-height: 24px; }
    .text-xs { font-size: 14px; line-height: 21px; }
    .text-note { font-size: 12px; }
}



/*BUTTONS*/
.btn { border-radius: 3px; text-decoration: none; }
.btn:focus,
.btn.focus { box-shadow: none; }

.btn-action,
.btn-action-lg,
.btn-action-sm { background-color: #E35205; background-image: linear-gradient(135deg, #E36C05 0%, #E03006 100%); border: none; box-shadow: none; color: #fff; font-size: 17px; font-weight: 700; line-height: 21px; padding: 16px; text-transform: uppercase; }
.btn-action-lg { padding: 24px; }
.btn-action-sm { padding: 8px 16px; }
.btn-action:hover,
.btn-action-lg:hover,
.btn-action-sm:hover,
.btn-action:active,
.btn-action-lg:active,
.btn-action-sm:active,
.btn-action:focus,
.btn-action-lg:focus,
.btn-action-sm:focus { background: #D62C00; color: #fff; box-shadow: none; }
.btn-action.disabled,
.btn-action:disabled,
.btn-action-lg.disabled,
.btn-action-lg:disabled,
.btn-action-sm.disabled,
.btn-action-sm:disabled { background: #ccc; }

.btn-action-lined,
.btn-action-lined-lg,
.btn-action-lined-sm { background-color: #fff; border: none; box-shadow: 0 0 0 2px #E35205 inset; color: #E35205; font-size: 17px; font-weight: 700; line-height: 21px; padding: 16px; text-transform: uppercase; }
.btn-action-lined-lg { padding: 24px; }
.btn-action-lined-sm { padding: 8px 16px; }
.btn-action-lined:hover,
.btn-action-lined-lg:hover,
.btn-action-lined-sm:hover,
.btn-action-lined:active,
.btn-action-lined-lg:active,
.btn-action-lined-sm:active,
.btn-action-lined:focus,
.btn-action-lined-lg:focus,
.btn-action-lined-sm:focus { background-color: #fff; box-shadow: 0 0 0 3px #D62C00 inset; color: #D62C00; }
.btn-action-lined.disabled,
.btn-action-lined:disabled,
.btn-action-lined-lg.disabled,
.btn-action-lined-lg:disabled,
.btn-action-lined-sm.disabled,
.btn-action-lined-sm:disabled { background-color: #fff; box-shadow: 0 0 0 2px #ccc inset; color: #bbb; }

.btn-secondary,
.btn-secondary-lg,
.btn-secondary-sm { background-color: #1474BD; border: none; box-shadow: none; color: #fff; font-size: 17px; font-weight: 700; line-height: 21px; padding: 16px; text-transform: uppercase; }
.btn-secondary-lg { padding: 24px; }
.btn-secondary-sm { padding: 8px 16px; }
.btn-secondary:hover,
.btn-secondary-lg:hover,
.btn-secondary-sm:hover,
.btn-secondary:active,
.btn-secondary-lg:active,
.btn-secondary-sm:active,
.btn-secondary:focus,
.btn-secondary-lg:focus,
.btn-secondary-sm:focus { background-color: #0397D6; color: #fff; box-shadow: none; }
.btn-secondary.disabled,
.btn-secondary:disabled,
.btn-secondary-lg.disabled,
.btn-secondary-lg:disabled,
.btn-secondary-sm.disabled,
.btn-secondary-sm:disabled { background: #ccc; }

.btn-secondary-lined,
.btn-secondary-lined-lg,
.btn-secondary-lined-sm { background-color: #fff; border: none; box-shadow: 0 0 0 2px #1474BD inset; color: #1474BD; font-size: 11px; font-weight: 700; line-height: 20px; padding: 16px; text-transform: uppercase; }
.btn-secondary-lined { height: 53px; }
.btn-secondary-lined-lg { padding: 24px; }
.btn-secondary-lined-sm { padding: 8px 16px; }
.btn-secondary-lined:hover,
.btn-secondary-lined-lg:hover,
.btn-secondary-lined-sm:hover,
.btn-secondary-lined:active,
.btn-secondary-lined-lg:active,
.btn-secondary-lined-sm:active,
.btn-secondary-lined:focus,
.btn-secondary-lined-lg:focus,
.btn-secondary-lined-sm:focus { background-color: #fff; box-shadow: 0 0 0 3px #0397D6 inset; color: #0397D6; }
.btn-secondary-lined.disabled,
.btn-secondary-lined:disabled,
.btn-secondary-lined-lg.disabled,
.btn-secondary-lined-lg:disabled,
.btn-secondary-lined-sm.disabled,
.btn-secondary-lined-sm:disabled { background-color: #fff; box-shadow: 0 0 0 2px #ccc inset; color: #bbb; }

.btn-confirm,
.btn-confirm-lg,
.btn-confirm-sm { background-color: #109006; border: none; box-shadow: none; color: #fff; font-size: 17px; font-weight: 700; line-height: 21px; padding: 16px; text-transform: uppercase; }
.btn-confirm-lg { padding: 24px; }
.btn-confirm-sm { padding: 8px 16px; }
.btn-confirm:hover,
.btn-confirm-lg:hover,
.btn-confirm-sm:hover,
.btn-confirm:active,
.btn-confirm-lg:active,
.btn-confirm-sm:active,
.btn-confirm:focus,
.btn-confirm-lg:focus,
.btn-confirm-sm:focus { background-color: #0e7906; color: #fff; box-shadow: none; }
.btn-confirm.disabled,
.btn-confirm:disabled,
.btn-confirm-lg.disabled,
.btn-confirm-lg:disabled,
.btn-confirm-sm.disabled,
.btn-confirm-sm:disabled { background: #ccc; }

.btn-confirm-lined,
.btn-confirm-lined-lg,
.btn-confirm-lined-sm { background-color: #fff; border: none; box-shadow: 0 0 0 2px #109006 inset; color: #109006; font-size: 17px; font-weight: 700; line-height: 21px; padding: 16px; text-transform: uppercase; }
.btn-confirm-lined-lg { padding: 24px; }
.btn-confirm-lined-sm { padding: 8px 16px; }
.btn-confirm-lined:hover,
.btn-confirm-lined-lg:hover,
.btn-confirm-lined-sm:hover,
.btn-confirm-lined:active,
.btn-confirm-lined-lg:active,
.btn-confirm-lined-sm:active,
.btn-confirm-lined:focus,
.btn-confirm-lined-lg:focus,
.btn-confirm-lined-sm:focus { background-color: #fff; box-shadow: 0 0 0 3px #0e7906 inset; color: #0e7906; }
.btn-confirm-lined.disabled,
.btn-confirm-lined:disabled,
.btn-confirm-lined-lg.disabled,
.btn-confirm-lined-lg:disabled,
.btn-confirm-lined-sm.disabled,
.btn-confirm-lined-sm:disabled { background-color: #fff; box-shadow: 0 0 0 2px #ccc inset; color: #bbb; }

.btn-danger,
.btn-danger-lg,
.btn-danger-sm { background-color: #D4071A; border: none; box-shadow: none; color: #fff; font-size: 17px; font-weight: 700; line-height: 21px; padding: 16px; text-transform: uppercase; }
.btn-danger-lg { padding: 24px; }
.btn-danger-sm { padding: 8px 16px; }
.btn-danger:hover,
.btn-danger-lg:hover,
.btn-danger-sm:hover,
.btn-danger:active,
.btn-danger-lg:active,
.btn-danger-sm:active,
.btn-danger:focus,
.btn-danger-lg:focus,
.btn-danger-sm:focus { background-color: #a50615; color: #fff; box-shadow: none; }
.btn-danger.disabled,
.btn-danger:disabled,
.btn-danger-lg.disabled,
.btn-danger-lg:disabled,
.btn-danger-sm.disabled,
.btn-danger-sm:disabled { background: #ccc; }
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus { box-shadow: none; }

.btn-danger-lined,
.btn-danger-lined-lg,
.btn-danger-lined-sm { background-color: #fff; border: none; box-shadow: 0 0 0 2px #D4071A inset; color: #D4071A; font-size: 17px; font-weight: 700; line-height: 21px; padding: 16px; text-transform: uppercase; }
.btn-danger-lined-lg { padding: 24px; }
.btn-danger-lined-sm { padding: 8px 16px; }
.btn-danger-lined:hover,
.btn-danger-lined-lg:hover,
.btn-danger-lined-sm:hover,
.btn-danger-lined:active,
.btn-danger-lined-lg:active,
.btn-danger-lined-sm:active,
.btn-danger-lined:focus,
.btn-danger-lined-lg:focus,
.btn-danger-lined-sm:focus { background-color: #fff; box-shadow: 0 0 0 3px #a50615 inset; color: #a50615; }
.btn-danger-lined.disabled,
.btn-danger-lined:disabled,
.btn-danger-lined-lg.disabled,
.btn-danger-lined-lg:disabled,
.btn-danger-lined-sm.disabled,
.btn-danger-lined-sm:disabled { background-color: #fff; box-shadow: 0 0 0 2px #ccc inset; color: #bbb }

.btn-link,
.btn-link-lg,
.btn-link-sm { background: none; border: none; color: #1474BD; font-size: 15px; font-weight: 400; height: 56px;  line-height: 24px; padding: 16px 0; text-decoration: underline; }
.btn-link-lg { height: 72px; font-size: 17px; line-height: 21px; }
.btn-link-sm { height: 40px; font-size: 13px; line-height: 21px; }
.btn-link:hover,
.btn-link-lg:hover,
.btn-link-sm:hover,
.btn-link:active,
.btn-link-lg:active,
.btn-link-sm:active,
.btn-link:focus,
.btn-link-lg:focus,
.btn-link-sm:focus { background: none; color: #0397D6; box-shadow: none; text-decoration: none; }
.btn-link.disabled,
.btn-link:disabled,
.btn-link-lg.disabled,
.btn-link-lg:disabled,
.btn-link-sm.disabled,
.btn-link-sm:disabled { background-color: #fff; color: #bbb }

.btn-w-sm { min-width: 128px; }
.btn-w-md { min-width: 160px; }
.btn-w-lg { min-width: 200px; }



/*TABLES*/
.table { border: 1px solid #ddd; font-size: 14px; line-height: 21px; }
.table td,
.table th { border-color: #ddd; }
.table tr:first-child td,
.table tr:first-child th { border-top: none; }
.table thead { background-color: #f2f2f1; }
.table thead th { border-bottom-width: 1px; font-size: 12px; line-height: 18px; color: #666; vertical-align: top; }
.table thead th > .field-note { display: block; color: #9B9B9B; }
.table tfoot { border-top: 1px solid #ddd; color: #666; font-size: 12px; line-height: 18px; font-weight: 700;  }
.table tfoot td { padding: 0; }
.table tfoot td select { border: none; }
.table tfoot td .page-navigation > a { font-size: 18px; line-height: 1; }



/*BREADCRUMBS*/
.breadcrumbs { font-size: 12px; line-height: 18px; color: #9b9b9b; font-family: 'Lato', sans-serif; }
.breadcrumbs > a { text-decoration: none; color: #222; margin: 0 0.5rem; }
.breadcrumbs > a:hover { color: #666; }
.breadcrumbs > span { display: none; }
.breadcrumbs > a:first-child { margin-left: 0; }



/*MODALS*/
.modal-backdrop { background: #222; }
.modal-backdrop.show { opacity: .8; }
.modal-content { border-radius: 5px; overflow: hidden; }
.modal-header { box-shadow: 0 4px 0 0 #ddd inset; background: #F2F2F1; border: none; padding: 1rem 2rem; border-radius: 0; }
.modal-title { font-size: 24px; line-height: 28px; font-family: 'Lato', sans-serif; font-weight: 700; }
.close { font-size: 40px; line-height: .7; font-weight: 400; color: #222; }
.modal-body { padding: 2rem; }
.modal-footer { justify-content: flex-start; align-items: center; border-color: #EAEAE9; padding: 1.25rem 2rem; }
.modal-footer>:not(:last-child) { margin-right: .5rem; }
.modal-footer>:not(:first-child) { margin-left: .5rem; }
.modal-danger .modal-header { box-shadow: 0 4px 0 0 #D4071A inset; }
.modal .table { border: 0 none; }

@media (min-width: 576px) {
    .modal-dialog { max-width: 544px; margin: 1rem auto; }
    .modal-sm { max-width: 320px; }
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl { max-width: 800px; }
}

@media (min-width: 1200px) {
    .modal-xl { max-width: 1152px; }
}



/*FORM*/
.custom-control-input:checked ~ .custom-control-label::before { border-color: #9b9b9b; background-color: #9b9b9b; }
.custom-select:focus,
.form-control:focus,
.custom-file-input:focus ~ .custom-file-label,
.custom-control-input:focus ~ .custom-control-label::before { box-shadow: 0 0 0 0.2rem #ddd; border-color: #9b9b9b; }
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before { border-color: #9b9b9b; }
.custom-control-label::after { top: 0; left: -1.75rem; width: 1.5rem; height: 1.5rem; }
.form-control.is-invalid, .was-validated .form-control:invalid { background-image: none; }

.custom-range:focus::-webkit-slider-thumb { box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(196, 196, 196, .5); }
.custom-range:focus::-moz-range-thumb { box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(196, 196, 196, .5); }
.custom-range:focus::-ms-thumb { box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(196, 196, 196, .5); }
.custom-range::-webkit-slider-thumb { background-color: #666; }
.custom-range::-moz-range-thumb { background-color: #666; }
.custom-range::-ms-thumb { background-color: #666; }
.custom-range::-webkit-slider-thumb:active { background-color: #9b9b9b; }
.custom-range::-moz-range-thumb:active { background-color: #9b9b9b; }
.custom-range::-ms-thumb:active { background-color: #9b9b9b; }


/*COLLAPSE (ACCORDION)*/
.accordion > .card { border-radius: 0; }
.accordion > .card .card-header { padding: 0; background-color: #F2F2F1; z-index: 1; }
.accordion > .card .card-header > .btn { width: 100%; border-radius: 0; text-align: left; font-weight: 700; padding: 1.25rem 1rem; font-size: 21px; }
.accordion > .card .card-header > .btn:hover { opacity: .7; }
.accordion > .card .card-header > .btn::before { content: "-"; margin-right: 1rem; }
.accordion > .card .card-header > .btn.collapsed::before { content: "+"; }
.accordion > .card .card-body.table { border: 0; margin-bottom: 0; }
.accordion > .card .card-body,
.accordion > .card .card-body th,
.accordion > .card .card-body td { padding: 1rem; }
.accordion > .card .card-body th,
.accordion > .card .card-body td { text-align: center; }
.accordion > .card .card-body th:first-child,
.accordion > .card .card-body td:first-child { width: 25%; text-align: left; }
.accordion > .card .card-body.table-bordered th { background-color: #F2F2F1; }
.accordion > .card .card-body.table-bordered th:first-child,
.accordion > .card .card-body.table-bordered td:first-child { border-left: 0; }
.accordion > .card .card-body.table-bordered th:last-child,
.accordion > .card .card-body.table-bordered td:last-child { border-right: 0; }
.accordion > .card .card-body.table-bordered { margin-bottom: -1px; }


/*HEROAREA*/
.heroarea { position: relative; width: 100%; height: 480px; overflow: hidden; }
.heroarea-background { background: transparent no-repeat center / cover; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; }
.heroarea-background-overlay { opacity: 0; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }
.heroarea-background video { position: absolute; top: 50%;  left: 50%; -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); min-width: 100%;  min-height: 100%;  width: auto;  height: auto; z-index: 1; }
.heroarea-content { padding: 0; position: relative; z-index: 10; display: flex; align-items: center; height: 100%; }
.heroarea-content-light *:not(.btn) { color: #fff; }
.heroarea-content .list { list-style-image: url('img/check-mark.svg'); }
.carousel-item { height: 480px; }
.carousel-indicators,
.carousel-control-next,
.carousel-control-prev { z-index: 100; }
.carousel-control-next,
.carousel-control-prev { width: 5%; }

/*HIGHTLIGHT*/
.hightlight { padding: 5rem 0; background: transparent no-repeat center / cover; }
.hightlight .hightlight-box { padding: 3rem; border-radius: 5px; box-shadow: 0 1px 3px rgba(0,0,0,.7); }
.hightlight .hightlight-box .btn { margin-bottom: .5rem; margin-right: 1rem; }
.hightlight .hightlight-note { margin-top: 1.5rem; margin-bottom: -1.5rem; }
@media screen and (max-width: 577px) {
    .hightlight { padding: 2rem 0; background-image: none !important; border-top: 1px solid #ddd; }
    .hightlight .hightlight-box { padding: 1rem; border-radius: 0; box-shadow: none; }
    .hightlight .hightlight-note { margin-top: inherit; margin-bottom: inherit; }
}



/*SPECIFICHE*/
.form-fixed-width { max-width: 400px; margin: 0 auto; }

