
.module-letters .letter-button,
.module-letters #sendForm .file-upload { background-color: #2082c7; }
.module-letters .letter-button.active { background-color: #125889; }


/* HEADER LINE -------------------------------------------------------------- */

.tmpl-version { color: #fff; background-image: url("images/ico-look.png"); }


/* HEADER -------------------------------------------------------------- */

.tmpl-sitename { color: #1aaa27; }


/* MAINMENU ------------------------------------------------ */

@media (min-width: 768px) {
	.tmpl-mainmenu-wrapper,
	.tmpl-mainmenu {
		background-color: #4d85c5;
	}
	.tmpl-mainmenu ul.navbar-nav > li.directly-active > a,
	.tmpl-mainmenu ul.navbar-nav > li.indirectly-active > a { color: #2082c7 !important; }
	.tmpl-mainmenu ul.navbar-nav > li:hover > a { color: #2082c7 !important; }
	
	.tmpl-mainmenu .dropdown-menu { border-bottom-color: #2082c7; }
}
@media (max-width: 767px) {
	.tmpl-mainmenu .navbar { background: #2082c7; }
}


/* LEFTSIDE ------------------------------------- */

.tmpl-leftmenu ul.nav > li > a { color: #fff; }
.tmpl-leftmenu ul.nav > li ul > li > a { color: #135b8d; }


/* RIGHTSIDE -------------------------------- */
.tmpl-glava h1,
.tmpl-glava h2,
.tmpl-glava h3 { color: #2082c7; }
.tmpl-glava a.priem { border-color: #2082c7; background-image: url("images/ico-priem.png"); color: #2082c7; }


/* CONTENT ------------------------------------- */

.tmpl-button {
	border: 1px solid #2082c7;
	background-color: #2082c7;
}

.tmpl-title { border-bottom-color: #2082c7; }
.tmpl-title > span { border-color: #2082c7; color: #2082c7; }
.tmpl-title .toall { color: #2082c7; }


.tabs > ul { border-bottom-color: #2082c7; }
.tabs > ul > li > a { color: #2082c7; border-color: #2082c7; }
.tabs > ul > li > a.active { background-color: #2082c7; }
.tabs > .tab .tmpl-rss { background-image: url("images/ico-rss.png"); }
@media (max-width: 767px) {
	.tabs > ul > li:last-child > a { border-bottom-color: #2082c7;}
}

.tmpl-lastdoc .lastdoc1 a { color: #49759f; }


.cms-material-list .tmpl-item .title { color: #2082c7; }
.cms-material-list .tmpl-item.fixed { background-color: #eef8ff; }


.tmpl-contentblock.styled a { color: #2082c7; }

.tmpl-mainnews .swiper-slide .title a:hover { color: #2082c7; }
.tmpl-mainnews .swiper-button-prev { background-image: url("images/mainnews-left.png"); }
.tmpl-mainnews .swiper-button-next { background-image: url("images/mainnews-right.png"); }
.tmpl-mainnews .swiper-pagination .swiper-pagination-bullet { border-color: #2082c7; }
.tmpl-mainnews .swiper-pagination .swiper-pagination-bullet-active { background: #2082c7; }


.plg-polls .plg-answer input[type="checkbox"] + label:hover:before { background: #2082c7; }
.plg-polls .plg-answer input[type="checkbox"]:checked + label:before { background: #2082c7; box-shadow: 0 0 0 2px #2082c7; }
.plg-polls .plg-answer input[type="checkbox"]:checked + label { color: #2082c7; }
.plg-polls .plg-answer.result .result-line { background-color: #cbdfee; }
.plg-polls .plg-button { background-color: #2082c7; }


.tmpl-content .page_numbering a { background: #007cc3; }
.tmpl-content .page_numbering a.active { background: #125889; }


.tmpl-swiper-slider .swiper-button-prev { background-image: url("images/scroll-arrow-l.png"); }
.tmpl-swiper-slider .swiper-button-next { background-image: url("images/scroll-arrow-r.png"); }


.tmpl-banners-slider .swiper-button-prev { background-image: url("images/scroll-arrow-l.png"); }
.tmpl-banners-slider .swiper-button-next { background-image: url("images/scroll-arrow-r.png"); }


#saveus-window .saveus-footer .saveus-btn { background-color: #2082c7 !important; }