.page_numbering { display: inline-block; margin: 0 0 10px 0; }
.page_numbering a { display: inline-block; float: none; width: 20px; padding: 3px 0; margin: 0 0 0 2px; background: silver; border: 1px solid gray;  color: #fff !important; text-decoration: none; border-radius: 2px; text-align: center; cursor: pointer; }
.page_numbering a:hover { background: gray; }
.page_numbering a.active { background: gray; }


.cms-ui {
    position: absolute;
    font-size: 9px !important;
    font-family: 'Verdana' !important;
    font-style: normal !important;
    background: #777 !important;
    padding: 0 !important;
	height: auto !important;
    border: none !important;
    cursor: default !important;
    visibility: hidden;
    opacity: 0.85;
    z-index: 1000;
}
.cms-ui:hover { 
    opacity: 1;
    z-index: 1001;
}
.cms-ui .el {
    display: block;
    color: #fff !important;
    text-decoration: none !important;
    background: #777 !important;
    padding: 4px 8px !important;
	height: auto !important;
    border: 1px solid #fff;
    border-radius: 0 !important;
    white-space: nowrap !important;
    font-weight: normal !important;
    font-size: 100% !important;
    font-family: inherit !important;
    line-height: 1 !important;
    letter-spacing: normal !important;
    margin: -1px 0 0 !important;
    cursor: pointer;
}
.cms-ui:hover > .el,
.cms-ui .el:hover {
    background: #505050 !important
}
.cms-ui .el-items {
    position: absolute !important;
    top: 100%;
    left: 0;
    padding: 0 !important;
    text-align: left !important;
    display: none;
}
.cms-ui:hover .el + .el-items {
    display: block;
}
.cms-ui:hover .el + .el-items .el {
    width: 100px;
    margin-top: -1px;
}


.cms-ui-border {
    border: 1px solid red !important;
}


.plugin-error {
    font-size: 12px;
    color: #ff0000;
    font-family: "Courier"
}

/* legacy -----------------------------------------------------------------------------------*/
.kl83-adminform { padding: 10px 30px; width: 800px; }
.kl83-adminform.border { border: 1px #ccc dashed; }
.kl83-adminform form { margin: 0; padding: 0; }
.kl83-adminform .variable { display: none }
.kl83-adminform div.field { clear: both }
.kl83-adminform div.field * { float: left; width: 800px }
.kl83-adminform div.field span.header { font-weight: bold; margin: 20px 0 5px }
.kl83-adminform div.field span.comment { clear: both; color: gray; margin: 0 }
.kl83-adminform div.field div.help { clear: both; color: gray; margin: 0 0 5px }
.kl83-adminform div.field div.help p { margin: 0 }
.kl83-adminform div.field input,
.kl83-adminform div.field select { clear: both }
.kl83-adminform div.field textarea { height: 100px }
.kl83-adminform div.field input[type="number"] { }
.kl83-adminform div.field input[type="date"],
.kl83-adminform div.field input[type="time"] { width: 200px; }
.kl83-adminform div.field input[type="checkbox"] { width: auto; margin-top: 1px; margin-right: 8px; }
.kl83-adminform div.field input[type="checkbox"] + label { width: auto; float: left; }
.kl83-adminform div.field #material_icon { width:690px; }
.kl83-adminform div.field #change_material_icon { width:100px; height:22px; padding:1px; }
.kl83-adminform div.tinymce { clear: both }
.kl83-adminform div.tinymce span.header { font-weight: bold; padding: 20px 0 5px; display: block }
.kl83-adminform div.tinymce textarea { width: 800px }
.kl83-adminform div.btn-before input,
.kl83-adminform div.btn-before select { width: 600px; clear: none; float: right }
.kl83-adminform div.btn-before button { clear: right; float: left; width: 190px }
.kl83-adminform div.btn-after input,
.kl83-adminform div.btn-after select { width: 600px; clear: none; float: left }
.kl83-adminform div.btn-after button { clear: right; float: right; width: 190px }
.kl83-adminform div.buttons { clear: both; padding: 30px 0; text-align: center }
/* legacy -----------------------------------------------------------------------------------*/

#kl83_infobar h1,
#kl83_infobar h2,
#kl83_infobar h3 { margin: 0 0 5px; font-size: 12px }
#kl83_infobar p { margin: 0 0 3px }
#kl83_infobar a,
#kl83_infobar a:link,
#kl83_infobar a:visited { color: #006; text-decoration: none }

.x-tree-node-pseudo .x-tree-node-icon { background-image: url('../cms_images/extjs-leaf-pseudo.png') !important }
.x-tree-node-pseudo-folder .x-tree-node-icon { background-image: url('../cms_images/extjs-pseudo.png') !important }
.node-hidden { background-image: url('../cms_images/node-hidden.png') !important; }
.node-doc { background-image: url('../cms_images/node-doc.png') !important; }
.node-doc-signature { background-image: url('../cms_images/node-doc-signature.png') !important; }

.sys_err { margin: 10px 0; color: red; }
.sys_ok { margin: 10px 0; color: green; }

#Go_Top { position: fixed; bottom: 0; left: 10px; cursor: pointer; display: none; height: 35px; width: 80px; z-index: 999; text-align: center; color: #fff; padding: 0; line-height: 35px; border-radius: 8px 8px 0 0; opacity: 0.4; background: #000; text-shadow: 0 0 2px #000; }
#Go_Top:hover { opacity: 0.6; }

#gotomobile { display: block; position: fixed; left: 100px; bottom: 0; opacity: 0.4; padding: 0 10px 0 40px; height: 35px; color: #fff; line-height: 35px; background: url("../cms_images/mobile.png") no-repeat 10px 8px #000; border-radius: 8px 8px 0 0; box-shadow: 0 0 4px #fff; text-shadow: 0 0 2px #000; text-decoration: none; z-index: 10000; }
#gotomobile:hover { opacity: 0.6; }


/* Videogallery */
.admin-videgallery-item { padding: 5px; }
.admin-videgallery-item .item { 
	display: inline-block;
	vertical-align: top;
	width: 188px; 
	height: 220px;
	margin: 5px;
	 padding: 5px;
	border: 1px dotted #ccc; 
}
.admin-videgallery-item .preview { 
	overflow: hidden; 
	height: 160px; 
	width: 188px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}
.admin-preview { float: left; width: 120px; margin-right: 10px; }
#fileinfo { float: left; width: 120px; margin-right: 10px; line-height: 20px; }

.show-video { cursor: pointer; }


/* Document tree */
span.tree-number { display: inline; background: #CCD8E7; }

.plg-question { position: relative; }
.plg-question .title { font-weight: 700; margin: 0 0 10px; }
.plg-question .answer { margin: 5px 0; }
.plg-question label { cursor: pointer; }
.plg-question .custom { position: relative; margin: 10px 0 0 0; }
.plg-question .custom-title { font-weight: bold; margin: 0 0 3px 0; }
.plg-question .custom .custom-answer { width: 99%; height: 70px; }
#vote_form .button { display: inline-block; padding: 8px 25px; background-color: #0373A1; color: #fff; border-radius: 3px; margin: 10px 0 0; cursor: pointer; }
#vote_form .button:hover { background-color: #1D8DBB; }

.x-view-over { background: #ecf1f7; }
.x-view-selected { background: #c9d7e8; }


/* Lightbox */
.cms-bgShadow {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: RGBa(0,0,0,0.55);
	z-index: 9999;
	display: none;
}
.cms-lightbox {
	position: fixed;
	top: 0;
	left: 0;
    right: 0;
	width: auto;
	max-width: 600px;
	margin: 0 auto;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 0 8px RGBa(0,0,0,0.5);
	z-index: 10000;
	display: none;
}
.cms-lightbox .lightbox-panel { display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px; }
.cms-lightbox .lightbox-panel .panel-title { font-weight: 400; font-size: 100%; }
.cms-lightbox .lightbox-panel .panel-hide { position: relative; cursor: pointer; color: #d22424; }
.cms-lightbox .lightbox-panel .panel-hide:hover { }
.cms-lightbox .lightbox-panel .panel-close { cursor: pointer; color: #d22424; font-weight: 300; margin-left: 16px; }
.cms-lightbox .lightbox-panel .panel-close:hover { }
.cms-lightbox .lightbox-content { position: relative; }
@media(max-width: 640px){
	.cms-lightbox {
		margin: 0 8px;
	}
}

.cms-cookieAccept {
    position: fixed;
    left: 0;
	right: 0;
    bottom: 0;
	background-color: RGBa(0,0,0,0.8);
    font-size: 80%;
	z-index: 9999;
    display: none;
}
.cms-cookieAccept .cookieAccept-panel { display: flex; justify-content: flex-end; align-items: center; padding: 16px 16px 0; }
.cms-cookieAccept .cookieAccept-panel .accept-button {
    display: block;
    background-color: RGBa(255,255,255,0.8);
    color: #000;
    font-weight: 400;
    border-radius: 3px;
    padding: 6px 16px;
    cursor: pointer;
    text-align: center;
}
.cms-cookieAccept .cookieAccept-panel .accept-button:hover { background-color: #fff; }
.cms-cookieAccept .cookieAccept-content { color: #fff; padding: 16px; text-align: justify; }
.cms-cookieAccept .cookieAccept-content a { color: inherit; text-decoration: underline; }
.cms-cookieAccept .cookieAccept-content a:hover { color: inherit; }


.cms-alert { display: block; position: relative; padding: 8px; margin: 12px 0; }
.cms-alert.error { background-color: RGBa(237,33,17,0.1); border: 1px dotted RGBa(237,33,17,0.2); }
.cms-alert.success { background-color: RGBa(71,144,52,0.1); border: 1px dotted RGBa(71,144,52,0.2); }


.plg-photogallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 12px;
}
.plg-photogallery * { -moz-box-sizing: border-box; box-sizing: border-box; }
.plg-photogallery .plg-photo {
    width: 240px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 12px;
}
.plg-photogallery .plg-photo img {
    width: 100%;
    height: 216px;
    object-fit: cover;
    /*border: 1px solid #9ea1a9;*/
    box-shadow:
        0 0 0 4px #fff,
        0 0 0 5px #9ea1a9;
}