
.pg-photoalbums { position: relative; margin-bottom: 16px; }
.pg-photoalbums > a.album { display: flex; align-items: center; padding: 12px 16px; border-bottom: 1px dotted #ccc; text-decoration: none; cursor: pointer; }
.pg-photoalbums > a.album:first-of-type { border-top: 1px dotted #ccc; }
.pg-photoalbums > a.album img { border: 0; margin-right: 10px; }
.pg-photoalbums > a.album .album-info { }
.pg-photoalbums > a.album:hover { background-color: #ececec; text-decoration: none; }
.pg-photoalbums > a.album .count { font-size: 80%; color: #757575; }