
.pg-videoalbums { position: relative; margin-bottom: 16px; }
.pg-videoalbums > a.album { display: block; padding: 16px; border-bottom: 1px dotted #ccc; text-decoration: none; cursor: pointer; }
.pg-videoalbums > a.album:first-of-type { border-top: 1px dotted #ccc; }
.pg-videoalbums > a.album img { float: left; border: 0; margin-right: 10px; }
.pg-videoalbums > a.album .album-info { padding-left: 55px; }
.pg-videoalbums > a.album:hover { background-color: #ececec; text-decoration: none; }
.pg-videoalbums > a.album .count { font-size: 80%; color: #757575; }