
/***** All references to PNG images have to be placed here for IE to render them properly within subpagea *****/
* html #nav-left #top-margin #nav-topper {
background-image:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/ic_059_navtopper_bg.png);
}
* html #nav-left #headertop #website-title {
background-image:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/ic_059_title_bg.png);
}
* html #nav-left #headertop #website-slogan {
background-image:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/ic_059_slogan_bg.png);
}
* html #nav-right #top-margin #nav-topper {
background-image:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/ic_059_navtopper_bg.png);
}
* html #nav-right #headertop #website-title {
background-image:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/ic_059_title_bg_2.png);
}
* html #nav-right #headertop #website-slogan {
background-image:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/ic_059_slogan_bg_2.png);
}
* html body#wide #nav-left #headertop #website-title {
background-image:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/ic_059_title_bg_wide.png);
}
* html body#wide #nav-left #headertop #website-slogan {
background-image:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/ic_059_slogan_bg_wide.png);
}
* html body#wide #nav-right #headertop #website-title {
background-image:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/ic_059_title_bg_2_wide.png);
}
* html body#wide #nav-right #headertop #website-slogan {
background-image:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src=images/ic_059_slogan_bg_2_wide.png);
}
