
	#warn			{ width:585px; background:#fff; padding:35px 80px; text-align:center;}
	#warn h2		{ font-size:24px; font-weight:bold;}
	#warn p 		{ font-size:17px; color:#303030; line-height:20px;}
	#warn em 		{ font-style:normal; line-height:20px; display:block; color:#666; font-size:14px; padding-bottom:15px;}
	#warn h4 		{ font-size:17px; color:#303030; font-weight:normal; font-family:arial; padding-bottom:20px;}
	#warn a.cls		{ font-size:17px; }
	.both_main		{}
	.both_main input { width:200px; line-height:22px; font-size:15px; padding:0 10px; float:left; font-family:arial; height:36px; margin-right:10px; border:#ccc solid 1px; display:block;}
	.both_main button	{ width:100px; text-align:center; height:36px; float:left; font-size:15px; font-family:arial; display:block;}
