/* ElÃ©ments jaunes */

.news-hero__cta{
    background-color: #E31500;
}

.btn--bold.btn--secondary{
    color:#E31500;
}

.tab__highlight{
    background-color: #E31500;
}

.tab__panel-item{
    border-color: #E31500;
}



.tab__menu-item[aria-selected=true]{
    background-color: #E31500;
}

.panier-titre{
    background-color: #E31500;
}

.header-navigation__link--active, .header-navigation__link:focus, .header-navigation__link:hover{
    box-shadow: 0 0.2rem 0 0 #E31500;
}

.menu-accordion>.menu-accordion__title .menu-accordion__btn.active,
.menu-accordion>.menu-accordion__title .menu-accordion__btn.focus-visible,
.menu-accordion>.menu-accordion__title .menu-accordion__btn:active,
.menu-accordion>.menu-accordion__title .menu-accordion__btn:hover,
.menu-accordion>.menu-accordion__title .menu-accordion__link.active,
.menu-accordion>.menu-accordion__title .menu-accordion__link.focus-visible,
.menu-accordion>.menu-accordion__title .menu-accordion__link:active,
.menu-accordion>.menu-accordion__title .menu-accordion__link:hover{
    background-color:#E31500;
}

.events-infos__toggle button{
    background-color:#E31500;
}

.ad-infos__toggle button{
    background-color:#E31500;
}

.banner-page{
    background-color:#E31500;
}

.news-bloc__media{
    background-color:#E31500;
}

@media (max-width: 62.5em) {

    .news-hero{
        background-color:#E31500;
    }
}

/*///////////////////// ElÃ©ment bleu foncÃ© (identifiation ///////////////////////////*/

.cta-register:before{
    background-color: #E31500;
}

/*///////////////////// ElÃ©ments bleus ///////////////////////////*/

.page--login{
   background-color: #31383E;
}

.home-hero__cta-slider{
    background-color: #31383E;
}

.icon--dropdown-arrow .p--1{
    fill:#31383E;
}

.events{
    background-color: #31383E;
}

.calendar{
    background-color: #31383E;
}

.right-now{
    background-color: #31383E;
}

.right-now:after, .right-now:before{
    background-color: #31383E;
}

.menu-accordion>.menu-accordion__title .menu-accordion__btn, .menu-accordion>.menu-accordion__title .menu-accordion__link{
    background-color: #31383E;
}

.select .icon{
    fill:#31383E;
}

.btn--bold.btn--primary{
    color: #31383E;
}

.home-hero__cta-slider:after{
    border-color: transparent #31383E transparent transparent;
}

.events__arrow{
    border-color: transparent #31383E transparent transparent;
}

.puce_subvention{
    color: #31383E;
}

@media (max-width: 62.5em) {
    .right-now .swiper-pagination {
        background-color:#31383E;
    }
}

/*///////////////////// ElÃ©ments noirs ///////////////////////////*/

.view-more__link{
    background-color: #000;
}