
@import url(https://fonts.googleapis.com/css?family=Gilda+Display);

html {
  background: #333;
  color: white;
  overflow: hidden;
  height: 100%;
  user-select: none;
}

.error {
  font-size: 30px;
  font-style: italic;
  text-align: center;
  width: 420px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: -50px;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
}

.info {
  text-align: center;
  font-size: 15px;
  text-align: center;
  width: 400px;
  height: 60px;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
 
}


