.feature-wide {
    border: 1px solid #ddd;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(221, 221, 221);
    border-top: 4px solid #bd5319;
    padding: 30px 30px 10px 30px;
    padding: 3rem 3rem -5rem 3rem;
    margin-bottom: 45px 45px 45px 45px;
    margin-bottom: 4.5rem 4.5rem 4.5rem 4.5rem;
    background: #f9f9f9;
}

.accent-blue-med-bottom{
border-top:none;
}
/* Block blue style */
.accent-blue-med-bottom .block-inner{
border-top:1px solid #dddddd;
border-bottom:3px solid #276dc4;
}

.accent-blue-med-bottom h2.block-title{
color:#00356b;
}

.accent-blue-med-bottom h2.block-title:after{
content:none;
}

.accent-blue-med-bottom .content p{
line-height:1.13;
color:#000;
font-size:16px;
}