/*----- Home Banner css -------*/
#zone-menu .block-menu-block-8 li a.active {
    text-decoration: underline;
}

.view-rotating-header-image .views-field-title {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    padding: 4%;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0em;
    color: #003c76;
    width: 62.7%;
}
.view-rotating-header-image .views-field-title a {
   line-height: 1.38;
   text-align: left;
   color: #003c76;
   text-decoration: none;
}
/*--------------Inner page Css------------*/
h1.title {
    font-family: YaleDesign-Roman;
    font-size: 40px;
    line-height: normal;
    color: #003c76;
    text-transform: none;
}
article h2, main h2 {
    font-family: YaleDesign-Roman;
    font-size: 32px;
    line-height: normal;
    color: #003c76;
}
.entity-field-collection-item a {
    color: #003c76;
    text-decoration: none;
}
.sidebar h2.block-title, .zone-postscript h2.block-title {
    font-weight: bold !important;
    color: #000000;
    font-size: 20px !important;
}
.block-menu-block h2.block-title {
    border: none !important;
}


/*---- sidebar Menu Block------*/
.sidebar ul li ul.menu li a {
   margin-left: 4em;
   border-bottom: 1px solid #eee;
   color: #000000;
}
.sidebar .menu a {
    color: #000;
}
.sidebar .menu a.active {
    font-weight: 600;
}
.sidebar .menu .expanded {
  background-color: #fff;
  border-top: 1px solid #dddddd;
  padding-top: 0;
}
.sidebar .menu .menu:before {
    content: "";
    display: block;
    width: 100%;
    position: relative;
    top: -0.75em;
    margin-left: 0px; 
    border-bottom: 1px solid #dddddd;
}
#region-sidebar-second {
    margin-left: 1%;
}
.sidebar ul li a.active {
    background-color: #f8f8f8;
    color: #276dc4;
}
/*---- sidebar Menu Block------*/

/*-------climate culture page css---------------*/
.field-name-field-featured-content{
    padding-top:1em;
}
.field-name-field-featured-content .field-items .field-item .odd {
    padding-left: 2em;
}
.field-name-field-featured-content article {
    float: left;
    width: 49%;
}
.node-landing-page .field-name-field-featured-content .field-item:nth-child(3) {
    clear: both;
}
.field-name-field-featured-content h2 {
    font-size: 22px;
    color: #003c76;
    text-transform: capitalize;
    font-family: "Mallory", Verdana, Arial, Helvetica, sans-serif;
}



/*-------------------------------------Content-Region CSS Starts---------------------------------------*/
#region-content h2.block-title {
    font-family: YaleDesign-Roman;
    font-size: 32px;
    line-height: normal;
    color: #003c76;
    margin-top: 0.25em;
    text-transform: none;
}
/*----------------------------------------Menu BlocksCSS Starts---------------------------------------*/
#region-content .block-menu ul.menu li {
    list-style-type: square;
    margin-left: 3.5%;
}

#region-content .region-inner.region-content-inner {
    padding-bottom: 1em;
}

#region-content .block-menu ul.menu li a {
    font-size: 16px;
    line-height: 1.25;
    color: #003c76;
    text-decoration: none;
}
/*---------------------------------------Menu BlocksCSS Starts---------------------------------------*/
/*------------------------------------- Content Region CSS ends---------------------------------------*/


/*-------------------------------------Breadcrumb CSS Starts---------------------------------------*/
.breadcrumb {
    margin-bottom: 3em;
}
.breadcrumb .last {
    font-weight: bold;
    color: #000;
}
.breadcrumb a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: normal;
}
/*.breadcrumb span.delimiter::after {
    content: 'âº';
    visibility: visible;
    margin-left: -10px;
}

.breadcrumb span.delimiter {
    visibility: hidden;
}*/
/*-------------------------------------Breadcrumb CSS Ends---------------------------------------*/

/*-------------------------------------postscript region css starts---------------------------------------*/
/*------------------------ to be enabled only when postscript region is used.-----------------------------*/
#zone-postscript-wrapper {
    border-top: 1px solid dodgerblue;
    background-color: #f8f8f8;
}
#zone-postscript {
   padding: 2em 0 2em 0;
}
/*----------------------------------------postscript region css ends ----------------------------------------*/



/*----------------------------Field collection block css starts ----------------------------*/

/*-----------------------------Three Column BLock css starts--------------------------------*/
.three-column-additional-content-field .entity-field-collection-item {
    float: left;
    width: 30%;
    margin-right: 3%;
}
.three-column-additional-content-field .entity-field-collection-item .field.field-name-field-link-to-content a {
    text-decoration: none;
    font-size: 22px;
    color: #003c76;
    line-height: normal;
}
.three-column-additional-content-field .entity-field-collection-item p {
    font-size: 16px;
    line-height: 1.38;
    margin-top: 0.75em;
}
/*-----------------------------Three Column Block Css Ends--------------------------------*/

/*-----------------------------Two Column BLock css starts --------------------------------*/
.two-column-additional-content-field {
    margin-top: 1em;
}
.two-column-additional-content-field .entity-field-collection-item {
    float: left;
    width: 50%;
    margin-top: 0.5em;
}
.two-column-additional-content-field .entity-field-collection-item .field.field-name-field-link-to-content a {
    text-decoration: none;
    font-size: 22px;
    color: #003c76;
    line-height: normal;
}
.two-column-additional-content-field .entity-field-collection-item p {
    font-size: 16px;
    line-height: 1.38;
    margin-top: 0.75em;
    padding-right: 5%;
}
.two-column-additional-content-field .field-name-field-additional-content .field-item:nth-child(3) {
    clear: both;
}

/*-----------------------------Two Column Block Css Ends--------------------------------*/

/*----------------------------Field collection block css starts ----------------------------*/



/*-----------------Right Sidebar block---------------------*/
.right-sidebar-block {
    margin-top: 1.5em;
}
.right-sidebar-block .view.view-news .views-field.views-field-title
{
   padding-bottom:20px ;
}

.right-sidebar-block h2.block-title {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #02274d;
    padding: 0 0 10px 10px;
    border-bottom: 3px solid #276dc4;
    margin-bottom: 1em;
}
.right-sidebar-block .view.view-news .views-field.views-field-title h3.field-content a {
    font-size: 17px;
    color: #000000;
}
.right-sidebar-block .view.view-news .views-field.views-field-title h3.field-content {
    line-height: 1;
    padding-left: 10px;
}


/*---more link----*/
.sidebar .block .more-link a {
    font-size: 1em;
    border: solid 1px #276dc4;
    color: #276dc4 !important;
    padding: 6px 15px;
}
.sidebar .block .more-link a:hover {
    border: solid 1px #276dc4;
}
.view-student-help-center .more-link {
    padding-left: 10px;
}
.sidebar .block .more-link a:hover {
    background-color: #003c76;
    color: #fff !important;
}
article .more-link a {
    border: solid 1px #276dc4;
    color: #276dc4;
    padding: 6px 15px;
}
article .more-link a:hover {
   background-color: #003c76;
   color: #fff !important;
}


/*------------ Media Query------------*/
@media (max-width: 739px){
.two-column-additional-content-field .entity-field-collection-item {
    width: 100%;
}
.field-name-field-featured-content article {
    width: 100%;
}
.field-name-field-featured-content .field-items .field-item .odd {
    padding-left: 0;
}
.breadcrumb {
    margin-bottom: 3em;
    overflow: inherit;
    display: contents;
}
}


/*----Sidebar Menus-----*/
.sidebar .block-menu-block .menu {
    text-transform: uppercase;
}