
        /* @import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic"); */

        body {
            /* font-family:"Roboto",Helvetica,Arial,sans-serif; */
            /* font-family: Arial, Helvetica, sans-serif; */
            /* font-family: "Times New Roman",Georgia,Serif; */
            font-family: "Helvetica", Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            font-weight: normal;
            background-color: #ffffff;
        }

        .navigation {
            height: auto;
            width: 100%;
            margin-left: 0;
            background: rgb(72,62,244);
            opacity: 0.8;
            position: fixed;
            top: 0;
        }

        .navigation ul {
            width: auto;
            list-style-type: none;
            white-space: nowrap;
            margin-left: 22%;
            padding: 0;
        }

        .navigation li {
            float: right;
            text-align: center;
            line-height: 40px;
            margin-right: 2%;
            position: relative;
            overflow: hidden;
        }

        #name-nav {
            float: left;
            position: relative;
            display: block;
            color: rgb(252, 244, 244);
            text-align: center;
            padding: 3px;
            overflow: hidden;
            font-size: 120%;
            text-decoration: none;
        }

        .navigation li a,
        .navigation li span {
            display: block;
            color: white;
            text-align: center;
            padding: 3px;
            overflow: hidden;
            text-decoration: none;
        }

        .navigation li a:hover {
            text-decoration: underline;
        }

        .navigation li span:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        b {
            font-weight: 600;
        }

        .content {
            width: 100%;
            padding-top: 4%;
            /* margin : 0px auto; */
            background-color: #ffffff;
        }

        table {
            padding: 5px;
        }

        table.pub_table,
        td.pub_td1,
        td.pub_td2 {
            padding: 8px;
            width: 850px;
            border-collapse: separate;
            border-spacing: 15px;
            margin-top: -5px;
        }

        td.pub_td1 {
            width: 50px;
        }

        td.pub_td1 img {
            height: 120px;
            width: 160px;
        }

        div#container {
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 15%;
            margin-right: 15%;
            
            /* width: 860px; */
            text-align: left;
            /* position: relative; */
            background-color: #FFF;
        }

        div#portrait {
            /* color: #1367a7;
        color: rgb(34, 110, 147); */
            height: 158px;
        }

        #portrait {
            /* position: relative; */
            /*margin-left: 100%;*/
        }

        h4,
        h3,
        h2,
        h1,
        .paperlo,
        .paperhi-only {
            color: rgb(40,32,183);
        }

        .text_container h2:hover {
            cursor: pointer;
        }

        .paperhi-only,
        .paperlo:hover {
            cursor: pointer;
        }

        h2 {
            font-size: 130%;
        }

        #paper-show {
            color: rgb(0, 85, 170);
            font-size: 80%;
        }

        #paper-show span:hover {
            text-decoration: underline;
        }

        #header_img {
            position: absolute;
            top: 0px;
            right: 0px;
        }


        #mit_logo {
            position: absolute;
            left: 646px;
            top: 14px;
            width: 200px;
            height: 20px;
        }

        table.pub_table tr {
            outline: thin dotted #666666;
        }

        .paper-title {
            color: black;
            text-decoration: none;
        }

        .papericon {
            /* border-radius: 8px; */
            /* -moz-box-shadow: 3px 3px 6px #888;
            -webkit-box-shadow: 3px 3px 6px #888;
            box-shadow: 3px 3px 6px #888; */
            /*height: 120px;*/
            width: 300px;
            margin-top: auto;
            margin-left: 5px;
            margin-bottom: auto;
        }

        .media {
            margin-bottom: 15px;
            margin-left: 10px;
        }

        .media-body {
            margin-top: 5px;
            padding-left: 20px;
        }

        .publication {
            margin-bottom: 15px;
        }

        .papers-selected .publication {
            display: none;
        }

        .papers-selected .book-chapters {
            display: none;
        }

        .papers-selected #show-selected {
            color: black;
            text-decoration: underline;
        }

        .papers-selected .paperhi {
            display: flex;
        }

        .papers-selected .paper-year {
            display: none;
        }

        .papers-by-date #show-by-date {
            color: black;
            text-decoration: underline;
        }

        .papers-by-date .paper-selected {
            display: none;
        }

        .papers-by-date .book-chapters {
            display: none;
        }

        .book-chapters #book-chapters {
            color: black;
            text-decoration: underline;
        }

        .book-chapters .paper-selected,
        .book-chapters .paper-year,
        .book-chapters .publication {
            display: none;
        }

        .book-chapters .chapter {
            display: flex;
        }

        .hidden>div {
            display: none;
        }

        .visible>div {
            display: block;
        }
    