
@media (min-width: 720px) and (max-width: 1359px){
.home-stats>.home-stat-link {width: 50%;}
.flexbox .home-stats { justify-content: center;}}
@media (min-width: 1360px) {
.flexbox .home-stats {margin-right: 90px; align-items: flex-end;justify-content: flex-end;}
.home-stats>.home-stat, .home-stats>.home-stat-link{padding: 0 56px 10px;}}
