body {
    color: #666;
}
.bg-color {
  background: #093871;
}
.bg-carousel {
    background-image: url('../images/bg.jpg');
}
.form-busca {
    margin-top: 40px;
}
.btn-color {
    color: #fff;
    background-color: #093871;
    border-color: #093871;
  }
  
  .btn-color:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .btn-color:focus, .btn-color.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  
  .btn-color.disabled, .btn-color:disabled {
    color: #fff;
    background-color: #093871;
    border-color: #093871;
  }
  
  .btn-color:not(:disabled):not(.disabled):active, .btn-color:not(:disabled):not(.disabled).active,
  .show > .btn-color.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
  }
  
  .btn-color:not(:disabled):not(.disabled):active:focus, .btn-color:not(:disabled):not(.disabled).active:focus,
  .show > .btn-color.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
.btn-color2 {
    color: #093871;
    background-color: #f9b632;
    border-color: #f9b632;
}

.btn-color2:hover {
    color: #fff;
    background-color: #f9b632;
    border-color: #f9b632;
}

.btn-color2:focus, .btn-color2.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-color2.disabled, .btn-color2:disabled {
    color: #fff;
    background-color: #093871;
    border-color: #093871;
}

.btn-color2:not(:disabled):not(.disabled):active, .btn-color2:not(:disabled):not(.disabled).active,
.show > .btn-color2.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-color2:not(:disabled):not(.disabled):active:focus, .btn-color2:not(:disabled):not(.disabled).active:focus,
.show > .btn-color2.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
  .titulo-form {
      color: #093871;
      font-weight: bold;
      padding: 10px 0;
  }
  .link-color {
    color: #093871;
  }
  
  .btn-color:hover {
    color:#ffffff;
  }
  
  .btn-color:focus, .btn-color.focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }
  .card-footer {
    background-color: #fff !important;
  }
  .card-title a {
    text-decoration: none;
    color: #f9a732;
    font-size: 16px;
  }

  .box-busca {
      background: #093871;
      padding: 15px;
  }
  .form-trans {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #5481b7;
    border-radius: none;
    transition: none;
  }
  .form-trans:focus {
    background-color: none;
    border-color: none;
    outline: 0;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    color: #5481b7;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #5481b7;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #5481b7;
 }
 
 :-ms-input-placeholder {  
    color: #5481b7;
 }
 .titulopagina {
   color: #666;
   border-bottom: 1px dotted #093871;
   margin: 15px 0;
   padding: 15px 0;
 }
 .subtitulo {
  color: #093871;
  padding: 15px 0 ;
}
 .breadcrumb a {
   color: #666;
 }
 .frete {
   font-size: 14px;
   color: #999;
   font-weight: bold;
   margin-top: 15px;
 }
 .divtop {
   background: #093871;
   padding: 10px;
 }
 .bg-hover:hover {
   border: 1px solid #ccc;
 }
.admicon,
.social li a {
     color: #fff;
 }

.admicon:hover {
    color: #f9b632;
}

 .menu-topo ul li a:hover,
 .social li a:hover {
     color: #f9b632 !important;
 }

 .linknoticia,
 h1, h2, h3, h4, h5 {
     color: #093871;
 }

 .linknoticia:hover {
     color: #0062cc;
 }

 .divide {
     height: 5px;
     background-color: #093871;
 }

.pricingTable{
    text-align: center;
    background: #f1f1f1;
    padding: 30px 0;
}
.pricingTable .title{
    font-size: 22px;
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}
.pricingTable .price-value{
    padding: 30px 0;
    background: #ba5289;
    margin-bottom: 30px;
    position: relative;
}
.pricingTable .price-value:before{
    content: "";
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    top: 0;
    left: 46%;
}
.pricingTable .month{
    display: block;
    font-size: 15px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}
.pricingTable .amount{
    display: inline-block;
    font-size: 50px;
    color: #fff;
    position: relative;
}
.pricingTable .currency{
    position: absolute;
    top: -1px;
    left: -35px;
}
.pricingTable .value{
    font-size: 20px;
    position: absolute;
    top: 21px;
    right: -27px;
}
.pricingTable .pricing-content{
    padding: 0;
    margin: 0 0 30px 0;
    list-style: none;
}
.pricingTable .pricing-content li{
    font-size: 16px;
    color: #868686;
    line-height: 35px;
}
.pricingTable .pricingTable-signup{
    display: inline-block;
    padding: 8px 40px;
    background: #fca4a7;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    border: 2px solid #fca4a7;
    border-radius: 30px;
    transition: all 0.5s ease 0s;
}
.pricingTable .pricingTable-signup:hover{
    background: #fff;
    color: #fca4a7;
}
@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}

.fones {
    font-size: 18px;
}
.fones i:nth-child(2) {
    margin-left: 15px;
}
.fones i {
    color: #f9b632;
}

.fones2 i {
    color: #093871;
}

.icons-footer a {
    color: #ffffff;
}
.icons-footer a:hover {
    color: #f9b632;
}

.largezoom {
    width: 175px;
    height: 175px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    /*Multiple box shadows to achieve the glass effect*/
    /*-webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),  0 0 7px 7px rgba(0, 0, 0, 0.25),  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);*/
    /*-moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),  0 0 7px 7px rgba(0, 0, 0, 0.25),  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);*/
    /*box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),  0 0 7px 7px rgba(0, 0, 0, 0.25),  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);*/
    /*Lets load up the large image first*/


    /*hide the glass by default*/
    display: none;
}

/*To solve overlap bug at the edges during magnification*/

.smallzoom { display: block; }

.button-badge {
    text-decoration: none;
    padding: 1rem 1.5rem;
    position: relative;
    display: inline-block;
    border-radius: .2rem;
    transition: all ease 0.4s;
}

.alert-badge {
    position: relative;
    padding: 2px 6px;
    border: 1px solid transparent;
    border-radius: 100%;
}

.badgebtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
}

.submenu-pregao {
  margin-top: 40px !important;
}

.submenu-pregao a {
  text-decoration: none;
  color: #093871;
  font-size: 14px;
  font-weight: bold;
}

.submenu-pregao a:hover {
  color: #f9b632;
}
.head-tabela {
  color: #ffffff !important;
  background-color: #093871;
}
.head-tabela2 {
  color: #093871 !important;
  background-color: #cccccc;
}
.bg-cinza {
  background: #f1f1f1 !important;
}
.tabela-pregao{
  font-size: 12px !important;
}