body {
                margin: 0;
            }

            .cdn-failback-error {
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: fixed;
                height: calc(100% - 36px);
                width: calc(100% - 36px);
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Apple Color Emoji', Helvetica, Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
                padding: 18px;
                background-color: white;
                z-index: 1;
            }
            .cdn-failback-error h1 {
                font-size: 24px;
            }
            .cdn-failback-error p {
                font-size: 16px;
            }
            .cdn-failback-error p a {
                color: #d1453b !important;
            }

            .cdn-failback-error.cdn-failback-error--show {
                display: flex;
            }

            .loading_screen {
                position: fixed;
                display: flex;
                justify-content: center;
                height: 100%;
                width: 100%;
            }

            .loading_screen--loader {
                width: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .loading_screen--logo {
                margin-bottom: 32px;
            }

            .loading_screen--spinner {
                animation-name: circular-spinner;
                animation-duration: 1.2s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            @keyframes circular-spinner {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }