
			.col-md-8 ,.page-content-wrap  ,.col-md-offset-2
{
	text-align: center;
	font-size: 20px;
}

.header-filter
{
	display: none;
}

form
{
	margin-top: 5%;
}

button, button:hover, .woocommerce .track_order button[type="submit"], .woocommerce .track_order button[type="submit"]:hover, div.wpforms-container .wpforms-form button[type=submit].wpforms-submit, div.wpforms-container .wpforms-form button[type=submit].wpforms-submit:hover, input[type="button"], input[type="button"]:hover, input[type="submit"], input[type="submit"]:hover, input#searchsubmit, .pagination span.current, .pagination span.current:focus, .pagination span.current:hover, .btn.btn-primary, .btn.btn-primary:link, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .btn.btn-primary:active:hover, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .hestia-sidebar-open.btn.btn-rose, .hestia-sidebar-close.btn.btn-rose, .hestia-sidebar-open.btn.btn-rose:hover, .hestia-sidebar-close.btn.btn-rose:hover, .hestia-sidebar-open.btn.btn-rose:focus, .hestia-sidebar-close.btn.btn-rose:focus, .label.label-primary, .hestia-work .portfolio-item:nth-child(6n+1) .label, .nav-cart .nav-cart-content .widget .buttons .button, .has-accent-background-color[class*="has-background"] 
{
	background-color: #7393b3;
	box-shadow: none;
}

a
{
	color: #7393b3;
}

h1
{
    background-color: #379DCD;
     border-radius: 25px;
}

a, .navbar .dropdown-menu li:hover>a, .navbar .dropdown-menu li:focus>a, .navbar .dropdown-menu li:active>a, .navbar .navbar-nav>li .dropdown-menu li:hover>a, body:not(.home) .navbar-default .navbar-nav>.active:not(.btn)>a, body:not(.home) .navbar-default .navbar-nav>.active:not(.btn)>a:hover, body:not(.home) .navbar-default .navbar-nav>.active:not(.btn)>a:focus, a:hover, .card-blog a.moretag:hover, .card-blog a.more-link:hover, .widget a:hover, .has-text-color.has-accent-color, p.has-text-color a
{
	color: #7393b3;
}		