html, body {
	height:100%;
	margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}

body {
	font-size:75%;
	background-color:#7391B0; 
}

/* entete*/

#conteneur {
	position:relative;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

#entete{position:absolute;width:100%;height:110px;margin-top:0px;vertical-align:bottom;background-image:url(images/menu/fond.png);z-index:5;}

#logo{position:absolute;height:50px;width:400px;margin-top:0px;margin-left:0px;padding-top:0px;}

#menustu{position:absolute;width:100%;margin-top:50px;z-index:10;} /* integration menus */

#navlist{list-style-type:none;list-style-position:inside;}
#menu{position:absolute;width:100%;margin-top:30px;z-index:10;}


#milieu_ann { 
  display:none;
}

#content { 
	position:absolute;
	width:100%;
	margin-top:160px;
	color:#000000;
}

#txt_som{padding-top:5px;padding-left:10px;padding-right:10px;width:100%;height:20px;font-size:0.9em;background-color:#EEE;text-decoration:none;}
#som{float:left;width:520px;height:20px;}
#partage{display:none;}

/* blocs */

#bloc_gauche {
  display:none;
}

#bloc_droite {
  display:none;
}

#bloc_bas{float:left;margin-bottom:0px;margin-top:10px;width:100%;color:#009;background-image:url(images/baie_concarneaum.jpg);text-align:center;padding:10px;}



#bloc_large680{float:left;margin-top:3px;margin-left:3px;margin-bottom:7px;width:100%;background-color:#FFF;}

.titre_centre{height:30px;width:100%;margin-left:0px;padding-left:5px;padding-top:8px;color:#000;font-size:1.2em;font-weight:bold;} /* page index */

#bloc_large{float:left;margin-top:3px;margin-left:3px;margin-bottom:7px;width:100%;background-color:#FFF;}


#bas_ann {
  display:none;
}
#ann_enbas {
  display:none;
}
/* {float:left;height:90px;width:730px;margin-top:5px;margin-bottom:5px;margin-left:5px;} */


/* recherche google */

#recherche {
  display:none;	
}

#bloc_google { /* bloc centre pages texte */
	float:left;
	padding-left:6px;
	padding-right:6px;
	margin-left:5px;
	margin-top:3px;
	margin-bottom:7px;
	width:975px;
	color:#000000;
	background:#ffffff;
	border:1px solid #cccccc; /* style34 */
}

/* textes */

.txt {
	padding:5px; 
}

.txt_google {
	float:left; 
	text-align:center; 
	font-size:11px; 
}

.txt_marge_grand { /* beast, auto */
	padding:40px;
}

/* vignettes */

.bloc_vignette{padding-top:5px;padding-left:5px;height:80px;} /* page merci */
.txt_vignette{float:left;width:110px;height:80px;text-align:left;} /* page merci */

.bloc_vignette100{height:90px;margin-bottom:20px;}
.txt_vignette100{float:left;width:110px;height:90px;font-size:0.9em;text-align:center;}

/* vignettes 

.bloc_vignette100 {height:90px;border-bottom:1px solid #cccccc;margin-bottom:5px;}	
.txt_vignette100 {float:left;width:110px;height:90px;text-align:left;}

*/


.cadre_centre {  /* bloc texte index */
	float:left; 
	width:100%; /* = 491px + 174 */
	margin-top:0;
	background:#ffffff;
	margin-bottom:10px;
	color:#000000;
}


/* TrouvÃ© sur Alsacreation */

img {
	border:0; 
}

/* fixer une largeur maximale de 100% aux &eacute;lÃ©ments potentiellement problÃ©matiques */

    img,
    table,
    td,
    blockquote,
    code,
    pre,
    textarea,
    input,
    iframe,
    object,
    embed,
    video {
        max-width: 100%;
    }
    
    /* conserver le ratio des images */

    img {
        height: auto;
    }
    
	

/* autres balises */

p{font-size:1.2em;}
h1{font-size:1.8em;color:#009;text-align:center;font-weight:bold;} /* 19px; 125% */
h2{font-size:1.8em;color:#009;font-weight:bold;} /* 19px; 125% */
h3{font-size:1.6em;color:#009;font-weight:bold;} /* 19px; 120% */
h4{font-size:1.4em;color:#009;font-weight:bold;} /* 16px; 100% */
h5{font-size:1.2em;color:#009;font-weight:bold;} /* 14px; 80% */
h6{font-size:1em;color:#009;font-weight:bold;font-style:italic;} /* 13px; 80% */


.rouge {
color: #FF0000; 
}

.gras {
font-weight: bold; 
}

/* LIENS */

a:hover {
	color:#ff0000; 
	text-decoration:underline; 
}

.lien {  /* liens bleus */
	color:#0066cc; 
	text-align:left;
	font-weight:bold;
	text-decoration:none; 
}

.lien:hover { 
	color:#ff0000; 
	text-decoration:underline; 
}

a.lienimg {
	color:#0033aa; 
	text-decoration:none; 
}

a.lienimg:hover { 
	color:#ff0000; 
}

a.lienactu {
	color:#0033aa; 
	text-decoration:none; 
}

a.lienactu:hover { 
	color:#ff0000; 
	text-decoration:underline; 
}

a.lienactu:visited { 
	color:#993366; 
}

/* liste sans puce */

.navlist {
	list-style-type:none; 
	margin-top:0px;
	margin-left:1px;
	padding-left:10px;
}

.navlist a {
	color:#000000;
	text-decoration:none; 
}

.navlist a:hover {
	color:#ff0000; 
	text-decoration:underline; 
}

/* MENU PAGE */

ul.puce li {
padding:0 0 0 0;
margin:2px;
}

ul.puce {
list-style:none;margin-left:0;padding-left:0;line-height:1.4;font-size:1.2em;
}

ul.puce a {
color:#000099;
text-decoration:none; 
}

ul.puce a:hover {
color:#ff0000; 
text-decoration:underline; 
}

/* ul.puce a:visited {
text-decoration:underline; 
} */

/* ANCIEN */


.bloc {
color:#000000; 
border-color:#000000; 
border-style:solid; 
border-top-width:1px; 
border-right-width:0px; 
border-bottom-width:1px; 
border-left-width:0px; 
background-color:#ffffdd; 
}

.bloc0 {
font-size:100%; 
}

.blocsite{width:120px;height:80px;margin-left:20px;float:left;}



.chap { 
color:#000099; 
text-decoration:none; 
}

.chap:hover { 
color:#ff0000; 
text-decoration:underline; 
}

