#wp-admin-bar-thegem-theme-options > a {
	background: #ef5350;
	color: #ffffff;
}
#wp-admin-bar-thegem-theme-menu > a {
	background: #EC407A;
	color: #ffffff;
}
#wp-admin-bar-thegem-theme-widgets > a {
	background: #AB47BC;
	color: #ffffff;
}

#wp-admin-bar-thegem-theme-permalink > a {
	background: #7E57C2;
	color: #ffffff;
}
#wp-admin-bar-thegem-theme-home > a {
	background: #5C6BC0;
	color: #ffffff;
}
#wp-admin-bar-thegem-theme-revslider > a {
	background: #42A5F5;
	color: #ffffff;
}

#wp-admin-bar-thegem-support-center > a {
	background: #29B6F6;
	color: #ffffff;
}
#wp-admin-bar-thegem-documentation > a {
	background: #26C6DA;
	color: #ffffff;
}

.notice-warning {
    border-left-color: #ffb900;
    display: none!important;
}



/*HIDE THESE CLASSES
These classes belong to plugins or themes that display nagging notices*/
.notice.is-dismissible, .vc_license-activation-notice, .itsec-notice, .update-nag, .updated, .cff_review_notice{
    display: none;
}

/*IMPORTANT NOTICES
These notices convey important messages in the WordPress backend, such as plugins that were successfully added.*/
.updated.notice.is-dismissible{
	display:inherit;
}

/*OUTLIERS
These are notices that hijack the standard class set "updated notice is-dismissable" but has an additional class. 
*/
.settings-error {
	display:none!important;
}


