
#tt {
				z-index: 9999;
		}

		
		
					#tt #ttcont div.glossaryItemTitle {
			font-size: 17px !important;
			}
		
		#tt #ttcont div.glossaryItemBody {
		padding: 0;
					font-size: 14px;
				}
		#tt #ttcont .mobile-link{
					font-size: 14px;
				}

		.mobile-link a.glossaryLink {
		color: #fff !important;
		}
		.mobile-link:before{content: "Term link: "}

		
		
		.tiles ul.glossaryList li {
		min-width: 85px !important;
		width:85px !important;
		}
		.tiles ul.glossaryList span { min-width:85px; width:85px;  }
		.cm-glossary.tiles.big ul.glossaryList a { min-width:179px; width:179px }
		.cm-glossary.tiles.big ul.glossaryList span { min-width:179px; width:179px; }

				span.glossaryLink, a.glossaryLink {
		border-bottom: dotted 1px #000000;					color: inherit !important;
				}
		span.glossaryLink.temporary, a.glossaryLink.temporary {
		border-bottom: dotted 1px ;		}
		span.glossaryLink:hover, a.glossaryLink:hover {
		border-bottom: solid 1px #333333;					color:inherit !important;
				}

				.glossaryList .glossary-link-title {
		font-weight: bold !important;
		}

		
					#tt #tt-btn-close{ color: #ffffff !important}
		
		.cm-glossary.grid ul.glossaryList li[class^='ln']  { width: 200px !important}

					#tt #tt-btn-close{
			direction: rtl;
			font-size: 23px !important
			}
		
		
					#tt #ttcont glossaryItemBody * {color: #ffffff}
		

					#glossaryList-nav .ln-letters a.ln-disabled {display: none}
		
		
		
		
					#ttcont {
			box-shadow: 0px 0px 20px #494c51;
			-moz-box-shadow: 0px 0px 20px #494c51;
			-webkit-box-shadow: 0px 0px 20px #494c51;
			}
					.fadeIn,.zoomIn,.flipInY,.in{
			animation-duration:0.1s !important;
			}
					.fadeOut,.zoomOut,.flipOutY,.out{
			animation-duration:0.1s !important;
			}
					.cm-glossary.term-carousel .slick-slide,
			.cm-glossary.tiles-with-definition ul > li { height: 245px !important}
					.cm-glossary.tiles-with-definition ul {
			grid-template-columns: repeat(auto-fill, 220px) !important;
			}
		
		.glossary-search-wrapper {
		display: inline-block;
				}


		
		input.glossary-search-term {
				outline: none;
							border-style: none;
														}


		
		
		button.glossary-search.button {
		outline: none;
							border-style: none;
										}
