

/* .texte_principal { color: #ffefc0; font-size: 12px; font-family: arial, verdana, geneva, lucida, "lucida grande", helvetica, sans-serif; font-weight: normal; line-height: normal; text-decoration: none; text-align: justify; width: 780px; }
.texte_principal a { color: #00b7ff; font-weight: 600; }
.texte_cache { color: #010101; font-size: 12px; font-family: arial, verdana, geneva, lucida, "lucida grande", helvetica, sans-serif; font-weight: normal; line-height: normal; text-decoration: none; text-align: justify; margin: 0; border: 0; }
.titre_1 { font-size: 126%; font-weight: bold; }
.titre_2 { font-size: 118%; font-weight: bold; }
.titre_3 { font-size: 112%; font-weight: bold; }
.t3g { color: #ffefc0; font-size: 112%; font-weight: bold; font-style: italic; }
.t3gs { color: #ffefc0; font-size: 112%; font-style: italic; font-weight: bold; text-decoration: underline; } */


.box{ background-color: #111; background-image: none; background-repeat: repeat; z-index: 99; }


.faille { color: #f00; font-size: smaller; padding-left: 6px; }
.dates_redaction { color: #0cf; font-size: smaller; font-style: italic; }
.infos { text-align: right; float:right; margin: 4px 4px 4px 0; }
.infos_left { text-align: left; float:left; margin: 4px 4px 4px 0; }


/** Alerte ! **/
.trouve { color: #010101; font-weight: 600; background: #ff0 url(../Commun/media/template/Alerte.png) no-repeat left top; display: block; }
.trouve a { color: #0000b7; font-weight: 700; }
.num { font-weight: bold; font-family: Arial, sans-serif; font-size: 1em; color: #00f; text-decoration: none; background-color: #f90; margin: 0; padding-right: 6px; padding-left: 6px; border: solid 2px #f00   }

/** Police fixe **/
.num_pf { font-weight: bold; font-family: "Lucida Sans Typewriter", "Lucida Typewriter", "DejaVu Sans Mono", monospace; font-size: 1em; color: #00f; text-decoration: none; background-color: #f90; margin: 0; padding-right: 6px; padding-left: 6px; border: solid 2px #f00   }

/* .alerte { color: #010101; font-weight: 600; background: red no-repeat left top; }
.alerte a { color: #00f; font-weight: 700; } */
/* pop d'une infobulle pour expliquer un mot lorsque le curseur traîne sur le mot */

a.tooltip em { display:none; }
a.tooltip:hover { border: 0; position: relative; z-index: 500; text-decoration:none; }
a.tooltip:hover em { font-style: italic; display: block; position: absolute; top: 20px; padding: 5px; color: #000; font-size: smaller; border: solid 1px #bbb; background: #ffc; left: 15px !important; width:300px; }
a.tooltip:hover em span { font-size: smaller; font-style: italic; position: absolute; top: -7px; left: 15px; height: 7px; width: 11px; background: url(../Commun/media/template/fleche_infobulle.png); margin:0; padding: 0; border: 0; }

a.tooltip_moyen em { display:none; }
a.tooltip_moyen:hover { border: 0; position: relative; z-index: 500; text-decoration:none; }
a.tooltip_moyen:hover em { font-style: italic; display: block; position: absolute; top: 20px; padding: 5px; color: #000; font-size: smaller; border: solid 1px #bbb; background: #ffc; left: 15px !important; width:600px; }
a.tooltip_moyen:hover em span { font-size: smaller; font-style: italic; position: absolute; top: -7px; left: 15px; height: 7px; width: 11px; background: url(../Commun/media/template/fleche_infobulle.png); margin:0; padding: 0; border: 0; }

a.tooltip_large em { display:none; }
a.tooltip_large:hover { border: 0; position: relative; z-index: 500; text-decoration:none; }
a.tooltip_large:hover em { font-style: italic; display: block; position: absolute; top: 20px; padding: 5px; color: #000; font-size: smaller; border: solid 1px #bbb; background: #ffc; left: 15px !important; width:900px; }
a.tooltip_large:hover em span { font-size: smaller; font-style: italic; position: absolute; top: -7px; left: 15px; height: 7px; width: 11px; background: url(../Commun/media/template/fleche_infobulle.png); margin:0; padding: 0; border: 0; }

/** Listes à puce - niveau 1 **/
.liste_puce_1 ul { margin-bottom:6px ; }
.liste_puce_1 li { left: -12px; list-style-type: disc; list-style-position: outside; margin-bottom: 8px ; margin-left: -24px; }

/** Listes à numéro - niveau 1 **/
.liste_num_1 ul { margin-bottom: 6px }
.liste_num_1 li { list-style-type: decimal; list-style-position: outside; margin-bottom: 8px }

    
/****** RESEAU DES SITES ASSISTE ******/
.reseau { background-color: #111; background-image: url(../Commun/media/template/fond_reseau.gif); background-repeat: no-repeat; background-position: 0 0; margin: 0; padding: 0; border: 0 }


/** Faire une indentation sans puce **/
.indent { margin-left: 18px }
.indentGD { margin-right: 18px; margin-left: 18px; }
.indent_negative { margin-left: -18px; }

/** Signaler un bug **/
.bug { color: #ffefc0; font-style: italic; background-color: #600; margin-left: 18px; }
.bug_titre { font-weight: bold; font-size: 112% ; }
.bug_stitre { font-size: 80% }

/** Citations (avec ou sans marge gauche) **/
.citation_sm { color: #ffefc0; font-size: inherit; font-style: italic; background-color: #30c; }
.citation_titre { font-weight: bold; font-size: 112% }
.citation_alerte { color: #f00; font-size: 112%; font-weight: bold; }
.citation_stitre { font-size: 80%}

/** Alternativess - Présentation et commentaires sur des actions alternatives **/
.alternative { color: #ffefc0; font-style: italic; background-color: #030; margin-left: 18px; }
.alternative_titre { font-weight: bold; font-size: 112% }
.alternative_stitre { font-size: 80%}

/** Tableau de téléchargement facultatif - identification visuelle bleue **/
.tabdld_contener { color: #ffefc0; font-style: italic; background-color: #111; padding-left: 10px; }
.tabdld { color: #ffefc0; font-style: italic; background-color: #162065; }
.tabdld_titre { font-weight: bold; font-size: 112% }
.tabdld_stitre { font-size: 80%}

/** Astuces - Présentation et commentaires sur des astuces ponctuelles, hors celles faisant l'objet de pages compl?tes **/
.astuce { color: #ffefc0; font-style: italic; background-color: #300; margin-left: 18px; }
.astuce_titre { font-weight: bold; font-size: 112%; background-color: #300 }
.astuce_stitre { font-size: 80%; background-color: #300 }

/** Notes dans le texte **/
.note { color: #ffefc0; background-image: url(../Commun/media/template/separateur_v.gif); background-repeat: repeat-y; padding-left: 12px; border-style: none; }
.note_titre { font-weight: bold; font-size: 112% }
.note_titre_ul1 { font-weight: bold; font-size: larger }

/** Légendes des tableaux et des illustrations **/
.tableau { color: #ffefc0; font-size: 90%; font-weight: bold; text-align: center; }
.tableau_legende { color: #ffefc0; font-style: italic; font-size: 90% }

.illustration_legende { font-size: 11px; }

/** Faites une sauvegarde **/
.sauvegarde { color: #010101; background-color: #ff0 }

/** Tables des matières
 **/
.tdm_article { background-color: #1a0b03; }
.tdm_requetes { background-color: #1a0b03; }
.tdm_ressources { background-color: #1a0b03; }
/** Tableaux **/
.tblobj_conteneur { font-size: 12px; background-color: #29363e; padding: 0; border: solid 2px #56422e }
.tblobj_conteneur_wide { font-size: 12px; background-color: #29363e; padding: 0; border-top: 2px solid #56422e; border-bottom: 2px solid #56422e; border-right-color: #56422e; border-right-style: solid; border-left-color: #56422e; border-left-style: solid; }
.tblobj { font-size: 12px; border: none }

.tblobj_cel { font-size: 12px; background-color: #010101; border: none }

.tdm_nav_header { font-weight: bold; background-image: url(../Commun/media/template/degrade_1.gif); padding-left:5px }


/* ##### Boutons ###### */
.bouton { color: #ffefc0; background-color: #351900; border: solid 1px #4a301a; }

/* Barre de menu horizontale */
.barre { background-image: url(../Commun/media/template/fond_barre_menu.png); background-repeat: repeat-x; }

