.fe-62daa6f16f5657b788b356ec {
  --grid-gutter: calc(var(--sqs-mobile-site-gutter, 6vw) - 11.0px);
  --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (8 - 1)) ) / 8 );

  display: grid;
  position: relative;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(5,minmax(24px, auto));
  grid-template-columns:
    minmax(var(--grid-gutter), 1fr)
    repeat(8, minmax(0, var(--cell-max-width)))
    minmax(var(--grid-gutter), 1fr);
  row-gap: 11.0px;
  column-gap: 11.0px;
}

@media (min-width: 768px) {
  .background-width--inset .fe-62daa6f16f5657b788b356ec {
    --inset-padding: calc(var(--sqs-site-gutter) * 2);
  }

  .fe-62daa6f16f5657b788b356ec {
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 11.0px);
    --cell-max-width: calc( ( var(--sqs-site-max-width, 1500px) - (11.0px * (24 - 1)) ) / 24 );
    --inset-padding: 0vw;

    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding) ));

    grid-template-rows: repeat(4,minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns:
      minmax(var(--grid-gutter), 1fr)
      repeat(24, minmax(0, var(--cell-max-width)))
      minmax(var(--grid-gutter), 1fr);
  }
}


  .fe-block-62daa6f1a4a3dd69d44eb7a0 {
    grid-area: 2/2/6/10;
    z-index: 0;
  }

  .fe-block-62daa6f1a4a3dd69d44eb7a0 .sqs-block {
    justify-content: flex-start;
  }

  .fe-block-62daa6f1a4a3dd69d44eb7a0 .sqs-block-alignment-wrapper {
    align-items: flex-start;
  }

  @media (min-width: 768px) {
    .fe-block-62daa6f1a4a3dd69d44eb7a0 {
      grid-area: 1/6/5/21;
      z-index: 1;
    }

    .fe-block-62daa6f1a4a3dd69d44eb7a0 .sqs-block {
      justify-content: center;
    }

    .fe-block-62daa6f1a4a3dd69d44eb7a0 .sqs-block-alignment-wrapper {
      align-items: center;
    }
  }

