
.active_home {
	color: #f26622 !important
}

@media(min-width:641px) {
	.hero-banner-content h2 {
		font-size: 62px;
		line-height: 70px
	}
}

.intro-text h2 span {
	font-size: 64px;
	color: #ff5722
}

.intro-img {
	width: 362px;
	position: relative
}

.agency_text {
	width: 100%;
	max-width: 900px;
	margin: 0 auto
}

.agency_text h2 span {
	color: #f26622
}

.front .get-intouch {
	margin: 40px 0 30px !important
}

.agency_section {
	padding-bottom: 0
}

.hero-banner-content {
	margin: 0
}

.item {
	padding: 0;
	border-radius: 0
}

.services_section .service_box {
	height: 370px;
	position: relative
}

.button-go {
	margin: 0 0 15px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0
}
    
.service_box {
    background: #fff;
    transition: 0.2s;
    border-radius: 28px;
}
    
.service_box:hover {
    background: #ededed;
    border-radius: 0;
}
    
    .contactBtn{width:140px;margin-left:35px;background:none;border-radius:3px;border:2px solid #fff;text-align:center}.contactBtn a{color:#fff;padding:5px 29px}.button-primary,.button-secondary,.quote_btn{background-color:#ff5722;color:#fff;font-size:17px;font-weight:600}.button-primary,.button-secondary{width:auto;border-radius:30px;padding:0 10px}.button-primary a,.button-secondary a{color:#fff;padding:20px 25px}.quote_btn{width:210px}.quote_btn a{color:#fff;padding:13px}