
            @import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue&display=swap');

    body {
      font-family: Helvetica Neue, sans-serif;
    }

        /* Estilos para a grade de quadrados */
        .grid-container {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 10px;
        }

        .grid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        /* Substitua a cor de fundo acima pela cor desejada para os quadrados */
        width: 100px;
        height: 100px;
        /* Altura dos quadrados */
        border-radius: 20px;
        /* Bordas arredondadas nos quadrados */
        box-sizing: border-box;
        /* Adiciona uma borda interna de 1px com cor preta */
        margin: 10px;
    }

    .grid-item img {
        max-width: 100%;
        /* Imagens ocupam o máximo de largura possível */
        max-height: 100%;
        /* Imagens ocupam o máximo de altura possível */
        object-fit: cover;
        /* Imagens são redimensionadas para preencher todo o espaço disponível, mas mantendo sua proporção original */
        border-radius: 20px;
        /* Adiciona bordas arredondadas na imagem para se encaixar na borda curva */
    }
    