/* ======================= */
/* SNR & Blog Legacy - CSS */
/* ======================= */

/* .snr-legacy {
  margin: 0 0 50px;
} */

#page .snr-legacy * a,
#page .snr-legacy * a:link,
#page .snr-legacy * a:hover,
#page .snr-legacy a *,
#page .snr-legacy a:link *,
#page .snr-legacy a:visited *,
#page .snr-legacy a:hover *,
#page .toggle-boilerplate {
  color: #0568ae;
  outline: none;
  border: 0;
  text-decoration: none;
}
#page .toggle-boilerplate {
  font-weight: 700;
}
.snr-legacy img {
  height: auto;
  max-width: 100%;
}
.snr-legacy * {
  color: inherit;
  font-size: 100%;
  line-height: inherit;
}
.snr-legacy img,
.snr-legacy fieldset {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.snr-legacy .text {
  padding-top: 10px !important;
  line-height: 1.5em;
}

/* SNR Carousels */
/* ============= */

.snr-legacy .bx-wrapper {
  margin: 0 auto;
}

.snr-legacy .bx-wrapper img {
  max-width: 100%;
  display: block;
}

.snr-legacy .bx-wrapper .bx-viewport {
  background: transparent;
  border: none;
  box-shadow: none;
  min-height: 110px;
  left: 0;
}

.snr-legacy ul.slider,
.snr-legacy ul.slider li {
  list-style: none;
}

.snr-legacy ul.slider {
  margin: 0;
  padding: 0;
}

.snr-legacy .slider li {
  position: relative;
}

.snr-legacy .slider .overlay {
  border-color: #0568ae;
}

.snr-legacy .slider .headline-tease {
  height: 46px;
  overflow: hidden;
}

.snr-legacy .slider .headline-tease p {
  color: white;
  font-size: 1.4em !important;
  font-weight: normal;
  line-height: 1.4em;
  margin-top: 0;
}

.snr-legacy .slider .meta {
  color: #FFF;
}

.snr-legacy ul.pager-slider,
.snr-legacy ul.pager-slider li {
  list-style: none;
}

.snr-legacy ul.pager-slider {
  margin: 0;
  padding: 0;
}

.snr-legacy .pager-slider li {
  position: relative;
}

.snr-legacy .pager-slider .overlay {
  border-color: #0568ae;
}

.snr-legacy .pager-slider .headline-tease {
  height: 46px;
  overflow: hidden;
}

.snr-legacy .pager-slider .headline-tease p {
  color: white;
  font-size: 1.4em !important;
  font-weight: bold;
  line-height: 1.4em;
  margin-top: 0;
}

.snr-legacy .horz-slider {
  max-height: 250px;
  overflow: hidden;
}

.snr-legacy .horz-slider li {
  height: 70px;
}

.snr-legacy .horz-slider p {
  font-weight: bold;
  text-align: center;
}

.snr-legacy .horz li {
  display: block;
  float: left;
  height: auto;
  margin: 0;
  padding: 0;
}

.snr-legacy .horz li a {
  position: relative;
}

.snr-legacy .horz li img {
  float: none;
  margin: 0 0 10px;
  width: auto;
}
.snr-legacy .video-icon.sm {
  background-image: url('/ui/corpcomm_internet_attus/1.0.0/images/legacy/video_play_sm.png');
  height: 30px;
  margin: -15px 0 0 -15px;
  width: 29px !important;
}
.snr-legacy .video-icon {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.snr-legacy .horz li .video-icon.sm {
  left: 35px;
  margin: 0;
  top: 15px;
}

.snr-legacy .horz li .video-icon.sm {
  margin: 0 0 0 -15px;
  left: 50%;
  top: 55px;
}

.snr-legacy .horz-slider {
  height: auto;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 570px;
}

.snr-legacy .horz-slider li {
  width: 182px;
}

.snr-legacy .horz-slider li a {
  display: block;
}

.snr-legacy .horz-slider li img {
  width: 182px;
}

.snr-legacy .horz-slider li p {
  margin: 1em 0;
  font-size: 14px;
  line-height: 1.25em;
}

.snr-legacy .bx-wrapper .bx-controls,
.snr-legacy .horz-controls {
  z-index: 999999;
}

.snr-legacy .horz-controls {
  height: 30px;
  text-align: center;
  max-width: 70px;
  margin: 0 auto;
}

.snr-legacy .horz-controls span,
.snr-legacy .horz-controls a {
  display: inline-block;
  vertical-align: middle;
}

.touch .snr-legacy .bx-wrapper .bx-controls,
.snr-legacy .bx-wrapper .bx-controls-direction a.disabled,
.snr-legacy .horz-controls a.disabled {
  display: none;
}

.snr-legacy .bx-wrapper .bx-prev,
.snr-legacy .bx-wrapper .bx-prev:hover,
.snr-legacy .horz-controls .bx-prev,
.snr-legacy .horz-controls .bx-prev:hover {
  background: url('/ui/corpcomm_internet_attus/1.0.0/images/legacy/arrow_prev.png') no-repeat center;
  left: -30px;
}

.snr-legacy .bx-wrapper .bx-next,
.snr-legacy .bx-wrapper .bx-next:hover,
.snr-legacy .horz-controls .bx-next,
.snr-legacy .horz-controls .bx-next:hover {
  background: url('/ui/corpcomm_internet_attus/1.0.0/images/legacy/arrow_next.png') no-repeat center;
  right: -30px;
}

.snr-legacy .bx-wrapper .bx-controls-direction a,
.snr-legacy .bx-wrapper .bx-controls-direction a:hover,
.snr-legacy .horz-controls a,
.snr-legacy .horz-controls a:hover {
  margin-top: -55px;
  z-index: 1;
}

.snr-legacy .lightboxcarousel .bx-wrapper .bx-controls-direction a,
.snr-legacy .lightboxcarousel .bx-wrapper .bx-controls-direction a:hover,
.snr-legacy .lightboxcarousel .horz-controls a,
.snr-legacy .lightboxcarousel .horz-controls a:hover {
  margin-top: -20px;
}

.snr-legacy .resources h3 {
  margin-bottom: 1em;
}
.fancybox-image {
  height: auto;
}

@media (min-width: 768px) {
  /* .snr-legacy .bx-wrapper .bx-viewport {
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
  } */
  .snr-legacy .bx-wrapper .bx-pager.bx-default-pager a {
    background: #808080;
  }
  .snr-legacy .bx-wrapper .bx-pager.bx-default-pager a:hover,
  .snr-legacy .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #71c5e8;
  }
  .snr-legacy .slider .headline-tease {
    height: auto;
    overflow: visible;
  }
  .snr-legacy .slider li {
    margin: 0;
  }
}

@media (min-width: 995px) {
  .touch .snr-legacy .bx-wrapper .bx-controls {
    display: block;
  }
}

@media (max-width: 995px) {
  .snr-legacy .bx-wrapper .bx-controls-direction {
    text-align: center;
    min-height: 20px;
  }
  .snr-legacy .bx-wrapper .bx-controls-direction a {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
    top: 0;
    margin-top: 0;
    color: transparent;
    vertical-align: middle;
    z-index: 9999;
  }
  .snr-legacy .bx-wrapper .bx-controls-direction a,
  .snr-legacy .bx-wrapper .bx-controls-direction a:hover,
  .snr-legacy .horz-controls a,
  .snr-legacy .horz-controls a:hover {
    margin-top: 0;
  }
  .snr-legacy .bx-wrapper .bx-prev,
  .snr-legacy .bx-wrapper .bx-prev:hover {
    left: -15px;
  }
  .snr-legacy .bx-wrapper .bx-next,
  .snr-legacy .bx-wrapper .bx-next:hover {
    right: -15px;
  }
}

/* SNR Slideshows */
/* ============== */

.snr-legacy .slideshow {
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* border-bottom: 1px solid #CCC;
  border-top: 1px solid #CCC; */
}

.snr-legacy .photo-viewer-container {
  margin: 0 auto 30px;
  max-width: 630px;
  padding: 15px 0;
  position: relative;
}

.snr-legacy .photo-viewer img {
  border-radius: 4px;
}

.snr-legacy .pager-nav .next,
.snr-legacy .pager-nav .prev {
  cursor: pointer;
  display: block;
  overflow: auto;
  position: absolute;
  text-indent: -9999px;
  z-index: 9;
}

.snr-legacy .viewer-nav .next,
.snr-legacy .viewer-nav .prev {
  background: #000;
  color: #fff;
  cursor: pointer;
  font-family: 'Omnes-Medium', Arial, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 34px;
  margin-top: -24px;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  padding: 0 10px;
  position: absolute;
  top: 50%;
  z-index: 1001;
}

.snr-legacy .viewer-nav .next {
  border-radius: 4px 0 0 4px;
  right: 2px;
}

.snr-legacy .viewer-nav .prev {
  border-radius: 0 4px 4px 0;
  left: 0;
}

.snr-legacy .pager,
.snr-legacy .pager-nav,
.snr-legacy .next.disabled,
.snr-legacy .prev.disabled {
  display: none;
}

@media (min-width: 768px) {
  .snr-legacy .photo-viewer {
    margin-bottom: 15px;
  }
  .snr-legacy .pager,
  .snr-legacy .pager-nav {
    display: block;
  }
  .snr-legacy .photo-viewer-container .pager {
    height: 72px;
    margin: 0 auto;
    text-align: center;
  }
  .snr-legacy .photo-viewer-container .pager img {
    border: 1px solid #FFF;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 3px;
    opacity: 0.45 !important;
    filter: alpha(opacity=45) !important;
    width: 110px;
  }
  .snr-legacy .photo-viewer-container .pager img.cycle-slide-active {
    border: 1px solid #000;
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
  }
  .snr-legacy .pager-nav .next,
  .snr-legacy .pager-nav .prev {
    height: 16px;
    width: 18px;
    top: 88%;
  }
  .snr-legacy .pager-nav .next {
    background: url('/ui/corpcomm_internet_attus/1.0.0/images/legacy/arrow_next.png') no-repeat 0 0;
    right: 0;
  }
  .snr-legacy .pager-nav .prev {
    background: url('/ui/corpcomm_internet_attus/1.0.0/images/legacy/arrow_prev.png') no-repeat 0 0;
    left: 0;
  }
}

/* SNR Videos */
/* ========== */

.snr-legacy .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.snr-legacy .video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* VIDEO EMBED IN REFERENCE PAGE DIALOG BOX*/

#cq-paragraphreference-data .cq-paragraphreference-paragraph {
  position: relative;
}

#cq-paragraphreference-data .cq-paragraphreference-paragraph .video-wrapper {
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
  width: 100%;
}

#cq-paragraphreference-data .cq-paragraphreference-paragraph .video-wrapper iframe {
  position: relative;
}


/* SNR Boilerplate */
/* =============== */

.snr-legacy .boilerplate,
.snr-legacy .boilerplate p,
.snr-legacy .boilerplate li,
.snr-legacy .boilerplate td,
.snr-legacy .boilerplate th {
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.45em;
}
.snr-legacy .boilerplate p {
  margin-bottom: 20px;
}
.snr-legacy .boilerplate strong {
  font-style:italic;
}
.snr-legacy .boilerplate h4 {
  font-size: 1.1em;
  font-style:normal;
}

/* Blog Featured Media */
/* =================== */

.snr-legacy .media.library h3 {
  font-family: "Aleck Sans";
  padding-bottom: 10px;
  border-bottom: 1px solid #C9C9C9;
  margin-bottom: 15px;
}

.snr-legacy .mobile-instruct {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .snr-legacy .visible-phone {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .snr-legacy .mobile-instruct {
    display: none;
  }
}


/* HTML Editor */
/* =========== */

.story .HTMLeditor,
.blog-post .HTMLeditor,
.media-kit-page .HTMLeditor {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.blog-post .HTMLeditor,
.media-kit-page .HTMLeditor {
  padding: 0 20px 20px;
}

@media (min-width: 768px) {
  .blog-post .HTMLeditor,
  .media-kit-page .HTMLeditor {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (min-width: 1024px) {
  .blog-post .HTMLeditor,
  .media-kit-page .HTMLeditor {
    padding-left: 0;
    padding-right: 0;
    max-width: 66.666667%;
  }
}

@media (min-width: 1240px) {
  .story .HTMLeditor,
  .blog-post .HTMLeditor,
  .media-kit-page .HTMLeditor {
    max-width: 813px;
  }
}
