@charset "utf-8";

@import url(https://fonts.jimstatic.com/css?family=Coming+Soon%3A400);

body {}

body, p, table, td
{
    font:normal 18px/140% "Coming Soon", cursive;
    color:#E700CD;
}

input, textarea
{
    font:normal 18px/140% "Coming Soon", cursive;
}

h1
{
    font:normal normal normal 25px/140% Verdana, Arial, Helvetica, sans-serif;
    color:#FF5A34;
    
}

h2
{
    font:normal normal bold 16px/140% "Trebuchet MS", Verdana, sans-serif;
    color:#333333;
    
}

h3
{
    font:italic normal bold 20px/140% Verdana, Arial, Helvetica, sans-serif;
    color:#00C90F;
    text-align:center;
}

a:link,
a:visited
{
    text-decoration: underline; /* fix */
    color:#0099E1;
}

a:active,
a:hover
{
    text-decoration:none; /* fix */
    color: #0099E1;
}

div.hr
{
    border-bottom-style:solid;
    border-bottom-width:1px; /* fix */
    border-color: #CCCCCC;
    height: 1px;
}
