
@media screen and (max-width: 919px) {

.inner,
.inside_inner{
  width: 90%;
}
/*====================
header
 ====================*/
  .header>.inner .alpha .logo {
    width: 160px;
}
  .header_wrapper {
    height: 54px;
}
  .header {
    height: 54px;
}
  .header>.inner {
    align-items: center;
    height: 100%;
    width: 90%;
  }
  .gnav_wrapper {
    display: none;
}
.inner.contents_menu  .gnav_wrapper {
  display: block;
}
.inner.contents_menu  .gnav_wrapper  nav.gnav{
  background: none;
}
.inner.contents_menu  .gnav_wrapper  nav.gnav ul{
  height: auto;
}
.inner.contents_menu  .gnav_wrapper  nav.gnav ul li{
  border-left: 0;

}
  .sp_btn {
    display: block;
    width: 54px;
    height: 54px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 17px 11px 0 11px;
    box-sizing: border-box;
    z-index: 1000;
    background-color: var(--sub);
    margin-bottom: 0;
  }
  .sp_btn .bar {
    display: block;
    height: 2px;
    width: 32px;
    transition: all 0.4s ease;
    background-color: #fff;
  }
  .sp_btn .bar+.bar {
    margin-top: 7px;
  }

.header>.inner .beta {
  padding-right: 54px;
}
  .header>.inner .beta .header_btns {
    position: fixed;
    width: 108px;
    top: 0;
    right: 54px;
    z-index: 1000;
    margin-bottom: 0;
    padding: 0;
}
.header>.inner .beta .header_btns .header_btn {
  width: 54px;
  position: relative;
  margin-right: 0;
}
.header>.inner .beta .header_btns .header_btn a {
  width: 100%;
  height: 54px;
  font-size: 10px;
  border-radius: 0px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 0;
  border-left: 1px solid hwb(0deg 100% 0% / 25%);
  padding: 0;
  background: var(--main);
}
.header>.inner .beta .header_btns .header_btn a span {
  margin-right: 0px;
  width: 100%;
}
.header>.inner .beta .header_btns .header_btn a .icn img {
  height: 20px;
  margin-right: 0;
  object-fit: contain;
}
ul.header_btns.forpc{
  display: none;
}
/*====================
ããããã¼ã¸
 ====================*/

 ul.three_row li {
	width: 100%;
	margin-right: 0;
	margin-bottom: 2%;
}
ul.two_row li {
	width: 100%;
	margin-right: 0;
	margin-bottom: 2%;
}

ul.sp_two_row li {
	width: 49%;
	margin-right: 2%;
}
ul.sp_two_row li:nth-child(2n){
	margin-right: 0;
}
ul.mypage_progress li{
	width: 100%;
	margin-bottom: 1rem;
	margin-right: 0;
}
table.square_grid tbody tr{
	width: 32%;
	margin-right: 2%;
	margin-bottom: 2%;
}
table.square_grid td:first-child{
	width: 100%;
	height: 80px;
}
table.square_grid tbody tr td:nth-child(3){
	font-size: 10px;
}
table.square_grid tbody tr:nth-child(3n){
	margin-right: 0%;
}

table.square_grid td img {
	height: 80px;
	width: 100%;
}

table.product_list{
	white-space: nowrap;
}

table.product_list.product_items tr th:first-child,
table.product_list.product_items tr td:first-child{
width: 80px;

}

table.product_list.product_items tr td:first-child{
	color: #999;
	line-height: 1.3em;
}

table.product_list.product_items tr th:not(:first-child),
table.product_list.product_items tr td:not(:first-child){
	height: 80px;
	max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table.product_list.product_items img{
	width: 80px;
	height: 80px;
}
table.product_list.product_items th.product_img_box {
	width: 80px;
}
.main_content table th, .card-body table.product_list th,
.main_content table th, .card-body table.product_list td{
	display: table-cell;
	border: 1px solid #ddd;
}

table.product_status{
	white-space: nowrap;
}
.main_content table th, .card-body table.product_status th,
.main_content table th, .card-body table.product_status td{
	display: table-cell;
	border: 1px solid #ddd;
}
table.product_list .btn-primary {
  writing-mode: vertical-rl;
}

table.product_form input{
	width: 100%;
}

/*====================
drawer
 ====================*/
 .inner.contents_menu {
  width: 100%;
}
  .drawer {
    position: fixed;
    right: -312px;
    top: 0;
    width: 270px;
    height: 100%;
    xoverflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 10000;
    background-color: #333;
    transition: all 0.4s ease-out;
}

.drawer .inner .menu_small a {
  padding: 1rem;
}
.drawer ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.overlay {

}
.menu_open .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  transition: all 0.4s ease;
}
  .menu_open .drawer {
    right: 0;
    display: block;
}
.drawer .inner ul {
  display: flex;
  flex-wrap: wrap;
}
.drawer .inner .menu_small {
  flex-basis: 100%;
  line-height: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.drawer .inner .menu_small:before {
  content: "";
  display: block;
  position: absolute;
  font-family: "Font Awesome 5 Free";
}
.drawer .inner .menu_small a {
  padding: 0.75rem;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}
.drawer_name_menu_sub {
  padding: 10px 10px 20px 10px;
  padding-left: 20px;
  background: #000;
  justify-content: space-between;
}
/*====================
side_column
 ====================*/
 .side_column {
  width: 100%;
}
/*====================
ã±ããã
 ====================*/

  .breadcrumbs ul {
    padding: 0 1rem;
  }
  .breadcrumbs ul {
    width: 90%
  }
/*====================
search
 ====================*/
 .search_box.forpc{
  display: none;
 }
 .search_box.forsp{
  display: flex;
 }
 section.top_search {
  padding-top: 20px;
  margin-bottom: 20px;
}
section.top_search form.search_box{
  width: 90%;
  margin: 0 auto;
}
/*====================
main_container
 ====================*/
 .main_container{
  background: #fff;
 }
.main_container .inner{
  display: flex;
  flex-flow: column-reverse;
}

.main_content {
width: 100%;
xmargin-bottom: 2rem;
padding: 0;
}
.container {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 40px;
}
.main_content table th,
.card-body table th{
display: block;
width: 100%;
border: 0;
}

.main_content table tr:not(:first-child) th,
.card-body table tr:not(:first-child) th {
  border-top: 1px solid #ddd;
}
.main_content table td,
.card-body table td {
  display: block;
  width: 100%;
  border: 0;
}
img.product_image {
	max-width: 100%;
}
.row_img_box {
	margin-bottom: 2rem;
}
.row_txt_box {
	padding-left: 0;
}
ul.progress_list li  dl{
	border-bottom: none;
}

ul.progress_list li dl dt {
	height: 60px;
}
ul.progress_list li:last-child  dl{
	border-bottom: 1px solid #ddd;
}

ul.progress_list li::after {
	content: "â¼";
	bottom: -8px;
	left: 17%;
	transform: translate(-50%,0);
	color: #fff;
	z-index: 1;
	font-size: 10px;
}
ul.progress_list li:last-child::after{
	content: "";
}
/*====================
å¯©æ»ã¡ãã
 ====================*/
 ul.examination li {
	width: 100%;
}
/*====================
column
 ====================*/
 .col-01,
 .col-02,
 .col-03,
 .col-04,
 .col-05,
 .col-06,
 .col-07,
 .col-08,
 .col-09,
 .col-10,
 .col-11,
 .col-12{
	width: 100%;
	max-width: initial;
}
/*====================
footer
 ====================*/
  .footer_bottom {
    align-items: center;
    flex-direction: column;
}
.footer_logo_box {
  margin-bottom: 0.5rem;
}
.footer_menu{
  flex-flow: column;
}
.footer_menu .footer_menu_items{
margin-bottom: 2rem;
}
.footer_menu ul{
  flex-flow: column;
  margin-bottom: 0;
}
.footer_menu ul li {
  border-left: none;
  border-bottom: 1px solid rgb(255 255 255 / 50%);
  padding: 0.5rem 0;
}
.footer_sns {
  margin-bottom: 2rem;
}
footer {
  padding-bottom: 1rem;
}
.footer_bottom .footer_logo{
  align-items: center;
  flex-flow: column-reverse;
}
}
