
.xy{height:auto;width:100%;overflow:hidden; box-sizing:border-box;padding:0 10px 10px 0; background: #FFE6FF;}
.xy ul{padding-bottom: 1rem; overflow: hidden;}
.xy ul li{float: left; width: 25%; padding: .5rem 0rem; text-align: center;}
.xy ul li div img{max-width: 120px; max-height: 120px; min-width: 50px; min-height: 50px; width: 5rem; height: 5rem; border-radius: 1rem;}
.xy ul li p{text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: #333; line-height: 1.6rem; padding-top: .3rem; height: 1.9rem;}
.xy ul li span{display: block; font-size: .8rem; color: #999; height: 1.8rem; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
