

#djckm {
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 9999;
    margin: 0 auto;
}

#djckm-confirm {
    background: url(../images/style1/close_btn.png) right 0 no-repeat;
    display: block;
    padding: 0 32px 0 0;
    text-align: right;
    color: #959393;
    text-decoration: none;
    font-size: 12px;
    line-height: 22px;
}

#djckm-confirm:hover {
    text-decoration: underline;
}


/* System Message */

#djckm.djckm-message .djckm-toolbar {
    display: none;
    float: right;
    font-size: 1em;
    margin: 0 0 1em 1em;
}

/* Top & Bottom */

#djckm.djckm-top,
#djckm.djckm-bottom {
    width: 100%;
    position: relative;
}

#djckm.djckm-top .djckm-wrapper,
#djckm.djckm-bottom .djckm-wrapper {
    background: url(../images/style1/bg.png) 0 0 repeat;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 auto;
}

#djckm.djckm-top .djckm-header,
#djckm.djckm-bottom .djckm-header {
    padding: 0;
    margin: 0;
    line-height: 42px;
    background: url(../images/style1/header-bg.png) 0 0 repeat-x;
    font-weight: normal;
    font-size: 18px;
    color: #959393;
}

#djckm.djckm-top .djckm-header .djckm-header-in,
#djckm.djckm-bottom .djckm-header .djckm-header-in {
    margin: 0 auto;
}
#djckm.djckm-top .djckm-header .djckm-header-in span,
#djckm.djckm-bottom .djckm-header .djckm-header-in span {
    padding: 0 12px;
}

#djckm.djckm-top .djckm-content,
#djckm.djckm-bottom .djckm-content{
}


#djckm.djckm-top .djckm-content .djckm-content-in,
#djckm.djckm-bottom .djckm-content .djckm-content-in {
    margin: 0 auto;
}

#djckm.djckm-top .djckm-content .djckm-content-in .djckm-pad,
#djckm.djckm-bottom .djckm-content .djckm-content-in .djckm-pad {
    margin: 0;
    padding: 12px;
    font-size: 12px;
    color: #adadad;
}

#djckm.djckm-top a,
#djckm.djckm-bottom a {
    color: #959393;
}

#djckm.djckm-top .djckm-toolbar,
#djckm.djckm-bottom .djckm-toolbar {
    padding: 12px 0;
    float: right;
    margin: 0 8px 0 0;
}

