

.fb-promo-cover {
float:left;
width: 25%;
}
.fb-promo-text {
float: left;
width: 70%;
}

.fb-promo-cover {
    margin-right: 20px;
}

.fb-promo-cover img {
    max-width: 212px;
}


.fb-promo-text a {
    text-decoration: underline;
    font-weight: bold;
}
.fb-promo-text strong {
    font-weight: bold;
}

.fb-promo-text {
    font-size: 16px;
}

.fb-promo-inner {
    background: rgba(255,182,193, 0.32);            
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 4px 16px -8px rgba(0,0,0,0.32);
    -moz-box-shadow: 2px 4px 16px -8px rgba(0,0,0,0.32);
    box-shadow: 2px 4px 16px -8px rgba(0,0,0,0.32);
    margin-bottom: 40px;
}

.fb-promo-inner .btn {
    background-color: #CD202C;
    border-color: #CD202C;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
	padding: 10px;
	padding-top: 10px;

}

        @media screen and (max-width: 767px) {


		.fb-promo-text {
			width: 100%;
		}

            .fb-promo-cover {
                text-align: center;
                width: 100%;
            }

            .fb-promo-cover img {
		margin: 0 auto;
		display: block;	
		}

            .fb-promo-cover a {
                margin: 0 auto !important;
                display: block!important;
                padding-bottom: 20px;
            }

            .fb-promo-inner .btn {
                width: 100%;
            }

        }

