
                @media screen and (max-width: 767px) {
                  body.responsive .product-view .wide {background-image: /*savepage-url=https://bizon-tech.com/media/optimized/catalog/product/cache/1/image_xs/9df78eab33525d08d6e5fb8d27136e95/b/a/banner-x5500-mobile_2_1.jpg*/ url() !important; background-size: 100% auto; padding-top: 100%;}
                  body.responsive.webp .product-view .wide {background-image: /*savepage-url=https://bizon-tech.com/media/optimized/catalog/product/cache/1/image_xs/9df78eab33525d08d6e5fb8d27136e95/b/a/banner-x5500-mobile_2_1.jpg.webp*/ url() !important;}
                }
              