
.wsite-background {background-image: url("/uploads/3/8/9/7/38973909/background-images/317798537.png") !important;background-repeat: no-repeat !important;background-position: 50.00% 100.00% !important;background-size: 100% !important;background-color: transparent !important;}
body.wsite-background {background-attachment: fixed !important;}.wsite-background.wsite-custom-background{ background-size: cover !important}
