/**
 * _COMMON STYLES
 *
 */

html {
	font: 				13px/18px Calibri, Arial;
	text-decoration: 	none;
	color:				#333;
}

* {
	margin:				0;
	padding:			0;
	border:				0;
}

body {
	background:			#eff0f2 url("../siteimg/bg.png") top center no-repeat;
}

a {
	color:				#069;
	text-decoration:	none;
	border:				none;
}

a:hover {
	color:				#069;
	text-decoration:	underline;
}

a.more {
	line-height:		25px;
}

a#logo {

}

h1 {
	font: 				24px/30px Calibri, Arial;
	border:				none;
	font-weight:		normal;
	margin-top: 		5px;
	color:				#fff;
}

h3 {
	font: 				11px/29px Trebuchet, "Trebuchet MS";
	font-weight:		bold;
	color:				#333;
	border-bottom:		1px solid #eaeaea;
	letter-spacing:		.5px;
	text-transform: 	uppercase;
	margin-top: 		15px;
}

h1.noline, h3.noline {
	border-bottom:		none;
}

h2 {
	font: 				25px/30px Calibri, Trebuchet, "Trebuchet MS", Arial;
	margin-top: 		5px;
}

ul {
	list-style:			url("../siteimg/bullet.png");
	margin-left:		20px;
	margin-top:			8px;
}

p {
	padding:			8px 0 5px 0;
}

img {
	display: 			block;
}

div#wrapper {
	background:			#fff;
	width:				880px;
	margin:				40px auto;
}

div.extraspace {
	margin-top: 		90px !important;
}

div#content {
	float:				left;
	width:				684px;
	margin-left:		12px;
}

div.contentleft {
	width:				648px;
	margin:				0 12px 20px 12px;
}

div.half {
	width:				312px;
	float: 				left;
}

div.clear {
	clear:				both;
}

div#sidebar {
	float:				left;
  	width: 				160px;
  	margin-left:		24px;
}

div#sidebar div#lang {
	height:				70px;
}

div#sidebar div#lang a {
	margin-top:			11px;
	float:				right;
	margin-left:		5px;
}

div#sidebar div#lang a.de {
	background:			url("../siteimg/flag_de.png") top right no-repeat;
}

div#sidebar div#lang a.nl {
	background:			url("../siteimg/flag_nl.png") top right no-repeat;
}

div#sidebar div#lang a.en {
	background:			url("../siteimg/flag_eng.png") top right no-repeat;
}

div#sidebar div#lang a.selected {
	background-position: top left;
}

div#help {
	margin-top:			34px;
	margin-bottom:		20px;
}

div#help ul {
	margin-left:		0;
	margin-top:			0;
	padding-bottom:		5px;
	list-style:			none;
}

div#help ul li a.chat {
	background:			url("../siteimg/icon_chat.png") center left no-repeat;
}

div#help ul li a.email {
	background:			url("../siteimg/icon_email.png") center left no-repeat;
}

div#help ul li a.phone_de {
	background:			url("../siteimg/icon_phone_de.png") center left no-repeat;
}

div#help ul li a.phone_nl {
	background:			url("../siteimg/icon_phone_nl.png") center left no-repeat;
}

div#help ul li a.phone_us {
	background:			url("../siteimg/icon_phone_us.png") center left no-repeat;
}

div#help ul li a.skype {
	background:			url("../siteimg/icon_skype.png") center left no-repeat;
}

div#help ul li a.ssc {
	background:			url("../siteimg/icon_ssc.png") center left no-repeat;
}

div#help ul li a {
	display: 			block;
	font-weight:		bold;
	color:				#9399a6;
	line-height:		34px;
	border-bottom:		1px solid #eaeaea;
	padding-left:		35px;
}

div#help ul li a:hover {
	background-position:center right;
	color:				#333;
	text-decoration:	none;
}

ul.gridlist {
	margin: 0;
	padding: 0;
}

ul.gridlist li {
	margin: 0;
	padding: 7px 0;
	width: 50%;
	float: left;
	list-style: none;
}


/**
 * _NAVIGATION + HEADER
 *
 */

div#mainnav {
	background:			#27334c;
	color:				#fff;
	padding:			45px 24px 20px 24px;
	margin-left:		12px;
}

div#mainnav a {
	color:				#fff;
	text-decoration:	underline;
}


/**
 * _FORMS
 *
 */

form {
	margin:				0;
	padding:			0;
}

fieldset {
	clear:				left;
	padding:			0 0 12px 0;
	margin:				0;
}

fieldset.checkbox {
	width:				390px;
	padding:			0 0 10px 207px;
}

fieldset.big {
	width:				390px;
}

fieldset.formtop {
	padding-top:		10px;
}

label {
	width:				207px;
	font: 				13px/18px Calibri, Arial;
	padding-top:		3px;
	clear:				left;
	font-weight:		bold;
	float:				left;
	margin-top:			10px;
}

fieldset.checkbox label {
	clear:				none;
	float:				none;
	margin:				0;
	padding-left:		5px;
	line-height:		20px;
	font-weight:		normal;
}

fieldset.checkbox span.legend {
	font-weight:		bold;
	width:				183px;
	position:			absolute;
	left:				24px;
	margin-top:			2px;
}

fieldset.checkbox input {
	margin-right: 		5px;
	position:			relative;
	top: 				2px;
}

fieldset.checkbox span.extrainfo {
	display:			block;
	padding-top:		10px;
	font: 				11px/18px Calibri, Arial, Sans-Serif;
}

input.text, textarea {
	width:				171px;
	float:				left;
	font: 				13px/15px Calibri, Arial, Sans-Serif;
	color: 				#333;
	background: 		#fff;
	border-top: 		1px solid #9399a6;
	border-left: 		1px solid #9399a6;
	border-right: 		1px solid #c9ccd2;
	border-bottom: 		1px solid #c9ccd2;
	margin-top:			10px;
	padding: 			3px 5px;
}

input.submit,
input.button,
a.button {
	width:				98px;
	height:				25px;
	font: 				10px/15px Trebuchet, "Trebuchet MS";
	color:				#fff;
	font-weight:		bold;
	text-transform:		uppercase;
	background: 		#f80;
	border-top: 		1px solid #fc6;
	border-left: 		1px solid #fc6;
	border-right: 		1px solid #c60;
	border-bottom: 		1px solid #c60;
	letter-spacing:		.5px;
	margin-left:		207px;
	cursor:				pointer;
}

a.button {
	width:				96px;
	height:				15px;
	padding:			5px 0 4px 0;
	text-align:			center;
	margin-top:			5px;
	margin-left:		0;
	display:			block;
}

a.button:hover {
	text-decoration:	none;
	color:				#fff;
}

input.button {
	margin-top:			5px;
	margin-left:		0;
}

input.small {
	width:				98px;
}

span.label {
	width:				207px;
	font: 				13px/20px Calibri, Arial;
	clear:				left;
	font-weight:		bold;
	float:				left;
}

span.error {
	width:				183px;
	color:				#c00;
	font: 				13px/18px Calibri, Arial;
	padding-top:		3px;
	font-weight:		bold;
	display:			block;
	float:				left;
	margin-left:		24px;
	margin-top:			10px;
}

form#availability input.checkbox {
	margin-right:		10px;
	position:			relative;
	top:				1px;
}

form#availability label {
	position:			relative;
	top:				-1px;
	float:				none;
	clear:				none;
	font-weight:		normal;
}

/**
 * _FOOTER
 *
 */
 
div#footer {
	border-top:			1px solid #eaeaea;	
	clear:				both;
	height:				74px;
}

div#footer ul {
	margin-left:		0;
	list-style:			none;
}

div#footer ul li {
	float:				left;
	margin-left:		24px;
}

div#footer ul li a {
	text-decoration:	none;
	display:			block;
	line-height:		22px;
}

div#footer ul li a:hover {
	text-decoration:	underline;
}

div#footer ul li.header {
	font: 				10px/18px Trebuchet, "Trebuchet MS";
	font-weight:		bold;
	color:				#333;
	text-transform: 	uppercase;
	text-decoration:	none;
	letter-spacing:		.5px;
}

div#footer ul li a.rss {
	padding-left:		25px;
	background:			url("../siteimg/icon_rss.png") top left no-repeat;
}

div#footer ul li a.twitter {
	padding-left:		25px;
	background:			url("../siteimg/icon_twitter.png") top left no-repeat;
}

div#footer ul li ul li {
	clear:				left;
	margin-left:		0;
}