.transition-feature + .transition-feature {
  margin-top: -10em;
}

.transition-feature.has-border.has-border_top {
  filter: drop-shadow(0 -2px 0 #ff4d00);
}

.transition-feature.has-border.has-border_bottom {
  filter: drop-shadow(0 2px 0 #ff4d00);
}

.transition-feature.merge-section_top {
  margin-top: -9.9em;
}

.transition-feature.merge-section_bottom {
  margin-bottom: -9.9em;
}

.transition-feature .top-slant_left.bg-grid {
  background-position: -34px 356px;
}

.transition-feature .bottom-slant_left.bg-grid {
  background-position: -70px 295px;
}

.top-footer .btn-expand {
  display: none;
}

.footer-links-title {
  display: block;
}

.top-footer > div:nth-last-child(2) .footer-links-title {
  padding-bottom: 0;
}

p:empty {
  display: none;
}

.contact-form-wrap > p:last-child {
  display: none;
}

.hiring-process-list li:not(:last-child):after {
  height: 90px;
}

.nav-dropdown-content._col-1 {
  grid-template-columns: 1fr;
}

.nav-dropdown-content._col-2 {
  grid-template-columns: 1fr 1fr;
}

.customised-solution,
.ready-to-take {
  position: relative;
  padding: 200px 0;
}

.ready-to-take {
  z-index: 2;
}

.ready-take-img-wrap.bottom {
  bottom: -130px;
}

.ready-take-img-wrap.top {
  top: -25px;
}

.ready-take-img-wrap.top-overlay {
  top: -100%;
}

.ready-take-img-wrap.bottom-overlay {
  bottom: -250px;
}

.customised-solution:before,
.ready-to-take:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  clip-path: polygon(0 100%, 0 0, 100% 20%, 100% 80%);
  background-size: cover !important;
}

.customised-solution:before {
  clip-path: polygon(0 80%, 0 20%, 100% 0, 100% 100%);
}

.team-list {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1107px) {
  .transition-feature .bottom-slant_left.bg-grid {
    background-position: -70px 270px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ready-take-img-wrap {
    max-width: 100%;
    bottom: 0;
  }

  .ready-take-img-wrap.top-overlay {
    position: absolute;
  }
}

@media (max-width: 1043px) {
  .transition-feature .bottom-slant_left.bg-grid {
    background-position: -70px 221px;
  }

  .team-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ready-to-take .git-content {
    padding-top: 100px;
  }
}

@media (max-width: 992px) {
  .transition-feature .bottom-slant_left.bg-grid {
    background-position: -65px 428px;
  }

  .customised-solution:before,
  .ready-to-take:before {
    clip-path: polygon(0 100%, 0 0, 100% 70px, 100% calc(100% - 70px));
  }
  .customised-solution,
  .ready-to-take {
    position: relative;
    padding: 70px 0;
  }
}

@media (max-width: 769px) {
  .transition-feature .bottom-slant_left.bg-grid {
    background-position: -70px 118px;
  }

  .search-box .search-input {
    width: 100%;
    padding: 0;
  }

  .team-list {
    grid-template-columns: 1fr 1fr;
  }

  .ready-take-img-wrap.top-overlay {
    position: absolute;
    bottom: 70%;
    top: auto;
    max-width: 100vw;
    width: 100vw;
    overflow: hidden;
  }
  .ready-take-img-wrap.bottom {
    bottom: -50px;
  }
}

@media (max-width: 426px) {
  .transition-feature .bottom-slant_left.bg-grid {
    background-position: -70px 70px;
  }
}

@media (max-width: 376px) {
  .transition-feature .bottom-slant_left.bg-grid {
    background-position: -70px 88px;
  }

  .team-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 575.98px) {
  .transition-feature.merge-section_top {
    margin-top: -4.99em;
  }

  .transition-feature.merge-section_bottom {
    margin-bottom: -4.99em;
  }

  .affiliate-links-wrap .btn-expand {
    display: inline-block;
  }

  .affiliate-links-wrap .footer-links li:not(:first-child) {
    display: none;
  }

  .affiliate-links-wrap .footer-links {
    display: block;
    padding-bottom: 1rem;
  }

  .affiliate-links-wrap .footer-links-title {
    padding: 0;
  }

  .counter-2,
  .counter-4 {
    margin-left: auto !important;
  }

  .counter-1,
  .counter-3 {
    margin-right: auto !important;
  }
  .transition-feature .top-slant_left.bg-grid {
    background-position: -54px 362px;
  }
}

@media screen and (min-width: 980px) {
  .mw-md-530 {
    max-width: 530px;
  }
}
