
        
        #login-container {
            background-color: #FFFFFF;
        }
        

        
        #login-container {
            color: #8C8A8A !important;
        }
        

            
            .login-button {
                background-color: #F43044;
            }
            

            
            .login-button {
                border-color: #FFFFFF;
            }
            

            
            .login-button {
                color: #FFFFFF;
            }
            .login-button:hover {
                color: #FFFFFF;
            }
            

            
            #login-container a {
                color: #2899DE;
            }
            .login-link-idioma {
                color: #2899DE !important;
            }
            
