
.prod_list .prod_box.hover_1 .prod_box_pic{ border-color:#5BAA60;}
.prod_list .prod_box.hover_1 .prod_box_info{ background:#5BAA60;}
.prod_list .prod_box .prod_box_view{ background:#5BAA60;}
.prod_list .prod_box.hover_1 .prod_box_view{ border-top:1px solid #fff;}
.prod_list .prod_box .prod_box_button{ border-top:1px #fff solid;}
.prod_list .prod_box .prod_box_button>div{ border-right:1px solid #fff;}
