
			body {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 14px;
				color: #000;
				background-color: #e7e7e7;
				background-position: 0px 60px;
				background-repeat:repeat-x;
				margin: 0;
				padding: 0;
				text-align: left;
				line-height: 25px;
			}
			a {
				color: #001677;
				text-decoration: underline;
			}
			a:hover {
				text-decoration: none;
			}
			#footer {
				margin:auto;
				padding-top: 5px;
				padding-bottom: 10px;
				max-width: 700px;
			}
			#footer div.footerBox {
				width:33%;
				float:left;
				margin-top:10px;
				margin-bottom:10px;
				text-align: center;
			}
			@media only screen and (max-width: 870px) {
				#footer div.footerBox {
					width:100%;
				}
			}
			.bold { font-weight: bold; }
		