
        @font-face {
            font-family: Helvetica, sans-serif;
            src: url(images/Helvetica-Font/Helvetica.ttf);
        }

        *,
        body,
        p,
        span,
        a,
        div,
        tr,
        td,
        th,
        h1,
        h2 {
            font-family: Helvetica;
        }
    