
			li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-397{
	background: white;
	margin-left: 5px;
	padding: 0px 25px;
}

li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-397 a {
	color: #0c2461 !important;
	font-weight: 700;
}

.elementor-grid-0 .elementor-grid .elementor-grid-item {
    display: inline-block;
    margin-bottom: var(--grid-row-gap);
    word-break: break-word;
    margin: 2px;
}		